[2022-09-12 11:42] uyanushka commented on #7235
@grendello
Thanks for your reply. I have tried that, the problem is still reproduced.

[2022-09-12 14:52] jonpryor commented on #4666
Fixed by https://github.com/xamarin/xamarin-android/pull/5243

[2022-09-12 14:52] #4666 closed

[2022-09-12 15:19] jonathanpeppers commented on #7318
The OP had a time of:

![image](https://user-images.githubusercontent.com/840039/189691812-39cd783e-65d8-44d5-9cfe-0580393c1af4.png)

I tried a similar test on my laptop, and I got:

<img width="191" alt="image" src="https://user-images.githubusercontent.com/840039/189692008-882d0ad2-0b2e-4fa4-b02b-6f1c91b158ef.png">

So there might be a performance issue when using Windows 11 + Hyper-V emulator +

[2022-09-12 15:28] jonathanpeppers commented on #7318
[logs.zip](https://github.com/xamarin/xamarin-android/files/9549475/logs.zip)

[2022-09-12 15:44] jonathanpeppers commented on #7318
A couple things I tried...

## Power mode

I was on the "balanced" power plan before, this one gets slightly better numbers:

<img width="784" alt="image" src="https://user-images.githubusercontent.com/840039/189696501-56bc79a8-07a2-4011-9d30-af8c340dbe2c.png">

<img width="173" alt="image" src="https://user-images.githubusercontent.com/840039/189696303-719d17b0-c564-4a0b-8d93-29f41eaa06f0.png">

[2022-09-12 17:13] #7231 closed

[2022-09-12 17:13] #7315 closed

[2022-09-12 17:19] jpobst commented on #2639
With us no longer shipping OpenTK in .NET 6+, this probably isn't worth fixing for remainder of classic's lifespan.

[2022-09-12 17:19] #2639 closed

[2022-09-12 20:22] jonpryor commented on #5352
It looks like `gradlew -I INIT-SCRIPT` can be specified multiple times: https://github.com/gradle/gradle/blob/edb2cc76c1d398633843303a42ad683db0fe8393/subprojects/core/src/main/java/org/gradle/initialization/StartParameterBuildOptions.java#L238-L251

Consequently, it should be possible to distribute [a `.gradle` file](https://raw.githubusercontent.com/Redth/Xamarin.Binding.Helpers/main/Xamarin.Bin

[2022-09-12 20:26] jonathanpeppers opened #7368 "`<FastDeploy/>` seems to reinstall `.apk` during incremental deploy"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

I found this while looking into https://github.com/xamarin/xamarin-android/issues/7318 (initial deploy), which should be unrelated.

I noticed incremental deploys of a `dotnet new maui` app always seem to print:

[code]
My code change was a `Console.WriteLine()` statement.

[2022-09-12 20:53] dellis1972 commented on #7368
@jonathanpeppers do you have the build log for the previous build? What I suspect is happening is something in the previous build is triggering the full packaging. The log attached is for the Install target.

that said it does have a hint to the problem.

[code]

That means the csproj was modified which will trigger a full rebuild of everything. So the question is why is the csproj changing?

[2022-09-12 21:20] jonathanpeppers commented on #7368
It is now ~4:10PM, but both files seem to be old:
[code]
I think they are *both* old, but the `.csproj` file happens be newer than `res.flag`.

[2022-09-12 21:24] jonathanpeppers commented on #7368
If I delete bin/obj, and try again this message changes:
[code]
But then it still does this when I only made a C# change:
[code]

[2022-09-12 22:54] mstefarov commented on #7182
I think I might be running into the same issue, with VS 17.3.3.  Trying to debug in an emulator and seeing this in "Xamarin Diagnostics" output:

[code]

And this in "Debug" output:
[code]

For me, enabling "Fast deploy" did not fix the issue though.

[2022-09-13 09:25] grendello commented on #7235
@uyanushka with **exactly** the same error message?

[2022-09-13 14:08] jpobst commented on #5821
Ultimately, all Xamarin.Android does is provide generated wrappers that allow you to call Google’s Android API. We do not have much expertise in how to use those API’s properly.

You will likely need to use the Android API documentation and relevant forums to determine how to write code for your desired outcome.

[2022-09-13 14:08] #5821 closed

[2022-09-13 14:22] jpobst commented on #5347
If you want to access the array in C# code, yes, you will need to allocate memory in C# and copy the array there.  If there were an `array()` method binding it would do exactly this for you, but it would still allocate the memory in C# and copy.

Note that it's actually worse than that.  If you then want the `ByteBuffer` to have the changes you made in C# you will need to copy your changes back to

[2022-09-13 14:43] jpobst commented on #5393
The "reflection mode" of `System.Text.Json` is documented as not being linker-safe:
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-source-generation-modes?pivots=dotnet-6-0

If using Android for .NET 6+, you can try the source generator version.

If not, you will need to mess with Xamarin.Android linker settings to preserve the needed constructors:
https://docs.mic

[2022-09-13 14:43] #5393 closed

[2022-09-13 14:48] uyanushka commented on #7235
This is the result of execution of `make package-deb CONFIGURATION=Release` only after changing the rules file:
![image](https://user-images.githubusercontent.com/53050828/189932623-e8bb76ea-aeee-4f5e-b917-78f222803a6e.png)

I've tried also to rebuild it, but i have some errors. Attaching binlog in case it may help
[msbuild-20220913T135521-Mono.Android.binlog.txt](https://github.com/xamarin/xamari

[2022-09-13 14:59] jpobst commented on #4449
Looks like this was fixed in https://github.com/xamarin/xamarin-android/pull/5310.

[2022-09-13 14:59] #4449 closed

[2022-09-13 15:01] #6787 closed

[2022-09-13 15:15] #3324 closed

[2022-09-13 15:53] jpobst commented on #4968
CoreRT is (was?) an option for the CoreCLR.  At this time, there are no plans to migrate Xamarin to CoreCLR instead of MonoVM.

The Mono team continues to invest in both their AOT and support for LLVM AOT, and has seen significant improvement over the past few years.

[2022-09-13 15:53] #4968 closed

[2022-09-13 16:39] #7194 closed

[2022-09-13 16:42] andreinitescu commented on #5347
@jpobst Thanks. But what if the ByteBuffer was directly allocated? (`ByteBuffer.directAllocate()`) I was hoping that the combination of direct memory + being able to access that memory by the `array()` would have avoided any allocation and copying.

[2022-09-13 16:58] jpobst commented on #5347
No, there is no way for the .NET runtime to directly access memory owned by the Java runtime.

A few other options that may or may not help:
- If you are starting from a finished C# `byte[]`, you can call `ByteBuffer.Wrap (byte[])` which will only copy the array once (when it copies it to the initial `ByteBuffer`).  Note that after the initial copy, modifying it on the C# side will have no effect

[2022-09-13 18:04] #7097 closed

[2022-09-13 18:05] #6920 closed

[2022-09-13 18:31] andreinitescu commented on #5347
Thanks again. I was looking for a way to serialize some an array of some data (integer and strings) and send the bytes from .NET to Java where it's deserialized in the fastest way possible through some kind of ByteBuffer. It does not have to be pretty at all, speed is the most important.

[2022-09-13 18:56] jpobst opened #7369 "Investigate and document slim bindings"
Context: https://github.com/Redth/Xamarin.Binding.Helpers#slim-binding-approach

With the expanded support for `<AndroidJavaSource>` for bindings projects introduced in .NET 7: https://github.com/xamarin/xamarin-android/pull/5926, it should be "trivial" to create an approach to slim bindings we can point users at.

## What is a slim binding?

Imagine you have a large and complex `.jar`/`.aar` that

[2022-09-13 19:44] MagicAndre1981 commented on #4528
here is also a similar thing:

**IKVM.Maven.Sdk - IKVM support for Maven dependencies**
https://github.com/ikvm-revived/ikvm-maven#ikvmmavensdk---ikvm-support-for-maven-dependencies

[2022-09-13 20:23] jpobst commented on #5352
I've been giving this some thought recently, and maybe we should do less _automatically_ for the user (since that's where the dragons live), and focus first on helping the user ensure they are creating correct bindings.

Let's take an example: Square's `okhttp3` version `4.10.0` available in [Maven](https://mvnrepository.com/artifact/com.squareup.okhttp3/okhttp/4.10.0).

## Target Package

For the

[2022-09-13 20:56] jpobst commented on #4528
Interesting IKVM link.  This is what I'm currently considering: https://github.com/xamarin/xamarin-android/issues/5352#issuecomment-1245917390.

[2022-09-14 00:56] larsduewel commented on #4291
Well this ticket should not be closed. I run into the same problem when trying to **deploy** an Android application in **release** to an **Android 13 emulator with API 33**.

The application starts, hangs when the splashscreen appears and crashed with a totally random exception as shown below.
**Is there any workaround** for that bug besides disabling LLVM?

**Stacktrace:**

`    android.runtime.J

[2022-09-14 01:02] jpobst commented on #6243
Sounds like this was fixed in https://github.com/dotnet/runtime/pull/58720.

[2022-09-14 01:02] #6243 closed

[2022-09-14 01:03] jpobst commented on #6244
Sounds like this is an issue in `dotnet/runtime`.  Unfortunately we cannot move issues across orgs.  If this is still an issue, please file it in https://github.com/dotnet/runtime.

[2022-09-14 01:03] #6244 closed

[2022-09-14 01:17] jpobst commented on #6479
Appears to be a duplicate of https://github.com/xamarin/xamarin-android/issues/6342.

Keeping that one because it has discussion on it.

[2022-09-14 01:17] #6479 closed

[2022-09-14 01:21] jpobst commented on #5916
This issue likely occurs in the Visual Studio integration, which is owned by a different team who does not use GitHub for issue tracking.

Please use the [tools available inside of VS](https://developercommunity.visualstudio.com/home) to report this issue.  This allows the issue to be routed to the correct team, and provides them the correct logs they need to diagnose it.

Thanks!

[2022-09-14 01:21] #5916 closed

[2022-09-14 01:22] #5752 closed

[2022-09-14 08:44] grendello commented on #6359
Since this issue is nearly a year old, please rescan the libraries and note that `libxamarin-app.so` does **not** contain any executable code, thus no PIC nor stack canary markers will be found there.

Regarding the `libmono*` libraries, if they still don't use RERLO (they should now), this issue needs to be reported with https://github.com/mono/mono/

[2022-09-14 16:15] jonathanpeppers commented on #4291
@larsduewel I think this issue is specifically about using Xamarin.Android, app bundles, and a Chromebook. To keep this open, I think we need to know if the problem still happens with a .NET 6 project.

Can you file a new issue for your case? It seems unrelated? It might be something specific to LLVM?

[2022-09-14 20:55] dascandy commented on #7336
This is not related to the bug mentioned above. Can you check if the input file is in Unicode normalization form NFC? This is a thing that was proposed for C++ and may have taken impact here.

[2022-09-14 21:19] mdh1418 opened #7375 "Xamarin.AndroidDesigner.Tests failing with The session is not in a state where custom controls can be used"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Windows

### Description

Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6687060&view=logs&j=291cfdd8-b55d-5aec-3c07-abeba850aaac&t=cb584966-c328-5870-08e4-af92574c76b6

[code]

### Steps to Reproduce

Opened a new PR https://github.com/xamarin/xamarin-android/pull/73

[2022-09-14 21:22] mdh1418 opened #7376 "Xamarin.Android.Build.Tests macOS DotNetBuildLibrary(False,True) failed"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

macOS

### Description

Build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6687060&view=logs&j=9ef438c3-3902-5ae3-5fa0-4ba16e024e57&t=f06ff250-959b-5bb0-6d2d-7dce0ffdbd51
[code]

Failed on unrelated PR's (https://github.com/xamarin/xamarin-android/pull/7331) 2nd CI Build

[2022-09-15 09:21] rgroenewoudt opened #7377 "Missing SupportedOSPlatformAttribute for enums"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.3.3

### Description

In .NET 6 Android the enums are missing SupportedOSPlatformAttribute.

Examples:
- Manifest.Permission.PostNotifications:
- Vibrator.VibrationEffectSupportNo
- TelecomManager.ActionPostCall

APILevel is already present in RegisterAttribute.ApiSince.

I would also e

[2022-09-15 10:06] VitalyKnyazev commented on #4291
It is specific to LLVM for x86/x64 CPUs. I solved the problem in Dec last year by building Xamarin.Android.Build.Tasks.dll locally and not using LLVM for those CPUs (as performance there should be better than on phones anyway) but keeping LLVM for ARM CPUs. No user complaints since.

[2022-09-15 14:14] jpobst commented on #7375
Thanks for the effort to file this, but our team does not track test failures with issues.  😁

[2022-09-15 14:14] #7375 closed

[2022-09-15 14:14] jpobst commented on #7376
Thanks for the effort to file this, but our team does not track test failures with issues.  😁

[2022-09-15 14:14] #7376 closed

[2022-09-15 14:51] #7368 closed

[2022-09-15 16:01] #1927 closed

[2022-09-15 19:00] #7302 closed

[2022-09-15 19:42] jeromelaban commented on #7302
@jonathanpeppers I have not seen that issue again recently, knowing the workaround but I'll be on the lookout and try your workaround.

[2022-09-15 20:39] jonathanpeppers commented on #4291
The OP doesn't mention LLVM, but some later comments do.

@VitalyKnyazev if you want to get your issue looked into, can you see if .NET 6 apps hit the same issue? We can probably file a fresh issue in dotnet/runtime, where they would be more likely to investigate.

[2022-09-15 22:49] Alex-Dobrynin commented on #7352
I have the same error, but there is no mention about AOT or LLVM.
this is my device log
[device log.txt](https://github.com/xamarin/xamarin-android/files/9579440/device.log.txt)

This only happens when I build using appcenter. when I build using VS 2022 my app works fine

[2022-09-16 07:55] salgiza commented on #7352
@Alex-Dobrynin Two things that you should check, just in case:

- Does AppCenter use a different build configuration (e.g. you build using Debug and AppCenter using Release)? The EnableLLVM option is usually enabled for Release, but not for Debug.
- Does AppCenter set the EnableLLVM param when compiling? (You can pass the parameter to msbuild to ignore what's in the csproj file). If it wasn't for

[2022-09-16 09:13] Alex-Dobrynin commented on #7352
@salgiza this is my proj settings
![image](https://user-images.githubusercontent.com/23138430/190601917-f66b30ca-dfb9-49a4-92b6-2c608ba5a0d5.png)
VS 2022 17.3.4

appcenter uses the same config but it uses this version of XA
![image](https://user-images.githubusercontent.com/23138430/190602431-92d13ea4-e0cf-4e2c-a4ba-29738b0d44d8.png)

[2022-09-16 09:50] salgiza commented on #7352
@Alex-Dobrynin under "AOT Compilation", uncheck the "Use LLVM Optimizing Compiler" option. If it's the same bug that we've talked about in this thread, that's the option that caused the issue to appear.

[2022-09-16 19:20] jonathanpeppers opened #7388 "Android .NET 7 pack too large"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 7 RC 1

### Description

A VS build-time check hit:
[code]
The .NET 6 version of this pack is ~88188301 bytes.

We should investigate if we can go under this error/warning limit.

### Steps to Reproduce

Look at VS's build log.

### Did you find any workaround?

_No response_

### Relevant lo

[2022-09-16 19:38] grendello opened #7389 "Builds with AOT enabled and linking disabled copy assemblies directly from packs/nugets"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 7.0 preview (XA main)

### Description

When application is built with

[code]

The assemblies used by the AOT compiler as input are copied from their original location (packs, nugets) instead of from the `obj/Release/net7.0-android/assets` directory. An excerpt from the msbuild log:

[code]

[2022-09-16 19:50] Alex-Dobrynin commented on #7352
@salgiza then why built by VS it is working? LLVM is on

[2022-09-18 10:00] JeroenBer commented on #5157
Hi,
I tried the overlay but VS 2022 17.2 LTSC doesn't seem to like it in the project file and also it didn't seem to do any merging for me unfortunately (Xamarin Android 12.3).

[2022-09-19 07:15] salgiza commented on #7352
@Alex-Dobrynin no idea, but it's worth giving it a shot. If it stills fails compiling after you disable that option, though, that would mean that, even though the resulting error is the same, you might have found a different bug.

[2022-09-19 08:58] deyupopp commented on #7008
Any updates on this one? We are currently keeping a pinned version of R8, which works, but doesn't look like the best solution.

[2022-09-19 11:30] XamarinRPMTeam opened #7398 "Is Xamarin support CarPlay app ?"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Xamarin

### Description

Team , This is to ask you about the CarPlay Support in Xamarin . Is Xamarin Support CarPlay? .If yes Could you please get the official documentation on how to do it . We found one and only sample which is music app . Our requirement is to develop a business app which is v

[2022-09-19 12:13] waelwederni4 commented on #7230
Any update Here ?

[2022-09-19 13:39] tipa commented on #7335
@grendello Please let me know if there's anything I can help with for this issue to get resolved. Several of my Android apps are still crashing at a very high rate after migrating them to a .NET6 project - without much that I can do against it. Thanks!

[2022-09-19 13:49] grendello commented on #7335
@tipa I hope next week will bring something new, thanks for your patience!

[2022-09-19 14:42] jonathanpeppers commented on #7178
For .NET 7, we should emit a warning and toggle a set of MSBuild properties that "work".

I moved the milestone back to 7 for this.

[2022-09-19 14:52] jpobst commented on #7398
Are you referring to Apple CarPlay?  If so, I can redirect this to the iOS repository so they can address this.

Or are you referring to Android Auto?

[2022-09-19 17:32] jfichtner commented on #7357
@grendello Would you kindly take a look at [this issue that I created in the mono repo](https://github.com/mono/mono/issues/21545), which is another native crash bug we are experiencing on our system? It may or may not be related to this issue. I posted it under mono because I saw [another issue](https://github.com/mono/mono/issues/12947) over there that basically had the same log output (I can mo

[2022-09-19 17:39] charlesroddie commented on #7336
I can ask my colleague who knows the android build to look at this, but I doubt that normalization is a factor as we know that the following characters are problematic, and their normalizations are all the same:

[code]
Output:
[code]

I also tried ensuring that of our code files (.cs, .csproj, .fs, .fsproj) were UTF-8 with BOM, and also UTF-8 without BOM, and it didn't make a difference. Unsurpri

[2022-09-19 20:22] JRosanowski commented on #7271
It turned out to be some sort of Babel obfuscator issue

[2022-09-19 20:22] #7271 closed

[2022-09-19 20:59] dellis1972 commented on #5157
@JeroenBer can you post the file you tried to use?

Also you might need to enable the `AndroidManifestMerger` property by setting it to `manifestmerger.jar`
[code]
see https://github.com/xamarin/xamarin-android/blob/79be326349d638584321d008e4cf51af3aa97eb9/Documentation/guides/building-apps/build-properties.md#androidmanifestmerger.

[2022-09-20 15:17] AlleSchonWeg commented on #7229
Hi,
we created two binlogs and compare the files. On the machine, which produce the error, the complete "C:\Program Files (x86)\Android\android-sdk\tools" folder was missing. We created a proguard folder and added only the proguard-android.txt. Now it works on both machines. We don't know why the folder was not created.

[2022-09-20 15:17] #7229 closed

[2022-09-20 18:01] djanders77 opened #7400 "Xamarin.Android app fails to run when built on hosted MacOS 12 in Azure DevOps"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

11, 12

### Description

We have a Xamarin app that we build and release via Azure DevOps and App Center. Recently, We started getting this error when building the Android app on MacOS-11:

error XA5104: Could not locate the Android NDK. Please make sure the Android NDK is installed in the Android

[2022-09-21 00:01] #5619 closed

[2022-09-21 00:01] #5383 closed

[2022-09-21 00:01] #5379 closed

[2022-09-21 00:01] #5292 closed

[2022-09-21 00:01] #5217 closed

[2022-09-21 00:01] #5084 closed

[2022-09-21 00:01] #5029 closed

[2022-09-21 00:01] #4988 closed

[2022-09-21 00:01] #4981 closed

[2022-09-21 00:01] #4962 closed

[2022-09-21 00:01] #4895 closed

[2022-09-21 00:01] #4780 closed

[2022-09-21 00:01] #4745 closed

[2022-09-21 00:02] #4508 closed

[2022-09-21 00:02] #4454 closed

[2022-09-21 00:02] #4448 closed

[2022-09-21 00:02] #4337 closed

[2022-09-21 00:02] #4330 closed

[2022-09-21 00:02] #4284 closed

[2022-09-21 00:02] #4281 closed

[2022-09-21 00:02] #4238 closed

[2022-09-21 00:02] #4141 closed

[2022-09-21 00:02] #3961 closed

[2022-09-21 00:02] #3663 closed

[2022-09-21 00:02] #3472 closed

[2022-09-21 00:02] #3385 closed

[2022-09-21 00:02] #3272 closed

[2022-09-21 00:02] #3095 closed

[2022-09-21 00:02] #3075 closed

[2022-09-21 00:02] #3013 closed

[2022-09-21 00:02] #3012 closed

[2022-09-21 00:02] #2907 closed

[2022-09-21 02:01] #6456 closed

[2022-09-21 09:01] #6359 closed

[2022-09-21 20:11] maxkoshevoi commented on #4291
Got `uniqueName must not contain a .` error today when Google Play Console tested the app on virtual x86_64 Pixel 2 with Android 11 (SDK 31) and Android 13 (SDK 33). Virtual x86_64 Pixel 2 with Android 9 (SDK 29) also was tested, and everything worked fine.

This is Xamarin app targeting SDK 30, and was published via app bundle.

Stacktrace is the same as here: https://github.com/xamarin/xamarin-a

[2022-09-22 18:01] #2017 closed

[2022-09-22 18:01] #1994 closed

[2022-09-22 18:01] #1978 closed

[2022-09-22 18:01] #1918 closed

[2022-09-22 18:01] #1913 closed

[2022-09-22 18:01] #1819 closed

[2022-09-22 18:01] #1803 closed

[2022-09-22 18:01] #1740 closed

[2022-09-22 18:01] #1737 closed

[2022-09-22 18:01] #1612 closed

[2022-09-22 18:01] #1484 closed

[2022-09-22 18:01] #1473 closed

[2022-09-22 18:01] #1467 closed

[2022-09-22 18:02] #1466 closed, assigned to nobody

[2022-09-22 18:02] #1461 closed

[2022-09-22 18:02] #3145 closed

[2022-09-23 00:01] #2137 closed

[2022-09-23 00:01] #2077 closed

[2022-09-23 00:01] #2044 closed

[2022-09-23 00:01] #2034 closed

[2022-09-23 00:01] #2026 closed

[2022-09-23 00:01] #1607 closed

[2022-09-23 00:01] #1357 closed

[2022-09-23 13:35] maxkoshevoi commented on #4291
Did some more investigation.

- Here's the app: https://github.com/maxkoshevoi/NureTimetable/tree/b7b84343d2cf5418f4997348339362ad620329af
- If you run it in Release mode on x86 phone emulator - it will crash on startup
- Disabling LLVM fixes the issue (but it's a workaround)
- Targeting different SDKs doesn't help (tried 31, 32, 33)

[2022-09-23 13:51] jonathanpeppers commented on #4291
@maxkoshevoi if you port this app to .NET 6, do you hit the same issue?

I think we could get more traction on this issue in .NET 6+ -- as I have the runtime team interested in making LLVM the default.

[2022-09-23 19:46] IgorKravchenko10 commented on #7149
Is this fix already in .NET 7?
Because I have updated my MAUI project to .NET 7 but still have this issue.
![image](https://user-images.githubusercontent.com/8657879/192045584-8f709cb1-da1d-439a-bd20-473a4068fa42.png)

[2022-09-26 15:01] #7398 closed

[2022-09-26 18:09] jonathanpeppers opened #7405 "See if we can avoid `XA5207` for design-time builds"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

A design-time build in Visual Studio can hit:
[code]
This is a problem because they only run the auto-sdk installer in VS, when you have the Android target framework selected

Let's just see if we can avoid this target in design-time builds?

### Steps to Reproduce

Open a

[2022-09-26 21:20] massimoappi opened #7407 ""Application has stopped" on starting app after updating from Xamarin.Android.Sdk.12.3.0.3 to Xamarin.Android.Sdk.13.0.0.0"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2022 17.3 Pro, VS2022 17.4 Pro Preview

### Description

Hello to all.

After upgraded Visual Studio 2022 from 17.3 to 17.4 (preview) in Win10 22H2 Pro (but VS2022 Pro 17.3 not preview behave in the same way), a working Xamarin.Android project targeting (old) Android 4.2 API 17 Jelly Bea

[2022-09-27 13:30] rgroenewoudt opened #7409 "Missing [Flags] for Android.Nfc.NfcReaderFlags"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022 17.3.4

### Description

The enum `Android.Nfc.NfcReaderFlags` is missing the `FlagsAttribute`.

When using methods like `Android.Nfc.NfcAdapter.EnableReaderMode()` you will get the warning "Bitwise operation on enum is not marked by [Flags] attribute"

### Steps to Reproduce

N/A

### Did

[2022-09-27 17:11] #7178 closed

[2022-09-27 17:14] numlock1052 opened #7413 "xamarin-android building issue on linux tag 13.0.0.0 or 13.1.0.0"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Linux

### Description

I am not sure if you support the Linux platform, but I try to build xamarin-android from a Docker container with Ubuntu 20:04 LTS.

And during the compilation, I receive this error :

`error GADD8F17F: 'constexpr auto xamarin::android::concat_const(const char (&)[Le

[2022-09-27 18:01] #6226 closed

[2022-09-27 18:01] #5961 closed

[2022-09-27 18:01] #5498 closed

[2022-09-27 18:01] #5331 closed

[2022-09-27 18:01] #4144 closed

[2022-09-27 18:01] #3791 closed

[2022-09-27 18:01] #3239 closed

[2022-09-27 18:01] #3202 closed

[2022-09-27 18:01] #3133 closed

[2022-09-27 18:01] #2955 closed

[2022-09-27 18:01] #2572 closed

[2022-09-27 18:01] #2542 closed

[2022-09-27 18:01] #3142 closed

[2022-09-27 18:02] #2313 closed

[2022-09-27 18:02] #2244 closed

[2022-09-27 18:02] #2013 closed

[2022-09-27 18:27] grendello commented on #7413
@numlock1052 The compiler used in the build (GCC 9.0.2) is too old, you need GCC 10. If your docker image has it installed, it's probably enough to export these environment variables before the build:

[code]

[2022-09-27 18:27] #7413 closed

[2022-09-27 18:33] #7409 closed

[2022-09-27 18:45] numlock1052 commented on #7413
Thank you so much  !

[2022-09-27 18:47] jpobst commented on #7409
Thanks for the report!  Should be backported to .NET 7 and classic XA 13.1.

[2022-09-27 18:52] jpobst opened #7416 "Audit `Mono.Android` enums for missing `[Flags]`"
Context: https://github.com/xamarin/xamarin-android/issues/7409

I suspect there are many enums that are intended to be `[Flags]` but are missing the attribute.

It would be nice to write something that looks at the integer values of each enum and gave us a heads-up if the values look "flag-like" but the attribute has not been specified.

[2022-09-27 23:01] julianadormon commented on #7178
Sorry for asking this here, but this is the closest post I could find to what I am facing.

.net Maui Deploy to Android in Release mode produces "module is unusable (GUID of dependent assembly Microsoft.EntityFrameworkCore.Sqlite doesn't match"

I am building a .net Maui Android app. I have no problem deploying my app to an Android emulator or real device when in Debug mode. However if I deploy in

[2022-09-28 02:22] jonathanpeppers commented on #7178
@julianadormon what you are describing here sounds like something is setting either `PublishTrimmed=false` or `AndroidLinkMode=None` for your `Release` build using AOT. The resulting app would also be fairly large if trimming is turned off.

Can you file a new issue with a `.binlog` (https://msbuildlog.com), if that doesn't seem to be the case?

[2022-09-28 03:43] jonathanpeppers commented on #7400
I think we need a log from `adb logcat` to know where the problem is.

Can you set a system property to enable more logging:

    adb shell setprop debug.mono.log default,assembly,mono_log_level=debug,mono_log_mask=all

Then cause the crash, and save the log via `adb logcat -d > log.txt` and share it here. Thanks!

More details here: https://learn.microsoft.com/xamarin/android/deploy-test/debuggin

[2022-09-28 06:01] #6770 closed

[2022-09-28 06:01] #5591 closed

[2022-09-28 06:01] #2046 closed

[2022-09-28 13:09] julianadormon commented on #7178
@jonathanpeppers Thank you, but I don't believe that is the case as the apk package is much smaller than my debug build and I have not changed any publish settings, just using the Maui defaults. I will open an issue. Thanks again!

[2022-09-28 15:38] numlock1052 commented on #7235
Hello, yesterday I opened this issue https://github.com/xamarin/xamarin-android/issues/7413, now I am in the same situation then you describe here.

But I did some test on my Docker container and I found why we have this issue (not sure if it's the right way of course) :

In the release folder for me : `/workspace/xamarin-android/xamarin.android-oss-v13.1.0.0_Linux-x86_64_v13_9b43462bc-Release/` I

[2022-09-28 23:23] #7407 closed

[2022-09-28 23:34] jonpryor opened #7421 "Use PublicApiAnalyzers?"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

All

### Description

Context: https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers/3.3.4-beta1.22403.2
Context: https://github.com/dotnet/roslyn-analyzers/tree/main/src/PublicApiAnalyzers

When we build `src/Mono.Android`, we us

[2022-09-29 11:07] uyanushka commented on #7235
@numlock1052, this helped indeed. Thank you.

[2022-09-29 17:26] hjharvey-MSFT opened #7426 "Android Emulator fails to connect debugger when VPN is running on PC AND on the Emulator via Extended Controls Panel"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.3.4

### Description

Debugger fails to attach to Android Emulator when running and launching form visual studio IF a VPN has been setup VIA the Android Emulator Extended Controls Panel and a VPN is running on the PC.

The following error

[2022-09-29 17:37] grendello commented on #7426
@thaystg would you mind taking a look? It is likely that it's not a runtime issue, but rather a VS one, please reassign if that's the case, thanks!

[2022-09-30 06:10] massimoappi commented on #7407
Thank you @jonpryor for your detailed reply!
Now it's clear to me why I got that behaviour with the same untouched source code.
I will start to plan how to migrate our App to newer (supported) Android device.
Kind regards!

[2022-09-30 08:30] rgroenewoudt opened #7428 "Only first RuntimeIdentifier used in dotnet publish"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022 17.3.4

### Description

I would like to set the runtime identifiers (x86/arm) when using the dotnet publish CLI.

`dotnet publish -c Release -p:RuntimeIdentifiers="android-x86;android-arm" -p:AndroidPackageFormat=apk -o test`
However this doesn't seem to work, only the first runtime identi

[2022-09-30 13:36] jonathanpeppers commented on #7428
@rgroenewoudt do you see some of the same issues with a .NET 6 console app? You can publish with `win-x64` and `win-x86`, for example.

The reason I'm asking, is this might actually be an issue with the .NET SDK/CLI -- and not the Android workload.

[2022-10-01 10:56] rgroenewoudt commented on #7428
I am not sure how to check this as far I know assemblies/exe cannot contain both 32-bit and 64-bit? Isn't Android a bit different that it can contain multiple?

Wat I did is create new .NET 6 console app and ran dotnet publish twice with
`-p:RuntimeIdentifiers="win-x86;win-x64"` and switched the order. I used DotPeek to look at the assembly (project.dll, not exe) and only when win-x64 was first, t

[2022-10-03 12:28] PaulTaro opened #7432 "AppCompatDelegate.SetApplicationLocales() and AppCompatDelegate.GetApplicationLocales() missing"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

MonoAndroid V12

### Description

Android V13 provides new possibilities and API to change the application language. My app must be able to get and set the app language with AppCompatDelegate.GetApplicationLocales and AppCompatDelegate.SetApplicationLocales before base.OnCreate(). Unfortun

[2022-10-03 12:54] dellis1972 commented on #7432
@jpobst I think this one might be in the Mono.Android binding area? Please re-assign if its in the AndroidX Bindings

[2022-10-03 13:23] PaulTaro commented on #7432
I'am using AndroidX.AppCompat.App.AppCompatActivity.Delegate:
![GetApplicationLocales](https://user-images.githubusercontent.com/49974414/193588404-0cfce115-043e-441c-8878-bd5ada64ca26.png)

[2022-10-03 13:23] #7432 closed

[2022-10-03 14:01] jpobst commented on #7432
It looks like this is in AndroidX, so moving the issue there.

[2022-10-03 17:41] dotMorten commented on #2901
FYI similar thing happens on iOS with NSUrlSessionHandler (no error thrown, but it just posts empty content to the server). However SocketsHttpHandler, HttpClientHandler, WebRequestHandler and other .NET ones are not affected and works fine.

[2022-10-03 17:43] nacjacks opened #7433 "Access denied when attempting to build a project"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Rider 2022.2.3, .NET6.0.401

### Description

When attempting to build a project targeting Android I receive the following exception. I have attempted to move the project to different folders and changing the folder permissions to be more open. I haven't found anything online regarding this issue.

[2022-10-04 09:24] dellis1972 commented on #7433
This might happen if a destination file is read only. Check that none of your files are read only, these attributes would be copied over to the intermediate directory files. Although the CopyIfChange does does make any file it copies writable....

I guess the other thing is to check the IDE is not running as admin.
Also check any Anti-Virus you have. You might need to add an exclusion.

[2022-10-04 15:41] n9 opened #7435 "NetworkInterface.GetAllNetworkInterfaces() failed with: System.ArgumentException: An invalid IP address was specified. (Parameter 'address') at System.Net.IPAddress..ctor(ReadOnlySpan`1 address)"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.3.3, Windows 10, Android Emulator, .NET 6.0.400

### Description

Calling to `NetworkInterface.GetAllNetworkInterfaces()` caused the following exception:

[code]

It seems to be caused by "some" current state of network of Android emulator or computer. Previously the same code was worki

[2022-10-04 22:40] gmck opened #7436 "Dynamic Colors not always working"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.4.0 Prev 2.1

### Description

I’m trying to get DynamicColors working with two different test apps. One app, the Tip Time example from Google’s codelab works fine. Another older test app doesn’t so I’m trying to figure out why.

The Xamarin.Android build (debug/release) automat

[2022-10-05 03:53] gmck commented on #7436
I found a workaround.

Evidently, if you are using AndroidX.Core.SplashScreen.SplashScreen.InstallSplashScreen(this) in your MainActivity, it prevents it from working. The second test app already had SplashScreen API installed whereas the TipTime codelab app doesn't.

The workaround requires removing `DynamicColors.ApplyToActivitiesIfAvailable(this)` from the Application class and then adding `Dyn

[2022-10-05 04:01] #7400 closed

[2022-10-05 09:41] dellis1972 commented on #7436
Permissions are auto added to the manifest via two mechanisms.

1. AndroidManifest.xml. If a referenced .aar file contains an AndroidManifest.xml this will be merged into the final Manifest during the build. This allows libraries to auto add permissions etc automatically.
2. Permission Attribute. For managed code and assembly can use the Permission attribute e.g `[Permission("foo")]`, this will ag

[2022-10-05 11:24] gmck commented on #7436
@dellis1972
I think you may be right re the permission. The older app is using 1.8.0.1 and the TipTime app is using 1.9.0. I'll retest in the morning and upgrade the older app and report back. I'll also send both apps. The android TipTime is also using androidx.core:core-ktx:1.9.0. Is it likely that Mel would know/remember what he had to change in going to 1.9.0 is it sort of automatic?

[2022-10-05 14:39] jpobst commented on #6532
With Classic being deprecated, it probably doesn't make sense to invest in this.

[2022-10-05 14:39] #6532 closed

[2022-10-05 18:53] wakeboardfit commented on #6816
I was also getting this error and upgraded to 3.2.9 while switching our app from Xamarin to Maui and moving to 2022.  I no longer receive this error on 3.2.9 in Visual Studio 2022.

[2022-10-05 23:21] gmck commented on #7436
@dellis1972
You were right, upgrading Core fixed the manifest problem - it now does write the two permission lines. However, the splash screen problem remains. I tried upgrading it to 1.0.0.1 but it had no effect.

I think I first need to add SplashScreen to the Android TipTime app to see if it still works as is, before doing anything more in C#.
Unfortunately, I haven't got time today and I'm goi

[2022-10-06 07:07] maiad opened #7438 "Debug NET 6 Android apps at least 10 x Slower !"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

NET 6, Visual studio 2022

### Description

I converted my xamarin application to NET6 and found that it runs at least ten times slower ! I use SkiaSharp.Views for rendering and after the conversion the application is unusable !

It's possible to test it, just spin up two projects, one in old xama

[2022-10-06 08:32] grendello commented on #7438
Hi, what was the device you tested the tight loop on?

[2022-10-06 09:02] grendello commented on #7438
NET6+ apps built in `Debug` mode run with the **interpreter** (they are not JIT-ed), so that hot reload can work. Thus the difference in speed between `Debug` and `Release` in my test above, but as you can see, the `Release` build isn't slow by any means. Could you post numbers you get for old vs. new **Release** builds?

[2022-10-06 09:07] marek-safar commented on #7435
/cc @steveisok

[2022-10-06 09:19] Sergtek opened #7439 "Interface is not generated in the Bindings Generator output code (.JAR Kotlin)"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.3.5

### Description

After updating a .JAR (created by my company) in an Android binding project, I am finding that an interface is no longer generated that in previous versions of the same .JAR if they were generated co

[2022-10-06 09:35] grendello commented on #7435
My guess would be the `dummy0` device passing a null/empty IPv4 address to `System.Net.IPAddress`

[2022-10-06 14:18] jpobst commented on #7439
This part is easy, the new method is using `Function1`:
[code]

And your error message says there was an error trying to find the `Function1` type:
[code]

_Why_ it can't find the type is the tricky part.  `jar2xml` uses Java reflection to access the types, so for some reason Java reflection cannot find the type.

Unfortunately `jar2xml` was deprecated several years before I started, so I am not f

[2022-10-06 14:42] #7439 closed, assigned to jpobst

[2022-10-07 06:06] cyborgyn opened #7441 "xamarin-android compile - "make prepare" fails at OS detection on Gentoo Linux"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

xamarin-android git main, dotnet sdks 6.0.401, 7.0.100-rc.1.22431.12

### Description

git checkout, install prerequisites, make prepare starts, but fails with OS detection:

[code]

### Steps to Reproduce

1.) git clone https://github.com/xamarin/x

[2022-10-07 08:53] visuall opened #7443 "Type is defined is defined multiple times"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022

### Description

Trying to build an Android application with latest package versions fails with this error:
MSBUILD : java.exe error JAVA0000: Type com.google.android.gms.ads.internal.util.zzbe is defined multiple times: obj\Debug\120\lp\133\jl\bin\classes.jar:com/google/android/g

[2022-10-07 08:54] visuall commented on #7443
Here is a list of referenced packages:

<PackageReference Include="AngleSharp">
      <Version>0.17.1</Version>
    </PackageReference>
    <PackageReference Include="Bolts">
      <Version>1.4.0.1</Version>
    </PackageReference>
    <PackageReference Include="Branch-Xamarin-Linking-SDK">
      <Version>8.1.41</Version>
    </PackageReference>
    <PackageReference Include="EmbedIO">
      <Vers

[2022-10-07 09:36] rgroenewoudt opened #7444 "Arm release build crashes on emulator"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022 17.3.4

### Description

Our app is crashing when it's a release arm only build and is deployed on a x86_64 emulator (API 33 emulator).

There are no issues with x86 is included or app is built as debug.

[code]

RuntimeIdentifiers used:
`<RuntimeIdentifiers>android-arm;android-arm64</Runti

[2022-10-07 09:44] rgroenewoudt commented on #7428
Is there an workaround to specifically build an APK with x86 and one without x86?

[2022-10-07 09:59] grendello commented on #7444
@lambdageek can you take a look at this? In **theory** it should be possible since ARM -> x86 translation is there in the emulator, but I'm not sure how Mono JIT/AOT like this combination

[2022-10-07 10:03] grendello commented on #7444
@rgroenewoudt Can you please provide full logcat output after issuing the following commands:

[code]

Please attach both `log.txt` and the ZIP archive created by `bugreport`, thanks!

[2022-10-07 10:46] rgroenewoudt commented on #7444
[log.zip](https://github.com/xamarin/xamarin-android/files/9733225/log.zip)
[bugreport-sdk_gphone64_x86_64-TPB3.220513.017-2022-10-07-12-38-43.zip](https://github.com/xamarin/xamarin-android/files/9733229/bugreport-sdk_gphone64_x86_64-TPB3.220513.017-2022-10-07-12-38-43.zip)

[2022-10-07 14:44] dominik-weber opened #7445 "Inherited internal properties are not returned via reflection on net6.0-android"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.3.5

### Description

`Type.GetRuntimeProperties()`, `Type.GetProperties(..)`, etc. don't return `internal` properties that are defined in a base class of the given type when running on `net6.0-android`. When I run the same code as a `net6.0` console application or a Xamarin.Android app

[2022-10-07 16:22] #7441 closed

[2022-10-07 19:42] rgroenewoudt commented on #7416
There are a lot of missing flag attributes if I take a look in map.csv.

It could be autodetected by parsing the Java class annotations:
For example in the Android source for TextUtils.SAFE_STRING_FLAG_TRIM :
[code]
`flag = true` indicates it's a flag.

More documentation: https://developer.android.com/reference/androidx/annotation/IntDef

[2022-10-08 01:47] yunusefendi52 commented on #7335
I also use custom profile with net 6 and hit similar issue but mine was can't find ctor (or something) but for System.Formats.Asn1, System.Memory and sometimes System.Private.CoreLib, but when I remove the "System" from custom profile the app is not crashing

remove System from custom profile using https://github.com/radekdoulik/aotprofile-tool
[code]
logcat showing like:
[code]

[2022-10-08 19:43] janseris opened #7446 "StartCommandResult is missing documentation for other values than Sticky"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

all

### Description

![image](https://user-images.githubusercontent.com/64279914/194724714-2ad0a851-17be-4892-a01e-d306683cabd2.png)

### Steps to Reproduce

read StartCommandResult documentation

### Did you find any workaround?

no

### Relevant log output

_No response_

[2022-10-10 07:39] vilinet opened #7447 "Xamarin.Android project build fails after upgrading to Visual Studio 17.3.5 (from 17.2.5) due to missing .dll in AOT folder and aapt_rules.txt"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 17.3.5

### Description

Not a single change in our project or CI script, just VS got update to the currently latest one and we experience 2 strange and blocker side-effect during AOT apk build, that can be strangely workaround if we get rid of those packages, but still nothing change o

[2022-10-10 09:19] dellis1972 commented on #7447
Hi, The second error seems to be related to the `AndroidLinkTool` which you are using in your project.
I think the recommendation is to use r8 now for the `AndroidLinkTool` for release builds and `d8` for debug. You might need to delete your bin/obj folders to get a clean build on upgrade. The error suggests that the format of the `aapt_rules.txt` file has changed and the old version is now incomp

[2022-10-10 09:44] vilinet commented on #7447
@dellis1972
I will run it soon with the logging.

Until that, This issue happens in release only anyway and we always build with cleaned/removed bin/obj dirs.

This is the Android.csproj related section:
`    <AndroidManagedSymbols>true</AndroidManagedSymbols>
    <AndroidUseSharedRuntime>false</AndroidUseSharedRuntime>
    <EmbedAssembliesIntoApk>true</EmbedAssembliesIntoApk>
    <AndroidLinkMode

[2022-10-10 10:06] vilinet commented on #7447
Regarding the missing AOT-d dlls, i noticed that the 2 libs we have issues with, Humanizer and PublicHoliday, both uses local-dependent nuget packages.
So i wonder if something changed/broke in msbuild that local resolution in msbuild, so AOT ends up not finding that dll for AOt-ing?

[2022-10-10 11:43] vilinet commented on #7447
I cant really provide the logs as they are kind of private for now, i will try to replicate it with a new project, BUT
I found something strange, i found out why the aapt_rules are failing,
it looks like the aapt_rules.txt file is not getting flushed properly during the generation.
Sometimes the CI has no issue and it just builds that, but most of the time the aapt_rules.txt has some random "garba

[2022-10-10 12:01] kuldeepgupta7 opened #7449 "Changes in files when Build Solution"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2022

### Description

I was trying to Bind Android Library (kotlin) in Xamarin but every time when I Build solution or restart, need to do changes in these files
Com.Sdk.Utils.Validationutils.FixedLengthValidator.cs
Com.Sdk.Utils.Validationutils.MaxLengthValidator.cs
Com.Sdk.Utils.Valid

[2022-10-10 12:21] kuldeepgupta7 opened #7450 "Static functions in Android Library (Kotlin) not accessible from Xamrin"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2022

### Description

I was trying to bind a android library (kotlin) in Xamarin. Android library bind and project build successfully but I was not able to access all functions of android library in Xamarin some static function is not accessible from Xamarin, I haven't got any proper so

[2022-10-10 12:31] vilinet commented on #7447
I managed to reproduce the AOT dll problem with a sample project that i attached and added to the "Reproduce" section.

[2022-10-10 13:58] jpobst commented on #7449
It is not intended to modify the generated files directly.  The generation is not a one time event, they are generated every time the project is rebuilt, so any changes you make will be overwritten.  You will need to use alternate methods to affect the binding process until it is able to produce bindings that compile.

Generally the process used is referred to as "metadata".  There is documentatio

[2022-10-10 14:52] jpobst commented on #7450
In general, if the binding process does not have enough information to properly bind a type or method it will omit the type/method rather than generate C# that doesn't compile.  When it does this, it writes debug messages to the build log to let you know what it has skipped and why.

However, these messages only show up on a Diagnostic build log, so you will need to enable that and rebuild:
https:

[2022-10-10 14:53] rgroenewoudt commented on #7278
I'm also running into this issue on Android 5 during local development (which uses an self signed certificate)

Network_security_config.xml was only added in Android 7 so there is no workaround for Android 5 & 6.

[2022-10-10 15:00] jonathanpeppers commented on #7428
I think the problem here is the `dotnet` CLI.

To workaround, you can put this in your project file:
[code]

And then pass `-p:No86=true` from the command-line. You can name `No86` whatever you like, and add appropriate logic as needed?

[2022-10-10 15:19] jonathanpeppers commented on #6816
Yes, I believe the problem is now solved if you use:

https://www.nuget.org/packages/Xamarin.UITest/3.2.9

Thanks!

[2022-10-10 15:19] #6816 closed

[2022-10-11 16:11] steveisok commented on #7445
@grendello Should I close this one?

[2022-10-11 16:21] #7445 closed

[2022-10-11 16:57] P3PPP opened #7455 "Missing Manifest.permission.POST_NOTIFICATIONS"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.3.5

### Description

There is no C# definition for [Manifest.permission.POST_NOTIFICATIONS](https://developer.android.com/reference/android/Manifest.permission#POST_NOTIFICATIONS).
(Presumably other values added in API level 33 have the same problem.)

Xamarin.Android SDK   13.

[2022-10-11 21:39] jpobst commented on #7455
It looks like it's there:

![image](https://user-images.githubusercontent.com/179295/195203304-a3daf38e-bc5e-47cf-bb99-378ed44a076e.png)

Are you sure you are targeting `MonoAndroid13.0`?

[2022-10-11 23:00] codeaphex commented on #6924
Just fyi, this also happens on the dotnet pack command.
Clean up didnt work here, but I could fix it by deleting the .vs folder.

[2022-10-12 00:56] P3PPP commented on #7455
@jpobst  Sory, TargetFramework in csproj was not Android 13.
(only AndroidManifest...)

[2022-10-12 00:56] #7455 closed

[2022-10-12 08:19] PavloLukianets commented on #7008
@jonathanpeppers any info when XA 13.1 will be released?

[2022-10-12 11:12] rgroenewoudt commented on #7428
Thanks that works as a workaround. I forgot that conditions can be used in the project file.

[2022-10-12 21:05] alexanderdibenedetto commented on #7008
@jonathanpeppers the 13.0.99.71 version did not fix the issue for me, at least. But the r8.jar from Xamarin Android 12.0 did work with the custom r8 path.

[2022-10-12 21:57] gmck commented on #7436
@dellis1972
I added the SplashScreen to the Android TipTime app and it behaves exactly the same way as the Xamarin app. It only works if you use `DynamicColors.ApplyToActivityIfAvailable(this)` in the MainActivity and remove `DynamicColors.ApplyToActivitiesIfAvailable(this) `from the application class.

Dynamic colors and SplashScreen API certainly appear to work ok with Google's apps but then the

[2022-10-13 08:57] kuldeepgupta7 commented on #7449
What we can do at SDK side to avoid this changes in Xamarin
**Code which give error:-**

using System;
using System.Collections.Generic;
using Android.Runtime;
using Java.Interop;

namespace Com.Paymentus.Sdk.Utils.Validationutils {

	// Metadata.xml XPath class reference: path="/api/package[@name='com.paymentus.sdk.utils.validationutils']/class[@name='NonEmptyValidator']"
	[global::Android.Runtim

[2022-10-13 09:04] kuldeepgupta7 commented on #7449
**What we can do at SDK side to avoid this changes in Xamarin
Code which give error:-**

[code]
**After Changes:-**

[code]

**Can anyone suggest any permanent changes that we can do in SDK side to avoid changes every time in Xamarin C# file**

[2022-10-13 13:59] jpobst commented on #7450
`kotlin.jvm.functions.Function1` is found in the Kotlin Stdlib. Have you added a reference to the `Xamarin.Kotlin.StdLib` NuGet package?

[2022-10-13 14:04] jpobst commented on #7449
Without knowing what the error(s) you are seeing are it's hard to give any specific advice.  The general solution though is you need to use the "metadata" process to influence what the bindings generator process emits:

https://github.com/xamarin/java.interop/wiki/Troubleshooting-Android-Bindings-Issues

This documentation explains _how_ to do that in general, as well as provides guides for how to

[2022-10-13 17:43] jtorvald opened #7463 "error XA0121: Assembly 'Xamarin.Android.Support.v4'"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS Mac 17.3.7 (build 11) .NET 6.0.5 (64-bit)

### Description

I get the errors below in the Azure Build Pipeline. The Xamarin Android project is completely updated to all the latest nuget packages and builds locally in Visual Studio. I've seen these errors a couple of times locally as wel

[2022-10-13 20:59] dellis1972 commented on #7463
This looks related to https://github.com/xamarin/AndroidX/issues/48.
Also the "Support" libraries have been deprecated for a while now, we recommend migrating to "AndroidX" . Also checkout https://learn.microsoft.com/en-us/xamarin/android/platform/androidx#migration-tooling

[2022-10-14 04:13] jpobst commented on #7463
While switching to AndroidX is definitely the correct answer, it also appears the project is using a very old version of `Xamarin.Android.Support.v4`:

[code]

You might be able to fix the issue by using a more recent version:
https://www.nuget.org/packages/Xamarin.Android.Support.v4/28.0.0.3

[2022-10-14 05:09] jtorvald commented on #7463
The project doesn't reference the support package directly. Is there a way to quickly figure out what library is referencing the support package?

[2022-10-14 05:33] MagicAndre1981 commented on #7463
If you use "`PackageReference Include`" go to the `obj` folder of the app, here you see a` project.assets.json` which shows all references and their dependencies. Look which package still uses the old 23.0.1.3.

[2022-10-14 05:49] jtorvald commented on #7463
Thanks @MagicAndre1981  will do

[2022-10-14 07:20] jtorvald commented on #7463
That was it. There was an unused package that had a dependency on an old support.v4 package. I removed the package and it builds successfully now. Thanks for the help
@jpobst @dellis1972 @MagicAndre1981

[2022-10-14 07:20] #7463 closed

[2022-10-15 10:35] Youssef1313 opened #7465 "Generated files (e.g, `Java.Interop.__TypeRegistrations.cs`) should mark themselves as auto-generated"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

MonoAndroid13.0 and net6.0-android

### Description

With a project where CA1812 and CA are enforced as errors, the following is observed:

[code]

1. These files should have `// <auto-generated/>` comment at the top so that Roslyn marks them as aut

[2022-10-16 12:15] nacompllo opened #7466 "Class is not generated in the Bindings Generator output code (.JAR Kotlin)"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.3.6

### Description

I have the following Android bindings projects:

<img width="146" alt="bindings" src="https://user-images.githubusercontent.com/20904914/196029956-09f5046a-1476-4f6e-8453-4f33e3a8f3df.png">

All libr

[2022-10-17 11:13] nacompllo commented on #7466
In the end I managed to solve the problem. The project that I have shared here was a very basic case, but in my real project there are many layers separated from each other, many projects, nugets... the problem I had was that there was a block at runtime that indicates that this class ( ITXZebraManager) was not there and since I didn't see it in the Xamarin Bindings Generator output code I thought

[2022-10-17 11:13] #7466 closed

[2022-10-17 11:38] vyacheslav-volkov opened #7469 "GetProperties\GetProperty do not return non-public members (Reflection)"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Version 17.3.6

### Description

Reflection api (GetProperties\GetProperty) doesn't work correctly for net6.0-android platform. If you try to get non-public members from any class, it will only return members from that class, ignoring the type hierarchy.

### Steps to Reproduce

- Create a new And

[2022-10-17 13:26] jpobst commented on #7469
I think this is being tracked here: https://github.com/dotnet/runtime/issues/76881.

[2022-10-17 13:29] vyacheslav-volkov commented on #7469
Yes, the same issue, I will close the issue.

[2022-10-17 13:29] #7469 closed

[2022-10-17 14:01] #7433 closed

[2022-10-17 14:20] jonathanpeppers commented on #7438
@rgroenewoudt yes, you should be able to put `<UseInterpreter>False</UseInterpreter>` in your project file, but this will obviously prevent C# hot reload from working.

[2022-10-17 14:25] jonathanpeppers commented on #7438
@maiad can you provide your original numbers in a Release build? Or at least turn off interpreter for your measurement, as Xamarin.Android apps would not have an interpreter (no hot reload support).

[2022-10-18 14:31] vilinet commented on #7447
Here is the .binlog for the missing dll problem during AOT:

[MissingDllDuringAOT_Release_AnyCPU_Build_2022-10-18T15_22_45.9764268+01_00.zip](https://github.com/xamarin/xamarin-android/files/9811459/MissingDllDuringAOT_Release_AnyCPU_Build_2022-10-18T15_22_45.9764268%2B01_00.zip)

[2022-10-18 14:34] vilinet commented on #7447
@dellis1972 Hi, could you re-open the ticket please? Sorry for the late .binlog but there it is. Just as an example solution to reproduce the problem.

[2022-10-18 14:45] jpobst commented on #1894
This appears to have been fixed at some point.  Testing on .NET 6:

VSWin Output Pad
[code]

Logcat
[code]

[2022-10-18 14:45] #1894 closed

[2022-10-18 15:13] vilinet commented on #7447
Also here is a video of the AAPT 2 error with a fresh, clean build: https://easyupload.io/1lwixd

It really looks like the aap rules files is not getting flushed properly during generation and the lines getting scrambled

[2022-10-18 19:29] grendello commented on #5047
Revision 8bc7a3e84f95e70fe12790ac31ecd97957771cb2 and others mentioned in its commit message took care of it by generating the native symbols which completely removes the need for dynamic registration.

[2022-10-18 19:29] #5047 closed

[2022-10-18 19:31] grendello commented on #2517
`jnimarshalmethod-gen.exe` was superseded by marshal methods (8bc7a3e84f95e70fe12790ac31ecd97957771cb2 and others)

[2022-10-18 19:31] #2517 closed

[2022-10-18 19:32] grendello commented on #2419
`jnimarshalmethod-gen.exe` was superseded by marshal methods (8bc7a3e84f95e70fe12790ac31ecd97957771cb2 and others)

[2022-10-18 19:32] #2419 closed

[2022-10-18 19:32] grendello commented on #2375
Revision 8bc7a3e84f95e70fe12790ac31ecd97957771cb2 does that as part of the marshal methods implementation.

[2022-10-18 19:32] #2375 closed

[2022-10-18 19:33] grendello commented on #2138
`jnimarshalmethods-gen` was superseded by marshal methods (commit 8bc7a3e84f95e70fe12790ac31ecd97957771cb2 and others)

[2022-10-18 19:33] grendello commented on #2021
`jnimarshalmethods-gen` was superseded by marshal methods (commit 8bc7a3e84f95e70fe12790ac31ecd97957771cb2 and others)

[2022-10-18 19:33] #2021 closed

[2022-10-19 03:25] jpobst commented on #2477
Jenkins is gone now, so I don't think this is relevant anymore.

[2022-10-19 03:25] #2477 closed

[2022-10-19 07:48] demogog commented on #7230
We have actually the same error.
_The formatter threw an exception while trying to deserialize the message_  and _Unexpected end of file. Following elements are not closed: _
We have also tried creating a custom WCF proxy to see if we can somehow workaround the issue, but no luck.

[2022-10-19 07:54] RasmusTangaaLittleBeacon commented on #7230
I have got the same problem when using .net Maui with an WCF service of same type. It works fine on both IOS and Windows application, and i have also tested it in a console application where it works too.
Is it possible that the service has to be upgraded to something like gRPC, CoreWCF or ASP.NET CORE API, or is the problem related to something in android that can be fixed?

[2022-10-19 18:07] LalaBond commented on #7230
Hello, I was working with @adolfo1981 on this issue.  iOS didnt present any issues on emulators, until we tested on a physical device. We also started getting serialization issues.  Decided in the end to move away from WCF and migrated our services to REST

[2022-10-20 01:15] jeromelaban opened #7473 "[net7-rc2] Building an app in Release configuration reports incorrect duplicate types"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

net7.0-rc2

### Description

Building a net6.0-android app in Release configuration causes the following errors:

[code]
then java-related errors:
[code]

### Steps to Reproduce

1. `dotnet new install Uno.ProjectTemplates.Dotnet`
1. `dotnet new unoapp -o testapp`
1. `cd testapp\testapp.Mobile`
1.

[2022-10-20 07:44] Samaun91 commented on #3378
Any news on this topic?

[2022-10-20 09:01] grendello commented on #3378
@Samaun91 alas, no. As stated in the [comment above](https://github.com/xamarin/xamarin-android/issues/3378#issuecomment-523401992), it's nearly impossible to implement support for this, at least with the way Xamarin.Android currently works.  I have one idea we could try, but it would require some serious changes to the product architecture, something I don't think can be done now.

[2022-10-20 13:50] dellis1972 commented on #7473
We probably need to add some additional logic to check for assemblies in the different runtime directories.

[2022-10-20 14:01] jeromelaban commented on #7473
@dellis1972 would you know of a possible workaround for this (even if it means changing the targets files) ?

[2022-10-20 14:15] dellis1972 commented on #7473
@jeromelaban the check is done without the Task GenerateJavaStubs. https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/Tasks/GenerateJavaStubs.cs#L191

The problem is GenerateJavaStubs is getting ALL of the assemblies for each RuntimeIdentifier. So we end up with 4 entires for Uno.UI etc and others.

I guess you could write a target which runs just before the `_Gen

[2022-10-20 14:46] #7450 closed

[2022-10-20 15:50] jonathanpeppers commented on #4291
Thanks @maxkoshevoi, so I think going forward, the suggestion will be "upgrade to .NET 6".

If anyone finds an issue in .NET 6/7/8/etc., we can forward issues appropriately to [dotnet/runtime](https://github.com/dotnet/runtime/issues). We also _should_ have more support there to get them fixed.

Thanks!

[2022-10-20 15:50] #4291 closed

[2022-10-20 17:48] Meekohi commented on #4688
Appears to still be an issue - cert is valid in e.g. Chrome but am getting `Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED` when trying to make a call from a Xamarin app on Android.

I worked around this by creating a custom https handler for the specific domain I was having an issue with (only used in local testing for us):
[code]

[2022-10-20 18:32] jpobst commented on #6686
Related to https://github.com/xamarin/java.interop/pull/1052, we should probably mark these files as "auto-generated".  As a side effect, Roslyn will disable NRT warnings in autogenerated files.

[2022-10-20 19:32] jeromelaban opened #7479 "TypeManager.CreateProxy does not cache constructor reflection"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6 and 7

### Description

The following piece of code is very expensive when manipulating native objects:

https://github.com/xamarin/xamarin-android/blob/91669a4e489104668fdd07382e40cf070aa559ac/src/Mono.Android/Java.Interop/TypeManager.cs#L327-L348

As there is no caching for getting constr

[2022-10-21 10:13] rgroenewoudt opened #7480 "LayoutBindings: 'PreserveAttribute' is obsolete warnings"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022 17.3.6

### Description

We are using a lot of AndroidBoundLayout in our app but this results in 2 warnings per layout file:

[code]

[code]

We would like to get to 0 build warnings :)

### Steps to Reproduce

-

### Did you find any workaround?

_No response_

### Relevant log output

_No

[2022-10-21 14:00] rgroenewoudt commented on #7480
@dellis1972 I don't have any nuget packages Xamarin.Android.Support or any referencing it. Only AndroidX.

Example project. I created a new .NET 6 Android project, changed activity_main.xml to AndroidBoundlayout and added an ID.
[AndroidApp2.zip](https://github.com/xamarin/xamarin-android/files/9839654/AndroidApp2.zip)
[code]

[2022-10-21 14:05] dellis1972 commented on #7480
Ah. Are you using LayoutBindings?

[2022-10-21 14:08] dellis1972 commented on #7480
Ignore that, yes you are :) sorry.

OK, that is where the issue is then.

[2022-10-24 09:25] KhaledGaber commented on #7230
We are also receiving deserialization exceptions with the Responses like OP. It is a show-stopper for us.

[2022-10-24 10:58] bharu2 opened #7488 "Is it must to include androidx.startup.InitializationProvider in your AndroidManifest.xml ?"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2022 17.3.1

### Description

I have been updating my xamarin.androidx nugets.

**Xamarin.AndroidX.Appcompat to 1.4.2.1 version.
Xamarin.Google.Android.Material to 1.6.1.1 version.**
It did installed its dependent packages.
**I havent used these below two packages before in my project. T

[2022-10-24 13:21] jonathanpeppers opened #7489 "Putting `.for` in a package name breaks `javac` compilation"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6 MAUI

### Description

As noticed here: https://github.com/dotnet/maui/issues/10802

With a package name of `com.companyname.play.for.asd.mymaui`, you hit the error:

[code]

### Steps to Reproduce

1. `dotnet new android`
2. Set the `ApplicationId` to contain a `.for.` in it

### Did you f

[2022-10-24 13:30] dellis1972 commented on #7489
my first thought... does this happen in a java android app? Given the Error message I suspect it would.

[2022-10-24 13:34] jonathanpeppers commented on #7489
Ah Android Studio stops you here:

![image](https://user-images.githubusercontent.com/840039/197538361-3745ddab-fb84-4545-8a62-80009dd30c96.png)

[2022-10-24 13:39] jpobst commented on #7489
I happened to look this up last week, and Java does not provide a way to escape a keyword to use as an identifier.  (In C#, you could use `namespace Foo.@for;`.)

I think we have two choices:
- Emit something like `_for` instead, which will actually change the Java namespace/type name.
- Detect the keyword and throw a better error message.

This can happen for both namespaces and type names, so bl

[2022-10-24 14:58] dellis1972 opened #7490 "Add API-33 Emulators to Nightly builds"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

ALL

### Description

Add API-33 Emulators to Nightly builds so we can test on those platforms.

### Steps to Reproduce

None

### Did you find any workaround?

None

### Relevant log output

_No response_

[2022-10-24 18:06] jpobst commented on #7488
Ultimately, all Xamarin.Android does is provide generated wrappers that allow you to call Google’s AndroidX API. We do not have much expertise in how to use those API’s properly.

You will likely need to use the Android API documentation and relevant forums to determine what the requirements are.

[2022-10-25 00:19] gmck commented on #7488
@jpobst
I suggested @bharu2  post his problem here because those lines are automatically added to my merged manifest in the obj folders in my app and all of my test apps.

I've never had to add any of those lines manually to my manifest in those apps, so I can only conclude they are automatically added via the build process by the presence of a particular androidx Nuget.  Therefore I would have th

[2022-10-25 01:55] jpobst commented on #7488
Indeed, there is an `AndroidManifest.xml` inside `androidx.startup.startup-runtime.aar`:

![image](https://user-images.githubusercontent.com/179295/197663775-7494c291-eb7e-4901-a622-46add5d223f9.png)

@dellis1972 Are you familiar with how this works?

[2022-10-25 09:27] dellis1972 commented on #7488
@jpobst manifestmerger should handle adding this automatically. Its default for .net 6+ but not for classic I think.
So adding `<AndroidManifestMerger>manifestmerger.jar</AndroidManifestMerger>` to the csproj should help if they are using classic.

[2022-10-25 11:20] gmck commented on #7488
@dellis1972 , @jpobst

 _Its default for .net 6+ but not for classic I think._

I'm using Classic, never even tried .net 6, and it appears to be the default with Classic as mentioned earlier.

I don't have `<AndroidManifestMerger>manifestmerger.jar</AndroidManifestMerger>` in my csproj.  @bharu2 also states Classic in his post, so why doesn't it work for him?

[2022-10-25 13:55] jpobst commented on #7488
It looks like AndroidX packages will set it for you *if* you haven't already set it to something else:

**Xamarin.AndroidX.Startup.StartupRuntime.targets**

[code]

Perhaps it has already been set in the `.csproj` or by another NuGet package?

[2022-10-25 15:01] #7438 closed

[2022-10-25 16:07] jbowmanp1107 opened #7493 "ListenerImplementors potentially generating incorrect java code?"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.3.6

### Description

I am working on creating an Android binding library using multiple Android Java Library Binding projects.

On Multiple of the bindings projects, everything seems to build as expected, but when I attempt to use these bindings in my .NET Maui project, the build in fa

[2022-10-25 16:09] jonpryor commented on #7489
@jpobst [suggested](https://github.com/xamarin/xamarin-android/issues/7489#issuecomment-1289052714):

I think this is the more "customer friendly" option, as it means customers don't need to "think"/know about "random" Android platform requirements & limitations.  "Why can't I `dotnet new android -n this.project.is.finally.done`?!"

If the developer uses e.g. `[Activity]`, we always hash the names

[2022-10-25 17:01] jpobst commented on #7493
It looks like the `.jar` or `.aar` package that you are binding is not making it into the application build.

- Are you just using the default includes for your `.jar`/`.aar` in the binding project or are you explicitly adding it?
- If explicitly adding it, it should be `<AndroidLibrary>`.
- When referencing the bindings project from the application project, are you using `<ProjectReference>`?

ht

[2022-10-25 17:48] jbowmanp1107 commented on #7493
The .aar are being added as <AndroidLibrary>, and within the MAUI project I am actually just referencing a local .dll, not the project directly. Is there something different that should be done?

![image](https://user-images.githubusercontent.com/24641485/197845548-4fa5f367-6007-4f0c-ae8c-3e147a0cc898.png)

[2022-10-25 18:38] jpobst commented on #7493
In .NET 6+, the `.jar`/`.aar` is no longer embedded in the resulting `.dll`.  It will be sitting beside the `.dll` in the output folder, like:

[code]

If you are using a normal `<Reference>` to the `.dll`, you will need to make sure that whatever folder contains the `.dll` also contains the `.aar`.

[2022-10-25 18:58] jbowmanp1107 commented on #7493
Thank you so much! I created local NuGet packages for all the bindings projects, and that of course brought into .aar files and then I was able to build my MAUI project as expected.

[2022-10-25 19:28] jpobst commented on #7493
Glad you got it working!

Yeah, `<PackageReference>` and `<ProjectReference>` "just work".  It's only an issue when you are using a `<Reference>` to a loose `.dll` that's been moved around on disk.  😁

The change was made to speed up the build process, as we no longer have to scan inside each `.dll` for embedded Java packages and extract them.

[2022-10-25 19:28] #7493 closed

[2022-10-26 10:31] rgroenewoudt commented on #7480
I would guess that there would need to be an if added to support both classic with PreserveAttribute and .NET 6 with DynamicDependencyAttribute.
https://github.com/xamarin/xamarin-android/blob/ab6712a48e4b93e9c3d605c7b393814d477e2bc8/src/Xamarin.Android.Build.Tasks/Tasks/GenerateLayoutBindings.CSharpBindingGenerator.cs#L221

A additional property would be probably be needed to feed the MsBuild tas

[2022-10-26 12:28] dellis1972 commented on #7480
`DynamicDependencyAttribute` works in the reverse manner to the old `PreserveAttribute`. The old system you placed the attribute at the code you wanted to preserver. The new `DynamicDependencyAttribute` you have to place it where the type is consumed. So we need to figure out the best way to deal with this without requiring the user to add the `DynamicDependencyAttribute` to the activity where its

[2022-10-26 20:39] liveinvarun opened #7498 "Azure pipelines fails -XA3007: Could not link native shared library: libxamarin-app.so"
### Android application type

Xamarin Forms project build for xamarin android release build

### Affected platform version

Pool: [Azure Pipelines]()
Image: windows-latest

### Description

Xamarin Forms app build fails on windows-latest agent.
Tried to build the app using macos-12 also and the build failed with the same issue
##[error]C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBui

[2022-10-27 12:21] rgroenewoudt commented on #7480
Is the attribute even needed? This is the C# binding which is used by the developer so if unused constructors are removed it shouldn't be a problem?

The file should also contain the autogenerated comment so any warnings would be ignored.

[2022-10-27 12:57] Alexander-Mathew commented on #7498
HI I am also facing the same issue. Please if anyone finds out the workaround or the fix, it will be helpful

[2022-10-28 05:55] aqua-ix opened #7503 "Argument type of Context.RegisterReceiver() is different from native API"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

MonoAndroid 13.0, Xamarin.Android 13.1.0.1 , VS Mac 17.4

### Description

I am currently updating the version of the target SDK for my Xamarin.Android project to version 33.

One of the new features of Android 13 is "Safer exporting of context-registered receivers".
https://developer.andr

[2022-10-28 12:56] tranb3r commented on #7335
I'm also experiencing similar random crashes with AOT.
It only happens with `<AndroidEnableProfiledAot>False</AndroidEnableProfiledAot>` (full aot).
No crash with `<AndroidEnableProfiledAot>True</AndroidEnableProfiledAot>` (default profile).

Here are a few errors I've encountered (each one being a different crash):
[code]

[2022-10-28 15:09] jpobst commented on #7503
It looks like this method has been enumified incorrectly as `ActivityFlags` instead of `ReceiverFlags`.

All enums in C# are really `int` behind the scenes, so you can cast them as needed to workaround this.

[code]

[2022-10-28 16:59] jonpryor opened #7506 "Figure out WearOS test failures"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

CI

### Description

The wearOS on-device unit tests are frequently flaky.  Why?

Plausible "shoot from the hip" answers include:

  * Build system bugs
  * Unit test validation bugs
  * Heisenbugs

## TypeAndMemberRemapping

Consider [b5678d7b13d26f9270e3ce3ab169bd83ee4c2520 + `TypeAndMemberRemap

[2022-10-28 17:17] aqua-ix commented on #7503
Thank you for your response.
I consider using type casting until this issue is resolved.

[2022-10-28 21:52] jonathanpeppers commented on #7388
It appears this is still an issue, some VS builds today failed with:
[code]

I think the size is a lot better, but still seems over the limit?

Comparing these two:

![image](https://user-images.githubusercontent.com/840039/198738967-9e3934ff-9da3-4ed0-a9d1-c1e460e29c4f.png)

We could compare the actual `.msi` files, but maybe we need to do something else to make our packs smaller?

[2022-10-31 21:58] liveinvarun commented on #7498
@jonathanpeppers  Any update on the issue??

[2022-10-31 22:47] liveinvarun opened #7510 "MAUI fails to hide keyboard in android when text view control closes the input"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022 preview

### Description

when keyboard is collapsed the view doesn't refresh and stays the way it is.
The background view is partially shown which is also interactive.

### Steps to Reproduce

open the repo and run the app in page 3

https://user-images.githubusercontent.com/8180770/199124

[2022-11-01 13:50] jpobst commented on #7510
I think this needs to be filed in https://github.com/dotnet/maui.

Unfortunately GitHub does not support moving issues to repositories in other organizations, so we can't just move it.  😢

[2022-11-01 14:48] MDThomsen opened #7514 "Signing .apk targetting Android 12 using JDK 11 causes IOException: Failed to load "signer #1""
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VSMac 8.10.16, Xamarin.Android 12.0.0.3

### Description

I have been trying to build and sign my app for release targeting Android 12(SDK 31) using VSMac 8.10.16, which doesn't come with JDK-11 which is required when targeting Android 12. I am using a keystore to sign the .apk myself and

[2022-11-01 18:46] vsfeedback opened #7515 "Adding Xamarin.Android.Arch.Work.Runtime nuget package to Maui Project generates a MSB4018 error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Adding--XamarinAndroidArchWorkRuntim/10173974)._

---
I have  Maui Project w/ .Net 7 and Maps and Map Control.
Added the Xamarin.Android.Arch.Work.Runtime nuget and get:

Error	MSB4018	The "VerifyVersionsTask" task failed unexpectedly.
System.ArgumentException: Error during serialization

[2022-11-01 18:47] vsfeedback opened #7516 "Bug with Visual Studio 2022 Preview. Cant interact with idle when android emulator is started. MAUI Blazor App"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Bug-with-Visual-Studio-2022-Preview-Can/10178873)._

---
[severity:I'm unable to use this version]
When my programm is built, i can use  my app on emulator, but idle isnt working in that moment. So i cant navigate, edit or stop debugging my programm.

---
### Original Comments

#### Feed

[2022-11-01 18:47] vsfeedback opened #7517 "Error <PreserveCompilationContext>true</PreserveCompilationContext>"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Error-----PreserveCompilationContexttr/10179257)._

---
Error to activate     true

[Resultados-Compilación.zip](https://aka.ms/dc/file?name=B92ca8707faf9480f995adcd2131fe806638020724142081637_Resultados-Compilaci%C3%B3n.zip&tid=92ca8707faf9480f995adcd2131fe806638020724142081637)

---
##

[2022-11-01 18:54] jonpryor commented on #7517
`$(PreserveCompilationContext)` documentation: https://learn.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#preservecompilationcontext

Parts of this are *unsupportable* on Android; .NET Android has no `.deps.json` file, has no "output directory" of consequence -- the output is a `.apk` or `.aab` file, not a directory -- and thus has no `ref` directory.

That leaves the `DependencyConte

[2022-11-01 19:19] jpobst commented on #7515
It looks like that package is several years old and still uses Android Support Libraries which are no longer supported (by us or Google).

You likely want to migrate to AndroidX and use something like https://www.nuget.org/packages/Xamarin.AndroidX.Work.Runtime instead.

[2022-11-01 19:23] jpobst commented on #7516
Can you elaborate on the issue, perhaps with screenshots of what you're seeing?

I am unable to understand exactly where the issue is.

Thanks!

[2022-11-01 20:13] jonpryor commented on #7517
A quick github search finds:

 1. [`DependencyContext` source](https://github.com/dotnet/runtime/blob/ea04e238467bfd7f0e1800c10fb18bc2ff048922/src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyContext.cs)
 2. [`DependencyContext.Default`](https://github.com/dotnet/runtime/blob/ea04e238467bfd7f0e1800c10fb18bc2ff048922/src/libraries/Microsoft.Extensions.DependencyModel/src/DependencyC

[2022-11-01 20:13] #7517 closed

[2022-11-02 10:49] satzmuthu opened #7518 "Build failed after upgrade the target SDK version to 33"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 Android TargetSDKVersion - 33

### Description
**Package details:**
[code]

**Error type 1:**
[code]

**Error type 2:**
[code]

### Steps to Reproduce

Just modified the target sdk version from 30 to 33, getting build error.

### Did you find any workaround?

_No response_

### Relevant lo

[2022-11-02 11:16] bonniemathew opened #7519 "FileVersionInfo.GetVersionInfo() for Xamarin.Android"
Hi All,

I have seen that the `FileVersionInfo.GetVersionInfo()` is not working on Xamarin.Android().
Its working fine in debug mode but throws 'FileNotFoundException' in the Release mode.

I have also seen that if you set the     `<EmbedAssembliesIntoApk>False</EmbedAssembliesIntoApk>` in the .csproj it will work. But this cannot be done in the 'Release' mode. The same API is working fine on Xama

[2022-11-02 13:07] dellis1972 commented on #7518
My guess would be that targeting API 33 now uses the manifestmerger.jar tool. So its raising this issues.
That said it does look like its a warning that its raising, so I wonder why its being reported as an error.

Do you get the same when targeting API 31 or 32?

[2022-11-02 14:37] dellis1972 commented on #7518
@satzmuthu

Do you have a sample which shows the error?
I tried your package reference items in a blank .net 6 android project and got allot of errors like

[code]
So I am wondering how is this even building for you using the package references you have provided?

[2022-11-02 15:55] gkarabin opened #7521 "Debug deploy fails if EmbedAssembliesIntoApk=true and AndroidSupportedAbis does not include arm64-v8a"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Visual Studio Enterprise 2022 for Mac Version 17.3.8 (build 5) AND Microsoft Visual Studio Enterprise 2022 (64-bit) - Current Version 17.3.6

### Description

My team has sample apps for a SDK (set of nugets) for classic Xamarin.Android that we distribute that embed native libraries (.so f

[2022-11-02 17:25] grendello commented on #7519
@bonniemathew could you attach a simple repro app which demonstrates what exactly isn't working? If, as I assume, you're trying to get version info of a .dll file, it won't work. The reason is that the assemblies are always found in the apk - they are never unpacked to the filesystem by Android. Additionally, by default we not only compress the managed assemblies with LZ4, we also put them in a bi

[2022-11-02 22:19] dellis1972 commented on #7521
@gkarabin

Out of interest what kind of device are you deploying too?

So the way this works is , with Fast Deployment on we ignore the AndroidSupportedAbis and look at the device which is being targeted. We then only include the assemblies for that device.

With Fast Deployment off, you end up with only the ABI's in the AndroidSupportedAbis list. So if you are deploying to a device which does sup

[2022-11-03 11:21] satzmuthu commented on #7518
Thanks for quick response. Found the cause of the issue, its due a 3rd party library to diagnose the mobile. If I removed the specific library means project build succeeds.

[2022-11-03 11:21] #7518 closed

[2022-11-03 17:53] gkarabin commented on #7521
Thanks, @dellis1972. I was using a [Honeywell CT45](https://sps.honeywell.com/ca/en/products/productivity/mobile-computers/handheld-computers/ct45-ct45-xp). Dumping out some of the properties from the device's BuildInfo, I see:

Supported32BitAbis: [armeabi-v7a,armeabi], Supported64BitAbis: [arm64-v8a], SupportedAbis: [arm64-v8a,armeabi-v7a,armeabi]

Here is a diff using your example.csproj as the

[2022-11-03 21:08] dellis1972 commented on #7521
@gkarabin

Hmm. OK that example works on VSForMac 2022 for me.

I wonder can you get me the diagnostic build log for this particular device? I need to see what our build tasks "thinks" it is.

This command should do the trick. Make sure to uninstall the app first.
[code]

It will produce an msbuild.binlog file which you can zip up and attach to this issue.

[2022-11-04 06:01] #2694 closed

[2022-11-04 09:42] xtuzy opened #7525 "Can debug app on device use VisualStudio17.4.0 Preview 6.0?"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS17.4.0 Preview 6.0

### Description

Today i try run Maui project on device, but show nothing. Then i create default Android project, run it:
![image](https://user-images.githubusercontent.com/17793881/199941021-6ab86632-e961-45ff-8713-09f4e3ea3610.png)

Default Android project should have a Tex

[2022-11-04 09:46] xtuzy commented on #7525
Build info
[code]

[2022-11-04 12:55] dellis1972 commented on #7525
@xtuzy

Thanks for the bug report. In order to investigate further we will need a full diagnostic build log of the deployment with some additonal developer settings enabled.

1. Delete the app from your device.
2. From a `Developer Command Prompt` can you use the following commands

[code]

This will produce a `msbuild.binlog` file which you can zip and attach to this issue.  This log will contain

[2022-11-04 13:30] gkarabin commented on #7521
Thanks! Here is the binlog: [msbuild.binlog.zip](https://github.com/xamarin/xamarin-android/files/9938646/msbuild.binlog.zip). I am going to charge up some devices from other vendors and see if I can find a pattern.

[2022-11-04 13:38] xtuzy commented on #7525
msbuild.binlog:
[msbuild.zip](https://github.com/xamarin/xamarin-android/files/9938677/msbuild.zip)

Additional information: I can get correct ui when click and run app on device. So maybe it is a bug of VisualStudio.
![image](https://user-images.githubusercontent.com/17793881/199985187-12e31846-8917-4ba2-a8be-df36b14f1193.png)

[2022-11-04 14:04] #7515 closed

[2022-11-04 14:05] jpobst commented on #7510
Moved to https://github.com/dotnet/maui/issues/11047.

[2022-11-04 14:05] #7510 closed

[2022-11-04 14:54] jonathanpeppers commented on #7514
Can you update to VS Mac 2022?

What happens if you try to use the `apksigner.jar` from the Android SDK?

[2022-11-04 15:04] dellis1972 commented on #7521
so this is weird. `arm64-v8a` was not in the list of supported package but some native assemblies are being included in the apk.

[code]

So the libmono-native.so is including the arm64-v8a version. So this might be a case where its trying to mix 32bit and 64bit libraries. I'll try to repo here locally and see if we can figure out why we are including the 64 bit ones when we shouldn't be.

[2022-11-04 15:21] dellis1972 commented on #7525
@xtuzy

Thanks for the logs. Everything looks good as far as deployment is concerned so the next step is to figure out what is happening at runtime. For that we need a detailed `adb logcat` with all the data we need.

So make sure the app is installed but not running. Then from an Adb Command Prompt type

[code]

This will enable detailed logging. Then run

[code]

Once that last command is runnin

[2022-11-04 15:37] ivmazurenko opened #7527 "Please, help to update to .net 6 sdk project style"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

vs 2022 17.3.6

### Description

I am trying to update project to .net 6 sdk style and i am struggling with following errors:
[code]

### Steps to Reproduce

This is my csproj file, like in reccomendations

<?xml version="1.0" encoding="utf-8"?>
<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGrou

[2022-11-04 15:37] ivmazurenko commented on #7527
binlog

[2022-11-04 15:41] ivmazurenko commented on #7527
[mylog.zip](https://github.com/xamarin/xamarin-android/files/9939924/mylog.zip)

[2022-11-04 16:30] jonathanpeppers commented on #7527
Fyi @jpobst it looks like the generated binding doesn't compile:

[code]
It may be a general binding behavior change moving from Xamarin to .NET 6+.

@ivmazurenko can you attach a `.binlog` of a `Rebuild`, it skipped this part:
[code]

[2022-11-04 16:35] jpobst commented on #7527
There are some changes to defaults between classic and .NET 6 projects that might be affecting some metadata changes you previously did.  You can try setting them back to their classic values to see if it helps.

https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/OneDotNetBindingProjects.md#migration-considerations

[2022-11-04 16:41] ivmazurenko commented on #7527
[builldlog_of_rebuild.zip](https://github.com/xamarin/xamarin-android/files/9940422/builldlog_of_rebuild.zip)

[2022-11-04 16:43] jonathanpeppers commented on #7527
Are you actually wanting to create a binding for this???

![image](https://user-images.githubusercontent.com/840039/200029715-1adf5fb8-03db-4513-9763-69d2ce6b6d5b.png)

[2022-11-04 16:44] jonathanpeppers commented on #7527
Maybe you just need this in your `.csproj`:

[code]

Or if you want to remove any that ever appear in that folder:
[code]

[2022-11-04 20:08] ivmazurenko commented on #7527
Thanks!

[2022-11-05 02:13] xtuzy commented on #7525
adb.log
[adb.zip](https://github.com/xamarin/xamarin-android/files/9942751/adb.zip)

Additional information:
1. It not crashes, i stop it by click stop debug button.
2. The size of adb.log still add, hope it collect all information before i upload.

[2022-11-05 10:12] Bip901 opened #7531 "GetIPv6Properties is not implemented"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

MonoAndroid

### Description

Calling `System.Net.NetworkInformation.IPv6InterfaceProperties.GetIPv6Properties` throws `NotImplementedException`.

The exception is caused because [UnixIPInterfaceProperties](https://github.com/mono/mono/blob/5d2e3bc3b3c8184d35b2f7801e88d96470d367c4/mcs/clas

[2022-11-05 15:02] jingliancui opened #7532 "3rd Party library internal invoke native code lead app crash"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Version 17.3.6 Windows Version

### Description

.Net6 app Invoke 3rd party lib will lead crash.
Native app didn't crash.

Please take a look at the attachment codes and run them.

### Steps to Reproduce

[JPushMAUI.zip](https://github.com/xamarin/xamarin-android/files/9944038/JPushMAUI.zip)
1.Unz

[2022-11-06 13:41] jonathanantoine commented on #7008
Any news on this one ? It's blocking for scenario where we, poor users, have an Appcenter pipeline :(

[2022-11-07 06:25] #7527 closed

[2022-11-07 08:20] grendello commented on #7335
I'm sorry for the delayed response, we're getting back to this issue. To summarize, here are all the asserts/errors mentioned above:

[code]

@lambdageek would you mind taking a look? I'll try to get more info from the [repro](https://github.com/xamarin/xamarin-android/issues/7335#issuecomment-1240394965) app.

[2022-11-07 08:42] grendello commented on #7532
@jingliancui could you please provide full logcat output of the crash on your device(s)? To produce the output, please run the following commands from the command prompt:

[code]

Please attach the resulting `log.txt` file, thanks!

[2022-11-07 09:11] grendello commented on #7335
I ran the repro application 100 times with the current Xamarin.Android/main (net8) and got a single crash:

[code]

[2022-11-07 09:14] grendello commented on #7335
It would be great if anyone experiencing this issue built and ran their app with NET7, to see if the problems persist.

[2022-11-07 09:21] marek-safar commented on #7335
/cc @vargaz

[2022-11-07 09:28] grendello commented on #7335
Running with profiled AOT disabled I got a single segfault:

[code]

[2022-11-07 09:37] grendello commented on #7335
With AOT and linking disabled:

[code]

[2022-11-07 09:39] johnthiriet commented on #7008
On our project, since we use Azure Pipelines we are still downloading and forcing a specific version of r8.
This is not ideal but it works for us.

[2022-11-07 09:54] grendello commented on #7335
Another run with AOT+linking:

[code]

[2022-11-07 10:01] dellis1972 commented on #7525
@xtuzy

thanks for the log, that looks fine.
We really need to get the adb.log for the crash you reported.
So if you could do the steps outlined in https://github.com/xamarin/xamarin-android/issues/7525#issuecomment-1303753078. But this time try to reproduce the crash you origionally reported.

[2022-11-07 10:46] grendello commented on #7335
Another batch of crashes with AOT+linking. There have been 4 aborts over a 1000 runs:

[code]

[code]

[code]

[code]

[2022-11-07 10:51] xtuzy commented on #7525
I don't know what you need. it not crash when debug, it only don't show any content, not invoke any breake point, it like do a sleep method.

[2022-11-07 11:01] tranb3r commented on #7335
I've tested several dotnet versions, same random crashes with 6.0.400, 6.0.402, 7.0.100-rc2.22477.23.
Also, I've seen random crashses on android 31 and android 32 emulators, but not on android 33 emulator.

[2022-11-07 11:12] grendello commented on #7335
@tranb3r would you be able to gather native stack traces from the random crashes? If you could package them up together with `libmonosgen-2.o.so` from the apk that was used to produce the crash, then I could extract the crash locations from there. I wonder if also in your case it's in the general area of managed image loading and metadata parsing, as that seems to be the pattern of the crashes I'm

[2022-11-07 11:25] grendello commented on #7335
Another set of crashes over a 1000 runs, this time with linking but no AOT, 3 crashes:

[code]

[code]

[code]

[2022-11-07 12:06] yunusefendi52 commented on #7335
Just a note, AOT with linking disabled is not supported I think (related link https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/messages/xa1030.md#xamarinandroid-error-xa1030)

[2022-11-07 12:07] grendello commented on #7335
And finally, a 1000 runs without AOT and without linking, 4 failures:

[code]

[code]

[code]

[code]

[2022-11-07 12:07] grendello commented on #7335
Yeah, it's iffy :)

[2022-11-07 12:10] grendello commented on #7335
Full logcat output for all the crashes above:
[crash-logs.zip](https://github.com/xamarin/xamarin-android/files/9951272/crash-logs.zip)

[2022-11-07 12:12] yunusefendi52 commented on #7335
@grendello do you still need stacktrace? just built the apk and I always got the crash on my device (xiaomi redmi note 7), I am using net 8 hoping that it would not crash but it's still crashing

[2022-11-07 12:13] grendello commented on #7335
@yunusefendi52 yes, please - the more the better!

[2022-11-07 12:20] yunusefendi52 commented on #7335
here you go @grendello
[logcat-d.zip](https://github.com/xamarin/xamarin-android/files/9951353/logcat-d.zip)

[2022-11-07 12:49] grendello commented on #7335
Note, all the crashes so far have been on `aarch64` devices.

[2022-11-07 13:41] dellis1972 commented on #7525
@xtuzy

Sorry, I miss understood what the issue was. I assumed it was crashing when trying to debug.
Can you try the same commands for the Maui app?

[code]

Save the msbuild.binlog then run

[code]

and see if the app starts. If it does start then this is likely an IDE issue rather than an Android issue.

[2022-11-07 14:18] jonathanpeppers commented on #7008
@johnthiriet can you share details of the version of r8 that works?

For example, .NET 6 shipped with:
[code]

[2022-11-07 15:11] johnthiriet commented on #7008
We didn't change it since that message  [https://github.com/xamarin/xamarin-android/issues/7008#issuecomment-1203719448](https://github.com/xamarin/xamarin-android/issues/7008#issuecomment-1203719448).

We are using the "3.0.64"

[2022-11-07 15:23] jingliancui commented on #7532
[log.txt](https://github.com/xamarin/xamarin-android/files/9953023/log.txt)
Ok,@grendello , I've log them, please have a look. thanks.

[2022-11-07 16:56] grendello commented on #7532
@jingliancui thanks! I think it might be a runtime issue. The crash stack trace (just the relevant portion):

[code]

@lambdageek mind taking a look? Thanks!

[2022-11-07 18:30] hadigityat opened #7535 "Signing a release app with the same keystore differs in Visual Studio vs Android Studio"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 8.10.20 (build 0)

### Description

Trying to migrate to Android Studio native development of my app, and using the same keystore details as used in Visual Studio, how can the app signature be different ? This means users cannot update the app when development switches from VS to Androi

[2022-11-07 18:43] jonathanpeppers commented on #7535
I think you'll probably want to file a bug with Google, if you are having trouble using Android Studio:

https://developer.android.com/studio/report-bugs

I don't think we can help much here, as this repo is for issues in Xamarin.Android or the Android workload for .NET 6+.

You might try signing the `.apk` manually as described here:

https://learn.microsoft.com/xamarin/android/deploy-test/signin

[2022-11-07 18:43] #7535 closed

[2022-11-07 22:19] vsfeedback opened #7537 "Unable to resolve RegisterForActivityResult"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Unable-to-resolve-RegisterForActivityRes/10189797)._

---
[severity:I'm unable to use this version]
 I'm using Visual Studio 2022 Version 17.3.6 on a Windows 11 pro machine and I'm updating a working app that had targeted android API 9 (Pie) to android API 33 (Tiramisu) using Xamarin.And

[2022-11-07 22:19] vsfeedback opened #7538 "Problom for publish for android with visual studio for mac 2022 version 17.4"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Problom-for-publish-for-android-with-vis/10179306)._

---
Hi, when publish for android from visual studio foc mac, this show me next error:

[code]

---
### Original Comments

#### Feedback Bot on 10/23/2022, 07:14 PM:

(private comment, text removed)
#### Zack Yang [MSFT] on 10/25/2022,

[2022-11-07 22:20] vsfeedback opened #7539 "Not able to generate android app bundle"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Not-able-to-generate-android-app-bundle/10186902)._

---
Hi, I am getting error while generating .aab file using azure devops

**Error:**
[code]
Below **task** i am using for generating .aab file
[code]

Could you please check this issue?

Looking forward for your reply!

Thanks,
Pooja

[2022-11-07 22:26] vsfeedback opened #7540 "XA0137: The 'run-as' command failed with 'run-as: /data has wrong owner: 0/1000, not 1000"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/XA0137:-The-run-as-command-failed-with/10186061)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:~VS 2022 not preview]
Hello,

I have VS 2022 17.4.0 Preview 5.0 and a Xamarin app, that I'm trying to deploy to my Android phone (physical device).

Every ti

[2022-11-07 22:32] vsfeedback opened #7541 "Xamarin.Android.Legacy.targets(5,5): Error XALNK7004: Mono.ArgumentNullOrEmptyException: Argument null or empty Parameter name: name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/XamarinAndroidLegacytargets55:-Err/10184039)._

---
I'm facing the below error when I try to run my application, I'm using the latest version of Visual Studio on Mac Moteray 12.6, can anyone give me any help to solve it? Thanks.
[code]

---
### Original Comments

#### Feedback Bot on 10/

[2022-11-07 23:38] jonpryor opened #7542 "Use packageSourceMapping"
Use [`<packageSourceMapping/>`](https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping) to limit the number of NuGet sources which must be queried to restore NuGet packages.

## Background

NuGet added the [`<packageSourceMapping/>`](https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping) element earlier this year in order to address [Dependency Co

[2022-11-08 00:08] jonpryor commented on #6925
Also of note: https://github.com/xamarin/xamarin-android/pull/6273#discussion_r714854036

Note that the new project dialog in *Android Studio* warns if you have non-ASCII characters, or at least did in 2021-September…

[2022-11-08 12:28] jonpryor commented on #7542
`<packageSourceMapping/>` should *not* be used for .NET-related packages, as those can (will) move between feeds for various versions.  This should be done only for "external" packages such as NUnit/etc.

[2022-11-08 15:33] jpobst commented on #7538
Duplicate of https://github.com/xamarin/xamarin-android/issues/7302

I would try the workaround listed here: https://github.com/xamarin/xamarin-android/issues/7302#issuecomment-1241993192.

[2022-11-08 15:35] jpobst commented on #7539
It does not look like `bash` is expanding your wildcard: `*.csproj`.  Also, I don't think you can pass multiple project files to `msbuild`.

Try specifying the project file instead of using a wildcard.

[2022-11-08 15:47] jpobst commented on #7537
Duplicate of https://github.com/xamarin/AndroidX/issues/648.

[2022-11-08 15:47] #7537 closed

[2022-11-08 16:22] snydesc opened #7544 "Xamarin Android projects crash on startup after company rolled out ZScaler Client"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.3.6

### Description

Recently my company pushed out ZScaler to select machines.  My machine was one one of them and since the push out the Xamarin Android apps built with Visual Studio now crash on startup.

One of 2 things occurs either the app will throw a null reference exce

[2022-11-08 16:44] dellis1972 commented on #7540
This error message means the device is not configured correctly to use the `run-as` tool. This is a tool which ships with android so it is out of our control. In this case the manufacturer of the device (or someone) has changed the Operating System  so that the `/data` folder has the wrong permissions which `run-as` needs. If you have root access on the device you might be able to fix the permissi

[2022-11-08 16:48] snydesc commented on #7544
Here are ADB logs and bugreport
[log.txt](https://github.com/xamarin/xamarin-android/files/9963370/log.txt)
[bugreport-TC57-10-16-10.00-QG-U120-STD-HEL-04-2022-11-08-11-43-33.zip](https://github.com/xamarin/xamarin-android/files/9963371/bugreport-TC57-10-16-10.00-QG-U120-STD-HEL-04-2022-11-08-11-43-33.zip)

[2022-11-08 17:01] Alexander-Mathew commented on #7498
Which version of windows agent configuration  to be used  while building android applications. I have provided NDK path as an extra argument but still facing the issue @jonathanpeppers

[2022-11-08 17:24] snydesc commented on #7544
[log2.txt](https://github.com/xamarin/xamarin-android/files/9963641/log2.txt)
App crashes at 11-08 12:22:32.559

[2022-11-08 18:01] grendello commented on #7544
@snydesc would you be able to reproduce the SIGSEGV crash? The logs you provided all show the app exiting cleanly

[2022-11-08 18:17] jonpryor commented on #7544
@grendello [wrote](https://github.com/xamarin/xamarin-android/issues/7544#issuecomment-1307621115):

While true, they show the app exiting cleanly with *exit code `1`*, which means it comes from `exit(1)`.  There are a few places where we do this:

  * https://github.com/xamarin/java.interop/blob/7716ae53da79068e079b17dd4961d0c821bb2c34/src/java-interop/java-interop-gc-bridge-mono.cc#L255
    `FAT

[2022-11-08 18:50] snydesc commented on #7544
The crash happens with debug.mono.trace disabled.

JNIEnv.Exit() might be being called because I did launch the application from Visual Studio.  The app crashed produced the null reference exception and then terminated.  If I launched it from the device it would hang on the splash screen and logcat would output the null reference exception and Unknown bits set in runtime_flags: 0x8000 continuously

[2022-11-08 18:52] grendello commented on #7544
@snydesc the `JNIEnv.Exit()` is never called from any of XA code, only from the managed Android Designer. I suspect it might be a problem with linking in that it, somehow, replaces some call with one to `Exit()`. It's just an unsubstantiated guess, however

[2022-11-08 18:56] grendello commented on #7544
@snydesc would you mind attaching all the `Mono.Android.dll` copies you can find in your `obj/` folder (while keeping the directory structure)?

[2022-11-08 19:13] jonathanpeppers commented on #7498
Can you add `-bl` to produce an `msbuild.binlog` file for your build? And save that as an artifact?

I think we'll need this to investigate further, thanks!

[2022-11-08 19:46] snydesc commented on #7544
[obj.zip](https://github.com/xamarin/xamarin-android/files/9964642/obj.zip)
The problem still occurs with 17.4
I did include java.interop.dll along with any thing that started with mono.android.*  within the zip file.

[2022-11-08 20:01] #7516 closed

[2022-11-08 20:24] grendello commented on #7544
@snydesc thank you for the assemblies! One more request, however :) - can you please zip up and attach all the files in `obj/` named `environment*.ll`?

[2022-11-08 21:13] grendello commented on #7544
@snydesc thanks!

It appears at least part of the problem lies in the linker.  During the build we record (in the `environment*.ll`) files method tokens for the `JNIEnv.Initialize` and `JNIEnv.RegisterJniNatives` methods. In your application they are:

[code]

However, after looking at `Mono.Android.dll` metadata, we can see the tokens are off by one:

[code]

Token we record consists of two parts

[2022-11-08 21:25] lukasf commented on #7473
I just installed the latest official Uno version and .NET 7 RTM, and I cannot compile Android as Release (empty app from template). This issue should have top priority.

[2022-11-09 10:06] dellis1972 commented on #7473
@jeromelaban  @lukasf we have a PR in progress which I think will work. However, what is blocking is a good unit test. I have been unable to replicate the envionment in a standard android app which does not rely on other external sources.

Do you have any idea what Uno in particular is doing which might cause this issue? Is there something specific which the `Uno.UI` assembly has which results it

[2022-11-09 11:17] dellis1972 commented on #7473
ok I think I've managed to cobble together an managed android example. I'll try and convert that to a unit test.

[2022-11-09 12:30] jeromelaban commented on #7473
@dellis1972 I do not think we're doing anything RID specific in Uno (the binary is the same for all `net6.0-android` and `net7.0-android`). Have you found out what the difference is? I'm very curious :)

[2022-11-09 13:53] kevcrooks commented on #7336
We had thought that the commit https://github.com/xamarin/xamarin-android/commit/346a93301831047f8d09a477495973249c8acfc7 would have solved the issue.

This commit was included in the xamarin-android release 13.1.0.0, and 13.1.0.1 which is now in Visual Studio 17.4.0.

However we still have the same problem in this latest Visual Studio version, so the underlying problem must be different.

[2022-11-09 14:38] snydesc commented on #7544
I noticed that adding the following line in the OnCreate of the MainAndroidApplication class after the initial build
`string t = Android.OS.Environment.ExternalStorageState;` will cause the Mono.Android.dll to be regenerated that is different then the initial one generated (This makes sense because the linker would now include this property into the dll).  It seems like environment*.ll is not bein

[2022-11-09 14:57] dellis1972 commented on #7473
I haven't found a difference yet. But I did manage to repo in a basic android app just by adding a reference to `Uno.WinUI`. So I'm hoping I can at least convert that project into a unit test so I can test the fix in the PR.

[2022-11-09 15:12] grendello commented on #7544
@snydesc would you be willing to modify an msbuild targets file that ships with Xamarin.Android to test a potential fix for the environment files generation?
The file is called `Xamarin.Android.Common.targets' and it will be found somewhere below the Visual Studio installation root. In it, please apply the following change:

[code]

It should have the effect of regenerating the environment files w

[2022-11-09 15:20] jonathanpeppers commented on #7544
An example of the path is:
[code]

[2022-11-09 15:21] jeromelaban commented on #7473
@dellis1972 Could it be a linker option that causes this? But even then, there's no RID specific changes here, unless the runtime has content that is removed or altered there with some internal dependency on the BCL?

[2022-11-09 15:31] dellis1972 commented on #7473
@jeromelaban so I just did a diff of the IL produced between the `android-arm/Uno.UI.dll` and the `android-arm64/Uno.UI.dll` and got this

[code]

So it looks like there is a difference between these two. It also means the fix I was hoping would work, wont. Since the MVID's are different.

[2022-11-09 15:37] dellis1972 commented on #7473
I would guess that is caused by https://github.com/unoplatform/uno/blob/bd2789df8f9a2014dacff88751dfe20117b5fa6b/src/Uno.UI/UI/Xaml/SpecializedResourceDictionary.cs#L118

[2022-11-09 16:00] xoration opened #7549 "Installing the emulator fails "Operation Failed: Installing Android Emulator v31.2.10""
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022  17.4.0

### Description

When trying to install the emulator via the Android SDKs and Tools dialog I receive the error message:
"Operation Failed: Installing Android Emulator v31.2.10 - "Specified argument was out of the range of valid values.""

Before I was stuck without and emulator I h

[2022-11-09 16:58] jpobst commented on #7549
This issue likely occurs in the Visual Studio integration, which is owned by a different team who does not use GitHub for issue tracking.

Please use the [tools available inside of VS](https://developercommunity.visualstudio.com/home) to report this issue.  This allows the issue to be routed to the correct team, and provides them the correct logs they need to diagnose it.

Thanks!

[2022-11-09 16:58] #7549 closed

[2022-11-09 18:01] #7519 closed, assigned to grendello

[2022-11-09 18:25] snydesc commented on #7544
[Xamarin.Android.Common.txt](https://github.com/xamarin/xamarin-android/files/9974043/Xamarin.Android.Common.txt)
That did not seem to fix the problem.

I made sure no instance of VS 2022 were running, updated the file, and then ran my test.  The app will still crash and the dates on the *.ll do not change between builds.

I attached my version of the file (I had to change the extension to txt to

[2022-11-09 19:00] jeromelaban commented on #7473
I tried with the following, but it produces the same result:
[code]

[2022-11-09 20:25] snydesc commented on #7544
So here is some more useful information.
When my co worker ran his test for me he was running Visual Studio 2022 17.1.4 and he did not exhibit the problem.
I asked him to update to 17.4.0 and when he did, his version started seg faulting.

My version of Visual Studio updated to 17.3.6 around the same time our company pushed ZScaler down to my machine.  I'm now thinking that Zscaler may not be caus

[2022-11-09 20:37] grendello commented on #7544
@jonathanpeppers @dellis1972 I'm tentatively switching this issue to `Area: App Runtime` because it seems that the failure to regenerate the environment files sits at the center of the issue here.

[2022-11-09 20:46] grendello commented on #7544
@snydesc we can try one more thing, if you're willing to run a `main` branch build of XA :) If you don't mind testing that out, please download [this VSIX](http://pryorclan.com/tmp/Xamarin.Android.Sdk-13.1.99.43.vsix) archive which was produced by [this build](http://github.com/xamarin/xamarin-android/commit/c54222a853a59fe9a08e723dd7e68525872151ea). Once you update XA, shut down VS and make absol

[2022-11-09 21:11] snydesc commented on #7544
@grendello that did not work.  I updated to  13.1.99.43 and the problem still occurs.

[2022-11-10 15:20] #6924 closed

[2022-11-10 16:38] jonathanpeppers commented on #7541
Can the OP share a [MSBuild diagnostic log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output). Thanks!

[2022-11-11 15:01] #7514 closed

[2022-11-11 20:38] hig-dev opened #7554 "Using the Export attribute with a constructor with parameter generates a wrong ACW"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

net6.0-android, net7.0-android

### Description

I need a class which looks like this:

[code]

So the class inherits from `Java.Lang.Object` and has an exported constructor with the parameter `Android.Content.Context`.
The resulting code for the constructor in the ACW (Android Callable Wrapper) l

[2022-11-14 14:01] #7525 closed

[2022-11-14 21:56] #7539 closed

[2022-11-14 22:24] liveinvarun commented on #7473
error XA4215: The Java type `crc643f2b18b2570eaa5a.PlatformGraphicsView` is generated by more than one managed type. Please change the [Register] attribute so that the same Java type is not emitted. [D:\a\1\s\src\App\App.Application\App.App.csproj::TargetFramework=net7.0-android]

C:\hostedtoolcache\windows\dotnet\packs\Microsoft.Android.Sdk.Windows\33.0.4\tools\Xamarin.Android.Common.targets(1476

[2022-11-15 20:00] #7498 closed

[2022-11-16 11:09] tipa opened #7558 "System.Obsolete attribute used instead of ObsoletedOSPlatform attribute"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.4.1, .NET 7

### Description

I am using this property to get the installed app version:
[code]

The old ([now deprecated](https://developer.android.com/reference/android/content/pm/PackageManager#getPackageInfo(android.content.pm.VersionedPackage,%20int))) `GetPackageInfo` method still

[2022-11-16 15:16] lambdageek commented on #7532
@grendello Looking at the stack trace and the code, it looks like `mono_runtime_invoke` is called from `MonodroidRuntime::Java_mono_android_Runtime_register` on a thread that's not attached to the runtime (`MonoThreadInfo *` is null in `copy_stack_data`).

Why does this code only attach to the runtime in `!defined (NET)` - you still need to attach (using the root domain) even on net6:

https://git

[2022-11-16 15:42] jpobst commented on #7558
`[ObsoletedOSPlatform]` was added in .NET 7, so if using `net7.0-android` this _should_ be working.  😁

Fixed in https://github.com/xamarin/xamarin-android/issues/7234

[2022-11-16 15:48] tipa commented on #7558
I am using `net7.0-android33.0` but still see the warning.
As I mentioned, some methods are annotated with `ObsoletedOSPlatform` while others aren't (they are annotated with `System.Obsolete`).
I basically right-click on the method (`GetPackageInfo`) in VS22 and select "Go to Definition". It shows me this:
![image](https://user-images.githubusercontent.com/2863198/202227124-fcfbeabe-4fd5-4470-bddb

[2022-11-16 16:49] grendello commented on #7532
@lambdageek good catch! Probably a mistake during separating classic and net6 code back in the day. I'll open a PR. Thanks :)

[2022-11-17 00:41] jpobst commented on #7558
This appears to be a case of us making an unfortunate name choice a long time ago.

The original methods from Google are:
- `public abstract PackageInfo GetPackageInfo(VersionedPackage versionedPackage, int flags)`
- `public abstract PackageInfo GetPackageInfo(string packageName, int flags)`

We want our APIs to be a little easier to use, so we converted the `int flags` parameter to an enum called

[2022-11-17 01:59] jahmai-ca commented on #7558
We don't. We actually use [Obsolete] ourselves, which generates `warning CS0618` without any errors. This specific one gets converted to `Error CS0618: 'PackageManager.GetPackageInfo(string, PackageInfoFlags)' is obsolete: 'deprecated'` and I don't know why.

We're going to suppress it in code with `#pragma`, but ultimately we want to be able to call the appropriate version of GetPackageInfo since

[2022-11-17 06:33] aqua-ix opened #7562 "tools:node="remove" in AndroidManifest not working properly"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

MonoAndroid 13.0, Xamarin.Android 13.1.0.1 , VS Mac 17.4

### Description

I'm encountering a problem with Manifest Merger in Xamarin.Android.

<details><summary>AndroidManifest.xml</summary>
<p>

[code]

</p>
</details>

<details><summary>AndroidManifestOverlay.xml</summary>
<p>

[code]

[2022-11-17 07:10] jahmai-ca commented on #7558
This may also apply to `PackageManager.QueryIntentActivities` with a similar issue of enum/int flags.

[2022-11-17 10:30] dellis1972 commented on #7562
@aqua-ix

So what is happening here is that our code (https://github.com/xamarin/xamarin-android/pull/4682) will remove the item from the main manifest above. But then your `AndroidManifestOverlay.xml` is putting it right back in. `AndroidManifestOverlay.xml` will be processed after the main one.

I'm having a hard time figuring out what you are trying to achieve in this case... are you expecting

[2022-11-17 13:51] uwe-neuronation commented on #7008
Using the custom/old r8.jar workaround solves the problem for now.

[2022-11-17 17:01] #7541 closed

[2022-11-17 18:01] #7538 closed

[2022-11-18 06:22] aqua-ix commented on #7562
I expected the com.sample.manifestmerger.overray.SendActivity entry in the main manifest to be replaced.

A real app would have multiple Xamarin.Android projects, consisting of multiple package names.

* Project1
  * Package name: com.sample.manifestmerger
  * Include `AndroidManifest.xml`
* Project2
  * Package name: com.sample.manifestmerger.overray
  * Include `AndroidManifest.xml` but excludin

[2022-11-18 11:16] dellis1972 commented on #7562
Replaced or Removed? They are two different outcomes?

You can add the following to your project for more detailed output.

[code]

This will produce diagnostic output in a MSBuild diagnostic log (-v:diag on the comand line).

I did some testing locally. And moving the `android:tools="remove"` to the `AndroidManifestOverlay.xml` file in the example yielded the correct result.  SendActivity was rem

[2022-11-18 12:48] aqua-ix commented on #7562
Sorry it's a mistake. I expected it to be removed.

When I checked with the actual app, I confirmed that the SendActivity element was deleted by the method you introduced.
I would like to consider applying this method. Thank you.

[2022-11-18 17:52] naricc opened #7567 "marshal-ilgen component must be included"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Net 8.0

### Description

After this change to mono, marshal-ilgen has been moved to a component: https://github.com/dotnet/runtime/pull/75542. This is a step in eventually allowing the component to be dropped when not needed. For now, it must be available to the runtime. So it needs to be added h

[2022-11-18 17:52] naricc commented on #7567
@jonathanpeppers

[2022-11-18 18:59] jonathanpeppers commented on #7567
We left this change in since .NET 7:

https://github.com/xamarin/xamarin-android/blob/4221c0758405495f6180e0e92ffcad412b5a97c9/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.AssemblyResolution.targets#L206

It didn't hurt anything, so we just left it.

We can leave this open until the maestro bump gets to us, though. There will likely be apk-size regression tes

[2022-11-19 16:06] timea-techgirl opened #7568 "Compress a patched DLL back to assemblies.blob"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

.NET 6.0

### Description

Hello, I found tools to decompress and view the assemblies.blob file.
I can't seem to find a simple way to compress the DLLs back to assemblies.blob.

### Steps to Reproduce

Unable to pack the DLLs back to assemblies.blob

### Did you find any workaround?

https

[2022-11-21 07:17] gmck opened #7570 "Xamarin.AndroidX.Navigation.Ui 2.5.2 and higher breaks fragment animations"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.5.0 Prev 1

### Description

After upgrading both Xamarin.AndroidX.Navigation.Fragment and  Xamarin.AndroidX.Navigation.Ui from 2.5.1 to any higher version in my latest test app NavigationGraph7 the fragment animations are broken.

Since beginning with Android’s NavigationCompon

[2022-11-21 08:12] grendello commented on #7568
@timea-techgirl Hi! Indeed, there's no utility to put an assembly back into a blob from the command line. While an interesting idea, I'm not sure about the general usefulness of it. Even if it were possible to put the assembly back in the blob, then one would have to put it back in the apk/aab which means the need to re-align and then re-sign the modified package, both of which require a few non-t

[2022-11-21 15:57] jpobst commented on #7570
The value proposition with the Xamarin.Android product (and AndroidX/GPS bindings) is we provide users raw, direct access to the Google Android API from C# so they can be used exactly like they are used from Java.  The downside of this is that these are Google's APIs and not ours, so we do not know how they function and cannot provide support for them.  (We maintain bindings for the massive Androi

[2022-11-21 16:19] jonathanpeppers opened #7572 "First Deploy: Investigate time spent with LZ4"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

All

### Description

I profiled the initial `dotnet build -t:Run` of a MAUI app.

There are 21 threads in the `.speedscope` file, but if you look through several of them have time spent LZ4-ing things:

![image](https://user-images.githubuserconten

[2022-11-21 16:22] jonathanpeppers commented on #7388
We have an exclusion in Visual Studio that lets us go over the limit now -- which can maybe just be there forever? There is already one there for wasm and dotnet/emsdk.

Punting to .NET 8 to see if we want to try to make our install size smaller.

[2022-11-21 16:24] jonathanpeppers commented on #7572
I'll try to get this trace on a slow laptop like it did with:

https://github.com/xamarin/xamarin-android/issues/7318#issuecomment-1243933121

[2022-11-21 17:47] dellis1972 commented on #7572
The Lz4 stuff is quite important. It takes a 10 meg Mono.Android.dll and drops it down to 3 meg.
So it does reduce the amount of data we transmit over the stdin of the fast dev app.

[2022-11-21 19:31] #7490 closed

[2022-11-21 20:40] jonathanpeppers commented on #7572
The .NET 7 one is 30MB, so it might be we are creating that many `byte[]` and the GC is collecting them as it goes.

I'm still working on getting my laptop updated to the latest bits to test it.

[2022-11-21 21:43] jonathanpeppers commented on #7572
The times are higher, maybe 2x slower, but everything is on this machine:

[foo.zip](https://github.com/xamarin/xamarin-android/files/10060766/foo.zip)

[2022-11-21 21:54] jonpryor commented on #7568
There are two separate requests here:

 1. Provide an entry point in the build system to allow assemblies to be manipulated before they are added to the `.apk`.  This could be used to support obfuscation, a'la #5220, or any other assembly modification.
 2. Provide tooling to support editing the `assemblies*.blob` files, allowing assemblies to be modified *after* the build, and then the `.apk` upda

[2022-11-22 13:32] dellis1972 commented on #7572
So we might need to dig into LZ4 and see what its doing.
The buffers we work on are preallocated here https://github.com/xamarin/monodroid/blob/main/tools/msbuild/Tasks/FastDeploy.cs#L551. They are then passed in by reference. So I wonder if this is the line where all the work is done https://github.com/xamarin/monodroid/blob/main/tools/msbuild/Tasks/FastDeploy.cs#L259.

[2022-11-22 15:09] rgroenewoudt opened #7577 "SSLStream fails"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS2022 17.4.1

### Description

On Android 9+ it works fine.

Using SSLStream on an Android 8 device fails with:
[code]

On Android 6 this fails with:
[code]
Documentation doesn't indicate this as an known issue.

### Steps to Reproduce

[code]

[AndroidApp4.zip](https://github.com/xamarin/xamarin

[2022-11-22 15:32] rgroenewoudt commented on #7577
System.Net.WebSockets.ClientWebsocket also uses SSLStream so this breaks using websocket entirely on devices using Android <9.

[2022-11-22 15:40] jonathanpeppers commented on #7572
We should see about the compression level:

* https://github.com/MiloszKrajewski/K4os.Compression.LZ4/blob/1f3cd16ddba91368af165e9765b0d7e3454684ce/src/K4os.Compression.LZ4/LZ4Codec.cs#L47-L49
* https://github.com/MiloszKrajewski/K4os.Compression.LZ4/blob/1f3cd16ddba91368af165e9765b0d7e3454684ce/src/K4os.Compression.LZ4/LZ4Level.cs#L8-L12

Trace shows the slower one:

![image](https://user-images.

[2022-11-22 17:09] steveisok commented on #7278
@rgroenewoudt https://github.com/dotnet/runtime/pull/77386 is working its way through runtime and that should solve the self signed cert problem.

[2022-11-22 17:59] michaldobrodenka commented on #7577
My workaround is to use Xamarin.Android for now

[2022-11-22 18:08] steveisok commented on #7577
Closing in favor of https://github.com/dotnet/runtime/issues/78716 and https://github.com/dotnet/runtime/issues/78715

[2022-11-22 18:08] #7577 closed

[2022-11-23 03:15] gmck opened #7579 "Change the colour of ic_launcher_background.xml"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.5.0 Prev 1

### Description

Just a suggestion why not change the colour of ic_laucher_background.xml in the one app template for net7.0-android to match the new .Net Icon to  `<color name="ic_launcher_background">#5123D4</color>`

That way when someone adds AndroidX.Core.SplashScreen.S

[2022-11-23 14:08] grendello opened #7580 "[Tests, .NET] Oddities when building Mono.Android-Tests incrementally"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Any

### Description

tbd

### Steps to Reproduce

tbd

### Did you find any workaround?

_No response_

### Relevant log output

_No response_

[2022-11-24 18:01] #2012 closed

[2022-11-24 19:04] tranb3r commented on #2012
So, is it going to be fixed or not ?

[2022-11-25 01:14] petermauger opened #7583 "MAUI Android ListView crashes app on scrolling"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.Net 7.0, VS for mac 2022 Preview, Android 29-33

### Description

[https://github.com/dotnet/maui/issues/11598](This is the detailed issue) (MAUI repo allows bug submission with sample repository).

When a ViewCell is re-used and has to use a new Handler to generate platform controls (in this cas

[2022-11-25 08:15] grendello commented on #7583
@petermauger I'm afraid you will need to reopen this issue in the https://github.com/dotnet/maui repo. Despite happening on Android, the issue has nothing to do with Xamarin.Android and we can't do anything to fix it for you. But since your workaround shows that a change of a MAUI layout is what makes it work, it's the MAUI project where the issue belongs. Alas, I cannot transfer issues across org

[2022-11-25 08:15] #7583 closed

[2022-11-25 09:17] melimion commented on #7447
vs 17.4.1 - issue still persists

[2022-11-27 22:10] petermauger commented on #7583
Is the Xamarin.Android code base where the native implementations of MAUI controls is found? The problem I'm trying to highlight here is a native code issue being an attempt to re-parent a view that is already a child of another view. Surely the Android implementation of the recycler views should be guarding against this type of thing?

[2022-11-28 06:34] liveinvarun commented on #7473
@dellis1972  Any update on when this will be fixed. Currently the release build is broken when we target .net7 based workloads for android.

[2022-11-28 07:46] grendello commented on #7583
@petermauger Xamarin.Android doesn't implement any Android controls. It generates .NET bridge that makes it possible for your application to access the actual, native, Android controls (essentially the entire Android Java API). So when you're seeing a problem with the RecyclerView and a 100% Java trace like the one above, I'm afraid you're looking at an Android issue (most likely) or a MAUI proble

[2022-11-28 10:30] dellis1972 commented on #7473
We have a fix (see https://github.com/xamarin/xamarin-android/pull/7477) just having issues getting the unit tests green so it can be merged.

[2022-11-28 14:57] jonathanpeppers commented on #7447
I tried the project above, and I'm not hitting an issue with `aapt_rules.txt`, but I get:
[code]

It looks like the core problem is that Mono's AOT compiler is having an issue with Humanizer:

[code]

It looks like the "B" here is some unicode character:

https://github.com/Humanizr/Humanizer/blob/7f80e03070f9e46cb5bc499567a95e0f54b4bdb5/src/Humanizer/Localisation/NumberToWords/GreekNumberToWordsC

[2022-11-28 16:48] jonathanpeppers commented on #2012
This issue is from 2018, I would follow the new one for updates on this: https://github.com/dotnet/maui/issues/4470

[2022-11-28 22:43] jpobst commented on #7480
A little more information on that:
- https://github.com/xamarin/java.interop/pull/1052.
- https://github.com/xamarin/java.interop/issues/1051#issuecomment-1282548008

[2022-11-29 02:46] gmck opened #7586 "Nullable enabled problem"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.5.0 Prev 1

### Description

Over the weekend I converted one of my test apps to net7.0-android33.0. I used the new project technique and then just imported everything from the old project via Add Existing Item. I initially disabled nullable and implicitUsings and then enabled nullable

[2022-11-29 03:13] jonathanpeppers commented on #7586
The code analyzer that emits `CA1416` has no idea about `Build.VERSION.SdkInt`. It is based on the `OperatingSystem` class:

https://github.com/dotnet/designs/blob/a447d77bb53d189746ccd80c2d814064c2b6c606/accepted/2020/platform-checks/platform-checks.md#platform-guards

So does an `OperatingSystem.IsAndroidVersionAtLeast(28)` check solve the problem here? I would use that anyway, as it won't have

[2022-11-29 05:13] gmck commented on #7586
@jonathanpeppers
Thanks, Jonathon for the explanation and the source
[code]
works fine.

[2022-11-29 11:14] melimion commented on #7447
@jonathanpeppers , try remove bin and obj folders and then Rebuild project. Not Build or Deploy.
Rebuild reproduces `aapt_rules.txt` issue.

If I use Build, projects builds successfully.
If I use Deploy, your issue with `Humanizer` reproduced.

[2022-11-29 11:56] dellis1972 commented on #7586
@gmck can we close this one now?

[2022-11-29 12:27] dellis1972 commented on #7447
@melimion I think this is related to the `AndroidCreatePackagePerAbi` setting.
can you try turning that off?

I think whats happening is multiple calls to `aapt2 link` are using the same file, and they are tripping over each other.

[2022-11-29 13:41] melimion commented on #7447
@dellis1972 looks like you're right, 5 rebuilds with `<AndroidCreatePackagePerAbi>false</AndroidCreatePackagePerAbi>` succeded

[2022-11-29 13:48] dellis1972 commented on #7447
@melimion ok cool good to know, I'm working on a fix 👍

[2022-11-29 14:40] akrol95 opened #7588 "Crash on startup after updating to Xamarin.Android 13.1.0.1"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Xamarin.Android 13.1.0.1

### Description

Our application started to crashing on start recently.
During investingation on our side, we found out, that the only change we recently made is change Xamarin.Android package from 13.0.0.0 to 13.1.0.1.
The app is crashing only when built in relea

[2022-11-29 15:55] grendello commented on #7588
@akrol95 could you try adding the following to your .csproj:

[code]

Your issue appears to be identical to https://github.com/xamarin/xamarin-android/issues/7352 and, if it indeed is, the above should make the problem go away. Please let me know if it worked, thanks!

[2022-11-29 16:34] #7473 closed

[2022-11-29 16:41] FoggyFinder commented on #7588
@grendello Is it possible that this issue now happens due to additional check

[code]

[here](https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/Tasks/GetAotArguments.cs#L310-L312)

Since  #6901 `--no-relax` flag applies only when `AndroidNdkDirectory` is not specified.

[2022-11-29 16:59] grendello commented on #7588
@FoggyFinder it is possible and `EnableLLVM=False` will test just that theory :)

[2022-11-29 17:17] akrol95 commented on #7588
@grendello The documentation says that the EnableLLVM flag is set to False by default, so in our case it doesn't matter if we add it or not because we didn't have it before. However I just tested it with `EnableLLVM=False` added to .csproj for release configuration and the result is the same. It's still crashing with the same logcat output.

[2022-11-29 17:22] kevcrooks commented on #7588
We had a similar issue and after playing around with the settings quite a bit, the only combination that worked for us was both `EnableLLVM=False` and removing `AndroidNdkDirectory` from the csproj/build (leaving the value unset)

[2022-11-29 17:22] jpobst opened #7590 "Fix `[SupportedOSPlatform]` warnings in `Mono.Android.dll`"
The .NET builds of `Mono.Android.dll` contain ~3K warnings apiece for `[SupportedOSPlatform]` issues:

[code]

We need to investigate these and see:
- In generated code, do we have the data to emit proper attributes
- In manual binding code, can we add the appropriate attributes
- `CA1416: ... is only supported on: .` seems a little fishy, are we doing something incorrectly

This will likely be a

[2022-11-29 17:31] grendello commented on #7588
@akrol95 the setting may come from other sources than the .csproj (it can be in the environment, or set in `Directory.Build.props` that's not part of the repo), thus it had to be tested :)

@kevcrooks yes, that might be necessary if the NDK pointed to by `AndroidNdkDirectory` uses LLVM 13 or newer (which is the case for the current NDK release). @akrol95 would you mind testing that one too?

[2022-11-29 17:41] grendello commented on #7588
The root cause of the issue is described in [this commit](https://github.com/xamarin/xamarin-android/commit/e1f2198e8a84f3e1fb17c8ee7332ee3ce475274e).

[2022-11-29 18:28] akrol95 commented on #7588
@grendello I tried with:

[code]

It's still crashing for the same reason.

[2022-11-29 20:12] grendello commented on #7588
@akrol95 did you rebuild from scratch, after removing all `bin` and `obj` directories?

[2022-11-29 20:43] grendello commented on #7588
I've tried to reproduce the issue, but the app neither crashes nor starts up, it just locks up on the splash screen. However, I see the following in the build logs:

[code]

@akrol95 would you mind building with `-bl` and then examine the binlog to find a line similar to the above and check if your build passes `--no-relax` to the linker? If the flag isn't passed, could you modify the linker scrip

[2022-11-29 21:25] akrol95 commented on #7588
Yes, I did it every time.

So for me this line (and all the rest starting with "Executing the native linker...") looks like this:
`0>[aot-compiler stdout] Executing the native linker: "/Library/Frameworks/Xamarin.Android.framework/Libraries/xbuild/Xamarin/Android/Darwin/binutils/bin/aarch64-linux-android-ld" -Bsymbolic -shared -o obj/Release/aot/arm64-v8a/libaot-Xamarin.Kotlin.StdLib.Jdk7.dll.so.t

[2022-11-29 21:31] grendello commented on #7588
Looks like your build isn't passing `--no-relax` then, ok, that's promising.

The script to edit would be `/Library/Frameworks/Xamarin.Android.framework/Libraries/xbuild/Xamarin/Android/Darwin/binutils/bin/aarch64-linux-android-ld` in your case (and, potentially, others in the same directory ending with `-ld`

[2022-11-29 21:40] gmck commented on #7586
Could you also comment on

A second problem was trying to do the equivalent of <RuntimeIdentifiers>android-arm;android-arm64;</RuntimeIdentifiers> within Application Properties - it doesn't seem possible.

[2022-11-29 22:17] akrol95 commented on #7588
Thank you for clarification.
I modified all those scripts, build the app again and it opens and runs properly.

But what's next? What else can I check to have this `--no-relax` parameter passing to linker in normal conditions?

[2022-11-29 22:47] jonathanpeppers commented on #7586
You should be able to click the project to edit the `.csproj` in the XML editor, and do:
[code]
I would only set these for `Release` mode, as `Debug` mode (Fast Deployment) will already use a single RID that works with the selected device.

If you want to suggest a feature for project options UI (the IDE), you can use:

https://developercommunity.visualstudio.com/

Thanks!

[2022-11-29 22:47] #7586 closed

[2022-11-29 23:17] grendello commented on #7588
You can try adding the below property to your csproj, hopefully it works:

[code]

[2022-11-30 06:39] gmck commented on #7586
@jonathanpeppers
Could you post links of where to find info like the above, e.g. the condition you added to the RuntimeIdentifiers? Everything, I've read so far refers to net6, I can't find specific stuff on net7

[2022-11-30 16:39] akrol95 commented on #7588
@grendello I am getting following error and the build crashes:

[code]

[2022-11-30 17:41] #7532 closed

[2022-11-30 18:30] grendello commented on #7588
@akrol95 OK, so that didn't work... I'll try to think about some other approach.

[2022-11-30 19:00] grendello commented on #7588
@akrol95 we tested Xamarin.Android 13.1.0.1 locally and it built your app properly. I'm afraid we're going to need a binlog from one of your builds (pass `-bl` to msbuild), to see what exactly is going on. Please build from scratch, thanks!

[2022-11-30 19:07] jonpryor commented on #7588
I'm unable to reproduce the specified crash on macOS using Xamarin.Android 13.1.0.1:

[code]

`b.txt` shows that `--no-relax` *is* being used, e.g.:

[code]

Additionally, `EnableLLVM` is not found in `b.txt`, and `$(AndroidNdkDirectory)` *is* set.

That said, the app *does* crash on startup, but for a different reason; from `adb logcat`:

[code]

I haven't investigated my startup crash further, I

[2022-11-30 19:16] jonpryor commented on #7588
@jonpryor [wrote](https://github.com/xamarin/xamarin-android/issues/7588#issuecomment-1332610361):

Cursory investigation shows that it fails because the type doesn't exist:

[code]

`git grep BmmMessagingSer` only finds a match in `BMM.UI.Android/Properties/AndroidManifest.xml`.  If I remove/comment out all `<service/>` elements within `AndroidManifest.xml` and reinstall.  With that change, it do

[2022-11-30 19:54] jamers99 opened #7595 "Cannot build Android APK after updating Visual Studio"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.4.1

### Description

We're running this command to build our Android APK in a pipeline:
msbuild.exe "C:\Repos\Eagle\Features\MyEbms\MyEbms\Mobile\MyEbms.Mobile.Android\MyEbms.Mobile.Android.csproj" /nologo /nr:false /t:"Clean" /p:configuration="Release" /t:PackageForAndroid

Bu

[2022-11-30 20:57] jonpryor commented on #7588
@akrol95: the likely immediate cause of your issue is: https://github.com/bcc-code/bmm-app/blob/3c498d48f66994a00168f054a68c56aa726235fa/azure-pipelines-android.yaml#L43

[code]

MSBuild command-line arguments are *immutable*; they cannot be changed from project files.  For example, given `x.targets`:

[code]

If you invoke the `PrintFoo` target while overriding the `Foo` property, the value provi

[2022-11-30 21:09] grendello commented on #7590
Context: https://github.com/xamarin/xamarin-android/commit/700446703a262f32e379a853aac2ab19628c4a79

[2022-11-30 22:54] jamers99 commented on #7595
I verified that removing Telerik fixes the problem, but we obviously need that. Is there any more logs that would be helpful in diagnosing this? I'm **_unable_** to reproduce this by just making a new project and adding Telerik...