[2022-03-07 10:28] dellis1972 commented on #6815
This is a duplicate of https://github.com/xamarin/xamarin-android/issues/6652.
The IDE team have been informed and are investigating the issue.

[2022-03-07 10:28] #6815 closed

[2022-03-07 14:44] jonathanpeppers commented on #6809
@jpobst / @moljac would you know if there is something new about these libraries?

[code]

Would these be something new where you define [`<uses-library>`](https://developer.android.com/guide/topics/manifest/uses-library-element) for these in your `AndroidManifest.xml`? We might need to add some build-time support for this.

[2022-03-07 14:59] dellis1972 commented on #6809
We are tracking this in https://github.com/xamarin/xamarin-android/issues/6652. The IDE team have an internal ticket which they are working on. I'll keep #6652 as up to date as I can.

[2022-03-07 15:18] moljac commented on #6809
@conceptdev Would you be so kind and help? Do you have any experience with this?

[2022-03-07 15:26] Brosten opened #6816 "Runinng Xamarin UITests with Archive made in VS2022 not working"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 17.1.0

### Description

I create an .apk file with Android-project > Archive...
Then I use this to run Xamarin UITests with.

This works perfect if the archive is made with VS2019

With VS2022, I get the following error:
  Message: 
System.Exception : Mono Shared Runtime is not support

[2022-03-07 15:38] dellis1972 commented on #6816
This looks like a bug in https://github.com/xamarin/Xamarin.UITest. Your apk is probably using the assembly blob by default which means the apk will not contain things like `libmonoandroid.so` . So it thinks its a shared runtime build.

https://github.com/xamarin/Xamarin.UITest will need to be updated to support our newer package formats.

[2022-03-07 15:57] jonathanpeppers commented on #6816
A workaround is to set `<AndroidUseAssemblyStore>false</AndroidUseAssemblyStore>` in the configuration you are using with Xamarin.UITest.

I would still try to keep this on for builds sent to app stores, though. It will improve your startup performance.

[2022-03-07 15:58] dellis1972 commented on #6816
@Brosten can you confirm my hypotheses by providing a list of the contents of the apk ? my guess is it won't contain the files expected in https://github.com/xamarin/Xamarin.UITest/blob/d28cf144b9094fbaade6719d91852ec5cce6d8a7/src/Xamarin.UITest.Shared/Android/ApkFile.cs#L208

[2022-03-07 16:03] dellis1972 commented on #6816
So it looks for `libmonodroid.so`,`mscorlib.dll` or `libmonodroid_bundle_app.so`

[2022-03-07 19:27] jpobst commented on #6809
I cannot find these types in any of Google's AndroidX packages:
- `androidx.window.extensions.WindowExtensions`
- `androidx.window.extensions.embedding.ActivityEmbeddingComponent`

[2022-03-07 19:33] jpobst commented on #6816
There was discussion about this here: https://discordapp.com/channels/732297728826277939/732297837953679412/928429974363459604

[2022-03-07 20:07] conceptdev commented on #6809
It's my understanding that the sidecar and extensions code are what we ship on device (ie. Surface Duo), to provide the OEM-specific implementation of the Window Manager dual-screen/foldable API surface. Other OEMS (like Samsung) would ship their own packages (again, in their OS).

Android native (Kotlin/Java) apps that consume AndroidX Window Manager do not reference these libraries via gradle. N

[2022-03-07 20:37] jonathanpeppers commented on #6809
@jpobst do any of the `.aar` files contain an `AndroidManifest.xml` file with new `<uses-library/>` entries?

[2022-03-07 20:43] jonathanpeppers commented on #6809
Previously these would map to `.jar` files in `C:\Program Files (x86)\Android\android-sdk\platforms\android-32\optional`:

![image](https://user-images.githubusercontent.com/840039/157114730-11a2c447-6fe5-40da-8a85-f6d80b00f003.png)

So I don't understand where these come from now...

[2022-03-07 23:04] gmck commented on #6809
@jonathanpeppers, @dellis1972, @jpobst

From the comments above, it would seem that the androidx.window stuff is being addressed, however, there has been no mention of the conflict between the two versions of System.Numeric.Vectors or has it been addressed in another issue?

[2022-03-08 03:40] jonathanpeppers commented on #6809
The solution for this one is to use .NET 6 unfortunately. The problem here is that Mono has a different version of this assembly, and some package is trying to bring in a newer version from NuGet.

[2022-03-08 05:50] Brosten commented on #6816
@jonathanpeppers : Thank you! I can confirm that running with <AndroidUseAssemblyStore>false</AndroidUseAssemblyStore> solved the issue.

@dellis1972:
![image](https://user-images.githubusercontent.com/10629345/157174460-e8f6f8c8-6d3b-4644-9f76-a6673959b806.png)
This is the content of the root level of the apk.
libmonodroid.so exists in the lib\<env> folder
mscorelib.dll exists in the assemblies f

[2022-03-08 07:58] elOG8 commented on #6517
Hellow, any news how to implemente Splash Screen on Xamarin Android 12 (API 31)..... Thanks

[2022-03-08 09:54] dellis1972 commented on #6816
The fact that `AndroidUseAssemblyStore` fixes the issue confirms my theory.
I'll do a PR for UITests

[2022-03-08 10:22] dellis1972 commented on #6816
For reference there are two PRs

https://github.com/xamarin/Xamarin.UITest/pull/1549
https://github.com/xamarin/Xamarin.UITest/pull/1544

[2022-03-08 14:00] redradist commented on #6472
@jonpryor Does it mean that now I can develop Android application on Ubuntu without any hack ?
If yes, then is there some example ?

[2022-03-08 20:55] queequac commented on #6777
@jonathanpeppers Seems the fix didn't make it into 17.1.1 (released as of today), the issue is still available there. :(

[2022-03-08 20:56] jonathanpeppers commented on #6777
@queequac yes, it is in a future 17.2 release.

[2022-03-08 21:23] queequac commented on #6777
@jonathanpeppers Whaaat? So this stays broken for several weeks or even months, even though you were able to fix it nearly immediately? 😱 Why is this only possible through the next minor version release?

[2022-03-09 01:29] jonpryor commented on #1443
@claudioredi: yes, this was released as part of Visual Studio 16.1 / [Xamarin.Android 9.2](https://docs.microsoft.com/en-us/xamarin/android/release-notes/9/9.2).  See also:

  * https://docs.microsoft.com/en-us/xamarin/android/deploy-test/building-apps/build-properties#androidenablepreloadassemblies
  * https://github.com/xamarin/xamarin-android/commit/b90d3ab717cbfd38b2e6a307b4387d2d6cf04af8
  *

[2022-03-09 08:07] Cheesebaron commented on #6472
Have you tried: `dotnet workload install android`?

[2022-03-09 08:13] rokups commented on #6472
Something does not quite work. Looks like some package can not be found.

<details>

[code]

</details>

[2022-03-09 11:36] SwaLLoweD commented on #6472
In my experience, minimum dotnet version 6.0.2 is needed for android workload installs.. And as a side note, on arch-linux, even though the package versions are 6.0.2, the real installed dotnet version is actually 6.0.102 (something is not right with arch packages, don't know about ubuntu).. I had to manually download and install the up-to-date package from dotnet site, and then "dotnet workload i

[2022-03-09 17:44] jonathanpeppers opened #6822 "Port GREF logging to .NET 6+ EventSource infrastructure"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

The .NET Podcast app shows `dotnet trace` output for:

![image](https://user-images.githubusercontent.com/840039/157499696-248942b8-73c7-43d3-8b5e-b741d41792cb.png)

https://github.com/xamarin/xamarin-android/blob/af2875138afada68a870cc803c3e8dcd2e85ff6f/src/Mono.Android/A

[2022-03-09 17:46] jonathanpeppers commented on #6822
FYI this an idea for the future.

[2022-03-09 18:26] redradist commented on #6472
@Cheesebaron

I've tried and it is working !! Android workload for Linux is finally exists !!
I waited for it for years !!

But I've faced with another issue ... When I create project during compilation I have the following error:
[code]

Is there a special way of creation of application ??

[2022-03-09 18:37] redradist commented on #6472
@SwaLLoweD Do you have example of creation application on Linux ?
I was able to install android workload, but unfortunately created application is not compiled !!

[2022-03-09 18:38] Cheesebaron commented on #6472
@redradist perhaps if you set the environment variable: `ANDROID_SDK_ROOT` to the root of the android sdk folder. Additionally you may also need to set the `JAVA_HOME` variable.

[2022-03-09 18:38] SwaLLoweD commented on #6472
You do need android sdk installed somewhere.. I install and manage it through android studio on linux.. And then, you do add "AndroidSdkDirectory=/<pathtosdkdir>" environment variable to the dotnet build/run commands... There used to be some xamarin-android way to automatically do that on linux.. By editing and adding a few lines to the .csproj file.. I don't know if that still works.. I just adde

[2022-03-09 18:49] redradist commented on #6472
@Cheesebaron @SwaLLoweD Thanks !!
When I added `AndroidSdkDirectory` project was able to compile !! I cannot believe !! I waited for so long ...

Guys, one addition question, how to upload the application on my Android phone using dotnet command line ?
And is there a way to debug a build application for example using VS Code ?

[2022-03-09 19:29] SwaLLoweD commented on #6472
After connecting adb (manually if necessary), dotnet run command should deploy the apk on the connected device, that should be easy to set up and should work for anything..

As for debugging: I can debug a maui application on an android emulator fine with vscode, but it's not that easy to describe the setup, there are guides online though.. You need to build the project with "AndroidAttachDebugger

[2022-03-09 19:42] redradist commented on #6472
@SwaLLoweD You are right !!
It do not work from `Rider`, but it works from command line with just `dotnet run` !! It is unbelievable ...
Guys how to choose virtual devices using `dotnet` command line ?

[2022-03-09 20:08] SwaLLoweD commented on #6472
Rider has no support for dotnet 6 xamarin or maui parts yet.. It simply does not work.. The xamarin support rider has is for the older dotnet sdks, and you have to compile xamarin-android from source to make them work.. It does not understand net6-android target or any xamarin or maui target yet and the current eap has no developments on that front either.. So, it seems like it will be quite a whi

[2022-03-10 11:32] muellnes commented on #6668
@dellis1972 Hi sorry for the long wait.
While doing the test project we found out a solution/workaround for our issue.
First we already had the following workaround for some previous RESx issues in the Droid.csproj:

`
<Target Name="_ResolveSatellitePaths" DependsOnTargets="_ResolveAssemblies">
    <ResolveAssemblyReference AllowedAssemblyExtensions="$(AllowedReferenceAssemblyFileExtensions)" Asse

[2022-03-10 12:47] ianmichaelbrown commented on #5809
Hi, just wanted to add a note here as I have just been having a similar problem and managed to fix it a different way.  I've created a class in Xamarin which implements an interface contained in a Java binding library.  The interface derives from IJavaObject and IJavaPeerable, so my class has to satisfy their implementations.  Deriving my class from Java.Lang.Object did not work, specifically as I

[2022-03-10 14:32] jpobst commented on #5809
This seems fishy, as `Java.Lang.Object` implements `IJavaPeerable`:
https://docs.microsoft.com/en-us/dotnet/api/java.lang.object

[2022-03-10 14:57] dellis1972 commented on #6668
@muellnes I don't know if this helps, but `SignAndroidPackage` has build dependencies on both `Build` and `PackageForAndroid`. So you shouldn't really need to provide all three.

The following should work `msbuild droid.csproj  /t:SignAndroidPackage` and produce the required outputs.

[2022-03-10 14:59] dellis1972 commented on #6668
I tend to use `msbuild droid.csproj /restore  /t:SignAndroidPackage` a my goto command line these days :D

[2022-03-10 20:56] soroshsabz commented on #1261
Please reopen this issue, I think this problem is exist until now

[2022-03-10 23:12] Nikola43 commented on #4688
works for me

[2022-03-11 14:40] jedusei commented on #6517
Hi everyone!
I've been able to create a bindings project for the AndroidX SplashScreen compat library (core-splashscreen-1.0.0-alpha02.aar).  You can check it out [here.](https://github.com/jedusei/AndroidX.Core.SplashScreen) You can use this until the Xamarin team releases an official binding library. You just have to build the project in Release mode & add the output DLL as a reference to your A

[2022-03-11 18:36] Giorgi commented on #6004
@jonathanpeppers I can download the log files that AppCenter provides but I don't know if it's diagnostic log or not. Can I share the log files privately to you?

[2022-03-11 18:42] jonathanpeppers commented on #6004
You could also try a local build and do `msbuild YourAndroidApp.csproj -restore -t:SignAndroidPackage -bl`. This will put a `msbuild.binlog` file in the current directory.

You can use my email address listed on a Github account.

[2022-03-11 19:55] Giorgi commented on #6004
@jonathanpeppers I checked dependencies and it looks like https://www.nuget.org/packages/Plugin.FirebasePushNotification depends on [Xamarin.Android.Support.v4](https://www.nuget.org/packages/Xamarin.Android.Support.v4/) (>= 28.0.0.3) Is there any workaround I can use to get rid of this error?

[2022-03-11 20:02] jonathanpeppers commented on #6004
I would update that plugin to use AndroidX or replace it?

[2022-03-11 21:41] FirasAbdennadher commented on #3896
try to change the android package format to bunndle , then remove the use fast deployment and linking to none , and change your path location for archives.

[2022-03-11 23:15] jonpryor opened #6825 "Support C#9 top-level statements?"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

C# 9 added support for [top-level statements](https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/program-structure/top-level-statements), which are used in the default `dotnet new console` template:

[code]

Can these be supported at all in .NET SDK for Android?

[2022-03-11 23:58] Redth commented on #6825
/cc @mhutch

[2022-03-13 14:36] uholeschak commented on #6652
After updating to VS17.1.1 the problem still persist.
Closing the solution and reopening every time before deployment fixes the problem, but this is no solution ...

[2022-03-13 14:51] EmilAlipiev commented on #3948
I dont really understand this DeveloperCommunity. Most developers like me have no fun to create ticket there even we see critical issues. Because we know that 70% of the time basic ticket is closed with not enough information.
How this ticket is simply closed there boggles me. What more information they need i wonder really. Just open a simple project, open designer and change to 454x454 device an

[2022-03-13 18:01] EmilAlipiev commented on #4853
is it today still 17 not supported? we should keep the jdk 11 and is it now advised to use Microsoft Own build Jdk 11?

[2022-03-13 19:45] EmilAlipiev commented on #3948
quick workaround. After spending a few hours and reinstalling VS I found out that this setting is stored in the Project settings
inside the csproj.user file in your projects solution there is a setting called

`    <AndroidDesignerPreferredDevice>wear_round_454</AndroidDesignerPreferredDevice>
`
Change this one to

 `   <AndroidDesignerPreferredDevice>wear_round_360_300dpi</AndroidDesignerPreferre

[2022-03-14 12:31] akoeplinger commented on #5361
In addition to the managed code, a lot of the related native code e.g. https://github.com/xamarin/xamarin-android/blob/65afc11e5fa1805902cd3431a0548bc59a2247cd/src/monodroid/jni/xamarin_getifaddrs.cc can be removed as well.

[2022-03-14 13:39] jonathanpeppers commented on #4853
@EmilAlipiev the latest Android Studio still uses Java 11:
[code]
We can't really support new JDKs until the underlying Android tooling does.

Is there a problem you're having that needs JDK 17? Can you file an issue with more details?

[2022-03-14 16:06] xDaijobu opened #6828 "error : java.lang.RuntimeException: com.android.tools.r8.CompilationFailedException"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VSMac Preview 17.0 build 7303 Xamarin.Android 12.2.99.75 Using AndroidX or Support Libraries: net6-android

### Description

    <PackageReference Include="Xamarin.AndroidX.Core" Version="1.7.0" />
    <PackageReference Include="Xamarin.AndroidX.Camera.Lifecycle" Version="1.0.2.3" />
    <PackageR

[2022-03-14 18:22] #6802 closed

[2022-03-14 18:22] #6796 closed

[2022-03-15 13:57] jedusei commented on #6517
@iBobb No I didn't experience that issue. Are you using a vector drawable for the splashscreen icon? If not, please do so. The drawable must conform to specific dimensions, as described in the [docs.](https://developer.android.com/guide/topics/ui/splash-screen#splash_screen_dimensions)

[2022-03-16 06:30] softlion commented on #3332
It should. Is it not working ? The try WebRequest.DefaultWebProxy instead of WebRequest.GetSystemWebProxy()

[2022-03-16 11:33] zhuweihua163 opened #6834 "compile error when convert aar to dll"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2019 win10 64bit

### Description

I want to convert an aar library to dll file。There are some errors during build solution：

![图片](https://user-images.githubusercontent.com/7005876/158566072-ff305a18-4c71-4182-9aa3-cec4de356f0f.png)

I try to edit Metadata.xml file, but it doesn't work.

[2022-03-16 16:31] shweta1915 commented on #6351
Any update on this issue?

[2022-03-17 08:57] stefanoberdoerfer opened #6838 "AGP4.1.0 with minification enabled prevents Monodroid from finding assemblies"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2019 for Mac 8.10.20, Xamarin.Android 12.0.03

### Description

I have rather complex build setup for an android app which basically consists of a native kotlin/java android app fused together with a Xamarin/Mono build in order to include an important C# library directly into the native

[2022-03-17 14:17] jpobst commented on #6834
You will need to compare the generated C# code to see what the interfaces look like, and what the implementations look like.

The method signatures for the interface and implementation of `SetConnectionStatusCallback` are not matching, and you will need to use metadata to make them match.

[2022-03-17 18:47] grendello opened #6840 "Strip AOT shared libraries when packaging"
https://github.com/xamarin/xamarin-android/pull/6683 introduced LLVM-based toolchain and it appears that the debug data generated during build is much bigger than before.
We should probably strip AOT (and perhaps other) .so libraries on packaging time.

[2022-03-17 18:53] grendello commented on #6840
Alternatively, we can pass `-S` via the `LdFlags` property of the `AotCompiler` task

[2022-03-17 19:44] jonathanpeppers commented on #6840
Radek add this at one point:

https://github.com/xamarin/xamarin-android/blob/dccda9898170e7fe979fd7f3e1811061a9b19af7/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.AssemblyResolution.targets#L212-L227

So AOT `.so` files aren't going through here?

[2022-03-17 19:48] mattleibow opened #6841 "Use the interpreter by default for Debug (UseInterpreter=True)"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

All

### Description

Set `$(UseInterpreter)` to `True` by default for debug builds of apps.

iOS issue: https://github.com/xamarin/xamarin-macios/issues/14445

[2022-03-17 20:53] grendello commented on #6840
It appears it only affects framework libs? I think adding `-s` to `LdFlags` would be faster - we'd save running `strip` X times

[2022-03-18 21:43] #6729 closed

[2022-03-18 21:43] #6841 closed

[2022-03-19 12:57] uiuxexplorer commented on #6720
Hi All,

This issue can be handled using scaling factor of Xamarin Android (View / Layouts)

ScaleX / ScaleY

Cheers.

[2022-03-21 17:54] vsfeedback opened #6846 "Android project cannot call http nor websocket services via TLS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Android-project-cannot-call-http-nor-web/1695614)._

---
I have moved my VS to a new Mac M1 - and in doing so I had to recreate Android emulators (running ARM - fast!!).

However, when I call information using TLS (either an image via https or a database sync. via wss) it fails with info

[2022-03-21 18:43] vsfeedback opened #6847 "failed to open directory: The system could not find the file specified (Xamarin Forms)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/failed-to-open-directory:-The-system-cou/1681800)._

---
My project was working fine, I hadnt changed anything it was a new mobile app project. Then I went to Tools > Command Line > Developer Command Prompt run msbuild -t:BuildAndStartAotProfiling command and then msbuild -t:FinishAotPro

[2022-03-22 08:10] truff77 commented on #6600
Hi every one,
I just saw that visual studio 17.2 Preview 2 has been released. I can't see in the Changelog any information related to Xamarin update. Can someone confirm that this fix is included please ?
Thanks in advance !

[2022-03-22 18:00] #6840 closed

[2022-03-22 19:32] dgerding commented on #4731
THANKS!

[2022-03-23 02:32] jonathanpeppers commented on #6794
I think this is duplicate of: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1419296

Which (might?) be caused by: https://github.com/xamarin/vsmac-xamarin-extensions/pull/1074

It is reported fixed in VS Mac 17.0 Preview (17.0.0.7922) or newer.

[2022-03-23 02:32] #6794 closed

[2022-03-24 07:52] Auto72 opened #6852 "Found conflicts between different versions of "System.Net.Http" that could not be resolved."
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.1.2

### Description

I have a Xamarin Android project (target Android 12) that uses the following two NuGet packages:

Microsoft.Azure.CognitiveServices.Vision.Face 2.8.0-preview.2
Microsoft.Azure.CognitiveServices.Vision.Face.Models 2.8.0-preview.2

And I get the following war

[2022-03-24 08:58] kerberosargos commented on #4731
@brendanzagaeski Thank you very much for your help

[2022-03-24 13:36] ognamala commented on #6632
Hey everyone, has there been any update on this issue since end of January? Thanks !

[2022-03-24 13:52] jonathanpeppers commented on #6632
@ognamala can you share a sample project that hits this issue? We would need to construct a repro from that to send to Google.

[2022-03-24 15:35] ognamala commented on #6632
@jonathanpeppers unfortunately this is currently happening on a work repo which I cannot share, I will try to see if I can create a mock repo to share

[2022-03-24 20:54] MagicAndre1981 commented on #6852
the nugets have an issue, for net standard 2.0 the System.Net.Http should not be needed

[2022-03-24 20:59] jonathanpeppers commented on #6852
@Auto72 did you not want to file this issue here? https://github.com/mono/mono/issues

I'm not sure we can do anything to solve this problem.

[2022-03-24 22:50] eerhardt opened #6854 "AndroidMessageHandler queues unnecessary Task in SetupRequest"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Maui main

### Description

When profiling the [Maui .NET Podcasts app](https://github.com/microsoft/dotnet-podcasts/tree/main/src/Mobile), I'm seeing a few Threads getting spun up. Looking at one of them, this method sticks out:

https://github.com/xamarin/xamarin-android/blob/b3cb3a9e49bbffed4fd

[2022-03-25 06:29] Enbi-Zhang commented on #6808
@jonathanpeppers  on this https://developercommunity.visualstudio.com/t/Unable-to-deploy-or-archive-release-vers/1694213, the customer work on VS17.1.1. still encouter this issue.
Also I provided the workaround you metioned above to them, but still cannot solve his issue, could you take a look?

[2022-03-25 08:05] truff77 commented on #6600
@jfichtner @jonpryor thank you !

[2022-03-25 10:05] roberto-sartori commented on #6587
Hi @lambdageek  , thank you for the information.
We have setup the debug session with Android Studio. We loaded the library with the debug symbols following [Option C: Manually load the library with symbols](https://github.com/xamarin/xamarin-android/blob/main/Documentation/workflow/DevelopmentTips.md).

We noticed, on different setups, that in this case the application freezes much more frequentl

[2022-03-25 12:45] AndreasSummer commented on #6652
Have the same Problem with 17.1.2.

[2022-03-25 13:56] #6854 closed

[2022-03-26 16:24] Muhammadfaizann opened #6864 "Invalid version code in AndroidManifest."
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.1.2

### Description

Invalid `android:versionCode` value `42000000072` in `AndroidManifest.xml`. It must be an integer value.

### Steps to Reproduce

I have no idea how it might be reproduce

### Did you find any workar

[2022-03-26 18:31] arivoir opened #6865 "Default application crashes"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Xamarin.Android SDK 12.2.99.130

### Description

When running a native Android application in a real device the app doesn't load

### Steps to Reproduce

1. Create an empty "Android Application (Preview)"
2. Run the application in a real device

### Did you find any workaround?

No

### Relevant

[2022-03-26 18:33] arivoir commented on #6865
I'm attaching the repo sample, which is an empty project, just in case
[AndroidApp6.zip](https://github.com/xamarin/xamarin-android/files/8356117/AndroidApp6.zip)

[2022-03-26 18:34] arivoir commented on #6865
The application loads fine in the emulator

![image](https://user-images.githubusercontent.com/17496741/160252708-757d00cd-428a-4cb8-89ea-f5595748a9ea.png)

[2022-03-26 18:37] arivoir commented on #6865
[2022-03-26_15-26-04.24200.monodroid.log](https://github.com/xamarin/xamarin-android/files/8356126/2022-03-26_15-26-04.24200.monodroid.log)
I'm wondering whether this error is related or not

[2022-03-26 18:42] arivoir commented on #6865
Is there any way to use a preview working SDK? this is completely blocking me

[2022-03-26 19:35] #6864 closed

[2022-03-27 08:52] AdamDiament commented on #3520
Same error on azure dev ops with windows-2019 build agent. It works fine on classic pipeline, when I copied to YAML, making no changes I get

[code]

[2022-03-27 19:23] uholeschak commented on #6652
Yes the problem still persist in 17.1.2. Only closing and reopening the solution before every deployment helps.

[2022-03-27 22:54] EmilAlipiev commented on #5234
I am still getting this error using Jdk 11 and Build tools greater than 3.0.3. Interesting thing is that it only with VS2019 but works for VS22pre although both have same settings.

<img width="287" alt="image" src="https://user-images.githubusercontent.com/10422347/160304607-3173f398-884a-4e4e-ba71-7839756d9eb6.png">

[2022-03-28 04:15] highwingers commented on #6652
having same problem with VS 2022. I downloaded SyncFusion UI tools. and now i dont know how to deploy to my device. i cant open and close after every change.

[2022-03-28 04:31] dzeping96 opened #6866 "AppDomain.CurrentDomain.FirstChanceException didn't get trigger"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2019 16.11.10, Xamarin 16.11.000.197, Xamarin.Android SDK 12.0.0.3

### Description

I trying to achieve global exception handler with [AppDomain.CurrentDomain.FirstChanceException](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.firstchanceexception?view=netframework-4.8)

[2022-03-28 05:01] ledoods commented on #6652
Chiming in to add that issue exists even in Version 17.2.0 Preview 2.1.

[2022-03-28 05:08] highwingers commented on #6652
any workaround for this? i even re-installed visual studio 2022 and then downloaded the latest version. same error about Deployment failure.

[2022-03-28 06:18] Manthazar commented on #1261
Yeah, same here. None of the options this or related issues worked.

[2022-03-28 06:30] 1Siger1 commented on #6004
I have the same problem as @claudioredi. I am using Azure DevOps for CI builds on hosted by Microsoft mac's. The problem appears randomly, but in logs it always looks almost the same:

`"/Users/runner/work/1/s/src/App/xxx/xxx.csproj" (Restore;Build;PackageForAndroid target) (1) ->
(_CompileResources target) ->
  /Users/runner/work/1/s/src/App/xxx/obj/Release/lp/184/jl/res/values-kk/values.xml(1):

[2022-03-28 07:48] grendello commented on #6865
Hi @arivoir, I will need more information from logcat. Can you run the app on device again and record logcat using the following commands:

[code]

Please attach the resulting logcat.txt

[2022-03-28 08:01] uholeschak commented on #6652
I only close the solution, but keep the VS open, and then reopen the last solution again. This is faster.

[2022-03-28 08:16] dellis1972 commented on #6652
The internal Bug for VS has been marked as Resolved. Looking at the bug properties, they are planning to release this in 17.1 Preview 3.

[2022-03-28 13:18] jonathanpeppers commented on #6004
@1Siger1 and have you completely migrated to AndroidX? No usage of `Android.Support.*`?

This can also be one of your NuGet packages if not in your project -- the easiest way to check would be to look at your `obj/project.assets.json`

[2022-03-28 13:23] arivoir commented on #6865
There it is [logcat.txt](https://github.com/xamarin/xamarin-android/files/8363072/logcat.txt)

Please let me know if I need to make something else. TIA

[2022-03-28 13:32] jonathanpeppers commented on #5234
@EmilAlipiev this issue is two years old, can you open a new issue?

In this case, it looks like this might be an IDE issue, so you'll get a quicker response/fix by using the Send Feedback button in VS for that.

[2022-03-28 13:59] jpobst commented on #6866
Confirmed.  This appears to be a known bug in Mono, which is tracked here:
https://github.com/mono/mono/issues/21111

[2022-03-28 13:59] #6866 closed

[2022-03-28 14:05] grendello commented on #6865
@arivoir what device are you running it on? The crash shows it's a 32-bit ARM process, but I can't find any info about the device. The error appears to be in the runtime, likely a JIT error, but it might also be something else. Are you using hot reload/fast dev?

[2022-03-28 20:43] highwingers commented on #6652
how do you close solution?

[2022-03-28 20:44] highwingers commented on #6652
404 page not found

[2022-03-28 20:50] uholeschak commented on #6652
From the file menu.

[2022-03-28 22:49] highwingers commented on #6652
I restored my windows to last week..i am still on 17.1.2 and somehow no more errors.

[2022-03-29 09:15] dellis1972 commented on #6652
Its a private repo. That link is there for reference so we can close this issue once the fix has been released.

[2022-03-29 11:24] EmilAlipiev commented on #5234
@jonathanpeppers my problem seems to be solved. I am not sure what exactly it solved but i have jdk 11 installed and using build tools as follows. I am not sure if i need 30.x.x version or i can only use 32 version. I am guessing only having 32 making problem for some project types

<img width="485" alt="image" src="https://user-images.githubusercontent.com/10422347/160600877-0d0eba24-4247-47c2-b0

[2022-03-29 15:10] venkatsunilm commented on #5624
Following the above link worked after restarting the Visual Studio, and running the clean command.

[2022-03-29 16:46] jonpryor opened #6875 "Need to warn about bridge-implementation=old"
The dotnet/runtime team plans on removing the `old` GC bridge implementation.

Xamarin.Android & .NET 6 should look for `MONO_GC_PARAMS=bridge-implementation=old` and warn appropriately that the `old` GC bridge will be gone with .NET 7.

[2022-03-31 17:43] sisaacks commented on #6517
Does anyone know when the Xamarin team is going to release a fix for this?  Since Android 12 my splash screen is now the app icon with a white background.  I would at least like to remove the white background but not sure how.  I would prefer to have my original splash screen.  I am still currently in development so.....its not crucial but we are getting ready to release soon.....

[2022-03-31 18:02] jpobst commented on #6517
We intend to bind the library when Google completes it and marks it stable.  Unfortunately, we do not know when that will be, but it looks like they are getting closer.

Google's Maven repository:
https://maven.google.com/web/index.html?q=splash#androidx.core:core-splashscreen

[2022-03-31 18:06] sisaacks commented on #6517
@jpobst is there anything I can do until then?  I am assuming you sent me the link so that I could use it for something?

[2022-03-31 18:08] jpobst commented on #6517
The link is simply so you can see when Google releases new versions.

Until then you can use the solution(s) in this issue.

[2022-03-31 18:13] sisaacks commented on #6517
@jpobst can you give me more information on the one you suggested at the top?  Is there a place I can go to follow instructions?

[2022-03-31 18:59] vsfeedback opened #6888 "LibraryProjectZip option is missing from Build Actions in Xamarin.Android Binding project in VS 2022 Version 17.2.0 Preview 2.0"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/LibraryProjectZip-option-is-missing-from/10000273)._

---
[severity:I'm unable to use this version] [regression] [worked-in:2019 enterprise]
**LibraryProjectZip** option is deleted from Build Actions in **Xamarin.Android** Binding Library project in **VS 2022 Version 17.2.0 Preview 2.0**

[2022-03-31 19:30] jonathanpeppers commented on #6888
These are defined here:

https://github.com/xamarin/xamarin-android/blob/d6ae9beaf9bffcae26f44a7778f9083bd970a085/src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.AvailableItems.targets#L49-L57

So I'm confused on how `EmbeddedJar` would show in the list, but not `LibraryProjectZip`.

It's showing up for me at the bottom:

![image](https://user-images.githubusercontent.com/8

[2022-03-31 20:49] Falco20019 commented on #5584
It reappeared for me after the VS2022 update and I ran into it again. As well as two other colleagues... we have quite long file names where we have no influence on them. So shortening is the only option we have.

Would be great if this could be fixed in the future.

[2022-04-01 00:03] #6875 closed

[2022-04-01 07:05] SpawnSP2 commented on #6652
VS updated today to 17.1.3, but the problem still persists.

[2022-04-01 07:36] gmck commented on #6652
@dellis1972
The problem still persists in 17.2.0 Preview, so I wouldn't expect any earlier version to fix it. At least @uholeschak suggestion is much faster than closing VS and starting again. Are you sure that wasn't a typo re the internal bug etc...

[2022-04-01 07:51] dellis1972 commented on #6652
It looks like the bug was label incorrectly :( I've asked the UI team for an update.

[2022-04-01 11:32] symibsoft commented on #6652
Same for me. VS updated today to 17.1.3, but the problem still persists.

[2022-04-01 16:15] venkatsunilm commented on #6463
I have VS 2022 in Windows machine. V17.1.3
I have updated Androidx and XF etc to the latest available PFB the complete details.
Hi, I have used Exported = true in SplashActivity and in AndroidManifest in activity attribute as mentioned above.
The problem is resolved when i delete the bin and obj folder but when i compile again i cannot install in the devices which is running above API 30 but no is

[2022-04-01 16:21] awesome1128 commented on #6463
It sounds good!
I will try with your solution and let you know.
Thanks for your updates!

On Sat, Apr 2, 2022 at 12:15 AM venkatsunilm ***@***.***>
wrote:

[2022-04-01 16:27] highwingers commented on #6652
Never mind the windows restore trick. Problem came back.

[2022-04-01 16:27] highwingers commented on #6652
Please keep us posted.

[2022-04-01 18:43] awesome1128 commented on #6463
Fixed!
Thanks.

On Sat, Apr 2, 2022 at 1:02 AM Jonathan Peppers ***@***.***>
wrote:

[2022-04-02 14:29] cosminstirbu opened #6892 "Build fails when referencing Xamarin.Firebase.Messaging"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

6.0.201

### Description

Create a new Android app using `dotnet new android` and add a nuget reference to `Xamarin.Firebase.Messaging` which supposedly is compatible with `net6.0-android31.0` as per https://www.nuget.org/packages/Xamarin.Firebase.Messaging/

[code]

Run `dotnet build`.

Notice a

[2022-04-03 17:30] Manthazar commented on #6652
I actually noticed that if you try often enough, at some time it starts to work again o.O.
Also, changing the Droid project causes this issue almost certainly while changing content in the xamarin project is not.
Sometimes it seems to help to add a space somewhere in the droid project (even in c# parts) -maybe the rebuild and deploy is then having a different timing...

[2022-04-04 15:08] hamiddd1980 commented on #6888
Hello.The option is available in **VS 2022 Ver 17.1.0 Preview 3.0.**
Other info on my Computer which may Help:

**dotnet versions on my computer:**
  Version: 7.0.0-preview.2.22152.2
  Commit:  e24f66dff0

.NET SDKs installed:
  5.0.100 [C:\Program Files\dotnet\sdk]
  5.0.400 [C:\Program Files\dotnet\sdk]
  6.0.100-preview.3.21202.5 [C:\Program Files\dotnet\sdk]
  6.0.100-rc.1.21458.32 [C:\Program

[2022-04-04 15:43] john-dalsgaard commented on #6846
Further information:

I have updated to latest VS4Mac 2019 today:

[code]

on my M1 Mac _and_ an old Intel based Mac. On the old Mac the Android emulator _does_ connect correctly using the TLS connection. However, on the M1 it doesn't...

Furthermore, I have found discussions about Let's Encrypt and their old root certificate the expired in September could cause similar issues. However, when I loo

[2022-04-04 19:15] sisaacks commented on #6517
Do you have the link to the other forum.....this is something I have never done and would like to see the full instructions.  I am am relatively new to some aspects of this

[2022-04-04 19:15] jedusei commented on #6517
@sisaacks
The instructions in the Android docs use Android studio, yes, but the procedure is not much different for Xamarin Android apps. You just have to translate the Java/Kotlin code to the equivalent C# code. For example,
`SplashScreen.installSplashScreen(this)` in Java becomes `SplashScreen.InstallSplashScreen(this)` in C#. The instructions for configuring the splash theme are the same for Xa

[2022-04-04 19:18] sisaacks commented on #6517
@jedusei I get what you're saying, I am not sure what steps I need to do for Xamarin.  I also do not understand how to use the binding project.  I am looking for some explanation of how to set this up.  I did read on the link you posted that Android states to they recommend not using your custom splash screen.  I guess I would have thought Xamarin would post a detailed link on how to fixe this iss

[2022-04-04 19:39] jedusei commented on #6517
@sisaacks

Yes that's correct. The instructions for using the bindings are outlined in the repo's README.

The theme for an Android app is usually defined in the styles.xml file, which is in the Resources folder of the Android project. You're supposed to create another theme in that file (which will serve as the splash screen's theme) & set your app or starting activity to use that theme (step 3).

[2022-04-04 19:48] MagicAndre1981 commented on #6517
MAUI Tem also requested it and now we get an official package when the [RP is merged](https://github.com/xamarin/AndroidX/pull/521)

[2022-04-04 21:38] sisaacks commented on #6517
The last paragraph is where I get lost.  I know where the styles and themes are .  However my application node in the manifest is not set to a them currently and prior to Android 12 my splash screen worked fine.  I am not sure how to create a style that uses my current theme when I dont have one to begin with?  What do I do if I want my plash screen to show and NOT the icon logo?  I also have no c

[2022-04-05 08:00] AigioL opened #6893 "LayoutBinding + AndroidX error CS0400"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022

### Description

https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/Resources/LayoutBinding.cs#L91
[code]

Androidx is error namespace

### Steps to Reproduce

use LayoutCodeBehind project

### Did you find

[2022-04-05 09:41] dellis1972 commented on #6893
@AigioL  can you post the actual error message you get please?

[2022-04-05 09:55] AigioL commented on #6893
I think it's pretty obvious that the bug is a namespace error, and that the implementation of the method is also wrong.

For example ```global::Androidx.Fragment.App.Fragment``` is not correct

The correct type is ```global::AndroidX.Fragment.App.Fragment```

The correct implementation of this method would be as follows
[code]

The conversion of java package names to C# namespace rules is always w

[2022-04-05 16:31] eerhardt opened #6895 "Using HttpClient in a Xamarin Android Release app crashes"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Maui main

### Description

I'm getting a crashing app when using HttpClient in a Release build. It appears that the `FromJniHandle` method is getting trimmed in `JavaList<T>`, causing the app to crash.

### Steps to Reproduce

1. `dotnet new android`
2. Write the following code in the MainActivit

[2022-04-05 16:50] grendello commented on #6895
@eerhardt it might be related to https://github.com/xamarin/xamarin-android/pull/6891 but @jonathanpeppers is currently away, so it might be a few days before he can take a look

[2022-04-05 16:53] eerhardt commented on #6895
I was trying to reproduce https://github.com/dotnet/runtime/issues/67402 (which spawned the creation of #6891) without using Maui. Trying to narrow down what that problem is.

In trying to localize the repro, I noticed this extra issue. When using Maui the above JavaList method is preserved. But when just using plain Xamarin Android, it isn't causing this crash.

https://github.com/dotnet/runtime/

[2022-04-06 06:57] MagicAndre1981 commented on #6517
official nuget is now released:

https://www.nuget.org/packages/Xamarin.AndroidX.Core.SplashScreen/1.0.0-beta02

[2022-04-06 08:58] dellis1972 commented on #6893
PR is up #6894

[2022-04-06 11:55] save2love commented on #6808
I am having the same issue today.
Microsoft Visual Studio Enterprise 2022 (64-bit) - 17.1.3
Xamarin - 17.1.0.324
Disable  `Bundle assemblies into native code` was helped me.

[2022-04-06 15:03] john-dalsgaard commented on #6846
I have found a temp. workaround by removing the last cert in the full chain cert on the proxy server as per https://github.com/xamarin/xamarin-android/issues/6351#issuecomment-931765802

[2022-04-06 16:38] vsfeedback opened #6899 "Fix build for android NDK r23b"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Fix-build-for-android-NDK-r23b/10004575)._

---
[severity:It's more difficult to complete my work]
I recently upgraded from r21 to r23 and ran into issues with the built-in props files that prevented the build from working. In the file C:\Program Files\Microsoft Visual Studio\2022\Commun

[2022-04-06 17:28] sisaacks commented on #6517
@MagicAndre1981 @jedusei  Okay I have installed that nuget package but I still have the same splash screen not my splash screen I originally had.  What am I missing?  Are there any instructions for how to do this????

[2022-04-06 22:10] sisaacks commented on #6517
Okay so I installed the Xamarin.AndroidX.SplashScreen that was put out.  I followed the Android developer instructions. However somethings dont seem to work.
The line below turns the screen background black...as it should
`<item name="windowSplashScreenBackground">@android:color/black</item>
`
I would think this would make the Icon Background Black, but my Icon has a white background around it.
`<

[2022-04-07 10:10] jedusei commented on #6784
Hi @jpobst,

I also experienced this issue some time last year when I started developing a [binding](https://github.com/jedusei/Twilio.Conversations.Xamarin) for the Twilio Conversations SDK for Android.
Calling the static interface methods (eg. [ConversationsClient.create](http://media.twiliocdn.com/sdk/android/conversations/releases/1.4.1/docs/interfacecom_1_1twilio_1_1conversations_1_1Conversat

[2022-04-07 10:49] SKeehnen commented on #6652
I have the same issue. Not sure if it was only luck, but it looks like running VS in Admin mode makes it work.

[2022-04-07 10:57] lassana opened #6902 ""Kotlin: Hiding internal setter method" when binding an Android library"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Xamarin.Android Version: 12.0.0.3 (Visual Studio Community)

### Description

I'm working on Xamarin bindings for [the Zoho Assist SDK](https://www.zoho.com/assist/resources/mobilesdk/android/integrate-sdk-your-app.html). Everything seems to bind well except that `AssistSession` class miss

[2022-04-07 14:18] jpobst opened #6903 "Set `AssemblyVersion` for `Mono.Android.dll` to `(ApiLevel).0.0.0`"
Context: https://github.com/xamarin/java.interop/issues/962

Like `Java.Interop.dll`, traditionally we have not versioned `Mono.Android.dll` to allow binding nugets made with ex: `d17-2` to be used with `d17-1` applications.  In a .NET world, we should restrict along the .NET major version.  That is, bindings nugets made for `net7.0` *should not* work in `net6.0`.

To enforce this, we should versi

[2022-04-07 14:28] jpobst commented on #6902
Java does not have the `internal` visibility.  Kotlin adds this functionality, but it cannot mark a method as `internal` when it compiles to a Java `.jar`.  Thus, it emits the method as `public` and adds a lot of type level metadata that describes what the method is *supposed* to look like, for example if you were to consume it from a Kotlin application.

So if you view the `.jar`/`.aar` in a Java

[2022-04-07 14:45] lassana commented on #6902
Very unlikely. They explicitly mention this method [in their docs](https://www.zoho.com/assist/resources/mobilesdk/android/integrate-sdk-your-app.html):

[code]

[2022-04-07 14:50] jpobst commented on #6902
Perhaps. Or they may just have it marked as `internal` and don't realize it since it works in Java.  😁

Unfortunately, without some sample Kotlin source code that we can compile and examine if we are interpreting it incorrectly, there isn't much we can do.

But as mentioned, it can be bound as `public` if you want with metadata.

[2022-04-08 08:07] dellis1972 commented on #6652
I just had confirmation that the fix for this issue is shipping is 17.2 Preview 3.

[2022-04-08 08:09] dellis1972 commented on #6652
The WorkItem can be found https://developercommunity.visualstudio.com/t/Deployment-error-on-debug-xamarin-androi/10006948

[2022-04-10 13:23] yaliashkevich commented on #5472
This is still an issue, even if you use new standard way to set packageName

- [ApplicationId](https://github.com/xamarin/xamarin-android/pull/5458)
- [AndroidManifestPlaceholders](https://github.com/xamarin/xamarin-android/pull/5953)

VS for Mac keeps using initial value from AndroidManifest template.
Is it any chance it will be resolved?

[2022-04-11 05:57] MandeepSingh-MS commented on #6472
Hello, I want to develop `maui` apps on `ubuntu`.
I installed the required tools but it is not working.

I created a new `dotnet maui` project. Then I installed `maui-android` workload. I opened the project with `vs code` but `OmniSharp` gives following error

`System.DllNotFoundException: Unable to load shared library 'dl' or one of its dependencies. In order to help diagnose loading problems, co

[2022-04-11 07:51] sridharsaminathant commented on #3306
Any recommendation for fixing this error ?

[2022-04-11 08:54] dellis1972 commented on #5472
This feels like an issue in VS for Mac itself.  It might be easier to raise an issue with the VS for Mac team via the "Help->Report a Probem" menu in VS for Mac.

We will reach out to the team in the mean time to see if they have any ideas.

[2022-04-11 09:06] yaliashkevich commented on #5472
Did already, but it was closed as duplicate with reference to this one on github, https://developercommunity.visualstudio.com/t/VS-for-Mac-debug-doesnt-respect-package/1325569

So I using the thread to get sense on status.

[2022-04-11 09:34] dellis1972 commented on #5472
I've asked our Vs for Mac team to look into it or at least point us to where we can look into this ourselves.

[2022-04-11 09:53] yaliashkevich commented on #5472
Just to refresh here is steps to reproduce and sample project [pi.zip](https://github.com/xamarin/xamarin-android/files/8462959/pi.zip)

1. Create Blank android app from VS template
2. Update csproj file with following settings
`    <GenerateApplicationManifest>True</GenerateApplicationManifest>
    <ApplicationId>com.home.FromMsBuildProperty</ApplicationId>
`
3. Remove packageName attribute from

[2022-04-11 10:25] dellis1972 commented on #5472
I just tested our own internal `_Run` MSBuild command, and that works as expected and picks up the right package name from the intermediate manifest. So this is definately an issue with the VS for Mac Extension.

[2022-04-11 14:14] pjcollins commented on #6472
@MandeepSingh-MS thanks for the details, would you mind opening a new issue to track this? If you could please attach a binary log file (or a full diagnostic build log) for the aapt2 error that would help us better understand what may be going wrong. Thanks!

[2022-04-11 18:04] jonpryor commented on #6903
@jonathanpeppers & @pjcollins: please correct me if I'm wrong, but I *believe* that `dotnet build` won't allow a `net6.0-android32.0` assembly to reference  `net6.0-android33.0` assembly.  Consequently, I don't think we need to set the assembly version to "further" enforce this; "just" an assembly version of `7.0.0.0` should be sufficient.

[2022-04-11 18:58] jpobst commented on #6903
I think you get some guarantees from NuGet, but if you're not using NuGet it would be nice to get some protection from assembly version.  I am also thinking more about bindings assemblies than `Mono.Android.dll` itself.

For example, if my binding library was built against API-33 and has a reference to `Mono.Android.dll` `7.0.0.0`, it would be usable by an application targeting `net7.0-android32.0

[2022-04-11 19:11] lassana commented on #6902
@jpobst thanks, your suggestion seems to work well.

Another issue I'm having with this library is that it doesn't work with R8 enabled: the build process passes but the library doesn't work properly. No crash occurs but it seems that some internal things are missing, and only error callbacks are invoked by the library. Unfortunately it is a proprietary SDK so I can't tell what exactly is broken.

[2022-04-11 20:16] jpobst commented on #6902
I'm afraid I don't know much about R8.  Perhaps @jonathanpeppers or @dellis1972 know more.

[2022-04-12 01:49] sisaacks opened #6912 "After upgrading to Android 12, SQLite is not retaining values and Xamarin User Preferences is not retaining values"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Microsoft Visual Studio Professional 2019 Version 16.11.10

### Description

Well I  honestly am baffled.  I have a version published out in closed testing prior to updating to Android 12.  The app works just as it should.  As it has for the last two years.  After upgrading to Android 12,

[2022-04-12 04:26] MandeepSingh-MS commented on #6472
@pjcollins  Thanks for the reply.  I examined the project and logs and finally found that the problem is with `Microsoft.Maui.Resizetizer.Sdk`.

`Microsoft.Maui.Resizetizer.Sdk` is unable to process `.svg` files that `dotnet maui` used for app logo, splash screen etc.

When I code comment the `<MauiIcon>` , `<MauiSplashScreen>` and `<MauiImage>` in `.csproj` the project build successfully.

[2022-04-12 15:01] Safeer-Ahmad commented on #6795
`
HttpClientHandler handler = new HttpClientHandler
                    {
                        UseProxy = true,
                        Proxy = WebRequest.DefaultWebProxy
                    };

                    var client = new HttpClient(handler);
`

This worked for me, thanks all.

[2022-04-12 15:03] Safeer-Ahmad commented on #3332
It worked, thanks.

[2022-04-12 15:03] jonathanpeppers commented on #6902
@lassana I would try the `dexdump` command on the `classes.dex` in your app. I can't find good docs on this tool:

http://manpages.ubuntu.com/manpages/bionic/man1/dexdump.1.html

Mine is at `C:\Program Files (x86)\Android\android-sdk\build-tools\30.0.3\dexdump.exe`, for example.

When r8 "treeshakes" your app, figure out what types are missing that it needs compared to when not using r8. Then add

[2022-04-12 16:01] jonathanpeppers commented on #6903
Here is what the spec says on this:

https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md#consuming-a-library-with-a-higher-targetplatformversion

I think if we put `7.0.0.0` that would be sufficient for `Mono.Android.dll`.

[2022-04-12 16:20] jpobst opened #6914 ".NET 6 API-31 reference packs are not being updated"
Since we marked API-32 as stable, the .NET 6 API-31 reference pack is no longer being updated (newest is P12):
https://www.nuget.org/packages/Microsoft.Android.Ref.31

Since this is the default most users will use (`net6.0-android`), they are not seeing the fixes we have made:
- https://github.com/xamarin/xamarin-android/pull/6541
- https://github.com/xamarin/xamarin-android/pull/6617

While we sh

[2022-04-13 13:22] jonathanpeppers commented on #6612
@lauxjpn I think the two issues here are fixed in:
* https://github.com/xamarin/xamarin-android/pull/6675
* https://github.com/xamarin/xamarin-android/pull/6672

Are you still hitting this issue using the latest RC 1 builds?

[2022-04-13 14:12] jonathanpeppers commented on #6903
In .NET 6, `Mono.Android.dll` is:
[code]
Do we need to change this to 6.0.0.0 for GA? It would prevent people from building .NET 6 assemblies and trying to use them in Xamarin.Android.

[2022-04-13 14:39] jonathanpeppers commented on #6838
This message means there are no .NET assemblies in the app:
[code]

So this means you somehow are building with a Fast Deployment configuration? And those assemblies weren't fast deployed?

Can you check `EmbedAssembliesIntoApk=true`? That disables Fast Deployment.

I would also try to get a `.binlog` of the build + deploy with:

[code]
Share the `msbuild.binlog` file with us, and we can take a cl

[2022-04-13 14:50] jonathanpeppers commented on #6888
VS 2022 17.1 is stable now. Can you update to solve this issue? Thanks!

Closing, as I think this change probably solved this problem:

https://github.com/xamarin/xamarin-android/commit/686ccdae98bbaa447aa485b785e51e6d583fd943

[2022-04-13 15:22] jonathanpeppers commented on #6895
I think this is what makes it work in Xamarin.Android:

https://github.com/xamarin/xamarin-android/blob/0ab3db079d43d47ad1bc522e28e65204542fea60/src/Xamarin.Android.Build.Tasks/Linker/PreserveLists/Mono.Android.xml#L28

Will look through and see if there is a better way than preserving the entire type.

[2022-04-13 15:38] eerhardt commented on #6895
The best way is to use `[DynamicDependency]`, if you can. I think you can add a few of them here:

https://github.com/xamarin/xamarin-android/blob/af2875138afada68a870cc803c3e8dcd2e85ff6f/src/Mono.Android/Java.Interop/JavaConvert.cs#L56-L92

You can add `[DynamicDependency]` to the `FromJniHandle` methods on `JavaDictionary<,>`, `JavaList<>`, and `JavaCollection<>`.

The other thought would be to

[2022-04-13 15:39] lassana commented on #6902
Originally I added `keep class ** { *; }` but that didn't really helped. I ended up with copying R8 rulese from the `kotlin.reflect.jvm` package [from here](https://github.com/JetBrains/kotlin/blob/e72dc7d0c9ba7480d361a6c4707d3bf9bad95498/core/reflection.jvm/resources/META-INF/proguard/kotlin-reflect.pro), that worked. Not really sure whether Xamarin should handle it by itself.

Anyway, feel free

[2022-04-13 15:42] jonathanpeppers commented on #6903
@jonpryor and I discussed that we'll just move things to 7.0.0.0 in .NET 7.

[2022-04-13 15:51] jonpryor commented on #6903
"just move things to 7.0.0.0 in .NET 7" doesn't actually address or resolve @jpobst 's concerns.

Should we bump to 7.something for .NET 7?  Yes.

Should we bump to `7.0.0.0` vs. `7.{api-level}.0.0`?   I don't think we've actually answered this.

Maybe we should try `7.{api-level}.0.0` and see if that breaks anything?

[2022-04-13 15:55] #6902 closed

[2022-04-13 16:49] jonathanpeppers opened #6920 "Feature for excluding Kotlin-related files from apps"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

`dotnet new maui` includes a lot of "weird" Kotlin files like:

![image](https://user-images.githubusercontent.com/840039/163229564-c46e85f7-870b-4992-be88-cf81ad0afa3b.png)

`DebugProbesKt.bin`, they actually recommend:

[code]
See: https://github.com/Kotlin/kotlinx.corou

[2022-04-13 16:50] jonathanpeppers commented on #6920
@dellis1972 I think this is something we'd think about for .NET 7.

[2022-04-13 17:42] jpobst commented on #6903
For some additional context, `Microsoft.iOS.dll` only uses the platform version:
[code]
We definitely add new APIs in each platform version.  Adding new APIs in `net8.0-android33.0` that aren't in `net7.0-android33.0` is probably rarer.  🤔

[2022-04-13 21:57] Eilon opened #6924 "Android - APT2126 XML files not found when moving built project to a different path"
Originally opened by @janseris in https://github.com/dotnet/maui/issues/5956

---

### Description

When project is built for Android, then VS closed and project moved to a different folder, the built application cannot be started anymore.
Seems like some absolute paths are used in the output.
The following list of errors appears:

![image](https://user-images.githubusercontent.com/64279914/162613

[2022-04-13 21:58] Eilon commented on #6924
From @janseris:

@v-longmin full repro video with all steps visible:
as you can see in the video, the path for the XML which are not found, is pointing to the previous location

https://user-images.githubusercontent.com/64279914/162847469-fabae733-2452-4c64-b7c0-63762b007b6f.MP4

[2022-04-13 22:19] Eilon opened #6925 "Android - APT2000 build error when project path contains non-ASCII symbols"
Originally opened by @janseris in https://github.com/dotnet/maui/issues/5957

---

### Description

Putting project in a folder/directory containing some non-ASCII chars, like Czech alphabet (tested with **_á_**) breaks Android build.
This does not affect any other C# projects. I have beeing using WinForms, Blazor, WPF on this path and all has been working fine for years.
Even VS Solution, folder

[2022-04-14 00:52] jonpryor commented on #6903
@jpobst [wrote](https://github.com/xamarin/xamarin-android/issues/6903#issuecomment-1098318886):

Rarer, but *that* rare?  *Adding* new APIs doesn't result in our API compatibility checks erroring out, so whenever we *add* APIs, e.g. to fix enumification issues (582adfd388e9b8b0f28ce51c47f19349a3f1aaa8? 0e2321d36734a280efd0ffb41e6af1938657186c? etc.), we're *implicitly* creating "something differe

[2022-04-14 10:41] AlleSchonWeg commented on #6792
@jonathanpeppers
When will this fix available? Will this fixed with a Visual Studio Update? Version 17.1.4 still has this issue.
My workaround is using VS 16.11.10. I'm afraid to update it.
Thank you.

[2022-04-14 10:44] tranb3r commented on #2386
This still needs to be fixed. Any update?

[2022-04-14 11:00] vppetrov commented on #6517
Anyone has a sample of how to use the new nuget package https://www.nuget.org/packages/Xamarin.AndroidX.Core.SplashScreen/1.0.0-beta02?

[2022-04-14 13:46] jonathanpeppers commented on #2386
@tranb3r I'd recommend using `AndroidManifest.xml` directly for this one. Is there a reason that wouldn't work for you?

[2022-04-14 13:46] jonathanpeppers commented on #6792
VS 17.2 previews should have this fix.

[2022-04-14 14:13] Auto72 commented on #6792
With VS 17.2.0 Preview 3.0 I was able to successfully archive the my Xamarin Forms project, using the following options:

[x] AOT Compilation
    [x] Use LLVM Optimizing Compiler
    [x] Enable Startup Tracing

While with VS 17.1.4 I got the error related to path not escaped.

I used NDK versione 21.4.7075529.

[2022-04-14 14:40] tranb3r commented on #2386
Ok.
But, if this is the official workaround, and if the issue is never going to be fixed, then maybe you should document it and close this issue.
Thanks

[2022-04-14 17:33] jonathanpeppers commented on #2386
Yeah, we can close this, I didn't notice it was still open, thanks!

Anyone feel free to comment on this, if there is something we missed here.

[2022-04-14 17:33] #2386 closed

[2022-04-14 19:07] #6895 closed

[2022-04-14 23:55] jonpryor commented on #6893
@AigioL: What confuses me about this issue is *how* you get the error in the first place: as per commit 92cd68c7beb3a26dab55957b2e061faf6cdc1d89 (which introduced the feature), (1) AndroidX support was known to not work, as the feature *predated* AndroidX being bound:

and (2) I don't understand how `__HAVE_ANDROIDX__` is being defined for you.  Simply building a project with `-p:AndroidFragmentTy

[2022-04-15 00:18] gmck opened #6928 "VS 2022 17.2.0 Prev 3.0 Release version crash at startup - No @Navigator.Name annotation found for NavGraphNavigator"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.2.0 Prev 3.0

### Description

The release version of my app fails immediately at startup with the exception below. The debug version works fine.

I had earlier uploaded my latest version 17.2.0 Prev 1.0 to Google Play which runs fine. I then upgraded to 17.2.0 P3.0 and hit this

[2022-04-15 12:25] AigioL commented on #6893
I added ```__HAVE_ANDROIDX__``` to the csproj file because my previous code needed to use FindFragment to return a Fragment of type AndroidX.Fragment.App.Fragment

[code]

https://github.com/BeyondDimension/SteamTools/blob/develop/src/ST.Client.Android/ST.Client.Android.csproj#L7-L8

[2022-04-15 14:09] andrewmarimosa commented on #6632
Was there a solution for this issue found? I'm having the same issue now.

[2022-04-15 15:07] jonathanpeppers commented on #6632
@andrewmarimosa we updated r8 in 9f3ee589d9a8cf9eb0d9d0dbe6c6e6acc8fc7f96.

Can you try one of these builds with that change?
* https://dl.internalx.com/vsts-devdiv/Xamarin.Android/public/6022518/main/2c696c47e729e664162215a7b2beff8b4f99b753/xamarin.android-12.3.99.37.pkg
* https://dl.internalx.com/vsts-devdiv/Xamarin.Android/public/6022518/main/2c696c47e729e664162215a7b2beff8b4f99b753/Xamarin.And

[2022-04-15 15:36] jonpryor commented on #6893
@AigioL: thank you.  That certainly explains how you hit the error in the first place.

[2022-04-15 20:46] xperiandri opened #6932 "[Publish] /p:PublishDir is empty when used with /p:OutDir"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

CLI SDK 6.0.300-preview.22204.3

### Description

When I call `dotnet publish --no-restore -f:net6.0-android /p:OutDir="C:\Temp\B Android" /p:PublishDir="C:\Temp\A Android"`
`C:\Temp\B Android` contains binaries and apk
`C:\Temp\A Android` contains nothing

### Steps to Reproduce

1. Create a new

[2022-04-15 21:08] xperiandri opened #6933 "[Publish] requires Build target to execute"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

CLI SDK 6.0.300-preview.22204.3

### Description

I want to achieve the standard .NET workflow:
1. Restore `dotnet restore`
2. Build `dotnet build --no-restore -f net6.0-android -o "<Azure DevOps Binaries folder>"`
3. Test `dotnet test --no-restore`
4. Publish `dotnet publish --no-build -f net6.0-

[2022-04-15 21:11] jonathanpeppers commented on #6932
Can you use `dotnet build -o "C:\Temp\B Android" ` instead?

We don't have full support & design for all CLI scenarios, yet. `dotnet run`, for example, doesn't have a great experience in .NET 6.

[2022-04-15 21:57] xperiandri commented on #6932
That works.
Would you like me to temporarily do build to Azure DevOps Artifacts directory and filter out everything except `apk` to publish as an artifact until this issue is finished?

[2022-04-15 22:09] jonathanpeppers commented on #6932
What I normally do is just `dotnet build`, not use `-o` or `$(OutDir)` at all. Then use a yaml Copy task for `**/*-Signed.*`.

[2022-04-15 22:31] xperiandri commented on #6932
We do the same now but it looks broken 🙂

[2022-04-16 18:12] andrewmarimosa commented on #6632
@jonathanpeppers I tried you're suggestion and it didn’t seem to work for me, but i have spent some time trying to diagnose this issue on my app and it was linked to a nuget package i had installed.
It turned out version 1.4.9 of this nuget package was causing the issue for me, i updated it to the latest release (2.1.5) and the problem has gone away.

https://github.com/smstuebe/xamarin-fingerprin

[2022-04-17 07:57] hirandesai commented on #6172
Even in 2022, migrating to Project Reference fixed for me. It seems, this is dependent on VS version?

[2022-04-18 03:17] joepuhich commented on #6793
protected override void OnCreate(Bundle bundle)
        {
            base.OnCreate(bundle);
            TextView tv = new TextView(this);
            AssetManager assets = this.Assets;

            string content_upload2;
            using (StreamReader sr = new StreamReader(assets.Open("read_asset.txt")))
            {
                content_upload2 = sr.ReadToEnd();
            }

[2022-04-18 03:19] joepuhich commented on #6793
The code above does not generate a string content_upload.

[2022-04-18 14:04] jonathanpeppers opened #6935 "Add .NET 6 support for `--aot-lazy-assembly-load`"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

See:
* https://github.com/dotnet/runtime/pull/67024
* https://github.com/dotnet/runtime/commit/f016381c6ba63da69c3bbe0f5f3e6a104f5f8bce

We need to pass `--aot-lazy-assembly-load` by default for Release + AOT builds in .NET 6. We need an MSBuild property to "opt out" if ne

[2022-04-18 14:11] jonathanpeppers commented on #6612
Closing for now, let us know, thanks!

[2022-04-18 14:11] #6612 closed

[2022-04-18 14:42] jonpryor commented on #6903
Current plan is to follow iOS and use API levels as our assembly versions: `32.0.0.0`, `33.0.0.0`, etc.

[2022-04-18 15:06] Juriyx opened #6936 "The "MonoAOTCompiler" task was not given a value for the required parameter "CompilerBinaryPath""
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 17.2.0 Preview 3.0, .NET 6.0.300-preview.22204.3

### Description

When building .NET 6 Android app in the configuration Release, I get this error:
The "MonoAOTCompiler" task was not given a value for the required parameter "CompilerBinaryPath".

### Steps to Reproduce

1. Use the [app from my

[2022-04-18 15:15] jonathanpeppers commented on #6936
@Juriyx are you setting the `$(RuntimeIdentifer)` to `android.21-arm`?

I'd recommend removing `.21` for now, as that seems to be what causes this problem.

[2022-04-18 15:28] jonathanpeppers commented on #6626
This example in a `dotnet new android` app works for me:
[code]

However, if I do this, then `FirstChanceException` doesn't fire:
[code]

[2022-04-18 16:49] Juriyx commented on #6936
Thanks, it worked. But two warnings left. What does this mean?
[code]

[2022-04-18 16:52] KirillOsenkov opened #6937 "Root drive glob enumeration in `AutoImport.props` when `MonoAndroidResourcePrefix` is not defined"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022

### Description

MSBuild glob evaluation takes a long time and throws first-chance exceptions accessing drive root locations such as `C:\System Volume Information`, etc.

This is because there's no condition here where we should check wheth

[2022-04-18 16:52] jonathanpeppers commented on #6936
I would ignore those for now, this is tracked in: https://github.com/xamarin/xamarin-android/issues/6809

[2022-04-18 16:53] KirillOsenkov commented on #6937
Reported by @miloush

[2022-04-18 16:57] jonathanpeppers commented on #6626
I think this behavior is correct for Debug builds ^^

The problem is Release builds (that are trimmed) crash with:
[code]

@steveisok do you have any ideas on which type I should check to see what is linked away?

[2022-04-18 17:04] jonathanpeppers commented on #6937
We set this here by default:
https://github.com/xamarin/xamarin-android/blob/68edc60db5eb735c34c885add84465f6db2ab0bf/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.DefaultProperties.targets#L7

It's probably worth checking if it's empty, though. We don't *ever* want it wildcarding an entire drive.

Is there some custom MSBuild logic that clears this property?

[2022-04-18 17:12] KirillOsenkov commented on #6937
My understanding is that this happens in a pretty vanilla .NET project, with no Android (knowingly) used at all. It's clearly enumerating the drive, just don't know why the default value wouldn't get picked up.

[2022-04-18 17:44] jonathanpeppers commented on #6937
@miloush can you share a `.binlog` of this problem?

[2022-04-18 17:44] KirillOsenkov commented on #6937
it's in your email :)

[2022-04-18 19:04] jonathanpeppers commented on #6937
`$(EnableDefaultAndroidItems)` isn't in the emailed `.binlog` at all.

How does it even evaluate this item group?

https://github.com/xamarin/xamarin-android/blob/4a958fc8fec73180bc7f9379c95200c68711f477/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/Sdk/AutoImport.props#L29

[2022-04-18 19:16] KirillOsenkov commented on #6937
Maybe MSBuild evaluates the globs before evaluating the conditions??

[2022-04-18 19:20] KirillOsenkov commented on #6937
Ugh, let me dig into this some more:
https://source.dot.net/#Microsoft.Build/Definition/ProjectLoadSettings.cs,f3011bd220c9f8b3

[2022-04-18 19:36] Juriyx commented on #6936
Understood

[2022-04-18 19:41] jonathanpeppers commented on #6937
If `DoNotEvaluateElementsWithFalseCondition` is a thing, then it implies they could possibly be evaluated...

If I add a `Condition` on each item like:
[code]
Would it have the same behavior anyway?

Let me know what you find.

[2022-04-18 19:44] jonathanpeppers commented on #6936
I'm going to keep this open, as we should eventually get `android.21-arm` to work.

[2022-04-18 19:46] KirillOsenkov commented on #6937
No, I think there's no bug in Xamarin Android, it's just the tool we used to call into MSBuild to evaluate didn't set this (I think everyone should be setting this). I will confirm soon, and if so, we'll close the bug.

[2022-04-18 19:50] KirillOsenkov commented on #6937
Confirmed that the bug was on our side. Setting DoNotEvaluateElementsWithFalseCondition fixed it.

Sorry about the noise! And thanks into looking into this!

[2022-04-18 19:50] #6937 closed

[2022-04-18 19:50] miloush commented on #6937
It does sound like a good idea to check that `MonoAndroidResourcePrefix` is non-empty though, so that the whole drive is not included for whatever reason.

Alternatively, the `MonoAndroidResourcePrefix` could be set in the targets including trailing slash and the individual `<AndroidResource`s could have `*\*.xml` rather than `\*\*.xml` so that it never fallbacks to root.

[2022-04-19 00:55] EmilAlipiev commented on #4731
This is really strange issue because I am able reproduce this in Azure Devops Pipelines if I choose build machine as "windows-latest" but it works fine using "windows-2019". What is windows-latest build machine on Azure Pipelines actually?

[2022-04-19 08:50] roberto-sartori commented on #6587
Hi @lambdageek ,
We were able to replicate the issue while debugging with Visual Studio.
Attached the output of the _thread apply all bt_ command.

Let me know if this is useful.
[vs_debug.txt](https://github.com/xamarin/xamarin-android/files/8511415/vs_debug.txt)

[2022-04-19 09:26] grendello commented on #6928
@moljac @jpobst @jonathanpeppers can it be a linker issue? A binding one?

[2022-04-19 09:39] moljac commented on #6928
Could be managed linker or r8 proguard rules. Not sure. I will need repro sample to dive in.

Reading logs.

[2022-04-19 10:58] danielkraut commented on #6808
I don't think the workaround works, I encountered the issue today with Visual Studio 17.1.4, when I tried to set `<BundleAssemblies>true</BundleAssemblies>` and the build/deployment still failed even with all AOT options switched off.

[2022-04-19 11:19] gmck commented on #6928
@grendello, @jpobst, @moljac, @jonathanpeppers

I download Rider over Easter and loaded the same solution using Preview 17.2.3 Preview 3 and that fixed the problem. Their release version doesn't crash. The only thing different was Rider automatically included a new nuget Xamarin.JetBrains.Anotations.

I didn't notice it straight away. It only after I looked around and noticed the different nuget.

[2022-04-19 11:56] Juriyx commented on #6936
Ok 😉

[2022-04-19 13:22] jonathanpeppers commented on #6808
@danielkraut can you file a new issue with a diagnostic MSBuild log? The `$(BundleAssemblies)` setting seems like a different issue.

I'd also ask why you're using `$(BundleAssemblies)`, as we deprecated this feature in Xamarin.Android -- removed in .NET 6. We would recommend using assembly compression instead, which is on by default for Release builds.

[2022-04-19 13:33] danielkraut commented on #6808
@save2love The issue started when I set `$(BundleAssemblies)` to true, it was not happening before. The project was building and deploying just fine until I tried the `$(BundleAssemblies)` option.

@jonathanpeppers Because I had no idea that `$(BundleAssemblies)` is deprecated. I was tweaking build flags for a first official release of an application, trying AOT and stuff and found on StackOverflo

[2022-04-19 13:38] jonathanpeppers commented on #6808
Here is the details about it:

https://docs.microsoft.com/en-us/xamarin/android/release-notes/11/11.0#smaller-app-package-sizes

[2022-04-19 13:51] jonathanpeppers commented on #6928
I don't see how using Rider would solve this error at all:
[code]

Can you share the layout this crashes on? And maybe any `classes.dex` files inside the `.apk`? (or the whole `.apk` if that's possible)

[2022-04-19 16:33] jpobst commented on #6928
@jonathanpeppers One thing I did notice is the stack trace has `Wrap_JniMarshal_PPL_V` in it, which I think is new in 17.2.  I don't think that's the root of the problem, but maybe it is causing it to get exposed differently?

[2022-04-19 20:13] jonathanpeppers commented on #6626
@steveisok @akoeplinger here is a smaller example:
[code]
I tested with `adb shell setprop debug.mono.log default,timing,assembly,mono_log_level=debug,mono_log_mask=all`

In a trimmed build (Release), this crashes without much info was to what is wrong:
[code]
[adb.txt](https://github.com/xamarin/xamarin-android/files/8516178/adb.txt)

So I was looking at:

https://github.com/dotnet/runtime/blob/6

[2022-04-19 20:54] jonathanpeppers commented on #6925
@janseris this works for me:
[code]
If that doesn't work for you, can you attach the `msbuild.binlog` file that command creates? Thanks!

I did find that `Release` builds fail, but different error:
[code]

Disabling AOT with `-p:RunAOTCompilation=false` works around this one. ^^

[2022-04-19 21:02] jonathanpeppers commented on #6924
I believe this issue probably happens with Xamarin.Android as well, moving the milestone on this one.

[2022-04-19 21:57] janseris commented on #6925
@jonathanpeppers confirmed your behavior on my machine as well.

But for .NET MAUI the error still persists.

Uploading APT2000 MAUI.MP4…

[2022-04-19 22:11] akoeplinger commented on #6626
Thanks, I opened https://github.com/dotnet/runtime/pull/68235 to fix this. In the meantime you can workaround the issue by adding this to a [custom linker configuration](https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker):

[code]

[2022-04-19 22:15] jonathanpeppers commented on #6925
@janseris can you build command line and share `msbuild.binlog`?

[2022-04-19 23:49] janseris commented on #6925
@jonathanpeppers can you please provide the command for CLI build for Android in MAUI? I am not familiar with that.
Thank you

[2022-04-20 01:45] gmck commented on #6928
@jonathanpeppers, @grendello, @jpobst, @moljac

The layout of content_main.xml

[code]
I presume the crash is coming from the following in the MainActivity. Please note the layout, nor the code hasn't been changed since it was written. From memory, it was a fragment rather than FragmentContainerView, but that was probably more than 12 months ago.

[code]
Why do you say **I don't see how using Ride

[2022-04-20 07:44] MagicAndre1981 commented on #6928
open the generated APK with 7zip and extract the classes.dex

[2022-04-20 08:23] #6634 closed

[2022-04-20 08:27] gmck commented on #6928
@MagicAndre1981 - Thanks for those instructions.

@jonathanpeppers - I hope I've done this right.

[classes.zip](https://github.com/xamarin/xamarin-android/files/8519670/classes.zip)

[2022-04-20 08:35] BenLampson opened #6941 "Build android bindings library xamarin faild with .aar file."
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

vs 2022 Version 17.2.0 Preview 4.0

### Description

Add the .aar file to Jars folder, set file's build action as LibraryProjectZip.
Run build, has so many warning, fixed them but the  `error CS8831: 'EglBase14.EglBaseContext': Target runtime doesn't support covariant types in overrides. T

[2022-04-20 10:35] dellis1972 commented on #6924
This is probably not going to be an easy fix. The Aapt2 Daemon requires full paths in order to work since it is not specific to a particular project.

So we might need to detect this in our `build properties` changes detection and treat a project location move like a full rebuild and clean out the entire cache and start again.

[2022-04-20 13:49] jonathanpeppers commented on #6928
Your `classes.dex` does not contain a type named:
[code]
![image](https://user-images.githubusercontent.com/840039/164245317-1ac40fb2-1651-400d-969a-0431cf5efd59.png)

Is that the correct name?

To test this, I just renamed the above `classes.zip` to `classes.apk` and opened it in Android Studio.

[2022-04-20 13:56] jonathanpeppers commented on #6925
@janseris yes, it is above.

Try making a folder named `testá` and `cd` into it:
[code]
These commands will create a `debug.binlog` and `release.binlog`, we can see what both Debug & Release do.

[2022-04-20 14:28] EmilAlipiev opened #6944 "VS 2022 17.2.0 pre- R8 : Validation error : The generic signature has a different number of interfaces than the class."
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Vs2022 17.2.0 pre3 and pre4.0

### Description

It is really weird problem. When I try to build  X.F project on Android, I am getting an error` "R8 : Validation error : The generic signature has a different number of interfaces than the class." `

Exact same Project with exact same signatu

[2022-04-20 14:52] jonathanpeppers opened #6945 "Fast Deploy error for MAUI project"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6 Android 31.0.200-preview.13.41

### Description

Originally by @Xiphereal Moving from: https://github.com/dotnet/maui/issues/4660

The `FastDeploy` task is failing, snippet of the log:
[code]

I can share the full log privately, but I believe the result was the `.apk` was not deployed.

###

[2022-04-20 15:43] jonathanpeppers commented on #6944
This error means that r8 failed trying to compile all Java code to Android DEX format:

    R8 : Validation error : The generic signature has a different number of interfaces than the class.

It's not actually related to signing.

Can you share a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)? Maybe just the snippet of

[2022-04-20 15:49] EmilAlipiev commented on #6944
Thanks for your quick reply. I have seen that it seems to be related to pspdfkit nuget used in the project and proguard. Possibly some proguard settings should be extended? I guess Linker removed more than supposed to be.

[code]

[2022-04-20 15:58] dellis1972 commented on #6945
@Xiphereal

Do you have the actual error message which you get them fast deploying ? Looking at the log provided to me by @jonathanpeppers  it seems the FastDeploy task succeeded.

If possible email me the full binlog which contains the FastDeploy error  (with the diagnostic logging on ) so I can take a look

[2022-04-20 18:40] huoyaoyuan opened #6949 "The constructor of AndroidHttpHandler should be preserved together with AndroidMessageHandler"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET SDK 6.0.202, Runtime 6.0.4

### Description

`Xamarin.Android.Net.AndroidHttpHandler` was used for Xamarin android applications, and is set when using Visual Studio project setting UI.
However, only the new `AndroidMessageHandler` is preserved:

https://github.com/xamarin/xamarin-android/blob

[2022-04-20 18:59] jonathanpeppers commented on #6949
@huoyaoyuan `AndroidClientHandler` is marked obsolete:
https://github.com/xamarin/xamarin-android/blob/bacc3f0282b05978f1cde13f0ca49ecc58048efe/src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.cs#L60-L61

Is there a reason you need to use it? Just so we understand the use-case.

For now, I'd workaround with a custom linker configuration:

https://docs.microsoft.com/en-us/xamarin/cross-pla

[2022-04-20 19:07] huoyaoyuan commented on #6949
Converted legacy project specifies this handler. Supporting it would make migration easier.
It's also nice to include a sdk warning when the handler is specified, and update Visual Studio project UI to select the new one.

[2022-04-20 19:24] jonathanpeppers commented on #6949
@huoyaoyuan were you using the .NET upgrade assistant?

I'd recommend removing almost every MSBuild property in the project file, and just use the defaults.

We have some of this documented here:

https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/OneDotNet.md#changes-to-msbuild-tasks

Or you can see the template as what we pretty much recommend:

https://github.com/xamarin/

[2022-04-20 19:25] akoeplinger commented on #6949
Just to make sure: you used `Xamarin.Android.Net.AndroidClientHandler` not `Xamarin.Android.Net.AndroidHttpHandler` in the `AndroidHttpClientHandlerType` property right?

[2022-04-20 20:58] jonathanpeppers opened #6950 "'Compression method not supported' building inside VS"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

Originally posted by @rsfitzii at:

https://github.com/dotnet/maui/issues/6254

It appears that building an Android project in VS fails, but works with both command-line `dotnet build` or .NET Framework MSBuild...

[code]

### Steps to Reproduce

Build inside Visual Studio

[2022-04-21 01:20] gmck commented on #6928
Yes, that is the correct name. The android:name above in an androidx.fragment.app.FragmentContainerView is the only android:name I've ever seen in any Android Studio project which uses the navigation component. I can't say I've ever thought much about it, because there is no code that references that android:name, and I don't recall ever seeing any Android Studio project referencing the name eithe

[2022-04-21 05:50] huoyaoyuan commented on #6949
Confirmed in commit history that it was `<AndroidHttpClientHandlerType>Xamarin.Android.Net.AndroidClientHandler</AndroidHttpClientHandlerType>`.

No. I manually converted it based on my knowledge of MSBuild. The project file was somehow customized with `.props`.

The VS project setting UI (in VS 17.1) sets `AndroidClientHandler` when selecting in http handler. This should be probably updated to th

[2022-04-21 06:37] dadude999 commented on #6899
I see the same issue; this currently blocks usage of modern NDKs. Not related to Xamarin.Android at all, just C++ support.

[2022-04-21 08:01] dellis1972 commented on #6950
@grendello this looks very weird.

Looking at the code we are asking for the `Default` compression method in `CreateResourceArchive` see https://github.com/xamarin/xamarin-android/blob/fd5f31cc89648957243f31ba8fd7af7fccba11e4/src/Xamarin.Android.Build.Tasks/Utilities/ZipArchiveEx.cs#L100

Not sure why this would happen in just the IDE....

[2022-04-21 08:19] grendello commented on #6950
@dellis1972 from reading the code, I think it's one of the extra fields that causes the issue - the exception is thrown after [this code](https://github.com/xamarin/LibZipSharp/blob/main/LibZipSharp/Xamarin.Tools.Zip/WindowsPlatformServices.cs#L231-L244) fails, however [`zip_file_extra_field_set`](https://libzip.org/documentation/zip_file_extra_field_set.html) is not documented to return the "inva

[2022-04-21 08:27] dellis1972 commented on #6950
Its possible that its hitting a different version of LibZipSharp, but we've not bumped that for a while now I think.

[2022-04-21 08:39] gmck commented on #6928
@jonathanpeppers

This one is the one from Rider. Could also send you one from 17.1.4 stable if you think that would help. Obviously, this one doesn't crash.

[classes.zip](https://github.com/xamarin/xamarin-android/files/8529240/classes.zip)

[2022-04-21 08:53] sgjesse commented on #6944
It could look as if the `pspdfkit` has been processed by a shrinking tool, which has left some of the [`Signature` attributes](https://docs.oracle.com/javase/specs/jvms/se17/html/jvms-4.html#jvms-4.7.9) invalid. R8 will normally rewrite `Signature` to match the rewritten program. However, if the `Signature` is invalid on input it will be removed and the warning you see will be emitted. This should

[2022-04-21 09:11] grendello commented on #6950
TBH, the error makes no sense in the context of the code path described by the exception stack trace...

[2022-04-21 09:52] dellis1972 commented on #6950
Indeed. That was confusing me as well.

The other posibility is that the wrong `libzip` dll is being loaded somehow and its reporting a different code back 🤷

[2022-04-21 12:24] janseris commented on #6925
[testá logs.zip](https://github.com/xamarin/xamarin-android/files/8530940/testa.logs.zip)

[2022-04-21 13:18] jonathanpeppers commented on #6925
@janseris can you do the same for `dotnet new maui`, then? Thanks!

[2022-04-21 13:19] jonathanpeppers commented on #6925
I think it does reproduce with `dotnet new maui` and not `dotnet new android`:
[code]

[2022-04-21 14:33] janseris commented on #6925
@jonathanpeppers  yes that's it.
Here is my output for building dotnet new maui template with the commands:
[testá MAUI.zip](https://github.com/xamarin/xamarin-android/files/8531905/testa.MAUI.zip)

[2022-04-21 14:43] dellis1972 commented on #6925
@janseris

Can you add the following to your project

[code]

then build (from clean) on the command line again and post the logs?

This will give us more verbose `aapt2` output. It should help narrow down which file is causing the error.

[2022-04-21 14:53] janseris commented on #6925
@janseris I think you will have the same but I will try

[2022-04-21 14:56] jonathanpeppers commented on #6925
@dellis1972 I can reproduce with a new template, so we should be good to look into this.

[2022-04-21 16:39] #6893 closed

[2022-04-21 17:06] igorgue commented on #6472
@MandeepSingh-MS how did you get rid of this problem?

[2022-04-21 19:52] jonathanpeppers commented on #6925
Getting a newer `aapt2` doesn't appear to fix this problem; I got the latest build-tools in Android Studio at:

     %localappdata%\Android\Sdk\build-tools\33.0.0-rc2

New aapt2 is: `Android Asset Packaging Tool (aapt) 2.19-8250781`
Our current one: `Android Asset Packaging Tool (aapt) 2.19-7929954`

[2022-04-21 20:00] polotto commented on #6458
I found this problem updating my Xamarin Forms to latest stable version (5.0.0.2401)

[2022-04-21 20:22] #6626 closed

[2022-04-21 21:36] #6899 closed

[2022-04-22 04:40] MandeepSingh-MS commented on #6472
@igorgue  I was targeting only `Android`.

I code commented the `<MauiIcon>` , `<MauiSplashScreen>` and `<MauiImage>` in `.csproj` file.

Then I created the required `Icons/Images` and moved them to the `Platforms/Android/Resources`.

[2022-04-22 04:41] igorgue commented on #6472
Yeah thank you! I got it to work too, well kinda, I wish it was smoother and you could use the images...

[2022-04-22 06:44] mgierlasinski commented on #6652
I can't believe such issues still happen and the only workoaround since 3 months is to reopen solution. For me every change to Android xml requires reopening solution. Hot reload can have many meanings...

[2022-04-22 06:48] mfranke-moba commented on #6652
Had the same problem. What helped me was switching to Visual Studio 2022 **LTSC**.

[2022-04-22 09:37] uholeschak commented on #6652
Using good old VS2019 is an option ...

[2022-04-22 10:18] highwingers commented on #6652
I am working on a .NET 6.0 project. its not an option for me. "Preview Release" did the trick for me.

[2022-04-22 10:21] dellis1972 commented on #6925
It works on a mac. So this is a windows specific issue it seems.

[2022-04-22 13:32] jonathanpeppers commented on #6925
Ok, this problem occurs as soon as you add an `AndroidAsset`, on Windows only...

[code]

The `dotnet new maui` template happens to use fonts as `@(AndroidAsset)` files.

[2022-04-22 13:54] jonathanpeppers commented on #6925
Hmm, might be related to:
* https://stackoverflow.com/questions/70393579/aapt2-exe-link-does-not-find-assets

It's looking like this is a bug in `aapt2` on Windows, I think.

[2022-04-22 14:54] dellis1972 commented on #6925
The more we look at this it seems to be a windows `aapt2` bug.
We think the bug is in the directory tranversal here https://github.com/aosp-mirror/platform_frameworks_base/blob/c5d02da0f6553a00da6b0d833b67d3bbe87341e0/tools/aapt2/cmd/Link.cpp#L1550. Specifically the `FindFiles` invokation.

[2022-04-23 09:23] Agredo commented on #4731
I am getting this with Xamarin Forms for Android. VIsual Studio 2019 Builds it perfectly for Release. Visual Studio 2022 can not build it with this error. Its the same project!
This happens since some VS2022 updates.
![image](https://user-images.githubusercontent.com/16531090/164888650-395bb0c5-96f9-4af8-8508-45714d6b096f.png)

[2022-04-25 07:31] gmck commented on #6928
@jonathanpeppers, @grendello, @jpobst, @moljac

I’ve since found out that the problem is not with the lines.
[code]
It actually fails before you get there on SetContentView(Resource.Layout.activity_main);

I’m therefore presuming that it is the internal code that is executed to create the androidx.navigation.fragment.NavHostFragment that is the problem. That needs a NavigatorProvider and it fails

[2022-04-25 09:36] dellis1972 commented on #6925
Related upstream `aapt2` bug https://issuetracker.google.com/issues/188679588

[2022-04-25 09:40] dellis1972 commented on #6925
I knew we had seen this before. This is the related PR https://github.com/xamarin/xamarin-android/pull/6273. At that time we had worked around the issue by using a `res.zip` file for library resources. However this is related to adding asset folders via the `-A` flag. Unfortunately, it seems there is no way or working around the directory traversal that `aapt2` does in this case :(

[2022-04-25 13:51] jonathanpeppers commented on #6928
@gmck thanks attach a sample app if you have one!

If adding a proguard rules solve the issue, then fix might help solve this problem: https://github.com/xamarin/xamarin-android/commit/5ed4a5172c1d20e64d434a225756ab2c403cb3ee

But even with this change, if aapt2 doesn't generate the rule for this, adding a proguard rule manually is something that apps sometimes have to do. The runtime error wasn't

[2022-04-25 15:51] jonathanpeppers opened #6961 ".NET 6 app crashes on start in Debug mode"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6 / MAUI RC 1

### Description

From @RedChops here: https://github.com/dotnet/maui/issues/6460#issuecomment-1108713166

I can't get any iteration of HttpClient working (managed or native). Native crashes the app immediately on launch, Managed acts incredibly strangely. It appears to crash fr

[2022-04-25 17:40] jfichtner commented on #6587
@lambdageek please see @roberto-sartori's post above, with debug output info. This issue is holding my team up from release of multiple application upgrades for multiple products that we have invested a lot of time and money into. On that note, I understand that most of the time so far has been waiting on us to replicate the issue and provide log output, but I was wondering if submitting an escala

[2022-04-25 19:05] buyaa-n opened #6962 "Paint.Color is attributed with [SupportedOSPlatform("android29.0")] causing warnings in Maui"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Mono.Android.dll 31.0.101-preview.11.117

### Description

Paint.Color setter is annotated with `[SupportedOSPlatform("android29.0")]`
![image](https://user-images.githubusercontent.com/45579687/165155957-827b1037-4eba-4fe4-b13c-81c01e809c61.png)
which causing false positive warning for ea

[2022-04-25 19:06] RedChops commented on #6961
I can also reproduce this in a pure Xamarin Android project, but it's a little more difficult. The app doesn't crash on the first request, but it will crash on the second. Adb log here: [adb.txt](https://github.com/xamarin/xamarin-android/files/8557300/adb.txt)

The specific workflow here is a request is made to an auth token generator (request succeeds), a link is sent to the email address which

[2022-04-25 19:23] jonpryor commented on #6380
This should happen for *all* tools that we invoke.

Would also be handy to "decode" our "encoded" directory names in the `…/lp/…` paths.

[2022-04-25 19:49] jpobst commented on #6962
I am hoping the updated ref pack will get published when the next RC of Maui comes out:
https://github.com/xamarin/xamarin-android/issues/6914

If not, I will raise the issue again so we get it published.  😁

[2022-04-25 20:16] #6935 closed

[2022-04-26 06:53] BenLampson commented on #6941
Thx for your reply, I'm already fixed this using your suggestion.
There has another one, but I'm not sure this one is XAMARIN's business.

Close this issue first.

[2022-04-26 06:53] #6941 closed

[2022-04-26 07:24] gmck commented on #6928
@jonathanpeppers, @grendello, @jpobst, @moljac

Adding the following to proguard.cfg fixed the r8 crash problem.
-keepattributes RuntimeVisibleAnnotations
-keep class * extends androidx.navigation.Navigator

I'll include the test app so you can check.

[MaterialAlertBuilderNavGraph.zip](https://github.com/xamarin/xamarin-android/files/8560778/MaterialAlertBuilderNavGraph.zip)

[2022-04-26 09:31] stefanoberdoerfer commented on #6838
Thanks for your reply!

I checked that Fast Deployment is disabled in `XamarinDependency.Application.csproj` and got the attached `.binlog` and `.apk` from executing my release build:
[code]
[binlog_and_xamarinApk.zip](https://github.com/xamarin/xamarin-android/files/8560882/binlog_and_xamarinApk.zip)

I assume that this build works as intended, because in my setup I am merging the (unpacked) cont

[2022-04-26 10:54] dellis1972 commented on #6838
We have a tool called `apkdiff` (its on nuget). The same assemblies are in place. But there are some changes to the classes.dex. So I guess its possible one of the Java types we need to load the assemblies has been stripped out.

[code]

[2022-04-26 13:24] canton7 commented on #6351
No news from Microsoft: the last peep was 6 months ago. See [this comment](https://github.com/xamarin/xamarin-android/issues/6351#issuecomment-945646088) for workarounds.

[2022-04-26 13:41] RedChops commented on #6961
This issue seems to be one expressly of timing.

My situation: On app start, auth needs to initialize. If a user is signed in but their access token is expired, that token needs to be refreshed via network request.

Since I'm most familiar with Forms/MAUI, I'll have to describe the scenarios in terms of them.

Failing scenario: I put the auth initialization code anywhere *before* MainPage is set i

[2022-04-26 14:03] jonpryor opened #6965 "Android SDK Manager + Full List repository is broken"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Description

Starting sometime during the week of 2022-Apr-18, attempts to use the [**Full List (Unsupported)** repository](https://docs.microsoft.com/en-us/xamarin/android/get-started/installation/android-sdk?tabs=windows#repository-selection) would result in the error messa

[2022-04-26 14:12] jonpryor commented on #6965
See also:

  * https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1528106
  * https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1527425

[2022-04-26 14:13] jonpryor commented on #6965
See also:

  * https://twitter.com/mzikmunddev/status/1518251124029116418

[2022-04-26 14:55] grendello commented on #6961
@RedChops does it happen only when debugging the app? Or will it crash when you start its Debug build without debugger attached?

[2022-04-26 15:06] steveisok commented on #6961
@thaystg can you please take a look at this?

[2022-04-26 15:11] lambdageek commented on #6961
One thought:  the sample has this in the MainPage.xaml.cs
[code]

I wonder if there is some static constructor initialization issue here.  Does the issue repro if `client` is a local variable in `MakeRequest` instead?

[2022-04-26 15:16] akoeplinger commented on #6961
One other thing to note is that "Managed" HttpClient doesn't make sense in .NET 6 since we only have the Sockets http or the native platform handler. I think I've seen something about VS property pages needing to be updated on some Teams channel discussion.

[2022-04-26 15:41] RedChops commented on #6961
I'm pretty sure I see those warnings in the adb logs even when I move the auth initialization outside of the app initialization code and the whole thing works though as well.

[2022-04-26 18:08] grendello commented on #6961
I can reproduce one of the crashes with the test app:

[code]

The exception is thrown regardless of whether `HttpClient` instance is in a local or class static variable. /cc @lambdageek

Commenting out `<AndroidHttpClientHandlerType>System.Net.Http.HttpClientHandler</AndroidHttpClientHandlerType>` in the csproj causes yet another crash. It somehow affects typemap generation+lookup:

[code]

[2022-04-26 18:24] grendello commented on #6961
The typemaps crash is a red herring, please ignore it (it's because the assertion is incorrectly triggered for the types mentioned in the message for Debug builds of Xamarin.Android itself)

[2022-04-26 18:40] grendello commented on #6961
So, it seems the problem lies somewhere within `System.Net.Http.HttpClient` and friends when an attempt is made to use the **native** client handler. Adding the following to `.csproj` makes the app work for me:

[code]

@RedChops would you mind testing :arrow_up:?

[2022-04-26 18:42] grendello commented on #6961
With `<UseNativeHttpHandler>true</UseNativeHttpHandler>` I get

[code]

[2022-04-26 19:35] holecekp commented on #6517
Did anyone have any success with the Nuget package? I followed all the steps but it does not work on Android 12:
- Android 10 emulator: a splash screen with the correct background color and the correct icon is displayed.
- Android 12 emulator: only the background color is set but the icon is not displayed at all. It is a XML drawable with the correct size size so it should meet all the requirement

[2022-04-26 21:51] RedChops commented on #6961
@grendello So interestingly enough this was a two-stage fix. Setting that prop in my csproj alone wasn't enough to make the network calls not hang when called in the CreateMauiApp function, but it's strange.

In the NetworkTest project, I moved all of the async network request stuff that was in ContentPage to the CreateMauiApp function around where I call Auth initialization to somewhat simulate t

[2022-04-27 04:55] holecekp commented on #6517
I did some research on the internet and I have found out that the missing icon is not bug in the Nuget. It is an intended behavior of the Splash Screen API. The icon is shown only if the app is started from the launcher. If another app (such as Android Studio, or VS) starts your app, the icon is not shown. You can verify it in the emulator if you open the recents screen, close your app there, and

[2022-04-27 08:58] Xiphereal commented on #6945
Hi,

Right now I cannot provide with any more information. I'll let you know if I find anything new in the future.

[2022-04-27 10:06] stefanoberdoerfer commented on #6838
Thanks for the hint.

I was able to find a better workaround for my problem than downgrading AGP.

I didn't find any real differences in the dex files, but while analyzing the contents of both apks in AndroidStudio I noticed that the zip entries for all embedded .NET assemblies within the two apk differed in size.
The .dlls in the apk with enabled minification were around 20% smaller.

After some

[2022-04-27 11:18] dellis1972 commented on #6838
Interesting, ok so that is the problem then. The assembies should be added to the apk as 'Stored` not compressed. This is because we do some memory mapping directly into the apk for performance reasons. We don't want to have to extract the assembly from the apk.

This new tool must be adding everything as `Deflate`

[2022-04-27 11:20] dellis1972 commented on #6838
I think we can close this for now as I does not seem to be an issue with Xamarin.Android itself.

[2022-04-27 11:20] #6838 closed

[2022-04-27 15:22] BenBtg opened #6967 "Minor type differences after migrating existing binding library to .NET6"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.2.0 Preview 5.0

### Description

After migrating an existing library to NET6 I get a few errors due to apparent type changes.

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0118	'IOfficeLensProductivity.InterpolationType' is a type but is used like a variable	Se

[2022-04-27 18:33] lambdageek commented on #6961
@grendello just to clarify you get a crash if you set both properties like this:
[code]

That's the only way I get a crash.  setting UseNativeHttpClientHandler to true and leaving `AndroidHttpClientHandlerType` unset works as expected.

Honestly that we crash in the case where <AndroidHttpClientHandlerType> is `System.Net.Http.HttpClientHandler`  makes sense given https://github.com/dotnet/runtime

[2022-04-27 18:37] lambdageek commented on #6961
@RedChops  I can get the NetworkTest.cs to hang even if I set
[code]
and don't set `< AndroidHttpClientHandlerType>`.  if I do the following in `CreateMauiApp`:

[code]

I get this in the adb log:

[code]
[code]

[2022-04-27 19:09] buyaa-n commented on #6962
@jpobst `SpannableString.Length()` is also annotated with `[SupportedOSPlatform("android29.0")]` and causing warnings. @mattleibow says [This seemed suspicious and I just tested on a 23 emulator and it works.](https://github.com/dotnet/maui/pull/6237#discussion_r859630746). Do I need to create a new issue for this or it is already been reported/handled?

[2022-04-27 20:28] lambdageek commented on #6961
Hmm... if I do this:
[code]
in `MakeRequest()` called from `CreateMauiApp`, then the app starts.

I see that when `CreateMauiApp` the synchronization context is `SynchronizationContext.Current?.GetType()` is `Android.App.SyncContext`.  Both `Task.Run()` and awaiting with `ConfigureAwait(false)` will not use the synchronization context, so it makes sense that they would both behave the same and not

[2022-04-27 20:49] lambdageek commented on #6961
I'm wondering:

1. if there's a `Looper` when `Application.OnCreate` is called?
2. if for some reason the [`Logger.Log` call here](https://github.com/xamarin/xamarin-android/blob/681887ebdbd192ce7ce1cd02221d4939599ba762/src/Mono.Android/Android.App/SyncContext.cs#L23) doesn't work yet.

Is there a Looper when Application.OnCreate is called?  If I call `await Task.Delay(1)` (without a `ConfigureAwa

[2022-04-28 08:17] dellis1972 commented on #6925
For those who need to know, the work around for now is to not use non-ASCII charcters. There isn't much we can do until google fixes `aapt2`.

[2022-04-28 09:17] jedusei commented on #6517
@holecekp I've also been experiencing some deployment issues lately. I think it's related to this: https://developercommunity.visualstudio.com/t/Android-12-API-31-Visual-Studio-2022-C/1689570

@sisaacks Add this to the splash screen style:
`<item name="windowSplashScreenBackground">@android:color/black</item>`

[2022-04-28 13:03] sisaacks commented on #6517
@jedusei I already have that
`<item name="android:windowSplashScreenBackground">#000000</item>`
does the '@android:color/black' make a difference?  Doesn't seem too...Android 11 is always white on load versus Android 12 is black as it should be.

[2022-04-28 19:10] jfichtner commented on #6587
@lambdageek I apologize, I'm sure you're busy, but I am quite stuck at the moment. Please see mine and Roberto's posts above. Thank you.

[2022-04-28 19:44] jedusei commented on #6517
@sisaacks I'm not sure why it's behaving that way but [here's](https://github.com/jedusei/XamarinSplashScreenSample) a sample that works for me. Try modifying the splashscreen background in this and lemme know whether you still have that problem.

[2022-04-28 19:48] lambdageek commented on #6587
@BrzVlad Can you take a look at the stack trace in https://github.com/xamarin/xamarin-android/issues/6587#issuecomment-1102322375 `vs_debug.txt`.

It looks like Thread 46 is doign a gC and it's waiting for the jobs to finish.
But Thread 13 is the only worker (is it normal for there to only be one worker?) and it's waiting for more work.

[2022-04-28 21:09] sisaacks commented on #6517
I am not sure what you mean, that is the same type of style I have no?  Why would that change anything?  So you're telling me, on a phone running android 11, if you have android:windowSplashScreenBackground and the phone theme is set to Light the splash background is black?  I have 3 android phones running android 11 and they are all white.

[2022-04-29 04:50] jedusei commented on #6517
@sisaacks
https://user-images.githubusercontent.com/18331712/165886723-08796987-58ae-41dc-9bee-c379ae38199d.mp4

[2022-04-29 06:06] vppetrov commented on #6517
Does anyone have a complete sample that works on all versions? Something like the one provided by Microsoft with the old solution https://docs.microsoft.com/en-us/xamarin/android/user-interface/splash-screen.

[2022-04-29 09:43] AlexSchuetz commented on #6108
I have some some business-logic written in C# (netstandard2.0) that is used in various szenarios (xamarin-forms, unity, avalonia and ASP-NETcore).
The main goal was to make this logic available to as much platforms as possible without duplication written in a high-level OO-language.

Next and final step would be to make the library available for native android (and ios) applications as well.

I'd

[2022-04-29 16:04] jpobst commented on #6962
Looks like this commit did not make it in time, so a new pack was not published with RC2: https://github.com/xamarin/xamarin-android/commit/07cde0138eca5cc0ee307ebdb5797e5bc285798b

It should be published with RC3.

I have not seen any issue about `SpannableString` yet.

[2022-04-29 18:17] BrzVlad commented on #6587
The stack trace suggests that the the problem lies within the implementation of pthread api in android libc and our preemptive suspend. Apparently pthread synchronization primitives on android can take a global lock. So if we suspend a thread while it is about to call some pthread api, all future pthread mutexes are potentially broken. The GC internally uses locks so therefore it deadlocks.

@robe

[2022-04-29 18:25] sisaacks commented on #6517
@jedusei I apologize I did not see that was a video, your splash screen loads as white, can you make it load as black?  When yours loaded the background was white and the icon was blue.  I am NOT talking about after the splash screen, I am talking about the splash screen background...yours was white.  What happens if you change android:windowSplashScreenBackground to black?  Is yours black?  Mine

[2022-04-29 18:44] jedusei commented on #6517
@sisaacks Setting android:windowSplashScreenBackground to black works just fine on my phone (Android 11). Just pull this repo (https://github.com/jedusei/XamarinSplashScreenSample), run it and check whether you still have the same problem as your own project. If the splash screen background is consistent on all your devices, then it means you're doing something wrong in your own project, so you ca

[2022-04-29 18:49] lambdageek commented on #6587
We haven't really productized coop suspend on non-watchOS.  I think `no-concurrent-sweep` is worth trying.

This is pre-NET6 Xamarin.Android, it's using preemptive suspend.

[2022-04-29 18:53] sisaacks commented on #6517
Ive compared everything in that file multiple times.  Not a thing is different.  This is absolutely frustrating.  I had the same issue with IOS.  When I first created this project three years ago I had to add my own launchscreen storboard for IOS.  I followed a tutorial on how to do that.  Well one day, it just quit working...turns out after months and months of digging, I created a new project an

[2022-04-29 19:15] jedusei commented on #6517
@sisaacks I think I've found the issue! Just remove the remove the `android:` prefix from the splash screen style attributes. For example, change `android:windowSplashScreenBackground` to `windowSplashScreenBackground`.

The sample doesn't use that prefix. When I add the prefix it behaves exactly as you describe.

[2022-04-29 19:20] sisaacks commented on #6517
Wow.....now I feel like a moron...I dont know how I missed that detail......other then when I start typing it auto fills that in.  Huh....thank you for the help brother.

[2022-04-29 19:24] jedusei commented on #6517
You're welcome 🙂

[2022-04-29 19:32] jedusei commented on #6517
@sisaacks Also, please don't forget to post the solution under your question on StackOverflow. I'm sure you already understand how important that is... 😅

[2022-04-29 19:48] jfichtner commented on #6587
@lambdageek is it possible to migrate our apps to NET6 at this point without MAUI? I've searched for answers to this question, but it's not clear to me.

[2022-04-29 20:15] lambdageek commented on #6587
@jfichtner The official guidance is that MAUI is supported way to build mobile applications using .NET 6.

However MAUI is built atop the .NET for Android SDK, so if you make an SDK-style project using the `net6.0-android` runtime identifier and reference the appropriate nugets, you will get an Android APK.  See, for example https://github.com/dotnet/maui-samples/tree/main/archive/HelloAndroid

No

[2022-04-29 20:58] Eilon opened #6973 "[Android] NetworkInterface.GetAllNetworkInterfaces() returns strange values on Android 11 + IPv6"
---
**Issue moved from dotnet/maui#6649**
- Please respond to @MartinRothschink.

---

_From @MartinRothschink on Friday, April 29, 2022 7:05:05 AM_

### Description

All tests have been done on a Xaomi Pad 5 (physical device, Android 11).

If target sdk is set to < 30, the values returned by NetworkInterface.GetAllNetworkInterfaces() seem valid:
![ipv6-28](https://user-images.githubusercontent.co

[2022-04-29 20:58] Eilon commented on #6973
---
**Issue moved from dotnet/maui#6649**
- Please respond to @v-longmin.

---

_From @v-longmin on Friday, April 29, 2022 7:51:12 AM_

Verified repro on Android 12.0 with VS 17.3.0 Preview 1.0 [32427.455.main]. Repro with above project.

[2022-04-29 20:58] Eilon commented on #6973
---
**Issue moved from dotnet/maui#6649**
- Please respond to @Eilon.

---

_From @Eilon on Friday, April 29, 2022 5:41:03 PM_

@jonathanpeppers - should this go to Xamarin Android? Or dotnet/runtime?

[2022-04-29 20:58] Eilon commented on #6973
---
**Issue moved from dotnet/maui#6649**
- Please respond to @jonathanpeppers.

---

_From @jonathanpeppers on Friday, April 29, 2022 6:26:18 PM_

I would send this to xamarin/xamarin-android, thanks.

We have some code there that passes these values to the BCL.

[2022-04-29 23:11] sisaacks commented on #6517
@jedusei as snarky at the guy was to me, I dont much feel like posting anything but maybe it will help others

[2022-04-30 07:30] L10Messi10 opened #6974 "Could not compile native assembly file: typemaps.arm64-v8a.s"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022

### Description

Currently transferred my project to another PC and Got this error on my current PC running windows 10 vs 2022 while on the other PC (windows 11) the project runs fine, what could be this error?? been googling all day, and seems that there are no answers on this error yet.

[2022-04-30 13:58] MagicAndre1981 commented on #6974
check the permissions of the project folder so that your current account has full read/write permissions. Better way is to commit the code into a repository on the old PC and clone the repository on the new device.

[2022-04-30 16:40] MagicAndre1981 commented on #6652
17.2 P5 still has deployment issues.

[2022-05-02 06:07] L10Messi10 commented on #6974
Thanks, this method quite worked in a weird way. My project is currently saved on OneDrive and I assume, that this error had to do with Github, as on my old PC there were still uncommitted changes, since I committed those changes, the project works fine again.

[2022-05-02 06:11] #6974 closed

[2022-05-02 10:28] roberto-sartori commented on #6587
Hi @BrzVlad , @lambdageek .
I added the _MONO_GC_PARAMS=no-concurrent-sweep_ config to my setup.
I confirmed this from adb:
[code]

However, I see from the logcat:
[code]

Is this expected? I'm referring in particular to the _Explicit concurrent mark sweep_ details.

Thanks.

[2022-05-02 11:13] dsaf opened #6975 "VS 2022 Xamarin Debugging is not reliable: "Project is not deployable""
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.1.6

### Description

Frequently cannot debug Android projects. It most definitely works every now and then, so my Android device is fine etc.

![image](https://user-images.githubusercontent.com/3845650/166224848-c848361b-0aaa-4ad4-9ead-90f89413f58e.png)

![image](https://user-i

[2022-05-02 11:19] dsaf commented on #6975
It was never particularly reliable in 2019, but the 2022 seems to be even worse. Would upgrading to .NET 6 make things any better? I could not find a project template for that for some reason. Is it also the 80s-style terminal experience using `dotnet` console command now? I can give that a try.

[2022-05-02 11:30] dsaf commented on #6975
![image](https://user-images.githubusercontent.com/3845650/166226982-b76f2887-921f-43e8-8139-4a551fc926e5.png)

[2022-05-02 13:33] BrzVlad commented on #6587
@roberto-sartori That is not our log, it is the java GC. Our logs are prefixed by `Mono`. The setting should be fine.

[2022-05-02 13:56] jpobst commented on #6967
.NET 6 binding projects have a different set of defaults that use more modern code constructs.  However these differences can definitely change the API of existing binding libraries.  There are MSBuild properties that allow you to retain the previous API documented here:

https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/OneDotNetBindingProjects.md#migration-considerations

[2022-05-02 14:04] MagicAndre1981 commented on #6975
[this is known for a while](https://github.com/xamarin/xamarin-android/issues/6652), the workaround is to use VS2022 17.**0**.x 0r VS2019 16.11.x

[2022-05-02 15:25] dsaf commented on #6975
Thank you, but I am not sure if that is the same issue. For example, why is the `Restart Adb Server` menu item disabled for me, yet there is no mention of this in #6652 ?

[2022-05-02 17:16] MagicAndre1981 commented on #6975
I also see my Pixel phone in VS2022 17.2 preview 5, but deploy fails.

[2022-05-02 18:41] jpobst commented on #6962
Investigated `SpannableString` and made fixes here: https://github.com/xamarin/xamarin-android/pull/6976.

[2022-05-02 21:02] dsaf commented on #6975
For me no typical devices are present - and usually it should be at least the emulator but also a Samsung when connected.

[2022-05-02 21:10] dellis1972 commented on #6975
This looks more like an IDE issue. It would probably be better if you reported the issue from within the IDE using the " Help > Send Feedback > Report a Problem" menu.

The problem we have here is that the team who looks at this repo are not part of the IDE team.

[2022-05-02 21:19] dsaf commented on #6975
I have never seen a problem solved on those forums... Do you believe it's just something to do with my machine? I just want to understand if it's a local fluke, or if it affects many people.

How do I initiate a Xamarin Android deployment from a command line? I can give working without an IDE a try, it's probably just the debugging that I would miss.

[2022-05-03 08:44] dellis1972 commented on #6975
Those issues do get fixed. If you open one via the `Report a Problem` what happens is a bug will get created in the MS internal bug tracker. I can then put that infront of the Xamarin IDE extension team to take a look and investigate. If I point them to this bug the first thing they will say is "we don't track bugs on github" .

With regards to deploying from the command line, I can do one better

[2022-05-04 05:57] RubaShanmugamm commented on #5821
Any update?

[2022-05-04 07:56] MagicAndre1981 commented on #6652
With 17.2 Preview 6 I now get errors about random files that are already in use and deploy is canceled...

[2022-05-04 08:50] dellis1972 commented on #6652
@tondat are you able to shed any light on these issues? What data does the IDE team need to investigate?

[2022-05-04 09:13] dsaf commented on #6975
I have been doing some experiments, and it looks like opening VS in the `Run as administrator` mode is strongly correlated with the functionality working. It might actually be the workaround - if it keeps working consistently. Though, I still like the idea of having an additional non-VS approach like the VS Code one below.

Understood, thank you.

That is perfect, thank you! Regarding .NET 6 - I a

[2022-05-04 09:13] #6975 closed

[2022-05-04 09:51] MagicAndre1981 commented on #6975
that also fixed my compile/deploy issue in 17.2 Preview 6 👍

[2022-05-04 09:54] MagicAndre1981 commented on #6652
ok, the user @dsaf gave [me a hint that also works for me](https://github.com/xamarin/xamarin-android/issues/6975#issuecomment-1117125559). Running VS2022 **as admin** does the trick for me. Now my errors about files that are in use are gone and deploy also works fine 🤷‍♂️

[2022-05-04 12:26] dellis1972 commented on #6652
Anyone with an issue can you do the following please

Please run `devenv /log` to open the IDE. Repo the issue then get the ide logs from `%localappdata%\Xamarin\Logs\17.0` and post them here.

[2022-05-04 14:04] jonathanpeppers opened #6980 "Onboard to source.dot.net"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6

### Description

See: https://github.com/dotnet/core-eng/issues/15641

There is a .yaml template we could use to get the sources for `Mono.Android.dll` and `Java.Interop.dll` up on https://source.dot.net/.

### Steps to Reproduce

It looks like we would probably also need a variable group

[2022-05-04 18:18] dsaf commented on #6652
Annoyingly enough, I cannot reproduce it straight away anymore. Perhaps, running VS as admin released or cleared something. I will keep running VS in a non-admin mode and keep an eye. I also tend to use Hibernate option in Windows, which not many people do, instead of leaving the machine on or shutting it down. Not sure if related or not.

[2022-05-05 17:36] Hackmodford commented on #6816
@dellis1972 Any word on those PRs? I just ran into this issue today.

[2022-05-05 21:42] dominik-weber commented on #2123
@grendello Both `NSUrlSessionHandler` (iOS) and `HttpClientHandler` (.NET) respect the system default proxy, ie. they respect the proxy settings configured in the phone settings app.

See these code examples:

`new HttpClient(new NSUrlSessionHandler()).GetStringAsync("https://google.com");`
-> this will use the proxy settings configured in the iPhone settings app

`new HttpClient(new AndroidMessag

[2022-05-05 22:46] dominik-weber commented on #3954
@grendello @pjcollins The repro above still yields the same result, also when using `AndroidMessageHandler`. Are there plans to fix this?

As we need Sharepoint links to work, this issue prevents us from switching to AndroidClientHandler / AndroidMessageHandler and we have to still rely on HttpClientHandler, which brings its own problems dealing with ssl certificate validation. A fix would be high

[2022-05-05 22:46] dominik-weber commented on #5587
might be related to #3954

[2022-05-05 23:56] dominik-weber commented on #3954
@grendello @pjcollins as the solution proposed by @aliriomendes seems rather straight forward, I have created a PR here: #6987 From my testing I can confirm this solves the redirection issue for SharePoint links.

Please let me know if you need further details to process the PR.

[2022-05-06 03:29] sahil2441 commented on #6784
I'm noticing the same issue with RxJava 3 upgrade on API < 24.

[2022-05-06 09:43] #3954 closed

[2022-05-06 09:44] grendello commented on #3954
Thanks, merged! :)

[2022-05-06 09:50] dominik-weber commented on #2123
UPDATE: Please ignore my last post. This issue has actually been resolved in the past: #3058 #3060. The default proxy settings are used now when `UseProxy == true` and `Proxy == null` (which is the default configuration)

[2022-05-06 10:05] dominik-weber commented on #3954
Thanks for the quick review :) do you have an idea when this will be released? I assume it will be shipped together with a Visual Studio update?

[2022-05-06 12:36] dellis1972 commented on #6816
The fix was merged. The Nuget was apparently published 23 days ago. Not sure if it included these fixes though.

[2022-05-06 18:33] jonathanpeppers commented on #3954
I backported this to our .NET 6 release branch. Unless something unexpected happens, it should be in the final .NET 6 Android workload when it ships.

[2022-05-06 19:16] jfichtner commented on #6587
@BrzVlad , @lambdageek my testing so far has been positive in that I have not seen this freeze on the 3 instances that I have had running for 7 days now, which is very encouraging! So I would like to understand the tradeoffs of setting the MONO_GC_PARAMS to "no-concurrent-sweep". Is this equivalent to unchecking the "Use concurrent garbage collector" box in the Android Options UI for the Xamarin.A

[2022-05-06 19:47] BrzVlad commented on #6587
@jfichtner Concurrent garbage collector refers to the marking phase (which is the longest part of a garbage collection). In this mode, the major collection does a short pause where it scans the roots, then resumes the application while the concurrent mark traverses the entire heap. Once the concurrent-mark is finished it will pause again to finish the collection. As part of the collection finish w

[2022-05-06 19:48] ehuna commented on #6816
We see the same issue -

Mac
VS 2019, Version 8.10.22 (build 11)
Mono 6.12.0.174 (2020-02/adf1bc4335d) (64-bit), Package version: 612000174

Error still happens with the latest Xamarin UITest version 3.2.7 (https://www.nuget.org/packages/Xamarin.UITest/3.2.7)

Workaround of adding <AndroidUseAssemblyStore>false</AndroidUseAssemblyStore> to the Droid project, for the configuration we are testing wi

[2022-05-07 19:58] joepuhich commented on #6793
Am I missing a flag to set file to read enable ????

[2022-05-08 21:32] Greg-Bates-Trimble commented on #6011
Any chance of an update on this please?

[2022-05-08 22:09] iooovolts commented on #6011
I have had this issue a number of times now, my resolution steps are one of the following in no particular order:
- Factory reset the emulator and reinstall your app
- Clean & rebuild the UI test solution

[2022-05-08 22:16] Greg-Bates-Trimble commented on #6011
Thanks a lot for that @iooovolts. Now working. Appreciate it :)

[2022-05-09 06:05] MagicAndre1981 commented on #6509
ok, removing JDK 1.8 from PATH environment variable fixes my issue. Now VS2019 uses JDK11 even after a restart.

[2022-05-09 15:56] devilwacause commented on #6965
Same issue.  VS2017.  Fails regardless if Microsoft or Google selected.

[2022-05-09 16:17] Eilon opened #6990 "SQL Server pre-login handshake failed Android 5,6,8.1"
---
**Issue moved from dotnet/maui#6859**
- Please respond to @janseris.

---

_From @janseris on Thursday, May 5, 2022 12:39:34 PM_

### Description

SQL Server - the connection was established but pre-login handshake failed when calling database via Entity Framework

`**Microsoft.Data.SqlClient.SqlException:** 'A connection was successfully established with the server, but then an error occurred

[2022-05-09 16:17] Eilon commented on #6990
---
**Issue moved from dotnet/maui#6859**
- Please respond to @Redth.

---

_From @Redth on Thursday, May 5, 2022 1:25:46 PM_

Generally best practice would be to not connect directly to a database from a mobile application where you'll risk the server credentials being discoverable.

Aside from that, @jonpryor any ideas?

[2022-05-09 16:17] Eilon commented on #6990
---
**Issue moved from dotnet/maui#6859**
- Please respond to @drasticactions.

---

_From @drasticactions on Thursday, May 5, 2022 2:37:53 PM_

This won't be MAUI specific in any case, right? Like with that other issue linked, this stack is entirely Android and that would point to it being a net6-android issue (or at least something you need to change at a project level).

[2022-05-09 16:17] Eilon commented on #6990
---
**Issue moved from dotnet/maui#6859**
- Please respond to @Eilon.

---

_From @Eilon on Thursday, May 5, 2022 5:17:18 PM_

Should we move this to the xamarin-android repo?

[2022-05-09 16:17] Eilon commented on #6990
---
**Issue moved from dotnet/maui#6859**
- Please respond to @Redth.

---

_From @Redth on Thursday, May 5, 2022 8:19:42 PM_

I'll let @jonpryor handle moving and closing as necessary.  Unfortunately we can't move issues across orgs with GitHub, it has to be 'manually' moved.

[2022-05-09 18:29] raddevus commented on #4036
I was having a problem very similar to this but directly in AndroidStudio -- got same error "keystore tampered with or incorrect password".  I knew my password was correct because it is from a password manager.
I finally wanted to prove my password was correct so I ran the following command (on Ubuntu):

```$ keytool -list -keystore 'fakeNmae.jks' -store fake-password-same-one-i-used-in-android-st

[2022-05-10 06:32] MagicAndre1981 opened #6992 "Some input files use or override a deprecated API"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2019 16.11.13

### Description

When I compile my Android part of XF app I get this warning during compile:

[code]

Which unsafe code and deprecated API gets compiled? I'm not sure if I can ignore this as I see it for a while now in output.

### Steps to Reproduce

1. create a new XF ap

[2022-05-10 06:51] n8water commented on #6458
Hello there,

Any updates on this?

I also have a problem with the combination of Visual Studio 20220 Preview 6 and Xamarin Forms debugging.
The execution of the Xamarin Forms code in Debug mode doesn't hit any of the set breakpoints.
Is there anything special to consider?

[2022-05-10 09:35] Jerome-Liger commented on #1261
Any update ?
The problem is still present for me (VS 2019 (17.1.6) and Xamarin.Forms 5.0.0.2401)
And none of the options this or related issues worked

Conflicts for Microsoft.CSharp :
- conflict with AutoMapper(V11 & AutoMapper.Extensions.Microsoft.DependencyInjection)
- conflict with Microsoft.IdentityClient (V4.43.2)
- conflict with Microsoft.Data.SqlClient (V2.1.2)
- conflict with efcore.BulkE

[2022-05-10 09:47] MagicAndre1981 commented on #1261
I also have the [same for System.Numerics.Vectors](https://github.com/xamarin/xamarin-android/issues/6375) and the fix is to target for .net6.0-android in MAUI project to use the new .net 6 dlls.

[2022-05-10 10:03] Jerome-Liger commented on #1261
Sorry but I can't fix this by migrating to MAUI... and it doesn't fix the problem with Xamarin.Forms(/Android).
MAUI is far to be migrated on production yet...

These bugs are from my projects **in production** (more than 20) and done with Xamarin.Forms

[2022-05-10 11:42] MagicAndre1981 commented on #1261
I know, I see the same for my XF apps. I gave it up on this as the apps work so far

[2022-05-10 14:04] dellis1972 commented on #6992
Looks like these are all Xamarin.Forms related. They will need to change the various API's to no use these deprecated classes.

[code]

[2022-05-10 19:06] jpobst commented on #6962
This should be fixed now in RC3:

https://www.nuget.org/packages/Microsoft.Android.Ref.31/32.0.300-rc.3.45

[2022-05-10 19:06] #6962 closed

[2022-05-10 19:08] #6967 closed

[2022-05-10 19:15] jpobst commented on #6928
We do include the `proguard.cfg` that Google ships in the `navigation-common.aar`:
https://nuget.info/packages/Xamarin.AndroidX.Navigation.Common/2.4.2

It contains a similar blob:
[code]

I wonder if the lines are different enough that it does not work in Xamarin apps, or if this file somehow isn't being properly included in user applications.

[2022-05-10 19:19] #6753 closed

[2022-05-10 19:20] #5039 closed

[2022-05-10 19:21] #6468 closed

[2022-05-10 19:22] #6720 closed

[2022-05-10 19:22] #6740 closed

[2022-05-10 19:23] #6834 closed

[2022-05-10 19:23] #6510 closed

[2022-05-11 00:04] gmck commented on #6928
@jpobst, @moljac

I only tried 2.4.2 once and immediately had a problem with xamarin.google.android.material 1.5.0.
2.4.2 drags in 1.5.0 whereas  2.3.5.3 uses material 1.4.0.4. I have a bottomnavigationview on one of my fragments, the bottomnavigationview is not visible until that fragment is selected. I didn't notice the problem at first, but both buttons on the bottomnav open fully immersive fra

[2022-05-11 01:16] jpobst commented on #6928
That is the `proguard.txt` that Google ships in the `.aar`: https://maven.google.com/web/index.html#androidx.navigation:navigation-common:2.4.2.

We do not make any modifications to it, so only Google can answer questions about its purpose.

[2022-05-11 11:30] timvandenhof commented on #6965
Same issue on Visual Studio for Mac: VS for Mac Enterprise 8.10.23 (build 7).

The approved list is working fine, the full list is throwing the following error:
<img width="763" alt="Screenshot 2022-05-11 at 13 18 41" src="https://user-images.githubusercontent.com/2083464/167838937-eba3a2ae-ad1c-4a34-b386-1494c56c0130.png">

I asked a colleague to reproduce this issue on Windows (VS2022 preview),

[2022-05-11 11:33] grendello opened #6996 "Build gets confused about native libraries from nugets"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 7.0 preview (XA main)

### Description

A simple `dotnet new android` project with a reference to a single package with a host of native dependencies fails its **first** build with the following warnings and errors:

**Warnings**
[code]

**Errors**
[code]

However, a 2nd build (without cleani

[2022-05-11 18:03] joepuhich commented on #6793
[upload.txt](https://github.com/xamarin/xamarin-android/files/8672365/upload.txt)

[2022-05-12 01:21] kunalprakash3891 commented on #6458
Hello, also asking for an update on this.

I've moved my Xamarin project across from VS 2019 to VS 2022 and can no longer debug on Android. Breakpoints just do not trigger.

[2022-05-12 04:48] holecekp commented on #4028
I have the same experience as MarvinFrankenfeld - the crashes occasionally occur even for apps downloaded from Google Play. I am using Xamarin.Forms version 5.0.0.2337.

[2022-05-12 04:52] holecekp commented on #4557
Occasional UnsatisfiedLinkError crashes are still reported by Google Play Console. I am using Xamarin.Forms version 5.0.0.2337.

[code]

[2022-05-12 06:26] MagicAndre1981 commented on #6992
ok, this was helpful. What about unchecked or unsafe operations? Does this also come from Xamarin.Forms?

[2022-05-12 07:54] lilunxm12 commented on #6809
For my project, upgrade Xamarin.AndroidX.Legacy.Support.V13 to newest 1.0.0.13 triggers the error, revert back to 1.0.0.12 and errors disappear.

[2022-05-13 15:35] jeromelaban opened #7000 "[net6] dlopen failed: cannot locate symbol "mono_opt_aot_lazy_assembly_load""
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

Started with RC3

### Description

When building an app with `RunAOTCompilation` in release, the following error occurs:

[code]
Adding `<AndroidAotEnableLazyLoad>false</AndroidAotEnableLazyLoad>` does not seem to help.

### Steps to Reproduce

Build an vanilla android app using net6 and RC3 insta

[2022-05-13 16:22] jonathanpeppers commented on #7000
I would first verify you have the 6.0.5 version of these packs:

    C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Runtime.Mono.android-*\6.0.5

If you do, had you installed nightly builds of MAUI using `dotnet workload` commands? You might need to delete those folders and install the workload again.

[2022-05-13 18:01] jeromelaban commented on #7000
Thanks, the hint for 6.0.5 helped troubleshoot and AOT is now working properly.

The issue here is that the root of everything pulling those 6.0.5 sub-packages is `"microsoft.net.workload.mono.toolchain": "6.0.5",` in the rollback file. This was previously failing as part of the 6.0.300 preview releases, but this is a critical pieced to pulling everything to the right versions.

[2022-05-13 18:01] #7000 closed

[2022-05-15 17:58] BehnamAbdy commented on #2438
in my case it was ridiculous, in the emulator the network data was off, turning it on solved the problem

[2022-05-15 18:01] holecekp commented on #6517
@[jedusei](https://github.com/jedusei) Thank you. The deployment issues were really caused by the problem in VS. It has been fixed recently, so everything works alright after updating to VS 17.2.

For anyone that tries to migrate the splash screen to Android 12: The AndroidX library will make the splash screen work on Android 12, but it will break it for Android 5 and 5.1 (API 21-22). This is list

[2022-05-16 10:33] beeradmoore opened #7003 "WearOS app fails to compile when targeting net6.0-android"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS4Mac 2022 Preview (17.0 build 8904), .NET 6.0.300, Xamarin.Android 12.3.0.3

### Description

I have been trying to use net6.0-android as the target framework to build a WearOS wearable app after it was mentioned in an (unofficial) [.NET MAUI Platforms Support gist](https://gist.github.com/vhugo

[2022-05-16 13:42] joepuhich commented on #6793
vs2022 bugs

[2022-05-16 15:02] vhugogarcia commented on #7003
Hello @beeradmoore , I think I found a temporary workaround to develop and run Android Wear OS while the official fix is provided.

I'm on using .NET 6.0.300, Visual Studio for Mac RC2 and MAUI RC3

1. Created a new MAUI application
2. Added a new Android Wear App to the solution
3. Updated the packages that were added automatically by the VS tooling (wizard).
4. Then added some missing packaged r

[2022-05-16 19:30] devilwacause commented on #6965
Any update on this?

[2022-05-17 00:07] beeradmoore commented on #7003
Oh, neato! Followed your directions and I found a few things.

Unsure if this is what the `java.nio.file.NoSuchFileException` warning you were getting is relating to but I found adding xml files the build type was set to none by default and not AndroidResource.

The

warning appears to be because Xamarin.Android.Wear has it as a dependency like that.
![Screen Shot 2022-05-17 at 9 43 13 am](https:/

[2022-05-17 04:50] Deepak1799 opened #7006 "Cannot able to show both the horizontal and vertical scrollbars at a time in the Viewport"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.0.1

### Description

I am developing a scroll view that supports both horizontal and vertical scrolling. So I am using two controls - ScrollView (Parent) and HorizontalScrollView (child). But I cannot make both the scrollbars to be visible at anytime in the view port.

If I add

[2022-05-17 12:46] vhugogarcia commented on #7003
Hello @beeradmoore , I was able to simplify the packages dependencies and compile without any errors and no more warnings on the packages.

Please find below the project zipped and a screenshot of the configuration. One thing, I forgot to mention on my previous comment was that I had to increase the Minimum Android Version Target to 6.0 API level 23.

[Acceso.Wear.zip](https://github.com/xamarin/x

[2022-05-17 13:42] vhugogarcia commented on #7003
Hello again @beeradmoore, After being in touch with the community on Discord, we were able to solve the issue.

The following project has been updated by removing the old dependencies and just leave the AndroidX ones. Also updated the MainActivity.cs to reflect the new APIs provided on AndroidX.

The MS team needs to update the VS for Mac/Windows 2022 tooling for creating Android WearOS Apps for .

[2022-05-17 15:26] ili opened #7007 "App is failing after resign"
### Android application type

net6.0-android, +Xamarin.Forms

### Affected platform version

NET 6.0.200

### Description

The situation is: i do have `net6-android` app, i do need to publish it in private vendor's app market, all applications in this market should be signed with vendor's keys... so i do build APK, send it to the vendor, vendor do resign the apk with his private key and sends me i

[2022-05-17 15:28] vyacheslav-volkov opened #7008 "Proguard (R8) : A type variable is not in scope (Xamarin.Kotlin.StdLib + keepattributes Signature)"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.2.0

### Description

A simple android project with a reference to Xamarin.Google.Android.Material package 1.6.0 and a proguard file with single line
`-keepattributes Signature` fails.

### Steps to Reproduce

- Install Xamarin.Google.Android.Material 1.6.0 package
- Add proguar

[2022-05-17 16:31] grendello commented on #7007
@ili do you use any apk optimizing utilities/repackers? None of the entries in the `lib` and `assemblies` folders inside the apk must be compressed. You can check how the entry is stored in the archive by issuing this command (on Unix, on Windows you can probably open the apk in the Explorer and right-click on the entries to learn what is their compression method):

[code]

All the `.blob` entries

[2022-05-17 17:32] jonpryor opened #7009 "Improve AndroidToolTask Error Reporting"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

All

### Description

Context: https://developercommunity.visualstudio.com/t/Android-does-not-compile-R8-Could-not-c/10041869
Context: https://discord.com/channels/732297728826277939/732297837953679412/976106729123242034
Context? https://developerco

[2022-05-18 00:20] beeradmoore commented on #7003
@vhugogarcia awesome job! I was able to replicate the steps you had done (and with what @jonpryor had said) but to my own project and got it working. With my new project and the two you posted above I still have the same warnings I had before but everything still works. Unsure if I am missing something from being installed.

[code]

@jonpryor what server are those discord channels on? When I try g

[2022-05-18 06:31] ili commented on #7007
@grendello thanks for your answer

l'v checked original apk and resigned one - in the both cases `assemblies/*.blob` are `Stored`, `lib/**/*.so` - `Deflated`

Some my invistigations:

I'v compared both apks and see changes only in `META-INF` folder, after resign:

-  all files from this folder are removed (excepting `MANIFEST.MF`)
-  `MANIFEST.MF` is changed
- `UROVOKEY.SF` & `UROVOKEY.RSA`

I'v t

[2022-05-18 07:01] grendello commented on #7007
You can modify apk files with the standard `zip` utility. If you pass `-0` to it, it will store the files you're adding. However, the APK archives must also be properly aligned, using the `zipalign` tool, or otherwise they won't be installable on Android devices.

Before you set out to do the above, can you try the following with the APK that breaks for you:

1. remove the application from your de

[2022-05-18 07:43] ili commented on #7007
[log.txt](https://github.com/xamarin/xamarin-android/files/8714007/log.txt)

Here it is, you can find app start by searching `ru.limesoft.mobilecashdesk`

It looks like problem is here:

[code]

I'v used [zipalign](https://developer.android.com/studio/command-line/zipalign) on broken akp and that saves!

Thanks a lot for your help, it is invaluable!

[2022-05-18 07:43] #7007 closed, assigned to grendello

[2022-05-18 14:09] JosiYosi commented on #1125
I know this issue is an old one. For those who wants to resolve the issue, check android version of a device before running PIP as the following:
`if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N) {
            boolean supportsPIP = getPackageManager().hasSystemFeature(PackageManager.FEATURE_PICTURE_IN_PICTURE);
            if(supportsPIP){

                //Rational aspectRatio = new Rational(

[2022-05-18 14:17] vyacheslav-volkov commented on #7008
I use a native library (kotlin) that uses gson package. [Gson proguard.cfg](https://github.com/google/gson/blob/master/examples/android-proguard-example/proguard.cfg) requires `-keepattributes
Signature` to work with generic without it I get this message: `java.lang.RuntimeException: Missing type parameter`

[2022-05-18 14:29] vyacheslav-volkov commented on #7008
I've tried but it looks like `-keepattributes` doesn't support filters. I'll try with a native Java/Kotlin app in Android Studio and let you know if it works.

[2022-05-18 20:09] jonathanpeppers commented on #7006
@Deepak1799 it appears that your question is "How do I use ScrollView on Android?"

And so this isn't a problem in Xamarin.Android at all? but a question about the usage of an Android API? Xamarin.Android just provides what Android provides as-is. We don't have any logic for `ScrollView` here.

I would recommend asking a question on a Q&A site like StackOverflow. If you do indeed find a bug in Xam

[2022-05-18 20:09] #7006 closed

[2022-05-18 21:46] beeradmoore commented on #7003
The ones I was making was with 'dotnet new android' and the copying over things from one templates in VS4mac 2019 to make files match (eg. dimens.xml, activity_main.xml)

[2022-05-20 01:30] jonpryor opened #7020 "Optimize type & member remapping storage, lookup"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

-

### Description

Context: https://github.com/xamarin/xamarin-android/pull/6591

## Background
PR #6591 fixes https://github.com/xamarin/java.interop/issues/867, but it's largely a "prototype" with great cost to app size:

  * It uses XML as the intermediate format.
  * This XML is parsed during

[2022-05-20 12:31] 4brunu commented on #6142
@jonpryor Hi,
Since https://github.com/xamarin/java.interop/issues/867 is now closed, is this issue also fixed?
Is any extra step necessary to integrate with Java 11 API and `com.android.tools:desugar_jdk_libs:1.1.5`?
Thanks

[2022-05-21 23:39] gmck commented on #6517
@jedusei
Can you tell me how you created the splash_logo.xml from the Xamarin logo?

[2022-05-22 08:03] jedusei commented on #6517
@gmck I found an SVG version of the logo and used https://shapeshifter.design to convert it to a vector drawable.

[2022-05-22 10:39] gmck commented on #6517
Thanks for your reply, Joseph.

So where did you come across the SVG version? Do you know if that came from the mipmap-anydpi-v26 folder? I came across an interesting find this morning. If you create a new project in Android Studio all the pngs have become webp images except for the anydpi-v26 folder where they are still xml.

Anyway, I tried out your vector drawable and it seemed to work ok. Howe

[2022-05-22 11:33] jedusei commented on #6517
@gmck
I found the SVG online: https://cdn.freebiesupply.com/logos/large/2x/xamarin-logo-svg-vector.svg

Awesome! I'd like to see this; I haven't actually used the navigation component myself (haven't worked on a Xamarin.Android project in a while...been focused on Xamarin.Forms instead). I understand [MAUI](https://github.com/dotnet/maui/blob/main/src/Core/src/Platform/Android/Navigation/StackNavi

[2022-05-23 00:25] gmck commented on #6517
@jedusei
_Just to be clear..._

No the launcher icon in all 3 projects is the default as all the projects were created from the default navigation drawer template.

I'm going to change the 3rd project so that Dark mode is only available on Android 10 and above, which will eliminate the problem I'm having. I'll then create a 4th project which will introduce SplashScreen and try and then add Dark mo

[2022-05-23 07:01] gmck commented on #6517
@jedusei

I decided to re-check your sample, so I deleted what I had downloaded over the weekend and unzipped the download again. Built and deployed it.

On any device from Nexus5x (Android 8) to Pixel6 (Android 12), it behaves the same. The splash screen always displays with a white background and your modified icon. The icon has a blue background and a white X, completely different to the normal

[2022-05-23 07:26] jedusei commented on #6517
@gmck

You'd be surprised...
 (Android Studio > New project > No Activity > At the "Minimum SDK" section, click "Help me choose")
![image](https://user-images.githubusercontent.com/18331712/169764949-60958b34-4b39-43b8-bb3c-c1ea98570021.png)

Sure, that would be fine.

Yes, I deliberately made it that way to demonstrate to @sisaacks that the background color could be fixed independent of the syste

[2022-05-23 23:34] gmck commented on #6517
@jedusei

**You can restore the default behaviour by removing or commenting out this line in styles.xml**

Ok, that does work.

What I'm trying to do is let Dark mode be always dark, but allow Light mode to be maybe another colour other than white, say colorPrimary or define your own colour.

That is what I'm now attempting in the third version of the NavigationGraph projects because it has separa

[2022-05-24 01:09] jonpryor commented on #7009
…and another: https://discord.com/channels/732297728826277939/732297837953679412/978456435279155260

[code]

[2022-05-24 06:44] gmck commented on #6517
@jedusei

The NavigationGraph projects are now on Github. github.com/gmck. Let me know how it goes for you.

[2022-05-24 13:56] jonathanpeppers commented on #5472
I think I did here that this was fixed in VS Mac (not on a public PR). Thanks @yaliashkevich, let us know if you run into anything else!

[2022-05-24 13:56] #5472 closed

[2022-05-24 14:01] adamzucchi commented on #6004
@jonathanpeppers  - I am also running into a series of these types of errors, specifically APT2254 and APT2261.

The APT2254 references an 'xml parser error: no element found' and the APT2261 is 'the file failed to compile.'

Those errors occur after a clean (deleted bin and obj). **Sometimes** if I attempt to build again right after those errors occur I only get one error 'unexpected end of file

[2022-05-24 17:55] dooferorg commented on #6809
Confirmed that version 1.0.0.12 on the Xamarin.AndroidX.Legacy.SupportV4 also makes this error go away. 1.0.0.13 has quite the breaking change for a point release.

[2022-05-26 03:00] jonathanpeppers commented on #6004
@adamzucchi from what I've seen so far this issue is caused by the Xamarin.AndroidX.Migration package (wraps jetifier and other tooling), which is deprecated, see details at:

https://github.com/xamarin/AndroidX/issues/563

I would recommend removing any usage of `Xamarin.Support.*` packages in favor of the newer `Xamarin.AndroidX.*` packages. Google is making the same recommendation to remove jet

[2022-05-26 04:06] lilunxm12 commented on #6809
For me it's the two XA4218 missing jars. androidx.window.sidecar.jar and androidx.window.extensions.jar

[2022-05-26 10:46] Ajaysinh4377 opened #7034 "Implement Zoom use-case using Camera2 > Multi-camera API"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Visual Studio 2022 17.1.6, Xamarin.Android SDK   12.2.4.3

### Description

I have tried to implement a Multi-camera API to access a Wide-angle camera but no luck. Using the following links, not getting camera Ids on Nokia 7.2, Mi A1, Mi A3, One Plus Nord 2, and Samsung M30s.

https://grou

[2022-05-26 11:12] moljac commented on #6809
Sec! Missing `androidx.window.sidecar.jar`???

Official google maven does not mention `androidx.window.sidecar` artifact (neither `jar` or `aar`):

https://maven.google.com/web/index.html?q=androidx.window#androidx.window

if you step out of Microsoft world there are few pointers (though there is MS FTE working on the issue):

In

https://groups.google.com/a/chromium.org/g/java/c/bf9if0l3VJ4?pli=1

[2022-05-26 11:20] moljac commented on #6809
Also related;

https://github.com/xamarin/AndroidX/issues/542

[2022-05-26 11:24] moljac commented on #6809
@jonathanpeppers @jpobst
From AndroidX issue

TL&DR;

where would:

[code]

come from???

[2022-05-26 13:24] jpobst commented on #7034
The Java constants have been converted to C# enum values:

https://docs.microsoft.com/en-us/dotnet/api/android.hardware.camera2.requestavailablecapabilities

If you need them as an `int`, you can cast them:

[code]

Ultimately, all Xamarin.Android does is provide generated wrappers that allow you to call Google’s Android API. We do not have much expertise in how to use those API’s properly.

You w

[2022-05-26 13:52] dooferorg commented on #6809
It was the ones I googled for that got me to this thread.

`Warning		Unable to find //manifest/application/uses-library at path: C:\Program Files (x86)\Android\android-sdk\platforms\android-31\optional\androidx.window.sidecar.jar
Warning		Unable to find //manifest/application/uses-library at path: C:\Program Files (x86)\Android\android-sdk\platforms\android-31\optional\androidx.window.extensions.j

[2022-05-26 14:05] jpobst commented on #6809
Ok, those are just warnings, not errors.  It is suggested to ignore them.

[2022-05-26 14:08] jpobst commented on #6809
@gmck

These warnings are coming from AndroidX (Xamarin.AndroidX.SlidingPaneLayout), VS updates will not fix it.

[2022-05-26 14:09] dooferorg commented on #6809
Not good practice to simply 'ignore warnings'. Not how I like to write my programs. Thank you for your opinion.

[2022-05-26 14:19] jpobst commented on #6809
@jonathanpeppers

It comes from [Xamarin.AndroidX.Window](https://www.nuget.org/packages/Xamarin.AndroidX.Window/1.0.0.8).

Most Android apps will eventually depend on this package through a long enough dependency chain:
[code]

[2022-05-26 14:22] jonathanpeppers commented on #6809
What about `window-extensions`, though? It seems like r8 wants that `.jar` to avoid some warnings? If that file was added to the `AndroidExternalJavaLibrary` item group, it would go away.

We'd have to change something in Xamarin.Android to fix our warning, it could probably check the `AndroidExternalJavaLibrary` item group to skip the warning.

[2022-05-26 14:29] jpobst commented on #6809
It might fix one of the warnings, but not the `sidecar` one.  The "jar" is also called `window-extensions-1.0.0-alpha01.aar` so I'm not sure if that will work?

Maybe we should be looking at the `required` attribute and not warning if it's `false`?

[code]

Granted, that's why it's only a warning and not an error.

[2022-05-26 14:37] jonathanpeppers commented on #6809
The `required="false"`, means it is a library only present on some devices (OEMs put it there).

The example is `android.car.jar`:

![image](https://user-images.githubusercontent.com/840039/170510469-f03bab07-0c6e-478e-8786-d903896fc288.png)

Your app might use that but work on phones, and it would only be present on embedded Android Auto devices.

[2022-05-26 14:41] jpobst commented on #6809
Maybe when these libraries are stable Google will add them to `/optional`?

[2022-05-26 14:44] dellis1972 commented on #6809
Maybe we should not emit the warning when we cannot find the library in `optional` if `required` is `false` ?

[2022-05-26 15:57] moljac commented on #6809
@jonathanpeppers

I would not do that. Warnings are not caused by us.

This leads to correct official location

https://maven.google.com/web/index.html?q=androidx.window#androidx.window:window-extensions

No. It was bound when `androidx.window.*` was in preview for Screen Duo work, but not touched/updated afterwards.

see my comment:

https://github.com/xamarin/xamarin-android/issues/6809#issuecom

[2022-05-26 21:49] Eilon commented on #6990
@janseris sorry this is not an area I'm familiar with at all.

@jonathanpeppers - do you know who could look at this or what milestone it might get slotted into for investigation?

[2022-05-26 22:01] VincentUhlmann opened #7040 ".aar file missing from NuGet package for .net6-android binding"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET6-Android

### Description

Hey, I am currently facing a problem with a .net6-android binding project. Generally the binding works as long as I add the binding project as reference to e.g. a MAUI app. However, as soon as I make a NuGet package from the binding and use it, I get errors like "JA

[2022-05-26 22:15] jpobst commented on #7040
In .NET 6 projects, the `.aar`/`.jar` is no longer included inside the `.dll`.  You will need to ensure that the file is placed in the NuGet in the same directory as the `.dll`.

More information is available here:
https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/OneDotNetEmbeddedResources.md

[2022-05-26 22:30] jpobst commented on #7040
@jonathanpeppers If I create a new binding library and Pack it from the template with `window-extensions-1.0.0-alpha01.aar`, I get this:

![image](https://user-images.githubusercontent.com/179295/170589518-b26ab9cd-3042-4495-a324-77b308cc6087.png)

If I use `okio-2.10.0.jar`, I get this:

![image](https://user-images.githubusercontent.com/179295/170589744-be846af6-0857-4c18-9265-7064bea3db1a.png)

[2022-05-27 01:33] davidortinau opened #7041 "[Templates] Update .NET 6 templates"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

All

### Description

Update app icon and splash screen for all templates to reflect .NET 6 branding - purple and .NET logo.

Remove/replace all Xamarin branding

### Steps to Reproduce

create a new .NET 6 for Android app and observe the Xamarin logo and branding

### Did you find any workaround?

[2022-05-27 03:31] jonathanpeppers commented on #7040
Yeah, something seems wrong here, I'll test.

[2022-05-27 18:58] jonathanpeppers commented on #7040
@VincentUhlmann it appears that no one noticed this case wasn't right...

For now I'd workaround this with something like:

[code]

I'll post this on a MAUI / Android known issues document. Thanks for catching this!

[2022-05-27 19:05] jonathanpeppers commented on #7040
Linked to this problem at:
* https://github.com/xamarin/xamarin-android/wiki/Known-issues-in-.NET
* https://github.com/dotnet/maui/wiki/Known-Issues

[2022-05-27 20:06] jonathanpeppers commented on #7041
@davidortinau where should we get the images from? MAUI templates use `.svg` files.

[2022-05-27 20:24] jonathanpeppers commented on #6990
@janseris I am not getting the same error using the sample project above. Does this app talk directly to a database? I wouldn't recommend doing this in a mobile app-- security best practice would be to put a web service in between.

To look into this further, I think we need [adb logcat](https://docs.microsoft.com/xamarin/android/deploy-test/debugging/android-debug-log#accessing-from-the-command-l

[2022-05-27 20:26] jonathanpeppers commented on #6990
@steveisok there is a partial stack trace above, should `Microsoft.Data.SqlClient` work on Android?

[2022-05-27 21:00] VincentUhlmann commented on #7040
Glad I could help / contribute to this! Thanks also for the workaround, I will test as soon as I have time.

[2022-05-27 21:08] janseris commented on #6990
The error can be reproduced by any MAUI app talking to external sql server on Android 8.1 and lower for me. There is no specific code needed. Yes the situation is db call from Android to SQL Server.
What result do you get if not what I got? BTW make sure there is a connection string to a valid SQL server to reproduce the issue. Otherwise invalid host name SQL Exception is received.
As for safety y

[2022-05-27 22:23] jonathanpeppers commented on #6990
Yes, since I do not have a SQL Server to interact with, I just ran the sample as-is.

[2022-05-28 07:40] gmck opened #7048 "VS2020 17.3.0 Prev 1.1 Add new item dialog - useless."
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.3.0 Prev 1.1

### Description

I have been using 17.3.0 P1.1 for a couple of days and other than issue #6809, which I've already commented on, it has been going well. However, I just attempted to create a new class - via Add New Item. When the add new item dialog comes up, it is

[2022-05-28 07:54] janseris commented on #6990
I read here https://github.com/netty/netty/issues/4718 that the issue might be that different implementations of SSL communication is used in different version of Android. Some of them tolerate multiple handshakes started and the one here throws an exception in that situation.
I however don't know what to do about it.
Btw I can see that the TLS/SSL version switch in .csproj properties for Android

[2022-05-30 07:53] bpater-tp commented on #6816
@ehuna I have the same experience. Tests are run from mac and recent VS2019.

[2022-05-30 22:44] kurema commented on #4152
Note:
If you still have problem with "/p:AndroidAotProfilerPort=12345" option, make sure you use the option both on `msbuild /t:BuildAndStartAotProfiling` and `msbuild /t:FinishAotProfiling`. Either doesn't work.

[code]

[2022-05-31 07:54] LukasBajus commented on #6816
I have same issues, seems like there was no release of Xamarin UITest, so I am running on 3.2.7

[2022-05-31 09:18] sisaacks commented on #6517
The old splash is deprecated. I believe you can create an activity to show the old one.

SUA SPONTE
-- Its better to fail while daring greatly,  than to be with those cold and timid souls who neither know victory nor defeat.
-- Someone once told me not to bite off more than I could chew. I said I'd rather choke on greatness than nibble on mediocrity.

[2022-05-31 12:10] gmck commented on #6517
The is no need for any theme in the Activity attribute of your MainActivity. That is what postSplashScreenTheme is for. In your manifest, you still should have MainTheme in your case.

The docs specifically say get rid of your old splash screen, especially, if it is a separate splash activity. If your old splash screen is a layer_list in the drawable folder then that can work too.  When I first co

[2022-05-31 12:19] AlleSchonWeg commented on #6517
My solution is to create a values-v31 folder with a new styles.xml and move the new splash screen xml definition to the newly created file:
[code]

[2022-05-31 16:39] #7048 closed

[2022-06-01 07:58] gmck opened #7056 "Redirecting specific Xamarin.Android issues to Microsoft’s Developer Community is useless"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.3.0 Prev 1.1

### Description

@jonathanpeppers, @dellis1972 , @jonpryor , @jpobst

I’ve now been asked here twice to redirect problems raised here in Xamarin.Android to the Developer Community site through the Visual Studio’s Send Feedback/Report a Problem functionality.

From

[2022-06-01 16:00] #6945 closed, assigned to dellis1972, jonathanpeppers

[2022-06-01 16:00] #6944 closed

[2022-06-01 16:00] #6847 closed

[2022-06-01 16:00] #6767 closed, assigned to dellis1972, jonathanpeppers

[2022-06-01 16:01] #6730 closed, assigned to jonathanpeppers

[2022-06-01 16:01] #6668 closed

[2022-06-01 16:01] #6652 closed

[2022-06-01 16:01] #6632 closed

[2022-06-01 16:01] #6574 closed

[2022-06-01 16:01] #6476 closed

[2022-06-01 16:01] #6458 closed

[2022-06-01 16:01] #6409 closed

[2022-06-01 16:01] #6268 closed

[2022-06-01 16:01] #6262 closed

[2022-06-01 16:01] #6261 closed

[2022-06-01 16:01] #5946 closed

[2022-06-01 16:02] #5881 closed

[2022-06-01 16:02] #5794 closed

[2022-06-01 16:02] #5625 closed

[2022-06-01 16:02] #5614 closed

[2022-06-01 16:02] #5241 closed

[2022-06-01 16:55] jonathanpeppers commented on #1160
Is this issue still happening in .NET 6 Android projects? Thanks!

[2022-06-01 21:03] vchelaru commented on #5554
For me this is *the* biggest productivity killer I experience at my job. I would love to see this fixed, or some indication that this is being worked on.

[2022-06-01 21:53] jpobst commented on #7056
The only service I know of where Microsoft guarantees a timely response (I think) is a support incident:
https://docs.microsoft.com/en-us/visualstudio/subscriptions/vs-tech-support

The official place to give feedback to the Xamarin VS Extension team is Developer Community.  Unfortunately we do not have any control or insight over how other teams triage and prioritize their issues.

I sympathize t

[2022-06-01 21:53] #7056 closed

[2022-06-02 06:15] stoff99 commented on #5938
I need this bot as well for my customers.

Thats a good support strategy.
1. Get a Ticket with a super easy reproduce able Bug.
2. React on the ticket.
3. Don't provide any fix and just ignore it.
4. After a year, simply close the ticket with a bot.

[2022-06-02 13:37] bicheichane commented on #5554
I've also been affected by this since.. perhaps the last 5-6 years. Ever since I started doing xamarin android really. As in other comments, I also have simply learned to live with having to create more breakpoints before stepping over async function calls, and it would be awesome if I didn't have to continue doing that!

[2022-06-02 14:17] jonathanpeppers commented on #5938
We enabled this bot for the first time today, and some issues were closed that are mislabeled.

@dellis1972 there are some PRs linked to this issue from our private repo, any chance this is fixed? Can @stoff99 try something else with our latest release?

[2022-06-02 18:18] StraleXY commented on #6517
Hi.. I've tried this example but the logo is not showing and I can't figure out why.. Any ideas?

[2022-06-02 18:19] StraleXY commented on #6517
Hi.. I've tried this example but the logo is not showing and I can't figure out why.. Any ideas?

[2022-06-03 05:04] richirisu opened #7066 "Asynchronous tasks only succeed when tapping the display on Chromebooks"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VSMac 8.10

### Description

First of all, this issue _only_ occurs on Chromebooks running Xamarin Android applications. It _does not_ occur on Android phones when running the same application.

When using asynchronous tasks, it happens every so often that the tasks will not return, _unles

[2022-06-03 05:40] richirisu commented on #7066
Debugging Android apps (incl. Xamarin.Android apps) on a Chromebook:
https://chromeos.dev/en/android-environment/deploying-apps

Also, in order to be able to deploy the app to the Chromebook, you need to set `EmbedAssembliesIntoApk = True` in the Xamarin.Android project file.
https://stackoverflow.com/questions/69327294/xamarin-deploy-chromebook-error-xa0131-run-as-tool-has-been-disabled
https://g

[2022-06-03 10:17] MagicAndre1981 commented on #6652
for me the issue still happens in 17.3 P1.1 and this time running VS as admin doesn't fix it

[2022-06-03 10:50] DavidMarquezF opened #7067 "Crash Android 12 Bluetooth Connect"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.0.4

### Description

With an Android 12 device, after following [android's bluetooth permission article](https://developer.android.com/guide/topics/connectivity/bluetooth/permissions) when trying to call `BluetoothAdapter.ConnectAsync()` the app crashes with:

[code]

As you ca

[2022-06-04 01:01] gmck opened #7069 "VS2020 17.3.0 Prev 1.1 Add new item dialog - FIXED"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2020 17.3.0 Prev 1.1

### Description

I owe everyone here an apology for my comments earlier in the week about this problem.

I came across the following tip https://blog.taranissoftware.com/vs2022-173-preview-11-missing-xamarin-sdks which restores the add new item templates back to wha

[2022-06-04 10:45] gmck commented on #7067
Add, even if you don't scan directly.

<uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />

[2022-06-05 18:40] dellis1972 commented on #5938
@stoff99 we have released newer versions of the fast dev tooling with better error checking. If it still happens could you provide the logs as outlined in https://github.com/xamarin/xamarin-android/issues/5938#issuecomment-844053039 again please.

[2022-06-06 06:09] DavidMarquezF commented on #7067
Why though? The Android docs don't say you need it for my intended case (which is only connecting to already paired components). Adding an extra permission in the Manifest just to fix this issue is not ideal since you should always try to keep them at a minimum

[2022-06-06 07:58] gmck commented on #7067
@DavidMarquezF

Well in my case I expected the same as you. But it appears that if you use a BluetoothAdapter as in

[code]
and then get a list of paired devices as in
`ICollection<BluetoothDevice> pairedDevices = bluetoothAdapter.BondedDevices;`

They seem to consider that as a scan. I'm presuming you offer the user a list of Bluetooth devices to choose from?

Note that Android 12 also changed fr

[2022-06-06 08:09] grendello commented on #7067
@DavidMarquezF @gmck's advice is correct. Also, please not that it is **not** a Xamarin.Android issue and we can't fix it. The exception is thrown
by the Android runtime, not by us, we simply relay it to the managed land. Xamarin.Android doesn't implement any of the APIs you call, the `android-31/mcw/`
fragment of the source file path in stack trace tells you that this is a generated wrapper aroun

[2022-06-06 08:09] #7067 closed

[2022-06-06 10:50] janseris commented on #6990
@Eilon @jonathanpeppers I provided required info.

[2022-06-06 19:23] Eilon commented on #6990
@janseris sorry about that. I think the MsftBot got confused because in this bug I am the original opener (I copied the bug from the other repo), so even though you did reply, the bot saw that _I_ didn't respond after a few days of the `need-info` label, so it thought I was ignoring it and closed the issue.

[2022-06-07 12:58] stoff99 commented on #5938
Hello @jonathanpeppers and @dellis1972,
sry for my last comment. It was not my best day in life ... ;)
I redownloaded and reinstalled the latest VS Mac V17.0.1 (build 72) and i can confirm that this bug is fixed.
Thx a lot for fixing it!

[2022-06-07 13:15] dellis1972 commented on #5938
@stoff99 thanks for letting us know. I'll close this issue now.

[2022-06-07 13:15] #5938 closed

[2022-06-07 15:17] #7041 closed

[2022-06-07 17:12] #7020 closed

[2022-06-08 17:00] #1181 closed

[2022-06-08 17:01] #1160 closed

[2022-06-08 17:01] #1147 closed

[2022-06-08 18:00] jonathanpeppers commented on #1392
Does this issue still occur with the latest VS 2022 17.2 release? Thanks!

[2022-06-08 18:02] jonathanpeppers commented on #1406
Does this issue still occur with the latest VS 2022 17.2 release? Thanks!

[2022-06-09 11:32] gmck commented on #7067
@DavidMarquezF ,

Yes, you are correct. I must have already selected a device to get to cancel.discovery, which is right before Connect. I'll have to check the code in my library in the morning. I'll try and recreate it so we can compare what permission is missing.

[2022-06-09 15:33] mr-rajeshrathod commented on #4647
I am also facing the same issue and these steps were very much helpful to find the root cause. My organization installed McAfee EDR on workstation and that was causing the problem in my case. So, I have asked them to remove and it started working again.

[2022-06-09 15:34] mr-rajeshrathod commented on #4647
I am also facing the same issue and these steps were very much helpful to find the root cause. My organization installed McAfee EDR on workstation and that was causing the problem in my case. So, I have asked them to remove and it started working again.

[2022-06-09 15:36] jonathanpeppers commented on #4647
Thanks!

If someone could comment they are still hitting this *and*:
1. They're using the latest VS 2022 17.2 release
2. Verified no antivirus software is the actual cause

We should look into it further if that isn't the case, thanks!

[2022-06-10 01:19] gmck commented on #6517
@jedusei

The NavigationGraph3 project has now been updated to use AndroidX.Core.SplashScreen see https://github.com/gmck/NavigationGraph3

For those who don't know, there are 3 projects NavigationGraph1, NavigationGraph2 and NavigationGraph3 explaining the concepts of Google's NavigationComponent for Xamarin.Android ranging from simple to more complex. It is only the NavigationGraph3 project that

[2022-06-10 07:21] gmck commented on #7067
@DavidMarquezF,

My comments were wrong last night.

Today, I just commented out both permissions and then commented out the code requesting permissions.

I run code, a BottomSheetDialog just before opening the SettingsFragment and warn an Android 12 user that they will get a permission request dialog before the SettingsFragment opens. I immediately got java.lang.SecurityException: Need android.pe

[2022-06-10 08:56] DavidMarquezF commented on #7067
@gmck The error you got is expected and is correct since from Android 12 you must ask permissions for the Bluetooth Connect permission in the manifest and in runtime. In my code I ask and get that permission, which is why I can get the bonded devices.

However, if you look at the error in my logs, it is an `android.permission.BLUETOOTH`, not `BLUETOOTH_CONNECT`, which in theory should not exist in

[2022-06-10 09:02] grendello commented on #7067
@DavidMarquezF recreating the issue in Java is always a good idea, indeed. If you can't reproduce it there, then there's a chance that it might be an issue with our bindings generator (mapping of some values, enumification) - in that case, do reopen this issue and we'll take a look at that.

[2022-06-10 12:19] gmck commented on #7067
@DavidMarquezF, @grendello

I just tried removing `<uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />`
without touching the other 3 permissions and it runs ok, so it looks as though Android 12 doesn't even care about the BLUETOOTH permission. However, that doesn't explain your original exception where it only mentions BLUETOOTH and not the others.

As @grend

[2022-06-10 16:08] xDaijobu opened #7085 "The debugger isn't "breaking" correctly when there is an exception in VSMac 2022 / VSMac Preview 2022"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VSMac & VSMac Preview

### Description

**net6.0-android ( VSMac & VSMac Preview )**
![image](https://user-images.githubusercontent.com/22674537/173105620-0a60e96e-712a-4b57-ac52-f3f172a3c6b5.png)

**Xamarin.Android ( VS Windows )**
![image](https://user-images.githubusercontent.com/226745

[2022-06-10 17:02] DenisLaky opened #7086 "AndroidMessageHandler disposes request MultipartFormDataContent inner JsonContent immediately after sending request"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS for Mac 8.10.23 (build 7)

### Description

AndroidMessageHandler disposes HttpContents buffered streams after [request content was written to HttpConnection.OutputStream](https://github.com/xamarin/xamarin-android/blob/944f88a8b6f1c30eaf43f56cfbebf0f8cd7a547f/src/Mono.Android/Xamarin.A

[2022-06-11 05:12] jxbrenner opened #7088 "Regression: Runtime errors with IL stripped assemblies"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Xamarin.Android 12.3

### Description

Mono runtime error, app hangs and crashes. See device log output below.

Sample project attached for reference. MSBuild configured to match what I'm using in VS 2019 for app distribution.
[XamarinAndroidApp.zip](https://github.com/xamarin/xamarin-andr

[2022-06-12 18:21] tipa commented on #3589
The problem reported in https://github.com/xamarin/xamarin-android/issues/3263 happens again with VS 17.2.3.
Can the issue be reopened or should I file a new issue?

[2022-06-13 02:56] gmck commented on #6517
@jedusei, @sisaacks, @AlleSchonWeg, @holecekp, @elOG8 , @mfeingol, @MicahArmantrout, @jpobst

I hope I haven't left anyone out here.

**Splash Screens – Android 10 and above.**

What I would like to achieve is being able to set Dark Mode from within the app by having a preference _Select system theme_ that has the default three choices System Default, Light and Dark. I can achieve that within the

[2022-06-13 03:26] xDaijobu commented on #7085
Xamarin.Android with Visual Studio 2022 (Windows)
![image](https://user-images.githubusercontent.com/22674537/173274020-ff46b953-e0f6-4710-aea5-80000960fe79.png)

Microsoft Visual Studio Community 2022
Version 17.2.3
VisualStudio.17.Release/17.2.3+32526.322
Microsoft .NET Framework
Version 4.8.04161

Installed Version: Community

Visual C++ 2022   00482-90000-00000-AA178
Microsoft Visual C++ 2022

[2022-06-13 03:50] xDaijobu commented on #7085
**_Workaround_**
![image](https://user-images.githubusercontent.com/22674537/173276055-44f4efc0-6f73-4549-b2c4-52e4f069f09d.png)

![image](https://user-images.githubusercontent.com/22674537/173276154-9fe2c05b-a0c2-4ace-9a4f-f0a28c6eb232.png)

[2022-06-13 04:18] xDaijobu commented on #7085
Xamarin.Android 12.3.99.58 (main/64b22fc)
Visual Studio 2022 17.3.0 Preview 1.1

![image](https://user-images.githubusercontent.com/22674537/173278714-024ce991-0280-45ab-b4c2-595819b6e098.png)

[2022-06-13 13:33] jonathanpeppers commented on #7088
This setting is not supported in .NET 6, does it help to remove it?
[code]

Likewise, we don't have support for this "experimental" setting either:
[code]
Which is what would use `cil-strip`. Can you give some more info on why you'd like to use it? Thanks!

[2022-06-13 15:53] thisisthekap opened #7089 "Debugger not working in cross platform project when running on chrome os (chromebook)"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

Xamarin.Android 12.3.0.3

### Description

When debugging a Xamarin.Android project on chrome os using a network connection, breakpoints in the android project are hit properly:

![breakpoint-mainactivity](https://user-images.githubusercontent.com/9071974/173393906-55a8dbdf-6837-43cb-9a3d-

[2022-06-13 17:10] grendello commented on #7089
@akoeplinger @lambdageek it might be either the IDE or the runtime side of the soft debugger, can you dispatch it as appropriate? Thanks!

[2022-06-13 17:30] akoeplinger commented on #7089
@grendello hmm given breakpoints work in the Android project but not in the "cross-plat project" (which is the NS2.0 library with the shared code) I'm not actually sure this is a debugger issue directly since there should be no difference since the actual app is the same. Maybe the .pdb from the NS2.0 library doesn't end up in the app somehow?

[2022-06-13 17:46] jpobst commented on #7089
Possibly related: https://github.com/xamarin/xamarin-android/issues/7085.

[2022-06-13 18:50] pjcollins opened #7091 "No longer seeing InvalidOperationExceptions with certain Assembly.ReflectionOnlyLoad usage"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 17.3

### Description

Commit e1af9587bb98d4c249bbc392ceccc2b53ffff155 seems to have somehow affected `Assembly.ReflectionOnlyLoad` related API usage. We're seeing four new BCL test failures that are related:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=6270744&view=ms.

[2022-06-13 22:06] jxbrenner commented on #7088
@jonathanpeppers hey what gives, now you're making me think! I don't think so. I spent some time comparing the output of stripped assemblies produced when I build with the example project with VS 2019 and VS 2022, and so far I believe cil-strip is still producing the same output for given input (go figure, it's version 0.6.9.0 in both versions of VS). Definitely the case with XamarinAndroidApp and

[2022-06-13 23:59] jonathanpeppers commented on #7088
Yes, you might try this for your `Release` configuration:
[code]
And if that solves the issue, there might be a problem with this combination of settings. Let us know, thanks!

[2022-06-14 01:25] btourtellott opened #7107 "[Bug] Android request cookie header duplication during HLS"
### Description
Xamarin.Forms Android's cookie headers get duplicated during HTTP requests while HTTP live streaming is occurring. [This link is an example solution](https://github.com/btourtellott/xamarin-android-hls-bug-test) for easy reproduction.

### Steps to Reproduce
0. Have a proxy running to observe network traffic from the Android app. I am using [Charles](https://www.charlesproxy.com/).

[2022-06-14 06:01] jxbrenner commented on #7088
Unfortunately if there's an easy fix, that's not it, still the same runtime error.

To help you help me I've attached a diff report of the build properties from the MSBuild logs of the example project (VS 2019 on the left, VS 2022 on the right). Does anything jump off the page for you? How about the runtime error? Invalid IL code in the BCL, I mean there shouldn't be any since we stripped it, and

[2022-06-14 08:49] thisisthekap commented on #7089
@akoeplinger The NS2.0 library ends up in the app for sure, because all the code in there works properly (doing calculations, opening dialogs, ...).

[2022-06-14 08:50] thisisthekap commented on #7089
@jpobst I do not think this one is a duplicate of #7085, because I see no exception when running the app on chrome os (but i might be easily missing something).

[2022-06-14 09:08] dellis1972 commented on #7088
@jxbrenner can use us the `monodis` tool (if you have access to mono) to get the contents on the stripped assembly from both VS2019 output and VS2022 output. Then diff that output to see what changed.

[2022-06-14 17:25] #7091 closed

[2022-06-14 20:02] dk-jlew opened #7095 "HLS Streaming Webview corrupts cookie headers in native network calls"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VSMac 17.3

### Description

A WebView that renders a  `<video>` element that uses HTTP Live Streaming appears to corrupt the app's native networking stack (`HttpClient/AndroidClientHandler`) and causes duplicate cookie headers to be sent until the app is hard-reset.

Xamarin.Android repro

[2022-06-14 20:06] jpobst commented on #7095
To be clear, do you see this on both Classic and .NET 6 version?  They use very different `HttpClient` implementations and I am surprised if they are affected the same way.

[2022-06-14 20:15] jpobst commented on #7085
@jonathanpeppers I don't know how to assign this one.  If it's not you, please help it find a home!

[2022-06-14 21:38] dk-jlew commented on #7095
Hmm, now that you mention it, I'm not sure I did the net6 conversion right, let me check that.

[2022-06-14 21:45] dk-jlew commented on #7095
Ok, VSMac (17.3 preview) was not allowing me to deploy a project created via `dotnet new android` to either a simulator or my device:
![image](https://user-images.githubusercontent.com/58529643/173694265-5321535f-c512-4af3-8fed-b41d59d2d52b.png)

(Not sure what's incompatible w/ API level 29, I'll try a newer image)
So, I created the project from inside Visual Studio but apparently that was using

[2022-06-14 22:01] jpobst commented on #7095
Understood, however if possible, the results would potentially help us narrow down the cause.  😁

[2022-06-14 23:50] jxbrenner commented on #7088
@dellis1972 I was doing a pretty superficial comparison just looking at some of the tables and method signatures using dnSpy, but I installed mono, dumped the CIL images, and diffed to see what changed. I focused on mscorlib since the runtime error is complaining about invalid IL in the Dictionary type.

For a given input (mscorlib v2.0.5.0), there are definitely differences in the build output of

[2022-06-15 08:54] dellis1972 commented on #7088
Regarding `AndroidAotStripLibraries` the actual name of that property is `_ AndroidAotStripLibraries` as its an "internal" property. So be sure you include the underscrore when setting it in your project.

`AndroidAotEnableLazyLoad` is not an internal property so that one should work...

can you post a snippet from your csproj where you are setting these properties?

@grendello we might need some

[2022-06-15 09:22] tipa opened #7097 "TypeLoadException when registering TextChanged event on TextView"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022 17.2.4, Xamarin.Android 12.3.3.3

### Description

[code]

This problem has been previously reported here: https://github.com/xamarin/xamarin-android/issues/3263

Example app: [AndroidApp1.zip](https://github.com/xamarin/xamarin-android/files/8907845/AndroidApp1.zip)

### Steps to Reproduc

[2022-06-15 15:13] lambdageek commented on #7089
@thaystg was able to reproduce the issue; she's investigating.

[2022-06-15 18:01] #1392 closed

[2022-06-15 19:01] #1406 closed

[2022-06-15 19:01] #1393 closed

[2022-06-15 19:28] dk-jlew commented on #7095
We have attempted, unsuccessfully so far, to reproduce this behavior in a native (Android Studio/Kotlin) app, however we used higher-level networking stack than what AndroidClientHandler uses, because it would take quite a while to implement at that low of a level.  It's quite possible that this is a WebKit/Android-level bug vs a Xamarin bug, but I have no real evidence either way.  I copied `Andr

[2022-06-15 21:58] jxbrenner commented on #7088
@dellis1972, thanks for the heads up, silly mistake. Here's my project file (appended .txt so I could upload):
[XamarinAndroidApp.csproj.txt](https://github.com/xamarin/xamarin-android/files/8913335/XamarinAndroidApp.csproj.txt)

@grendello here's the device log:
[log.txt](https://github.com/xamarin/xamarin-android/files/8913322/log.txt)

I spent some time trying different versions of VS 2022 and

[2022-06-15 22:14] vsfeedback opened #7101 "Xamarin Android: System.NullReferenceException on any exception thrown inside Task"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-Android:-SystemNullReferenceExc/10069660)._

---
If we try to throw any exception inside a Task and not catch it, the original exception is lost and NullReferenceException is raised instead. If we try to catch the exception, it works properly.
This behavior is not observed in VS2

[2022-06-15 22:15] vsfeedback opened #7102 "Xamarin Android: System.NullReferenceException on any exception thrown inside Task"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-Android:-SystemNullReferenceExc/10069660)._

---
If we try to throw any exception inside a Task and not catch it, the original exception is lost and NullReferenceException is raised instead. If we try to catch the exception, it works properly.
This behavior is not observed in VS2

[2022-06-16 07:44] Macjon commented on #7008
@jonathanpeppers this is the build log of my test project. https://gist.github.com/Macjon/a15676f9199fbf6779fe519256f9fa7e

[2022-06-16 14:16] jpobst commented on #7102
Possible duplicate of https://github.com/xamarin/xamarin-android/issues/7085?

[2022-06-16 14:17] jpobst commented on #7101
Duplicate of https://github.com/xamarin/xamarin-android/issues/7102.

[2022-06-16 14:30] dk-jlew commented on #7095
After some more digging, I now believe this is the nature of the problem:

https://stackoverflow.com/questions/16305486/cookiemanager-for-multiple-threads

For *some reason*,  when you display a webview with this kind of streaming video, someone seems to be installing a default java cookie handler, which then gets used by `AndroidClientHandler's` `URLConnections`, causing any new cookies to be det

[2022-06-16 16:01] #4647 closed

[2022-06-16 16:09] jonathanpeppers commented on #7102
Yeah, I think this will be fixed by: https://github.com/xamarin/xamarin-android/pull/7103

[2022-06-16 17:44] #7085 closed, assigned to jonathanpeppers

[2022-06-16 22:43] Eilon commented on #6048
I started a discussion topic on how to connect from Android emulators to a local ASP.NET Web API running on Windows: https://github.com/dotnet/maui/discussions/8131

Please check that out and let us know if you have any feedback on any of the solutions presented.

[2022-06-17 12:41] dk-jlew commented on #7095
Confirmed that in a default Xamarin.Android app:
- Upon startup the value of  (Android's) `CookieHandler.Default` is null
- When you use a webview to navigate to a webpage like https://developer.apple.com/streaming/examples/basic-stream-osx-ios4-3.html (or any webpage with this type of video streaming element), `CookieManager.Default` will be set, and from that point on, `Set-Cookie` response head

[2022-06-17 13:46] BurkusCat commented on #2511
@Lelelo1 I had included it in my platform specific projects. But you could try it in the Forms project and see if it prevents the crashes.

[2022-06-17 13:50] Lelelo1 commented on #2511
@BurkusCat
Ok. Thanks! I rather not want to risk more users to crash so I will place them in specific projects as well

[2022-06-17 14:27] dk-jlew commented on #7107
@jonathanpeppers we have a duplicate issue here which has more context and a workaround.  It's not related to Forms (or even Xamarin, really):
https://github.com/xamarin/xamarin-android/issues/7095

[2022-06-18 02:21] gabriel-kozma commented on #7088
This issue interests me as well, I use the hybrid aot and have noticed the same thing

[2022-06-20 04:58] thisisthekap commented on #7089
@lambdageek @thaystg Are you able to provide an update?

[2022-06-20 08:20] grendello commented on #7095
@dk-jlew I'm afraid there's nothing we can do for you here. `AndroidClientHandler`/`AndroidMessageHandler` don't use neither `CookieManager` nor `CookieHandler` in any form or fashion
(when `UseCookies` is set, they use the managed [CookieContainer](https://docs.microsoft.com/en-us/dotnet/api/system.net.cookiecontainer?view=net-6.0) since that's what's expected in the managed app), but even though

[2022-06-20 08:20] #7095 closed

[2022-06-20 08:29] grendello commented on #7107
@jonathanpeppers it interacts with the underlying Java code, outside our control, see [this comment](https://github.com/xamarin/xamarin-android/issues/7095#issuecomment-1158833018). I think we can close this issue as duplicate, especially as we [can't do much](https://github.com/xamarin/xamarin-android/issues/7095#issuecomment-1160126708) on our side to apply the workaround described above.

[2022-06-20 08:29] #7107 closed

[2022-06-20 08:34] grendello commented on #7088
@lambdageek would you mind looking at this issue? It seems like `mono/mono` JIT generating somehow invalid code for generics? Thanks!

[2022-06-20 11:55] thaystg commented on #7089
Not a fix yet, but there is a workaround. You can change the `DebugType` of your cross platform project to `embedded`, then the breakpoints will work.

[2022-06-21 01:14] joepuhich commented on #6793
Am I missing something to make the OS operate properly or is this the way it is suppose to work?

[2022-06-21 18:15] jonathanpeppers opened #7114 "Use `--output-pinvokes` feature to remove extra `.so` files from apps"
### Android application type

Android for .NET (net6.0-android, etc.)

### Affected platform version

.NET 6+

### Description

Context: https://github.com/dotnet/linker/issues/2853#issuecomment-1160801078

If you `dotnet new android` and then build with `-c Release`, you get an `.apk` with a couple extra native libraries:

![image](https://user-images.githubusercontent.com/840039/174869632-901c55

[2022-06-21 18:38] jonathanpeppers commented on #6990
Closing in favor of: https://github.com/dotnet/SqlClient/issues/1656

I wish we could have just moved this issue around until we got it at the right place. Thanks!

[2022-06-21 18:38] #6990 closed

[2022-06-21 22:18] trampster opened #7115 "ExtraAddSelfManagedCallsToIncallservice is missing from Xamarin.Android SDK 12"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS2019

### Description

The Xamarin docs say that PhoneAccount.ExtraAddSelfManagedCallsToIncallservice exists and is available in Xamarin.Android 12. However it's not there. https://docs.microsoft.com/en-us/dotnet/api/android.telecom.phoneaccount.extraaddselfmanagedcallstoincallservice?vi

[2022-06-21 22:32] trampster commented on #7115
I noticed that my Project is using Mono.Android from:
C:\Program Files (x86)\Microsoft Visual studio\2019\Professional\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\MonoAndroid\v11.0

I assume this should be v12.0 instead.

I discovered after some digging that there is an option in the Project Properties called "Compile using Android version (Target Framework)" changing this  to Android 12 m

[2022-06-21 22:32] #7115 closed

[2022-06-22 04:08] jonathanpeppers commented on #7115
`$(TargetFrameworkVersion)` is the way you select a `Mono.Android.dll` and which C# bindings for the Android APIs it includes. The version of the Xamarin.Android package, might coincide with the latest `$(TargetFrameworkVersion)` you can use in a project.

This concept predates Microsoft, I believe this design started at Novell (over 10 years ago) with the MonoDroid product.

In .NET 6, you can pu

[2022-06-22 05:13] thisisthekap commented on #7089
@thaystg Awesome! Does this workaround have any potentially harmful implications?

[2022-06-22 08:38] teezenergy opened #7116 "Change Text"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

.NET Standard 2.0

### Description

Extract from "NotesPage.xaml":
<Grid ColumnDefinitions="*,*">
            <Label Grid.Column="0"
                   x:Name="DatumundUhrzeit"
                   FontSize="Medium"/>
            <Button Grid.Column="1"
                    Text="Refresh"

[2022-06-22 15:53] jonathanpeppers commented on #3752
This one was fixed by: https://github.com/xamarin/xamarin-android/pull/5310

[2022-06-22 15:58] dellis1972 commented on #3752
@jonathanpeppers We havent merged #5310 should we leave this open?

[2022-06-22 16:03] jonathanpeppers commented on #1409
Let us know if you are still running into this, but we would now recommend SDK Manager issues to be filed with the IDE team going forward:

![image](https://user-images.githubusercontent.com/840039/175078659-ca01cb33-c4b6-4e94-86b4-0ec0a6cce7ef.png)

Such as:  https://developercommunity.visualstudio.com/report?entry=problem

Closing for now, as this is not an issue in the xamarin/xamarin-android r

[2022-06-22 16:03] #1409 closed

[2022-06-22 16:04] jonathanpeppers commented on #1408
I think what we're missing here is a sample app. Can you reproduce this in a small project with the latest Xamarin.Android?

Thanks!

[2022-06-22 16:05] jonathanpeppers commented on #3752
Whoops...

[2022-06-22 16:38] dk-jlew commented on #7095
I understand there's not much you can change to fix it, however it's not exactly true to say that you don't use `CookieManager` or `CookieHandler`, since (as I found out) the default is implicitly used by anyone using `HttpURLConnection`, which `AndroidClientHandler/MessageHandler` are built on top of.  It might be worth a discussion in your documentation at least, since the effects are pretty sev

[2022-06-22 17:10] #7089 closed

[2022-06-22 18:37] PureWeen opened #7119 "Exception in SslStream.AuthenticateAsClient in net6.0-android project, works in Xamarin.Android"
### Android application type

Android for .NET (net6.0-android, etc.)

Moving issue from MAUI
https://github.com/dotnet/maui/issues/8224

### Description

Was migrating a Xamarin.Android project to .NET6.0-Android. I am experiencing the following exception when connecting to my server using custom certificates.

    "Authentication failed, see inner exception."
       at System.Net.Security.SslStr

[2022-06-22 18:38] PureWeen commented on #7119
@AlexNik4 moving your issue here.

[2022-06-22 20:00] akoeplinger commented on #7119
@simonrozsival would you mind taking a look?

[2022-06-22 20:39] FANMixco commented on #3399
Hi @jonathanpeppers, considering that it has been 3 years since it was opened. I'm going to close it.

[2022-06-22 20:39] #3399 closed

[2022-06-22 22:04] trampster opened #7120 "CarConnection API is missing"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.), Android for .NET (net6.0-android, etc.)

### Affected platform version

VS 2022

### Description

Xamarin.Android does not seem to provide a wrapper for https://developer.android.com/reference/androidx/car/app/connection/CarConnection

This API is used for Android Auto

### Steps to Reproduce

1. Try to use CarConnectio

[2022-06-22 22:07] jpobst commented on #7120
Looks like this is available in the NuGet package: https://www.nuget.org/packages/Xamarin.AndroidX.Car.App.App.

![image](https://user-images.githubusercontent.com/179295/175160631-1a6dba5b-081f-40d7-bf27-5798fa68aeff.png)

[2022-06-23 07:19] simonrozsival commented on #7119
@akoeplinger yeah, I'll look into it

[2022-06-23 16:51] simonrozsival commented on #7119
I can reproduce the problem on my Samsung phone (Android 12.0, API 31) when I set the `hostname` to either `self-signed.badssl.com` or `expired.badssl.com`. The app prints the following output in logcat:

[code]

The same piece of code works correctly against servers with trusted certificates.

The `ValidateServerCertificate` callback is never called because we do not pass it to Java where all the

[2022-06-23 16:53] simonrozsival commented on #7119
@AlexNik4 As a workaround you should add an Android-specific [Network security configuration](https://developer.android.com/training/articles/security-config) file and include your self-signed certificate.

[2022-06-23 20:29] pjcollins commented on #6459
This will be fixed in https://github.com/xamarin/Xamarin.Android.FSharp.ResourceProvider/pull/12, and we will attempt to unlist the v1.0.1 package.

[2022-06-23 20:29] #6459 closed

[2022-06-24 17:50] jedusei opened #7125 "Default Instance Java Interface Methods are ignored by Binding Tools"
### Android application type

Classic Xamarin.Android (MonoAndroid12.0, etc.)

### Affected platform version

VS 2022 17.2.4

### Description

The binding tools seem to ignore default instance interface methods when generating the C# interface.

For example, for the following Java interface:
[code]

This is the C# interface that is generated:
[code]

### Steps to Reproduce

1. Create a new file: `

[2022-06-24 18:10] jpobst commented on #7125
We never turned this on by default for Classic binding projects.  You will need to add the `<_EnableInterfaceMembers>` property mentioned here:
https://docs.microsoft.com/en-us/xamarin/android/release-notes/10/10.1#c-80-default-interface-members-for-bindings-projects

In a .NET 6+ binding this is on by default and can be disabled with:
https://github.com/xamarin/xamarin-android/blob/main/Documenta

[2022-06-24 18:19] jedusei commented on #7125
Wow, it worked!
I wish I had known this earlier. Please consider adding this information to the main Xamarin.Android binding documentation.
Thank you very much!

[2022-06-24 22:17] #7125 closed

[2022-06-24 22:18] #7120 closed

[2022-06-25 02:45] AlexNik4 commented on #7119
@simonrozsival Thanks for looking into the issue. Appreciate the heads up about a potential workaround, but it will not help us. In our feature, any customer is able to use their own self signed certificates. It is not something we can configure within our app during development.

[2022-06-26 18:59] joepuhich commented on #6793
Is the third party controlling the OS ???