[2019-03-28 19:38] jonathanpeppers commented on #2836
@erikpowa so I think we should revisit the managed side after fixing the java side.

Either a new linker step that strips unused fields--or maybe we don't need to generate as much C# code from being generated in the first place? Although, for Intellisense to work, it would need fields that aren't in use yet...

If you have a linker step fixing this up, is it compatible with our stuff? would you be

[2019-03-29 05:39] erikpowa commented on #2836
@jonathanpeppers I haven't dived myself into the designtime resource-generator, but the only problem is the **"strong references" to the fields**. As I see as for solution:
Currently, library resource fields are required to be static, because `UpdateIdValues()` will change them when app starts (or atleast when the Resource class first accessed, which is also bad because of it uses reflection when

[2019-03-29 08:42] awattar commented on #2433
In which Xamarin.Android version it will land?

[2019-03-29 16:02] jonathanpeppers commented on #2836
@erikpowa to add a new linker step, you would probably have to add a new linker step to `Xamarin.Android.Build.Tasks.dll` and build your own version. See: https://github.com/xamarin/xamarin-android/blob/e6326dcba43dfb02c7401de8ae38c03166505df8/src/Xamarin.Android.Build.Tasks/Linker/MonoDroid.Tuner/Linker.cs#L58

I'll file a new issue about this--it is kind of unrelated to the `R.java` issue we are

[2019-03-29 16:07] jonathanpeppers opened #2898 "[linker] does not currently link away Resource.designer.cs"
### Steps to Reproduce

1. Build an app with the support libraries. This [Xamarin.Forms one](https://github.com/xamarin/xamarin-android/tree/master/tests/Xamarin.Forms-Performance-Integration) is fine.
2. Notice how huge the `Resource.designer.cs` file is.
3. Even when using `link all assemblies`, the `Resource` class doesn't get stripped down because of the way the fields are used.

Some comments

[2019-03-29 16:07] jonathanpeppers commented on #2898
@radekdoulik what are your thoughts on this?

[2019-03-29 21:24] jNery opened #2901 "ObjectDisposedException when retrying POST request using AndroidClientHandler"
ObjectDisposedException when retrying POST request using AndroidClientHandler

### Steps to Reproduce

1. Implement AndroidClientHandler that will retry the same request
[code]
Notice that same implementation above for HttpClientHandler works just fine
[code]
2. Send POST request that will be re-sent
Use case: server may respond with JSON error so client can challenge for credential; thus, sending

[2019-03-29 21:58] jNery opened #2902 "NetworkCredential ignored using AndroidClientHandler resulting in 401 (Unauthorized)"
NetworkCredential ignored using AndroidClientHandler resulting in 401 (Unauthorized)

### Steps to Reproduce

1. Set NetworkCredential to valid username/password
Notice that `HttpClientHandler` works just fine but 401 (Unauthorized) using `AndroidClientHandler`
[code]

### Expected Behavior
Server should respond with `HttpStatusCode.OK`
### Actual Behavior
Server should respond with `HttpStatusCod

[2019-03-30 08:41] erikpowa commented on #2898
Regression about what I said: making  static resource fields const in libraries... that doesn't make sense, I forgot it's "evaluate" and there is no way to know if a const is a resource afterward.

Hmm, the heuristic search and remove unused resource fields is still the simpliest way to go.

[2019-03-31 13:28] AdmiralSnyder opened #2904 "SIGSEGV crash in AccessibilityService when using HttpClient"
### Steps to Reproduce
Error occurs in Emulator, Android 8.1 - API 27.

Context: I build an AccessibilityService that sends its event to another system via HttpClient.PostAsync.

The service must be activated in adb shell with
$ settings put secure enabled_accessibility_services App2.App2/App2.ResearchAccessibilityService

[App2.zip](https://github.com/xamarin/xamarin-android/files/3026624/App2.zi

[2019-03-31 16:06] AdmiralSnyder commented on #2864
This is a problem for Android.Views.Accessibility, too.

seems some mechanism is needed to flag enums as [Flags] in [the mapping file](https://github.com/xamarin/xamarin-android/blob/f9a7cfc0da2f51b2c3006550fad2e25fbd23be5a/build-tools/enumification-helpers/enum-conversion-mappings.xml)

[2019-03-31 22:10] Footmau commented on #2429
Changing the SDK location to path inside my user directory helps me.

[2019-04-01 00:27] plynkus opened #2906 "VS2019 (RC4) regression with certain use of in parameter semantics."
### Steps to Reproduce

1. Load VS2019 (RC4) and create an empty solution.
2. Create a blank Xamarin.Android application.
3. Create a blank Xamarin.iOS application.
4. To each, add the following snippet to the file for the main activity/app delegate:

[code]

5. To each the OnCreate(Bundle) and app delegate FinishedLaunching, simply instantiate the above with:

[code]

### Expected Behavior

A nor

[2019-04-01 01:17] kzu commented on #2858
Ok, here's another request that is complimentary but more urgent: the summary should contain `[identifier]: [value]`. If we cannot get the `value` right now, at least the `summary` should contain the original identifier. This is important since we can't know right now whether a member name with an underscore (i.e. `app_name`) matches an identifier `app_name` or `app.name` which has had its dot rep

[2019-04-01 11:35] nielscil opened #2907 "Build failed on ResolveSdks"
### Steps to Reproduce

1. Create new xamarin android project.
2. Try Building it.
3. Failed on ResolveSdks task (see log for the exception).

### Expected Behavior

Build of project should succeed.

### Actual Behavior

Build failed on ResolveSdks

### Version Information

Microsoft Visual Studio Professional 2017
Version 15.9.6
VisualStudio.15.Release/15.9.6+28307.344
Microsoft .NET Framework
Ve

[2019-04-01 13:21] dellis1972 commented on #2884
This looks like a Xamarin.Forms issue rather than a Xamarin.Android specific issue. I'll see if I can move it to the appropriate repo.

[2019-04-01 14:20] kzu opened #2908 "When $(AndroidResgenFile) is empty, default AndroidUseIntermediateDesignerFile=true"
If someone had a previously unfolded template (or currently, since we still add the `Resource.designer.cs` file under `Resources`, but likely to change), in order to upgrade to the intermediate codegen, they have to both delete the existing file, remove the `AndroidResgenFile` property (since it's meaningless now, but removing it isn't required) *and* add `AndroidUseIntermediateDesignerFile=true`.

[2019-04-01 14:23] mattleibow commented on #2895
@dellis1972 right now, there are no new assemblies, so the same assemblies that we skip for resource processing, we need to skip for the extraction.

However, this should not be on by default for the extraction. People can still make apps that _just_ use Support, so we can't skip it. We only want to skip these assemblies if the user has opted into using AndroidX.

[2019-04-02 16:27] samhouts commented on #2884
Thanks! I'll reopen https://github.com/xamarin/Xamarin.Forms/issues/1495. You can go ahead and close this issue.

[2019-04-02 17:48] dellis1972 commented on #2884
This issue will be tracked on xamarin/Xamarin.Forms#1495. Thanks for the bug report.

[2019-04-02 17:48] #2884 closed

[2019-04-02 17:57] ianvink opened #3141 "VS2019: aapt2 throws pixel missing upper left corner error"
I opened our XF 3.6 solution in VS2019 Release, set the "Use incremental Android packaging system (aapt2)", deleted the bin/obj folders. See screenshot

Build fails with :

[code]

### Description

### Steps to Reproduce

1.  Open in VS 2019
2.  Enable aapt2
3.  Build

### Expected Behavior
Compiles
### Actual Behavior
Doesn't compile, may cause Brexit issues too (unconfirmed)
### Basic Informatio

[2019-04-02 18:51] ianvink opened #3140 "VS2019 Crashes Android when AOT and LLVM enabled"
In RELEASE mode for an Android app, if we set AOT and LLVM, then build the tool on our Build server (Mac VS2019) the app crashes with the crash log attached

When we disable LLVM, it works fine

### Steps to Reproduce

1.  Enable AOT and LLVM
2.  Build to releasr
3.  Crash

### Expected Behavior
Not crash
### Actual Behavior
Crash
### Basic Information

- Version with issue:
- Last known good vers

[2019-04-02 20:16] #2597 closed

[2019-04-02 22:51] hadigityat opened #2919 "UNEXPECTED TOP-LEVEL EXCEPTION: com.android.dex.DexException: Too many classes in --main-dex-list, main dex capacity exceeded"
### Steps to Reproduce

1. Change target framework level to 28 (Android 9.0)
2. Build (Multidex enabled)
3.

### Expected Behavior

build runs without errors

### Actual Behavior

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(3,3): Error MSB6006: "java" exited with code 2. (MSB6006)

### Version Information

Visual Studio Community 2019 for Mac
V

[2019-04-03 01:17] hadigityat commented on #2919
Fixed by workaround--> add the following lines to csproj property group

<DxExtraArguments>--dex --no-strict --force-jumbo</DxExtraArguments>
<AndroidMultiDexClassListExtraArgs>--disable-annotation-resolution workaround</AndroidMultiDexClassListExtraArgs>

[2019-04-03 13:35] dellis1972 commented on #2702
Looks like the customer was on an older version of VS. This is related to this issue https://devdiv.visualstudio.com/DevDiv/_workitems/edit/649008 which was closed. So I am going to close this Issue.

Please reopen if someone manages to repo this issue.

[2019-04-03 13:35] #2702 closed

[2019-04-03 13:37] jonathanpeppers commented on #2919
Hi @hadigityat can you post a [diagnostic build log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)?

We need to see why your app needs these settings, thanks!

[2019-04-03 15:47] Cheesebaron opened #2920 "App crashes with debugger attached"
### Steps to Reproduce

1. Debug app
2. App crashes randomly

### Expected Behavior

App runs without random crashes

### Actual Behavior

When the App crashes it outputs a crash report, without having any useful stack trace to the App being at fault.

[code]

When trying to debug with VS for Mac I only get:

[code]

### Version Information

Latest version of VS for Mac stable or VS2019 GA (was al

[2019-04-03 15:51] JonDouglas commented on #2920
Another couple issues that look related:

https://github.com/xamarin/Xamarin.Forms/issues/5800

https://developercommunity.visualstudio.com/content/problem/515603/android-crashes-every-time-with-the-new-vs-for-mac.html

[2019-04-03 15:53] dotMorten commented on #2920
Detailed repro steps here with full source: https://github.com/dotMorten/XamarinFormsControls/issues/41#issuecomment-479535534

[2019-04-03 16:31] marek-safar commented on #2920
@lambdageek please handle this issue

[2019-04-03 16:44] crogeniks commented on #2920
I can also reproduce this issue, on Win10 with VS2019.
Here's a sample repro :
[https://github.com/crogeniks/XamarinCrash](https://github.com/crogeniks/XamarinCrash)

`
    --------- beginning of crash
04-03 10:35:37.877 12557-12673/? A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x50 in tid 12673 (Thread-2664)
04-03 10:35:37.879 12557-12595/? D/ufoEGL: Pixel Format : GGL_PIXEL_FORMAT_RGBA

[2019-04-03 16:52] PureWeen commented on #2920
Related
https://devdiv.visualstudio.com/DevDiv/_queries/edit/835369

[2019-04-03 16:52] markuspalme commented on #2920
Seeing this issue, too:

[code]

[2019-04-03 17:22] jonathanpeppers commented on #2920
@lambdageek here is how I was able to reproduce (hit me up on Slack if you need more info):

1. Clone this repo and open `XamarinFormsControls.sln`: https://github.com/dotMorten/XamarinFormsControls
2. Debug `SampleApp.Android.csproj`
3. Click the first button, `Simple Auto-Completion`
4. Type a few characters in `Enter a country`, hit back arrow
5. Repeat on step 3

You might have to do the cycle

[2019-04-03 17:38] dotMorten commented on #2920
@jonathanpeppers I never had to go beyond step 3 (always crashes 2-3 seconds after the page has loaded)

[2019-04-03 17:45] jonathanpeppers commented on #2920
Ok yes, maybe you can just wait a few seconds on that second page -- I may have been tapping buttons in a state of panic.

[2019-04-03 17:53] hadigityat opened #2921 "java.lang.NoSuchMethodError: No virtual method getInstanceId()Lcom/google/android/gms/tasks/Task; in class Lcom/google/firebase/iid/FirebaseInstanceId"
### Steps to Reproduce

1. Install Firebase package Xamarin.Firebase.Messaging 71.1502.0 - preview 1 (comes with additional related packages which are all in different versions)
2. Use getInstanceId() method from https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId
3. App crashes due to no NoSuchMethodError.

### Expected Behavior
getInstanceId() should be

[2019-04-03 18:23] hadigityat commented on #2919
The reason why it needs the workaround is explained here(I am using a large dll bindings file):

https://github.com/xamarin/xamarin-android/issues/1888

Seems like there was a fix added, but not sure if it helped in my case. Let me know if you still need build logs.

[2019-04-03 18:57] jonathanpeppers commented on #2919
@hadigityat if you use VS 2019, you can try the `<AndroidDexTool>d8</AndroidDexTool>` option. Although there are more fixes for d8 that aren't in 2019 yet... you may hit a different issue.

I think what you are doing is the best route, and we should see how d8 can handle the problem moving forward. Google is already using d8 by default in Android Studio.

[2019-04-03 19:47] hadigityat commented on #2919
I tried d8 but it failed, went back to original workaround and now that doesn't work anymore also:

    Invalid option --disable-annotation-resolution
    Usage:

    Short version: Don't use this.

    Slightly longer version: This tool is used by mainDexClasses script to build
    the main dex list.
    /Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.tar

[2019-04-03 20:13] jonathanpeppers commented on #2919
I think we may actually need a sample project to look into this. Is there a NuGet package of the binding you are using? Or would you be able to upload a sample?

[2019-04-03 20:54] hadigityat commented on #2919
I fixed the d8 error of missing libraries and it works now. I think using d8 is the long term solution for this anyways.

I can't expose the binding project because it is not an open source code.

 Thanks for your prompt response. Closing this as it is fixed with d8.

[2019-04-03 20:54] #2919 closed

[2019-04-03 23:50] Redth commented on #2921
Please try the 71.*-preview2 releases, this should be fixed.

[2019-04-04 02:38] ghost opened #2922 "AXML Designer does not allow for more than one control to be dropped onto the design for relative layouts"
### Steps to Reproduce

1. Create a new Xamarin Android App project in Visual Studio.
2. Navigate to "Resources/layout/activity_main.axml".
3. Try to add two buttons to the Design.

### Expected Behavior

Allow more than one control to be added.

### Actual Behavior

Only one control can be added.

### Version Information

Visual Studio 2017 and 2019.

### Log File

There is none.

[2019-04-04 03:42] plynkus commented on #2906
FYI: Also repros under VS2019 RTM.

[2019-04-04 08:36] orestesgaolin commented on #2920
I found that issue occurs after some relatively constant amount of time no matter what I do in the app. Also, the crash occurs also when using Rider.

[2019-04-04 09:12] radekdoulik commented on #2815
Another possibility would be to extend the aot profiler with sockets connection to control the profiler and to receive the profiler data.

Advantage: That way we can avoid saving the data on the device.

It would need a "client" at the desktop side. It might make sense to have it as part of IDE. On the command line the netcat (nc) might be enough.

[2019-04-04 10:32] Lakxhman opened #2923 "ObjectDisposedException for GestureDetector when using GC Collect."
### Steps to Reproduce

1. Run application and view the first page.
2. Click android button to open dialog box.
3. Click "Close" button and call GC.Collect() in button click of close button.
4. Come again to the first page and scroll it and get Object Disposed exception.

### Expected Behavior
Does not throw exception at any cost.
### Actual Behavior
Throws Object disposed exception.
### Version I

[2019-04-04 10:50] radekdoulik commented on #2885
I have looked at XA template app. Compared 2 scenarios, with the default startup aot profile and with recorded startup profile.

Sizes of apk with aot profiles:

Without AOT profile
[code]
Recorded profile
[code]
Default profile
[code]
So with recorded profile we can get about 300k smaller apk.

Methods count:

Recorded profile
[code]

Default profile
[code]

So with default profile, which was rec

[2019-04-04 12:28] chanhbc commented on #2292
@MAlexanderSalazar. I have the same "java.lang.UnsatisfiedLinkError" problem that the owner came from HUAWEI android 8 (Oreo) device, have you solved the problem? Do you have any solution?

[2019-04-04 12:40] thefex opened #2924 "Bindings generator fail to create bindings when strong cycles exists"
### Steps to Reproduce
I used to write article about Android bindings with workaround for bindings generator not generating types with strong cycles.
Read point 6. and "7. We Know The Reason For Failure – Is It Still Impossible To Fix?" - https://insanelab.com/blog/mobile-development/advanced-xamarin-bindings-android-case-study/

Briefly:
https://github.com/vanniktech/Emoji/blob/e4db373c665cacadb2

[2019-04-04 14:27] sl-maelledelay commented on #2920
Hi, I encountered the same issue. With a xamarin android native app.
I just have to launch the app with the debugger attached on a emulator or a device and wait. The app crash after few seconds.
No crash when the debugger is not attached

[2019-04-04 17:00] Jkinley01 opened #2926 "Updating VS2017 to latest release caused app to enter infinite GC loop when attempting to load"
### Steps to Reproduce

1. Update VS2017 to 15.9.11 - This happens with or without updated Nuget packages for Xamarin.Forms and Xamarin.Android support packages
2. Run application
3.

### Expected Behavior
I expect the app to load

### Actual Behavior
The app enters an infinite loop of the following:
04-04 12:56:26.160 D/Mono    (19621): GC_TAR_BRIDGE bridges 1 objects 1 opaque 0 colors 1 colors-b

[2019-04-04 17:57] MAlexanderSalazar commented on #2292
@chanhbc I just remove the .apk for arm64-v8a and x64 and problem solved. The error was beceause my native components where not built to work with 64, only for 32.

[2019-04-04 18:11] gmoney494 commented on #2920
I encounter this issue when i downgrade the xamarin.android to 9.1.8 and/or remove my d8/r8 settings in the .csproj. This all happened after updating to Visual Studios 2019. iOS works fine, but Android is not working for me.

[2019-04-04 18:22] hadigityat commented on #2921
I am on 71.1510.0-preview2 and I see no fix. If you open the source of FirebaseInstanceId, you can see the method is not there. Still getting a crash.

[2019-04-04 18:55] gjkhw commented on #2043
For what it's worth, I see the same log messages on our Mac build machines, as well as locally on dev workstations. The developers on my team have all been running VS for Mac 7.7 or newer for some time now and been rebuilding as needed to work through the issue.

We had the opportunity/need to update the Jenkins build nodes to VS 7.8.3 lately. At the same time, we
- changed the build nodes to have

[2019-04-04 18:56] sheiksyedm opened #2929 "App crashes when collecting GC"
### Steps to Reproduce

1. Run the attached sample
2. Perform freehand drawing over a screen
3. Application get crashed with ObjectDisposedException
.
Sample : https://github.com/sheiksyedm/GC_Collect_Android

### Expected Behavior

I expect the app will not get crash when doing freehand drawing even GC collected.

### Actual Behavior
In my project, when doing freehand drawing or some interaction

[2019-04-04 18:57] jonathanpeppers commented on #2043
@gjkhw you should open a new issue with diagnostic build logs (or [binlog](https://github.com/Microsoft/msbuild/wiki/Binary-Log) would be even better since you are on CI running command-line).

[2019-04-04 19:00] gjkhw commented on #2043
Will do!

[2019-04-04 19:23] Jkinley01 commented on #2929
Well I'm seeing several GC related bugs recently. Hope this gets fixed because we cannot make any chances to our app now because of the latest VS update.

[2019-04-04 20:02] marcelbeeker commented on #2920
I have the same problem here. However, when I created a new Xamarin.Forms application in VS2019, the debugger stays attached. Very strange why my existing application constantly de-attachted by the debugger.

[2019-04-04 22:46] brendanzagaeski opened #2931 ""Error inflating class android.support.v7.widget.ActionBarOverlayLayout" when using the r8.jar version in the d16-0 branch rather than ProGuard"
### Steps to Reproduce

Attempt to run the [attached test case](https://github.com/xamarin/xamarin-android/files/3045715/R8AndroidSupport.zip) in either the Debug or Release configuration any Android device or emulator. (I tested on an Android 9.0 Pie (API level 28) Google Pixel 3 as well as an Android 7.1.1 Nougat (API level 25) device.)

(The test case is the **Android App (Xamarin) > Blank App*

[2019-04-04 22:49] brendanzagaeski commented on #2931
This issue is already fixed in recent development versions like xamarin-android/d16-1@1ce948bb30ac24b13c2b4f9a1283029fdcd78e7b

In fact, copying the *r8.jar* file from the [CI build of that version](https://jenkins.xamarin.com/view/Xamarin.Android/job/xamarin-android-d16-1/16/Azure/) to overwrite the current version shipped in Visual Studio 2019 is sufficient to resolve the issue for me.

Based on

[2019-04-04 22:49] #2931 closed

[2019-04-04 23:23] AntRemo commented on #2292
Interesting @MAlexanderSalazar

Do you remember which native components you are using that were not built to work with 64?

Thanks

[2019-04-04 23:29] MAlexanderSalazar commented on #2292
@AntRemo no, I don't know which one. But here are all my packages.

`<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndroidIconics.Xamarin.Droid" version="2.7.0.1" targetFramework="monoandroid80" />
  <package id="Bolts" version="1.4.0.1" targetFramework="monoandroid81" />
  <package id="Clancey.SimpleAuth" version="1.0.49" targetFramework="monoandroid80" />
  <package id="Clance

[2019-04-04 23:32] MAlexanderSalazar commented on #2292
@AntRemo  don't know but here are all my packages.

`<package id="AndroidIconics.Xamarin.Droid" version="2.7.0.1" targetFramework="monoandroid80" />
<package id="Bolts" version="1.4.0.1" targetFramework="monoandroid81" />
<package id="Clancey.SimpleAuth" version="1.0.49" targetFramework="monoandroid80" />
  <package id="Clancey.SimpleAuth.Google.Droid" version="1.0.12" targetFramework="monoandroid

[2019-04-05 01:48] chanhbc commented on #2292
Thank you, but the application is on a user's computer installed via google play, I cannot tell the user to uninstall and reinstall from the beginning.

[2019-04-05 10:21] radekdoulik opened #2932 "Initial UI support for Profiled AOT"
I have created new issues in our IDE repos to add a checkbox to enable profiled AOT by setting `AndroidEnableProfiledAot` property to `True` for the build.

https://github.com/xamarin/vsmac-xamarin-extensions/issues/139
https://github.com/xamarin/XamarinVS/issues/10451

[2019-04-05 10:49] radekdoulik opened #2933 "UI support for recording AOT profile"
To use the full potential of AOT profiles we should give the user an ability to quickly create the startup AOT profile to use in the build of their apps.

## Initial idea

Make it possible to start app from IDE with aot profiler enabled and then retrieve the aot profile.

### UI part

In VS/Mac it might look like new menu item `Run/Start AOT Profiling`. Once the app starts, there will appear a but

[2019-04-05 10:51] radekdoulik commented on #2815
Related to https://github.com/xamarin/xamarin-android/issues/2933

[2019-04-05 12:29] Jkinley01 commented on #2926
It's being caused by animations. There are calls like 'await someImage.FadeTo(1, 2000);'. It looks like these await calls are returning instantly, also causing the screen to go black and an infinite GC loop to occur. Only an Android issue.

[2019-04-05 20:39] lambdageek commented on #2920
I'm using an `environment.txt` with
[code]

Seeing this sort of thing when the crash is happening using the repro from https://github.com/xamarin/xamarin-android/issues/2920#issuecomment-479582065
[code]

In terms of app behavior, I hacked the suggest box to never have any suggestions.  At this point the app crashes for me about a 2 seconds after I switch to the "simple auto-completion" page witho

[2019-04-06 22:01] TylerBoyes opened #2937 "Set enabled after delay not working on Android"
I believe there is a bug on Android versions when using a delay to "fade to" a button and then setting it enabled. Everything works as expected on the iOS build but fails for become enabled on the Android build. I have reproduced this issue with a minimum project and uploaded said project in TestApp.zip.

### Steps to Reproduce

To reproduce bug
0. Setup environment for android development
1. Buil

[2019-04-07 00:32] alaatm opened #2938 "Using VS's linked files on resources causes IDE errors but build succeeds"
I have a couple of Apps that are almost identical with very minimal differences. Each app has its own package name.

Basically, what I do is have most files (source files, resources, etc...) in one app and use linked files (VS Add Existing -> Add As Link) to add them to the second app and use partial classes, compilation symbols, etc.. for the differences. Both projects are set to use the same nam

[2019-04-07 14:25] Happypig375 commented on #2920
Serious bugs like these should be given topmost priority, not stay unfixed for 4 days without any indication of when to expect a fix 🙄

[2019-04-08 01:19] mfeingol opened #2939 "App linked using d8 fails at runtime with java.lang.InstantiationException"
### Steps to Reproduce

I decided to experiment with D8 as a replacement for Proguard. To that end, I added the following two lines to my working debug build:

[code]

cf https://github.com/xamarin/xamarin-android/issues/2693 if you're wondering about the second line.

This is the debug build's property group:

[code]
After this, my project compiles, but fails at launch with the following exceptio

[2019-04-08 01:28] mfeingol commented on #2429
A fresh install of VS 2019 appears to have fixed this for me.

[2019-04-08 01:34] mfeingol commented on #2567
This is still an issue in Visual Studio 2019 RTM.

[2019-04-08 01:36] mfeingol commented on #2568
This is still an issue in Visual Studio 2019 RTM.

[2019-04-08 03:05] mzekrallah commented on #2920
After updating to recent Visual Studio for Mac 2019, our xamarin.Android apps compiles and runs but slightly crashes after passing our custom splash screen. This only started happening after updating to the recent release.

Exact Xamarin version used is detailed below as well as Application Output showing the crash details.

[code]

——————————————————————————————————————————

[code]

[2019-04-08 05:44] Thanghand commented on #2693
I have the same problem. Do you have any updated about it ?

[2019-04-08 07:48] MagicAndre1981 commented on #2076
@pikausp

have you tried the 2019 GA version? For me it works, but I'm worried about VS2019 UI, so that I stay at VS2017 but here I now run into [this new issue](https://github.com/xamarin/xamarin-android/issues/2674) with **System.Threading.Tasks.Extensions** for the Android app. VS complains I need to add this lib as SignalR requires it, but I already have it referenced 😡

So I need to stay at V

[2019-04-08 13:06] radekdoulik commented on #2241
Please reopen if it is still an issue.

[2019-04-08 13:06] #2241 closed

[2019-04-08 13:14] softlion commented on #2205
is this issue in vs16 ? It seems still not fixed. Can not use aapt2 until it's fixed.

[2019-04-08 13:22] radekdoulik commented on #2937
Looks like XForms issue. @StephaneDelcroix, could you please take a look at it or reassign to someone in XForms team?

[2019-04-08 13:26] radekdoulik commented on #2938
@joj, could you please take a look at it or reassign to someone in VS team?

[2019-04-08 13:26] joj commented on #2938
I need to confirm, but I think this is already fixed on an upcoming release. I'll update in a little while.

[2019-04-08 13:30] jonathanpeppers commented on #2205
@softlion can you open a new issue with the error message (and [diagnostic build logs](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)) of what you are seeing on 2019?

The fix for this issue was in VS 2017 15.9, so I think you could be seeing something new.

[2019-04-08 13:32] joj commented on #2938
It isn't. You can get rid of those errors by switching the dropdown from Build+Intellisense to Build Only, but there will still be squiggles for the intellisense errors in the linked file. I'll look into it.

[2019-04-08 13:35] jonathanpeppers commented on #2693
VS 2019 16.1 will have a lot of fixes for d8/r8. I think that release will be public soon.

I will circle back and test this project again -- I think it should work now.

[2019-04-08 14:10] softlion commented on #2765
+1. Occurs only when aapt2 is enabled. And only with the nuget "XamSvg"for android, when the XamSvg ui view is used in an xml layout file.

[2019-04-08 14:50] garuma opened #2940 "[Regression] Commercial monodroid has missing dependencies for libmono-android.debug.dll"
Both the version shipping in 16.1 P1 and the current d16-1 branch have either a missing or erroneous dependency on `libwinpthread-1.dll` as shown in a tool like [Dependencies](https://github.com/lucasg/Dependencies):

<img width="1594" alt="Screen Shot 2019-04-08 at 10 18 59 AM" src="https://user-images.githubusercontent.com/104105/55733477-e410be80-59eb-11e9-9c28-b5a4557a5fb6.png">

This prevents

[2019-04-08 15:09] brendanzagaeski commented on #2939
Thanks for the report!

To leave a first quick cross-reference for the Xamarin.Android team to look into, I suspect this might be related to <https://github.com/xamarin/xamarin-android/issues/2931>, where the issue is that the version of R8 currently shipped in Xamarin.Android version 9.2 (the current version included in Visual Studio 2019) handles some types from the Android Support Library diffe

[2019-04-08 15:14] radekdoulik commented on #2929
Looks like duplicate of https://github.com/xamarin/xamarin-android/issues/1368

Could you try to build and run your app with `MONO_GC_PARAMS=bridge-implementation=old`? (like this https://github.com/StephenClearyApps/PewBible/commit/652a5d7138e0e1f8e0015fe755fbeb7848c3822c)

This way we can check whether it is specific for the current GC bridge?

[2019-04-08 15:14] #2929 closed

[2019-04-08 15:15] radekdoulik commented on #2923
Looks like duplicate of https://github.com/xamarin/xamarin-android/issues/1368

Could you try to build and run your app with `MONO_GC_PARAMS=bridge-implementation=old`? (like this https://github.com/StephenClearyApps/PewBible/commit/652a5d7138e0e1f8e0015fe755fbeb7848c3822c)

This way we can check whether it is specific for the current GC bridge?

[2019-04-08 15:15] #2923 closed

[2019-04-08 15:18] radekdoulik commented on #2926
Could you please provide a small test project which reproduces the issue?

[2019-04-08 15:23] crs2m5smith commented on #2920
This is a pretty big blocker for our enterprise Android app that can not be debugged! Surely this was tested before making VS 2019 GA? Hope it gets fixed ASAP!

[2019-04-08 15:37] brendanzagaeski commented on #2939
For @mfeingol, if you're up for a little local experiment, you can try backing up the *r8.jar* file in your current installation, found by default at a location similar to *C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Enterprise\\MSBuild\\Xamarin\\Android\\r8.jar*, depending on Visual Studio edition. And then you can replace it with the new *r8.jar* version unzipped from one of the [rec

[2019-04-08 16:56] brendanzagaeski commented on #2920
<details>
<summary>Notes for the soft debugger and runtime engineers about using `sdb` and `lldb` at the same time with the test case</summary>

1. As one way to get debugging symbols for *libmonosgen-2.0* on recent Android versions, you can build the app in the shared runtime configuration, add a copy of */Library/Frameworks/Xamarin.Android.framework/Versions/Current/lib/xamarin.android/xbuild/Xa

[2019-04-08 17:36] brendanzagaeski commented on #2920
Additional results

The backtrace in my previous comment was from an Android 7.1 (API level 25) x86 emulator. On a Google Pixel 3 Android 9.0 (API level 28) device, the backtrace I get is:

[code]

[2019-04-09 00:53] clintonrocksmith commented on #2920
It feels like the Async Await methods of our applications (I have a few that I've tried) cause it to crash in Debug Mode.  I also found the same line as CheezeBarron.  Not sure if this helps, but hopefully it does.

[libc] Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0xbc in tid 27358 (AsyncTask #5)

[2019-04-09 09:20] sgermosen commented on #1934
@jonathanpeppers to reproduce the issue you only have to:

1. File
2. New Project
3. Choose Xamarin
4. Choose Xamarin forms App
5. Choose blank application
6. Try to run it

I have to aclararte than, that problems was only with the preview 3 of vs2019. Now on the release one I don't have this problem.

[2019-04-09 10:34] thisdarktao commented on #2920
I'm experiencing something very similar. Just getting started with MvvmCross and my sample application crashes with `SIGSEGV` after leaving the screen idle for ~30 seconds.

[code]

[2019-04-10 00:34] #2864 closed

[2019-04-10 01:04] #2920 closed

[2019-04-10 01:06] brendanzagaeski commented on #2920
Preliminary verification of candidate fix:

1. For x86 emulator, extract `$MSBuild/Xamarin/Android/lib/x86/libmonosgen-2.0.so` from the `.vsix` of the [public non-commerical build that includes the candidate fix](https://jenkins.xamarin.com/view/Xamarin.Android/job/xamarin-android-d16-0/36/Azure/).
2. Push the `libomonosgen-2.0.so` to the external `.__override__/lib/` directory of the test app:

[

[2019-04-10 03:39] mapsouza commented on #2920
thanks ... I used an arm64-v8a version on my device and it also worked!

[2019-04-10 06:34] #2940 closed

[2019-04-10 09:28] akravch commented on #1188
Hi, sorry for necroposting, but are there any updates regarding this? We are still experiencing this issue with the crashes around TLS, even thought we've updated Xamarin and VS since then:

Android SDK Tools 1.16
Visual Studio Professional 2017 15.9.28307.222
Microsoft .NET Native SDK 15.0.24211
Xamarin.Android 9.1.4.2 (HEAD/8255f42fc)
SSL/TLS implementation Native TPS 1.2+

Here is a few of the

[2019-04-10 13:04] awattar commented on #2663
@brendanzagaeski Could you reference commit that fixed this?

[2019-04-10 14:17] jonathanpeppers commented on #2939
@mfeingol could you attach a [diagnostic build log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)?

I would like to see all the messages that r8 is printing:
[code]
It seems like maybe this rule is getting ignored by r8.

I suspect your issue with `org.apache.http.legacy.jar` will be fixed by https://github.com/xamarin/xamarin-android/p

[2019-04-10 15:18] pjcollins commented on #2907
I haven't managed to reproduce this anywhere yet. Would you be able to try the recent [Visual Studio 2019](https://visualstudio.microsoft.com/vs/) release to see if the issue that you are encountering still reproduces there? I am wondering if this could somehow be caused by some sort of upgrade/installation issue. If VS 2019 is working for you, perhaps a full re-install of VS2017 will resolve the

[2019-04-10 19:43] darkdoctor opened #2955 "The "LinkAssemblies" task failed unexpectedly, System.ArgumentException: Value does not fall within the expected range."
Hello.

Wasted 2 days to fix this issue, but still no result. (Looks like we will move to Android Studio if we cannot find a solution)

When building on Debug, everything is fine, but in release we cannot use the linker.

Have searched the Stackoverflow, the issues on github but none of them works, also disabling linking is not a solution.

[code]

[2019-04-10 19:56] brendanzagaeski commented on #2663
I can record the commit information here, but in this particular case the fix was to a code path that is only used for the non-public commercial additions to Xamarin.Android, so the commit isn't in a public repository.

androidtools/d16-0@46b555ef58cb236bbc83b09e2e484cf003e59d8d
(Included in monodroid/d16-0@6b8f18a243a1fe3cd2ca13d227188af1e7daf73f)

[2019-04-10 22:48] merckxite commented on #2919
Just for posterity @hadigityat, your original solution does work with an extra hyphen in the arg:

[code]

I agree that D8 is the way to go in future but for now you saved me a big headache, thanks!

[2019-04-10 23:30] plynkus opened #2957 "Android builds are not fully deterministic with <Deterministic>true</Deterministic>."
### Steps to Reproduce

1. Obtain and run the latest VS2019 (currently 16.0.1 with Xamarin.Android SDK 9.2.0.5).
2. Create a blank solution.
3. Add a Xamarin.Android class library project.
4. (Add a Xamarin.iOS class library project for comparison, if you wish.)
5. (Add a UWP class library project for comparison, if you wish.)
6. To each added project, add <Deterministic>true</Deterministic> to th

[2019-04-10 23:40] plynkus commented on #2957
I haven't yet stepped through the binaries with Cecil, etc. to identify what the thrash might be here, but a quick binary diff shows that the unchanged template class library project exhibits what looks like three classes of change:

1. Four bytes near/in/(after?) the PE header---perhaps a timestamp.  Should be easy to identify.
2. A block of sixteen bytes that suggest a nondeterministic GUID.
3.

[2019-04-11 04:43] mfeingol commented on #2939
@jonathanpeppers: here's a diagnostic build log:

[build.zip](https://github.com/xamarin/xamarin-android/files/3066894/build.zip)

@brendanzagaeski: the startup crash still repros with the `r8` from Xamarin.Android.Sdk-OSS-9.2.99.68_d16-1_9e3d37f.vsix. I can give you access to my Azure DevOps org; that might be the simplest repro.

[2019-04-11 10:48] SamuelDebruyn opened #2960 "App crashes at startup after upgrading to latest Xamarin.Android"
### Steps to Reproduce

1. Build app
2. Open app

### Expected Behavior

App works :)

### Actual Behavior

App crashes :(

### Build settings

[code]

### NuGet packages

[code]

### Version Information

https://github.com/bitrise-io/bitrise.io/blob/master/system_reports/osx-vs4mac-stable.log

[code]

### Log File

[code]

[2019-04-11 11:05] marek-safar commented on #2906
This issue is fixed in Mono 2018-10 but fails with 2018-08. @lambdageek do you remember which change could fix it?

[2019-04-11 12:28] SamuelDebruyn commented on #2960
Disabling LLVM makes the app work again... But I'm not a fan of disabling this

[2019-04-11 13:15] jonathanpeppers commented on #2957
@plynkus just to check about this, you were seeing this with a Xamarin.Android class library?

I could see this happening with an app project because the linker is involved. We shouldn't be using the linker during a class library build...

[2019-04-11 13:19] jonathanpeppers commented on #2955
I think we need a little more info to help figure this one out:
* What is your VS version info? `Help->About-Copy Info`
* Could you post a [diagnostic build log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)?
* Do you have an idea of what `.dll` file this is failing on? Is it a NuGet package we could try? (A small sample project would b

[2019-04-11 13:46] plynkus commented on #2957
That's correct, class libraries.   We didn't check nor care as much about Application builds at this point---just trying to get some internal framework nuget packages stable across builds/machines, and the Android thrash looks to be the last roadblock.

FYI, just confirmed the 16-byte deltas noted above are nondeterministic MVIDs.

[2019-04-11 13:46] mbmleone opened #2963 "ConfigurationChanges not working"
It seems Xamarin.Android is not applying
`ConfigurationChanges = ConfigChanges.Keyboard | ConfigChanges.KeyboardHidden`
when added to Activity .
This problem was already described here years ago:
https://bugzilla.xamarin.com/show_bug.cgi?id=25888

If you read it you see that it was already stated that `ConfigChanges.Keyboard` doesn't work.
(See comments 3 and 4)
It seems the writer of comment 11 d

[2019-04-11 14:26] lexboss93 commented on #2960
Have similar issues after upgrading. Waited for someone to create this issue.
`[libc] Fatal signal 11 (SIGSEGV), code 1, fault addr 0x50 in tid 2487 (OkHttp Dispatch)`

[2019-04-11 15:49] brendanzagaeski commented on #2960
Thanks for the report! The issue when LLVM is enabled is <https://github.com/xamarin/xamarin-android/issues/2521>. There's a fix landed upstream in Mono, but it isn't yet included in the published builds of Xamarin.Android. The fix adds an extra argument to the LLVM compilation step to avoid an incorrect optimization on the 32-bit armeabi-v7a architecture.

A workaround in the mean time is to add

[2019-04-11 15:49] #2960 closed

[2019-04-11 16:31] jonathanpeppers commented on #2939
Hmm, looking at the log, it seems like R8 is just stripping out what is required to call into:
* `java.lang.Class<android.support.v4.content.FileProvider>`

It seems proguard isn't doing this. R8 is generally more aggressive, but there could be a bug here.

@mfeingol email me at the email listed on my Github account. We can work out what you can send me to help figure this out, thanks!

[2019-04-11 17:39] softlion opened #2966 "Error launching release app on Moto G4 play device"
Hey there,
our app is made with Xamarin native.
It works fine on most devices, except one detected by google play automatic testing.
It's a moto G4 play.

The app installs but crash on starts.

### Device version
![New Issue · xamarinxamarin-android - Google Chrome](https://user-images.githubusercontent.com/190756/55978815-09722680-5c91-11e9-9a82-95888dd70cc3.jpg)

### Logcat extract

[code]

###

[2019-04-11 17:40] softlion commented on #2966
App build settings:

[2019-04-11 18:19] darkdoctor commented on #2955
Hi Guys, do we have any response regarding this issue?

[2019-04-11 20:53] brendanzagaeski commented on #2966
Thanks for the report and the log output! I see the log output contains:

[code]

This backtrace matches <https://github.com/xamarin/xamarin-android/issues/2521>. Do you by chance also have LLVM enabled in your app? If so, there's a fix landed upstream in Mono, but it isn't yet included in the published builds of Xamarin.Android. The fix adds an extra argument to the LLVM compilation step to avoid

[2019-04-11 20:56] nichojo89 commented on #2920
Hello, our team is also experiencing this. I like that  mapsouza is offering a preliminary work around but when can we expect this change to be released, and is this released in the form of Xamarin.Forms update or VS for Mac 2019 update --> https://developercommunity.visualstudio.com/content/problem/515603/android-crashes-every-time-with-the-new-vs-for-mac.html

[2019-04-11 21:29] jonpryor commented on #2885
Re-reading the [`aotprofile-tool` output](https://github.com/xamarin/xamarin-android/issues/2885#issuecomment-479848420) shows *a* reason we may want *some* form of `.aotprofile` editing:

Both `startup.aotprofile` and `startup-xf.aotprofile` include assemblies that (arguably) shouldn't be included: `startup.aotprofile` mentions the `xatemplateaot` module, which is the module for that particular a

[2019-04-11 21:57] jonathanpeppers commented on #2955
@darkdoctor  you should be able to zip up the log (it should be small enough to fit).

[2019-04-11 22:24] alexshikov commented on #2960
Unfortunately, the fix does not work for me. The app goes further but still crashes with a similar unclear crash.

[2019-04-11 22:32] brendanzagaeski commented on #2960
@alexshikov, if you can share additional details about the other crash you're seeing (such as the log from device similar to the original comment here, or a zipped up project that demonstrates the issue), please do submit a [new issue](https://github.com/xamarin/xamarin-android/issues/new) with the information so I or another team member can investigate. Thanks in advance!

[2019-04-11 22:40] alexshikov commented on #2960
Thank for the fast response. I can't share the source code. But I find this piece of log pretty similar to the one above:

[code]

[2019-04-11 23:08] brendanzagaeski commented on #2960
@alexshikov, thanks! If we're lucky, the best additional clue will appear in device log file (for example accessible using the `adb logcat` command). The extra clue that will hopefully be there is the backtrace from the crashing process, including both a `Cause:` line and a `backtrace:` line, similar to the log seen at the bottom of the [original description for #2920](https://github.com/xamarin/x

[2019-04-12 06:50] erikpowa opened #2969 "App Bundle Module files can be only in pre-defined dirs"
of #2841 caught

`[BT : 0.8.0] error : Module files can be only in pre-defined directories, but found 'play-services-auth.properties'.`

Root of the `base.zip` got `.properties` files also custom folders like `kotlin` with files that are not yet handled.

[2019-04-12 07:14] radekdoulik opened #2970 "Revisit the XA startup AOT profile"
After discussion with @grendello we realized it would be worth to compare the 3 options of creating template app.

* Maximum Compatability
* Modern Development
* Latest and Greatest

I think it will make most sense to use the default option: Maximum Compatability, as that is probably most common start point when developing new app.

I will create profiles for all and compare them with the https://

[2019-04-12 07:30] radekdoulik opened #2971 "Remove template specific types/methods from the startup profiles"
The default startup AOT profiles contain also types/methods specific only for given sampling app, which would not be present in users applications.

It doesn't impact the resulting apk after using the profiles (until someone use equally named API).
Still it might help to remove these from the profiles, to lower down the "information noise".

In current profiles the unwanted parts look like this:

[2019-04-12 07:32] radekdoulik commented on #2885
Yup, I noticed that too. For now I consider it low priority as the impact is really small and the methods would not be AOTed, until someone used the same types and methods API.

I have opened a new issue for it https://github.com/xamarin/xamarin-android/issues/2971. It contains information on how many types/methods are involved

[2019-04-12 07:35] pikausp commented on #2076
@MagicAndre1981 I will try it once the project I'm working on currently is finished (end of April). Will post any updates

[2019-04-12 07:44] radekdoulik opened #2972 "Add write capability to aotprofile-tool"
I am gathering reasons for adding write AOT profile support to the tool here:

* remove parts of default startup profiles (context: https://github.com/xamarin/xamarin-android/issues/2971)

[2019-04-12 07:49] radekdoulik commented on #2885
It is great we now have a reason for write support :-)

I started collecting these here https://github.com/xamarin/xamarin-android/issues/2972

[2019-04-12 07:49] #2885 closed

[2019-04-12 07:54] radekdoulik commented on #2814
It looks like the splitting the profile by assembly is not really needed.

The [aotprofile-tool](https://github.com/radekdoulik/aotprofile-tool) so far proved itself to be useful to analyze the profiles.

For the write profile capability I am collecting use scenarion in https://github.com/xamarin/xamarin-android/issues/2972

[2019-04-12 08:11] darkdoctor commented on #2955
@jonathanpeppers  here you have the fulls logs (diagnostic) for Release build.
http://www.mediafire.com/file/np9ma4f7aoq5gyw/logs_release.zip/file

[2019-04-12 08:20] radekdoulik commented on #2955
Looks like the **dotfuscator** is also changing the type names for Java helper types, and linker gets confused.

Does it also happen with empty XA template app (in VS or VS/Mac)? If so, could you give us the assemblies from `obj/Release/linksrc/` to see, how the types look after dotfuscator is applied?

Hopefully we might be able to fix https://github.com/xamarin/xamarin-android/blob/master/src/Xa

[2019-04-12 08:48] linxh0936 opened #2973 "AndroidEnablePreloadAssemblies have a bug."
### Steps to Reproduce

1. Updated to Xamarin.Android 9.2.0.5;

### Expected Behavior
AppDomain.CurrentDomain.GetAssemblies () return contains self project assembly.
### Actual Behavior
AppDomain.CurrentDomain.GetAssemblies () not contains self project assembly.
### Version Information
Vs for Mac 8.0 with Xamarin.Android 9.2.0.5

[2019-04-12 11:09] darkdoctor commented on #2955
@radekdoulik the link below contains the files you requested. Please note that I have not included MusicPlayer.dll on this Zip.
http://www.mediafire.com/file/plpt278f5zo28sn/linksrc.zip/file

[2019-04-12 23:17] brendanzagaeski commented on #2920
Apologies in advance that I don't have precise details about the timeline for publication of the updated Xamarin.Android SDK version as part of Visual Studio. I believe the approximate answer is as soon as possible, but that might be another week or more. To add one more little bit of info to this issue before the weekend, here are links for the candidate development installer packages that includ

[2019-04-13 00:25] brendanzagaeski commented on #2920
Notes for the soft debugger and runtime engineers:

Here's an especially small test scenario for this issue that a user mentioned [on the Xamarin forums](https://forums.xamarin.com/discussion/153810/f-libc-fatal-signal-11-sigsegv-code-1-fault-addr-0x50-in-tid-28010-intentservice-n), in case it might be handy for automated testing or similar.

1. Download [the test case](https://github.com/xamarin/

[2019-04-14 03:38] starl1n commented on #2920
Thank you, @brendanzagaeski will that fix for android  on Mac issue  which occurs even if you just run an app in debug mode and after a few seconds (without a single click) crashed

[2019-04-14 05:36] softlion commented on #2966
Yes LLVM is on.

But i discovered that this happens ONLY when a 64 bits arm64 device try to run the 32 bit version of the app instead of the 64 bit one. When running the 64bits version the app works fine on all devices.

I removed the generation of the 32 bit version as most devices are 64 bits since 5-8 years and this app won't support them anyway, as they are often also android 4.4- which is no

[2019-04-14 09:00] freever commented on #2159
I am having the same problem using SignalR (which uses WebSockets under ze hood)
https://github.com/aspnet/AspNetCore/issues/9362

[2019-04-15 07:11] mfeingol commented on #2960
I'm running into the same startup crash problem after upgrading to VS 2019, which is fixed by disabling llvm. This was working fine with VS 2017.

I've attempted to use the `llvmopts` workaround mentioned above, but when release builds using that are deployed, I see the following errors:

[code]

What can I provide to help diagnose this issue? Thanks.

[2019-04-15 10:19] NPadrutt opened #3007 "[Bug] Invalid Resources generated for DesignTime"
### Description
With Version 3.5.x of Xamarin Forms I have a lot of errors all regarding the Resource.Designer in the obj-Debug-[Version]-designtime folder.
I experimented around with the target and minimum Android SDK Version but had it with both 9.0 and 8.1.

(since I was no able to get the errors in an output, I add a Screenshot here)

![image](https://user-images.githubusercontent.com/1764367/

[2019-04-15 14:26] savornicesei opened #2979 "ResolveSdks should also look for ANDROID_SDK_ROOT"
### Steps to Reproduce
Consider a build server configuration on a Windows 10 machine:
1. Have only Visual Studio 2017 Build Tools installed, including Mobile build tools
2. Install AndroidSDK from zip file
3. Set ANDROID_SDK_ROOT as described [here](https://developer.android.com/studio/command-line/variables#android_sdk_root)
4. Build an android xamarin project using MsBuild

### Expected Behavior

[2019-04-15 15:29] jonathanpeppers commented on #2939
@mfeingol sent me his `.dex` files (and other info) over email.

The current problem is a `java.lang.InstantiationException` at runtime:
[code]

Looking at a diff of the dex files (dexdump output), r8 is on the left, proguard on the right:

![image](https://user-images.githubusercontent.com/840039/56144971-0749e980-5f69-11e9-83b5-8c3d781c3457.png)

r8 is marking the class abstract???

Still lookin

[2019-04-15 20:25] JohnGalt1717 opened #3008 "AddSubtitleSource crashes app to launcher on Android with VideoView"
### Description
using AddSubtitleSource using any type of .NET stream (which is all that's allowed now) crashes the app to the desktop.

### Steps to Reproduce

1. Create a video view with a video.
2. Get a stream of the text of the text/vtt file. (memorystream, httpstream, doesn't matter they all have the same issue)
2. Use AddSubtitleSource like this videoView.AddSubtitleSource(stream, MediaForm

[2019-04-15 20:54] jonathanpeppers opened #2982 "Blank Xamarin.Forms App Template in 2019 builds slower"
### Steps to Reproduce

1. Create a blank Xamarin.Forms app in 2019, build
2. Do the same in 2017

In comparison, the notable difference I see (when using d8): `_CompileDex` goes from ~15.2s to ~18.2 seconds. The bulk of the build time here is `javac` + dexing.

If I compare the d8 calls:

![image](https://user-images.githubusercontent.com/840039/56164367-29a62c00-5f96-11e9-800d-2394c9cc4ddb.png)

[2019-04-15 21:30] jonathanpeppers commented on #2982
Here is a diff of the assemblies: https://www.diffchecker.com/swvGOfCw

Difference in dex size:
[code]

[2019-04-15 21:41] brendanzagaeski commented on #2920
@starl1n, yes, that sounds like the issue that is addressed by these candidate builds (thanks to the fix from <https://github.com/mono/mono/commit/5ac37ccd38582334a6e12210f86b1c3597d5abb2>).

If you still see a crash while debugging with these candidate versions, then I'd recommend to collect the `adb logcat` output from the device (or emulator) during the crash and attach that to a [new issue](ht

[2019-04-15 23:12] pjcollins commented on #2973
@linxh0936 I'm assuming you're seeing this when setting `AndroidEnablePreloadAssemblies=false` in your project file? I believe this is an expected side effect of the performance improvement, as [documented here:](https://docs.microsoft.com/en-us/xamarin/android/release-notes/9/9.2#app-startup-performance-improvements)

You could work around this by adding an `Assembly.Load("yourAssembly")` call be

[2019-04-15 23:25] brendanzagaeski commented on #2960
@mfeingol, you've probably already tried, but as one quick first idea, there's a chance that running **Build &gt; Clean** on the project or deleting the *obj* directory might help with the "Could not AOT the assembly" errors. If not, a good next step would be to check the diagnostic MSBuild output for additional information about how the AOT step failed. If that additional information doesn't make

[2019-04-15 23:54] pjcollins commented on #2963
@mbmleone are you using the same test scenario described in 25888 which involves a bluetooth keyboard? I don't have a relevant device with me right now but I can try to take a look next week.

Could you check the content of the `AndroidManifest.xml` file which is output at `obj\Release\81\android` to ensure it contains the correct `android:configChanges` value? (e.g. `android:configChanges="keyboa

[2019-04-16 02:25] divega commented on #1990
In case anyone hits a similar exception but on Microsoft.EntityFrameworkCore.Sqlite.Query.ExpressionTranslators.Internal.SqliteComposteMethodCallTranslator, the workaround for that one is to add a LinkDescription.xml file as described at https://github.com/xamarin/xamarin-android/issues/2620#issuecomment-456447322.

[2019-04-16 02:46] linxh0936 commented on #2973
@pjcollins No, I setting `AndroidEnablePreloadAssemblies=true` in my project. There is a special project structure in my case, multi application reference a base project, like this : app1.Droid project reference base.Droid project, when I try to call `AppDomain.CurrentDomain.GetAssemblies ()`, I didn't get app1 self assembly. But before I update Xamarin.Android 9.2, with the same code, I can get a

[2019-04-16 03:06] mfeingol commented on #2960
Okay, thanks, Brendan. I feel silly. Deleting bin/obj helped get the deployment working, and the `AndroidAotAdditionalArguments` workaround fixed the startup crash. And hopefully we'll see a proper fix for https://github.com/xamarin/xamarin-android/issues/2521 soon.

[2019-04-16 08:05] gopalawasthi123 opened #2983 "Android Webview cannot render the pdf sometimes and shows blank/white page instead"
### Steps to Reproduce

1. Open the pdf in the webview using google docs link.
2. Open the same pdf or different pdf again and again.
3. Sometimes it will show the blank/white page in the android untill we refresh the webpage again for 1 or 2 times.
####
Code
[code]
![Screenshot_20190416-132946 1](https://user-images.githubusercontent.com/32213215/56192401-df7f8200-604b-11e9-974d-37e8da071577.png)

[2019-04-16 09:20] nielscil commented on #2907
I've tried Visual studio 2019 preview and there it works well. Unfortunately it gave other problems when trying to compile our normal app. I already tried a re-install of VS2017 but it didn't work either. I've solved the issue at this moment setting `AllowStrongNameBypass` in the register to `1` [(How to: Disable the Strong-Name Bypass Feature)](https://docs.microsoft.com/en-us/dotnet/framework/ap

[2019-04-16 14:44] jonathanpeppers commented on #2969
@erikpowa how are you adding these files to your Xamarin.Android project?

Are they `AndroidResource`, `AndroidAsset`, etc.?

[2019-04-16 14:49] MaxenceMax commented on #1335
you should fix this issue as fast as you can, it's a big problem for many of us

[2019-04-16 15:27] erikpowa commented on #2969
@jonathanpeppers I don't. These are in `classes.jar` and being extracted during build to `$(IntermediateOutputPath)android\bin` or atleast where I got artifacts from are having those files, fast sample [link](https://maven.google.com/com/google/android/gms/play-services-auth/16.0.1/play-services-auth-16.0.1.aar).
[Here](http://jcenter.bintray.com/org/jetbrains/kotlin/kotlin-stdlib-common/1.3.30/ko

[2019-04-16 16:09] pjcollins commented on #2973
@linxh0936 could you attach a reproduction for us to investigate with? What you've described does indeed sound like a potential regression in XA 9.2.

[2019-04-16 16:59] jonathanpeppers commented on #2969
So you just have some `.aar` files with `<AndroidAarLibrary>`? (I'll try this)

[2019-04-16 18:43] erikpowa commented on #2969
@jonathanpeppers No, it comes from binding, so either `jar` or `__AndroidLibraryProjects__`. I just linked sample artifact that contains files that are extracted to the root of the `apk` / `base.zip`.
Hmm, this `[Xamarin.GooglePlayServices.Auth](https://www.nuget.org/packages/Xamarin.GooglePlayServices.Auth/71.1600.0-preview2)` has as well.

[2019-04-16 18:43] brendanzagaeski commented on #2960
Ah, good. Glad to hear that helped! And no worries. I think there are some scenarios around `llvmopts` that will need to be fixed up in the build logic so that manual cleanup of the output files won't be necessary when those options change. When I get a chance, I'll aim to experiment with those scenarios and file an issue about them.

[2019-04-16 19:43] jonathanpeppers commented on #2969
I can repro it in our unit test with:
[code]

[2019-04-16 20:51] jonathanpeppers commented on #2979
@savornicesei can you just use `AndroidSdkDirectory`? Xamarin.Android fully embraces MSBuild so you can use this two ways:

    msbuild foo.android.csproj /p:AndroidSdkDirectory=C:\android-sdk

Or via an `AndroidSdkDirectory` environment variable set to your desired value. All MSBuild properties can be set via environment variables.

[2019-04-16 23:06] xperiandri commented on #2466
@brendanzagaeski thanks for explanation and workaround assumption.
Adding `<Reference Include="mscorlib"/>` to Android project fixes the issue perfectly!

[2019-04-17 00:58] linxh0936 commented on #2973
@pjcollins
this is my project structure:
![屏幕快照 2019-04-17 08 18 24](https://user-images.githubusercontent.com/20854332/56253081-88ca8480-60ed-11e9-863c-36e2158f6ad9.png)

startup project is No.2 project.
with XA 9.1.8.0, I try this:
![屏幕快照 2019-04-17 08 26 52](https://user-images.githubusercontent.com/20854332/56253142-be6f6d80-60ed-11e9-830d-5ea06d9487b8.png)

obviously, I can get BA.Droid assem

[2019-04-17 00:59] ooikengsiang opened #2993 "HTTPClient in Android Behaviour Differently in VS2019 and VS2017 with Linker Enabled"
### Steps to Reproduce
1. Compile an Android project with HTTPClient with Android HttpClient implementation calling https end-point through VS2019 in release mode with linker enabled.
2. Run the app in Android 4.4 emulator.
3. HTTPClient call failed.

### Expected Behavior
Android project compiled with VS2017 in release mode with linker enabled.
HttpClient implementation use Android.
HTTPClient wo

[2019-04-17 01:05] ooikengsiang commented on #2993
I saw OldAndroidSSLSocketFactory was newly added in https://github.com/xamarin/xamarin-android/pull/2185 but I'm not sure if it was newly included in Xamarin.Android SDK 9.2.0.0 which caused this problem.

[2019-04-17 06:27] softlion opened #2994 "Target Android version 9 missing + uses sdk build tools 27 instead of 28 (vs2019)"
### Steps to Reproduce

Create a default native android app using Xamarin.
Open android project properties on the manifest editor
Try to set Target Android version to 9. You can't.
Open AndroidManifest.xml using a text editor and add:
[code]
Build
If you only have build tools v28+ installed, VS will stop building with an error "install build tools v27".

### Expected Behavior

Uses build tools v28

[2019-04-17 09:03] john-heaven opened #2996 "Xamarin Android -New Cerated tabbed App run crash after adding control to axml"
### Description

I used **VS2017** to create a new `XamarinAndroid ` application. I chose the **TabbedApp** option during the new build. After the project is created, I added a control to the `activity_main.axml`, such as `ImageView`,and then crashed when I run the program.

### Steps to Reproduce

1. New Create a Xamarin Android Tabbed App.
**New Project -> Visual C# -> Android -> Android App(Xam

[2019-04-17 12:05] Goldstrike commented on #2920
@brendanzagaeski
Hi Brendan, could you please provider another link for the Android version? I tried to download it 3 times, but the the download stops each time at 232 MB on 322, and I get then a "Network error".
Thank you!

[2019-04-17 13:55] crs2m5smith commented on #2920
@brendanzagaeski downgrading to the version link provided has fixed the crash issue for us and we can debug Android. Thank you. Look forward to the VS update that fixes it, but least we aren't sitting ducks now.
@starl1n Yes, the version in link when downloaded will fix that issue

[2019-04-17 14:18] softlion opened #2995 "Control on "one APK per abi" version codes"
I deployed a unified APK to google play store using appcenter, which put as version code the unix timestamp. It's: 1555015740

Now i want to build one APK per abi. But the format  of the generated version codes is Txxxxxx where T is between 1 and 4 and xxxxxx is the version code from the android manifest. Ex:
400005
200005

So google play refuses to replace the abi 1555015740 with this one, which

[2019-04-17 14:51] softlion commented on #2966
Ok i finally need to add armv7a ... I added your propertygroup. Using VS windows 2019 i am unable to archive (it compiles fine though). It fails on AOT on most assemblies (can not AOT ...).

Using VSmac, after forcing the usage of NDK 14 and SDK 28 (by uninstalling the others) it builds, archive and uploads to play store correctly.

I also tryed VS2019 preview, no luck same error.
Any clue ?

![im

[2019-04-17 17:31] brendanzagaeski commented on #2966
With a bit of luck, those "Could not AOT the assembly" errors can be resolved by cleaning the project or manually deleting the *obj\\\*\\aot* directory (for the build configuration you're using for archiving). I think there are some scenarios around `llvmopts` that will need to be fixed up in the build logic so that manual cleanup of the output files won't be necessary when those options change. W

[2019-04-17 18:19] softlion commented on #2966
I'm used to clean these folders :) I also tryed with VS2019 preview with no luck, same error.

[2019-04-17 18:19] softlion commented on #2966
But it builds fine on appcenter !

[2019-04-17 18:31] softlion commented on #2966
Ok it seems you incorrectly copied the solution. Instead it should be:

[code]

There is no e- before the p.

[2019-04-17 18:50] softlion commented on #2966
So, it is still not working for me. The app deploys and starts, but the screen stays black. I suppose it tries to start the 32 bit version instead of the 64 one. This is another issue but i can not found the post with the solution.

[2019-04-17 19:23] brendanzagaeski commented on #2966
Oh shooot. On Windows `'` is not a valid quote character in `cmd`-style command invocations. That's my mistake, apologies! Luckily, the `data-layout` option doesn't need to be quoted in this case, so a property like this works for me on Windows:

[code]

I'll go edit the other places I posted this. Thanks a bunch for catching this syntax error!

(In case it's interesting to know, the `e-` in the d

[2019-04-17 19:27] grendello commented on #2973
@linxh0936 can you try recreating the **structure** of your project, removing all the confidential code, and create a repro application? Without the ability to reproduce the issue there isn't much we can do, I'm afraid.

[2019-04-17 19:45] savornicesei commented on #2979
Hi @jonathanpeppers
I've passed it along but it didn't seemed to be picked up. I will have to prepare some test to look at it more closely.
Still I expected .NET env. (MSBuild) to pick up the ANDROID_SDK_ROOT, as it checks the Android SDK Tools registry key that seems to be set by the Android SDK installer.
I actually expected ANDROID_SDK_ROOT to take precedence over any other reg key.

Best,
Simo

[2019-04-17 19:45] brendanzagaeski commented on #2966
I have a hunch about the problem with arm64-v8a devices. I think it is important *not* to have the custom `$(AndroidAotAdditionalArguments)` property set for the LLVM compilation step on the arm64-v8a architecture, since the LLVM options are specifically for the armeabi-v7a target architecture. I'll experiment a little bit with that and see if there's a way to adjust that conditionally within a si

[2019-04-17 20:18] brendanzagaeski commented on #2966
Yeah, ugh! I should have realized that was going to be an issue. It's *possible* to customize the build targets to run the `<Aot/>` task twice in a row, using a "special" first invocation that's just for `armeabi-v7a`, but given that it's just a quick experiment I tried locally, I'm not sure I'd recommend that in general over waiting for a future servicing release that contains the fix from Mono.

[2019-04-17 20:25] jonathanpeppers commented on #2979
Can you attach a [diagnostic MSBuild log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) of your build? Or if it is just as easy for you, an [MSBuild binary log](https://github.com/Microsoft/msbuild/wiki/Binary-Log) would be even better.

I actually expected ANDROID_SDK_ROOT to take precedence over any other reg key.

I think this part i

[2019-04-17 21:20] softlion commented on #2966
With pleasure

[2019-04-17 22:14] brendanzagaeski commented on #2966
Here are the changes I made to the *.csproj* file to split the armeabi-v7a architecture into its own customized `Aot` task. I verified that this approach allowed me to build, deploy, and run successfully on both an armeabi-v7a device and an arm64-v8a device, deploying from either Windows or macOS. That said, since this was just a quick local experiment, I'll "hide" the details slightly in a Detail

[2019-04-17 23:10] brendanzagaeski commented on #2960
**Important invalidation of the workaround**: As another user and I were looking at this same problem on <https://github.com/xamarin/xamarin-android/issues/2966>, we discovered something I should have realized sooner. The workaround of adjusting `$(AndroidAotAdditionalArguments)` is only valid if the project is targeting *no architectures other than armeabi-v7a*.  It is important *not* to have tho

[2019-04-18 00:29] mfeingol commented on #2960
Any sense of which VS version will include the fix?

[2019-04-18 05:01] softlion commented on #2966
Hey, ty for your tests. The task fails on my machine:

[code]

[2019-04-18 07:34] linxh0936 commented on #2973
[MyXamarinApp.zip](https://github.com/xamarin/xamarin-android/files/3093194/MyXamarinApp.zip)

I created a simple demo.
plz set a breakpoint at splash `OnCreate()` to watch `a` .
with XA 9.2, I can't find assembly of `Startup.Droid`.

[2019-04-18 07:48] grendello commented on #2983
Hello, @gopalawasthi123

Would you mind creating a small application to reproduce the issue? We'd also need more information about your environment, specifically:

  * Your Xamarin.Android version
  * Your operating system
  * Your IDE version
  * Android version you run the application on
  * Does it happen on device, in the emulator, both?

Thanks!

[2019-04-18 07:54] radekdoulik commented on #2993
Do you have possibly ProGuard enabled in the Release configuration?

Do you have an isolated test case, which reproduces the issue? That would help to make sure we look at the same problem.

[2019-04-18 08:27] dellis1972 commented on #2995
@softlion The version Code you are getting is the default one we calculate when using split apks. However you can control what version code is used. There is a detailed blog post on the subject
 https://devblogs.microsoft.com/xamarin/advanced-android-versioncode/

You need to override the default `$(AndroidVersionCodePattern)` property in your csproj and make sure you get a number that is higher t

[2019-04-18 08:27] #2995 closed

[2019-04-18 08:32] dellis1972 commented on #2995
We also have documentation of the `$(AndroidVersionCodePattern)`  in https://github.com/xamarin/xamarin-android/blob/master/Documentation/guides/BuildProcess.md

[2019-04-18 08:48] ooikengsiang commented on #2993
No Pro Guard.
I created a sample project: [https://1drv.ms/u/s!AsdINBY8jBXBn99o6x1soFIipdvRWg](https://1drv.ms/u/s!AsdINBY8jBXBn99o6x1soFIipdvRWg)
The error is lightly different but they are point to the same direction.

[2019-04-18 08:52] radekdoulik commented on #2993
Thank you for the sample. I have tried to reproduce meanwhile and run into different issue, which happens only in **Release** configuration. So it looks like there might be some parts linked away, indeed.

[code]

I will try your sample next.

[2019-04-18 08:59] radekdoulik opened #3001 "HTTPClient problem in Release configuration"
The `HTTPClient` type has issue in **Release** configuration on XA/master.

Instead of successful connection, it fails with `NameResolutionFailure` exception (consistently). Looks like we will need to preserve some code in the linker.

[code]

Found when trying to reproduce https://github.com/xamarin/xamarin-android/issues/2993

[2019-04-18 09:40] dellis1972 commented on #2994
Looks like there is a disconnect between what the installer installers and what Xamarin android currently needs.
We recently updated the `AndroidSdkBuildToolsVersion`, `AndroidSdkPlatformToolsVersion` to be version 28.x.x. But that is only on master at the moment, we are currently working with the sdkmanager team to resolve this issue.

To avoid this you can set

[code]

in your csproj and that sh

[2019-04-18 09:49] radekdoulik commented on #2993
@ooikengsiang I am unable to download the sample
[code]
I guess you might need to set permissions

[2019-04-18 10:00] ooikengsiang commented on #2993
Sorry for the trouble, here are the link: [https://1drv.ms/u/s!AsdINBY8jBXBn99p2VzsGPDvFWB31A?e=JKePK3](https://1drv.ms/u/s!AsdINBY8jBXBn99p2VzsGPDvFWB31A?e=JKePK3)

[2019-04-18 10:06] gopalawasthi123 commented on #2983
I will try to create a small application to reproduce the same issue. As per your need I send the information about the environment below:

- Xamarin.Android Version => 2.5144934
- Operating System => Windows
- IDE Version => Microsoft Visual Studio Community 2017 Version 15.9.2
- Android Version - 26
- I checked it only on device in fact on 3 or more devices.

[2019-04-18 10:15] AmitMalhi commented on #2983
Same issue with me also

[2019-04-18 10:19] radekdoulik commented on #2993
Thank you, it works now.

[2019-04-18 10:38] softlion commented on #2995
Will try as soon as armv7 is working again

[2019-04-18 10:40] softlion commented on #2994
Should i close the issue ?

[2019-04-18 11:02] GintasS commented on #2996
https://stackoverflow.com/questions/55692576/why-i-cant-add-an-imageview-in-the-tabbed-page/55705339?noredirect=1#comment98117294_55705339

[2019-04-18 14:04] dellis1972 commented on #2994
@softlion no, we will use this to track the problem. We need to fix the sdkmanger and xamarin.android so they are instep with each other.

[2019-04-18 17:55] brendanzagaeski commented on #2920
**macOS fix published**. The new version of the Xamarin.Android SDK that includes the fix for this issue has now been released in the Stable updater channel in Visual Studio for Mac. [Check for the latest updates](https://docs.microsoft.com/visualstudio/mac/update) or install the most recent release from <https://visualstudio.microsoft.com/downloads/> to get the fix.

**Windows fix upcoming**. Due

[2019-04-18 18:40] jonathanpeppers commented on #2996
@john-heaven does a `Rebuild` fix the problem?

It could be related to: https://github.com/xamarin/xamarin-android/pull/2199

This fix is only in VS 2019.

[2019-04-18 22:30] lester-fh commented on #2644
THANK YOU.  FIrst time in a long while that I have been up to date.  The 26.1.0 was bricking my updates for months.

[2019-04-18 22:42] codecore opened #3005 "Runtime calls endSession() without first calling beginSession()"
### Steps to Reproduce
1.  Run Xamarin.UITest in AppCenter. Not restricted to a specific device, or OS version. Observed on Google Pixel 2, Moto G6, Huawei Nexus 6P, and others.
java.lang.IllegalStateException: Attempted to endSession() without preceding matching call to beginSession().

[AndroidAppCenterStackTrace.txt](https://github.com/xamarin/xamarin-android/files/3096364/AndroidAppCenterStack

[2019-04-19 08:51] john-heaven commented on #2996
@jonathanpeppers  Hi, I find it be solved in VS2019. VS2019 is cool IDE. 👍

[2019-04-19 08:58] mbmleone commented on #2963
@pjcollins thanks for your quick response.
Yes, our scenario is the same as the original.
Today I have created a better example with the files from original poster:
[Android  - SerialNumber.zip](https://github.com/xamarin/xamarin-android/files/3097578/Android.-.SerialNumber.zip)

Here you can see that it still restart even if `ConfigChanges.Keyboard | ConfigChanges.KeyboardHidden` is added.
I have

[2019-04-19 10:18] mbmleone commented on #2963
Because the AndroidManifest.xml was correct I did some more research today.
Then I found this information:
[https://stackoverflow.com/questions/25735227/bluetooth-keyboard-will-cause-activity-destroy-and-recreate](url)
Here it was solved by adding `navigation` to `android:configChanges` .
After added `ConfigChanges.Navigation` to `ConfigurationChanges` the problem went away.
It now doesn't restart

[2019-04-19 13:37] jonathanpeppers commented on #3005
Can you post a full [adb log](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/debugging/android-debug-log) (when run locally)? Or the full log App Center gives you?

I suspect the the problem could be with Xamarin.UITest here, and this isn't anything to do with Xamarin.Android. We can check, though!

[2019-04-19 13:39] jonathanpeppers commented on #2438
@michaelkolovrat closing for now, as we haven't heard back in a while.

Feel free to comment/reopen if you can get us an update. Thanks!

[2019-04-19 13:39] #2438 closed

[2019-04-19 13:41] jonathanpeppers commented on #2983
Let me know if you get a sample, the [Android Device log](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/debugging/android-debug-log) recorded when the problem occurred would also help.

Command-line is probably the easiest way: `adb logcat -d > log.txt`

[2019-04-19 13:52] jonathanpeppers commented on #2996
@john-heaven thanks!

If anyone else has an issue similar to this with 2019, open a new issue, thanks!

[2019-04-19 13:52] #2996 closed

[2019-04-19 15:55] dansiegel commented on #2577
4-1/2 months no comment from anyone on the Android team... seriously? I have to reiterate the question from @bgavrilMS

cc: @JonDouglas @jonathanpeppers

[2019-04-19 15:59] jonathanpeppers commented on #2577
@dansiegel I think the problem here was AppCenter needs to update Xamarin.Android?

From LeversonCarlos:

@bgavrilMS were you able to solve your issue on AppCenter? maybe we can close this?

[2019-04-19 16:43] dansiegel commented on #2920
@brendanzagaeski if I understand you correctly this isn't in 16.0.2 and the vsix posted above doesn't seem to be compatible with VS16.0...

[2019-04-19 18:01] devlead commented on #2577
For me it got sorted by picking newer Xamarin Android with newer mono version on AppCenter
![tmp_1555696726966](https://user-images.githubusercontent.com/1647294/56436906-cc83e080-62dd-11e9-9145-51fa7b42a184.jpg)

[2019-04-19 21:47] brendanzagaeski commented on #2920
Correct, unfortunately. The updated Xamarin.Android SDK with the fix is not yet included in Visual Studio 2019 version 16.0.2. That was a confusing release match-up that happened this time around by a few coincidences.

I double-checked the *.vsix* behavior locally and got it to install on my (maybe too minimal) installation of Visual Studio 2019 version 16.0.2. But I don't have too much backgroun

[2019-04-21 20:07] pjcollins commented on #2963
👍 thanks for the follow up research, I'll close this based on the previous comment.

[2019-04-21 20:07] #2963 closed

[2019-04-22 09:56] SelvaKumar68 opened #3012 "EditText behavior is not same on all android device"
### Steps to Reproduce

1. Run the Test project  [Test.zip](https://github.com/xamarin/xamarin-android/files/3102917/Test.zip) on emulator of version mentioned on the image
![image](https://user-images.githubusercontent.com/35127932/56494759-fcff9080-6510-11e9-9c9f-f8070c64c37c.png) or on the physical **Asus zenfone device ze520kl.**

2. Clear the **HelloWorld!** from the last[i.e. 4th] EditText,

[2019-04-22 13:18] jonathanpeppers commented on #2577
@bgavrilMS let us know if you are still have a problem. Closing for now, thanks!

[2019-04-22 13:18] #2577 closed

[2019-04-22 15:16] JCBurnside opened #3013 "Adding a nuget reference invalidates the project from building"
### Steps to Reproduce

1. Use an existing Xamarin android app or create a new one
2. Add nuget reference to System.Runtime.Loader verison 4.3
3. Check error log

Reference example project.
[https://github.com/JCBurnside/XamarianNugetReferenceErrorExample](https://github.com/JCBurnside/XamarianNugetReferenceErrorExample)

### Expected Behavior
Able to compile and run.
### Actual Behavior
Throws `S

[2019-04-22 15:21] #2335 closed

[2019-04-22 19:26] pjcollins commented on #3008
I'm not sure that there is an issue with Xamarin.Android being described here. I think you may need to rework your `VideoView` usage in `VideoPlayerRenderer.cs` The following stripped down snippet does not throw for me (though subtitles aren't displaying in this trivial demo, but I'm not too familiar with these APIs).

[code]

[2019-04-22 20:21] pjcollins commented on #3007
I was able to reproduce some resolution issues when loading this project "untouched" in VS2017/2019, but deleting the included `bin` and `obj` folders and allowing a fresh NuGet restore to complete did put me back in a working state. There seems to be a potential bin/obj and NuGet related issue that could be investigated further using the attached project. However, I didn't encounter any `Resource

[2019-04-22 20:47] NPadrutt commented on #3007
@pjcollins  Thanks for your feedback. Have you restartet VS after you where able to build? What I observed is the Designer file recreated on a restart.

[2019-04-23 00:42] jgold6 commented on #2922
Slight correction:
### Steps to Reproduce
 1. Create a new Xamarin Android BLANK App project in Visual Studio. _(The Single View app template does not use the RelativeLayout)_

Possible workarounds:

1. Add the controls you need in the AXML source code directly.

2. If you don't require the RelativeLayout (which is often not recommended as it is expensive performance wise and is the slowest of the

[2019-04-23 08:22] grendello commented on #3013
I was able to reproduce this issue with the current stable version of XA on mac:

[code]

The project builds fine with `XA/master`

[2019-04-23 11:24] brendanzagaeski opened #3016 ""Could not load file or assembly 'System.Runtime.Loader'..." if project attempts to use a type from System.Runtime.Loader NuGet package"
This is a follow-up to <https://developercommunity.visualstudio.com/content/problem/330758/exception-while-loading-assembly.html> and the candidate fix <https://github.com/xamarin/xamarin-android/pull/2770>. The initial candidate fix by itself doesn't behave quite as expected. It looks the problem might be that the System.Runtime.Loader NuGet package itself is breaking some rules.

That said, this

[2019-04-23 12:16] gopalawasthi123 commented on #2983
Hi @jonathanpeppers , @grendello
I have made the sample on the pdf. The link for the project is shown below:
https://github.com/gopalawasthi123/PdfWebView
Hope this will help you Better.

[2019-04-23 13:03] tailsu commented on #2142
Confirmed on VS for Mac 2019. Also affects iOS binding projects.

<details>
=== Visual Studio Professional 2019 for Mac ===

Version 8.0.4 (build 0)
Installation UUID: 1ec4e9dc-ad14-4033-afe9-652baa100c1e
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.6.0.2 (d16-0 / 040682909)

	Package version: 518010003

=== Mono Framework MDK ===

Runtime:
	Mono 5.18.1.3 (2018-08/fdb26b0a445) (64-bit)
	Package ve

[2019-04-23 13:27] jonathanpeppers commented on #3007
I think I can reproduce it command-line (I deleted bin/obj directories first):
[code]
This was VS 2019 GA.

Got a bunch of errors like:
[code]
Will see if this happens with xamarin-android/master.

[2019-04-23 13:32] brendanzagaeski commented on #3013
There are a few parts to the story with the System.Runtime.Loader NuGet package. If you are looking to use the `System.Runtime.Loader.AssemblyLoadContext` APIs directly in a Xamarin.Android app, those APIs are [not currently implemented for mobile platforms](https://github.com/mono/mono/blob/2019-04/mcs/class/Facades/System.Runtime.Loader/AssemblyLoadContext.cs).

If you are instead aiming to use

[2019-04-23 14:00] MihaMarkic opened #3018 "Fast Deployement failing with VS2019, VS2017"
### Steps to Reproduce

1. Create new single page Xamarin project
2. set min. version to 6.0 (probably irrelevant)
3. run

### Expected Behavior

Runs (in emulator).

### Actual Behavior

After call to _java.exe -jar ..._ the build output is this:

[code]

### Version Information

Microsoft Visual Studio Community 2019
Version 16.0.2
VisualStudio.16.Release/16.0.2+28803.202
Microsoft .NET Framewor

[2019-04-23 14:01] MihaMarkic commented on #3018
If I deselect Fast Deployment, then it works.

[2019-04-23 14:04] MihaMarkic commented on #3018
It might be project dependent, on another project it works just fine.

[2019-04-23 14:55] jonathanpeppers commented on #3007
So it looks like master is working, but with _lots_ of warnings:
[code]
I need to figure out where the problem is here, it seems we have duplicate resources in some of the support library NuGets?

It looks like the problem with the C# compiler error was fixed in: https://github.com/xamarin/xamarin-android/commit/752a25f3a04039d59f52c5c9e3e02ccabd80b08c Duplicates are now warnings, why are there so

[2019-04-23 16:02] softlion commented on #2966
I saw something about replacing monosgen20 as a workaround but can not find the post.

[2019-04-23 17:38] johnthiriet commented on #2123
I totally agree with @dominik-weber and this is what we have implemented in our project in order to be able to debug network calls with Charles Proxy.

[2019-04-24 00:58] brendanzagaeski commented on #2966
It might have been: <https://github.com/xamarin/xamarin-android/issues/2920#issuecomment-481494511>. That crash involves having the debugger attached to the app, so if you are debugging, it might be related.

The `Java.Lang.ClassNotFoundException` that you are seeing with LLVM enabled is interesting:

Another user reported the same error on <https://developercommunity.visualstudio.com/content/prob

[2019-04-24 01:07] brendanzagaeski commented on #2960
In case anyone might want to test out a preview version that includes the fix, [Visual Studio 2019 version 16.1 Preview 2](https://docs.microsoft.com/visualstudio/releases/2019/release-notes-preview) that was published today includes Xamarin.Android SDK version 9.3.0.14, which has the fix. I did a quick first check using that version without any other workarounds, and I got the expected behavior.

[2019-04-24 09:09] SebastianKruseWago commented on #3007
@jonathanpeppers This issue is also reported on other places, see:

https://developercommunity.visualstudio.com/content/problem/461522/new-android-project-in-vs2019-preview-errors-on-pu.html

https://stackoverflow.com/questions/55137449/xamarin-forms-generates-wrong-ressources

https://stackoverflow.com/questions/55809011/xamarin-droid-resource-designer-cs-is-generated-in-a-strange-way

[2019-04-24 10:10] lander1337 commented on #2569
UPD: no matter what type of content inside  HttpResponseMessage.resp.Content, was try to get json, got same problem, missing simbols.

[2019-04-24 12:41] GintasS opened #3021 "Xamarin Android - New Created Tabbed App crashes after changing newly added ImageView's src attribute in VS2019."
### Steps to Reproduce

1. Open VS 2019.
2. Create new Project - Xamarin.Android (Tabbed App)
3. Add ImageView control and change it's src attribute via Source editor.

### Expected Behavior
Loads custom image from drawable path.
![image](https://user-images.githubusercontent.com/20372363/56659765-9dd38480-66a6-11e9-87b1-57c77af0687a.png)

### Actual Behavior
Produces following errors:
![image](ht

[2019-04-24 12:43] GintasS commented on #3021
Also, if I change the path to this:(without the "android:")
![image](https://user-images.githubusercontent.com/20372363/56660125-7b8e3680-66a7-11e9-942b-f7df36fc228c.png)

It produces the following errors:
![image](https://user-images.githubusercontent.com/20372363/56660146-91036080-66a7-11e9-89c0-b33e37cb3e64.png)

Log:
Xamarin.VisualStudio.TastyPackage|Information|0|Hooked up SDB tracing adapter

[2019-04-24 13:01] radekdoulik commented on #2504
Remeasured the XF test today, with recently added **Activity displayed** time reporting (fcfbf935819071776c77665a7d1a52fb0b91d0a4).

No AOT:
[code]
AOT:
[code]
Profiled AOT:
[code]

[2019-04-24 15:26] pikausp commented on #2920
@brendanzagaeski Hey Brendan, I run into the same issue as @Goldstrike. Since the fix is still not in the release channel, could you please provide a different link for the fixed extension?

[2019-04-24 15:39] dellis1972 commented on #3018
@MihaMarkic do you have the full log file? Also what emulator are you running this on? For some reason it can't create the override directory we need.

[2019-04-24 16:41] MihaMarkic commented on #3018
@dellis1972 It's latest one that comes with Android Studio - 28.0.25. I have all log files, but they don't say more, at least from what I understand. BTW what is the directory in question? This one:

`/data/data/ch.globus.markdown_app.dev/files/.__override__`

[2019-04-25 02:26] brendanzagaeski commented on #2920
@pikausp, you can give this alternative temporary link a try:

[Xamarin.Android.Sdk.9.2.2.1.vsix](https://brendanzagaeski-a.azureedge.net/files/Xamarin.Android.Sdk.9.2.2.1.vsix) for Windows

That's on the Akamai CDN under my individual Azure account, compared to the previous link that's on the Microsoft CDN under a team Azure account. Since it's on my individual Azure account, I'll turn that link

[2019-04-25 06:09] Happypig375 commented on #2920
Is there any info about fixing the confusing release match-up?

[2019-04-25 07:24] simon-wainy commented on #2920
I experienced the issue from first installing VS2019 a couple of days ago. After updating to 16.0.2 and downloading the .vsix for Windows (from the original link but it took 5 attempts) it installed correctly and i can now debug.

[2019-04-25 07:58] rysbilinski commented on #2920
I am getting the following errors trying to install the vsix from both links:

25/04/2019 15:56:43 - Microsoft VSIX Installer
25/04/2019 15:56:43 - -------------------------------------------
25/04/2019 15:56:43 - vsixinstaller.exe version:
25/04/2019 15:56:43 - 16.1.42
25/04/2019 15:56:43 - -------------------------------------------
25/04/2019 15:56:43 - Command line parameters:
25/04/2019 15:56

[2019-04-25 08:32] pikausp commented on #2920
@brendanzagaeski thank you. Both, the new link and the extension work.

[2019-04-25 09:39] dellis1972 commented on #3018
yes `/data/data/APP_BUNDLE_ID/files/.__override__` is the directory it tries to create.
But it also creates `/storage/emulated/0/Android/data/APP_BUNDLE_ID/files/.__override__`.

Its odd it works for other projects and not for this particular one...

Is the `debuggable` attribute being added to the manifest in the `obj/Debug/android/AndroidManifest.xml`.

Disabling FastDev is a workaround, but its

[2019-04-25 09:46] dellis1972 commented on #3016
I'm not entirely should what to do about this one. We seem to be doing allot of hacks and workarounds to fix problems in Nuget packages. I have a feeling most of this stems from our `ResolveAssemblies` task which is doing allot of extra work to make sure we get all the required dependencies. afaik iOS does NOT do anything like that. Perhaps we should look at removing it a just relying on the `@(Re

[2019-04-25 10:47] dellis1972 commented on #3007
This looks related to this change https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Resources/Layout/BottomTabLayout.axml#L13.

Xamarin.Forms is using `android:id="@+id/bottomtab.tabbar"`. It seems the ManagedResourceParser is NOT fixing up android `id` values with contain a `.`.

It should be producing `public const int toolbar_one = 2131230899;` not `public cons

[2019-04-25 11:19] SebastianKruseWago commented on #3007
@dellis1972 Seems to solve the issue but what did you mean with this?

Do you mean the very aweful Xamarin.Forms Previewer? Or the Android native "designer" which is also average at best?

[2019-04-25 12:08] MihaMarkic commented on #3018
@dellis1972 Based on your comments I did some more tests. It seems that it was something related to that particular emulator instance. Tried another one and it worked. then tried wiping user data from the problematic one and now it works again. So, I guess, not really a xamarin problem.

[2019-04-25 12:08] #3018 closed

[2019-04-25 12:54] dellis1972 commented on #3007
The Design Time Build is what Visual Studio does in the background to generate code completion and intellisense. Normally this build should run very quickly, this is one of the reasons the ManagedResourceParser exists. Aapt however can be very slow, especially on projects with allot of resources. So disabling the ManagedResourceParser might mean the IDE becomes a bit sluggish when a Design Time Bu

[2019-04-25 17:14] brendanzagaeski commented on #2920
Apologies in advance that I don't have specific timing information for the publication of the version of Visual Studio 2019 that will include the fix. Barring unexpected complications, it will be included in the next version 16.0.x release. [Historically](https://docs.microsoft.com/visualstudio/install/visual-studio-build-numbers-and-release-dates?view=vs-2017), the time between Visual Studio 2017

[2019-04-25 18:00] brendanzagaeski commented on #2920
@rysbilinski, I haven't debugged errors from `ISetupInstance2.GetState()` before, so I'm not quite sure what that error would indicate. To make one guess, repairing the Visual Studio installation via the Visual Studio Installer might change the behavior. The `ISetupInstance2.GetState()` method attempts to determine the [overall installation state of the Visual Studio instance](https://docs.microso

[2019-04-26 01:39] rysbilinski commented on #2920
Thanks for the response. Performed a repair and sadly the same issue is appearing.

Going to try the preview version

[2019-04-26 09:20] dellis1972 commented on #3021
Thanks for the bug report. Some of the errors look like this of #3007 which is being worked on via PR #3025. I believe they are from the design time build and are not related to the runtime issue.

That leave the drawable issues. You set the `src` to `@android:drawable/1`. What that will do is look for a drawable called `1` in the android system. No such such a drawable exists. Also `@drawable/1`

[2019-04-26 09:20] #3021 closed

[2019-04-26 19:09] codecore commented on #3005
[Device_Logs.txt](https://github.com/xamarin/xamarin-android/files/3122673/Device_Logs.txt)
[Test_Logs.txt](https://github.com/xamarin/xamarin-android/files/3122674/Test_Logs.txt)

[2019-04-26 19:21] jonathanpeppers commented on #3005
This looks like something UITest is doing to me:
[code]
I'm not seeing a problem with Xamarin.Android here?

Can you file a bug here? https://developercommunity.visualstudio.com/ This is the only place I see to file bugs for Xamarin.UITest.

Closing for now, let me know if there is a Xamarin.Android problem here. Thanks!

[2019-04-26 19:21] #3005 closed

[2019-04-26 20:06] codecore commented on #3005
https://developercommunity.visualstudio.com/content/problem/549106/xamarin-uitest-runtime-calls-endsession-without-fi.html

[2019-04-26 21:15] jonpryor opened #3033 "Need to explicitly specify & control mingw-w64 version."
ROFLCOPTER and OMGWTFBBQ

[2019-04-26 21:50] nodoid opened #3034 "InputFilter placing buffer into dest"
### Steps to Reproduce

1. Compile the demo below. Type ASDFGhjkl
2. ASDFG shows in the edit text
3. Press delete. You will need to press delete 5 times before G is delete.

https://github.com/nodoid/edittext_error

### Expected Behavior
If ASDFG is being passed in dest, pressing delete once should remove G
### Actual Behavior
Delete needs to be pressed however many times after the last uppercase

[2019-04-26 22:07] BMarinov commented on #1472
I just encountered the same bug.
`await _httpClient.GetAsync()`

If I step through the code the application dies. If I set a **breakpoint after the line** where I do the call its fine. Alternatively GetAwaiter().GetResult() also works.

[2019-04-27 02:41] hlucianojr commented on #2673
I got this same error using Azure DevOps hosted in 2017, 2019 but it works when using Hosted in Mac OS.  Hopefully this helps.

[2019-04-27 07:57] rysbilinski commented on #2920
@brendanzagaeski reinstalled Visual Studio and the issue is fixed! Thanks

[2019-04-27 14:55] RyanBuzzInteractive opened #3035 "Probable bug with tarjan GC_BRIDGE - Handle must be valid."
Note: This seems like it is probably a duplicate of #2518 as it was his issue back on bugzilla that led me to the cause / workaround. It doesn't seem like he is getting any real response though so I have posted this, I hope that's ok. His repro may be easier to use, I haven't looked at it.

### Steps to Reproduce

1. Build the solution (you will need to do it twice as the first time it builds the

[2019-04-28 11:49] ygc369 opened #3036 "Is xamarin app compiled to binary code or JVM byte-code?"
I hope that Xamarin app on Android platform could be compiled to binary code which could be executed by CPU directly, in order to get best performance.

[2019-04-28 12:17] SimonCropp opened #3037 "When two assemblies have types with the same name, the `LinkAssemblies` task throws key already exists"
When two assemblies are linked, and both assemblies have types with the same name, the `LinkAssemblies` task throws

The below stack trace is from two assemblies that have been ILWeaved with https://github.com/Fody/PropertyChanged. PropertyChanged caches event args in a type `<>PropertyChangedEventArgs` that has no namespace. When `LinkAssemblies` attempts to merge these assemblies, there is a nam

[2019-04-29 06:08] kkarakk commented on #2920
so i'm guessing this issue means that no one gets to use xamarin test cloud for testing xamarin builds at microsoft? there's one free device guys ;)

[2019-04-29 14:39] MagicAndre1981 commented on #3018
thanks, I also needed to uncheck fast deployment with 16.1 Preview. Thanks for the hint!

[2019-04-29 14:41] MihaMarkic commented on #3018
@MagicAndre1981 Note that in my case it was something wrong with android os emulator instance, not visual studio.

[2019-04-29 14:45] MagicAndre1981 commented on #3018
I don't use emulator as I run Windows 10 in a VM and nested hw acceleration (HAXM, Hyper-V platform) is unsupported. I try to debug it on a tablet via ADB over Wifi/LAN and here it also fixed my issue.

[2019-04-29 16:13] jonathanpeppers commented on #2983
@gopalawasthi123 I see lots of errors when the web view tries to load the page in your sample:
[code]

So two questions:
* Does the page render in the regular browser? Like if you open Chrome and navigate to the URL?
* Does a similar Android Studio/Java-only sample work?

Xamarin.Android just surfaces the Android APIs to C# as-is. I suspect you would hit the same problem with Java? I don't know th

[2019-04-29 18:56] JonDouglas commented on #3016
@dellis1972 @brendanzagaeski Here is a repro re: `System.Runtime` failing on 16.1 Preview 2. Maybe a regression here:

https://github.com/jamesmontemagno/AllExtensions-DI-IoC

DevCom:

https://developercommunity.visualstudio.com/content/problem/551186/android-build-failed-on-linker-systemruntime-even.html

[2019-04-29 19:22] brendanzagaeski commented on #3016
I'll take a look at that example to see what might be going on. Based on the mental model I had, I wouldn't expect a version upgrade of Xamarin.Android alone to cause this particular cause of the error to arise because the build would have been failing on <https://github.com/xamarin/xamarin-android/pull/2770> in previous versions already. So I'll have to investigate that example to see what's happ

[2019-04-30 07:29] AndrueCope commented on #2920
I first reported this [back in January](https://developercommunity.visualstudio.com/content/problem/436400/android-development-very-unstable.html), a couple of days after preview 2 was released. Someone started looking at it quite quickly but seemed to struggle with repro steps. Sadly I didn't have time back then to try and create a small test application as we were at a critical point in our mobi

[2019-04-30 07:31] brendanzagaeski opened #3045 ""FileNotFoundException: Could not load assembly 'System.Runtime..." during LinkAssemblies for projects that depend indirectly on System.Runtime.CompilerServices"
Motivating Developer Community item: <https://developercommunity.visualstudio.com/content/problem/551186/android-build-failed-on-linker-systemruntime-e>

That report is based on the project in <https://github.com/jamesmontemagno/AllExtensions-DI-IoC>

This is a change in behavior between xamarin-android-9.2.3.0 and xamarin-android.9.3.0.14.  I noticed a difference in the output of the `<ResolveAss

[2019-04-30 07:59] brendanzagaeski commented on #3016
Yep, the behavior reported in that Developer Community item is a separate, higher-priority problem. I've minimized the test scenario and created a new issue to track it: <https://github.com/xamarin/xamarin-android/issues/3045>

[2019-04-30 08:02] MihaMarkic commented on #3018
@dellis1972 Based on @MagicAndre1981 case, this might be an issue with fast deployment after all? Should this issue be re-opened?

[2019-04-30 08:19] MagicAndre1981 commented on #3018
I use custom ROMs for phone and tablet (x86) so there may be an issue with the ROMs so I can live with disabling fast deployment.

I found the issue while searching for "setprop "debug.mono.extra" "debug=127.0.0.1" this was last output before app deployment stopped.

[2019-04-30 12:47] dellis1972 commented on #3018
This might be the issue. We use adb port forwarding to forward local debugger network traffic over to the device. That said if it was a Wifi/LAN issue then the debugger would not attach at all even with fast dev disabled. If might be a permissions issue with that custom ROM. We would need to see the `adb logcat` to see if the `.__override__` directories we use are being created.

[2019-04-30 14:53] MagicAndre1981 commented on #3018
here are some outputs with fast deployment for the [xamarin.essential sample app](https://github.com/xamarin/Essentials/tree/master/Samples):

Here is build output with fast deploy:

[code]

Here is catlog when I try to debug **app with fast deploy**:

[code]

and app only opens a short time and closes.

////////////////////////////////////////////////////////

Here is **output** when **fast deplo

[2019-04-30 15:06] pjcollins commented on #3035
Thanks for this report, I'm going to move this over to the mono org for further investigation as https://github.com/mono/mono/issues/14282.

[2019-04-30 15:06] #3035 closed

[2019-04-30 16:00] pjcollins commented on #3034
I don't believe this is a Xamarin.Android issue, I believe it is an issue in your `IInputFilter` implementation. Perhaps the [Android.Text.InputFilterAllCaps](https://developer.xamarin.com/api/type/Android.Text.InputFilterAllCaps/) input filter will meet your needs?

[2019-04-30 16:00] #3034 closed

[2019-04-30 17:46] softlion opened #3049 "[AAPT2] first styleable resource id is always incorrect"
### Steps to Reproduce

1. Create a new android project. Android Options:
- shared runtime + fast deployment
- multi dex on
- dex compiler d8
- code shrinker proguard (i'm unable to run any app when using r8 even in debug mode)
- enable debugger
- use concurrent garbage collector
- linking none
- compile with android 9
2. Create a simple android custom control, add a styleable android resource, an

[2019-04-30 17:51] softlion commented on #2994
This is fixed in 16.1.0 preview 2.

[2019-04-30 18:18] jonathanpeppers commented on #3045
@brendanzagaeski was the test case working for you with xamarin-android/master (or 16.2)? It worked for me.

I'm afraid that it might be mono-2019-02 that is fixing the problem here...

[2019-04-30 18:40] dellis1972 commented on #2994
@softlion thanks for confirming.

[2019-04-30 18:40] #2994 closed

[2019-04-30 19:01] BrennanConroy commented on #3045
We're hitting this issue while trying to test SignalR bits against Xamarin. Is there a temporary workaround for this locally so we can continue with testing?

[2019-04-30 19:52] brendanzagaeski commented on #2920
**Windows fix published**. The new Xamarin.Android SDK version 9.2.3.0 that includes the fix for this issue has now been published as part of Visual Studio 2019 version 16.0.3. [Check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) or install the most recent release from <https://visualstudio.microsoft.com/downloads/> to get the fix.

[2019-04-30 20:48] brendanzagaeski commented on #3045
Innnteresting. I hadn't tried with `master` or `d16-2` yet. I'll try that now to help confirm that I get the same improved behavior on those versions. At first glance, it looks like it is indeed being fixed a different way in `master` because the line about adding System.Runtime in your log file from `master` is now its own "top-level" line instead of being indented under System.Runtime.CompilerSe

[2019-04-30 20:50] brendanzagaeski commented on #3045
One quick-and-dirty idea that let me stop the error in local experiments (partly just to help me double-check the role of the `<ResolveAssemblies/>` task) was to add an explicit `@(FilteredAssemblies)` item for the  *System.Runtime.dll* facade assembly in the *.csproj* file:

[code]

As a caution, until the investigation is complete for this issue, I'd be hesitant to say this is necessarily a _cor

[2019-04-30 20:59] jonathanpeppers commented on #3045
I think master is working, because it's just "lucky", here is a comparison: https://www.diffchecker.com/4lcQRLiN

I have a local build of 16.1, and it seems that `<ResolveAssemblies/>` sees `netstandard` as a reference of `System.Runtime.CompilerServices.Unsafe` when it should be seeing `System.Runtime`. Somehow it is looking at the reference assembly instead of the real assembly.

[2019-05-01 08:59] #3045 closed

[2019-05-01 09:04] MagicAndre1981 commented on #3018
@dellis1972

Here is a better output from VS2019 16.0.3:

[code]

should I open a new issue specific to adb over wifi/LAN?

[2019-05-01 09:16] dellis1972 commented on #3018
Ok so the FastDev files are being copied over.
[code]

This is the problem. There must be something else running on the device with the same port.  You should be able to use `adb shell netstat | grep 29221` to figure out which process is using that port.

[2019-05-01 09:46] MagicAndre1981 commented on #3018
@dellis1972

nothing shows up when I run `adb shell netstat | grep 29221`

here is complete output without filtering:

[code]

[2019-05-02 07:55] davidbuckleyni opened #3090 "HTTPCLient Panifully slow on local host and via ip address"
When I run http client in a standard console app or through the browser to my api i get very fast results however in the http client consumed in xmairan forms its very very slow

I am using the HttpClient but my results are taking up to 6-8 seconds coming back from the same machine on the same subnet and ip range of 192.168. When I call the api directly from the ip address the results are more or

[2019-05-02 07:56] anuragbharti-igs opened #3057 "Xamarin.Android app with Google Maps crashes with out of memory"
### Steps to Reproduce

1. Add two activities to the Xamarin.Android app with a MapFragment in the second activity
2. Navigate back and forth between the two activities multiple times.
3. App crashes with the following messages in the logs - 'sharedmem_gpumem_alloc: mmap failed errno 12 out of memory'

### Expected Behavior
MapFragments should get disposed after a new activity is started.

### Act

[2019-05-02 09:54] gopalawasthi123 commented on #2983
@jonathanpeppers :
Yes the Page Renders fines if we open in a regular Browser.
Yes It behaves the same in Android Studio.

[2019-05-02 10:18] jayrlsw commented on #2921
Is there a workaround for this? I am having the same issue.

[2019-05-02 11:54] SamuelDebruyn opened #3058 "Default Android OS proxy is ignored"
### Steps to Reproduce

1. Make sure HTTP client handler is set to native client handler (which is the default now)
2. Instantiate an `HttpClient` and perform an HTTP request

Repro project: https://github.com/3factr/xamarin-android-proxy-issue
Workaround: `workaround` branch

### Expected Behavior

The request goes through the system OS defined proxy.

### Actual Behavior

The request ignores the

[2019-05-02 12:28] SamuelDebruyn opened #3059 "AndroidClientHandler code is not structured well enough to override anything"
I tried to override [a method](https://github.com/xamarin/xamarin-android/blob/756117040ef85fd7d6c9ae5c7afe218da6cae734/src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.cs#L263) to fix https://github.com/xamarin/xamarin-android/issues/3058

As soon as you copy this method over and try to change the line with the issue, you notice a lot of errors leading to private methods, properties or f

[2019-05-02 12:56] SamuelDebruyn commented on #3058
The cause of this issue is at https://github.com/xamarin/xamarin-android/blob/756117040ef85fd7d6c9ae5c7afe218da6cae734/src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.cs#L263 and changed with https://github.com/xamarin/xamarin-android/commit/bf0704496ac5cd5df5c82822048fe07ac6923971

`Proxy` in `GetJavaProxy` is null so the `goto done;` is executed and `Java.Net.Proxy.NoProxy` is returned

[2019-05-02 13:05] SamuelDebruyn commented on #3058
For future reference: `UseProxy` in that line is true by default (the default is set in [the Mono source](https://github.com/mono/mono/blob/master/mcs/class/System.Net.Http/MonoWebRequestHandler.cs#L78))

[2019-05-02 13:05] SamuelDebruyn commented on #3058
The solution here would be to not return `NoProxy` but to just leave the parameter out like it was before. PR incoming...

[2019-05-02 13:26] matt2003 commented on #2919
Hi All that saved me too for adding AndHUD to my project tried everything so far including r8 (didnt work) on VS mac 2017 and this allows me to compile both debug and release versions.

Thank you!

[2019-05-02 13:32] jonathanpeppers commented on #2919
@matt2003 is this the project you're referring to? https://github.com/CNCoderX/AndHub

I could just try enabling d8 + r8, and see what you're seeing?

[2019-05-02 13:38] matt2003 commented on #2919
Hi Jonathan,
I did manage to get it working with that workaround above it was actually AndHUD
https://github.com/Redth/AndHUD

[2019-05-02 13:53] matt2003 commented on #2919
D8 / R8 is not working I think with VS2017 for mac I get this as output
I am not sure why it is looking to proguard in debug mode, but at least it compiles I will try to install 2019 side by side and see if I can take advantage of the r8/ d8 and see if it compiles there.

Target "_CompileToDalvikWithD8" in file "/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.D8.

[2019-05-02 14:31] keyur-apa opened #3061 "Xamarin Android Webview does not recognize download links after Chrome 69+ update on Android devices."
### Steps to Reproduce

1. Create a Webview on Xamarin App with a page which consist a link to a file (pdf for example.)
2. Make sure is Chrome is up-to-date (69+ version) on android device your app is running.
3. Try to click on the file link on that webview, it will do nothing.
4. Now if you uninstall all updates on chrome & go back to 69 or older version of chrome and repeat step-3, it should w

[2019-05-02 15:39] jonathanpeppers commented on #2983
If you're getting the same problem in Android Studio, that means it's probably just a general problem with Android, sorry 😞 .

I think you should try posting on either:
* https://stackoverflow.com/ - maybe just post your Java example that isn't working?
* [Google's Bug Tracker](https://source.android.com/setup/contribute/report-bugs) - although they aren't very responsive sometimes...

Closing for

[2019-05-02 15:39] #2983 closed

[2019-05-02 15:50] matt2003 commented on #2919
I did manage to compile now with vs 2019 for mac using in both debug and release mode
with and without proguard and without multidex  only multipledex
<AndroidEnableDesugar>true</AndroidEnableDesugar>
    <AndroidDexTool>d8</AndroidDexTool>

Though r8 cant be found on the path it believes it to be.
Its actual location is
/Library/Frameworks/Xamarin.Android.framework/Versions/9.2.0-5/lib/xamarin.an

[2019-05-02 15:50] Kingamattack commented on #2693
Hi guys, I'm also facing the same issue and I didn't find any workaround to fix it in spite of all the suggestions above.

I tried to create a binding from a custom **Android .aar library** and when I'm referencing the .dll from my .Droid project I'm having this
`Warning: Missing class: org.apache.http.client.methods.HttpEntityEnclosingRequestBase` and `Compilation can't be completed because some

[2019-05-02 17:02] jonathanpeppers commented on #2693
@Kingamattack your issue should be fixed by https://github.com/xamarin/xamarin-android/pull/2736, which is in the VS 2019 16.1 preview if you want to try it.

The simplest workaround is something like I did [here](https://github.com/xamarin/Xamarin.Forms/commit/3fd381251fa37693c26ca490b5e86cb8eb2d4c32). You can add `C:\Program Files (x86)\Android\android-sdk\platforms\android-28\optional\org.apach

[2019-05-02 17:16] hadigityat commented on #2921
Xamarin.Firebase.Iid version 71.1703.0-preview3 has the fix, if that helps

[2019-05-02 17:43] radekdoulik commented on #3036
By default the Xamarin.Android application is compiled into CIL, which is translated to native code during runtime by JIT.

It is possible to use [AOT](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/release-prep/?tabs=macos#aot) to precompile assemblies to native code during build time.

[2019-05-02 17:43] #3036 closed

[2019-05-02 18:50] keyur-apa commented on #2983
This might have to do with the issue I am facing, uninstall all chrome updates on your phone. And open the webview, it will function properly. Chrome update after 69 broke Xamarin Webview for Android.

[2019-05-02 21:41] softlion commented on #2966
I've tried your "new" workaround without success.
Note that i built it using the "Archive" process.

[code]

[2019-05-03 00:31] brendanzagaeski commented on #2966
Hmmm. Looks like I must have missed a case somehow in the workaround where it's not yet passing the correct set of `llvmopts` for the build configuration used when archiving. If by chance you have (or don't mind installing) the [Visual Studio 2019 Preview](https://visualstudio.microsoft.com/vs/preview/), the latest Visual Studio 2019 Preview version 16.1 Preview 2 includes the upstream Mono change

[2019-05-03 04:34] gopalawasthi123 commented on #2983
@jonathanpeppers
Thanks Man. I will post this bug on the Google's Bug Tracker. I already have posted this on the Stack Overflow

[2019-05-03 04:36] gopalawasthi123 commented on #2983
@keyur-apa
Do you have any solution to this Chrome Issue with the pdf i am facing

[2019-05-03 06:11] softlion commented on #2966
ok ty, yes i have it installed. But it's not golive. will try anyway ty!

[2019-05-03 07:38] softlion opened #3063 "Archiving failed: An item with the same key has already been added"
### Steps to Reproduce

One of my android project started to complain with this error when Archiving in Release mode. I used to delete the content of the Archive folder, or change the versionCode in androidmanifest to workaround the error. But this time it does not work.
I also tried after deleting bin/obj/.vs and other use files.
Any clue ?

UPDATE
I worked around it by changing the versionName i

[2019-05-03 08:34] softlion commented on #2966
The 1st problem is fixed on vs2019 preview2. The app does start. But it fails to find classes on main dex list.

This problem does not appear on the armv8 version. Any clue ?

[code]

[2019-05-03 08:46] Evige commented on #3063
I am facing the same issue. Thanks for the workaround!

[2019-05-03 09:37] dellis1972 commented on #3049
@softlion can you post the `Resource.designer.cs` files for your app (for a failing build)? There will be two one in the `Resources` folder and one in `obj/Debug/designtime`. Also can you post the `R.txt` which is in the `obj/Debug` directory.

[2019-05-03 09:38] dellis1972 commented on #3049
This is probably related to https://github.com/xamarin/xamarin-android/pull/3025

[2019-05-03 09:39] dellis1972 commented on #3049
specifically https://github.com/xamarin/xamarin-android/pull/3025#issuecomment-487382070.
But that should only effect the design time builds..

[2019-05-03 11:25] softlion commented on #3049
Yes it may be related.

[code]

[2019-05-03 11:25] softlion commented on #3049
What are design time builds ?

[2019-05-03 11:33] softlion commented on #3049
Value of SvgImageView_android_gravity is incorrect. It has the same same as an existing android resource.

[2019-05-03 11:35] softlion commented on #3049
[code]

In this one, MvxListView2_MvxItemTemplates should be 0.

[2019-05-03 11:37] softlion commented on #3049
In these ones, gravity should be 0.

[code]

[2019-05-03 11:40] softlion commented on #3049
Same code without aapt2:

[code]

[2019-05-03 11:56] anuragbharti-igs commented on #3057
**Code:**
[code]

[2019-05-03 12:12] dellis1972 commented on #3049
@softlion do you have the `R.txt` which was generated?

[2019-05-03 12:18] #3007 closed

[2019-05-03 13:11] EP01 commented on #3063
Had the same issue here with Visual Studio 16.0.3 (Xamarin Android 9.2.3.0). For me, updating the `AssemblyVersion` and `AssemblyFileVersion` worked around the issue. After successfully creating a package with the new version numbers, I was able to undo those changes and build a package with the original version numbers again.

[2019-05-03 14:51] softlion commented on #3049
Yes

[R.txt](https://github.com/xamarin/xamarin-android/files/3142390/R.txt)

[Resource.Designer.cs.txt](https://github.com/xamarin/xamarin-android/files/3142396/Resource.Designer.cs.txt)

[2019-05-03 15:06] keyur-apa commented on #2983
@gopalawasthi123 I do not, but to my problem, my other app developed via Ionic 3 works fine with webview & latest chrome on android on pdf links. It is just Xamarin Forms App with chrome 69+

[2019-05-03 15:49] aherrick commented on #3007
Just a heads up I'm still seeing this issue on the latest version of VS2019 4.7.03190

Deleting the Resource Designer fixes temporarily, then rebuilding brings it right back.

[2019-05-03 19:32] jonathanpeppers commented on #3061
@keyur-apa Xamarin.Android just presents Android APIs to C# as-is. I'm not sure there would be a bug in Xamarin.Android here? It seems more like a general bug in Android.

Can you attach one of the following?
* A simple repro project -- using the `WebView` and URL you see the problem with?
* The [android device log](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/debugging/android-deb

[2019-05-03 19:34] jonathanpeppers commented on #2873
@RyanBuzzInteractive closing for now, as it looks like you solved your issue here, thanks!

[2019-05-03 19:34] #2873 closed

[2019-05-03 19:36] jonathanpeppers commented on #3059
@SamuelDebruyn can you post a simple C# code example of what you might want to override?

[2019-05-03 19:37] jonathanpeppers commented on #3058
@grendello when you have a chance to take a look, @SamuelDebruyn sent a PR for this one.

[2019-05-03 19:39] jonathanpeppers commented on #3057
@anuragbharti-igs can you post the full [Android device log](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/debugging/android-debug-log) when you hit the crash?

Would you also be able to post a small project that shows this issue when using Google Maps?

[2019-05-03 20:14] dellis1972 commented on #3007
@aherrick you will still see it in the stable release since we just merged this into master, and cherry-picked it to d16-2 (which is the next preview).

[2019-05-04 09:07] aherrick commented on #3007
@dellis1972 thanks for the update... will keep an eye out.

[2019-05-05 13:15] #3049 closed

[2019-05-06 05:42] softlion commented on #2993
you could call `adb.exe shell setprop debug.mono.debug 1` to display android line numbers in the log stack strace. After the call, kill your android xamarin app and rerun.

Dunno why it's not by default in xamarin android.

[2019-05-06 09:04] Tristan-gu commented on #3063
I have the same issue, this is driving me crazy.

I tested with VS 2019 16.0.3, and VS 2019 16.1.0 preview 2
Sometimes, when I change AssemblyVersion and AssemblyFileVersion, it works, but when I have the error, it is very timefull to change and test it.

Is there a way to reset Archive Manager Keys ?

[2019-05-06 11:04] gopalawasthi123 commented on #2983
@keyur-apa No I made a sample also on the android studio. It also have a same issue as in the xamarin android

[2019-05-06 11:42] dienbien001 commented on #3063
I'm facing same problem. Switch back to VS2017 15.9.11 and the process done. I wonder if it's VS 2019 error?

[2019-05-06 12:31] tipa commented on #3063
Same issue here. It seems so randomly work sometimes, but most of the time it does not.

[2019-05-06 14:31] Tristan-gu opened #3072 "Impossible to compile to release mode with AOT,LLVM and different linking options"
### Steps to Reproduce
I have a customer project under development, all was fine in debug mode, but I'm trying to make a release version, which is faster with smaller apk size, so I want tu use linking option and AOT/LLVM options, but it is impossible for me to make my release version

1) Default debug mode(AOT  = false, LLVM = false, Linking = 'None'): all is working perfectly

2)  Release mode :

[2019-05-06 16:55] #3058 closed

[2019-05-06 16:56] grendello commented on #3059
Hi @SamuelDebruyn,

This class was never meant to be extensible by the user to the degree above what's absolutely necessary to make the client handler work (e.g. the SSL setup, socket factory etc). It was a deliberate decision as the class is to serve as a drop-in replacement for the default HTTP client handler and there are many quirks to the underlying Java HTTP handling - we didn't want to make

[2019-05-06 16:56] #3059 closed

[2019-05-06 19:41] anuragbharti-igs commented on #3057
[GoogleMapDemo.zip](https://github.com/xamarin/xamarin-android/files/3149572/GoogleMapDemo.zip)

[2019-05-06 19:42] anuragbharti-igs commented on #3057
[App.log](https://github.com/xamarin/xamarin-android/files/3149575/App.log)
[Device.log](https://github.com/xamarin/xamarin-android/files/3149579/Device.log)

[2019-05-06 19:44] anuragbharti-igs commented on #3057
@jonathanpeppers I have uploaded a solution which demonstrates the google map implementation in my solution. I have also attached device logs and Visual studio debug logs

[2019-05-07 06:59] shivagurunathan opened #3078 "String.MissingMethod exception occurs while using String.Split method"
Hi Team,

We at Syncfusion develop data visualization controls for Xamarin and we have more than 90 controls spread across all platforms of Xamarin. Please refer the below link for a description about us.
UserGuide: https://help.syncfusion.com/xamarin/sfdatagrid/overview
FeatureTour: https://www.syncfusion.com/products/xamarin.

We would like to bring to your notice a bug that we encountered as fo

[2019-05-07 08:24] Tristan-gu commented on #3063
For information,  this error is still here with VS 2019 preview 3

[2019-05-07 09:16] TFreudi1 commented on #3063
Same thing for me with 16.0.3, I switch back to vs2017, no problems there.

[2019-05-07 11:11] radekdoulik opened #3075 "xUnit tests fail with out of memory exception on Jenkins"
Looks like the xUnit tests are crashing on Jenkins. Like this build https://jenkins.mono-project.com/job/xamarin-android-pr-pipeline-release/840/.

Note that we raised the emulator RAM size recently from 2048MB to 3072MB and it didn't help. So there might be an actual issue with the memory management?

[code]

[2019-05-07 11:13] Balasubramanian93 opened #3076 "Auto focus is not working in Xamarin.Android with talk back enabled"
### Steps to Reproduce

Reproducing Sample : Attached in this thread.

1. Enable accessibility feature in android device.
2. Deploy and run the application.
3. We had set the AutoFocus property of the Button with text Mango to focus that button once the application is launched. But the first button added in the view got focus.

### Expected Behavior

Button with the text Mango should be focused.

[2019-05-07 11:14] radekdoulik commented on #3075
Checked, that the emulator RAM size is indeed used.
[code]
Not sure whether the VM heap size is related, will try to find out.

[2019-05-07 11:15] softlion commented on #3072
Disable AOT. I was unable to make it work on VS2019 with AOT enabled. It used to work on VS2017.

[2019-05-07 11:34] rofiqsetiawan commented on #3072
FYI, Enable AOT/LLVM will increase your APK size, see https://docs.microsoft.com/en-us/xamarin/android/deploy-test/release-prep/?tabs=windows#aot-compilation

[2019-05-07 15:24] justintoth commented on #1408
I'm seeing the same exception be logged in our prod app.

The code is very straightforward in the BasePropertyPhotoAdapter Count method, so I'm not sure what could possibly be the issue here (except a Xamarin bug?)

[code]

[2019-05-07 23:18] ryansama commented on #3063
Same for me on 16.0.3

[2019-05-08 01:20] brendanzagaeski commented on #2966
Darn. Since the issue for `android.widget.View` was not resolved by Visual Studio 2019 version 16.1 Preview 2, if you get a chance, if you might be able to collect the diagnostic build output and attach it back or coordinate on Gitter to send it over, I suspect that might be the best next step. ([Steps to collect the diagnostic build output.](https://github.com/xamarin/xamarin-android/issues/2966#

[2019-05-08 02:13] brendanzagaeski commented on #2966
Oh, wait. I forgot! Those steps to gather the diagnostic build output don't produce the expected verbosity of output for builds initiated from the **Build > Archive** window.  Instead, if you get a chance, you can gather the [binary log](https://github.com/Microsoft/msbuild/blob/master/documentation/wiki/Binary-Log.md) for the build by running the build on the command line:

1. Run the following c

[2019-05-08 03:10] brendanzagaeski commented on #3072
Thanks for the report! I'll recommend to start with scenario number 4:

(I'll recommend this as the starting place because compiling with Linking = 'None' with AOT can produce very large outputs, and compiling with Linking = 'Sdk and User Assemblies' requires special care to make sure that appropriate linker preserve rules have been added for any uses of reflection in your code or 3rd-party librar

[2019-05-08 03:30] brendanzagaeski commented on #3063
Thanks for the report! This issue is under investigation on Developer Community in <https://developercommunity.visualstudio.com/content/problem/536987/crash-when-trying-to-archive-an-android-applicatio.html>. I would recommend to vote on that issue to help the team with extra data about the affected users, and I would also recommend to follow it to be notified about additional updates and the reso

[2019-05-08 03:37] brendanzagaeski commented on #3063
Thanks for the report! This issue is under investigation on Visual Studio Developer Community in:

  * <https://developercommunity.visualstudio.com/content/problem/536987/crash-when-trying-to-archive-an-android-applicatio.html> for Visual Studio 2109 version 16.1 Preview.
  * <https://developercommunity.visualstudio.com/content/problem/556205/failed-to-create-app-archive-an-item-with-same-key.html

[2019-05-08 10:43] softlion commented on #3063
The 1st link is my report too lol ;) But i prefer github as email notifications are working.

[2019-05-08 11:30] MihaMarkic commented on #3057
@anuragbharti-igs I think it might be xamarin GC unaware of java GC. Try calling GC.Collect() between navigations and see if it still crashes.

[2019-05-08 11:37] MihaMarkic opened #3079 "Android Emulator crashes Windows"
I'm not exactly sure whether this belongs here, but here I go. Also, I'm not alone.
If this isn't the correct place, please suggest where can I report it.

### Steps to Reproduce

1. Normal use of Android Emulator under Hyper-V

### Expected Behavior

No BSOD

### Actual Behavior

Occasionally the emulator will cause BSOD. Getting SYNTHETIC_WATCHDOG_TIMEOUT (1ca) BSOD code.

### Version Informatio

[2019-05-08 15:13] pjcollins opened #3081 "Debug Shared Runtime deployment attempts are crashing on startup"
### Steps to Reproduce

1. Create a new or load an existing project and deploy to device in Debug mode.

### Actual Behavior
[code]
### Version Information
XA 9.4.0.4 (HEAD/cc0e8b8d5)

### Log File
[code]

[2019-05-08 15:35] dpankow2 commented on #3063
Adding \ and rebuilding solution solve the problem, thanks

[2019-05-08 15:36] dpankow2 commented on #3063
Adding \ and rebuilding solution solve the problem, thanks

[2019-05-08 16:07] anuragbharti-igs commented on #3057
@MihaMarkic Thanks for the suggestion. I tried calling GC.Collect() between navigations but the app still crashes due to out of memory. It just delays the crash but doesn't solve the issue.

[2019-05-08 16:28] pjcollins opened #3083 "Apk per ABI fails with TargetFrameworkVersion v7.1 and lower when Aapt2 is enabled"
### Steps to Reproduce

1. ``` msbuild /t:SignAndroidPackage *.csproj /p:Configuration=Release /p:TargetFrameworkVersion=v7.1 /p:AndroidCreatePackagePerAbi=True /p:AndroidUseAapt2=True```

This could be considered a regression in d16-2 as `Aapt2` resource processing is now enabled by default.

### Actual Behavior
I've noticied a difference in `Aapt2Link` task behavior when comparing good and bad b

[2019-05-08 16:51] softlion commented on #3063
It's not a / its a \ !!

[2019-05-08 16:51] softlion commented on #3063
It's not a /, it's a \ !!

[2019-05-08 16:52] softlion commented on #3063
Comments are appearing in wrong order now ? Wtf...

[2019-05-08 17:47] Tristan-gu commented on #3063
Adding a '\' is not better for me...
On VS 2019 preview 3

[2019-05-08 20:22] brendanzagaeski commented on #2966
Yes, I'm talking about the problem where you are seeing `Didn't find class "android.widget.View"` with AOT enabled. That said, no worries if you are going to leave AOT disabled for now and if you do not have time to gather additional information right now. Thanks!

[2019-05-08 22:06] pjcollins commented on #3076
I think you may be able to achieve this with the following snippet, though I haven't tested it:
[code]
Or perhaps try to use the `android:accessibilityTraversalBefore` property in your layout file?

[2019-05-09 07:27] elacca commented on #2013
We are having the same issue when sending parallel async http calls:

05-06 12:40:24.845 W/zygote  (11296): JNI WARNING: DeleteGlobalRef(0x5fe2) failed to find entry
05-06 12:40:24.845 E/zygote  (11296): JNI ERROR (app bug): accessed deleted Global 0x5fe2
05-06 12:40:24.929 F/zygote  (11296): java_vm_ext.cc:504] JNI DETECTED ERROR IN APPLICATION: use of deleted global reference 0x5fe2
05-06 12:40:

[2019-05-09 07:28] MihaMarkic commented on #3057
@anuragbharti-igs
So I added this to HomeActivity

[code]

and this to MainActivity

[code]

I left it to run for like 10 minutes and no out of memory exception on sight. How many forth and back cycles does it take for you to crash the app? Emulator? Real device?

[2019-05-09 07:48] shillam commented on #2955
@darkdoctor we have also had this issue using Dotfuscator and Xamarin. We have an abstract class with 2 generic types with constraints that seems to cause the issue, defined as below:

[code]

We get the same linker error, but as a workaround we have just added a dotfuscator renaming exclusion for the namespace that contains this abstract class and any inheritors to fix it.

@radekdoulik @jonathan

[2019-05-09 08:42] grendello commented on #3079
Hi @MihaMarkic,

It's not a Xamarin.Android issue so we can't fix it for you, but we will route the problem to the team which can take a look at it and update this issue with information once we have it available.

[2019-05-09 08:47] Tristan-gu commented on #3072
Hi,

Thank you for your answer.
I found some things after multiple tests on VS 2019 Prev 3.

First, I have reseted my whole release configuration, and deleted bin-obj folder in my xamarin project.
Next to that, I tried to compile with the default linking mode 'Sdk Assemblies Only', and I had this error:
[code]

I was using EF Core preview dependancies :
- Microsoft.EntityFrameworkCore (>= 3.0.0-pr

[2019-05-09 09:15] kkarakk commented on #3063
This was the fix for me as well, adding a trailing backslash to the path

it was `C:\Users\SRI38\AppData\Local\Xamarin\Mono for Android\Archives `
and i just modded it to ` C:\Users\SRI38\AppData\Local\Xamarin\Mono for Android\Archives\ `for it to work and archive successfully

[2019-05-09 10:24] grendello commented on #3078
Hi @shivagurunathan,

So I see two main problems here:

  1. Why a Xamarin.Android library references dotnet assemblies when built? This **may** be an msbuild problem on the machine with both Xamarin.Android and DotNet installed /cc @radical
  2. The crash you're seeing is partly because of the above (because of the inadvertent reference to `String.Split (char, StringSplitOptions)`) because your X

[2019-05-09 15:17] sanchobear opened #3089 "SmtpClient.Send System.Net.Mail.SmtpException: Message could not be sent"
### Description
Sending email from Android Emulator using SmtpClient fails with System.Net.Mail.SmtpException Connection refused.
Using identical code in ConsoleApp succeeds.

### Steps to Reproduce

1. VS2019(16.0.3)
2. Xamarin.Forms(3.6.0.344457)
3. Android Emulator Android_Accelerated_x86_Oreo API 27
4. Replace gmail account data and password with valid data
[code]
### Expected Behavior
Email r

[2019-05-09 15:48] grendello commented on #3078
The referenced library (from the sample) references Xamarn.Android's mscorelib:

[code]

[2019-05-09 17:45] BladeMF commented on #1760
Having the same problem too.

[2019-05-09 18:35] #3081 closed

[2019-05-09 18:44] softlion commented on #3078
You can+must not reference .NET core libs in Xamarin.Android apps. Only netstandard libs are supported. This seems obvious but...

[2019-05-09 23:19] jonpryor opened #3086 "macOS: build and package android-api-docs"
The Android API docs have been open-sourced!

  * https://devblogs.microsoft.com/xamarin/xamarin-api-docs-open-source-available-now/
  * https://github.com/xamarin/android-api-docs

Instead of building these in the monodroid repo for inclusion in the macOS `.pkg` installer, we can now move that into the OSS xamarin-android repo.

[2019-05-10 05:46] artcyb opened #3088 "make your android app"
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Version Information

### Log File

[2019-05-10 07:00] john-dalsgaard commented on #1807
I have updated to VS 2019 for Mac (and everything "underneath" including Xamarin.Android 9.0).

I have a Xamarin Forms project that uses Couchbase Lite to connect to a database. The Android project fails with a message similar to the above - and the Couchbase team have looked at it and points at Xamarin for Android.

[code]

[2019-05-10 07:01] john-dalsgaard commented on #1807
[code]

[2019-05-10 08:22] zoli13 commented on #2993
I have a Xamarin.Forms(3.6.0.220655) app, for both Android + iOS.
**I can confirm,** I have issue with VS2019(16.0.2) + AOT(true) / LLVM(false -> this again a bug in Xamarin, set true makes app crash) + Release mode on Android 4.4 Device, when using HttpClient.
I don't have a callstack now, but it's about xamarin/android/net/OldAndroidSSLSocketFactory

[2019-05-10 11:00] lukepothier commented on #3063
@softlion's solution worked for me ultimately, but I had to do a couple of extra steps (I suspect because my `%AppData%\..\Local\Xamarin\Mono for Android\Archives` directory was empty):

1. Create a file in `%AppData%\..\Local\Xamarin\Mono for Android\Archives`
2. Apply @softlion's solution
3. Clean
4. Delete `bin` and `obj`
5. Rebuild
6. Archive

Before I did the other steps the Tools > Options >

[2019-05-10 11:29] TFreudi1 commented on #3063
In my case nothing of that helps
![xamarin_error](https://user-images.githubusercontent.com/4739177/57524276-a32c0280-7327-11e9-9c5b-e21a6d7d0506.png)

[2019-05-10 12:16] elacca commented on #2013
I had the same issue. At my case the problem was coming from the SecureStorage, which I was accessing async to get a Token from it, before each HTTP request. After eliminating this part, the parallel HTTP calls are working flawlessly.

[2019-05-11 07:45] kkarakk commented on #3063
@TFreudi1 are you running VS as administrator?

[2019-05-11 08:18] TFreudi1 commented on #3063
No, I will give it a try …..

Von: Karan Harsh Wardhan [mailto:notifications@github.com]
Gesendet: Samstag, 11. Mai 2019 09:46
An: xamarin/xamarin-android <xamarin-android@noreply.github.com>
Cc: TFreudi1 <TFreudi1@gmx.de>; Mention <mention@noreply.github.com>
Betreff: Re: [xamarin/xamarin-android] Archiving failed: An item with the same key has already been added (#3063)

@TFreudi1 <https://githu

[2019-05-11 08:23] Evige commented on #3063
The backlash helped me. It was archiving for ages :D. But manually opening manifest and changing the version numbers to something and back which they needed to be helped me also. Manifest did not even notice it was changed, but the archieve process worked after that

Lähetetty iPhonesta

[2019-05-11 09:00] TFreudi1 commented on #3063
Running as Administrator also did’nt help. And raising Versionnumber + Versionname also did’nt help.

Is there any German user whom adding the backslash helped ? I’m a bit afraid that also the language plays a role.

Von: Evige [mailto:notifications@github.com]
Gesendet: Samstag, 11. Mai 2019 10:24
An: xamarin/xamarin-android <xamarin-android@noreply.github.com>
Cc: TFreudi1 <TFreudi1@gmx.de>; Men

[2019-05-12 07:02] nitinjs commented on #3063
for me the archives folder was not present so I manually created it
`C:\Users\Lucy\AppData\Local\Xamarin\Mono for Android\Archive`

[2019-05-13 07:45] michalsznajder opened #3091 "Shared runtime redeployed on overy run"
When I run my application in Debug shared runtime is constantly deployed to my target device. Application is actually Xamarin.Forms but I think it does not matter here.

I did run msbuild in verbose mode and below is interesting part. It look like build process is not able to veryfiy that shared runtime is installed and redeploys shared runtime every time.

I use Huavei P20 Pro with Oreo on board.

[2019-05-13 11:24] anuragbharti-igs commented on #3057
@MihaMarkic I am running it on a real device.
My app has a Home Screen with few cells elements in GridView in a home screen.
On click of any cell, next screen appears which has a  map fragment and google places fragment and a RecyclerView at the bottom. The map fragment has 4-5 markers on it. On click of any cell in the RecyclerView, the app navigates to the next screen which also has a map fragme

[2019-05-14 09:39] rafaelcsantos92 commented on #2673
/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2873,3): error XA5101: C compiler for target Arm was not found. Tried paths: "/Users/UserName/Library/Developer/Xamarin/android-sdk-macosx/ndk-bundle/toolchains/arm-linux-androideabi-4.9/prebuilt/darwin-x86_64/bin/arm-linux-androideabi-gcc; /Users/UserName/Library/Developer/Xamarin/android-sdk-macosx/

[2019-05-14 09:55] rafaelcsantos92 opened #3092 "VS For Mac 2019 - An error occurred when executing task 'Release-Android'."
/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2873,3): error XA5101: C compiler for target Arm was not found. Tried paths: "/Users/UserName/Library/Developer/Xamarin/android-sdk-macosx/ndk-bundle/toolchains/arm-linux-androideabi-4.9/prebuilt/darwin-x86_64/bin/arm-linux-androideabi-gcc; /Users/UserName/Library/Developer/Xamarin/android-sdk-macosx/

[2019-05-14 14:41] ashokkumar96 opened #3093 "EditText text is not aligned to the center properly while changing the layout of the View."
### Steps to Reproduce

1. Run the attached sample.
2. Click the "Change Layout " button.
3. Text is not aligned to the center of the layout.

### Expected Behavior
Text should be aligned to center of the View, as the layout changes.

### Actual Behavior
Text is not aligned to center of the View, as the layout changes.

### Version Information
MicroSoft visual studio Version 15.9.4
Xamarin Android

[2019-05-14 18:49] brendanzagaeski commented on #3063
Update from the team on <https://developercommunity.visualstudio.com/content/problem/556205/failed-to-create-app-archive-an-item-with-same-key.html>:

* * *

Now that GitHub offers an option to customize notifications for Issues to notify specifically when Issues are closed or reopened, I'll also reopen this GitHub issue and re-close it once the corresponding Developer Community item status is upd

[2019-05-14 19:28] brendanzagaeski commented on #2673
In case any other users come across this issue first when searching for it, the error about "C compiler for target Arm was not found" is related to the Android NDK version. I've posted some additional information about that on the corresponding Stack Overflow question: <https://stackoverflow.com/questions/56129342/vs-for-mac-error-generating-android-build-ndk>.

[2019-05-14 19:29] deakjahn commented on #2955
Same here, of course. How can I decide what to put into the Dotfuscator config?

[2019-05-14 22:20] brendanzagaeski commented on #3092
(Cross-reference to Stack Overflow question that has additional details from the reporter: <https://stackoverflow.com/questions/56129342/vs-for-mac-error-generating-android-build-ndk/56136606>)

There are two potential ways to resolve this issue:

* You can switch the Android NDK version to r17 or lower. One way to do that is to un-check **NDK** from the Android SDK manager to uninstall version r1

[2019-05-14 22:20] #3092 closed

[2019-05-14 22:53] jonpryor opened #3095 "Jenkins master build shouldn't upload `bundle-*.zip` unless it is "new""
Currently the Jenkins/master build *always* uploads a `bundle-*.zip`, even if it hasn't "really" changed.  What happens is:

 1. The existing `bundle-*.zip` is downloaded into `$HOME/android-archives`
 2. The file from (1) is extracted into e.g. `bin/Debug`
 3. Later, `bin/BuildDebug/bundle-*.zip` is created, using the contents from (2).
 4. (3) is uploaded and becomes the "new" `bundle-*.zip`

Th

[2019-05-14 23:43] ryansama commented on #3063
The above worked for me!

[2019-05-15 07:21] shillam commented on #2955
Trial and error unfortunately, this is why printing the stack name in the exception would be a massive help!

This particular error is caused by generics (assuming you have the same stack trace where the exception is thrown within GetHelperType method) so best to add a renaming exclusion in your dotfuscator config file for all generic classes and any that inherit from them if applicable. Then just

[2019-05-15 09:24] deakjahn commented on #2955
What type is it? The comments above seem to imply that it isn't your own type but some Java helper class of the system.

[2019-05-15 11:43] deakjahn commented on #2955
OK, I went for a binary search, half of the namespaces, then quarter, and later half of the types, then quarter, etc. I don't know if what I found was general enough but if it might help others, it was in the Android project, not the common one. Ad yes, a generic, a seemingly very arbitrary one, no idea why it didn't like it.

[2019-05-15 15:28] JonDouglas commented on #3088
We are closing this issue for now as there is no information pertaining to what the issue is, nor how we can reproduce it.

Please feel free to file a new issue with the following information in mind:

https://github.com/xamarin/xamarin-android/wiki/Submitting-Bugs,-Feature-Requests,-and-Pull-Requests#bug-reports

[2019-05-15 15:28] #3088 closed

[2019-05-15 15:32] JonDouglas commented on #3079
The best place to report this issue is directly through the Android Emulator. Here are some instructions on how to do that:

https://developer.android.com/studio/report-bugs#emulator-bugs

If you suspect it's an issue with Windows / Windows Hypervisor Framework or similar, use the Windows feedback tool in Windows, or report it using VIsual Studio's `Report a Problem` feature! Thus I am closing thi

[2019-05-15 15:32] #3079 closed

[2019-05-15 15:46] MihaMarkic commented on #3079
Thanks for the info

[2019-05-15 16:39] bksingapore90 opened #3096 "Xamarin Android 9.4.99.22 couldn't load 64-bit libjnigraphics.so library"
### Steps to Reproduce

1. Install Xamarin Android 9.4.99.22  here on mac os : https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android/519/Azure/)
2. Make android app bundle format (*.aab)
3. use  .aab file to install on 64-bit supported device.

p/s : I'm trying alpha version Xamarin Android 9.4.99.22 to use Android App Bundle . Maybe above issue is a problem in alpha version bu

[2019-05-15 21:58] skarllot commented on #2059
@lambdageek is it fixed?

[2019-05-16 04:19] shivagurunathan commented on #3078
Thanks for the reply and confirming that it is an issue regarding mismatching of the versions. So can you please let me know when would the fix will be included.

[2019-05-16 13:32] vpatelalk opened #3097 "Xamarin - Naming Parameters With Javadoc - ArrayList/List (Collection Parameter) are not retrieving parameter name"
### Steps to Reproduce

1.  Create jar files which should contain a function which is accepting the   (ArrayList or List) parameter
2.  Create the Javadocs from the same source codebase which use to create a jar
3.  Create a Xamarin binding project and use the above jar and javadocs

### Expected Behavior
Created a binding dll retrieves all parameter name from the Javadocs however any function whi

[2019-05-16 14:45] rihadavid opened #3098 "Can't build app with DirectBootAware on VS 2019"
### Steps to Reproduce

1. Add `DirectBootAware = true` to activity declaration
2. Build the project
3. It fails with:
[code]

### Version Information

Microsoft Visual Studio Community 2019
Version 16.0.4
VisualStudio.16.Release/16.0.4+28803.452
Microsoft .NET Framework
Version 4.7.03190

Installed Version: Community

Azure App Service Tools v3.0.0   16.0.12313.64372
Azure App Service Tools v3.0.

[2019-05-17 03:15] jdluzen commented on #2939
I wanted to try out R8/D8 as well. D8 seems to be working on the default Shell app. But R8 fails at runtime with `Error inflating class android.support.v7.widget.ContentFrameLayout ... Can't instantiate abstract class android.support.v7.widget.ContentFrameLayout.` This seems to be related to what you're already looking in to.

[2019-05-17 09:05] LucaZiegler commented on #3063
Yes the solution was to manually change the versionName in the android manifest

[2019-05-17 11:19] stefano-v opened #3100 "Garbage data when marshalling an array"
### Steps to Reproduce

1. Create a STRUCT that contains a float[] field: (or a int[] field)
[code]
2. Marshal the structure to a pointer and print the raw data:
[code]
3. The raw data sould be all zero, but it contains garbage data.

This is a demo.
[FloatMarshalFails.zip](https://github.com/xamarin/xamarin-android/files/3191218/FloatMarshalFails.zip)

### Expected Behavior

The byte[] array of t

[2019-05-17 13:10] stefano-v opened #3101 "Marshal.StructureToPtr freeze with STRUCTs containing float[] arrays"
### Steps to Reproduce

1. Create a STRUCT with this particulare shape:
[code]
2. Try to marshal the STRUCT
[code]

[MarshalStruct2ptrFreeze.zip](https://github.com/xamarin/xamarin-android/files/3191602/MarshalStruct2ptrFreeze.zip)

### Expected Behavior

Marshal.StructureToPtr<RECORD>(rec, ptr, true); sould not freeze

### Actual Behavior

Marshal.StructureToPtr<RECORD>(rec, ptr, true); never exi

[2019-05-17 15:15] KthProg commented on #3063
Getting this issue in VS preview 2019. Changing the version code did not work. Adding the back-slash to the path did appear to work (still archiving so I'm not 100% sure).

[2019-05-17 15:23] simon-wainy commented on #3063
Also having this issue.
Changing the path to include the backslash did not work, nor did deleting the bin and obj folders.
What did work for me was to edit the AndroidManifest.xml *directly* and change both the versionName and versionCode. I usually just change them in the properties dialog but that is not working at the moment.

[2019-05-17 16:06] TFreudi1 commented on #3063
Same for me, only changing manually Manifest is working, but beacause I don’t  wanna change these I archive with vs2017 without any problems.

Von: SimonW [mailto:notifications@github.com]
Gesendet: Freitag, 17. Mai 2019 17:23
An: xamarin/xamarin-android <xamarin-android@noreply.github.com>
Cc: TFreudi1 <TFreudi1@gmx.de>; Mention <mention@noreply.github.com>
Betreff: Re: [xamarin/xamarin-android]

[2019-05-18 18:46] jonathanpeppers commented on #2939
@jdluzen your issue is just some general rules needed for a Xamarin.Forms app. You would have the same problem using proguard:

Can you add a `proguard.cfg` file that looks like this? https://github.com/xamarin/Xamarin.Forms/blob/master/.nuspec/proguard.cfg

[2019-05-18 19:22] jonathanpeppers commented on #3057
@anuragbharti-igs in addition to @MihaMarkic's suggestion of adding some `GC.Collect()` calls, you can add some cleanup in each activity in `OnDestroy()`. I would try calling `Dispose()` on any of the google maps objects--to see if that helps.

I looked at your project and I don't see anything out of the ordinary (it works for me as well).

It might be your device is older than mine? I have a Pixe

[2019-05-19 09:54] yinyue200 commented on #1842
same issue on VS 16.0.4

[2019-05-20 08:34] grendello commented on #3078
@shivagurunathan There's no fix we can implement here. The only solution to the problem is to ensure that both sides of your build system use a version of `Xamarin.Android` which has the `String.Split` overload in question present.

[2019-05-20 08:34] #3078 closed

[2019-05-20 09:48] grendello commented on #3100
Hello @stefano-v! This is not a bug - [Marshal.AllocHGlobal](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.allochglobal?view=netframework-4.8) is documented **not** to zero the allocated memory, therefore the behavior is expected.

[2019-05-20 09:48] #3100 closed

[2019-05-20 10:06] grendello commented on #3101
I wasn't able to reproduce this issue with neither Xamarin.Android from the master branch nor the latest 9.3 preview release (https://docs.microsoft.com/en-us/xamarin/android/release-notes/9/9.3). If you can, please upgrade to the latest 9.3 and see if you are able to reproduce the issue there. Should the problem persist, please reopen this issue. Thanks!

[2019-05-20 10:06] #3101 closed

[2019-05-20 10:06] stefano-v commented on #3100
Hi, yes it's true. Garbage data is left in the area memory and is not cleared. Fine.
In my opinion the bug is in the `Marshal.StructureToPtr<RECORD>(rec, ptr, true);` line, where the memory SHOULD be overwritten with the marshaled data.
This doesn't happens for array fields (float[]/int[]/etc...). In the Windows platflorm the area is completely overwritten, even if the arrays are not initialized,

[2019-05-20 10:07] Willempipi commented on #3063
Thank you very much, this was driving me crazy.

[2019-05-20 10:19] stefano-v commented on #3101
Hi, did you tried in Release mode on a real device?

[2019-05-20 10:22] dellis1972 commented on #3091
@michalsznajder looks like a permissions issue

[code]

do either of those files exist on the device?

[2019-05-20 13:21] grendello commented on #3093
Hi @ashokkumar96! Looking at the code, there's nothing specific to Xamarin.Android that would cause the behavior. This is all Android. Having said that, adding the following line to `Button_Click` before the call to `textview.Layout` makes the sample work:

[code]

[2019-05-20 13:21] #3093 closed

[2019-05-21 05:10] zijianhuang commented on #2727
Hopefully this will be released before August 2019 since Google had demanded all apps to support 64 bit natively before August.

[2019-05-21 08:33] softlion opened #3106 "vs windows crash when updating a xml layout file (drawable)"
### Steps to Reproduce

1. Open an android project in VS2019 16.1.0 preview 3
2. Edit a text drawable

[code]
### Expected Behavior

No crash

### Actual Behavior

A pause in typing then a yellow bar appear "an error caused by an extension..."

### Version Information

[version.txt](https://github.com/xamarin/xamarin-android/files/3201510/Nouveau.document.texte.2.txt)

[2019-05-21 11:33] narsi424 commented on #3063
Resolution to the above issue
1. Open VS2019 in administrator mode
2. Go to VS2019 Tools > Options > Xamarin > Archives Location
3.  Just add a \ at the end.
Note: The above settings need to be applied for every new solution. Otherwise, the same issue persists during archiving.

[2019-05-21 17:21] dotMorten commented on #1461
I'm hitting this too now

[2019-05-21 17:39] jonathanpeppers commented on #3096
Hi @bksingapore90,

Do you know where this native library is coming from? How is it added to your project?
[code]
Is it coming from a NuGet package or an `AndroidNativeLibrary` in your project?

In the meantime, I'll try to repro this myself. I can probably use any sample with a native library: sqlite or something.

[2019-05-21 19:50] radekdoulik opened #3109 "CIL strip for profiled AOT"
Find out whether it would make sense to add possibility to strip CIL from assemblies for methods contained in the profile. So that would be pretty much Profiled Hybrid AOT.

It would reduce the apk size.

Not sure how much is Hybrid AOT used now though, as it is not available in IDE (IIRC).

[2019-05-21 19:51] radekdoulik commented on #2970
Related to this is updated default profile: https://github.com/xamarin/xamarin-android/pull/3107

[2019-05-21 20:38] jonathanpeppers commented on #3096
SQLite-Net seemed to work fine: https://github.com/xamarin/xamarin-android/compare/master...jonathanpeppers:bundletool-nativelibraries

It looks like your stacktrace started with SkiaSharp:
[code]
I'll try a SkiaSharp sample next.

[2019-05-21 22:11] jonathanpeppers commented on #3096
Ok, I can reproduce the problem with this sample: https://github.com/mono/SkiaSharp/tree/master/samples/Basic/Android/SkiaSharpSample (I just changed it to use the NuGet instead of building SkiaSharp from source).

@bksingapore90 it seems like I can see the problem with APKs, too? Seems like it isn't anything to do with app bundles, it's just happening with latest xamarin-android/master?

[2019-05-22 01:21] brendanzagaeski commented on #3090
/cc @grendello for a quick first look when you get a chance. Perhaps it will need to be forwarded once more to Mono for further investigation?

In case it's helpful, I was able to see files for the test case mentioned a few comments ago if I left out the username from the URL: <https://dev.azure.com/davidbuckleyweb/DeliveryGo/_git/DeliveryGo>. The Android application project has `$(AndroidHttpClie

[2019-05-22 02:50] brendanzagaeski commented on #3089
Thanks for the report! The current implementation of `SmtpClient` in the Xamarin.Android profile of Mono is considered obsolete:

[code]

(<https://github.com/mono/mono/blob/2018-08-rc/mcs/class/System/System.Net.Mail/SmtpClient.cs#L62>)

So in general the recommendation if encountering issues with the current of `SmtpClient` would be to move to [MailKit](https://dotnetfoundation.org/projects?sear

[2019-05-22 02:50] #3089 closed

[2019-05-22 03:14] thudugala opened #3136 "Android: Cannot run Xamarin.Forms Android Linking 'SDK Assemblies Only' in Debug mode."
### Description

Cannot run Xamarin.Forms Android app when Linking is set to 'SDK Assemblies Only' in Debug mode.

### Steps to Reproduce

1.  Run the attached Solution.

### Expected Behavior

Run the app without any issue.

### Actual Behavior

Error is thrown.

Unhandled Exception:
Android.Views.InflateException: Binary XML file line # 23: Binary XML file line # 23: Error inflating class androi

[2019-05-22 03:35] brendanzagaeski commented on #3106
/cc @garuma for a quick first look when you get a chance. I searched a little bit for previous matching reports and didn't find anything right away, so I suspect this might require some slightly special circumstances to reproduce.

@softlion, as one little question in case it might come in handy as the team looks into this issue, for "text drawable," is that a `TextView` element? If it's easy to s

[2019-05-22 03:40] bksingapore90 commented on #3096
yes, in my case .  it happens with Skiasharp as well.
but simply , you can reproduce with this code in Xamarin.Android project
[code]

 @jonathanpeppers  yes, in furthermore  investigation , I see the problem is not in app bundle. It is the problem with  latest xamarin-android/master itself.
When you run debug with above code, the problem still happen

[2019-05-22 05:38] mfeingol commented on #2939
@jonathanpeppers: curious if you ever made progress on this issue. I'm downloading 16.1.0 right now and will be giving the updated r8/d8 a spin again soon.

[2019-05-22 07:06] grendello commented on #3090
It's very unlikely this is a Xamarin.Android issue as we do not have any specific code that  deals with creation and setting up of network connections (except for `AndroidClientHandler`, but it is also merely forking out to Java for all the networking needs) and it *might* not be a Mono issue either. From reading the comments and a quick look at the code, my guess is that it's a matter of DNS look

[2019-05-22 12:06] ea-orbital8 commented on #2993
I experienced the same error for a release mode project with linker and proguard enabled built using VS2019 v16.1.0 (and earlier VS2019 releases). I was able to resolve by adding the following to my linker.xml file.

[code]

I also found I had to add the following to my proguard.cfg, although I am not entirely sure all these changes were needed
[code]

[2019-05-22 13:18] jonathanpeppers commented on #2939
16.1 has some general d8/r8 fixes, but I'm not sure it will solve this issue.

I think you could try adding the rule:
[code]

This issue is still on my list to look into further at some point.

[2019-05-22 13:56] jonathanpeppers commented on #3096
This is odd, I can add this test to `Mono.Android-Tests.csproj` and it works:
[code]
But if I add the code to a new project, I'm seeing the crash: [BitmapTest.zip](https://github.com/xamarin/xamarin-android/files/3207689/BitmapTest.zip)

[2019-05-22 13:59] aherrick commented on #3007
FYI this still isn't fixed. VS 2019 16.1.0

[2019-05-22 14:16] zoli13 commented on #2993
I tried, added XML data to my LinkDescription file, and also extended my proguard-android.txt with those 3 lines.

**Still not working on my Nexus7 4.4, but at least now I have different error messages, like:**
_Couldn't bind to method 'GetGetDefaultCipherSuitesHandler'_
and
_Native method not found: xamarin,android.net.OldAndroidSSLSocketFactory.n_createSocket:(Ljava/net/Socket;Ljava/lang/String;

[2019-05-22 14:27] EP01 commented on #2920
@brendanzagaeski It looks like this problem (or a very similar one) has re-occurred with VS 16.1.0 (Xamarin.Android 9.3.0.22). Was this fix merged up to 9.3?

[2019-05-22 14:33] darkblackcorner opened #3112 ""Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)" native fault during C# exception handling on ARM64 devices"
### Steps to Reproduce
1. Debug app on device
2. App deploys
3. App tries to launch but crashes immediately

### Expected Behavior
No crash

### Actual Behavior
App crashes immediately when trying to debug on target device.

### Version Information

[code]

### Log File

[code]

VS bug [#897846](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/897846)

[2019-05-22 14:35] darkblackcorner commented on #3112
This looks like it could be a regression of https://github.com/xamarin/xamarin-android/issues/2920?

[2019-05-22 14:58] dellis1972 commented on #3007
@aherrick the fix was cherry-picked to the 16.2 branch , it should be in Preview 2. I don't think we can back port this to 16.1 . Note the work around for 16.1 is to add

[code]

to your csproj `PropertyGroup`

[2019-05-22 16:44] jonathanpeppers opened #3113 "[DllImport] for 64-bit library fails"
### Steps to Reproduce

Related to #3096

1. Use this project: [BitmapTest.zip](https://github.com/xamarin/xamarin-android/files/3208327/BitmapTest.zip)

It uses:
[code]

2. Build & run the app on a 64-bit device (I used a Pixel 3 XL). A x86_64 emulator may also reproduce the problem, but I did not try it.
3. The app crashes on start with:

[code]
_I'm not seeing it look for `'/system/lib64/libc.s

[2019-05-22 16:51] lambdageek commented on #3113
I think this is https://github.com/mono/mono/pull/13281#issuecomment-485447696

We need to forward port that work to 2019-02 and to Mono master (which had a bit of refactoring in the native loader).  @alexischr could you take a look.

[2019-05-22 19:29] brendanzagaeski commented on #3112
Thanks for the report! As a next step, if you get a chance, if you can repeat the app crash once more and collect the `adb logcat -d` output, that would be excellent:

1. Open **Tools > Android > Android Adb Command Prompt**.
2. Run the following command to clear the log on the device:

[code]

3. Repeat the app crash once more.
4. Run the following command to collect the log from the device:

[co

[2019-05-22 19:38] brendanzagaeski commented on #2920
@EP01 , yes the fix for this particular issue is present in the Xamarin.Android 9.3.0.22 as shipped in Visual Studio 2019 version 16.1. (I also did a quick double-check of one of the test cases with that version just now to make sure it still debugged successfully, and it worked correctly.)

That said, I have an initial suspicion that the scope of <https://github.com/mono/mono/issues/14170> (liste

[2019-05-23 02:08] ooikengsiang commented on #2993
I'm current workaround is to use VS2017 to generate the package until all issue resolved.

[2019-05-23 05:05] ea-orbital8 commented on #2993
@zoli13 I also had to obliterate my bin an obj folders between each build to test this when working on my proguard and linker configs. I think I got the `Couldn't bind to method 'GetGetDefaultCipherSuitesHandler'` error message when I was missing `-keep class mono.javax.** { *; <init>(...); }` in the proguard.cfg.

[2019-05-23 07:48] softlion commented on #2993
On my side, when selecting the Android HttpClient, no http call are ever made. I am forced to use the .net http client. It was working back in VS2017.

[2019-05-23 07:50] softlion commented on #3106
Yes i can share it. It's so simple. But i don't know if it's caused by something else. It was one of these ones:

[shape_roundcorner_buttonplain.xml.txt](https://github.com/xamarin/xamarin-android/files/3210868/shape_roundcorner_buttonplain.xml.txt)
[shape_roundcorner_button_checked.xml.txt](https://github.com/xamarin/xamarin-android/files/3210872/shape_roundcorner_button_checked.xml.txt)
[shape_r

[2019-05-23 08:58] darkblackcorner commented on #3112
It didn't crash immediately this time, but didn't take long.
I also tried with an empty project, but unable to reproduce that way.
[adblogcat.txt](https://github.com/xamarin/xamarin-android/files/3211169/adblogcat.txt)

[2019-05-23 10:25] raviventium commented on #2993
This worked for me as well.
Since i do not use pro-guard  only the linker file was needed.

[2019-05-23 10:32] jges42 commented on #2693
Just updated to VS 2019 16.1
Still get the "Compilation can't be completed because some library classes are missing." when d8 ist enabled.

[2019-05-23 10:35] rgroenewoudt commented on #1483
Still reproducible with VS 2019.1 and EFCore 2.2.4

[2019-05-23 11:34] EP01 commented on #3112
Hi @brendanzagaeski, thanks for looking at this.

@darkblackcorner and I are actually working on the same project. I have done some additional testing on this issue and found that the issue only occurs on one of my devices (a Panasonic FZ-N1 MK2 - API Level 27). It happens regardless if the app is launched with the debugger or not. I have a feeling that this issue is specific to the `arm64-v8a` ar

[2019-05-23 11:44] EP01 commented on #3112
Confirmed the issue is not present on the same device using the `armeabi-v7a` ABI.

[2019-05-23 14:32] tipa commented on #3112
I am having a very similar issue since the last VS19 update when using EntityFrameworkCore.Sqlite in my app. The app crashes with a similar (or same) error as above (`SIGSEGV`). More specifically, creating the database with `Migrate()` caused the crash and I was able to work around it by providing an empty database where EF7 expects it before the `Migrate()` call. However, this didn't solve the pr

[2019-05-23 15:13] akamud commented on #1853
This is now handled natively on ios due to https://github.com/xamarin/xamarin-macios/pull/6103 being merged. Can we open this for discussion again? So we could have native cert pinning in both platforms.

[2019-05-23 15:21] jonathanpeppers commented on #1853
@grendello can correct me, but I think there is already a way to do this with `AndroidClientHandler`?

Looks like Xamarin.iOS added a callback that didn't exist before, but I think you can do an equivalent with Android already?

[2019-05-23 15:22] jonathanpeppers commented on #2693
@jges42 can you open a new issue with a small sample project?

I think the Xamarin.Forms _Contributor_ Gallery is working now on 16.1, but we need to retest before closing this.

[2019-05-23 15:54] tipa commented on #3112
Log & sample project:
[adblogcat.txt](https://github.com/xamarin/xamarin-android/files/3213080/adblogcat.txt)
[App1.zip](https://github.com/xamarin/xamarin-android/files/3213081/App1.zip)

[2019-05-23 18:13] brendanzagaeski commented on #3112
Thanks much for the quick replies, log files, and test case! At first glance, it looks like the suspicion that this has the same root cause as <https://github.com/mono/mono/issues/14170> might be right. The `mono_jit_info_get_method+8` native fault location from that issue is also appearing in the "backtrace" section of these new log files:

[code]

I'll do one more quick confirmation with the tes

[2019-05-23 19:31] brendanzagaeski commented on #3112
Thanks again for the test case! The backtrace with symbols does indeed also match <https://github.com/mono/mono/issues/14170>:

[code]

It looks like certain re-thrown exceptions are sufficient to cause this problem even if they are caught and handled within an external library. In this case, it looks like the exception that's triggering the native fault might be a `Microsoft.Data.Sqlite.SqliteExc

[2019-05-23 20:05] pjcollins opened #3120 "Unable to build Android projects with AOT and LLVM enabled on Windows"
### Steps to Reproduce

1. Attempt to install or package an Android project with AOT and LLVM enabled on Windows:
`msbuild /t:SignAndroidPackage *.csproj /p:Configuration=Release /p:AotAssemblies=true /p:EnableLlvm=true`

### Actual Behavior
AOT compilation does not work - [binlog](https://github.com/xamarin/xamarin-android/files/3213948/bad.zip).

[code]

Using [Dependencies](https://github.com/l

[2019-05-23 20:20] lambdageek commented on #3120
We have a PR that should address this https://github.com/mono/mono/pull/14283.  I need to update it based on feedback and backport to 2019-02.

[2019-05-23 20:24] jonpryor commented on #3120
Probable (in-progress) fix: https://github.com/mono/mono/pull/14283

[2019-05-23 20:35] #2780 closed

[2019-05-23 20:40] tipa commented on #3112
Probably related, also this simple 2-liner crashes in a similar fashion:
[code]

[2019-05-23 20:45] thudugala commented on #3112
https://github.com/xamarin/Xamarin.Forms/issues/6269

[2019-05-24 02:43] brendanzagaeski commented on #3112
Additional notes for the runtime and debugger engineers:

I tested a number of the Xamarin.Android continuous development builds to attempt to narrow down the range of commits involved in this change in behavior. Long story short, the commit that introduced the problem was <https://github.com/xamarin/xamarin-android/commit/06e920c18b71a165eded0a5782f1a285ef20a4bc>, which updated the product build

[2019-05-24 11:10] Iyyappanmani opened #3123 "Thrown an exception while enabling "AndroidUseAapt2" in application."
### Steps to Reproduce

 We have created the sample to reproduce the issue.
In our sample, we have created the one custom control that contains the layout from axml and it has been inflated in our library project.

In our application project, we have only added that custom control into the view and we are facing the below error at the time of enabling the AndroidUseAapt2 in our application.

### E

[2019-05-24 12:10] jonathanpeppers commented on #2939
@mfeingol I think I just figured out what your issue may be, can you turn off multidex and try again?
[code]
_Also, see if you can use VS 2019 16.1 that just hit stable._

I think there is an issue the way we are running r8 when you have all of the options on:
* d8
* multidex
* r8

You shouldn't need multidex anyway, if you have r8 turned on. r8 should make the Java code small enough, where you wo

[2019-05-24 13:15] jonathanpeppers commented on #3096
@bksingapore90 this should be fixed by: https://github.com/xamarin/xamarin-android/pull/3117

Give latest build from master a shot, and let us know. Thanks a lot, you helped us fix this before we shipped!

[2019-05-24 13:15] #3096 closed

[2019-05-24 13:15] jonathanpeppers commented on #3113
Retested, this is fixed by: https://github.com/xamarin/xamarin-android/pull/3117

[2019-05-24 13:15] #3113 closed

[2019-05-24 13:55] tobiasschulz commented on #3112
Is there any workaround? Can I downgrade the VS2019 extension of xamarin android somehow?

[2019-05-24 14:39] gameleon-dev commented on #2993
Adding the proguard rules and linker.xml rules solved the issue for me.

Only the `-keep class xamarin.android.** { *; <init>(...); }` line was needed for the ProGuard file.

[2019-05-24 15:57] mfeingol commented on #2939
I don't believe I was using multidex, but I'll give it another try over the weekend.

[2019-05-24 15:59] jonathanpeppers commented on #2939
The original post at the top has:
[code]
But maybe that changed?

Also if you update to 16.1, you shouldn't need the `AndroidR8ExtraArguments` workaround.

[2019-05-24 16:06] mfeingol commented on #2939
Sorry, you're right, the debug build needs it, but the release build doesn't.

I think I was assuming that if I had r8 running, multidex wouldn't run. But now I'm not sure what was running and what wasn't. :-) I'll get this sorted out over the weekend with 16.1.0 and update with a definitive answer.

[2019-05-24 20:35] brendanzagaeski commented on #3112
No general workaround that covers all the affected scenarios is known at this time.

It is possible to download the *.vsix* installer package for the previous version of the Xamarin.Android SDK from the list on <https://github.com/xamarin/xamarin-android/>, but the Visual Studio Installer aims to prevent potential invalid configurations, so it does not allow installing older versions of a *.vsix*

[2019-05-24 22:42] mapsouza commented on #3112
I'm trying to download the older version, but there´s no Community Edition 16.0 in Dev Essentials Program! Only the version 16.1. :-(

[2019-05-24 23:25] dotMorten opened #3129 "VS axml designed doesn't support comment-out shortcut"
### Steps to Reproduce

1. Open an AXML file
2. Select a piece of XML
3. Use the shortcut "CTRL+E,C" or "CTRL+K,C" to comment out a piece of XML.

The two above shortcuts are common for (un)commenting code, xml etc in the various text editors but is missing from AXML.

### Expected Behavior
The selected text gets commented out like it does in the XAML editor with ``

### Actual Behavior
Nothing ha

[2019-05-25 00:28] brendanzagaeski commented on #3112
Ooh yes, apologies. I should have mentioned that the older Visual Studio 2019 versions are only available for the Professional and higher editions. So Community editions are a scenario where using the manual directory replacement technique could indeed be the best strategy for temporary use of an older Xamarin.Android SDK version.

[2019-05-26 00:48] mfeingol commented on #2939
Revisiting this with 16.1.1 and the following settings for debug builds, things appear to be working:

[code]

I do see the following warnings during build. Are those worth worrying about?

[code]

My proguard.cfg file is the following:

[code]

[2019-05-26 10:33] ivanicin opened #3130 "buildversioncodes has no Pie value"
### Steps to Reproduce

https://docs.microsoft.com/en-us/dotnet/api/android.os.buildversioncodes has no item for Pie.

### Expected Behavior
Developer should be able to run some code only on Pie devices
### Actual Behavior
Developer can't run some code only on Pie devices
### Version Information

Microsoft Visual Studio Community 2019
Version 16.1.1
VisualStudio.16.Release/16.1.1+28922.388
Microso

[2019-05-26 17:01] hasanoruc commented on #2920
same issue for visual studio 16.1.1 and 16.2.0 preview 1 versions.
download the 16.0.3 and not problem. download build tools.
https://docs.microsoft.com/en-us/visualstudio/releases/2019/history

[2019-05-26 21:50] hasanoruc commented on #2920
how can i download visual studio 16.0.3 community version?

[2019-05-26 21:51] hasanoruc commented on #2920
@brendanzagaeski  how can i download visual studio 16.0.3 community version?

[2019-05-27 00:08] Happypig375 commented on #2920
Does Xamarin even test serious bugs like these?

[2019-05-27 14:53] softlion commented on #2693
It is not fixed in 16.1. Embedding the lib as @jonathanpeppers does work.

[2019-05-27 14:55] radekdoulik opened #3131 "Looks like we use wrong Mono.Cecil.dll for our tests"
Looks like some of our tests use Mono.Cecil.dll built by sources from `external/Java.Interop/external/mono` instead of `external/mono/external/cecil`.

@grendello run into a test failures https://jenkins.mono-project.com/job/xamarin-android-pr-pipeline-release/1021/ which are probably result of the https://github.com/mono/cecil/commit/dbd29fa195a52b514f719d558c9a9fb29ab750cb fix missing.

Indeed t

[2019-05-27 14:59] radekdoulik opened #3132 "Try to stop renaming the Mono.Cecil.dll to Xamarin.Android.Cecil.dll"
Let see whether we can get rid of renaming the `Mono.Cecil.dll` to `Xamarin.Android.Cecil.dll`

That would mean we could then use `Mono.Cecil.dll` from mono SDKs and simplify all the copying and renaming of cecil assemblies.

[2019-05-27 15:32] radekdoulik commented on #3131
OK, the older `Mono.Cecil` comes from `external/debugger-libs/Mono.Debugger.Soft`, which is used by `tests/MSBuildDeviceIntegration/MSBuildDeviceIntegration.targets`

So it is not a problem with java-interop's cecil and looks unrelated to previously mention build failures.

[2019-05-27 15:32] #3131 closed

[2019-05-27 19:17] SpiegelSoft commented on #2920
I can confirm that I am getting the same problem for Visual Studio Version 16.1.1.

[2019-05-27 19:25] EmilAlipiev commented on #2566
I think that it doesnt occur with the latest versions of VS. i am closing it first.

[2019-05-27 19:25] #2566 closed

[2019-05-27 21:30] EmilAlipiev commented on #3072
@softlion @brendanzagaeski   is there any reported issue for that? is it known issue? i am not able to use AOT+LLVM together in VS2019 but same project just works fine in VS2017.

[2019-05-27 22:08] brendanzagaeski commented on #2920
I believe the previous version downloads are only available for Professional and higher editions. That said, there is a possible approach to downgrade just the Xamarin.Android SDK by some manual file copying in the Community edition. See <https://github.com/xamarin/xamarin-android/issues/3112#issuecomment-495780758> for additional details.

For other users seeing a similar behavior as this issue (

[2019-05-27 22:20] ivanicin opened #3133 "Resource id is not properly updated on axml change in VS 2019"
### Steps to Reproduce

1. add a control with id in some .axml file and save it
2. add a control with id in some .axml file (or modify previously added id) and save it
3. (optionally rebuild just to be sure that Resources are rebuilt)

### Expected Behavior
The id from the step 2 should be visible in Resourced.Id in VS editor
### Actual Behavior
The id from the step 2 is not visible in Resourced.I

[2019-05-28 13:28] lambdageek commented on #3120
Should be fixed once XA picks up https://github.com/mono/mono/pull/14668

[2019-05-28 13:35] jonathanpeppers commented on #2693
So I think @PureWeen's original issue is fixed in 16.1, I can build and run this project in Debug or Release: https://github.com/xamarin/Xamarin.Forms/tree/d8_contributorgallery/Xamarin.Forms.ContributorGallery.Android

@softlion can you file a new issue with what you are running into?

You will need this in your `AndroidManifest.xml` if your app uses `org.apache.http`:
[code]

[2019-05-28 13:35] #2693 closed

[2019-05-28 14:32] jonathanpeppers commented on #2939
This one is something about the default multi-dex rules in the Android SDK:
```R8 : warning : The rule `-keep public class *extends java.lang.annotation.Annotation {```

r8 seems like it wants `extends` to say `implements`, but we can ignore it.

This one means there were multiple jar files containing:
```R8 : warning : Resource 'META-INF/MANIFEST.MF' already exists.```

We can also ignore this on

[2019-05-28 14:35] tipa commented on #2939
I had the same issue and disabling multidex resolved it for me

[2019-05-28 14:52] jonathanpeppers commented on #3098
@rihadavid thanks for the report, it does look like we didn't add a test for this feature in: https://github.com/xamarin/xamarin-android/commit/7c9dea81e5a4abdbe910e227493be95d89456017

However, if I try:
[code]

But this looks like it is working fine. Is your project doing anything besides `[Activity (DirectBootAware = true]`? Does it happen with a small sample project?

If you could send a [diag

[2019-05-28 15:11] mfeingol commented on #2939
@jonathanpeppers: well, now that you mention it, I'm having a devil of a time getting my release builds to work. They work on x86 in the emulator, but when pushed to my ARM device it crashes on startup.

Would appreciate any advice. I've fiddled with my proguard.cfg, but I haven't come up with the right incantation yet.

Here's what I see in Device Monitor on app launch (heavily filtered):

[code]

[2019-05-28 15:13] tipa commented on #2939
That SIGSEGV error might be caused by this issue: https://github.com/mono/mono/issues/14170

[2019-05-28 15:21] rihadavid commented on #3098
Turns out I forgot to remove [the workaround](https://github.com/xamarin/xamarin-android/issues/2081#issuecomment-453979427) from my csproj. Sorry, closing.

[2019-05-28 15:21] #3098 closed

[2019-05-28 15:33] mfeingol commented on #2939
It's a great thought, but I think those are happening only with a debugger attached? This is a release build with no debugger.

[2019-05-28 15:36] tipa commented on #2939
It's not only related to debugging. You can easily generate such a crash with these lines (on a 64bit device I believe), no matter if a debugger is attached or not:
[code]
That bug was introduced with the Mono version that shipped with VS19 16.1

[2019-05-28 16:00] mfeingol commented on #3112
@brendanzagaeski: do you have a sense of when a fix for this issue might come out? I'm dead in the water right now, and weighing the cost of downgrading to 16.0 vs. waiting.

[2019-05-28 20:37] brendanzagaeski commented on #3112
I'm not too sure yet of the timeline for a release with a fix. Historically, the time between Visual Studio 2017 version 15.x.x updates was [under a month](https://docs.microsoft.com/visualstudio/install/visual-studio-build-numbers-and-release-dates?view=vs-2017), and so far the time between Visual Studio 2019 version 16.0.x updates has been [at most 2 weeks](https://docs.microsoft.com/visualstudi

[2019-05-28 20:54] #3120 closed

[2019-05-28 21:10] jonathanpeppers commented on #3130
It looks like we updated this enum for Pie here: https://github.com/xamarin/xamarin-android/commit/f9a7cfc0da2f51b2c3006550fad2e25fbd23be5a

When I look at v9.0 version of `Mono.Android.dll` from 16.1.1, I see `BuildVersionCodes.P`. Do you need to change your `.csproj` to use `<TargetFrameworkVersion>v9.0</TargetFrameworkVersion>`?

[2019-05-28 21:28] brendanzagaeski commented on #2521
**Windows fix published**: The new Xamarin.Android SDK version 9.3 that now includes both parts of the upstream Mono fix for this issue has been published as part of Visual Studio 2019 version 16.1. [Check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) or install the most recent release from <https://visualstudio.microsoft.com/downloads/>

[2019-05-28 21:57] brendanzagaeski commented on #2966
Thank again for this report! The behavior about the `Didn't find class "android.widget.View"` errors will quite possibly need further investigation to find a resolution, so I will watch out for additional user reports of that issue that the team can pick up to study the issue more.

For now, I will close this particular issue to help tidy up the open issue list and hopefully reduce the chances of

[2019-05-28 21:57] #2966 closed

[2019-05-28 22:00] brendanzagaeski commented on #3072
@EmilAlipiev , softlion was seeing two issues with AOT and LLVM Compilation enabled. One was <https://github.com/xamarin/xamarin-android/issues/2521>, which now has a fix available in Visual Studio 2019 version 16.1. The other issue involves seeing `Didn't find class "android.widget.View"` errors when running the app with AOT and LLVM Compilation enabled. There is a preliminary discussion of that

[2019-05-28 22:40] ivanicin commented on #3130
It seems I missed this in documentation :(. Thanks!

[2019-05-28 22:40] #3130 closed

[2019-05-29 01:37] sgong-pdftron commented on #1639
Any update on this issue? Or workaround?

[2019-05-29 02:11] mfeingol opened #3137 "Android VS Archive Manager feedback"
I wasn't sure where to write this, so please feel free to redirect me to an appropriate location.

I have the following feedback on your Android Archive Manager which, otherwise, is a wonderful tool:

1. When the AndroidCreatePackagePerAbi option is selected, the Google Play distribution wizard will upload the APK for each ABI, and will also attempt to upload the full APK. I don't _think_ the latt

[2019-05-29 04:56] brendanzagaeski commented on #3112
Additional notes for the runtime and debugger engineers (/cc @lambdageek in case it might be useful):

At least for the test cases linked to this issue so far, I am not able to reproduce the problem when using the unpublished development builds of Xamarin.Android SDK version 9.4.0.7 or 9.4.0.17. So it's possible that one or more of the changes between mono/mono/2018-08@3cb36842fc4 and mono/mono/20

[2019-05-29 07:05] brendanzagaeski commented on #3112
Follow-up notes for the runtime and debugger engineers:

Darn. It looks like the reason the current development build of the Xamarin.Android SDK version 9.4.0.7 works is just that the Mono runtime in that version was built with the older Android NDK r14b. So the Mono changes in that version won't offer any clues about a possible fix to backport after all.

What happened is that starting in <https:

[2019-05-29 08:51] ThePizzaguy commented on #2920
I might have some additional info, recently due to Android requiring to go to 64bits as in a few months I ran into a similiar problem.

When the App Architecture is changed from "armeabi-v7a" to "arm64-v8a" it throws me a very simliliar errors.

Additional info:
- VS 2019 16.1.1
- Xamarin Forms v4.0.0.425677
- Microsoft.Azure.Mobile.Client v4.1.1

Code:
[code]

Stack traces:
[code]
[code]

[2019-05-29 17:46] softlion commented on #3072
I fixed it by
- creating a multidex,keep. I just copied the one generated when using "proguard", then switched back to r8 with this file in the project as main dex list.
- referencing org.apache.http.legacy.jar, whatever this has to do with the problem. It's a bug in xamarin tooling which does not use the correct android sdk folder and does not find the jar referenced by the aar in the google play

[2019-05-29 18:22] eman1986 commented on #1918
adding

`<uses-library android:name="org.apache.http.legacy" android:required="false" />`

to AndroidManfest.xml is the only thing that gets rid of that message for me.

[2019-05-29 21:00] jonathanpeppers commented on #2939
Followed up with @mfeingol over email, he was able to get a `Release` build of his app using VS 2019 16.1:
* `<AndroidDexTool>d8</AndroidDexTool>`
* `<AndroidLinkTool>r8</AndroidLinkTool>`

_NOTE: for `Debug` builds, remove `<AndroidLinkTool>` and use multidex if needed_

The proguard rules were simply:
[code]
Using Xamarin.Forms 3.6.0.344457.

Closing for now, I'll follow up to see if we need to

[2019-05-29 21:00] #2939 closed

[2019-05-29 21:01] tipa commented on #2939
Why should AndroidLinkTool be removed for Debug builds?

[2019-05-29 21:05] jonathanpeppers commented on #2939
@tipa just to keep your `Debug` build as fast as possible. This is why you would turn off the linker for `Debug` builds as well.

[2019-05-30 04:35] mfeingol commented on #2939
For completeness, this is my release configuration:

[2019-05-30 06:13] ish-1313 commented on #3112
in my case, which you wrote is the same, i just build project with visual studio 2017. 15.9.11 , so , it may be considered as workaround (w/o downgrading VS 2019 )

[2019-05-30 07:08] tipa commented on #2939
Shouldn't there be an option in the VS GUI to disable that "Code shrinker" step? Right now in the drop-down there are only options for R8 and ProGuard, both slowing down Debug builds if I understand correctly...?

[2019-05-30 11:41] jonathanpeppers commented on #2939
Yes they are fixing that in hopefully 16.1.2. To remove it, you’ll have to edit the csproj.

[2019-05-30 13:45] jonpryor commented on #1072
This was resolved in commit d5e002e1e845024dcf4c89cf15a318539be8ab66.

[2019-05-30 13:45] #1072 closed

[2019-05-30 15:56] jonathanpeppers commented on #1639
I retested this with VS 2019 16.1.1. _I had to update `Plugin.CurrentActivity` to latest, not sure why._

It looks like d8/r8 can handle the desugaring just fine now:
[code]

![image](https://user-images.githubusercontent.com/840039/58645708-7be2a880-82c9-11e9-9a9e-3e12db22a2a6.png)

You can add `<AndroidDexTool>d8</AndroidDexTool>` to your `.csproj` file.

@eclipsed4utoo closing this for now. Let

[2019-05-30 15:56] #1639 closed

[2019-05-31 05:17] mzekrallah commented on #2123
any update on this guys ?

[2019-05-31 10:31] tomcurran commented on #2727
Thanks for progressing @jonathanpeppers @jonpryor

[2019-05-31 13:31] jonathanpeppers commented on #2727
We can probably close this when this one is merged: https://github.com/xamarin/xamarin-android/pull/3146

We are hoping we can get this in a preview soon. We should have a blog post explaining how to try it when it's ready, thanks!

[2019-05-31 15:48] JonDouglas commented on #3144
@jzpawlowski I'm not quite sure why you're using a runtime check here, the support library should already be doing this for you. Just use `TextViewCompat` instead of mixing both a Android framework one and Android Support one.

https://android.googlesource.com/platform/frameworks/support/+/71e4b67/v4/java/android/support/v4/widget/TextViewCompat.java

As you can see in this code, there are a few v

[2019-05-31 15:52] JonDouglas commented on #3137
@mfeingol Thank you so much for your feedback. I'm sadly going to have to ask for you to create a `Suggestion` in Visual Studio, as this pertains to multiple products and not just one. Also we want to keep your feedback in a central place so others can upvote these ideas as we continuously improve the product.

https://docs.microsoft.com/en-us/visualstudio/ide/suggest-a-feature?view=vs-2019

For t

[2019-05-31 15:52] #3137 closed

[2019-05-31 16:23] JonDouglas commented on #3141
@dellis1972 @jonathanpeppers ^

@ianvink Is it possible for you to minimalize the test case with a smaller set of resources you believe are causing this aapt2 failure? That way we don't have to worry about confidential code. Especially if your verbose build log contains the resource type that aapt2 is failing on. I believe you might be able to also run the aapt2 command line from the build log wit

[2019-05-31 20:23] jonathanpeppers opened #3156 "New strategy for support multidex jars/aars?"
### The Problem

We currently ship `android-support-multidex.jar` which comes from: https://github.com/xamarin/xamarin-android/blob/055dabe34e1897305be178a260faee3815e3e908/src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets#L245-L264

This appears to be version 1.0.1.

Java developers in Android Studio use this library by adding this to their `build.gradle`:
[code]
https://develop

[2019-05-31 21:25] EmilAlipiev commented on #1760
15.9.12 on VS2017, it is still problem.

[2019-05-31 21:30] EmilAlipiev commented on #3140
Did you try without arm64-v8a? i figured out that my problem is with arm64-v8a.

[2019-05-31 23:07] JonDouglas commented on #3156
@jonathanpeppers

Current day support, it's fairly rare for people to support < 19 but it does exist still. So I think we should still support it.

https://developer.android.com/about/dashboards/

They shouldn't need to except in very advanced cases. We should update this as often as possible since I doubt it will be updated in the near future. Rather the AndroidX version will be updated instead.

[2019-05-31 23:17] EmilAlipiev commented on #3140
my app is not crashing immediately but crashes on some certain pages and i dont see anything special about those pages. I try to debug in release mode but although i enabled "enable developer instrumentation", i am still not able to get any log. Crash log doesnt also appear in Appcenter. So how can i find the reason why it crashes? the same app with same settings works just fine using VS2017

[2019-06-02 10:20] toomasz opened #3160 "Failed to deploy - Unexpected install output: Killed"
### Steps to Reproduce

Not sure, got it today without any changes in project

### Expected Behavior

App should deply successfully

### Actual Behavior

Unexpected install output: Killed

### Version Information
[code]
### Log File
[error_log.txt](https://github.com/xamarin/xamarin-android/files/3244684/error_log.txt)

[2019-06-02 22:39] EmilAlipiev opened #3161 "Code Shrinker Proguard confusion and problem between VS versions"
You have introduced 2 new settings for android as below. These settings are only available on VS 2019 windows.

![image](https://user-images.githubusercontent.com/10422347/58768160-04499d80-8597-11e9-9908-3c3abbc17b4c.png)

So you removed "Enable proguard" boolean option. I understand that. but here is the problem
I am using VS2019 Mac parallel with VS2019 Windows. Those 2 options arent available

[2019-06-03 03:03] jges42 opened #3162 "BuildAction AndroidEnvironment not handled anymore"
### Steps to Reproduce

1. Have current VS 2019

2. Have File in Android App Project with BuildAction "AndroidEnvironment"
e.g. a file with the name "environment.txt" (content:
`MONO_LOG_LEVEL=error`
)

3. Do a Release Archive Build -> Final APK does not contain an "environment" file

### Expected Behavior
Archived APK should contain a environment file, with the content from the environment.txt Fi

[2019-06-03 07:52] dellis1972 commented on #3141
Please note that `aapt2` has more strict requirements than `aapt`. Some things that were warnings are now errors. I suspect this is one of them. In this case I suspect you have a 9 patch image which has some issue with its background which the new resource compiler does not like.

Something like (this)[https://stackoverflow.com/questions/55013848/top-left-corner-pixel-must-be-either-opaque-white-o

[2019-06-03 14:35] JonDouglas commented on #3161
Although these new options haven't made the Visual Studio for Mac version, they are coming. They are currently in Visual Studio for Mac 8.1, which is in preview today.

We highly recommend that using Visual Studio 2019 on Windows and Mac, that you match the version numbers as closely as possible such as 16.1 -> 8.1 respectfully.

Please note that these properties that Visual Studio 2019 adds, shou

[2019-06-03 15:23] dellis1972 commented on #3161
Those properties are still available and should work if added to the csproj manually.

[2019-06-03 20:18] cloudxsky opened #3165 "Constantly have to delete or edit emulator to test code"
### Steps to Reproduce

1. Test code on Windows 10 emulator with Hyper-V enabled
2. Exit out of emulator (pressing x on the emulator)
3. Change code (if you don't you won't get an error but it will say that the application doesn't exist at the file location it's looking for)
4. Make sure build is successful and it's not a Resouce.Designer.cs issue
5. Run the emulator again
6. App won't run
7. Edit

[2019-06-04 04:18] jonathanpeppers commented on #1842
/cc @alexanderkyte I saw you've been working on AOT for Android lately.

I tried this one again, and a Xamarin.Android "Hello World" built in Release mode causes this: [App12.zip](https://github.com/xamarin/xamarin-android/files/3250488/App12.zip)

Install this on an x86_64 emulator to see it, thanks!

[2019-06-04 15:59] aherrick commented on #3007
Thanks! The work around solved this for me.

[2019-06-04 17:20] eliaspuurunen commented on #3112
We encountered this problem yesterday and today. LG V30 using an ARM64 build. As soon as we configured the Android project to only support armeabi-v7a, we found a case where we were attempting to access a disposed object.

In our case the exception was wrapped by a try-catch. On ARM64 we encountered the null pointer issue.

[code]

Output from adb:
[code]

[2019-06-04 19:37] JonDouglas commented on #3165
The primary issue you're seeing is an issue with Google's Android Emulator. Please make sure to report a bug there.

https://developer.android.com/studio/report-bugs#emulator-bugs

You might be running into this issue: https://issuetracker.google.com/issues/126622740

[2019-06-04 19:37] #3165 closed

[2019-06-04 19:48] JonDouglas opened #3168 "Profiled AOT fails using d16-2"
### Steps to Reproduce

1. Create a new Forms application (Shell Template) in Visual Studio 2019 16.2
2. Turn on AOT and Enable Startup Tracing
![image](https://user-images.githubusercontent.com/1288848/58908701-7b358200-86ce-11e9-8851-6e8a048fe218.png)
3. Build fails with assembly could not be AOT'd - https://gist.github.com/JonDouglas/926759503764aa668c2f3d7cd11701c7

[ProfiledAOTForms.zip](http

[2019-06-04 21:21] marcelbeeker commented on #2920
Hi Brendan,

Can tot provide us information when this bug will be fixed? Very strange that this problem is back again in version 16.1.1

Thanks, Marcel

Outlook voor Android downloaden<https://aka.ms/ghei36>

________________________________
From: Brendan Zagaeski <notifications@github.com>
Sent: Tuesday, May 28, 2019 12:08:43 AM
To: xamarin/xamarin-android
Cc: marcelbeeker; Comment
Subject: Re: [

[2019-06-04 21:31] jonathanpeppers opened #3169 "Solution that crashes on startup when aapt2 is used"
Related to:
* https://github.com/xamarin/Xamarin.Forms/issues/6327
* https://github.com/xamarin/Xamarin.Forms/issues/6343

### Steps to Reproduce

1. Clone: https://github.com/zijianhuang/xamarinforms4bugs/tree/ResourcesInLib (use the ResourcesInLib branch)
2. Build/Deploy with 16.2/master
3. App crashes on start with:

[code]

The `obj\Debug\81\android\src\android\support\v7\appcompat\R.java` fil

[2019-06-04 21:44] jonathanpeppers commented on #3169
The root cause might be:
[code]
Because `@(AndroidResource)` is empty in the head project.

[2019-06-04 22:01] jonathanpeppers commented on #3169
I think the fix might be as simple as this:
[code]
Tomorrow, I'll see if I can get a PR. I'll need to come up with a test showing this problem.

[2019-06-05 05:22] dansiegel commented on #2727
@jonathanpeppers it seems that PR is merged... is there a way we can try this out? I know Google seems to be complaining about this for an app I'm trying to get into beta. Would love to be able to use this in my CI process even if it means installing a CI/Alpha SDK on the build host.

[2019-06-05 08:33] kkarakk commented on #3112
Can confirm, redmi note 5 - same issue when migrate runs in ef core

[2019-06-05 11:20] kvpt commented on #1771
Hi,
I hit this issue when trying to use aapt2 on AzureDevOps.
Any progress on this one ?

[2019-06-05 12:50] NickeManarin commented on #2920
People, is this bug ever going to be fixed?
I have VS 16.1.1 and my project still crashes with SQLite.

[2019-06-05 13:06] dellis1972 commented on #2727
@dansiegel you should be able to download a visx from our CI system via the `Build Status` section of our README.md (see https://github.com/xamarin/xamarin-android#build-status) and then picking a Job and going to the `Azure Artifacts` page. Or just use this to get the latest stable build https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android/lastStableBuild/Azure/

Note that th

[2019-06-05 13:10] dellis1972 commented on #1771
@kvpt this error is in the actual `aapt2` exe which google produces. (see https://issuetracker.google.com/issues/68936311) not sure if there is much we can do to fix it in our side.

@jonathanpeppers any thoughts? is it worth documenting how to change the temp drive in VSTS so people can work around?

[2019-06-05 13:59] jonathanpeppers commented on #1771
I checked and this isn't happening for us anymore, probably due to one of two reasons:
* We are using a [newer aapt2 from maven](https://github.com/xamarin/xamarin-android/commit/4ccbeb74c9d9ed91e926788d4b68ca80134aadc4), we now ship this with Xamarin.Android.
* We reworked our Azure Pipelines build, which is [YAML](https://github.com/xamarin/xamarin-android/blob/master/build-tools/automation/azur

[2019-06-05 13:59] #1771 closed

[2019-06-05 15:36] brendanzagaeski commented on #2920
The best place to follow for additional information about the problem in Visual Studio 2019 version 16.1 and higher is: <https://github.com/xamarin/xamarin-android/issues/3112> (or [the corresponding item on Developer Community](https://developercommunity.visualstudio.com/content/problem/580820/xamarin-problem-following-update-to-vs2019-161.html)).

For example, I'll make sure those issue are swit

[2019-06-05 16:36] brendanzagaeski commented on #3112
Reopening for now to use the closed status of this item to indicate when the fix is published.

[2019-06-05 20:47] marcelbeeker commented on #2920
This evening, I received update 16.1.2 from VS2019. My problem is solved now. I can debug my Xamarin application again in VS2019!

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

________________________________
Van: Brendan Zagaeski <notifications@github.com>
Verzonden: Wednesday, June 5, 2019 5:37:17 PM
Aan: xamarin/xamarin-android
CC: marcelbeeker; Comment

[2019-06-06 03:22] dansiegel commented on #2727
@dellis1972 yeah I'm only worried about trying it out for a release build to upload to Google Play so seems like I should be able to install that stable build and try this out. Thanks

[2019-06-06 07:44] ThePizzaguy commented on #3112
I am still running into this error on a HTTP request timeout in a seperate thread.
This happens using MobileServiceClient.LoginAsync("custom", loginData);

[code]