[2019-11-01 17:00] jpobst commented on #3871
This is a bug that should be resolved in the upcoming 16.4 Preview 3.

There is a workaround listed in this issue, or you can disable the shared runtime:
https://github.com/xamarin/xamarin-android/issues/3758

[2019-11-01 17:00] #3871 closed

[2019-11-01 17:02] grendello commented on #2169
No problem :) I'm sure Jo will welcome all and any help with the scripts :) Thanks in advance :)

[2019-11-01 19:04] KthProg commented on #3870
Ah, my bad. Based on some other APIs working I assumed Xamarin did something to make them compatible, but those APIs weren't as new as I thought.

[2019-11-01 19:04] #3870 closed

[2019-11-02 01:12] eman1986 commented on #2169
@grendello using what make prepare provides looks to have solved my build problem, now I just need to get rider to detect the xamarin.android sdk lol Thanks for your help

[2019-11-02 01:42] eman1986 commented on #2169
guess I missed a step, it works now :+1:

[2019-11-02 18:38] jenscski commented on #3869
Yes, that would work, but it would create a lot of false warnings like, so don't think I will go that way.

[code]

[2019-11-04 06:56] gopalawasthi123 commented on #2983
@anilkumar416  you can solve this issue by using JSPDF on the serverside from mobile side you can do nothing.

[2019-11-04 07:02] anilkumar416 commented on #2983
I was able to solve this https://medium.com/@mr.kante416/pdf-in-webview-android-1380de57155c shared in this article now well written will update in some time.

[2019-11-04 13:13] tranb3r commented on #3724
@brendanzagaeski @vargaz @radekdoulik
Come on guys, we need answers !!!

[2019-11-04 15:53] tlhintoq commented on #3456
I have been struggling with these 'debug-time-only' crashes for a couple weeks and only just now stumbled across this issue thread.

We were updating our app from Android 5 to Android 9 compatibility, which also meant Visual Studio 2017 to VS2019.  So a lot of changes and I just though the newer tooling was bringing existing problems being swallowed up, to light.  In a way I guess it did - just no

[2019-11-04 17:17] THplusplus opened #3876 "HttpResponseMessage Location header corrupt on Xamarin.Android"
### Steps to Reproduce

1. Create new Xamarin.Forms project (empty)
2. Inside MainPage.xaml.cs, build a simple HttpRequestMessage to any remote resource that's known to return a 302 redirect with a RELATIVE address in the Location header
3. Send the request using HttpClient and verify that the received Location header value is valid (unaltered).

See attached repro project: [XamarinHttpClientPmldT

[2019-11-04 18:30] tranb3r commented on #3817
Same problem for me too.
It's been introduced in Visual Studio 16.4.0 pre-1 and it's still happening in pre-3 !! No issue when using VS 16.3.7.
It's only happening when android linker is set to "full" or "sdkonly" (no problem when disabling linker).

@mattleibow @Redth Any progress ?

[2019-11-04 19:00] brendanzagaeski commented on #3571
*Release status update*

A new Preview version has now been published that includes the improved error message for this scenario. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 3. To try the Previ

[2019-11-04 19:09] brendanzagaeski commented on #3779
*Release status update*

A new Preview version has now been published that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 3. To try the Preview version that include

[2019-11-04 19:10] brendanzagaeski commented on #3807
*Release status update*

A new Preview version has now been published that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 3. To try the Preview version that include

[2019-11-04 19:30] brendanzagaeski commented on #3091
*Release status update*

A new Preview version has now been published that includes the candidate improvement for this item for the cases where devices return different text in the broadcast reply than was previously expected. This improvement will not yet help for situations where the device is set to prevent background work by the Mono Shared Runtime package.

The fix is not yet included in a Re

[2019-11-04 19:32] brendanzagaeski commented on #3348
*Release status update*

A new Preview version has now been published that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on macOS in Visual Studio 2019 for Mac version 8.4 Preview 2. To try the Preview version that in

[2019-11-04 19:33] brendanzagaeski commented on #3751
*Release status update*

A new Preview version has now been published that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on macOS in Visual Studio 2019 for Mac version 8.4 Preview 2. To try the Preview version that in

[2019-11-04 19:34] jpobst commented on #3876
We fixed the issue where the redirect fails due to `file://` here, which should have just been released in today's Visual Studio 16.4 Preview 3:

https://github.com/mono/mono/issues/17288

I am not sure what the Location header will look like, but at least the redirect should work.

Here's a workaround that will also fix the URI to be correct:
https://developercommunity.visualstudio.com/content/pr

[2019-11-04 19:37] brendanzagaeski commented on #3758
*Release status update*

A new Preview version has now been published that includes the fix for this item.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 3. To try the Preview version that includes the fix, [check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) in [Visual Stu

[2019-11-04 19:40] brendanzagaeski commented on #3726
*Release status update*

Thanks for reporting this issue! A new Preview version has now been published that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.29.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 3. To try

[2019-11-04 20:49] jpobst opened #11923 "Native crash running Java.Interop.Export-Tests.dll tests"
When CI is running `bin/TestDebug/Java.Interop.Export-Tests.dll` on Mac, there's about a 25% chance it fails with this native crash:

[code]

Some examples:
* https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3212341
* https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3202439
* https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3201283

[2019-11-05 05:12] bddckr opened #3878 "CS8632 - Nullable annotations context needs to be enabled manually"
### Steps to Reproduce

1. Create a new Xamarin.Android project.
2. Adjust any of the (non-generated) `cs` files to use a nullable reference type (a C# 8.0 feature).
3. Attempt to build the project and notice that you're getting the compiler warning `CS8632`.

I did attempt to fix this by adding
[code]
to the `csproj`, but neither that, nor just using `Nullable` worked. Additionally using `<Nullab

[2019-11-05 10:43] THplusplus commented on #3876
That seems to work around the issue, thank you.

[2019-11-05 11:00] DfernandezNipo opened #3879 "Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x70 when unloading a loading again an app domain changing some assemblies."
### Steps to Reproduce
In a xaamrin forms android App

1. Call AppDomain.CreateDomain and then .CreateInstanceAndUnwrap
2. Call UnloadDomain
3. Repeat step 1.

App crashes in native code.

Using Microsoft Visual Studio Enterprise 2019 Version 16.3.7, with Visual studio 2017 it works properly.

### Expected Behavior
Not crash.
### Actual Behavior

### Version Information

Microsoft Visual Studio En

[2019-11-05 11:39] DfernandezNipo commented on #3879
some addr2line help:

- i686-linux-android-addr2line.exe -C -f -e libmonosgen-2.0.so 00000000001672dd
`mono_class_get_context`
??:?

-  00000000001677eb
`mono_class_inflate_generic_type`
??:?

-  00000000000cec86
`mono_install_ftnptr_eh_callback`
??:?

- 00000000000cd713
`mono_install_ftnptr_eh_callback`
??:?

- 00000000000ca543
`mono_install_ftnptr_eh_callback`
??:?

- 00000000000c3bb4
`mono_inst

[2019-11-05 12:14] dellis1972 commented on #3428
We should also expose the values for `versionCode` and `versionName` from the final manifest as properties for users to use later during archiving or renaming of apks. Context https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1005105

[2019-11-05 14:22] grendello commented on #3879
@DfernandezNipo I followed your steps trying to reproduce the issue:

[code]

However, the app doesn't crash. Would you mind extracting your code into a small repro app that reliably triggers the issue for you? Thanks!

[2019-11-05 15:17] jpobst commented on #3878
Looks like the dotnet team chose not to support Nullable for the legacy project file type.  :(

https://github.com/dotnet/project-system/issues/5551

It sounds like it will work for the build, but not Intellisense.

[2019-11-05 15:19] jpobst commented on #3876
Glad it works for you!

[2019-11-05 15:19] #3876 closed

[2019-11-05 16:04] jonathanpeppers commented on #3878
@bddckr for now does using [MSBuild.Sdk.Extras](https://github.com/onovotny/MSBuildSdkExtras) work for `TargetFramework=monoandroid`?

It is not officially supported, but may be an option here.

[2019-11-05 16:25] bddckr commented on #3878
Ah that's too bad - I didn't know about Nullable not being a thing in legacy projects! It does indeed seem to be fine for builds... Just sucks adding `#nullable enable` to all our files' headers. We have to do so because we made the decision to make CS8632 an error instead of a warning (even then we're running with warnings as errors).

---

@jonathanpeppers I might be wrong here but that won't wo

[2019-11-05 16:48] jonathanpeppers commented on #3878
Yeah, MSBuild.Sdk.Extras probably won't work for the main application project--just libraries.

[2019-11-05 17:00] bddckr commented on #3878
I'm closing this due to https://github.com/dotnet/project-system/issues/5551 then.

Thanks for the fast replies!

[2019-11-05 17:00] #3878 closed

[2019-11-05 17:35] jonpryor commented on #3879
FYI, support for `AppDomain.CreateDomain()` will be going away with .NET 5, circa next fall...

See also Issue #3845.

[2019-11-05 17:40] grendello commented on #3847
@kant2002 @eman1986 you can safely ignore this target, it is meant for internal commercial builds. Running `make prepare` on Linux/macOS or `msbuild /t:Prepare` on Windows is sufficient to get a local build. With that, @jonpryor suggested that we rename the target to `PrepareInternal` which may make sense as the name might be misleading.

[2019-11-05 18:43] stesvis commented on #2120
I am having this issue now in **VS 2019 16.3.7**.
Deleting `bin` and `obj` + rebuild all does not solve it.
Any idea?

[2019-11-05 20:01] claudioredi commented on #1443
@jonpryor Was this already released on stable channel?

[2019-11-05 21:24] brendanzagaeski commented on #3726
*Release status update*

A new Release version has now been published that includes the fix for this item.

Fix included in Xamarin.Android 10.0.6.2.

Fix included on Windows in Visual Studio 2019 version 16.3.8. To get the new version that includes the fix, [check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) or install the latest versi

[2019-11-06 06:24] kant2002 commented on #3847
Thanks. That make sense now. What was misleading for me is that step was outlined optional, but there no indication what was step for building commercial version. I can reason that it would not work, but at the same time it would be interesting exercise to me to look into that target.

So if you put a word on that, that will also help. Even if target is internal I may incorrectly deduce that this

[2019-11-06 06:24] #3847 closed

[2019-11-06 07:15] DfernandezNipo commented on #3879
Hi @grendello, first of all, thanks a lot for the fast answer,I will try doing a small project but It won't be easy because our project is big. We use the app domain to load a old self-customized nancy service. We are dealing with this issue almost two month before opening the issue and we have tried a bunch of things to avoid it without any success.

[2019-11-06 12:11] #3804 closed

[2019-11-06 13:15] Akademiksdc commented on #3724
@radekdoulik @vargaz @brendanzagaeski

Could you please provide some updates, how it's going on?

[2019-11-06 13:34] SavikPavel commented on #3741
If anyone is still interested (which I doubt), the issue is still there with the latest updates:
Visual Studio 8.3.7 (build 1)
Xamarin.Android 10.0.6.2 (Visual Studio Community)

[2019-11-06 19:23] brendanzagaeski commented on #3724
Apologies that there hasn't been much movement here. I'll ask a couple other folks about this issue to see if there's any news available about the plans for investigation.

[2019-11-06 20:18] brendanzagaeski commented on #3724
*Notes for the Microsoft team*

Out of curiosity, I tried adding `-Os` or `-Oz` to `llvmopts` (e.g., `-p:AndroidAotAdditionalArguments=llvmopts="-Oz"`) to see if those had any effect on final APK size. At least in my quick tests, those options only decreased the APK size by a couple of kilobytes.

[2019-11-07 03:05] StefAnglr commented on #3216
@ysmoradi There is a good example of this approach on #2651 - just pass an instance of `WorkaroundAndroidClientHandler` to the `HttpClient` constructor.

[2019-11-07 03:32] vtserej commented on #3426
@divil5000 you are completely right. it came up in 6.0 and it still broken in 6.4 .
it is happening in the following phones according to our telemetry
Galaxy J7(2016)
LG K20 Plus
Galaxy J7 Pop
Galaxy S7 edge

[2019-11-07 09:00] tranb3r commented on #3724
We've been waiting for a fix for several months now. How come nobody is able to identify the commit responsible for this regression and fix it ?!?
Considering the number of open issues we're following and that do not show any progress at all, we're really starting to lose faith in xamarin.
cc @migueldeicaza

[2019-11-07 10:56] hashmurali commented on #3426
I am able to reproduce it using Zebra TC25 device running on Android version 7.1.2 but not in Zebra TC57 running on Android version 8.1

[2019-11-07 13:01] lombardac commented on #3426
Also HUAWEI EVA-L09 - Android 7: Golemanova's solution works a charm for now.

[2019-11-07 13:11] hashmurali commented on #3426
As pointed out above we cannot control 3rd party libraries in my case NLog, which broke since the Xamarin.Android update

[2019-11-07 19:38] emimvi commented on #3222
@brendanzagaeski I have just tried the App1-SIGSEGV-crash project in VS2019 Preview 4.0, and the issue seems to only partly have been fixed.
Using the steps you provided, I'm still able to get to the "No compatible code running" part. The app no longer crashes when stepping over, but it doesn't step either - it seems to simply proceed as if clicking "continue".
I have an app where the "No compatib

[2019-11-07 20:57] jonathanpeppers commented on #3828
@radekdoulik @dellis1972

I have done some more experimenting:
* xamarin-android: https://github.com/xamarin/xamarin-android/compare/master...jonathanpeppers:profiled-aot-debug-mode
* monodroid: https://github.com/xamarin/monodroid/compare/master...jonathanpeppers:profiled-aot-debug-mode

At first, I just tried fast deploying native libraries by default, but I was seeing:
[code]
Which is a differe

[2019-11-07 23:53] thzinc commented on #3852
I encountered this as well, and the single difference that I made was to remove explicit support for Nullable reference types (`<Nullable>enable</Nullable>`) from my project file.

For example, in my project file with three configuration/platform PropertyGroups:

[code]

[2019-11-08 02:18] clintonrocksmith commented on #3444
I disabled MutliDex and that solved my issue.  Is that the correct thing to do?

[2019-11-08 09:55] radekdoulik commented on #3828
Yes, IIRC we cannot load native libs from `.__override__`. I think that's the case for few older Android releases as well.

We should be AOT'ing just the non-changing "SDK" assemblies from the profiles (https://github.com/xamarin/xamarin-android/issues/3828#issue-510827576) Hopefully these are not ending up in `.__override__` directory even for FastDev, or are they?

[2019-11-08 19:00] frankbuckley commented on #3852
Thanks! Not in my app project, but `<Nullable>enable</Nullable>` had crept into a referenced class library.

Removing it fixes the build with linking enabled.

[2019-11-09 09:34] daniels7 opened #3892 "Native Crash with Fatal signal 6 (SIGABRT), code -6"
I guess it has something to do with Packaging as .aab File and a new Version of VS/Xamarin/Mono.

It worked for our last release.

The Problem is happening with the newest Version of Visual Studio 2019 Preview as well.

### Steps to Reproduce

1. Running the application
2. Switching Fragment via Navigation Drawer

### Expected Behavior

No crash

### Actual Behavior

Native crash with Fatal signal

[2019-11-09 13:19] ivanicin opened #3893 "Android Bundle crashes as it can't find MP3 resource"
### Steps to Reproduce

1. The app must execute this line of code to crash:
`var mediaPlayer = MediaPlayer.Create(this, Resource.Raw.beep)`
where 'beep' is MP3 file included in the project
2. The app must be distributed as AAB package

### Expected Behavior
This should work as APK file works without the problem
### Actual Behavior
The app crashes with the log:

### Version Information

### Log Fil

[2019-11-09 18:28] mayhammf commented on #1335
Thanks @dellis1972's.

Ended up using the solution below to remove 3rd party permissions.

In the .csproj file, add the following:
[code]
And here's the `android-manifest-tools-remove-permissions.xsl` which is used in the `XslTransformation` task
[code]

And in your AndroidManifest.xml do what you normally do when removing permissions, for example:
[code]

[2019-11-09 22:08] shults-s opened #3894 "Xamarin.Android application crashes when resuming"
### Introduction
The ```MainActivity``` of the application hosts a ```ViewPager``` containing fragments of the type ```ScheduleFragment``` inherited from ```Fragment```. The ```ViewPager``` has an adapter that inherits from ```FragmentStatePagerAdapter```.

### Steps to Reproduce
1. In Android "Developer options" sets "Background process limit" to "At most 1 process".
2. Launch application and the

[2019-11-11 00:48] procopio commented on #3426
Fixed my issue with Xamarin.Essentials.Share on last Visual Studio / Xamarin Android / Mono update.

[2019-11-11 10:33] dellis1972 commented on #1335
@mayhammf Glad the extension point helped you work around this issue.

[2019-11-11 11:37] isoindisystems commented on #2620
We can confirm that this helps also nowadays!

[2019-11-11 11:55] davidevosti commented on #2960
It seems that as of  Xamarin.Android 10.0.3.0 it is fixed again.

[2019-11-11 17:44] JonDouglas commented on #3793
@bellissimo Custom profiled AOT refers to being able to use your own "custom profile" which can be recorded and used for you application. This differs from Profiled AOT as Profiled AOT is a default profile based on your project type (Xamarin.Forms vs. Xamarin.Android).

[2019-11-11 17:58] jonathanpeppers commented on #3739
@mikepotvin let us know if you can send more info. Closing for now, thanks!

[2019-11-11 17:58] #3739 closed

[2019-11-11 18:02] jonathanpeppers commented on #3893
This should be fixed by: https://github.com/xamarin/xamarin-android/pull/3604

This change should already have shipped in the 16.4 preview release. Is the issue fixed there?

Alternatively, as a workaround you can set `mp3` files to be uncompressed manually with this setting:

![image](https://user-images.githubusercontent.com/840039/68609488-033c6680-047b-11ea-95c9-98c1ee66ef75.png)

[2019-11-11 18:06] jonathanpeppers commented on #3892
@daniels7 can you produce the problem in a new project? or does it seem like it is specific to your app?

I am wondering how this would be related to app bundles, as it seems to be a problem with Mono in general:
[code]

Does the problem happen with APKs as well?

[2019-11-11 18:08] campelo commented on #3819
I have created the file and works fine.
`var sqlitePath = Path.Combine(
Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData),
@"OlsonSoftware\FinanceManager");
Directory.CreateDirectory(sqlitePath);
var fileName = $"{sqlitePath}\fmd.db";
if (!File.Exists(fileName))
  File.Create(fileName);
optionsBuilder.UseSqlite($"Data Source={fileName}");

`

[2019-11-11 18:09] jonathanpeppers commented on #3894
@shults-s can you add logging to figure out which object reference is actually `null`?

When I look at the code: https://github.com/shults-s/SmtuSchedule/blob/ee30b08e2900bad7a11cf1fd1fd53e4466ec0ca2/SmtuSchedule.Android/Views/ScheduleFragment.cs#L25

There are all kinds of things in here that might be `null` and not related to a problem with Xamarin.Android.

Let us know, thanks!

[2019-11-11 18:49] stefanolson commented on #3819
Exactly - the the file path is not the problem I don't believe.  The same code worked fine a few months ago. Nothing's changed. There must be an issue I'm trying to figure out how to track it down.

[2019-11-11 19:30] maratoss opened #3898 "XA0107 Ignoring '' as it is a Reference Assembly"
### Steps to Reproduce

1. Create an empty Xamarin.Android app from VisualStudio
2. Add Quartz nuget v3.0.7 or v3.0.6
3. Build the project

This is reproduced only on my Teamcity machine.
On my local PC it works well.
And one more strange thing is this warning with no path to file
[code]
I tried to build with VS and with MSBuild same result.
Seems smth wrong with a configuration of my buid machine

[2019-11-11 22:11] shults-s commented on #3894
@jonathanpeppers Yes, I will definitely try to exclude all other things that may be related to the possibility of a System.NullReferenceException. I will write when I get the result. Sorry for premature concern.

[2019-11-11 22:18] lewurm commented on #3724
The Mono runtime upgraded to a newer LLVM version (from 3.6 to 6.x), so there are significant changes in terms of how code is generated. While apparently the code size has changed, there should also be another implication: Better execution time.

In general, if your main concern is APK size, you shouldn't use AOT at all (with or without LLVM). AOT+LLVM is ought to be for users doing computational

[2019-11-12 09:38] tranb3r commented on #3724
@lewurm Thank you for the explanation.
Like most mobile app developers, our concern is finding the best tradeoff between startup time and app size.
So, could you please make sure that this kind of upgrade (and the expected impact) is mentionned in the release notes of visual studio and xamarin.android ?

[2019-11-12 10:08] ivanicin commented on #3893
I can confirm that setting that '.mp3' fixes the problem. Right now I am using the AppCenter for builds, so I can't test the previews.

[2019-11-12 10:08] #3893 closed

[2019-11-12 12:27] chrisfoulds commented on #3712
How would I declare manually for a Xamarin forms project ? , is there an ETA for this being added ?

[2019-11-12 12:39] Cheesebaron commented on #3712
@chrisfoulds remove the `[Service]` attribute on your service and add the entry to your AndroidManifest.xml file yourself. See the attatched ServiceTypeTest.zip for an example.

[2019-11-12 13:47] chrisfoulds commented on #3712
@Cheesebaron I tried that and it didn't work which is why I asked.

I added :
<service android:name="com.abc.testapp.TimestampService"  />

Yet the autogenerated one using [Service] comes out as :
<service android:name="md586c6802ef9432e3426afeadf29df91ef.TimestampService" />

So quite different locations

[2019-11-12 13:49] daniels7 commented on #3892
@jonathanpeppers
You're right, it has nothing to do with AAB-Packages, as it crashes with a APK-File as well.

The strange thing is that a Release Build from Visual Studio to Device doesn't crash. I don't see any difference between a release build and a packaged and signed Build for Upload, do you?

[2019-11-12 13:49] daniels7 commented on #3892
I'll try to create a repro project later, but it can take some time. I'd be happy if you could still try to investigate the issue until then

[2019-11-12 14:41] daniels7 commented on #3892
I checked out some different approaches now and the problem is not related to an update of Xamarin.Android or Visual Studio, as the App starts working again if I rollback every code changes since the last release. The main difference since then is a large number of package Updates and the migration from packages.config to the .csproj PackageReferences. Sadly the native crash isn't helpful at all i

[2019-11-12 14:53] Cheesebaron commented on #3712
Add the `[Register("com.abc.testapp.TimestampService")]` on your Service.

[2019-11-12 15:03] jonathanpeppers commented on #3893
You actually _can_ test the previews on App Center!

https://github.com/jonathanpeppers/boots#app-center

[2019-11-12 15:09] #3636 closed

[2019-11-12 16:22] daniels7 commented on #3892
I can't find any differences between the aab that is generated and split up when distributing the release version from VS onto my phone and the signed aab that is generated and uploaded to the playstore. The first one works well and the other one crashes.

[2019-11-12 16:25] #3712 closed

[2019-11-12 18:29] BalasubramaniSundaram opened #3905 "System.ObjectDisposedException: Cannot access a disposed object"
Hi Team,

Current we have encountered the random issue we are facing in Xamarin.Android from the Android.Widget.TextView, Android.Widget.ProgressBar, Android.Views.GestureDetector when navigating to the page or rotator view to showcase our custom control view but the issue didn't consistently produce in our side and also in the simple sample.

In our production code, on deep and hard analysis, we

[2019-11-12 20:13] jonathanpeppers commented on #3898
@maratoss can you attach a diagnostic MSBuild log?

I think `-v:d` means "detailed" and it's missing some info, try doing either `-v:diag` or even better use `-bl` to get a [binary log](https://github.com/microsoft/msbuild/blob/master/documentation/wiki/Binary-Log.md), thanks!

[2019-11-12 20:15] jonathanpeppers commented on #3896
Can you attach a [diagnostic MSBuild log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)?

and perhaps the `obj\Debug\90\lp\24\jl\res\values\values.xml` file it is complaining about? Thanks!

[2019-11-12 21:00] jonathanpeppers commented on #3892
Can you record a [diagnostic MSBuild log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) of the one that works vs the one that doesn't?

[2019-11-12 21:05] daniels7 commented on #3892
With your informations I can enable the verbose output for the MSBuild-Taks inside VS, so for the build that works. Will it work with using MSBuild from Commandline as well? I have to use MSBuild from Commandline to create the signed AAB for upload.

[2019-11-12 21:09] jonathanpeppers commented on #3892
You might just try doing them both command-line, such as:
[code]
`git clean -dxf` (or equivalent) just to make sure the log has a full build. You might launch the app on each step to be sure it works/doesn't work.

Zip up the two binlog files, thanks!

[2019-11-12 21:11] daniels7 commented on #3892
I'll try to do so, thank you very much :)

[2019-11-12 23:06] kimhongka commented on #3817
I am using Visual studio mac and I am facing the same problem.
I was able to build the solution with D8/R8/Linker(sdk only) and "AndroidX" in the current stable Visual studio mac, but not using Visual Studio for Mac 8.4.0.2414. It works if I disabled Linker though.

I need to use the preview Xamarin.Android version, which contains the fix of the KotlinX-android issue, so I have been using the prev

[2019-11-13 00:33] daniels7 commented on #3892
Sadly I can't reproduce the problem locally. It's ridiculous: If I build the app locally and directly install it (no matter if aab or apk or whatever) it works great. If I upload the very same aab (just signed) to Google's Internal Test and download the App from Play Store I'll get those native crashes. I don't see any way to debug that since the problem seems to be something else, not MSBuild. @j

[2019-11-13 00:35] daniels7 commented on #3892
Will google serve exactly the same architecture and so on to my device like the local install by MSBuild does?

[2019-11-13 08:34] TheForgetTime opened #3910 "Build failed on Linux, possible cause"
## 1. The git submodule repository is not properly initialized
Console output project does not exist when executing make prepare.

Some git submodules are not checked out.

The program continues to run after manual checkout.

Then there was a second error.

## 2. Although the nuget package has been installed, it does not work.

A part of the nuget package has no effect after being referenced.

The

[2019-11-13 08:36] maratoss commented on #3898
log for this cmd:
[code]
[logs.zip](https://github.com/xamarin/xamarin-android/files/3840129/logs.zip)

[2019-11-13 09:41] NickyAsher commented on #3822
Apologies if this problem has already been fixed, but I found that this happened to me immediately after updating my android SDK platform.
I found that (within visual studio) cutting everything within <resources> in styles.xml, letting it build, pasting it all back in, then rebuilding the project rather than the regular build process fixed it for me.

[2019-11-13 12:28] TheForgetTime commented on #3910
And passed all the tests in the Debug version.

[2019-11-13 14:47] jonathanpeppers commented on #3898
So I compared your log:
[code]
To my log with a File -> New Project:
[code]

It looks like your build isn't picking up `System.Configuration.ConfigurationManager`?

Since, this is only happening on your build server. If you delete your NuGet cache at `C:\Users\Administrator\.nuget\packages\` and try again, does the problem go away?

[2019-11-13 15:02] jonathanpeppers commented on #3892
When you send to Google Play, are you building the same configuration? `/p:Configuration=Release`? I was going to check the build logs to be sure that was the case, and the problem wasn't something like AOT being on in one build and not the other.

Can you attach the full `adb logcat` of the crash?
1. `adb logcat -c` - clear the log
2. Launch the app and get it to crash
3. `adb logcat -d > log.txt

[2019-11-13 15:06] maratoss commented on #3898
yes, it cannot pick that depended library for some reason

same problem after:

[code]

then run

[code]

[2019-11-13 15:12] maratoss commented on #3898
@jonathanpeppers btw do you have an idea why the link to the package is missing in that warning?

[2019-11-13 15:20] jonathanpeppers commented on #3898
Is it the same version of Visual Studio (such as VS 2019 16.3.9) on both machines? The version of MSBuild and NuGet could affect this, but it shouldn't matter if you have Enterprise vs Community.

Looking at the code we might need a `string.IsNullOrEmpty` instead of `??`:
https://github.com/xamarin/xamarin-android/blob/ab801ce89b2b43fd0fbc8ced34d1ff1d5e0947ab/src/Xamarin.Android.Build.Tasks/Tasks/

[2019-11-13 15:28] maratoss commented on #3898
TC machine 16.3.8, local machine 16.3.5

[2019-11-13 15:41] radekdoulik opened #3911 "Remove C#8 non-null reference attributes in linker"
C#8 non-null reference uses custom attributes to let compiler know more information related to non-null reference.

These shouldn't be needed when running on device, as the C# language feature doesn't require modifications to the runtime. Thus it should be safe to remove them.

[2019-11-13 15:43] radekdoulik opened #3912 "Warn about app domains removal in linker"
We plan to add a warning for our users in the linker. When app domains are used, we should warn that it will be removed in newer API.

[2019-11-13 16:39] daniels7 commented on #3892
On my last try I used exactly the same output aab (Just Signed vs Unsigned, but that shouldn't be a difference). Sadly the binlog contains a lot of sensitive Data, so I'd prefer not to share it, especially not in public. It shouldn't be related to masbuild though due to the same AAB working on local install and not working on Google Install (same goes for APK). I'd guess it has something to do wit

[2019-11-13 16:50] jonathanpeppers commented on #3898
It looks like we already have a fix for the warning: https://github.com/xamarin/xamarin-android/commit/4d3d650341c9f2cc071aa67b14373c96f5f06e63

But this isn't shipping until a future release (16.5 Preview 1). I'll post a link to a build you can try when we have one.

[2019-11-13 17:02] daniels7 commented on #3892
[log.txt](https://github.com/xamarin/xamarin-android/files/3842474/log.txt)

There is the log, generated as you requested

[2019-11-13 17:11] maratoss commented on #3898
okay, thanks

[2019-11-13 17:33] jonathanpeppers commented on #3892
Are you using AOT in some form?
[code]
Does it work if you turn that off? It might be a combination of using an App Bundle with AOT/Profiled AOT.

[2019-11-13 18:14] pjcollins commented on #3910
@TheForgetTime would you be able to provide the binary logs or xaprepare logs for the build failures you are encountering? Alternatively, if you've managed to address these issues locally feel free to send a pull request 😄

[2019-11-13 19:43] pjcollins commented on #3905
This is possibly a duplicate of an older bug, which has been moved to  https://github.com/mono/mono/issues/14282.

To help confirm if this is a duplicate, are you still able to reproduce the issue if you set the  `MONO_GC_PARAMS=bridge-implementation=old` environment variable in your application project?

You can do this by adding a new text file which contains the line above, and then setting the

[2019-11-14 05:46] BalasubramaniSundaram commented on #3905
Hi @pjcollins,

Thanks for the help. We will check and update the status.

Regards,
Balasubramani Sundaram

[2019-11-14 09:08] shults-s commented on #3894
@jonathanpeppers Excuse me. The error is indeed in my code, not in Xamarin.Android.

I was confused that Android.Support.V4.App.Fragment is present in the stack trace, I did not immediately understand that this is caused by dynamic polymorphism.

Those who faced this problem and found this issue should read the article ["Don't Store Data in the Application Object"](http://www.developerphil.com/don

[2019-11-14 09:08] #3894 closed

[2019-11-14 09:41] MP91 commented on #1149
Hi @all!
I am using Visual Studio for Mac and still have this error. I am on the latest stable release (16-3).
Is there anything I have to do?

[2019-11-14 10:22] joemicmc commented on #3495
I get the same issue running on Android 9.0 emulator. As you said, sometimes it recovers next time you try to deploy. Sometimes you have to restart emulator.

[2019-11-14 13:43] ashokkumar96 opened #3914 "PdfRenderer of Android does not render some fonts present in the PDF document in Android API 23 (Android 6.0)"
Attached PDF document cannot render the text properly

We have used Android.Graphics.Pdf.PdfRenderer Class to render pages from PDF document. It does not render some text present in the PDF document and it seems to be a break in native PdfRenderer API with the Android API 23 (Android 6.0) - Marshmallow as we do not face same issue in Android API 21 (Android 5.0) – Lollipop.

Can someone please hel

[2019-11-14 16:22] JohnL404 commented on #2159
We're encountering this one a LOT.  I don't know if it's because we're using SignalR and WebSockets or what but I'm really hoping you guys can get this resolved soon.  We're using the latest available versions of everything (Xamarin, SignalR client library, etc.)

[2019-11-14 18:47] brendanzagaeski commented on #3426
*Release status update*

A new Preview version has now been published that includes a fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 5. To try the Preview version that includes

[2019-11-14 19:51] daniels7 commented on #3892
YAAAY, You are so great! :D
After I turned off the options for AOT-Compiling and LLVM-Compiling the App works again :)
Besides that the size of the app has been halved and the app feels snappier than ever.

[2019-11-14 19:55] jonathanpeppers commented on #3892
Do you think that the times you had AOT+LLVM on it was failing? And the other times it was working?

Or is it the combination of AOT+LLVM+App Bundle?

[2019-11-14 19:59] daniels7 commented on #3892
I don't think that the App Bundle is related since the APK I uploaded to google in between crashed as well. Since the problem appeared with the numerous Nuget Package Upgrades we did the Porblem seems to be AOT+LLVM+PackageUpdates

[2019-11-14 20:08] daniels7 commented on #3892
@jonathanpeppers  Sadly turning off AOT and LLVM broke the VS feature of  Bundling assemblies in native Code (though the checkbox is still checked) and I could easily decompile our App now :(
That's sadly a deal breaker for us as well.

[2019-11-14 20:21] jonathanpeppers commented on #3892
You probably don't need all 3 options:
1. AOT
1. LLVM
1. Bundle assemblies into native code (mkbundle)

What if you tried AOT by itself?

[2019-11-14 20:23] daniels7 commented on #3892
Will it prevent decompiling? With just mkbundle I had a .so file which just is a gzipped dll with everything inside and fully decompilable code (including comments and everything)

[2019-11-14 21:26] daniels7 commented on #3892
Next tests:
AOT + mkbundle -> Crash
Just AOT -> Crash

[2019-11-14 21:27] daniels7 commented on #3892
The problem is definitely the AOT

[2019-11-14 22:13] akamud opened #3916 "Visual Studio for Mac won't open deployed app and attach debugger on real device"
### Steps to Reproduce

1. Click on play (debug) in Debug mode for a real device

### Expected Behavior
App deploys and opens, debugger then attaches to it.

### Actual Behavior
App deploys but never opens and VS doesn't show any error.

Some extra information:
* The app runs fine if I manually click on it
* We didn't spot any error in "Application Output", logcat or "Deploy to Device", even on Di

[2019-11-14 22:43] jonathanpeppers commented on #3892
AOT is what converts your IL into assembly code. It makes it _harder_ for someone to figure out the original C# source of your app but does not prevent it--even with some kind of obfuscation. I don't know what your app is, but it might not be worse worrying about.

I think AOT is likely the culprit here, though. 😞

[2019-11-14 23:07] daniels7 commented on #3892
Yes, I think so too, though it seems to be related to the package updates as well, since the App starts working again on a rollback. Do you have any ideas on how to find out the exact problem?

[2019-11-15 02:21] EvgenyMuryshkin commented on #3682
Applying fix to client instances works ok, but there are also third-party libraries, e.g. FFImageLoading, which loads images by URL using default settings from global SSL configuration. All that code is broken now.

[2019-11-15 06:46] michaldobrodenka commented on #2159
I'm considering switch to https://github.com/NVentimiglia/Websockets.PCL to avoid this bug. As a understand it, it doesn't use mono MobileAuthenticatedStream.

[2019-11-15 10:41] knocte commented on #3710
Thanks, in fact with 8.1 we still got the crash again even after upgrading the Support libs, so I'm upgrading TargetFramework now to 9.0 and will release new version of the app. If it keeps happening after this, will report back.

That pattern you highlight only happens twice in my app, once with the WelcomePage and another one with the LoadingPage. Both of these pages are very lightweight, by a f

[2019-11-15 10:52] knocte commented on #3710
BTW, after upgrading the TargetFramework from 8.1 to 9.0, VisualStudioForMac changed all the support libraries lines of packages.config file, like this:

-<package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.3" targetFramework="monoandroid81" />
+<package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.3" targetFramework="monoandroid81" requireReinstallation="true" />

Which makes me

[2019-11-15 13:10] Cheesebaron commented on #3710
Isn't it possible to use PackageReference in a fsharp project? This way you wouldn't have to mess around with tfm in packages.config files.

[2019-11-15 13:31] knocte commented on #3710
Last time I tried that, ironically the build worked on VS4Mac but not in VSforWindows. There's some github issue about this, don't remember where (but must not be fixed yet if I'm subscribed and didn't get any updates about it).

[2019-11-15 13:32] knocte commented on #3710
(PS: not sure if the issue is XamAndroid projects not supporting this yet, or F#.)

[2019-11-15 17:47] EvoPulseGaming commented on #3001
Not sure if my issue is related, (physical phone) but under release mode I always fail the first attempt at a put/post, any attempts after that work.

I'm trying to make a repro project to submit my own issue, but the more I strip out, the error message sometimes changes, or sometimes doesn't happen... its stripped down now to the point, where you have to restart the app a few times to get the err

[2019-11-15 18:06] EvoPulseGaming commented on #2569
On an actual android phone, in release mode, I also have one of two things happen depending on how much I strip out of my project for a repro case to submit:
A: First put/post request will always fail, claiming that "server returned an invalid or unrecognized response. (Flat out lie, as packet capture shows no request was sent"
Any attempt after this will work.
B: Same as above, except as I stripp

[2019-11-15 19:59] EvoPulseGaming commented on #2569
Preview fixed it. (so far)

[2019-11-16 00:32] mattleibow opened #3920 "Using the wrong class library when a ref/ and lib/ in nuget"
### Steps to Reproduce

1. Download sample: https://github.com/mattleibow/NuGetFoldersTest
2. Run build.ps1
3. Run android app in NuGetFoldersTest.sln

What is happening is in the NuGet, there are 3 assemblies (netstandard, ios, android). Since the netstandard is only for reference and should always be replaced by the runtime, it is in the `ref` folder. The android and ios assemblies are in the `l

[2019-11-16 03:58] mattleibow commented on #3920
I have a workaround for now to include the monoandroid dll in both the ref and lib folders.

[2019-11-16 16:08] cidsv opened #3921 "xamarin android error APT0000: duplicate value for resource '' with config ''"
I'm using Xamarin Android with Visual Studio. My two projects has built without errors until update visual studio and xamarin.

### Steps to Reproduce

1. Build [TestApp.zip](https://github.com/xamarin/xamarin-android/files/3854394/TestApp.zip)

### Actual Behavior
Build  errors
1>C:\Users\ccc\source\repos\TestApp\TestApp\Resources\values\attrs.xml(2): error APT0000: duplicate value for resource '

[2019-11-16 17:02] chrisfoulds commented on #3712
@Cheesebaron thanks, worked a treat  wasn't aware of that one.

[2019-11-16 21:39] jamesmontemagno opened #3922 "Specify Version of Mono for each Release"
When setting up CI I also have to match Mono version with Android version. Would be nice to just have a reference as to which version of mono to install.

[2019-11-17 22:47] mickbyrne commented on #3852
Wow, thanks so much, I'm the Mick Byrne behind the Stack Overflow post referenced by the OP. Your recommended fix worked (though weirdly, for me, the `<Nullable>enable</Nullable>` was only in the Debug configuration where linking was disabled and already removed in my Preview and Release configurations; guess it just needs to be removed in all configurations).

[2019-11-18 07:25] MP91 opened #3923 "Can not Export CREATOR Field for IParcelable instance"
When trying to use Parcelable on latest Visual Studio for Mac (16-3) the Creatot gets not exported.

The corresponding code:
[code]
and the generated code:

[code]

I used Mono.Android.Export and already tried everything I found on the internet

[2019-11-18 08:10] Lordinaire commented on #1918
@andrelundin Adding ```-dontwarn org.apache.http.**``` works great in my case, even with an Azure DevOps pipeline.

Hi @jonathanantoine 🤜🏻

[2019-11-18 08:26] grendello commented on #3910
@TheForgetTime Arch support is most likely incomplete in the current `master`, a PR would really be welcome :) Please take a look at [this file](https://github.com/xamarin/xamarin-android/blob/fbe4b44c7b40dcaacdecaed834c631b15490cc52/build-tools/xaprepare/xaprepare/ConfigAndData/Dependencies/Linux.Arch.cs) to see if you can spot anything that's missing

Submodule initialization failure is often a

[2019-11-18 09:48] BalasubramaniSundaram commented on #3905
Hi @pjcollins,

If we change the bridge implementation from Tarjan to old or new it will affect the other things in our application.

Regards,
Balasubramani Sundaram

[2019-11-18 11:03] TheForgetTime commented on #3910
@pjcollins I can't copy any files from my company's computer due to various factors.
So I decided to try it on my PC, this process may take a long time due to network reasons.
I can provide these files after this.

[2019-11-18 11:15] TheForgetTime commented on #3910
@grendello All packages listed in the file have been installed correctly.
The main reason I want to cause file corruption in `.git` is that my country's firewall blocked some files.

For reference to querying and installing missing packages on Archlinux, I referenced the [xamarin-android-git](https://aur.archlinux.org/packages/xamarin-android-git/) package in Aur

[2019-11-18 11:46] TheForgetTime commented on #3910
First apply the xaprepare-arch.patch file in aur/xamarin-android-git
First execution `make prepare-external-git-dependencies`

“/home/auser/xamarin-android/build-tools/xaprepare/xaprepare/xaprepare.csproj”(默认目标) (2) ->
(CoreCompile 目标) ->
  Main.cs(7,12): error CS0234: The type or namespace name 'Options' does not exist in the namespace 'Mono' (are you missing an assembly reference?) [/home/auser/

[2019-11-18 11:58] TheForgetTime commented on #3910
Second execution `make prepare-external-git-dependencies`
Monodroid (https://github.com/xamarin/monodroid/) project cannot be cloned
Skip this step and execute make prepare directly

[2019-11-18 12:17] TheForgetTime commented on #3910
Sorry, the build was interrupted because Corretto JDK could not be downloaded.
The next reply and log will continue after I download to Corretto JDK through various channels.

In fact, the remaining errors are that the nuget package cannot be applied.
I also only performed the following operations.
Remove the nuget package reference and manually add the locally cached assembly in net40(The one in

[2019-11-18 14:05] grendello commented on #3910
@TheForgetTime the `prepare-external-git` target should not be run, it's for internal builds only.

Regarding the other issues you reported so far, I don't see anything we can do on our side as long as your problems revolve around restoring nugets :( We can't remove the nuget references as they are needed for the build and Xamarin.Android to work :(

[2019-11-18 16:03] Cybrosys commented on #3791
Did a quick test with our slowest enterprise hardware where we have an app (Xamarin Android + Mvx) which takes 22 seconds from touching the icon to when the splash screen goes away. Changing the AndroidEnableProfiledAot value makes no difference. On a more modern hardware the app boots up in around 3 seconds regardless of the value as well.

I haven't reviewed what exactly is taking time, maybe it

[2019-11-18 17:54] #3813 closed

[2019-11-19 06:16] PNDTCS opened #3929 "ServicePointManager.ServerCertificateValidationCallback = ValidateServerCertficate; not working"
### Steps to Reproduce

ServicePointManager.ServerCertificateValidationCallback = ValidateServerCertficate;

private bool ValidateServerCertficate(object sender, X509Certificate certificate, X509Chain chain, SslPolicyErrors sslPolicyErrors)
        {

        }
in visual studio 2019 (16.3.9) and xamarin.android 10.0.6.2 ValidateServerCertficate method never gets called. I am hitting "https://" req

[2019-11-19 09:45] hudaIT opened #3930 "Xamarin AndroidX Mediarouter can not build"
I get the following error after updating my **Xamarin.AndroidX.Mediarouter** package to **1.1.0-preview03**

Severity	Code	Description	Project	File	Line	Suppression State
Error		error: OnDynamicRoutesChangedListener is not public in DynamicGroupRouteController; cannot be accessed from outside package
		androidx.mediarouter.media.MediaRouteProvider.DynamicGroupRouteController.OnDynamicRoutesChanged

[2019-11-19 10:28] radekdoulik commented on #3929
This is duplicate of https://github.com/xamarin/xamarin-android/issues/3682

Please use HttpClientHandler.ServerCertificateCustomValidationCallback instead.

[2019-11-19 10:28] #3929 closed

[2019-11-19 10:33] radekdoulik commented on #3923
Please could you attach a sample app to reproduce the issue?

[2019-11-19 10:41] radekdoulik commented on #3922
I see the mono version mentioned in the latest release notes

https://docs.microsoft.com/en-us/xamarin/android/release-notes/10/10.0#mono-framework-version-update-to-64
https://docs.microsoft.com/en-us/xamarin/android/release-notes/10/10.1#mono-framework-version-update-to-66

Are you looking for older versions or do you suggest we should have it mentioned in some file which would be part of the in

[2019-11-19 10:43] PNDTCS commented on #3929
Can you please post here one example how to use it

[2019-11-19 10:54] radekdoulik commented on #3797
Great. Thank you for the information

[2019-11-19 10:54] #3797 closed

[2019-11-19 10:58] dellis1972 commented on #3921
Rather than

[code]

you should just be doing

[code]
I made this change and the application complied without any issues.

If the issue is that this used to work with `aapt` then this is expected. `aapt2` made a number of things that used to be warnings in `aapt`, errors. We are using `aapt2` going forward , so it might be best to update the xml as above.

[2019-11-19 10:58] #3921 closed

[2019-11-19 11:01] joj commented on #3916
Deploy is not supposed to run the application, it just installs it. Run runs it. Unless I'm misunderstanding what the action here is?

[2019-11-19 11:12] akamud commented on #3916
I updated the issue description to be more clear.
I mean the play button used to debug. And just to be clear, that same project deploys and debugs fine on a Windows machine and on another Mac. To me it is clear that there is some problem with the tools/sdk installed on this specific mac, but the logs don’t show anything useful for us to diagnose what the problem is.

[2019-11-19 11:17] joj commented on #3916
That makes sense. Do you have any errors in logcat? The output pad should also show _something_ in it. The Mac that works, is it working with the same device? Some devices are more problematic than others.

[2019-11-19 11:42] akamud commented on #3916
It is the same device. I attached the logcat log file in the original issue, we didn't spot anything that could be helpful.

[2019-11-19 11:43] akamud commented on #3916
We changed the name of the app in the logcat for "myapp" if you want to search for it.

[2019-11-19 11:48] Cybrosys commented on #3682
I thought the recommendation was to use, for iOS the NSUrlSession class and not the HttpClientHandler. For Android the recommendation is to use the AndroidClientHandler.

Has the recommendations changed?

Why is the certificate validation callback on the HttpClientHandler if the recommendation is to not use it on iOS and Android?

[2019-11-19 11:50] joj commented on #3916
The only thing I see with myapp is force stop, which is part of the deploy process and completely normal. I'm seeing some Network errors (below) that could prevent debugging but you're right on the log not showing anything that's too weird. Can you get the Debug output? It should be on the Application Output. Errors:
11-14 18:40:58.519  4855  5195 E ConnectivityService: RemoteException caught tryi

[2019-11-19 12:46] akamud commented on #3916
This happens in my co-work's machine, I'll try to get this today. But from what I remember, there was nothing wrong there either.

[2019-11-19 12:51] PNDTCS commented on #3929
I have added solution provided in #3682 and it works fine. Thanks

[2019-11-19 14:35] jonathanpeppers commented on #3920
@mattleibow is the NetStandard library supposed to be just a "reference assembly" and have no implementation?

It seems like the csproj should have `<ProduceReferenceAssembly>True</ProduceReferenceAssembly>` and you ship the assembly that is output to `bin\Release\netstandard2.0\ref\` in the NuGet? This would cause `[assembly: System.Runtime.CompilerServices.ReferenceAssemblyAttribute]` to be incl

[2019-11-19 14:50] mattleibow commented on #3920
That is true, it _should_ be a reference assembly. But, at the same time, if it is in the `ref` folder, that implicitly means it is a reference assembly - and should never reach the app package.

[2019-11-19 15:16] jpobst commented on #3914
Xamarin just provides access to the native Android APIs to C#, so it is doubtful there is anything that we can do.  This appears to be an issue with the Android API itself.  There is a bug filed with Android that custom fonts are not supported on different versions of Android: https://github.com/android/graphics-samples/issues/16.

You can try filing a bug with them, but I suspect Google will not

[2019-11-19 16:39] radekdoulik opened #3932 "Do not add AOT'ed assemblies with 0 methods added"
When using the profiled AOT, the aot compiler creates the `.so` libraries even for assemblies with 0 methods emitted. Avoiding these should result in a bit smaller apk size (yay) and possibly also better performance as we will not be loading these.

We should either fix aot compiler to not do it or AOT only assemblies in profiles. Another possibility might be to check the verbose output to see how

[2019-11-19 16:58] akamud commented on #3916
We just tried it and the only thing that gets printed on the Application Output is this:

[code]

[2019-11-19 16:59] dellis1972 commented on #3920
This diff *might* help

[code]

[2019-11-19 17:00] joj commented on #3916
That's essentially what I expected. I'll try to get someone here who knows more about the debugger in mac to help.

[2019-11-19 17:03] joj commented on #3916
If you try to start a Release build (that is, without debugging), does that work?

[2019-11-19 18:50] brendanzagaeski commented on #3922
I think what James is looking for is the corresponding desktop Mono Framework MDK version that's in the Visual Studio for Mac updater channel at the same time as each Xamarin.Android release. At some point in the future, Visual Studio for Mac might start providing a page with a history of that information, but as far as I know, at the moment it's not listed anywhere publicly. So for this scenario

[2019-11-20 03:18] jonathanpeppers commented on #3852
@frankbuckley @mickbyrne @thzinc does this problem happen with a File->New Project? If so, can you attach it? Thanks!

I tried just adding this to a template, but it seemed to work for me 😞 :
[code]
I tried using VS 16.3.9 and VS 16.4 Preview.

[2019-11-20 04:37] mickbyrne commented on #3852
No, this didn't happen when we started a fresh project. The issue seems to be triggered by certain code patterns that confuse the linker, in particular when we implemented marked classes as implementing certain interfaces (from 3rd party packages).

For us we managed to trace it all back to a couple of specific commits:

- The `Android.Animation.IAnimatorUpdateListener` <- I'd say this is your bes

[2019-11-20 06:33] BalasubramaniSundaram commented on #3905
Hi @pjcollins ,

Thanks for the help, The provided solution is working fine after we changed to "Old" but we need some details on this after changed to old it will affect any other cause in application-level when we upgrading the mono android level.

Regards,
Balasubramani Sundaram.

[2019-11-20 06:34] BalasubramaniSundaram commented on #3905
Hi @pjcollins,

Could you please update on this?

Regards,
Balasubramani Sundaram.

[2019-11-20 14:59] pjcollins commented on #3905
It's possible that changing GC options will result in some sort of impact on the performance of your application, though you may not notice any differences. Here's some documentation that may be of use if you do experience any extra or longer GC pauses after switching - https://docs.microsoft.com/en-us/xamarin/android/internals/garbage-collection#helping-the-gc

[2019-11-20 15:27] daniels7 commented on #3892
@jonathanpeppers Do you have an idea on how to fix the AOT-Crashes?

[2019-11-20 17:21] radekdoulik opened #3939 "migrate Jenkins plots to Azure"
We will need to migrate the [plots](https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android/plot/) from Jenkins to devops.

I started looking into that and it looks like the [Azure Time series insights](https://azure.microsoft.com/en-us/services/time-series-insights/) might be a way to go.

Hopefully we will be able to upload the data to it through http(s) and use its nice charts

[2019-11-20 22:10] #3841 closed

[2019-11-21 08:37] wolpers commented on #3675
Any Update on when this appears in a release? We want to release our app but prefer to work with the Release update channel, and this bug breaks our app.

[2019-11-21 10:31] tranb3r commented on #3817
Still not fixed in visual studio 16.4.0-pre.5.0

[2019-11-21 14:21] jonathanpeppers commented on #3675
@wolpers a workaround would be to use `<AndroidUseAapt2>False</AndroidUseAapt2>` until 16.4 hits stable. I don't think there are public release dates for Visual Studio.

[2019-11-21 14:22] jonathanpeppers commented on #3892
Sorry @daniels7 we will need someone on the Mono team to investigate, I'll get someone to take a look.

[2019-11-21 14:35] jonathanpeppers commented on #3761
@Tonislau let us know if you can send a build log and we can reopen, thanks!

[2019-11-21 14:35] #3761 closed

[2019-11-21 14:36] jonathanpeppers commented on #3755
@llzz19851985 can you attach a small sample project that reproduces the issue?

[2019-11-21 16:05] jonathanpeppers commented on #3892
@daniels7 can you reproduce the issue in a small project and upload it here? The Mono team will need that to investigate.

[2019-11-21 16:17] daniels7 commented on #3892
@jonathanpeppers That'll be a bit difficult since the Crash is just reproducible if you upload the App to Google Play nd download it through the store so I'd have to create a new App just for this including store entry etc.

[2019-11-21 16:21] zawodskoj opened #3944 "Socket.ConnectAsync() task is never completed"
### Steps to Reproduce

1. Download project from https://github.com/zawodskoj/WtfSockets
2. Replace hostname and port at MainActivity.cs, line 28
` var (host, port) = ("192.168.108.101", 11883);`
3. Run app with normal network connection
4. Press both buttons and see "Ok"
5. Turn off network
6. Press both buttons

Sync version will fail (ReceiveTimeout/SendTimeout)
In async version, Task will not

[2019-11-21 16:46] cjrvdev commented on #1218
Exact same error message brendan mentions in #3367 here. Also using Hybrid mode. Any idea on when is this going to be fixed please?

[2019-11-21 17:17] XavierAP opened #3946 ""fast deploy" can't recover from uninstall"
### Steps to Reproduce
1. Start with a Debug configuration. There may be many combinations between debug/release and several project deploy options (detailed at next point).
1. Enable (or leave enabled as default) project settings > Android options > packaging properties > "Use Shared Runtime"; "Use Fast Deployment (debug mode only)"; and "Use incremental Android packaging system".
1. Deploy an An

[2019-11-21 17:18] XavierAP commented on #3946
I'm not sure if this can be duplicate or related to #1555.

[2019-11-21 17:18] XavierAP commented on #3946
In any case

[2019-11-21 20:18] akamud commented on #3916
In release the same behavior is seen: everything builds and deploys fine, but the app won't open automatically.

[2019-11-21 23:27] ihorbond opened #3948 "Setting android layout editor to wear round 454x454 causes unrecoverable error"
### Steps to Reproduce

1. Launch visual studio 2019
2. Create a new android wear app (xamarin)
3. Open the activity_main.xml
4. Select device wear round 454x454

### Expected Behavior
Designer renders selected device
### Actual Behavior
Exception is thrown
System.InvalidOperationException: Resource not found: wear-frame-round-454.png
   at Xwt.Backends.ImageBackendHandler.LoadFromResource(Assembl

[2019-11-22 02:01] jpobst commented on #3944
This looks like the same as https://github.com/mono/mono/issues/17407.  Can you try the most recent 16.4 Preview and see if the issue goes away?  Alternatively there is a different usage pattern listed in that issue that should work on 16.3.

https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview

[2019-11-22 02:24] mailfcly opened #3949 "X509Certificate.CreateFromSignedFile throw exception"
### Description
Build code with Xamarin forms. Test it with Android.
"X509Certificate.CreateFromSignedFile" throw exception in vs2019.
But it is OK in vs2017.

### Test code
[code]

### Exception
[code]

[2019-11-22 02:47] lesterbotello commented on #2747
Hi all.

Just a follow up on this issue. After a lot of debugging, we managed to track our issue to a call to `PostAsJsonAsync()`. For some reason we couldn't figure out, this was messing up with the request. We got it fixed by serializing the request data using Json.NET and sending it as "application/json" using good-old `PostAsync()`

[2019-11-22 09:00] CSkoubo commented on #3898
I am seeing similar issue on our on prem azure devops system. Strangely i can make it work if i use default nuget restore folder. However if i in the Nuget Restore step change the "destination folder" i am no longer able to build, and receive above error and warnings. This happens for multiple references. I will try and make a demo project. However our system is very complex, and i might not be ab

[2019-11-22 15:15] jonathanpeppers commented on #3898
@CSkoubo what are you doing to change the NuGet restore folder? Can you post an example? I can try that.

[2019-11-23 01:53] brendanzagaeski commented on #3946
Thanks for the report and the detailed steps to reproduce! This behavior should be resolved by the fix for <https://github.com/xamarin/xamarin-android/issues/3727>. Barring unexpected complications, that fix will be included in the upcoming Visual Studio 2019 version 16.5 Preview 1.

I will close this item as a duplicate of <https://github.com/xamarin/xamarin-android/issues/3727> for further track

[2019-11-23 01:53] brendanzagaeski commented on #3946
Duplicate of #3727

[2019-11-23 01:53] #3946 closed

[2019-11-23 02:19] brendanzagaeski commented on #3948
Thanks for the report! The team is investigating this issue in Visual Studio Developer Community:

https://developercommunity.visualstudio.com/content/problem/718384/xamarin-android-designer-after-select-specific-dev.html

If you get a chance, you can upvote that item to let the team know you're seeing the same problem too.

I'll close this GitHub issue to satisfy the automated tooling (xamarin-re

[2019-11-23 02:21] #3948 closed

[2019-11-23 04:59] brendanzagaeski commented on #3949
Thanks for the report! It looks like this problem has been resolved by the fix for <https://github.com/mono/mono/issues/14721>.

I tested the following code:

[code]

### Behavior on Visual Studio 2019 version 16.3.10 with Xamarin.Android 10.0

The call to `CreateFromSignedFile()` failed with the *\`MonoBtlsPkcs12.Import\` failed* message.

### Behavior on Visual Studio 2019 version 16.4 Preview 5

[2019-11-23 04:59] brendanzagaeski commented on #3949
*Release status update*

A new Preview version has now been published that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4 Preview 5. To try the Preview version that include

[2019-11-25 04:52] brendanzagaeski opened #3953 "When Use Fast Deployment is enabled, switching back and forth between two Visual Studio versions to run the same app only redeploys the Mono Shared Runtime on the *first* deployment after the solution is opened"
I believe that switching back and forth like this between two Visual Studio versions running side by side with a single app is probably a rare enough edge case that this issue can be closed as a known limitation, but I wanted to file it to record the info.

When I was working on adding the caching for `<InstallPackageAssemblies/>`, I realized I was introducing a limitation related to checking the

[2019-11-25 10:38] aliriomendes opened #3954 "AndroidClientHandler doesn't forward cookies on redirect"
### Steps to Reproduce

1. Execute this code:
[code]
I pulled in the code(AndroidClientHandler) to debug:
[code]
If I change the code to the one bellow the redirect and file download works perfectly
[code]

### Expected Behavior
The cookies are set on redirect and the file is downloaded correctly
### Actual Behavior
The cookies are not set on redirect and, after a series of redirect, we end up dow

[2019-11-25 17:06] aliriomendes commented on #3954
In my specific case Sharepoint redirect to a new url together with a FedAuth cookie. On iOS and UWP I'm using NSUrlSessionHandler and WinHttpHandler  respectively, this workflow works fine.

[2019-11-25 17:47] pjcollins commented on #3836
I tried this again today with the latest 16.3.10 version of VS 2019 and was still unable to reproduce with a new Xamarin Forms app after adding the NuGet packages listed above. I also tried to modify a project with a custom application class as it looks like your app is doing the same, but my AndroidManifest was constructed correctly with that project as well.

If you're unable to upload a repro,

[2019-11-25 17:59] pjcollins commented on #3835
I'm glad that the workaround is working at least.

@joj is this something we have some control over? It looks like [our targets](https://github.com/xamarin/xamarin-android/blob/bbd034fc9e7e3f2911a1de54fc1519a6727cfa15/src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets#L210) control fastdev behavior by checking the `Optimize` property (if neither of the two relevant properties are set e

[2019-11-25 18:02] joj commented on #3835
We don't control the new configurations at all, and also I'm not sure we actually know where that new configuration was a copy of. OTOH, a copy should have the Optimize set. Can you (@acaliaro or @pjcollins) add a suggestion in developer community so we can track it and see if there's anything we can do about it? Thanks!

[2019-11-26 00:21] SachinCS1992 opened #3961 "The "GenerateResourceDesigner" task failed unexpectedly with NullReferenceException"
### Steps to Reproduce

1. Create a Xamarin.Forms project that references a custom .NETStandard library and an SDK extras project
2. Try to build the Xamarin.Forms Android platform project
3. Android build fails with the above error message.

### Expected Behavior
Build XF Android project without errors

### Actual Behavior
XF Android fails to build with the above error

### Version Information
Re

[2019-11-26 00:23] SachinCS1992 commented on #3961
Probably unrelated, but just for reference the exception from the build log is on the same method as the file changed recently on [this commit](https://github.com/xamarin/xamarin-android/commit/15e942ed1bda263ff4cdddbf1a4d99cdcc10271e#diff-45ffe90851907e18e64026545cf07e2b).

[2019-11-26 07:23] grendello commented on #3961
@SachinCS1992 can you attach a full, verbose level, build log for the crash you're seeing? If you can, a binary log would be best. You can get the binary log by opening the VS developer prompt, changing the directory to your project's top folder and issuing the following command:

[code]

This will produce the `msbuild.binlog` to attach here. Thanks!

[2019-11-26 10:15] SachinCS1992 commented on #3961
@grendello I have a binlog file generated but the file type is not supported by Github for attachment! I've sent an email to the address on your profile, let me know if you require any more info.

[2019-11-26 10:24] SachinCS1992 commented on #3961
I have attached a diagnostic build log which might also help.

[Output-Build.txt](https://github.com/xamarin/xamarin-android/files/3891276/Output-Build.txt)

[2019-11-26 10:25] SachinCS1992 commented on #3961
I have attached a diagnostic build log however, which might help everyone.

[Output-Build.txt](https://github.com/xamarin/xamarin-android/files/3891280/Output-Build.txt)

[2019-11-26 11:12] grendello commented on #3961
[msbuild.binlog.zip](https://github.com/xamarin/xamarin-android/files/3891528/msbuild.binlog.zip)

@SachinCS1992 GitHub is picky regarding file extensions :) I've attached your binlog above, zipped-up. Thanks!

[2019-11-26 11:29] matheussouza97 opened #3962 ""Uncompressed resource extensions" not working properly with aapt2 enabled."
### Steps to Reproduce

1. Add asset with extension .tflite .
2. Add the extension on "Uncompressed resource extensions".
3. Try open asset.

![Screenshot at Nov 26 08-23-08](https://user-images.githubusercontent.com/14929125/69625754-0b250a80-1026-11ea-9cb5-71c57591e86b.png)

Project sample [sample.zip](https://github.com/xamarin/xamarin-android/files/3891596/sample.zip)

### Expected Behavior

L

[2019-11-26 12:17] radekdoulik opened #3963 "Add new task to watch logcat output and wait for activity displayed"
The task would wait for activity manager reporting that the launcher activity was displayed.

It will also have a timeout as a parameter as the activity displayed message is not reliable.

[2019-11-26 12:38] thisdarktao commented on #3822
This same issue occurred for me after updating the Android SDK, however deleting `bin` and `obj` folders in the Android project solved the problem.

[2019-11-26 16:38] jonathanpeppers commented on #3961
Can you zip and upload this project? [MSBuild.Sdk.Extras](https://github.com/onovotny/MSBuildSdkExtras) specifically causes the issue? The File -> New template definitely works for me.

[This commit](https://github.com/xamarin/xamarin-android/commit/15e942ed1bda263ff4cdddbf1a4d99cdcc10271e#diff-45ffe90851907e18e64026545cf07e2b) won't be the issue, as it probably won't ship for months. It would be

[2019-11-27 10:07] SachinCS1992 commented on #3961
Having spent some more time digging into this, it seems like there's something wrong with my MsBuild.Sdk.Extras project definition. I have custom layouts defined within Android and is being consumed **from** Resource.Designer.cs by some of the consumer classes. I have attached a sample of my SDK.Extras project definition, which is being used as a package reference from my XF.Android project.

[MsB

[2019-11-27 10:18] dellis1972 commented on #3962
This was fixed in the following commit https://github.com/xamarin/xamarin-android/commit/d20a991f403b7daa0b9be6d05db731b689d68833.

The reason this didn't work for you is because you need to include the period `.` in the file extension.
So `.tflite` rather than just `tflite`. Doing so means the resulting asset will be stored as you can see from the output below.

[code]

[2019-11-27 11:41] dellis1972 commented on #3962
Note this is just the way `aapt2` expects the parameter. I'll look at adding a fix which will prepend the `.` if it's not present.

[2019-11-27 13:10] kvpt commented on #3761
I also encounter this issue since a long time.
I think it is easy to reproduce.
For my case, I have a NetStandard project with a reference to Microsoft.CSharp (because I have to catch RuntimeBinderException from Json.Net).
And I reference this project in the Android project.
In this case when the Android project build, MsBuild report a warning MSB3277.

[2019-11-27 14:04] inforithmics commented on #3930
I have the same problem (with Androidx Migration)

[2019-11-27 14:19] matheussouza97 commented on #3962
I tried the two ways and didn't work. But is good know it is already fixed.

Thanks.

[2019-11-27 22:16] jpobst commented on #1319
If `<AndroidClassParser>` is not specified `jar2xml` is used.

Using VS 16.3.10 I verified:
* A new binding project contains `<AndroidClassParser>class-parse</AndroidClassParser>`
* Changing to `jar2xml` in the property page updated the csproj
* Changing back to `class-parse` in the property page updated the csproj
* Loading a project with no `<AndroidClassParser>` specified shows `jar2xml` in the

[2019-11-27 22:16] #1319 closed

[2019-11-28 00:06] KNSSoftware opened #3970 "No Launchable Activity even though it's set"
Even though MainLauncher is set as follows:

[Activity(Label = "AppName", Icon = "@drawable/Icon", Theme = "@style/MainTheme", MainLauncher = true, ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation)]
    public class MainActivity : global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity

I get:

    No Launchable Activity: This project does not contain any activitie

[2019-11-28 04:58] pellet opened #3971 "Xamarin.Forms currently is tied to the lifecycle of an the MainActivity. This means if that activity is destroyed in anyway (OS kills it, etc) the app "restarts" and offers no way to handle this behavior or restore state."
Bringing this open ticket over from the xamarin forum since it is still an issue and getting constant crashes on xamarin forms 3.5.
Previous discussion about the same issue was here:
https://forums.xamarin.com/discussion/90940

### Steps to Reproduce

1. Swipe down top nav bar while app is open.
2. Use buttons to change song playing.
3. Go back into app.

### Expected Behavior

### Actual Behavior

[2019-11-28 07:02] pellet commented on #3971
I managed to fix this three year old bug in our app by doing the following:
[code]
Previously we would assign the mainpage in the constructor of the app class however on second time around of the MainActivity being created the constructor would not get called and therefore the mainpage would not be reassigned, this would cause a MasterDetailPageRenderer crash or a white screen.  Assigning/re-assig

[2019-11-28 07:06] pellet commented on #3971
Closing this issue since it is actually a xamarin forms issues, here is a link: https://github.com/xamarin/Xamarin.Forms/issues/8698

[2019-11-28 07:06] #3971 closed

[2019-11-28 11:42] dellis1972 commented on #3970
@KNSSoftware are you able to provide a sample project to repo the issue? Or at the very least you're AndroidManifest.xml file from both your project AND the one generated in the intermediate output path (ob\Debug\android\AndroidManifest.xml). We need to figure out why the launcher is not be auto generated and added to the manifest. The Activity attribute should be handling that.

[2019-11-28 12:45] aquakul commented on #3808
Any update on when  this will be available ? Any alternate till then ?

[2019-11-28 13:47] KNSSoftware commented on #3970
@jonathanpeppers I could provide my real life project, but it would have to be provided in private and remain so, and not openly on github (if this a way forward, let me know how).  I can't make a new project suddenly 'repro' this issue, and I have moved other apps from VS2015 to VS2019 without issue, but my punt would be something about specific projects that were created and work in 2015 that su

[2019-11-28 14:16] tranb3r commented on #3817
Still having the same error with xamarin.androidx.migration\1.0.0-preview06 and Visual Studio 16.4.0-pre.6.0.
@Redth Is this issue being investigated ? I hope it will be fixed in Visual Studio 16.4.0 stable release. Thanks

[2019-11-28 14:56] Redth commented on #3817
@tranb3r do you have a repro solution you can share? I can't reproduce the same errors here, everything works great with r8/d8/linker sdk only with the latest AndroidX packages.

[2019-11-28 23:20] Redth commented on #3930
This should now be fixed in the latest preview.

[2019-11-29 03:10] brendanzagaeski commented on #3637
*Cross-referencing note*

<https://github.com/xamarin/xamarin-android/pull/3685> is closely related. That pull request changes the handling of these `jarsigner` messages to surface them as informational messages instead of warnings. That change is included in Visual Studio 2019 version 16.4 Preview 3 and higher.

[2019-11-29 03:35] brendanzagaeski commented on #3423
*Cross-referencing notes for the team*

The behavior of this scenario is improved in Visual Studio 2019 version 16.4 Preview by <https://github.com/xamarin/xamarin-android/pull/3609>. In that version, the error message no longer starts with the misleading mention of FilterAssemblies.

The behavior is fully fixed in the d16-5 development builds by <https://github.com/xamarin/xamarin-android/pull/37

[2019-11-29 07:49] hudaIT commented on #3930
When you mean 1.1.0-preview06 than it is not. :/

[2019-11-29 10:13] dellis1972 commented on #3808
@aquakul sorry for the delay. It took some time to figure out how to do what is needed using the CodeDom. I think I have a solution now, I'll be putting up a PR today hopefully. Unfortunately the only workaround for now is to not use the Aliases feature, since the Resource.Designer.cs code generator is part of our build process.  This Issue will be updated when the PR is opened.

[2019-11-29 13:10] dellis1972 commented on #3808
PR is up at https://github.com/xamarin/xamarin-android/pull/3972

[2019-11-29 13:53] aquakul commented on #3808
@dellis1972  Thanks Dellis for the update. For now I have moved all my resources to a different Android lib project and added that as a dependency in my primary project. That I get to keep my alias (which i need to avoid conflicting symbols in multiple dll's ) and also has the resources.

[2019-11-29 13:56] leonluc-dev opened #3973 "C# 8 DIM feature crashes app when enabling linker"
The [Default Interface Methods ](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#default-interface-methods) feature in C# 8.0 seems to crash the app when linking is enabled.

### Steps to Reproduce

1. Enable linking and C# 8.0 by setting `<AndroidLinkMode>SdkOnly</AndroidLinkMode>` and `<LangVersion>8.0</LangVersion>` in the project settings
2. Add an default implementation to a

[2019-11-29 15:13] radekdoulik commented on #3973
Could you please attach small sample project which reproduces the issue?

[2019-12-01 01:08] Bustillox commented on #3622
Same here

[2019-12-02 08:03] zawodskoj commented on #3944
I tried latest 16.4 Preview - problem is still there

VisualStudio.16.Preview/16.4.0-pre.6.0+29519.161
Xamarin   16.4.000.305 (d16-4@a9ec5d9)
Xamarin.Android SDK   10.1.0.30 (d16-4/5e2fd06)

[2019-12-02 10:44] zawodskoj commented on #3944
I just removed all of VS instances and reinstalled preview - and now it works

[2019-12-02 15:33] leonluc-dev commented on #3973
I have created a repro project showcasing two issues with default implementations: [LinkCrashRepro.zip](https://github.com/xamarin/xamarin-android/files/3911939/LinkCrashRepro.zip)

1. The first issue occurs even when the linker is disabled. Whenever the code calls a default interface method that doesn't have an overriding implementation in a class implementing it it will crash with a `java.lang.A

[2019-12-02 17:34] jonathanpeppers commented on #3970
@KNSSoftware can you share the APK file with the issue?

A [diagnostic MSBuild log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) would also help, thanks!

[2019-12-02 17:54] jonathanpeppers commented on #3761
@kvpt can you file a new issue with a small sample project, thanks!

[2019-12-02 18:11] KNSSoftware commented on #3970
@jonathanpeppers  As requested:

[Output-Build.txt](https://github.com/xamarin/xamarin-android/files/3912643/Output-Build.txt)

[APK.zip](https://github.com/xamarin/xamarin-android/files/3912657/APK.zip)

[2019-12-02 19:43] jonathanpeppers commented on #3970
Reviewing this APK, the manifest has no activities listed at all. Is `MyActivity.cs` added to the project?

I don't see it in the build log or the decompiled assembly?

![image](https://user-images.githubusercontent.com/840039/69989664-b7c12980-1509-11ea-87a3-10eb7e81c50a.png)

[2019-12-02 20:07] KNSSoftware commented on #3970
Ah, sorry, the original error was not logged by me, but another user on a different forum.  Mine is exactly the same, so as they worded the issue so well, I copied their whole OP.  I should have removed/changed the activity class they had made.  Mine does have over 50 activities, but not one called that.

As the original issue regards the error "no launcher activity" set, and the APK the debugger

[2019-12-02 20:15] KNSSoftware commented on #3970
Sorry did not mean to close it (not sure how I even did it).

[2019-12-02 21:55] jonathanpeppers commented on #3970
What .NET assembly and activity/class name should I be looking for?

[2019-12-02 23:35] KNSSoftware commented on #3970
What do you mean in terms of .Net assembly?  All of the activities reside in the main assembly, so are not referenced into the project, if that is what you mean.  enidata25 is the root, and the activity with the MainLauncher attribute is called 'actSplash'.  Hopefully I have not misunderstood what you need to know.

[2019-12-03 02:53] brendanzagaeski commented on #3962
In case it might be useful to mention, the release status of the original fix from https://github.com/xamarin/xamarin-android/commit/d20a991f403b7daa0b9be6d05db731b689d68833 can be tracked in the corresponding issue <https://github.com/xamarin/xamarin-android/issues/3675>.

In short, with Visual Studio 2019 version 16.4 (currently in Preview), **Uncompressed resource extensions** will work success

[2019-12-03 09:52] kvpt opened #3980 "Warning MSB3277 on Microsoft.CSharp when building"
### Steps to Reproduce
1.  Build the following project : [WarningCsharpRepro.zip](https://github.com/xamarin/xamarin-android/files/3915909/WarningCsharpRepro.zip)
2.  Msbuild output warning MSB3277

### Expected Behavior
Solution build without warning

### Actual Behavior
Solution build with a warning

### Version Information
Microsoft Visual Studio Enterprise 2019
Version 16.3.10
VisualStudio.16.

[2019-12-03 14:49] jonathanpeppers commented on #3970
So if you look at my screenshot: https://github.com/xamarin/xamarin-android/issues/3970#issuecomment-560550573

`enidata25.dll` only has 1 class named `Class1`, looking further it is a Portable Class Library.

Do you have two assemblies named the same? One is a PCL and one is a Xamarin.Android app containing your `MainActivity`?

[2019-12-03 14:51] jonathanpeppers commented on #3834
@dsaf let us know if you get more info, closing for now as we haven't heard back in a while, thanks!

[2019-12-03 14:51] #3834 closed

[2019-12-03 15:05] KNSSoftware commented on #3970
Yes there is an unused PCL, that I left from creating as a shared project (I left it just in case i was going to make an iOS version, so was ready to shift code into shared).  It is called 'enidata25'.  I am not sure which field is being used as the assembly name for the android project, as it is not so clear:

[assembly: AssemblyTitle ("enidata25.Android")]
package="uk.co.enidata.enidata25"
andro

[2019-12-03 15:32] KNSSoftware commented on #3970
Just for completeness, I removed the reference to the PCL, and rebuilt the xamarin.Android app containing my MainActivity;

[Output-Build.txt](https://github.com/xamarin/xamarin-android/files/3917364/Output-Build.txt)
 the same issue persists.  Please see new log and APK for evidence/information.

[APK.zip](https://github.com/xamarin/xamarin-android/files/3917375/APK.zip)

[2019-12-03 16:07] jonathanpeppers commented on #3970
`enidata25.dll` in this new APK is still a PCL, and I'm not finding `enidata25.Android.dll`?

Can you change this value in your `.csproj` file?

[code]

[2019-12-03 17:32] KNSSoftware commented on #3970
OK here is what happened:

Based on your comment, I re-checked “Manage References” and the dependency was gone, however there was still a reference under the 'References' folder.  I removed this manually, as well as the actual PCL, which I was not using anyway.  It still did not fix the problem.

I manually changed the .csproj file as you requested, and it broke things.  It did however highlight t

[2019-12-03 21:28] jonathanpeppers commented on #3970
So I'm not sure how this would work in 2015 either...

Your .NET assemblies are _inside_ the APK at `assemblies/`. Which one is used at runtime? Who knows? It is probably just "lucky" that it somehow worked in 2015?

We should probably add some kind of an error message for this scenario.

[2019-12-03 22:01] brendanzagaeski commented on #3922
All set. I added this for today's release as well as for two older versions Xamarin.Android 10.0 and Xamarin.Android 9.4.1.0.

(The current Xamarin.Android 10.2 Preview is not yet published on macOS, so I didn't yet add a Mono Framework MDK version there. I'll take care of that once it is published.)

[2019-12-03 22:01] #3922 closed

[2019-12-03 22:31] andrewleader opened #3986 "App doesn't load correctly when using LLVM on x86_64"
### Steps to Reproduce

(Note my source code is [all open source](https://github.com/powerplanner/powerplannerapps))

1. Install [this AAB](https://1drv.ms/u/s!An_saCE0rBx9q6lSSG6EyFqP0BPxzQ?e=XJXNhW), which was compiled using LLVM and compiled for x86_64 (and all the other ABIs) onto a **x86_64** emulator (important that it's an x86_64 emulator, works fine on all other ABIs)
2. Launch the install

[2019-12-03 22:58] KNSSoftware commented on #3970
In case you are as curious as me, I have attached the diagnostics log and APK from 2015.  Maybe 2015 builds the projects in a slightly different order or even any async building you may have added, coupled with maybe first/last project to build 'win' and makes it as the assembly to be included??

[APK.zip](https://github.com/xamarin/xamarin-android/files/3919079/APK.zip)
[Output-Build.txt](https:/

[2019-12-03 23:19] andrewleader commented on #1842
Oddly enough I'm not hitting this specific issue anymore on a Hello World project... I'm running Windows, VS 16.3.9, with Xamarin.Android 10.0.6.2, and the latest Android NDK (20.1.5948944). App built with AOT+LLVM and compiled for x86_64 deployed to an x86_64 emulator is working fine.

However, I am facing issues with a more complex (real) app with otherwise the same setup, as described in #3986.

[2019-12-04 00:42] jhakulin opened #3989 "Crash with Android x86 emulator and Microsoft CognitiveServices Speech Xamarin quickstart"
### Steps to Reproduce

1.  Download Microsoft.CognitiveServices.Speech SDK helloworld Xamarin quickstart from https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/csharp/xamarin
2.  Build the solution and start debugging it on Android x86 emulator
3.  After app is launched, press "Enable Microphone" button and agree with consent and then press "Start Speech Recogn

[2019-12-04 01:09] brendanzagaeski commented on #3949
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 01:20] brendanzagaeski commented on #3513
I'll aim to raise a question with team about whether there are plans to enable the Linux continuous build job again in the future.

For the moment, I'll add an update for the Windows and macOS packages.

*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this

[2019-12-04 01:44] brendanzagaeski commented on #3407
*Release status update*

A new Release version has now been published that includes the fix for this item.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new version that includes the fix, [check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) or install the latest versio

[2019-12-04 01:51] brendanzagaeski commented on #2711
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 01:53] brendanzagaeski commented on #3091
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 01:59] brendanzagaeski commented on #1240
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:00] brendanzagaeski commented on #2023
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:01] brendanzagaeski commented on #2848
*Release status update*

A new Release version has now been published on that includes the fix for this item.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new version that includes the fix, [check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) or install the latest ver

[2019-12-04 02:01] brendanzagaeski commented on #2957
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:04] brendanzagaeski commented on #3370
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:05] brendanzagaeski commented on #3477
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:06] brendanzagaeski commented on #3547
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:07] brendanzagaeski commented on #3562
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:07] brendanzagaeski commented on #3571
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:10] brendanzagaeski commented on #3635
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:11] brendanzagaeski commented on #3675
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:15] brendanzagaeski commented on #3779
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:15] brendanzagaeski commented on #3807
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:19] brendanzagaeski commented on #3626
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:20] brendanzagaeski commented on #3348
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:21] brendanzagaeski commented on #3373
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:21] brendanzagaeski commented on #3498
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:22] brendanzagaeski commented on #3596
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:22] brendanzagaeski commented on #3598
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:23] brendanzagaeski commented on #3751
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:25] brendanzagaeski commented on #3180
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:25] brendanzagaeski commented on #3508
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:26] brendanzagaeski commented on #3426
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The fix is not yet published in a Release version on macOS. I will update this item again when a Release version is available on macOS that includes the fix.

Fix included in Xamarin.Android 10.1.0.30.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new vers

[2019-12-04 02:40] #3808 closed

[2019-12-04 03:11] brendanzagaeski commented on #3423
*Release status update*

A new Preview version has now been published on Windows that includes the fix to produce the standard *Metadata file ... could not be found* error message for this scenario. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

The fix is not yet available on macOS. I will update this ite

[2019-12-04 03:12] brendanzagaeski commented on #3727
*Release status update*

A new Preview version has now been published on Windows that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

The fix is not yet available on macOS. I will update this item again when a Preview version with the fix is available on macOS.

Fix included

[2019-12-04 03:14] brendanzagaeski commented on #3849
Thanks for this issue report and the fix!

*Release status update*

A new Preview version has now been published on Windows that includes the fix for this item. The fix is not yet included in a Release version. I will update this item again when a Release version is available that includes the fix.

The fix is not yet available on macOS. I will update this item again when a Preview version with th

[2019-12-04 10:08] onetreba opened #3990 "App fails to start on Android 4.0.3 when built on Xamarin.Android SDK 10"
### Steps to Reproduce

1. Build and deploy solution
2. Run app
3. App closes after start

https://docs.microsoft.com/ru-ru/samples/xamarin/monodroid-samples/helloworld/

### Expected Behavior
Application starts

### Actual Behavior
Application closes

### Version Information

Microsoft Visual Studio Enterprise 2019
Version 16.3.10
VisualStudio.16.Release/16.3.10+29519.87
Microsoft .NET Framework

[2019-12-04 12:01] jitendrajadav commented on #3571
I have still this issue please check
here is the log:

`1>------ Rebuild All started: Project: KegID, Configuration: Release Any CPU ------
1>ViewModel\BaseViewModel.cs(84,35,84,50): warning CS1998: This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or 'await Task.Run(...)' to do CPU-bound work on a background

[2019-12-04 14:39] jonathanpeppers commented on #3571
@jitendrajadav can you file a new issue with a [diagnostic MSBuild log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)? Thanks!

The log is truncated, so no way to tell what the actual error is.

[2019-12-04 15:33] leonluc-dev commented on #3973
After updating Visual Studio and Xamarin.Android the issues appear to be solved.

[code]

[2019-12-04 15:33] #3973 closed

[2019-12-04 19:02] plynkus commented on #3675
I'm still seeing the issue described originally above (mix of stored vs. deflated despite both extensions in play) under 10.1.0.30.   I'll try and get additional information.

[2019-12-04 19:38] jonathanpeppers commented on #3675
@plynkus could you be hitting? https://github.com/xamarin/xamarin-android/pull/3968

Do your list of extensions have a `.` character included?

[2019-12-04 19:38] plynkus commented on #3675
Confirmed that this still does not appear to be fully fixed.

[DeflatedAssets3675.zip](https://github.com/xamarin/xamarin-android/files/3923603/DeflatedAssets3675.zip)

I've attached a simple project that has the conditions originally described (multiple extensions set for raw storage).

After building under 10.1.0.30, with ```AndroidUseAapt2``` set to ```true``` (the default)...

[code]

...where

[2019-12-04 19:50] jonathanpeppers commented on #3675
@dellis1972 you should try this ^^

It's weird it seems like it doesn't like the `.xyz` extension and aapt(1) works???

[2019-12-05 02:53] #3792 closed

[2019-12-05 07:51] radekdoulik commented on #3912
Implemented by https://github.com/xamarin/xamarin-android/pull/3974

[2019-12-05 07:51] #3912 closed

[2019-12-05 07:51] radekdoulik commented on #3845
Implemented by https://github.com/xamarin/xamarin-android/pull/3974

[2019-12-05 07:51] #3845 closed

[2019-12-05 09:40] cschwarz opened #3993 "You uploaded an APK or Android App Bundle with invalid or missing signing information"
### Steps to Reproduce

1. Update Visual Studio to 16.4
2. Build and package the app as Android App Bundle
3. Upload the app to Google Play Store

### Expected Behavior

Should upload and validate the package successfully.

### Actual Behavior

Upload Fail

You uploaded an APK or Android App Bundle with invalid or missing signing information for some of its files. You need to create a valid signed

[2019-12-05 09:46] andreas-gabriel commented on #3622
Same here

[2019-12-05 10:41] dellis1972 commented on #3675
The docs for aapt2 say
[code]

which suggests we are passing it the correct arguments (in this case `-0 .artifacts -0 .xyz`. It kinda hints that this might be an issue in aapt2 itself. I'll see if I can repo the issue directly with aapt2.

[2019-12-05 11:38] dellis1972 commented on #3675
we are passing the correct arguments to `aapt2` in the case of the `-0 .artifacts -0 .xyz`. It looks like `aapt2` is finding the first period (.) and then using the remaining text as the extension. So to get this to work in that case you need to use

[code]

Which is weird and odd behaviour. But its within aapt2 itself. So there isn't much we can do about that particular case :/

[2019-12-05 13:22] albrecht-jun-zhang commented on #3714
Deleting bin and obj folders works for me

[2019-12-05 16:06] plynkus commented on #3675
Good catch.   Specifying full compound extensions will certainly work for us.   Thanks again for the overall fix.

[2019-12-05 16:22] jpobst opened #3994 "Async hang using WCF"
Original report: https://developercommunity.visualstudio.com/content/problem/822265/xamarin-android-wcf-exception-issue-under-vs-2019.html

Given the following minimal representation of a WCF service client that Visual Studio generates:

[code]

### Actual Behavior
Calling it like this hangs an Android app (tried on 16.4 and 16.5 P1):
[code]

The exception is never returned to the user and nothing

[2019-12-05 17:08] jpobst commented on #3944
Great! Glad you got it working!

[2019-12-05 17:08] #3944 closed

[2019-12-05 17:08] #3914 closed

[2019-12-05 19:06] pjcollins commented on #3993
I just rolled out a dummy test app to alpha that was rebuilt/signed with 16.4, and the play store has accepted it. How are you packaging/signing your `.aab`? My project file has keystore information set in the Release configuration, so I ran the following:
[code]

It looks like Google requires you to enable "App Signing by Google Play" in order to publish an App Bundle. Which process did you take

[2019-12-05 19:35] cschwarz commented on #3993
My build script is using the following parameters:

`msbuild <csproj> /p:Configuration=Release;AotAssemblies=true;AndroidPackageFormat=aab;AndroidKeyStore=true;AndroidSigningKeyAlias=<alias>;AndroidSigningKeyPass=<keypass>;AndroidSigningKeyStore=<store>;AndroidSigningStorePass=<storepass>;OutputPath=<outputpath> /t:Clean,Build,SignAndroidPackage`

App Signing by Google Play is activated. We are us

[2019-12-05 19:52] Digifais commented on #2993
@radekdoulik Can confirm this isn't fixed with the latest preview on VS for Mac as mentioned in #3626

[2019-12-05 20:08] jonathanpeppers commented on #3993
@cschwarz one test would be to try an APK (`AndroidPackageFormat=apk` or use default value). Does Google Play accept the APK in that case?

[2019-12-05 20:31] radekdoulik commented on #2993
@Digifais could you please attach project which reproduces the problem? what preview version do you use?

[2019-12-05 20:31] cschwarz commented on #3993
APK works fine (had to disable AOT because of the 100MB limit).
Also tested AAB without AOT, but it still fails.

[2019-12-05 20:58] pjcollins commented on #3990
Unfortunately this is somewhat expected. The lowest 32-bit version of Android supported by Xamarin.Android is determined by the Android NDK that we build against. Xamarin.Android has been building against NDK r20 for some time, and as a result it supports only API 16 and higher at present:

https://github.com/xamarin/xamarin-android/blob/a3de82a659c1c1f9c656a6fc90dcf6c5d3ab8fb2/build-tools/xaprepa

[2019-12-05 21:05] pjcollins commented on #3986
Thanks for the detailed report, I am going to move this over to https://github.com/mono/mono/issues/18071 as this issue only occurs when you have LLVM enabled.

[2019-12-05 21:05] #3986 closed

[2019-12-05 21:06] Digifais commented on #2993
I'll get in touch with you on Gitter.

[2019-12-05 21:06] andrewleader commented on #3986
Thanks Peter!

[2019-12-05 21:36] pjcollins commented on #3980
This warning has been discussed in a few places in the past:
![image](https://user-images.githubusercontent.com/2000163/70275717-b9deee80-177c-11ea-82cc-ffea18c67429.png)
https://github.com/xamarin/xamarin-android/issues/1261
https://github.com/microsoft/msbuild/issues/3392

I'm not sure how much can be done at this point, however this is scenario that will hopefully be resolved in future versions

[2019-12-05 22:26] pjcollins commented on #3989
I was able to reproduce this with d16-4 after creating a new Android 9.0 x86 emulator:
[code]

[2019-12-05 22:29] bruno-garcia opened #3996 "Travis-CI: error XA5300: The Android SDK Directory could not be found. Please set via /p:AndroidSdkDirectory."
### Steps to Reproduce

1. Checkout [this branch](https://github.com/getsentry/symbol-collector/tree/feat/travis)
2. Run `./build.sh`

The actual msbuild command is:

[code]

### Expected Behavior

Builds. It does on my local macOS but it fails on Travis-CI macOS build.

### Actual Behavior
On travis, even after installing all dependencies (I have a debug session attached there right now) it fails

[2019-12-05 22:30] pjcollins commented on #3994
@jpobst can you paste the full `OnCreate` code from the Android App?

[2019-12-05 23:18] MarMarIV commented on #3993
I found, after update from VS 16.4 prev to 16.4 sign AAB not works...

https://developercommunity.visualstudio.com/content/problem/844430/vs-2019-164-android-sign.html

[2019-12-06 02:12] #3920 closed

[2019-12-06 07:44] grendello commented on #3989
The crash in OP suggests it's an issue with the Mono JIT.

[2019-12-06 07:46] grendello commented on #3994
Given that there's nothing specific to Xamarin.Android in Mono's WCF code, I think it's an issue in the Mono BCL.

[2019-12-06 10:08] onetreba commented on #3990
@pjcollins Thank's for pointing that! Just a little bit confused, have I missed this fact in release notes (https://docs.microsoft.com/en-us/xamarin/android/release-notes/10/10.0) ?

[2019-12-06 11:04] dellis1972 commented on #3996
This argument
[code]

I think should just be

[code]

i.e the root of the `android-sdk` rather than the build-tools. We use this property to look up files in other parts of the sdk,not just build-tools. (i.e the platforms folders, tools and platform-tools)

[2019-12-06 11:33] dellis1972 commented on #3996
Rather than having travis install the android-sdk you could try our `InstallAndroidDependencies` target. For example.

[code]

This will download only the required parts of the Android SDK needed to build the app.

[2019-12-06 12:20] bruno-garcia commented on #3996
@dellis1972

/p:AndroidSdkDirectory=/usr/local/share/android-sdk/build-tools/

I've tried `/usr/local/share/android-sdk/` everywhere (I'm awake this is the right path).
When I ran out of ideas I tried to specify more specific paths like `/build-tools` `/platforms/`.

This is really helpful! Thank you. I'll try this one out.

[2019-12-06 12:45] bruno-garcia commented on #3996
@dellis1972 I've tried as you suggested:

https://github.com/getsentry/symbol-collector/compare/15d89ed88b02...8346d9849677

Which worked locally (I can see the deps getting installed), but on Travis, I got the same error:
https://travis-ci.com/getsentry/symbol-collector/builds/139694092

[code]

Any other suggestion I could try?

[2019-12-06 13:45] SamMonoRT commented on #3989
@BrzVlad - please take a look at this one since you are already investigating other Android related bugs

[2019-12-06 14:23] jonathanpeppers commented on #3996
I don't see what the Xamarin.Android version you're running on Travis. Your `/v:diag` log should show a `XamarinAndroidVersion` property, what does it print?

[2019-12-06 15:11] jpobst commented on #3994
Using the Android App template:

[code]

[code]

[2019-12-06 15:25] bruno-garcia commented on #3996
@jonathanpeppers Sorry the delay:

`XamarinAndroidVersion = 9.4.1-0`
I used: `boots 1.0.1.386`

[2019-12-06 15:30] Jakar510 commented on #3970
I've had this issue since september 20th. Visual Studio issue tracker: https://developercommunity.visualstudio.com/content/problem/741940/no-launchable-activity-even-though-its-set.html.

[2019-12-06 15:32] SavikPavel commented on #3622
Same here

[2019-12-06 15:54] dellis1972 commented on #3996
Try including the `/p:AndroidSdkDirectory` argument but set it to a location within the build tree.
eg.
[code]

[2019-12-06 15:58] bruno-garcia commented on #3996
I have. Following the advise from the error message was the first thing I did. After that was a bunch of random tries and nothing changes the error message. It's part of the issue description, I've set it as env var, I passed as a parameter, etc.

In the description there's a diag log which shows it tested the path but it says `False` but not why.

Do I have the wrong tool version? What's going on

[2019-12-06 16:17] bruno-garcia commented on #3996
Interestingly, the link from `boots` (https://aka.ms/xamarin-android-commercial-d16-4-windows) redirects to:

`Xamarin.Android.Sdk-10.1.0.30.vsix` So it does look like Xamarin Android SDK 10.

[2019-12-06 16:19] dellis1972 commented on #3996
Can you try running the `InstallAndroidDependencies` as a separate msbuild call rather than `InstallAndroidDependencies;Clean;Build`?
I found msbuild can behave oddly when calling all the targets in the same "session".

[2019-12-06 16:22] bruno-garcia commented on #3996
@dellis1972 sorry I missed the "within the build tree". I tried now:

I've copied all `cp -r /usr/local/share/android-sdk/* ./android-sdk/`
Under the checkout dir:
[code]

And tried to build referring as you suggested:

`msbuild -v:diag  /p:Configuration=Release     /p:AndroidBuildApplicationPackage=true     /t:InstallAndroidDependencies\;Clean\;Build\;SignAndroidPackage /p:AndroidSdkDirectory=../

[2019-12-06 16:24] bruno-garcia commented on #3996
I found msbuild can behave oddly when calling all the targets in the same "session".

Running:
`msbuild -v:diag  /p:Configuration=Release  /t:InstallAndroidDependencies`
And:
`msbuild -v:diag  /p:Configuration=Release  /t:InstallAndroidDependencies /p:AndroidSdkDirectory=/usr/local/share/android-sdk`

Results in the same error:

[code]

[2019-12-06 16:43] jonathanpeppers commented on #3970
@Jakar510 the issue here was that two assemblies were named the same (which won't work). Is that happening in your solution?

[2019-12-07 19:16] dellis1972 commented on #3996
ok, I think its because we are missing this commit on the version of Xamarin.Android you are using https://github.com/xamarin/xamarin-android/commit/008ba983fa38305284f55be9e8ea0d520d99e992. It works for me locally but I get the same problem on this project https://github.com/dellis1972/HelloForms/blob/master/.travis.yml

[2019-12-07 19:24] bruno-garcia commented on #3996
@dellis1972 but I have the SDK installed. Why can't it use that?

[2019-12-07 19:37] dellis1972 commented on #3996
ok I managed to repo locally. The problem is that I had an sdk setup and install which it was falling back onto . I the case of Travis that is not the case. So I'll now look at making sure we handle this particular scenario. InstallAndroidDependencies should work without anything installed.

[2019-12-07 19:42] bruno-garcia commented on #3996
@dellis1972 That'd be very nice. I'm just glad if I get to setup CI with Travis.

But I'm still no clear on way can't Xamarin pick up the Android SDK installation I did with `brew`. Environment variables are set correctly, etc.

[2019-12-07 19:45] dellis1972 commented on #3996
that is odd. I'm investigating that now.

[2019-12-07 19:52] dellis1972 commented on #3996
according to the docs android components stuff is only supported on Trusty :( https://docs.travis-ci.com/user/languages/android/#overview...

[2019-12-07 19:59] bruno-garcia commented on #3996
@dellis1972 I'm aware. build type android is a :inux box. But I need this built on macOS so I installed things myself. So the files are there, why would Xamarin not be able to find it.
It's possible to SSH into the agent to troubleshoot if that helps.

If I can use the switch to get it to work (will install all dependencies etc) that also does the job and we can move on but at this point I just wa

[2019-12-07 20:01] dellis1972 commented on #3996
this is the problem https://github.com/xamarin/xamarin-android/pull/4003

[2019-12-07 20:16] bruno-garcia commented on #3996
@dellis1972 is that something I can override at my `csproj` to test it out?

[2019-12-08 01:02] bruno-garcia commented on #1755
I'm also affected by this issue.

Example:

[code]

Relevant to this problem I found [this SO answer suggesting to enable D8](https://stackoverflow.com/questions/48532610/is-java-8-features-available-for-xamarin-android-in-java-binding-project) via `<AndroidDexTool>d8</AndroidDexTool> `.

That didn't help me, unfortunately.

[Also from SO from a couple of year ago](https://stackoverflow.com/questi

[2019-12-08 01:33] bruno-garcia commented on #1755
Actually this setting worked just fine:

[code]

Before I had added it to the Java binding library instead of the app.

[2019-12-08 01:42] bruno-garcia commented on #1357
Is this task still relevant? I'd like to try contributing to this project.
Also, note it's the only task labled `good-first-issue` ;)

[2019-12-08 04:45] #1118 closed

[2019-12-08 04:58] tuyen-vuduc opened #4005 "File permission seems not right"
I am working on an Android project with Xamarin.Android/Xamarin.Forms with the use of [Mapbox Binding library](https://www.nuget.org/packages/Naxam.Mapbox.Droid/).

Things work well but we fail to use Offline feature with the db file manually pushed to internal storage or overridden using a premade db file from assets.

It says *attempt to write a readonly database*

This is the code inside Mapbox

[2019-12-08 06:44] tuyen-vuduc commented on #4005
=== Visual Studio Community 2019 for Mac ===

Version 8.3.10 (build 2)
Installation UUID: 3581a60a-693f-4f83-8980-f2abda1be982
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.16.1.24 (d16-3 / 08809f5b)

	Package version: 604000208

=== Mono Framework MDK ===

Runtime:
	Mono 6.4.0.208 (2019-06/07c23f2ca43) (64-bit)
	Package version: 604000208

=== NuGet ===

Version: 5.3.0.6192

=== .NET Core SDK ===

[2019-12-08 07:14] tuyen-vuduc commented on #4005
Msg shows that Mapbox SDK could write to the overriden db file

[code]

[2019-12-08 08:16] knocte commented on #3777
I take that back, I could reproduce the bug many times with a particular phone (Sony Xperia).

Thankfully, Visual Studio for Windows has received the 16.4 update in the stable channel, and I released a new apk with this new version, which seems to fix the problem.

Any idea when is 16.4 coming to Visual Studio for Mac? IMO these releases should trigger in both Windows and Mac, otherwise for teams

[2019-12-08 08:19] knocte commented on #3710
In fact, this is what `requireReinstallation="true"` is for, but VS4Mac doesn't honor it (filed a different bug about it): https://github.com/mono/monodevelop/issues/9390

So I did a retargetting in VS for Windows, and released new binaries of my app, and it seems that since I use these new versions of the support libraries in the new monoandroid90 framework, this bug hasn't happened yet, so maybe

[2019-12-08 08:58] MehdiJafari84 commented on #3423
Hi Mr Brendan Zagaeski
I have this issue too.
 I'm waiting for the release for mac. When will it come?

[2019-12-08 09:14] FoggyFinder opened #4006 "Incorrect detection of Keycode.Dpad arrows on some emulator."
### Steps to Reproduce

1. Create new empty XF project.
2. Override `OnKeyUp` for Activity.

[code]
3. Run on emulator
4. Use arrow on hardware keyboard.

### Expected Behavior

Output:

For right arrow: `DpadRight`
For left arrow: `DpadLeft`
For up arrow: `DpadUp`
For down arrow: `DpadDown`

### Actual Behavior

Output:

For right arrow: `DpadLeft`
For left arrow: `DpadRight`
For up arrow: `DpadD

[2019-12-08 13:57] MehdiJafari84 commented on #3423
Hi again. About this issue
(before release for Mac)
I had this problem on Archiving and Release

is this way correct? (I'm in hurry! and can't wait for Mac release)
I published PCL project (by right click on PCL) in release mode into the project folder/bin/release/netstandard2.1 then Archiving is ok!

what is your idea about that?

[2019-12-08 14:01] dellis1972 commented on #3996
@bruno-garcia I think I got it working using the script at [https://github.com/journeyapps/android-sdk-installer](https://github.com/journeyapps/android-sdk-installer).

You can check out my script at [https://github.com/dellis1972/HelloForms/blob/master/.travis.yml](https://github.com/dellis1972/HelloForms/blob/master/.travis.yml).

I had a similar problem to you when using the script above, unti

[2019-12-09 05:53] bruno-garcia opened #4007 "Throws at runtime when calling a Java method that receives an interface implemented in C#"
### Steps to Reproduce

Repro: https://github.com/bruno-garcia/xamarin-android-java-binding-repro

The repro repo includes a [README](https://github.com/bruno-garcia/xamarin-android-java-binding-repro/blob/master/README.md) which includes details of the problem. Copying it here anyway:

The following Java code is not callable from C#:

[code]

It is callable from Java (with 1.8 compat) as:

[code]

[2019-12-09 06:22] jpobst commented on #4007
Does it work if you remove the `Handle` and `Dispose` methods?  You might be hiding the ones built into `Java.Lang.Object`:

[code]

[2019-12-09 07:09] alexthekid07 commented on #3993
I have this problem as well on 16.5.
APK has no issues but google refuses to accept the AAB's due to a signing issue.

I'm not sure what version this problem started in, but I used to be able to use AABs

[2019-12-09 07:34] bruno-garcia commented on #4007
IDE added them automatically, assumed it needed override. Java being virtual by default might have been the reason? Although it would not create overrides in C# by default so maybe an issue in rider.
Will try later and reply.
Thanks!

[2019-12-09 13:22] skarllot commented on #2059
Can I close this issue?

[2019-12-09 13:31] shimfish opened #4008 "dlopen fails on FireOS 7.3 (fire hd 10 9th gen)"
### Steps to Reproduce

1.  Create Android Xamarin project with correct libs directory
2. Use dlopen(libnname,RTLD_LAZY) to load lib

### Expected Behavior

Linked library loads correctly - same project appears to work on many, many android devices and versions.

### Actual Behavior

Fails with console message:

`[linker] library "/data/app/com.app-ZKMGKBJll0P0FdhrTdxKyQ==/lib/arm/libopenal32.so"

[2019-12-09 14:54] #3996 closed

[2019-12-09 16:14] #3962 closed

[2019-12-09 16:53] brendanzagaeski commented on #3456
*Release status update*

A new Release version has now been published on Windows that includes the fix for this item. The latest fix removes the limitation around  **All Common Language Runtime Exceptions not in this list**. That setting can now be either checked or unchecked.

Fix included on Windows in Visual Studio 2019 version 16.4. To get the new version that includes the fix, [check for the

[2019-12-09 16:53] #3456 closed

[2019-12-09 17:02] pjcollins commented on #3990
The update to a minimum supported SDK version of 16 occurred in XA 9.3, as mentioned in the release notes here:
https://docs.microsoft.com/en-us/xamarin/android/release-notes/9/9.3#android-ndk-r19-compatibility

Any projects which declare a minimum version lower than 16 should also be encountering the build warning described below:
https://docs.microsoft.com/en-us/xamarin/android/errors-and-warnin

[2019-12-09 19:26] #3622 closed

[2019-12-09 19:58] jonathanpeppers commented on #3993
Would someone be able to share an app bundle that works/doesn't work? We could compare the two.

The app I have appears to be working with 16.4, same as @pjcollins: https://github.com/xamarin/xamarin-android/issues/3993#issuecomment-562269567

[2019-12-09 22:38] andreas-gabriel commented on #3993
I have the same issue, switching from 16.3 to 16.4.
There is also a diskussion at
https://developercommunity.visualstudio.com/content/problem/845978/you-uploaded-an-apk-or-android-app-bundle-with-inv.html

[2019-12-09 22:49] andreas-gabriel commented on #3993
would youl like to have my signed, not working aab, or how can I help you?

[2019-12-09 22:51] alexthekid07 commented on #3993
I could also provide a signed, not working AAB but it would be of my current production app so I'm not 100% certain if there's any risk involved in sharing that file? (Or a signed and properly working APK if needed).

Unfortunately I don't have an AAB from before it stopped working.

[2019-12-10 02:08] bruno-garcia commented on #3996
Thanks a lot @dellis1972 helping troubleshoot this.

[2019-12-10 04:01] jonathanpeppers commented on #3993
If you're more comfortable sharing in private, email what I have listed on my Github account, thanks!

And just to verify, everyone is building command line, such as above? https://github.com/xamarin/xamarin-android/issues/3993#issuecomment-562282350

The IDE's archive feature is a different code base, so just checking we are looking in the right place.

[2019-12-10 04:09] alexthekid07 commented on #3993
For clarity I was/am building with VS 16.5 archive feature, not via command line. I've always built that way, including when it worked with AAB's in the past.

[2019-12-10 06:50] andreas-gabriel commented on #3993
I was trying both, command line with 'msbuild.exe -myparam ...'  and  also with visual studio deploy ad hoc.
Only aab is not working, I tried apk successfully.

[2019-12-10 07:54] brendanzagaeski commented on #3222
@emimvi, thanks for the testing that scenario, and apologies for the slow reply. I had a chance to try the App1-SIGSEGV-crash project again myself today with the latest versions. I simplified the test case a little more to focus on the *No compatible code running* symptom and filed a new issue for further investigation: <https://github.com/mono/mono/issues/18106>.

I'm not sure if it will be usefu

[2019-12-10 10:34] emimvi commented on #3222
@brendanzagaeski
Thanks for investigating further!
For me the "No compatible code running" actually happens in an OpenGlView OnDisplay method, which seems to be called by a native android thread in GLSurfaceView's render logic.
I've tried to reproduce it with a small example, without luck however.
But do you think it could be a similar scenario in which the bug happens in a non-C# thread?
Regards.

[2019-12-10 10:50] gopalawasthi123 opened #4013 "Severity Code Description Project File Line Suppression State Error "mdoc.exe" exited with code 1. XamarinAdaptiveTableLayout"
### Steps to Reproduce

1. I am trying to create the binding library for the [AdaptiveTableLayout](https://github.com/Cleveroad/AdaptiveTableLayout)
2. I am following the steps that are provided in the [link](https://mobileprogrammerblog.wordpress.com/2017/11/20/java-library-binding-with-javadocs-for-xamarin-android/)
3. Following all the steps gives the error.

### Expected Behavior

### Actual B

[2019-12-10 11:40] jitendrajadav commented on #1369
I am still getting this error could you please help me figure out this issue
please check error :

`Build FAILED.
3>
3>"C:\Users\jdj1\Source\Repos\SatelliteLogisticsGroup\kegid-x\KegID\KegID.Android\KegID.Android.csproj" (Rebuild;BuiltProjectOutputGroup;BuiltProjectOutputGroupDependencies;DebugSymbolsProjectOutputGroup;DebugSymbolsProjectOutputGroupDependencies;DocumentationProjectOutputGroup;Docu

[2019-12-10 11:47] dehghani-mehdi commented on #1369
@jitendrajadav did you try all mentioned solutions here? I didn't get this error since I closed the issue.

[2019-12-10 15:34] jpobst commented on #4013
The actual error isn't showing anywhere, can you get a [diagnostic build log](https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) and attach it?

Additionally, you may want to try leaving out the JavaDoc step(s).  I'm not sure that they do anything useful nowadays.

[2019-12-10 18:44] baulig commented on #3682
I think you're confusing the `HttpClientHandler` with the TLS Provider backend that's being used internally by that handler.

As I explained in https://github.com/mono/mono/issues/17125#issuecomment-563449127 yesterday, that's an API decision that has been made by the .NET Core team.

See my comments on https://github.com/mono/mono/issues/17125.

[2019-12-10 18:44] #3682 closed

[2019-12-10 20:44] Sauder91 opened #4017 "AndroidClientHandler being removed by linker when not specifically referenced even if project is set to use it."
### Steps to Reproduce

1.   Set your Xamarin.Android app to use AndroidClientHandler and your linker settings to link assemblies only.
2.   Create and use an HttpClient without specifying an HttpMessageHandler.
3.  You should see this in the console indicating that the native HttpMessageHandler was not used.

*Note I did see the in a Forms app not a pure Xamarin.Android app.   I was able to fix i

[2019-12-10 22:59] brendanzagaeski commented on #3423
Hi @MehdiJafari84, that sounds interesting, like maybe somehow the current solution configuration might not be building the .NET Standard or PCL project automatically as needed when you build the Android app project that depends on it.

If you get stuck with investigating why the library isn't building when expected, you can submit a new issue with the diagnostic build output for the Android app p

[2019-12-10 23:40] gabrieldwight opened #4018 "Xamarin Android App Not debugging (Mono.Debugger.Soft.CommandException)"
### Steps to Reproduce

1. After upgrading from visual studio 2019 version 16.3 to 16.4 the project is not able to debug but it successfully builds with no issues and errors. It keeps on producing could not connect to debugger error.
2. The error began to appear after upgrading from API level 28 to API level 29.
3. The issue only comes when you want to debug the application

Things already tried t

[2019-12-11 00:23] josephsctan commented on #3989
Another snippet of information.

I have two apps trying to use SpeechConfig.FromSubscription() - one is a Xamarin Forms app and another one is a Xamarin Android  app.

The Xamarin Android one crashes  on an x86 Oreo 8.1 emulator

But The Xamarin Forms one does not crash  on the same emulator (and indeed, successfully produces the output I expect)

in case that helps ...

[2019-12-11 05:49] gopalawasthi123 commented on #4013
@jpobst if I leave out the JavaDoc steps I am able to do the build the project but dll is empty. No classes have been added in the Library

[2019-12-11 10:07] Roshan-Yadav commented on #1261
I am also getting this warning in our project with a message
"Found conflicts between different versions of "Microsoft.CSharp" that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed".  I tried lots of things from the web but nothing seems to be working.

[2019-12-11 10:36] gopalawasthi123 commented on #4013
This is due to Progaurd settings. I turn off the minified to false in the android project and the error is gone. Anyway Thanks!

[2019-12-11 10:36] #4013 closed

[2019-12-11 11:05] jitendrajadav commented on #1369
@dehghani-mehdi I have tried all the stuff but couldn't get any luck I am attaching diagnostic build log output: please check

[diagnostic.build.log.output.txt](https://github.com/xamarin/xamarin-android/files/3949993/diagnostic.build.log.output.txt)

[2019-12-11 11:12] dehghani-mehdi commented on #1369
@jitendrajadav [Do you really need to use D8?](https://stackoverflow.com/q/54391422/3367974)

[2019-12-11 11:23] gopalawasthi123 opened #4019 "Severity Code Description Project File Line Suppression State Error CS0535 'AbstractCommandLineConverter' does not implement interface member"
### Steps to Reproduce

1. I am just binding the .Jar of the [Library](https://github.com/Cleveroad/AdaptiveTableLayout)
2. After following all the steps i was able to put the .jar in the Vs 2019
3. But when i build the project it gives me the error.

### Expected Behavior
I should able to build the project.
### Actual Behavior
I get the following errors:
Severity	Code	Description	Project	File	Lin

[2019-12-11 12:11] andycted commented on #3091
I have VS 16.4.1 on Windows
with
Xamarin.Android SDK   10.1.1.0 (d16-4/f2c9364)
Xamarin.Android Reference Assemblies and MSBuild support.
    Mono: bef1e63
    Java.Interop: xamarin/java.interop/d16-4@c4e569f
    ProGuard: xamarin/proguard/master@905836d
    SQLite: xamarin/sqlite/3.28.0@46204c4
    Xamarin.Android Tools: xamarin/xamarin-android-tools/master@9f4ed4b

It still does the same every t

[2019-12-11 14:34] robatkansys commented on #3993
Having the same issues, can't upload signed apk bundle.  Fails to sign.  Upgraded from 16.1 to 16.4.   Uploaded and signed the same apk in 16.1, doesn't work in 16.4.

[2019-12-11 14:40] jonathanpeppers commented on #3993
@robatkansys can you file a new issue? This issue is related to App Bundles, not APKs. Other users mentioned that APK works for them: https://github.com/xamarin/xamarin-android/issues/3993#issuecomment-562305133

Can you try setting these in your csproj?
[code]

If that fixes it, let me know. Thanks!

[2019-12-11 14:55] robatkansys commented on #3993
@jonathanpeppers  , sorry still new at all this, may be getting my terminology wrong.  Believe i am uploading a bundle.  Using Visual Studio Archive Manager, then distributing to google play.  When hitting upload it prompts for my keypassword.  It comes back saying Xamarin.AndroidTools.AndroidSdkToolException: Failed to load signer "signer #1"
java.io.IOException: Keystore was tampered with, or pa

[2019-12-11 15:04] pasn commented on #3898
I found the minimal example where I can reproduce the problem.

My setup:
V2019 v16.4.0
Xamarin.Android.SDK 10.1.0.30

1. Create two projects:
- Xamarin.Android application (let's call it **App**)
- .NET Standard 2.0 project (let's call him **NS**)
2. Add System.Configuration.Manager 4.7.0 nuget as dependency to **NS**
3. Reference **NS** from **App** project
4. Probably you need to use some objec

[2019-12-11 15:17] jpobst commented on #4019
Many bindings contain things that aren't automatically understood and require manual fixups to get them to work (generally called `metadata`).  There's a few resources on how to figure out what you need to do based on the specific case:

* https://docs.microsoft.com/en-us/xamarin/android/platform/binding-java-library/troubleshooting-bindings
* https://gist.github.com/JonDouglas/dda6d8ace7d071b0e8c

[2019-12-11 15:28] jonathanpeppers commented on #3898
@pasn I'm not getting any build warnings, but I have VS 16.4.1 (just came out).

Can you try `msbuild .\Android.App.sln /bl`? In the current directory there will be a `msbuild.binlog` file you can zip and upload here.

[2019-12-11 16:03] pasn commented on #3898
Sure. Here you are:
[msbuild.binlog.zip](https://github.com/xamarin/xamarin-android/files/3951306/msbuild.binlog.zip)

[2019-12-11 16:14] pasn commented on #3898
@jonathanpeppers I reproduced the problem with VS 16.4.1 using exactly the same steps

[2019-12-11 16:54] StanleyBroo commented on #4018
Any news on this. Have exactly the same behaviour in VS2019 professional 16.4.1

[2019-12-11 17:15] gopalawasthi123 commented on #4019
I am trying to troubleshoot the bug but cant find the problem. I have added the class showing the error If you find something:
[code]

[2019-12-11 17:25] radimitrov commented on #3993
VS 16.4.1. Same issue - uploading aab doesn't work. With the default signing it returns "invalid or missing signing information". It still builds succefully with the suggested settings above but it just returns "App bundle isn't signed" when uploaded.

[2019-12-11 17:38] jpobst commented on #4019
It's not generating the `Download` method.  I am betting it is because in C# you cannot have a method named `Download` inside a class named `Download`.  You will need to rename either the method or the class.

This can be done by changing the `managedName` like:
https://gist.github.com/JonDouglas/dda6d8ace7d071b0e8cb#duplicate-names-or-normalizing-names

[2019-12-11 17:52] brendanzagaeski commented on #4018
The team is tracking this issue on Developer Community:

<https://developercommunity.visualstudio.com/content/problem/842376/android-debugging-not-working-in-latest-release-16.html>

The discussion on that item includes a *.vsix* with a candidate fix you can try if you like, or if you prefer, you can work around the issue for now by navigating to **Debug > Windows > Exception Settings**, right-cli

[2019-12-11 18:09] gabrieldwight commented on #4018
Thank you so much @brendanzagaeski for your support. The solution for resetting the CLR to default setting helped to clear the error.

[2019-12-11 18:26] jonathanpeppers commented on #3993
Yes, the above settings would be for an APK only, I'll edit the comment.

[2019-12-11 18:56] tlhintoq commented on #3444
Same just worked for me.  New VS2019 solution. Not thrilled about this work around as its a large app and I have concerns about the number of methods exceeding the single dex limit.
https://developer.android.com/studio/build/multidex

Hopefully it will be properly fixed before we hit that limit.

[2019-12-11 20:26] jonathanpeppers commented on #3898
I see an error in your log:
[code]
Can you use `/restore` on the msbuild command, instead of using the `nuget` command?

If using `<PackageReference/>` you actually can't use `nuget` to restore.

[2019-12-11 22:29] tipa commented on #2292
I am starting to see these crash reports since my last app update, when I switched to .aab bundles? Anyone else seeing this issue? Affected devices are Galaxy A50, Galaxy J4+, LG G6, Galaxy S10

[2019-12-12 02:07] burrowj commented on #3456
I had this issue with android debugger, The "Restore Defaults" workaround fixed the issue

[2019-12-12 04:19] jonathanpeppers commented on #2292
@tipa can you file a new issue with new information? This was opened in Oct 2018, when App Bundle support didn't exist yet in Xamarin.Android.

[2019-12-12 05:03] gopalawasthi123 commented on #4019
I have renamed the class name (and even the method name ) to MyDownload but both does'nt work at all. It gives me the same error. I have used the this meta data
<attr path="/api/package[@name='{package_name}']/class[@name='{name}']" name="managedName">NewManagedName</attr>

[2019-12-12 05:46] jpobst commented on #4019
Can you post the `metadata` you are using?  Does it give you any warnings saying it wasn't able to apply them?

[2019-12-12 06:13] gopalawasthi123 commented on #4019
<attr path="/api/package[@name='Org.Gradle.Wrapper']/class[@name='Download']" name="managedName">MyDownload</attr>

[2019-12-12 06:42] jitendrajadav commented on #1369
Thank you @dehghani-mehdi for you reply I was earlier using Proguard but now while changing all the stuff automatically it will set I have tried with Proguard and R8 but it won't work I don't know what to do now?

[2019-12-12 07:04] dehghani-mehdi commented on #1369
NP, are you able to build the hello world app with same settings as this app? I think the problem is related to R8/D8. but I think you should try to see if you can build hello world app. with them to narrow down the problem area.

[2019-12-12 07:49] VictorKochetkov opened #4027 "Different APK size which built in VS 2017 and VS 2019"
I faced following issue:
If I build Xamarin.Android project in Visual Studio 2017 (15.9.17) the resulting APK is about **50 MB**.
If I build this project in Visual Studio 2019 (16.4.0) the resulting APK is about **67 MB**.

![image](https://user-images.githubusercontent.com/11313401/70692750-0a9a9e00-1ccd-11ea-9ccb-9921847a6ed5.png)

[2019-12-12 08:02] tipa opened #4028 "Crash reports in Google Play: UnsatisfiedLinkError"
### Steps to Reproduce
I am receiving app crash reports in Google Play after I switched from uploading 2 APKs (for 32 & 64bit) to an .aab Bundle. No other major changes in the code and project settings were made compared to the previous app version.
Affected devices (so far) are Galaxy A50, Galaxy J4+, LG G6, Galaxy S10, Galaxy J7 (all running Android 9)

### Expected Behavior
App loads without an

[2019-12-12 08:02] tipa commented on #2292
Sure, filed a new issue here: https://github.com/xamarin/xamarin-android/issues/4028

[2019-12-12 08:21] jitendrajadav commented on #1369
Yes Hello World Application working fine, what I have did it I have created new application and try to build in Release mode and it is working fine!

This what my setting please check
![image](https://user-images.githubusercontent.com/1029026/70694791-6c1b3680-1ce6-11ea-9260-3744bbcc7cd4.png)

[2019-12-12 09:15] pasn commented on #3898
@jonathanpeppers thanks for info, I did not know that nuget.exe does not support Package References. Support for it was added in nuget 4.3.0. I tried to use msbuild /restore instead, but I have the same result. I also checked that after I do it, 'D:\Projects\Playground\Xamarin.Android.VS2019\DependencyInNetStandard\obj\project.assets.json' file is present. Could you re-check my new binary log and

[2019-12-12 10:52] ikt-dev commented on #3993
VS 16.4.1 same issue with aab, apk works fine.

[2019-12-12 11:14] MickLesk commented on #3896
Hey,

this is the Error:
https://i.imgur.com/yJ0UgmJ.png

The File who you need, dont exist.
I come to the path \obj\Debug\90\lp\24\jl but i dont have \res

How can i fix this error?
I can fix the error, when i create a new "Debug" Config in Visual Studio with the same Settings from the old. Then it works.
Look: https://i.imgur.com/D5WfNOa.png

[2019-12-12 12:48] bellissimo opened #4029 "VS 16.4.0 App Crashes on startup on 4.3 (API 16) device"
Problem appears to be same as https://github.com/xamarin/xamarin-android/issues/3314, though that was apparently fixed in VS 16.3

### Steps to Reproduce

Startup a project with min target version of 4.3, and run it on a 4.3 (API 16) device in Release mode using following options:

 `<Optimize>true</Optimize>
    <DebugType>portable</DebugType>
    <ProduceReferenceAssembly>True</ProduceReferenceA

[2019-12-12 14:50] bellissimo commented on #4029
I can confirm that adding `<AndroidAapt2LinkExtraArgs>--no-version-vectors</AndroidAapt2LinkExtraArgs>` stops it from crashing. Though I was assuming that was what the fix was supposed to do automatically in 16.3?

[2019-12-12 15:15] jpobst commented on #4019
I think your package name is lower-case (`org.gradle.wrapper`) and XML is case-sensitive.  If that doesn't help, please post your build log.

[2019-12-12 17:32] gopalawasthi123 commented on #4019
I have changed the package name to lower case but this has'nt fixed the issue yet.

[2019-12-12 18:23] jonathanpeppers commented on #3896
Can you attach the build log? Thanks! See: https://github.com/xamarin/xamarin-android/issues/3896#issuecomment-553095333

[2019-12-12 18:51] jonathanpeppers commented on #3898
@pasn on 16.4, I get the blank filename warnings, but we have fixed this warning in 16.5 preview:
[code]

I added this to `App.csproj` and it fixed the issue, no warnings/errors now:

[code]

Does that work for you?

In the .NET 5 timeframe, we hope to rework the MSBuild task emitting the warnings/errors here.

[2019-12-12 20:31] brendanzagaeski commented on #4005
Thanks for the report! The steps to reproduce look a bit tricky, involving some careful knowledge about how to use the Mapbox library. If possible, could you attach a zipped up example project that demonstrates the issue?

Thanks in advance!

[2019-12-13 00:25] brendanzagaeski commented on #3222
@emimvi, yes, I experimented a bit more today with the behavior for `AsyncTask`, and I think it is fairly likely that the behavior you're seeing has the same underlying cause.

In particular, today I noticed that there were several other reports from users who saw *No compatible code running* appear after they updated from Visual Studio 2017 to Visual Studio 2019, and I confirmed that the test cas

[2019-12-13 04:34] brendanzagaeski commented on #4006
I tried a quick experiment with this locally, and I have a guess about what you're seeing.

When I first launched my emulator, the hardware key presses were associated with the expected directions. On a hunch, I tried clicking the buttons on the emulator control strip to rotate the screen of the tablet. After I rotated the emulator screen by 180&deg;, I got the flipped results as you described. I

[2019-12-13 04:50] brendanzagaeski commented on #3953
Having now double-checked with the team on this, I will close this item as a known limitation. It is indeed expected to be a rare edge case in normal usage, and with just a little luck it will only be relevant for a short while longer thanks to the planned move away from the shared runtime and shared platform packages.

[2019-12-13 04:50] #3953 closed

[2019-12-13 07:28] nll commented on #3791
Recently I also try to enable the `AndroidEnableProfiledAot` on a Xamarin Android application and it did get any performance improvement and just an increase in the apk size (using Xamarin.Android 10.1.1.0).

Only when creating a custom profile following [this](https://github.com/xamarin/xamarin-android/blob/a01df1b4db775b940a5a40f44f16cd58fdb448be/Documentation/guides/profiling.md#profiling-the-a

[2019-12-13 08:22] pasn commented on #3898
@jonathanpeppers, here are more details about the issue. I expect these two commands both to produce the same result:
1. `msbuild /restore /p:RestorePackagesPath=packages Android.App.sln`
Result: 0 warnings, 0 errors
2. `msbuild /restore Android.App.sln`
Result: 4 warnings, 1 error

For VS2017 both builds would end with success, but not for VS2019.

Broader context is that we have big solution wit

[2019-12-13 08:39] FoggyFinder commented on #4006
Thank you.

What do you think: if real device has hardware keyboard will it behave accordingly to current `SurfaceOrientation` as it does emulator ?

Anyway, closing this since the answer is found.

[2019-12-13 08:39] #4006 closed

[2019-12-13 10:03] tebcssDev opened #4035 "Resource.Designer is missing necessary fields/constants?!"
### Steps to Reproduce

1.  In a XF custom map renderer try accessing the following fields:
Resource.Layout.MapInfoWindow
Resource.Id.InfoWindowTitle
Resource.Id.InfoWindowSubtitle
Resource.Drawable.pin (pin_test exists as suggested)

### Expected Behavior
Intellisense should suggest the fields above as they exists in the Resource.Designer class file.

### Actual Behavior
Field names are underline

[2019-12-13 10:36] SubramanymRajuB commented on #3426
If you are still getting UnauthorizedAccessException for write or read file in Xamarin Android. I just written article to resolve it
http://bsubramanyamraju.blogspot.com/2019/12/resolved-unauthorizedaccessexception.html

[2019-12-13 10:38] divil5000 commented on #3426
SubramanymRajuB, you have completely missed the point. It is/was a bug in Mono, nothing to do with Android permissions.

[2019-12-13 10:47] rkshnair commented on #3426
When we can expect a stable release on this?

[2019-12-13 10:49] acaliaro commented on #3426
It's already stable: 16.4 (maybe 16.4.1 now)

[2019-12-13 10:51] xdr-synapse opened #4036 "[16.4] Keystore was tampered with or password was incorrect"
After upgrade to VS 16.4, I was unable to sign again my application for Google Play with my keystore. Tought it was a bug so I waited for for an update to see if it was fixed, but no (16.4.1)

I tried so sign my APK with jarsigner from Android JDK and it worked, so I confirm that I don't lost the password or alias.

### Steps to Reproduce

1. Keystore password and alias the same (generated by VS o

[2019-12-13 11:28] rkshnair commented on #3426
But for Mac it is 8.4 which is still in preview right? 8.3.11 is the stable release for mac it seems.

[2019-12-13 11:51] marek-safar commented on #1483
@lambdageek can we close this one?

[2019-12-13 13:07] lhughey opened #4080 "Xamarin Forms Android debug disconnect if not 2 folder levels under .sln file location"
### Description
An Android Target in an XF project disconnects from the debugger when starting on an emulator or Android device. This happens when the Android project is not 2 levels under the XF solution file (.sln). The disconnect happens without an error and does not occur on iOS.

More details on this error: https://forums.xamarin.com/discussion/comment/397710#Comment_397710

### Steps to Repr

[2019-12-13 15:41] #4035 closed

[2019-12-13 19:55] radimitrov commented on #3993
@jonathanpeppers
I think I found the cause. Multi dex, for some reason.

Steps taken to confirm:
Created new project (dummy test with same package name and keystore). Build aab. Upload. Works, no error.
Enabled multi-dex. Clean, rebuild and upload. Doesn't work:
"You uploaded an APK or Android App Bundle with invalid or missing signing information"

[2019-12-13 20:01] alexthekid07 commented on #4036
Did you try deleting the keystore from VS and then re-adding it from the keystore file? I had to do that before when using a fresh install of VS with a lot of stuff dragged over

[2019-12-13 20:04] alexthekid07 commented on #4027
Do you have startup tracing/AOT enabled? This is new to 2019 if I recall correctly and it bloats your APK a decent amount but improves startup performance.
https://devblogs.microsoft.com/xamarin/faster-startup-times-with-startup-tracing-on-android/

You could try shaving off additional size in production by building AAB instead of APKs perhaps?

[2019-12-13 20:32] RamiroPrc commented on #3993
Works like a charm!! Thanks

[2019-12-13 20:57] alexthekid07 commented on #3993
I can also confirm that disabling multidex fixed the AAB problem.

Honestly I've had issues disabling multidex in the past so I've not unchecked it recently. My app isn't terribly complicated but I do use a lot of third party libraries so I assumed it was necessary. To my surprise it built and ran fine, though.

[2019-12-13 21:02] jonathanpeppers commented on #3993
Thanks everyone for helping me figure out how to repro this!

![image](https://user-images.githubusercontent.com/840039/70831912-68a4af80-1db9-11ea-82fe-fabcb584c9e2.png)

Now I'll figure out what is actually wrong. If your app builds without multi-dex, I would recommend turning if off. You will get faster build times and a slightly faster startup time.

[2019-12-13 22:00] jonathanpeppers commented on #3898
Does this actually solve your problem in your real project? It would be adding the one reference in the main app project.

The real solution is to completely remove `<ResolveAssemblies/>` from Xamarin.Android, but since that could potentially break a lot of projects we are still figuring out how to do it.

Let me know if the workaround works in your real solution or not, thanks!

[2019-12-13 22:35] brendanzagaeski commented on #3426
Unfortunately I don't have information about when Visual Studio 2019 for Mac version 8.4 will move from Preview to Release. But I will be sure to update this item as soon as possible when it does.

[2019-12-14 17:56] bddckr commented on #3898
Same issue here (with Microsoft hosted agents on Azure DevOps).

Our CI pipeline was setting the NuGet package path to have control over it for caching purposes ([like documented](https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops#netnuget)). We didn't want to cache the existing packages the build agent already comes with, and instead we only want the packages our b

[2019-12-14 23:23] pasn commented on #3898
We will try it next week. Treat this nuget as an example. We have the same problem with System.IO.Pipelines package and not sure how many more such errors may appear in the rest of our Android apps. Still, Do you know what is the source of different behaviour between these two scenarios?

[2019-12-15 09:40] VictorKochetkov commented on #4027
I have `AOT` enabled, `Start up tracing` is disabled.

![image](https://user-images.githubusercontent.com/11313401/70860857-01f9d000-1f38-11ea-956e-e427ea37d318.png)

[2019-12-15 13:28] xdr-synapse commented on #4036
I just tried it, but it didn't work.

[2019-12-15 20:33] tipa commented on #4028
Any idea what the problem is? I also got reports from users that the app won't start on Chromebooks any more.

[2019-12-16 05:31] mfkl commented on #3852
Hello,

I've got a minimal consistent repro here https://github.com/mfkl/libvlcsharp-samples/tree/master/MinimalPlayback/LibVLCSharp.Android.Sample.

[My users started hitting this](https://code.videolan.org/videolan/LibVLCSharp/issues/269) after I pushed libvlcsharp 3.4.0 which [enabled nullable support](https://github.com/videolan/libvlcsharp/pull/75).

[2019-12-16 08:50] MickLesk commented on #3896
Hey,

i upload the complete lp-Folder as .zip.
You can check it out here:
**Mega - zip-File:**
https://mega.nz/#!D8RDyaZL!oOf3oDaJgWHKBrpYipc656gj0ZiWZKqzEtjI6VjjSqs
**Virustotal:**
https://www.virustotal.com/gui/file/48ad57585e31ad50ebba9249ed17ec4f4c11cffc96736a531cff744a34319ee3/detection

[2019-12-16 12:21] pdsrebelo commented on #2673
The way I "fixed" the NDK issue was selecting a vs2017-win2016 machine and on the Xamarin build I have on the Additional arguments: `/p:AndroidNdkDirectory="C:\Microsoft\AndroidNDK64\android-ndk-r15c"`.

By the way, just noticed that any NDK below 19c is now marked as "Unsupported":
https://developer.android.com/ndk/downloads/older_releases.html

Does anyone if we can use NDK r20b to build a Cross

[2019-12-16 14:36] Panasjuk opened #4039 "Xamarin Android Crash at System.Threading._ThreadPoolWaitCallback.PerformWaitCallback()"
### Steps to Reproduce

1. No stable steps for reproduce. Just in some cases during start Android app. Mostly on Amazon and Samsung devices with Android ~5.1.1.

### Expected Behavior

### Actual Behavior
System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: index
  at System.Array.InternalArray__get_Item[T] (System.Int32 index) [0x00009] in <

[2019-12-16 18:16] #1483 closed

[2019-12-16 19:14] AndreyFromGomel opened #4040 "Wrong HttpClient response content string if response headers contain Content-Length"
### Steps to Reproduce

1. Create HttpClient instance and send GET request to host which returns Content-Length header in response.
2. Get response content as string.
3. Result string will be broken (will contain some hex numbers with chunk sizes or smth like this).

E.g. I added Content-Length: 50 header to response from  http://www.google.com, and run this code:

[code]
Expected to receive in co

[2019-12-16 20:33] jpobst commented on #4040
How are you adding the `Content-Length` header?  Could it be an issue with how you are doing that?  It looks like the request directly from google already provides this header and things seem to work fine:

![image](https://user-images.githubusercontent.com/179295/70940746-9b94b080-2010-11ea-9ede-01dc0fc0aa74.png)

[2019-12-16 21:18] AndreyFromGomel commented on #4040
I'm using Charles proxy for this.
Original response:
<img width="601" alt="Screen Shot 2019-12-17 at 00 12 46" src="https://user-images.githubusercontent.com/46677631/70943580-41bcd680-2062-11ea-9754-87d717c31148.png">
Modified:
<img width="599" alt="Screen Shot 2019-12-17 at 00 16 04" src="https://user-images.githubusercontent.com/46677631/70943701-86487200-2062-11ea-9957-5fd52178f97b.png">

[2019-12-16 21:39] Mikilll94 opened #4042 "Support for Android App Bundles on Azure DevOps"
Currently, there is no support for Android App Bundles on Azure DevOps. Are there any plans to add tasks for building Android apps as an .aab on Azure DevOps?

[2019-12-17 00:17] seanrodda commented on #3930
@Redth I am still receiving this error in the latest preview  (1.1.0-preview06)

[2019-12-17 00:27] Redth commented on #3930
Yup we can repro this and it is the very last item we are addressing before rc1 is released to nuget. Our goal is to have this out by end of week. Thanks for your patience!

[2019-12-17 00:55] georgeemr opened #4047 "[Bug] Issue with Android 6"
### Description

We using a binding library, app crash in Android 6.
Library use C++ code.

`2-16 19:44:46.523 E/AndroidRuntime( 5138): Process: com.companyname.Xamarin.TestApp, PID: 5138
12-16 19:44:46.523 E/AndroidRuntime( 5138): java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "__android_log_vprint" referenced by "/data/app/com.companyname.Xamarin.TestApp-1/lib/x86/libmonodro

[2019-12-17 01:03] seanrodda commented on #3930
That’s great! Thanks for the quick reply. Love all the work you’re doing with Xamarin Android

[2019-12-17 02:51] brendanzagaeski commented on #4042
Thanks for the question! The best place track this request will be on Visual Studio Developer Community under the Azure DevOps section.

In particular, I believe the following item matches what you're looking for, so when you get a chance, you can upvote and follow it to let the team know you're also interested:

https://developercommunity.visualstudio.com/idea/756675/azure-devops-pipeline-publish

[2019-12-17 02:51] #4042 closed

[2019-12-17 08:35] jitendrajadav commented on #1369
Hi @dehghani-mehdi any update on it?

[2019-12-17 08:46] dehghani-mehdi commented on #1369
@jitendrajadav did you try my [prev suggestion](https://github.com/xamarin/xamarin-android/issues/1369#issuecomment-564878724)?

I googled about this problem but I found nothing, the hello world app works for me too, so I think this problem is related to one or more of nuget packages that you used in your app. follow my prev suggestion, so you can find the target package(s).

[2019-12-17 09:46] pasn commented on #3898
Hi @jonathanpeppers. I tried your workaround and  added this to App.csproj:
`<Reference Include="System.Configuration.ConfigurationManager" />`

Unfortunately this has no impact. I tried it on our real solution, but later on also on this min example. My colleague tried it as well and also could not get it to work. We also tried to include nuget package directly in Android project, but it also did

[2019-12-17 13:54] bellissimo commented on #3791
@nll That is remarkable, thanks for pointing this out. I just went through the process and startup time went from 2.1s with AndroidEnableProfiledAot turned on, to 1.4s with the custom profile generated. In fact it startup up slightly quicker than having AotAssemblies turned on, which is a bit weird. The resulting APK size with the custom profile is only slightly larger than with AndroidEnableProfi

[2019-12-17 14:52] radekdoulik commented on #3791
The recording of own AOT profile is a feature we are still working on, to make it as simple as possible. Context: https://github.com/xamarin/xamarin-android/commit/853b367ca8a4bd4ecb2a9bbf4de2937397c9200d

The startup with own profile is indeed usually slightly faster than using just `AotAssemblies=true` as there's less I/O during startup and also the "hot code" is located together.

[2019-12-17 15:35] sh0ckrates commented on #3993
Same issue here , Visual studio Version 16.4.1. I cannot release the app, the way Ive been doing it the last 2 years.. Multidex is disabled.

Archiving the android app, selecting the "Distribute ..." - "Ad Hoc" and then selecting my signing identity .. inserting password in the box and then I get "Signing packages failed. Failed to load signer "signer #1" java.io.IOException: Keystore was tampered

[2019-12-17 15:54] robatkansys commented on #3993
@sh0ckrates , not sure if this will help or not.  Have been getting the same "Failed to load signer "signer #1" Keystore was tampered with, or password was incorrect" error since my upgrade to 16.4 last week.

Finally found a fix, the keypassword we had been using has special character in it, even thou is has always worked up until now.   We changed the keypassword via the Java jdk using "Java\jdk

[2019-12-17 16:04] georgeemr opened #4044 "[BUG] Issue with android 6 and binding library with native code"
**Description**
We are using a binding library, app crash only in Android 6.
Library uses C++ code.

`2-16 19:44:46.523 E/AndroidRuntime( 5138): Process: com.companyname.Xamarin.TestApp, PID: 5138 12-16 19:44:46.523 E/AndroidRuntime( 5138): java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "__android_log_vprint" referenced by "/data/app/com.companyname.Xamarin.TestApp-1/lib/x86/l

[2019-12-17 17:20] ssotir commented on #2993
I've tried the following linker.xml file with success.

<linker>
  <assembly fullname="Mono.Android">
    <type fullname="Xamarin.Android.Net.OldAndroidSSLSocketFactory" preserve="all"/>
  </assembly>
</linker>

[2019-12-17 22:24] alexthekid07 commented on #3993
@robatkansys I think the changes were merged already but there hasn't been a release yet with it fixed

[2019-12-17 22:55] ezverev commented on #2120
**VS 2019 16.4.2** has this issue as well.

[2019-12-18 03:15] SharpMobileCode commented on #3426
As severe as this bug is, I'm shocked that this isn't released as a hot fix.

[2019-12-18 03:31] Yadwin opened #4049 "Unable to Open Database File (connection wizard while testing Sqlite Database Connection)"
![SqliteConn](https://user-images.githubusercontent.com/44522708/71053574-e0d1f300-2174-11ea-90d8-7fe42e46eb31.png)

DataBase Path is Correct

[2019-12-18 08:41] rajnikantpatel23 commented on #4018
Thanks @brendanzagaeski it worked for me too.

[2019-12-18 09:04] sh0ckrates commented on #4036
any solutions yet please ? Same issue for me after updating Visual Studio

[2019-12-18 10:45] divil5000 commented on #3426
Microsoft appear to be asleep at the wheel. I totally agree they seriously underestimated how serious and debilitating this bug is. There's another one in the latest version of VS for PC, where all your conditional compilation settings and others are lost when looking at the project properties. No hotfix for that either, just a reference to trying some beta software which is out of the question fo

[2019-12-18 11:03] sh0ckrates commented on #3993
@robatkansys I would never solve it unless u gave me this answer. Thank you very much.

[2019-12-18 11:40] jitendrajadav commented on #1369
Hi @dehghani-mehdi I have tried with ASCII, UTF-8 without BOM but couldn't get much of help, I am not sure I how would I solved this problem my work is blocked

[2019-12-18 11:57] dehghani-mehdi commented on #1369
Hi, @jitendrajadav
Do following:
0. If you don't use Git or other version control systems, create a backup of your project
1. Remove all nuget packages and related codes
2. Try to build, build should be successful at this point
3. Start adding nuget packages __one by one__ and try to build each time you add a nuget package
4. Do #3 as long as you can build the project

The build should failed at s

[2019-12-18 12:25] xdr-synapse commented on #4036
Upgraded to VS 16.4.2, same error.

[2019-12-18 12:54] PaulVrugt commented on #3993
So when will this be released? This causes us to be unable to release new versions of our apps

[2019-12-18 13:18] radimitrov commented on #3993
@PaulVrugt Probably next year. Though if your application builds, then you can just fix the signing manually.
1. Build aab as usual.
2. Open aab with 7-Zip.
      - Delete the "META-INF" folder at the root.
      - Navigate to "base\root\META-INF" and delete all files with the extensions: ".SF", ".MF" or ".RSA".
3. Resign the aab.
`"%JAVA_HOME%\bin\jarsigner" -verbose -sigalg SHA256withRSA -digest

[2019-12-18 13:55] jonathanpeppers commented on #3993
I was going to suggest exactly @radimitrov's idea as a workaround: https://github.com/xamarin/xamarin-android/issues/3993#issuecomment-567027495

We are still tied to the VS release schedule, and with the holidays there might not even be a way for us to release something. I will do my best to look into it though, sorry!

[2019-12-18 14:49] PaulVrugt commented on #3993
Thanks for the suggestions. For now, we have reverted visual studio back to 16.3 to get it working again

[2019-12-18 15:20] jpobst commented on #4049
This does not seem to be related to Xamarin Android?

I would suggest submitting an issue from inside Visual Studio:
[code]

This will allow the issue to get internally routed to the correct team.  (Most parts of Visual Studio are not open source, so those teams are not on GitHub.)

[2019-12-18 16:36] hwd71 commented on #3426
I had exactly this, on multiple droids, with File.Move() - x86_64/arm-v7, android 5,6,7 :
Access to the path is denied. INNER: Operation not permitted
For me, upgrade VS2019 to 16.4.2 appears to have fixed it :)

[2019-12-18 21:33] cncb-gh opened #4053 "How to install older version of Xamarin.Android in VS Community 2019?"
I need a previous version of Xamarin.Android (10.1 installed and need 9.4).  I have downloaded the appropriate .vsix but when try to install it gives me an error: "This extension is already installed".  If I try to uninstall the extension within VS, it requires me to uninstall all of Xamarin and then the .vsix won't install because Xamarin is missing.  How is this done?  Thanks.

[2019-12-18 22:15] brendanzagaeski commented on #4047
Duplicate of #4044

[2019-12-18 22:15] #4047 closed

[2019-12-19 05:46] jitendrajadav commented on #3444
I have same problem but warning is different please check:

2>  R8 : warning : Missing class: org.apache.commons.digester.AbstractObjectCreationFactory
2>  R8 : warning : Missing class: org.apache.commons.digester.Rule
2>  R8 : warning : Missing class: javax.swing.tree.TreeNode

[2019-12-19 06:39] nirbil commented on #3773
Here's how i solved it, would love to get some input:
https://forums.xamarin.com/discussion/175842/validating-androidclienthandler

[2019-12-19 10:27] brendanzagaeski commented on #4053
As a little caution, It's possible that using an older Xamarin.Android SDK version in a newer Visual Studio version might lead to unexpected behaviors. Usually the IDE features are fairly flexible about the Xamarin.Android SDK version, but occasionally certain version combinations might cause some trouble.

I think the particular combination you're trying with Xamarin.Android SDK version 9.4 in Vi

[2019-12-19 13:24] radekdoulik opened #4057 "[linker] Consider removing attributes from non-linked assemblies"
When working on https://github.com/xamarin/xamarin-android/issues/3911 I noticed that we remove the attributes from assemblies with action set to `Link` only.

That means that we usually remove them from Sdk assemblies (SdkOnly linker mode is the default and most common). Thus the application and 3rd party referenced assemblies (including nuget assemblies) are left untouched.

Removing attributes

[2019-12-19 16:39] cncb-gh commented on #4053
Success with the manual approach.  Thank you!

[2019-12-19 16:39] #4053 closed

[2019-12-19 18:33] angusbreno commented on #3091
I can't debug/deploy one app!

The same everytime, hangs hangs and hangs...
![image](https://user-images.githubusercontent.com/5822893/71199440-bc5d4000-2274-11ea-933c-62b04b5527eb.png)

PLEASE Fix

[2019-12-19 21:10] brendanzagaeski commented on #4018
*Release status update*

A new Release version has now been published that includes the fix for this item.

Fix included on Windows in Visual Studio 2019 version 16.4.2. To get the new version that includes the fix, [check for the latest updates](https://docs.microsoft.com/visualstudio/install/update-visual-studio?view=vs-2019) or install the latest version from <https://visualstudio.microsoft.com

[2019-12-19 21:10] #4018 closed

[2019-12-19 21:16] brendanzagaeski commented on #3091
@andycted, @angusbreno, thanks for the new information! When you get a chance, if you could submit new issues with the descriptions of what you're seeing so the team can take a look, that would be perfect.

[2019-12-19 23:40] andycted commented on #3091
What I’m seeing is exactly the same issue described in this thread. So why should I open a new one ? I can only tell you that your fix didn’t work at all.

[2019-12-20 00:18] brendanzagaeski commented on #3091
@andycted, I'd recommend a new issue mostly just to help ensure your symptom gets the proper visibility with the team for further investigation, and to make sure it's clearly distinguished from the first fix that was added around shared runtime redeployments on this issue (for OnePlus devices).

If you like, I can open a new issue for you and copy and paste over your comment as a starting place. I

[2019-12-20 02:24] angusbreno commented on #3091
Same thing here, there is no related power options, cause i'm running on my galaxy s9+ with full processor power...

It hangs, on deploy. Simple as that.

I will open a new issue tomorrow with diagnostics, but please take a look, too many people with the same problem. In the previus VS version didnt happen this.

I'm responsible for +20 apps and i can't run debug anymore, it's despair.

[2019-12-20 08:43] jitendrajadav commented on #1369
Hi @dehghani-mehdi I found only 1 package is creating problem and the package is
"**LinkOS_Xamarin_SDK**"

Please help me to figure out this problem

[2019-12-20 09:03] dehghani-mehdi commented on #1369
Hi man, I didn't use this package before, but on [its nuget page](https://www.nuget.org/packages/LinkOS_Xamarin_SDK) they mentioned

Did you try the new package?

[2019-12-20 09:45] mzhukovs commented on #3993
I can confirm @radimitrov 's workaround works, with multi-dex enabled as well. @jonathanpeppers not sure if anyone else is seeing this but for me, the archive manager in VS does not show the items during/after archive (but the Xamarin logs in the output window appear). I suspect, but am unsure, that this happened after I changed my Archives Location under Tools -> Options -> Xamarin -> Android Set

[2019-12-20 10:34] Cheesebaron opened #4062 "_UpdateAndroidResgen fails because R.java is used by other process"
### Steps to Reproduce

Our build in MvvmCross has started to fail building. Only sometimes it completes successfully.

We are using the Azure Pipelines `windows-latest` build image.

1. Try build MvvmCross on Windows using the Cake build script
    `.\build.ps1`
2. Build fails when reaching MvvmCross.Plugins.Location.Fused Android library

### Expected Behavior

Build should complete without erro

[2019-12-20 10:35] andycted commented on #3091
@brendanzagaeski please do open a new issue.

I don't have power management issues. I do have the problem mentioned in the title. I can give you more info if needed.

[2019-12-20 13:16] chrisevans9629 commented on #4062
I am getting this error as well when using ``Xamarin.GoogleMaps`` and ``Microsoft.AppCenter.Push``.  I keep getting
``
Unhandled exception: System.IO.IOException: The process cannot access the file 'C:\Users\cevans\source\repos\LinkerTest\LinkerTest\LinkerTest.Android\obj\Debug\90\android\src\com\google\android\gms\base\R.java' because it is being used by another process.
   at System.IO.__Error.W

[2019-12-20 13:34] chrisevans9629 opened #4063 "How to resolve 'IOException: R.java being used by another process' during build"
### Steps to Reproduce

1. Create a new Xamarin.Forms app
2. Add the following packages to the .net standard library
[code]
3. add the following packages to the xamarin.android library:
[code]

### Expected Behavior
The application should build
### Actual Behavior
On build on my local machine and in azure pipelines I get this error:

[code]
### Version Information

#### Local Machine

Microsoft Vi

[2019-12-20 15:25] #3911 closed

[2019-12-20 16:24] justintoth commented on #3476
I'm seeing the same issue, but only on our App Center build server, so manually cleaning isn't an option. It seems related to having just upgraded nuget packages, my suspicion is that the culprit is the Xamarin.Build.Download package.

[2019-12-21 01:51] mattleibow opened #4066 "AndroidLinkMode is different depending on Build or Install targets"
### Steps to Reproduce

1. Create an Android project
2. Make sure shared runtime and SdkOnly link mode are selected
3. Build/rebuild and see the `_ValidateLinkMode` task reset the link mode to None
4. Run without a build and see that `_ValidateLinkMode` is not run and the link mode is back to SdkOnly

I do notice that the Install via CLI seems to include Build in the dependencies, so this may not

[2019-12-21 01:55] mattleibow commented on #4066
I tried just adding a dependency on `_ValidateLinkMode`, but then the `_CreatePropertiesCache` is never correct since it writes the values before things. This causes things to rebuild. Added this for now:

[code]

[2019-12-21 02:07] brendanzagaeski opened #4067 "Shared runtime redeployed repeatedly on Android 4.4 KitKat (API level 19) Huawei Y635-L21"
This a new issue for a scenario where the shared runtime is being redeployed repeatedly that was not yet resolved by the fix for the similar previous issue <https://github.com/xamarin/xamarin-android/issues/3091>.

### Steps to reproduce

Based on the information so far, it sounds like the steps to reproduce are:

 1. Start with a Android 4.4 KitKat (API level 19) Huawei Y635-L21 device.
 2. On th

[2019-12-21 02:08] brendanzagaeski commented on #4067
### Additional background context

michalsznajder commented on May 13 <https://github.com/xamarin/xamarin-android/issues/3091#issue-443251488>

* * *

dellis1972 commented on Oct 9 <https://github.com/xamarin/xamarin-android/issues/3091#issuecomment-539891349>

* * *

michalsznajder commented on Oct 10 <https://github.com/xamarin/xamarin-android/issues/3091#issuecomment-540913097>

* * *

brendanz

[2019-12-21 02:21] brendanzagaeski commented on #4067
@andycted, as a next step to get the *Actual behavior* information that matches the *Expected behavior* information I collected, if you could complete the following steps, that would be perfect:

 1. Set **Tools > Options > Project and Solutions \[section\] > Build and Run \[subsection\] > MSBuild project build output verbosity**:

    **Diagnostic**

 2. Set **Tools > Options > Xamarin \[section\

[2019-12-21 11:56] andycted commented on #4067
Hi

I was going to do that, but the problem didn't repro with a brand new single project.
Should I go through posting the logs anyway ?

[2019-12-21 14:14] andycted commented on #4067
So here it is what happened:
- I followed all the instructions. Built, Debugged. Modified. Debugged. The shared runtime was NOT reinstalled on the second run.
- I tried this a few times, no luck.
- So I closed the solution. Worked on other android projects. Reopened the solution. Modified the project, rebuilt it. Debugged. The shared runtime was reinstalled.
So I don't have the previous logs, only

[2019-12-21 14:22] andycted commented on #4067
So, I restarted everything from scratch and got the log. For clarity, these are after removing the mono shared runtime from the device, cleaning the project and debugging ONCE. They're named 'from scratch'.

For completion, I did the second run, the runtime was NOT installed (correctly, then), so no repro, but I got the log in 'second run as expected'.

The ones in the previous message (second run

[2019-12-21 23:38] gmck opened #4068 "VS 16.5.0 P1.0 How to avoid - The "CopyGeneratedJavaResourceClasses" task was not given a value for the required parameter "SourceTopDirectory"."
Virtually any code change results in the above message when next trying to build. Cleaning before building fixes it. The app is an Android 10 - AndroidX app if that makes any difference.

[2019-12-22 07:55] EvoPulseGaming commented on #3807
Using Xamarin.Android 10.2.0.16 and its still complaining about 8.0 (vs2019 16.5.0 preview 1)

I've updated everything possible, and this doesn't work.

[2019-12-22 08:41] jamesmontemagno commented on #3807
I did a file -> new project and it worked just fine for me. in 16.4

This is specifically inside of the Android project.  You still need to turn it on manually for .NET standard 2.0: https://montemagno.com/use-csharp-8-everywehre/

[2019-12-22 18:37] chrisgate commented on #3807
i did too @jamesmontemagno ......is there any thing in android .csproj that specify is 8.0 compatible?

[2019-12-22 19:18] jamesmontemagno commented on #3807
So, in the latest 16.4 it should just work from what I tested, however, I didn't test older projects on it.

You can add:
[code]

to your csproj and that will light it up :)

[2019-12-22 20:43] chrisgate commented on #3807
add to android .csproj ?

[2019-12-23 03:54] gremito opened #4069 "Xamarin.Android application and Appium cannot cooperate, and it ends abnormally."
## problem

Xamarin.iOS apps can work properly with Appium, but Xamarin.Android apps cannot work with Appium.

We believe that this is a problem on the Xamarin side because native Android apps can be linked with Appium.

## all information

The Xamarin.Android app breaks as follows:
https://twitter.com/grem_ito/status/1208661064428056576

It will be a Japanese document, but details are summarized.

[2019-12-23 06:43] jamesmontemagno commented on #3807
Yup, I put it in all my projects, it is wherever you want to use 8.0 you just put it in there.

[2019-12-23 11:31] stezma opened #4070 "Xamarin Android Binding Project with multiple dependencies"
How I can create a **Android binding** project that refers other **third party libraries**.

In my case I have a library (Say library A) present in **Maven repository**. And which internally refer some **2-3 other libraries.** When I try to create binding project for this library the corresponding references are not resolving automatically.

I have also tried adding the external dependencies to th

[2019-12-23 12:22] claudioredi commented on #4028
I'm seeing the same :( It only happen with Android 9 so far.

<img width="684" alt="Screen Shot 2019-12-23 at 9 21 11 AM" src="https://user-images.githubusercontent.com/1825057/71357850-be214f00-2565-11ea-9bce-9e535947ef22.png">

[2019-12-23 14:22] chrisgate commented on #3807
thank you

[2019-12-23 15:08] jpobst commented on #4070
Using `EmbeddedReferenceJar` should be the way to do this.  I would check that you have all the required .jars (which might include libraries referenced by other libraries).  You can figure out which jar contains the class that the error message mentions and check the .apk/.aab file to see if the jar is there.

Also, when building you application, do you have linking turned on?  That would help na

[2019-12-23 23:13] brendanzagaeski commented on #4067
Perfect. Thanks the careful work gathering all the logs!

It looks like the `am broadcast` command is not returning expected package information.

## Next steps

@andycted, when you get chance, you can try running the `am broadcast` command by hand to see what the result is:

 1. Make sure the device already has the shared runtime installed.

 2. Open **Tools > Android > Android Adb Command Prompt

[2019-12-24 00:39] brendanzagaeski commented on #4067
On second thought, it might also be useful to get the `adb logcat` output related to the broadcast, so the full set of steps to follow is:

 1. Make sure the device already has the shared runtime installed.

 2. Open **Tools > Android > Android Adb Command Prompt**.

 3. Run the following command to clear the log:

[code]

 4. Run the following command to perform the broadcast and collect the outp

[2019-12-24 03:23] mattleibow opened #4071 "Android App Bundle + Shared Runtime = 💥"
### Steps to Reproduce

1. Set some properties
2. Build
3. Run
4. Observe a __Internal dll not found

[AxTest.zip](https://github.com/xamarin/xamarin-android/files/3997088/AxTest.zip)

### Expected Behavior
No 💥

### Actual Behavior
💥

### Version Information

### Log File

[2019-12-24 09:10] VictorKochetkov opened #4072 "Xamarin.Android slow build and deploy after no changes in code"
Build and deploy on physical device is VERY slow and takes about ~1 minute after NO changes in code and project.

Visual Studio 2019 (Version 16.4.0)

Below is diagnostic logs (there were multiple logs, don't know why) :

............

...........

It seems that `Aapt` and `CallTarget` are slow.
Any suggestions?

[2019-12-24 09:29] moljac commented on #4068
@gmck

OK. I can reproduce this error with my AndroidX test samples.

Workaround for now: `rebuild` and then `run`.

Sole `run` will cause this error.

Tests continued.

[2019-12-24 09:40] moljac commented on #4068
Binlog

`Run` after code change.

[SampleApp.Android.csproj_Evaluation_2019-12-24T10_34_55.7709154+01_00.binlog.zip](https://github.com/xamarin/xamarin-android/files/3997878/SampleApp.Android.csproj_Evaluation_2019-12-24T10_34_55.7709154%2B01_00.binlog.zip)

[2019-12-24 09:43] moljac commented on #4068
Repro sample

https://github.com/moljac/MovesenseDotNet/tree/master_based_improvements

https://github.com/moljac/MovesenseDotNet/tree/master_based_improvements/Samples/GraphPlotSample

[2019-12-24 10:32] moljac commented on #4068
After getting error pressing `run` (`install`/`deploy`) again will deploy the new app (with code change).

[2019-12-24 17:17] EvoPulseGaming commented on #3807
This worked for me as well

[2019-12-24 23:04] VladislavAntonyuk commented on #3824
The issue is reproduced on Windows only. I can build app on macOS

[2019-12-26 04:38] thaihuydang commented on #3822
Deleting 'bin' and 'obj' not work with me

[2019-12-26 06:51] NikhilWaghaye commented on #1755
@bruno-garcia where to add this settings...
Thanks

[2019-12-26 07:01] bharanidharan1707 commented on #3822
For me also not working.

[2019-12-27 12:12] MihaMarkic commented on #2120
I'm getting a variation of this: "Mono.Cecil.Cil.SymbolsNotFoundException: No symbol found for file" but otherwise the message is the same.

[2019-12-27 12:36] radekdoulik opened #4073 "Java.Interop tests fail to build on Windows"
Looks like the QA build is failing on Windows when building Java.Interop tests.

The error:
[code]

Context: https://dev.azure.com/devdiv/DevDiv/_releaseProgress?_a=release-environment-logs&releaseId=540529&environmentId=2816353

[2019-12-27 13:38] dellis1972 commented on #4072
@VictorKochetkov can you upload/gist the diagnostic log or binlog so we can look at what is triggering those targets? We should be able to figure out which files are being touched/updated and following that why those targets are running.

[2019-12-27 15:25] radekdoulik commented on #3852
Thank you for the repro sample. I am able to reproduce the problem locally with it.

So far it looks like the linker issue is related to processing `System.Void System.Runtime.CompilerServices.NullableAttribute::.ctor(System.Byte)` (constructor) method.

[2019-12-27 16:51] justinwojo commented on #3791
I've been attempting to get the above recommendations to work on a Mac without success. I have enabled the `AndroidEmbedProfilers` property, verified that it's actually working and running in the verbose build output, set the `debug.mono.profile` to `aot:port=9999` (validated it was set by calling getprop as well), started the app and waited 15 seconds or so, ran the `aprofutil -s -v -f -p 9999 -o

[2019-12-28 07:19] andycted commented on #4067
[log.zip](https://github.com/xamarin/xamarin-android/files/4006821/log.zip)
here

[2019-12-30 06:51] esspl-git commented on #3993
I tried to sign an unsigned aab using jarsigner and .jks and while upload it to play console it is showing the same error.

[2019-12-30 07:26] ilkeSylmz commented on #1461
I have the similar issue with Visual Studio 2019 16.4.2. It could be reproduced without performing step 2 and 3.

[2019-12-31 06:48] brendanzagaeski commented on #4067
Excellent. Thanks again. These log files confirm that the broadcast completes but does not return any `data`:

[code]

The `adb logcat` output hints at why the reply doesn't include any `data`:

[code]

It seems the Android OS on this Huawei device is specifically skipping the step of delivering the broadcast to the Mono Shared Runtime (Mono.Android.DebugRuntime) app.

## Next steps

The documenta

[2019-12-31 07:25] Kation commented on #1520
I got this exception when I bind a model to a view.
I'm debugging **VisualElementTracker** and found that **HandlePropertyChanged** method called by **BindingExpression**.
In the method that **_renderer** is not null but **_renderer.View** was disposed.
And it will continue execute underlying codes.

Then I figure out that why it was happened.
I have a **thread running background** that receive me

[2019-12-31 13:10] rakul1064 commented on #3741
Hi, I'm also facing same problem.
android.support.design.widget are not working as expected on VS Mac 8.3.11.
Anyone having solution for this?

[2019-12-31 14:35] mgj commented on #3822
On a brand new pc, brand new Visual Studio 2019 community install, this is a reproducable test case:
File -> New Project -> Mobile App (Xamarin.Forms) -> Select any of the templates (Blank, master/detail, etc)

Restoring nugets does not resolve the issue

[2019-12-31 15:06] lafritay commented on #4068
I'm hitting this in 16.4.2.  Rebuild / clean and then redeploy does not fix it.  Any ideas on what else to try in order to troubleshoot?

[2020-01-02 13:45] jonathanpeppers commented on #3993
@esspl-git you will also need to delete the extra `META-INF` directory with a zip utility. The comment here has steps: https://github.com/xamarin/xamarin-android/issues/3993#issuecomment-567027495

I'm working getting the fix for this in a service release. I'll comment if we get one, thanks.

[2020-01-02 13:47] jonathanpeppers commented on #4063
@chrisevans9629 if you use Xamarin.Build.Download 0.4.11 does the problem go away? You might have to add the NuGet package manually.

This might be the same as:
* https://github.com/xamarin/xamarin-android/issues/4062
* https://developercommunity.visualstudio.com/content/problem/845345/cant-build-xamarin-for-android-project.html

[2020-01-02 13:54] jonathanpeppers commented on #4071
The IDE didn't let you set this, did it? Had to edit the `csproj` manually?
[code]
I wouldn't consider this option valid, but maybe we need to make it give a warning and force `$(EmbedAssembliesIntoApk)` to `False` so things work.

[2020-01-02 13:58] jonathanpeppers commented on #3824
@VladislavAntonyuk can you file a new issue including a build log? The error mentioned about would happen on both platforms.

@srdmnc I wonder if just doing a Clean or Rebuild at some point is actually what fixed this. Closing for now, but let us know if you hit it again.

[2020-01-02 13:58] #3824 closed

[2020-01-02 13:59] Cheesebaron commented on #4062
Downgrading Xamarin.Build.Download to 0.4.11 worked. Cosing this as it is a duplicate of https://github.com/xamarin/xamarin-android/pull/4043

[2020-01-02 13:59] #4062 closed

[2020-01-02 15:55] VladislavAntonyuk opened #4074 "Build error with EFCore 3"
4>D:\Miscellaneous\source\repos\draw-go\Packages\microsoft.bcl.asyncinterfaces\1.1.0\ref\netstandard2.1\Microsoft.Bcl.AsyncInterfaces.dll : warning XA0107: Ignoring Reference Assembly `D:\Miscellaneous\source\repos\draw-go\Packages\microsoft.bcl.asyncinterfaces\1.1.0\ref\netstandard2.1\Microsoft.Bcl.AsyncInterfaces.dll`.

4>D:\Miscellaneous\source\repos\draw-go\Packages\microsoft.bcl.hashcode\1.1.

[2020-01-02 17:27] mattleibow commented on #4071
Oh, sorry. not `EmbedAssembliesIntoApk` but the AAB thing.

[2020-01-02 19:11] jonathanpeppers commented on #4071
So a smaller repro is to just make a new Blank Android App and enable App Bundles.

![image](https://user-images.githubusercontent.com/840039/71686617-51763380-2d61-11ea-9c6c-96ace1a0fb5e.png)

I do get this build warning:
[code]

It is probably worth fixing the issue here at some point. But it is weird when I initially implemented App Bundles this scenario worked... 😞

[2020-01-03 11:17] SavikPavel commented on #3741
@rakul1064,  I do have a "workaround", but I'm not really sure if it will be applicable to you. We do not need swipes in our app, so I just removed ViewPager and used FrameLayout as a content container instead. Then, when the tab is selected in the TabLayout, I'm just replacing the Fragment in the FrameLayout manually.

[2020-01-03 12:12] mattleibow commented on #4071
Again, I should update the issue. I get a runtime issue about not finding __Internal

[2020-01-03 12:38] radekdoulik commented on #3791
Try to use a different port number. Also check the `adb logcat -d` output to check whether the aot profiler was loaded.

[2020-01-03 15:12] jpobst commented on #3450
Fixed in https://github.com/xamarin/xamarin-android/pull/4016.

[2020-01-03 15:12] #3450 closed

[2020-01-03 18:14] JORGEGO opened #4081 "[Bug] Crash APK done Xamarin forms VS 2019"
I am a little exhausted... After upgrade my Visual Studio to 2019, upgrade nuget packages apk made & signed with Archive option of VS 2019, crash as soon as open it, and app center code to collect tracing information not has time to collect, so I am lost...
When I deploy on physical device or emulator device all works even the compilation it is release way, but making the apk with archive option i

[2020-01-03 22:24] bruno-garcia commented on #4007
I haven't tried your advise on this repro but I did in the code base that made me work on a smaller repro in the first place.

JetBrains rider overrides `public IntPtr Handle { get; }` and `Dispose` but I've removed these overrides and things are working.

[2020-01-03 22:24] #4007 closed

[2020-01-04 16:21] EmilAlipiev commented on #2727
I have an issue. I dont know if that is Xamarin/Visual Studio related or Google Console related. Please let me know if i should create a new issue for this. here is the problem
- I have an existing app signed by my own keystore
- I created appbundle using VS 2019
-  On play console i changed to be signed by google as it is requirement for appbundles
- I followed google steps and all successful. i

[2020-01-04 19:44] mrk-han commented on #3513
Any word back on this? Thanks @brendanzagaeski

[2020-01-05 10:19] maxkoshevoi commented on #2727
@EmilAlipiev I have the same problem:
![app_bundle](https://user-images.githubusercontent.com/6609929/71778365-9abec100-2fb5-11ea-8a02-38a7a73e4454.gif)

[2020-01-05 13:28] janusw opened #4082 ""make prepare" on Ubuntu 16.04 fails to unpack android-2.3.3_r02.zip"
### Steps to Reproduce

1. git clone https://github.com/xamarin/xamarin-android.git
2. cd xamarin-android
3. make prepare

### Expected Behavior

`make prepare` should run through without errors.

### Actual Behavior

`make prepare` successfully checks for all necessary programs and tools, but then fails with the following error while preparing the Android SDK:

[code]

### Version Information

*

[2020-01-05 13:36] janusw commented on #4082
The 7z help text on my system shows:

[code]

This does not seem to include any of the switches `-bso1`, `-bsp1` and `-bse2` !?!

[2020-01-05 13:51] janusw commented on #4082
On another machine I have a more recent Ubuntu version (19.04), which has p7zip version 16.02.

This version indeed seems to include the necessary switches:

[code]

So version 9.20 is apparently just too old! Indeed `make prepare` seems to have a check for p7zip, but it does not complain about version 9.20.

A remaining question is: Which minimum version of p7zip is required?

[2020-01-05 13:55] janusw commented on #4082
https://github.com/jbdemonte/p7zip/blob/master/ChangeLog seems to indicate that the `-bs` switches were introduced with version 15.05. Any 9.x version is certainly too old.

[2020-01-05 14:13] chrome050 commented on #4036
I have the same issue on two installations (VS 16.4.1 and VS 16.4.2). If I create a new keystore with a simple password without "@ ^ ] $" it works. But this can't be a solution!

[2020-01-05 15:29] chrome050 commented on #4036
If i change the password for the alias it works (./keytool.exe -keypasswd -alias myalias -keystore "pathtokeystore")

[2020-01-05 19:29] janusw commented on #4082
I have verified that using p7zip version 16.02 (compiled from source) fixes the problem and makes `make prepare` run through without errors on Ubuntu 16.04.

It should be noted that the p7zip-full system package needs to stay installed, otherwise the checks of `make prepare` do not detect 7zip (even if a compiled-from-source 7za executable is available in the $PATH). Ideally those checks should de

[2020-01-06 08:48] jiro-san commented on #3892
Hello, we have a huge application built locally and we had a symilar crash when performing endurance test:
1-01 15:17:20.719 F/        ( 1237): monoeg_g_usleep: clock_nanosleep () returned -1
01-01 15:17:20.719 F/libc    ( 1237): Fatal signal 6 (SIGABRT) at 0x000004d5 (code=-6), thread 1810 (Thread Pool Wor)
01-01 15:17:20.819 D/dalvikvm( 1237): GC_EXPLICIT freed 117K, 8% free 41864K/45040K, pause

[2020-01-06 13:45] dellis1972 commented on #4068
@moljac I am having trouble reproducing this issue on the latest preview version of VS 2019 with your sample app.
Also would you be able to capture the binlog files again? The file in the zip that you linked did not seen to include any information at all.

[2020-01-06 14:26] jonathanpeppers commented on #4068
@mattleibow this project is using AndroidX.Migration, and I am guessing that this target is not running for some reason on some incremental builds:

https://github.com/xamarin/xamarin-android/blob/afb389cbb3ea59d4254038e0f739052e4d374c40/src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets#L2230-L2237

I suspect AndroidX.Migration is affecting the tree of MSBuild target dependencies? May

[2020-01-06 14:31] Ryan-Palmer commented on #3930
Hi guys, I just wondered if there is any update on this? I'm stuck half way through my AndroidX upgrade unfortunately. Thanks for the great work you have all been doing, cheers :)

[2020-01-06 14:31] jonathanpeppers commented on #2727
@EmilAlipiev @maxkoshevoi I think you are hitting a different issue, a manual workaround is here: https://github.com/xamarin/xamarin-android/issues/3993#issuecomment-567027495

File a new issue if you think it is something else, thanks!

[2020-01-06 15:10] #3852 closed

[2020-01-06 15:56] SharpMobileCode commented on #3426
@brendanzagaeski , any word on when we are going to get this fix for Mac?

[2020-01-06 16:52] radekdoulik commented on #4073
https://github.com/xamarin/QualityAssurance/pull/3478 might fix this?

[2020-01-06 17:14] brendanzagaeski commented on #3426
No news yet, but hopefully there will be some information soon as things get moving again in the new calendar year.

[2020-01-06 17:14] pjcollins commented on #4073
It should, and we'll need https://github.com/xamarin/java.interop/commit/476597b63f049b12615a810f2027df6dd68b7ffe

[2020-01-07 13:03] divil5000 commented on #3426
If my product had a serious bug like this, I wouldn't have allowed myself to break for Christmas until I'd fixed it. Perhaps my work ethic is stronger than some at Microsoft.

[2020-01-07 14:59] BrzVlad commented on #2518
Fixed by https://github.com/mono/mono/pull/18239

[2020-01-07 14:59] #2518 closed

[2020-01-07 15:00] BrzVlad commented on #1368
Should be fixed by https://github.com/mono/mono/pull/18239

[2020-01-07 15:00] #1368 closed

[2020-01-07 15:00] BrzVlad commented on #2049
Should be fixed by https://github.com/mono/mono/pull/18239

[2020-01-07 15:00] #2049 closed

[2020-01-07 15:02] BrzVlad commented on #3905
Should be fixed by https://github.com/mono/mono/pull/18239

[2020-01-07 15:02] #3905 closed

[2020-01-07 15:14] jonathanpeppers commented on #2049
@BrzVlad can we backport https://github.com/mono/mono/pull/18239 to mono 2019-12?

[2020-01-07 15:22] BrzVlad commented on #2049
I'm not that eager to backport the fix, since I would rate it as having a moderate risk. Especially given this issue is very old and has an easy workaround (the old/new bridge). Regarding whether we should backport, I would let @jonpryor  and @marek-safar chip in with an opinion.

[2020-01-07 16:16] jonathanpeppers commented on #4081
@JORGEGO can you attach the actual crash? Otherwise there isn't enough info here to know what is wrong.

You can get this from `adb logcat` output command-line, such as:

https://docs.microsoft.com/xamarin/android/deploy-test/debugging/android-debug-log#accessing-from-the-command-line

You can do `adb logcat > log.txt` and upload the `log.txt` file here.

[2020-01-07 16:26] jonathanpeppers commented on #4074
Hi @VladislavAntonyuk this project seemed to work for me: [EFCore3Repro.zip](https://github.com/xamarin/xamarin-android/files/4031483/EFCore3Repro.zip)

Can you see if there is a difference between this project and yours?

Can you attach a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output), too? Thanks!

[2020-01-07 16:34] jonathanpeppers commented on #4008
@shimfish could you attach the full [adb logcat output](https://docs.microsoft.com/xamarin/android/deploy-test/debugging/android-debug-log)?

If you run `adb shell setprop debug.mono.log debug,dll` before capturing the log, it should print more info.

@grendello any other ideas on how they could get more info on this?

[2020-01-07 16:39] jonathanpeppers commented on #4049
@Yadwin closing for now, let us know if you see a Xamarin.Android issue here, thanks.

[2020-01-07 16:39] #4049 closed

[2020-01-07 16:46] grendello commented on #4008
@jonathanpeppers no, not really. The log is our only chance here. However, I suspect the error has to do with this [change in Android 7](https://developer.android.com/about/versions/nougat/android-7.0-changes#ndk). `/lib/arm/libopenal32.so` is not part of the "public" libraries, so both linking against it and `dlopen`-ing it would fail this way on Android 7+ (and FireOS 7 is based on Android 9). T