[2021-07-30 13:37] LeBuzzy commented on #6153
So, i tried something. I removed all of the **application** tag of the manifest. And..well..it's deploying now.
Working manifest :
[AndroidManifest.zip](https://github.com/xamarin/xamarin-android/files/6907879/AndroidManifest.zip)

[2021-07-30 13:41] LeBuzzy commented on #6153
Finally, i re-inserted my first **application** and discarded the second. My app is deploying fine now. Thanks for your time.

[2021-07-30 13:44] dellis1972 commented on #6153
No problem :) Glad its working again :D

[2021-07-30 13:44] #6153 closed

[2021-07-30 16:56] FANMixco opened #6156 "Xamarin.Android Linker is not working as expected. Animations can be deleted regardless of your ProGuard or excluding configuration"
I have an app that is working fine but since I cannot link the libraries (because it causes an **abnormal behavior**) it becomes significantly bigger (20 MiB more). The main issue happens with one of my own libraries:

https://www.nuget.org/packages/Xamarin-MaterialSearchBar

I "excluded" the package and its dependencies:

But the "linking" options behave quite odd because they are not excluded ne

[2021-07-30 16:59] jonathanpeppers commented on #6156
Can you share a sample project that shows the issue? It seems like none of your screenshots worked.

If we could run a project where Debug has different behavior than Release, we can check what is going on.

[2021-07-30 17:01] FANMixco commented on #6156
Hi @jonathanpeppers, I updated the bug and also, attached the project. The bug happens in both environments if you configure it as linking the libraries.

[B6327d7c14fbc46a597cebf8c7c8ba33a637628021245474207_LRM.zip](https://github.com/xamarin/xamarin-android/files/6909045/B6327d7c14fbc46a597cebf8c7c8ba33a637628021245474207_LRM.zip)

[2021-07-30 17:05] FANMixco commented on #6156
[LRM_All.zip](https://github.com/xamarin/xamarin-android/files/6909061/LRM_All.zip)

This is another variation with everything I have said I have done :/. It just doesn't include the library because it's a binary but its Open Source:
https://github.com/FANMixco/Xamarin-SearchBar

[2021-07-31 07:42] IainCoSource commented on #4810
Some of that is a bit beyond my current knowledge. But if there is something I can do to help please let me know.

[2021-08-01 12:58] AmrAlSayed0 commented on #5249
@jonathanpeppers I think this issue is now irrelevant since `.aab`s are becoming mandatory in Google Play Store.

[2021-08-01 17:05] bddckr opened #6158 ".NET 6: `_ResolveAssemblies` ignores user's `AppendRuntimeIdentifierToOutputPath`"
In my projects/solution I'm overriding the various `*OutputPath` MSBuild properties to move all output into a root `artifacts` directory.
[code]

This has been working without issues until I started testing .NET 6. On preview 6, when creating an SDK-style project as a bindings library project for an `.aar`, the following error is encountered with such a customized setup:
[code]
As you can see the

[2021-08-02 09:49] grendello commented on #6143
@fernandovm I understand your frustration, but the code in question was added in September 2019 and hasn't been significantly changed in the following nearly 2 years (99% of it has been untouched in that time). With the information I have, I can only repeat your sentiment expressed above - the problem doesn't appear to originate in our code. The code is exercised every time any Xamarin.Android app

[2021-08-02 09:58] grendello commented on #6152
@gmck it looks like the crash originates in Java when inflating a layout, not sure how Xamarin.Android is involved here. @jpobst, any idea?

[2021-08-02 10:06] grendello commented on #6144
@AlleSchonWeg This is a bug in Android's Java  client implementation (which is used by Xamarin.Android's `AndroidClientHandler`), take a look at these links:

 * https://github.com/xamarin/xamarin-android/blob/8733e8a943ea25f9519d783e7f955bb72222b961/src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.Legacy.cs#L100-L104
 * https://github.com/xamarin/xamarin-android/blob/8733e8a943ea25f9519d

[2021-08-02 10:53] AlleSchonWeg commented on #6144
Hmm,
what could be the fix for this issue:
- Make HttpClientHandler public that AutomaticDecompression can be set
- Check if `DefaultRequestHeaders.AcceptEncoding.Add(new StringWithQualityHeaderValue("gzip, deflate"))` is set by user and handle decompression like above (decompress_here)

[2021-08-02 12:52] fernandovm commented on #6143
@grendello, I know that this code is not new, but the issues regarding this aspect of initialization are not new too, see the issue #4557. I don't believe that there is an obvious bug in this initialization process (this would be more easy), I just suggest a special care with it, maybe more protections, or logs to help us diagnostic crashes/ANRs, something like...

Well, that's it... Now is the ti

[2021-08-02 13:35] Akademiksdc commented on #6141
Any updates??

[2021-08-02 13:54] jonathanpeppers commented on #6158
The problem with forcing `AppendRuntimeIdentifierToOutputPath=false`. The linker runs for each `$(RuntimeIdentifier)` and so this could overwrite files. By default an app builds for `android-arm64` and `android-x86`. And so you're probably ending up with files for the wrong architecture in your app? Does the app still "work" on emulators and devices? I suspect it will crash on one architecture.

W

[2021-08-02 14:04] bddckr commented on #6158
It just simplifies it when I can tell my team members to wipe a specific folder whenever they encounter a build issue that can be resolved by wiping all `obj` and `bin` folders.

Oh sorry - that's not what my intention is!

Since this is using the `MSBuild` task all specified `Properties` apply as _global_ properties to the project that the task is executing a target on. Global properties cannot b

[2021-08-02 14:08] jonathanpeppers commented on #6158
@bddckr can you make a small sample that reproduces this issue? Thanks.

[2021-08-02 14:09] arivoir opened #6161 "Android debugger showing variables wrongly (.Net6)"
Android debugger is showing incorrect values, either by hovering the variables in code or using "Add watch" or "Quick watch"

As it can be seen in the below video, the "fontFamily" variable is showing true, as if it were a boolean variable, and the "typeface" variable is showing a string that has the value of the "fontFamily" variable. Similarly textStyle shows the value of the "a" variable.

![an

[2021-08-02 14:14] jonathanpeppers commented on #5249
@AmrAlSayed0 this issue is relevant *because* App Bundles are required soon.

These files are both in the `base.apk` for an App Bundle:
[code]

They are architecture specific, and they are installed on all devices. An x86 device, wouldn't need the other file.

So far the only suggestion we have from Google:

https://github.com/google/bundletool/issues/190#issuecomment-765451108

...is to rename as

[2021-08-02 14:35] arivoir commented on #6161
The parameters of the method look fine, when the code enters in the _GetTypefaceFromAttrs_ method, I can see the parameters correctly. The bug is with the local variables in the method body

[2021-08-02 15:14] grendello commented on #4557
@alexcohn The issue of `@android:extractNativeLibs="false"` being unreliable has been addressed in bf657e815b200e57098725c0ad963d70e881ea69 (it wasn't just LG devices). We no longer trust it in any shape or form.

[2021-08-02 15:14] grendello commented on #6143
@fernandovm #4557 is not related to this code. The code is part of `libmonodroid.so` which wasn't being loaded as [this comment](https://github.com/xamarin/xamarin-android/issues/4557#issuecomment-833364353) appears to indicate. I'm not sure what "special care" you suggest, what more logs would you want us to produce - the problem here is not the lack of log messages from us but the inherent usele

[2021-08-02 15:36] grendello commented on #6144
@AlleSchonWeg The compression **does** work with `AndroidClientHandler` if you look at the code - it's merely handled by us and not by the (broken) Java HTTP client

[2021-08-02 15:47] grendello commented on #6161
@arivoir Could you please provide full Xamarin.Android, dotnet and IDE version information? Thanks!

[2021-08-02 15:47] fernandovm commented on #6143
Ok @grendello, thank you very much!

[2021-08-02 15:49] AlleSchonWeg commented on #6144
@grendello It's not working, because with `HttpClient client = new HttpClient();` xamarin forms uses `AndroidClientHandler` but `AutomaticDecompression` is set to `DecompressionMethods.None`. And you have no chance to change it, because fields are private.

[2021-08-02 15:55] Guidemarcus commented on #6004
Seems like changing your project path might help. As it was said earlier, changing the targetSdkVersion from 30 to 29 helps, but if you want to keep targeting 30, switching the project path from C://MyPersonalProjects/[MY_PROJECT__NAME] to C://P/[MY_PROJECT__NAME] fixed the issue for me. This is obviously a workaround.

[2021-08-02 15:56] grendello commented on #6143
@fernandovm let's keep this issue open and once you have at least the error message from the Console we can move on :)

[2021-08-02 15:57] grendello commented on #6143
@fernandovm perhaps you can get your hands on one of the Motorola models, match their Android version and try to repro it locally with full access to the logcat?

[2021-08-02 16:34] grendello commented on #6144
@AlleSchonWeg Please take a look here https://github.com/xamarin/xamarin-android/blob/8733e8a943ea25f9519d783e7f955bb72222b961/src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.Legacy.cs#L31-L39

[2021-08-02 16:36] jonathanpeppers commented on #6004
@Guidemarcus was likely hitting `MAX_PATH` on Windows. Has anyone here tried enabling long paths?

https://docs.microsoft.com/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd#enable-long-paths-in-windows-10-version-1607-and-later

[2021-08-02 16:40] claudioredi commented on #6004
@jonathanpeppers we run our builds in mac so although might explain the problem for some people, it's not connected to my particular scenario.

[2021-08-02 16:41] fernandovm commented on #6143
@grendello, I don't have but I will try get a motorola device to try this test, although it not happens in all motorola. When I get it I post the results here.

[2021-08-02 17:11] AlleSchonWeg commented on #6144
Thanks @grendello . I know that.
But in a shared Xamarin Forms Project i can't use `AndroidClientHandler` directly. To get this work, you need a add xamarin.android assembly in the shared project and do something like this:
[code]
This code should work, but has drawbacks:
- Needs reference to xamarin.android assembly in Xamrin Shared Project
- Needs check for Device.RuntimePlatform

But as i wrote

[2021-08-02 17:38] grendello commented on #6144
@AlleSchonWeg you can't really except platforms in cross-platform applications, that's the reality of life (even the "cross platform" Electron browser-in-a-box apps can't do that). iOS and Android use different implementations of the handlers and they will have different bugs and workarounds. For the reasons pointed out before, the AcceptEncoding workaround won't work (and I don't really want to a

[2021-08-02 18:04] arivoir commented on #6161
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.11.0 Preview 3.0
VisualStudio.16.Preview/16.11.0-pre.3.0+31507.150
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Enterprise

Visual C++ 2019   00435-60000-00000-AA363
Microsoft Visual C++ 2019

.NET Core Debugging with WSL   1.0
.NET Core Debugging with WSL

ASP.NET and Web Tools 2019   16.11.72.17133
ASP.NET and Web Tools

[2021-08-03 00:58] gmck commented on #6152
@jpobst
Thanks for that link. Over the weekend I moved the code from OnResume back into OnStart. Then I realised I was initialising the  PurchaseHistoryAdapter in OnViewCreated, so why not do the same for the ArrayAdapter. So once I did that it was only a matter of updating the ArrayAdapter in OnStart with skuArrayAdapter.AddAll(skuItems);

So I now don't need the context from OnAttach and the oth

[2021-08-03 02:29] AceCoderLaura commented on #5490
I have been having this issue and I went through the process of upgrading to AndroidX but I'm still getting occasional failed builds.

[2021-08-03 02:48] bddckr commented on #6158
[AppendRuntimeIdentifierToOutputPathIssue.zip](https://github.com/xamarin/xamarin-android/files/6920695/AppendRuntimeIdentifierToOutputPathIssue.zip)

Reproduction steps:
1. Run
[code]
  	Note:
  	* For the first command it should be enough to just delete the `artifacts` folder, as that's what these projects are configured to use. However, just to ensure this test does not use any leftovers of som

[2021-08-03 07:13] Akademiksdc commented on #6141
Dear @pjcollins could you please take a look, we are using linux artifacts for building our applications and we really need it!

[2021-08-03 08:03] pushpa66 commented on #3819
Found a solution after wasting two days. You can use below line of code if you are working on .Net Core API project **System.Environment.GetFolderPath(Environment.SpecialFolder.CommonApplicationData);**

[2021-08-03 13:19] Engincode opened #6163 "Kotlin .AAR to Xamarin App - Given component holder class android.support.multidex.MultiDexApplication does not implement interface dagger.hilt.internal.GeneratedComponent"
Hi, i'm creating Xamarin DLL from "**Kotlin AAR**" or "Kotlin Libraries".

Then AAR to **DLL Converted Successfully.**

There are dagger and hilt libraries (aar/jar) to DLL Converted Successfully.

- dagger-2.37.jar
- hilt-core-2.37.jar
- hilt-android-2.37.aar
- dagger-lint-aar-2.37.aar

**On Xamarin.Android App Side**
- Added Kotliin DLL
- Added Dagger/Hilt Library DLL
- Added from nuget package

[2021-08-03 13:42] jonathanpeppers commented on #5490
@AceCoderLaura do you have a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) you can share?

[2021-08-03 13:48] pjcollins commented on #6141
@Akademiksdc can you take a build from our main branch? I recently moved these over to a new build pool and it will take some effort to cherry-pick this to older branches. Would this build be acceptable? https://dev.azure.com/xamarin/public/_build/results?buildId=43659&view=results

[2021-08-03 14:15] jpobst commented on #6163
Are you using AndroidSupportLibraries or AndroidX?

One of your exceptions references `android.support.multidex.MultiDexApplication`, the other references `androidx.multidex.MultiDexApplication`?  If you are using the automatic AndroidX migration support, you might want to complete the manual AndroidX transition to see if it fixes it (and dramatically speed up your build times!).

Aside from that,

[2021-08-03 14:17] jpobst commented on #6152
Haha, even `getContextNullSafety` can eventually return `null`!

Glad you got it working!

[2021-08-03 14:17] #6152 closed

[2021-08-03 14:24] Engincode commented on #6163
Yes AndroidX is used.
It gives this error via **dagger.hilt.**
What do you think about this subject?
I can share the project.

[2021-08-04 12:19] MagicAndre1981 commented on #6158
I haven't seen the issue mentioned here, but I always do this to to move my obj folder into root to able to delete obj folders easier instead of going into each project and find all obj folders. I also move the nuget restore data into an extra folder to only delete them instead of whole obj folder.

[2021-08-04 16:30] jpobst commented on #6163
I think you need to set your application name to `com.greenmile.engine.GMEngineApplication`:

[code]

Your `GMEngine.Companion.GetInstance("validator1-eu-test", this)` is expecting an application context (`this`) that implements `dagger.hilt.internal.GeneratedComponentManagerHolder` like `com.greenmile.engine.GMEngineApplication`.

`androidx.multidex.MultiDexApplication` does not implement `dagger

[2021-08-04 18:00] jonathanpeppers opened #6165 "Best way to enable Mono logging in .NET 6?"
In .NET 6, to get log messages about AOT, I had to make an `@(AndroidEnvironment)` file with:
[code]

@lambdageek had a similar situation, and needed to use this to diagnose an issue with "hot reload":
[code]

I feel like extra parameters are needed in .NET 6 that weren't needed in legacy?

Is there something we should do to make this easier? Maybe we need to document something at the least?

[2021-08-04 18:28] jpobst commented on #6136
I'm afraid I don't have much insight into how to use the Android APIs to achieve your desired effect.  However if you can find a Java example then it should be the same for C#.

In Java, every time the `onTouch` event is handled, the developer must explicitly return `true` or `false` to indicate whether they consumed the event, so how to handle it properly is something other people have surely hit

[2021-08-04 19:18] grendello commented on #6165
With `mono_log_level=debug,mono_log_mask=all` you don't need

[code]

As the `debug.mono.log` options set the above environment variables.

`debug.mono.debug` merely causes the `.pdb` or `.mdb` files to be loaded, it doesn't affect logging at all. Doing

[code]
Should be all that's needed. We could add separate properties for `mono_log_*` setting, but that wouldn't change much IMO.

The reason we

[2021-08-04 19:45] jonathanpeppers commented on #6165
Ok, so I thought there was a difference between legacy and .NET 6, but it's actually just the changes in https://github.com/xamarin/xamarin-android/commit/6e58ce405d00a965f3c206e2d509f5a5343b16f7.

So in theory you could just do:

[code]

And not have an `@(AndroidEnvironment)` file at all? I'll give this a test sometime.

[2021-08-04 19:57] lambdageek commented on #6165
@jonathanpeppers I verified that just
[code]

is enough for me to see the log messages that I expected.

But there's some problem with dirty builds.

if I had one build where I had the above settings, and then I change it to `mono_log_mask=asm`, for example, and *also* make some code changes in a `.xaml.cs` file, then clean and build (from VS) I _still_ get the messages as if `mono_log_mask=metada

[2021-08-04 20:04] grendello commented on #6165
@lambdageek it might be a build caching issue

Keep in mind that setting the **Android** property (and that's what `debug.mono.log` is) with `adb shell setprop` will override the `@(AndroidEnvironment)` value of the same property (or, rather, the one set with `adb shell setprop` will take precedence) - the properties set in the environment file (everything in that file starting with lower case is

[2021-08-04 20:05] grendello commented on #6165
Yep, that's all you should need.

[2021-08-04 21:16] Engincode commented on #6163
Thank you so much.
You saved my days.
android:name="com.greenmile.engine.GMEngineApplication"
It worked this way.

**So is this solution correct?**
Should the team that created the "Kotlin .aar"' library make any changes?
**Should there be changes on the Kotlin side?**
Same library works in "Java" project without manifest.xml change.
**Why is that in Xamarin?**

[2021-08-04 23:44] AceCoderLaura commented on #5490
Here's the log from a recent build: [binlog.zip](https://github.com/xamarin/xamarin-android/files/6934947/binlog.zip)

[2021-08-05 01:56] jonathanpeppers commented on #6165
I found that `adb shell setprop` seems to work for this.

However, it overrides the `@(AndroidEnvironment)` file unless I clear it by doing:

[code]

With Windows & Powershell, I couldn't figure out if there is a way to run `adb shell setprop debug.mono.log ""` in one step.

Changing the `@(AndroidEnvironment)` file also seemed to work for me, but I had to use command-line due to an IDE issue.

I

[2021-08-05 02:19] jonathanpeppers commented on #5490
@AceCoderLaura when you hit this error:

[code]

Is `obj\Release\100\lp\111\jl\res\values-kk\values.xml` an empty file?

[2021-08-05 02:28] AceCoderLaura commented on #5490
I am not sure since this build log was uploaded from a GitHub Actions runner. The error implies that it is.
I'll make an attempt to reproduce the build, retrieve a copy of the file and post it here, might take a few hours though.

[2021-08-05 04:13] AceCoderLaura commented on #5490
I've confirmed that the files are indeed empty.

Here's the binlog: [binlog.zip](https://github.com/xamarin/xamarin-android/files/6935842/binlog.zip)
Here are the files it errored on: [values-ky.zip](https://github.com/xamarin/xamarin-android/files/6935860/values-ky.zip)

[2021-08-05 06:19] FANMixco commented on #6156
Hi @jonathanpeppers and @dellis1972, I'm wondering if the information that I provided is good enough, or am I missing something? I know that you might be busy and have other tasks and don't want to bother you.

Thanks.

[2021-08-05 07:07] grendello commented on #6165
That's correct. The reason is that we **first** read the value of a requested property from the system and only then from the application's environment, on account of the former being more easily manipulated once the app is already installed.

Yeah, it's an old problem with `setprop`. You can try this instead:

[code]

[2021-08-05 09:31] Engincode commented on #6163
We had to change the android:name of the app to use the library.
This solution has been bad for us.
What should we do?
What do you suggest?

[2021-08-05 09:56] lywyn commented on #5388
Having to edit .csproj file every time I want to do a Release test on the emulator for months. When will this be fixed?

[2021-08-05 10:18] dellis1972 commented on #6156
Would it be ok if you tried something?  Set the Linker mode in your Release config to a setting which causes the issue (SdkOnly I think). But then turn off Optimize, then see if you still have the issue?

Looking at the behaviour of the incorrect animation you set it seems to be like its a state issue. Where the component gets into a state where it thinks it needs to show the hamburger menu when i

[2021-08-05 10:48] FANMixco commented on #6156
Hi @dellis1972, but my question mark is the following, what should I exclude in the end? I have tried the following:

### UPDATE 1:

I modified my library and added:

`[Preserve(AllMembers = true)]`

and:

`[assembly: LinkerSafe]`

And the bug persists.

### Update 2:

I excluded each of the libraries and the bug persisted in the ProGuard file and nothing worked. I think the linker is messing with

[2021-08-05 11:20] dellis1972 commented on #6156
Just to clarify there are two linkers in Xamarin.Android.
The Managed Linker which deals only with Managed Code only.
Then there is the android linking tool `r8` which deals with java code which is generated by our bindings as well as library imports, this is the tool which generates the final classes.dex file.
We don't have anything which will link out the `Resources`. Our invocation of `aapt2` d

[2021-08-05 13:41] jonathanpeppers commented on #6165
`adb shell setprop debug.mono.log "''"` works on Windows, too. I updated the doc for this.

[2021-08-05 13:43] FANMixco commented on #6156
Hi @dellis1972, I have here the 3 files:

- [debug.txt](https://github.com/xamarin/xamarin-android/files/6939016/debug.txt)
- [release.txt](https://github.com/xamarin/xamarin-android/files/6939018/release.txt)
- [differences.txt](https://github.com/xamarin/xamarin-android/files/6939017/difference3.txt)

My only guessing is when I excluded everything that didn't contain the word `anim` and I found

[2021-08-05 14:04] jpobst commented on #6163
I'm not sure you have much choice.  Your library basically does this:

[code]

`com.greenmile.engine.GMEngineApplication` implements `dagger.hilt.internal.GeneratedComponentManagerHolder`:

[code]

but `androidx.multidex.MultiDexApplication` does not:

[code]

Thus it is essentially throwing an `InvalidCastException`.

If you want to be able to use an `Application` that does not implement `Generat

[2021-08-05 14:06] dellis1972 commented on #6156
try this maybe?

[code]

Proguard is not my area, so I'm not sure.

[2021-08-05 14:38] FANMixco commented on #6156
I guess I'm quite wrong @dellis1972 because since both files are quite massive, I found line existed in both cases. I sorted both files and got the proper ones:

- [debug_sorted.txt](https://github.com/xamarin/xamarin-android/files/6939367/debug_sorted.txt)
- [release_sorted.txt](https://github.com/xamarin/xamarin-android/files/6939368/release_sorted.txt)
- [textcompare.pdf](https://github.com/xam

[2021-08-05 14:48] dellis1972 commented on #6156
Did you try
[code]

If nothing it working for the ProGuard file, then its probably the Managed Linker stripping something out that you need.

[2021-08-05 14:55] FANMixco commented on #6156
Hi @dellis1972, I added it without any result and this new section looks like this:

[code]

I have also added an exclusive section that is "completely ignored" (in my opinion):

<img width="729" alt="Screen Shot 2021-08-05 at 16 49 30" src="https://user-images.githubusercontent.com/1666156/128370923-99102f63-574d-40b6-a1d0-f2fa58a5f1b5.png">

That's why I believe it's a bug in the Managed Linker.

[2021-08-05 16:22] #6165 closed

[2021-08-05 17:07] bddckr commented on #5982
Running my actual project on a device with API level 27: The above issue occurs, but now the stacktrace is different (compared to earlier .NET 6 previews). I also no longer get a hard crash.
[code]
(I didn't use `example.com` for real, I'm just masking the real URL.)

Right before this I can also see this in the logs:
[code]

However, I just tested on another device. It's on API level 29. **On thi

[2021-08-05 17:16] dellis1972 commented on #6156
Changing this line https://github.com/FANMixco/Xamarin-SearchBar/blob/master/tk.supernovaic.MaterialSearchBar/MaterialSearchBar.cs#L633 to be.

[code]

Fixes the issue. For some reason the `IAnimatable` interface is not supported after the linker is run.

[2021-08-05 17:21] FANMixco commented on #6156
Hi @dellis1972, I'm going to add it, but is it still a bug to be reported, isn't it?

[2021-08-05 18:40] dellis1972 commented on #6156
It is still a bug, but you have a work around for now.
We'll need to look at see why the interface is removed as part of the link step.

[2021-08-05 19:15] dellis1972 commented on #6156
ok. so its not a linker bug, but I understand what is happening in this case.

So the code in the MaterialSearchBar library is relying on the `AnimatedVectorDrawable` class deal with its animations. However these is no code in the library which actually uses it directly. So the type is linked out as part of the SdkOnly/Full linker step.
The java side of the code will still exist , but all the glue

[2021-08-05 20:03] steveisok commented on #5982
@bddckr What preview are you on?  From the stack trace, it looks like you're still using SocketsHttpHandler, which is not the default handler we will ship with (`AndroidMessageHandler` will be).  The problem w/ Sockets on Android is that it is a direct JNI integration, so there are likely differences in behavior between API levels.

@jonathanpeppers Has runtimeconfig.json support gone out yet for

[2021-08-05 21:03] jonathanpeppers commented on #5982
There was an issue where using Fast Deployment, the `rc.bin` file didn't make it to the `.apk`. Does a Release build work any different here?

The missing `rc.bin` file should be fixed in the next preview, .NET 6 Preview 7.

[2021-08-05 23:49] PeterZhukov opened #6169 "Error APT2260 when binding yoomoney/yookassa-android-sdk"
### Requirements
1. Visual Studio 2019 Community
### Steps to Reproduce

1.  Create a new "Android Binding Library (Xamarin)" project.
2. Download AAR from Maven Central and add to Jars folder: "ru.yoomoney.sdk.kassa.payments:yookassa-android-sdk". Set Build Action: LibraryProjectZip.
3. Build Debug version.
4. Create new "Androi App (Xamarin)".
5. Add reference to previously built dll from Bindin

[2021-08-06 03:41] bddckr commented on #5982
I'm on preview 6 currently.

The issue with `rc.bin` seems to be it! A release build works fine - no need for me to manually use the Android handler.

I'll test again once preview 7 is out and will report back!

[2021-08-06 07:01] Akademiksdc commented on #6141
@pjcollins kindly ask you to assist me!

[2021-08-06 10:01] #6156 closed

[2021-08-06 15:35] jonathanpeppers commented on #6053
To move forward on this, I could try:

1. Build `libmono-profiler-aot.so` from dotnet/runtime myself.
2. Use `aprofutil` from mono/mono.
3. Use `profile-only,profile=foo.aprof` in `%(AotArguments)`

Filed issue here: https://github.com/dotnet/runtime/issues/56989

[2021-08-06 16:18] jonathanpeppers commented on #5982
@bddckr you can also turn off Fast Deployment until preview 7 ships:

[code]

You'd need this if `assemblies/rc.bin` is missing in the `.apk` file.

[2021-08-06 17:14] bddckr commented on #5982
@jonathanpeppers Thanks for that! I can confirm that works as well. This is way better than having to do release builds only for now 😉

[2021-08-06 19:05] pjcollins commented on #6141
@Akademiksdc hopefully this works well enough for you, it's d16-10 plus a couple of CI related changes: https://dev.azure.com/xamarin/public/_build/results?buildId=44060&view=artifacts&pathAsName=false&type=publishedArtifacts

[2021-08-06 19:05] #6141 closed

[2021-08-09 00:23] Engincode opened #6172 "Failed resolution of: Lkotlin/jvm/internal/Intrinsics"
I am using Kotlin library in Xamarin.Android project.

The following libraries are included in Xamarin.

  - Xamarin.Kotlin.StdLib.1.5.21
  - Xamarin.Kotlin.StdLib.Common.1.5.21
  - Xamarin.Jetbrains.Annotations.13.0.0.4

Target SDK: 10.0
Xamarin.Forms: 5.0.0.2083

It still throws the error **"'Failed resolution of: Lkotlin/jvm/internal/Intrinsics;'".**
An empty Xamarin Android project does not ha

[2021-08-09 05:36] Engincode commented on #6163
Thanks. We are trying..

[2021-08-09 06:12] Engincode commented on #6172
Xamarin.Kotlin.Stdlib.dll from Microsoft was already included.
Additionally, by converting "kotlin-stdlib-1.5.21.jar" to Dll with Xamarin Binding Library and adding it to the project, the error was fixed.
It was a bad solution.
But it worked.
There are now 2 Kotlin.Stdlib libraries in the project.

[2021-08-09 06:12] #6172 closed

[2021-08-09 06:31] Engincode commented on #6163
This was the solution in the Empty Xamarin project.
But this solution didn't work in our company's Xamarin project.

'**Given component holder class crc645c4c9795d8f50a97.SuperTroykaApplication** does not implement interface dagger.hilt.internal.GeneratedComponent or interface dagger.hilt.internal.GeneratedComponentManager'

We use customized application class named SuperTroykaApplication.cs.

Wha

[2021-08-09 07:36] #6136 closed

[2021-08-09 16:28] thaystg commented on #6161
Could you paste here the method body that you are seeing the issue? I'm trying to reproduce and could not in a method like this:
[code]

[2021-08-09 21:41] jonathanpeppers commented on #6169
@PeterZhukov if I look at this package on maven (not sure if it's the same, you didn't provide a link):

https://mvnrepository.com/artifact/ru.yoomoney.sdk.kassa.payments/yookassa-android-sdk/6.1.4

There are lots of dependencies:

![image](https://user-images.githubusercontent.com/840039/128777773-4127bd83-36f2-4a8f-8187-3517bf08781d.png)

Did you include the dependencies as well? If you don't ne

[2021-08-10 19:44] r-proto commented on #3970
@rjlovesu I was having the same issue and that was the cause as well. Thank you!

[2021-08-11 13:49] arivoir commented on #6161
I can't share my project, but I can tell you it happens everywhere, also the debugger hangs and need to restart visual studio, apart from the fact that the deploy doesn't work fine in the emulator and need to uninstall the application every time it is compiled. It's complicated. I hope next preview comes with something usable.

[2021-08-11 13:58] arivoir commented on #6161
I see this problem everywhere. Right now I'm seeing it in a synchronous method without parameters.

[2021-08-11 14:37] arivoir commented on #6161
@thaystg can you run an empty project without issues?

[2021-08-11 15:42] jonathanpeppers commented on #5672
Closing this in favor of: https://github.com/xamarin/xamarin-android/issues/6076

[2021-08-11 15:42] #5672 closed

[2021-08-11 17:00] jonathanpeppers opened #6176 "Plan for .NET 6+ Android 32 preview packages"
Context: https://github.com/dotnet/designs/blob/main/accepted/2021/preview-features/preview-features.md

To opt into a future API-32, a project would do:
[code]

Right now we have packs such as:
* `Microsoft.Android.Ref`
* `Microsoft.Android.Runtime.[rid]`

We could produce additional "preview" packages:

* `Microsoft.Android.Preview.Ref`
* `Microsoft.Android.Preview.Runtime.[rid]`

The `Mono.Andr

[2021-08-11 17:38] #6169 closed

[2021-08-11 20:00] jeromelaban opened #6178 "[Net6] dotnet trace profiling yields to mangled/empty frame names"
### Steps to Reproduce

1. Building a net6.0-android uno app, with net6 android workload installed, which the following:
[code]

Sample repro: [net6profiletest.zip](https://github.com/xamarin/xamarin-android/files/6971053/net6profiletest.zip)

2. Run `dotnet-dsrouter client-server -tcps 127.0.0.1:9001 -ipcc /tmp/my-app --verbose debug`
3. Run `dotnet-trace collect --diagnostic-port /tmp/my-app --f

[2021-08-11 22:49] mhutch commented on #6075
@jonpryor if there are type conflicts between system types and android types we can make aliasing choices and emit those too.

[2021-08-11 23:06] akoeplinger commented on #6178
@jonathanpeppers @lateralusX any ideas?

[2021-08-12 00:37] jeromelaban commented on #6178
I forgot to add, `<UseInterpreter>false</UseInterpreter>` or `true` does not seem to change the result.

[2021-08-12 05:59] MagicAndre1981 opened #6179 "How long will VS2019 16.11 get support?"
Now that [VS2019 got the last feature update to version 16.11](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#support-timeframe), how does this impact Xamarin.Android?

The [16.11 branch was updated 2 months ago](https://github.com/xamarin/xamarin-android/compare/d16-11...main) and now everything is in main which will go to VS2022.

Will the 16.11 branch get fixes backpo

[2021-08-12 14:47] jpobst commented on #6163
I think your application class will need to inherit from `GMEngineApplication` or `Hilt_GMEngineApplication`:

[code]

[2021-08-13 11:02] developer9969 opened #6183 "Warning when publishing an android app. How do I fix it?"
hi all
When publishing an app in android (Xamarin forms) I get the following 2 warnings ..
Can someone explain what am I missing?

thanks

Warning
There is no deobfuscation file associated with this App Bundle. If you use obfuscated code (R8/proguard), uploading a deobfuscation file will make crashes and ANRs easier to analyze and debug. Using R8/proguard can help reduce app size. Learn More

[2021-08-13 13:41] dellis1972 commented on #6183
This is a duplicate of https://github.com/xamarin/xamarin-android/issues/5378.

[2021-08-13 13:41] #6183 closed

[2021-08-13 15:54] akoeplinger opened #6185 ".NET 6: Default UseSystemResourceKeys to false for Debug builds"
Reference: https://github.com/dotnet/runtime/issues/56990

We should default `UseSystemResourceKeys` to `false` if it's not set for Debug builds so users get nice exception messages while developing.

[2021-08-14 08:36] bddckr commented on #5982
Now with preview 7 this issue is fixed: `assemblies/rc.bin` is included in the apk and the default message handler works without any adjustments needed for the project.

Thanks for the help and keep up the great work!

[2021-08-14 08:36] #5982 closed

[2021-08-16 13:44] #6140 closed

[2021-08-16 16:00] akoeplinger opened #6190 ".NET 6: Set RUNTIME_IDENTIFIER and APP_CONTEXT_BASE_DIRECTORY values for AppContext"
These are used by the BCL.

`RUNTIME_IDENTIFIER` should be one of `android-arm64`, `android-arm`, `android-x86` or `android-x64`.

`APP_CONTEXT_BASE_DIRECTORY` should be Java's `context.getFilesDir().getAbsolutePath()`.

@grendello I think this should be quite easy by setting `monovm_props` here: https://github.com/xamarin/xamarin-android/blob/286683224ea9c38be3028dd03bf47b73f4da45f4/src/monodroid

[2021-08-16 16:01] jonpryor commented on #6179
The [Xamarin support policy](https://dotnet.microsoft.com/platform/support/policy/xamarin) supersedes the Visual Studio support policy.  While the Xamarin support policy hasn't been updated recently, the "primary thrust" is unchanged:

Once Visual Studio 17 is stable, the Xamarin.Android shipped as part of Visual Studio 17 will become the "newer subsequent Current release", and Visual Studio 16.11

[2021-08-16 16:01] #6179 closed

[2021-08-16 19:47] #6185 closed

[2021-08-17 11:40] VizMAP opened #6192 "I have a new Samsung Galaxy S20 FE that I want to deploy my app on, but I'm getting a Debuggable error"
The error is:
Error XA0134: The application does not have the 'android:debuggable' attribute set in the AndroidManifest.xml.
This is required in order for Fast Deployment to work. This is normally enabled by default by the Xamarin.Android build system for Debug builds. Please check that you to not have this attribute set on the 'application' element in your 'AndroidManifest.xml'.
If you have a cla

[2021-08-17 13:11] dellis1972 commented on #6192
This seems related to https://github.com/xamarin/xamarin-android/issues/6153.
If you are using a custom `Application` derived class check do don't end up with duplicate `application` elements in your final AndroidManifest.xml . See https://github.com/xamarin/xamarin-android/issues/6153#issuecomment-889898514

[2021-08-17 17:54] BurkusCat commented on #2511
In case it helps anyone in the future here is a larger method with [all calendars](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.calendar?view=net-5.0#remarks) based on the existing workarounds:
[code]

[2021-08-17 21:24] pjcollins opened #6194 "Migrate to arcade publishing infrastructure"
At the moment we only have limited dependency flow support from dotnet/arcade, and we need to eventually start using all of the arcade publishing infrastructure to facilitate testing and release efforts:

https://github.com/dotnet/arcade/blob/e7ede87875f41a9b3df898ae08da5ebc96e24f56/Documentation/CorePackages/Publishing.md

[2021-08-17 22:29] radixdev commented on #6172
I have the exact same issue

[2021-08-17 22:32] radixdev commented on #6172
@Engincode can you elaborate on your solution

[2021-08-18 00:08] jonpryor opened #6196 "ActivityAttribute.MainActivity should set exported=true"
Context: https://aster.cloud/2021/02/23/lets-be-explicit-about-our-intent-filters/

The short version is that many apps may need to update their `[Activity]` attribute usage to explicitly set [`ActivityAttribute.Exported`](https://github.com/xamarin/xamarin-android/blob/f7d32102cc3ada67aa12cc0beed2cf97226f41b3/src/Xamarin.Android.NamingCustomAttributes/Android.App/ActivityAttribute.cs#L49).

*Howe

[2021-08-18 01:57] mttm774 commented on #5584
Thank you very much, that is the solution to change the path where the apk is saved :)

[2021-08-18 06:20] VizMAP commented on #6192
@dellis1972
You are correct in that I had duplicate application elements. I deleted those I had added and the app now deploys to the Galaxy. Thankyou.

[2021-08-18 06:20] #6192 closed

[2021-08-18 06:23] VizMAP commented on #6192
Thankyou. I did add a couple of other application elements. I deleted them
and itnow deploys.

Ciao,
Graeme
GRAEME BROOKE
VizMAP <http://www.vizmap.com.au> ~ Grime <http://www.grime.net>
Batphone: +61 (0)4 1965 9866 ~ Skype Phone: +61 (0)7 3040 2228
------------------------------

On Tue, 17 Aug 2021 at 23:12, Dean Ellis ***@***.***> wrote:

[2021-08-18 06:35] Engincode commented on #6172
I downloaded the kotlin-stdlib-1.5.21.jar file from the link https://mvnrepository.com/artifact/org.jetbrains.kotlin/kotlin-stdlib/1.5.21.

I converted it to dll with Xamarin Binding Library.

It got fixed after adding dll to the project.
dll file is attached.

[2021-08-18 13:04] Engincode commented on #6163
There is no such a class name "**GMEngineApplication**" or "**Hilt_GMEngineApplication**" on Greenmile Library.
What is your suggestion?

[2021-08-18 14:57] jpobst opened #6198 "SDK Binding projects shouldn't have Resource.designer.cs"
Using: 6.0.100-preview.7.21379.14

In Legacy binding projects, a `Resource.designer.cs` file is not created and no `Resource` class is added to the assembly.  In .NET 6, `Resource.designer.cs` is created and a `Resource` class is added, even if it's "empty".

I assume this class is not needed as we've never had it before.

This is causing a few issues for AndroidX/GPS:
* The `Resource` class is ge

[2021-08-18 17:46] thaystg commented on #6161
Which type of project are you trying to create? Is a MAUI App?

[2021-08-18 20:49] jonpryor opened #6200 "Generate Aapt2 .flata archives on Nuget Restore"
"Moved" from: https://github.com/xamarin/xamarin-android/projects/9

Just an idea. When we restore Nuget packages should we attempt to generate a .flata archive for Aapt2 for that library as part of that process. It should reduce first build times (in theory).

[2021-08-18 21:47] jonathanpeppers commented on #6058
As seen in https://github.com/xamarin/xamarin-android/pull/6193#pullrequestreview-733380565, `Mono.Android.pdb` is about 3MB, so we'd save 9MB if we could move all managed code to a single pack somehow.

[2021-08-18 22:03] jonathanpeppers commented on #6198
.NET 6 doesn't have binding projects any more, so that seems like it's causing the issue here.

Do we need an MSBuild property force `Resource.designer.cs` to be disabled?

@dellis1972 I was thinking this might check if `@(AndroidResource)` is empty, and skip it:

https://github.com/xamarin/xamarin-android/blob/e811ecb5b7a6288b382a4b393e86db58e7a95e7d/src/Xamarin.Android.Build.Tasks/Xamarin.Androi

[2021-08-18 22:32] radixdev commented on #6172
@Engincode Was that kotlin jar added as an `EmbeddedJar`? And if so, how did you get around all of the binding errors?

And thank you so much for responding.

[2021-08-18 23:18] radixdev opened #6201 "Kotlin NoClassDefFoundError"
### Error Message or Issue
I'm following https://docs.microsoft.com/en-us/xamarin/android/platform/binding-kotlin-library/walkthrough to the letter and included `Xamarin.Kotlin.StdLib` for my project. The project itself can be found [here](https://github.com/Appboy/appboy-xamarin-bindings/tree/master/appboy-component/src). Whenever I try to run the project, I get the following error.

"Java.Lang.N

[2021-08-18 23:35] jpobst commented on #6201
Are you referencing the `Xamarin.Kotlin.StdLib` package in your application?

I don't see any errors in your build log for the bindings, and looking at the `.jar` included in `Xamarin.Kotlin.StdLib` shows that it contains the `SetsKt` type:

![image](https://user-images.githubusercontent.com/179295/129985200-a0de49be-366f-49a3-a1dc-f6cf39d48082.png)

So it looks like the bindings are fine, and it'

[2021-08-18 23:41] radixdev commented on #6201
The app itself is definitely referencing the kotlin lib. The two Java binding libraries and the sample app themselves reference the kotlin standard lib in xamarin.

Is proguard running in the debug configuration? These crashes were happening on debug. Where would I include proguard in a xamarin application?

Thanks for the fast reply!

[2021-08-18 23:48] jpobst commented on #6201
Here's some info on Proguard: https://docs.microsoft.com/en-us/xamarin/android/deploy-test/release-prep/proguard?tabs=windows

It doesn't look like it should be running in Debug mode.

I would double check your application build log to ensure that the Kotlin stdlib is indeed being put into the apk.

[2021-08-18 23:58] radixdev commented on #6201
For "ensure that the Kotlin stdlib is indeed being put into the apk." is there anything in particular in looking for?

[2021-08-19 01:20] radixdev commented on #6201
@jpobst ,

You got me down the right rabbit hole!

I had indeed added the stdlib but I later looked at my `.csproj` to confirm. Every other working dependency had

[code]

with the exception of the kotlin dependencies. I had to add these manually and it works!

[code]

![image](https://user-images.githubusercontent.com/2373546/129992502-c7f836db-fd90-4c54-bed5-ffcd3fae9e00.png)

The folder for kot

[2021-08-19 01:20] #6201 closed

[2021-08-19 01:27] radixdev commented on #6172
@Engincode nevermind on the above. I actually might have an answer for YOU instead.

See https://github.com/xamarin/xamarin-android/issues/6201

You might need to manually edit your `csproj` and add:

[code]

[2021-08-19 05:18] Engincode commented on #6172
@radixdev thanks for shared.
As I see this is a xamarin bug.
But we are fixed finally.
See you bro.

[2021-08-19 10:36] darshanclevertap opened #6203 "CleverTap Android Bindings Issue: mono.android.runtime.JavaObject cannot be cast to java.util.HashMap"
### Error Message or Issue
mono.android.runtime.JavaObject cannot be cast to java.util.HashMap

### Version Information

<details>
=== Visual Studio Community 2019 for Mac ===

Version 8.6.2 (build 6)
Installation UUID: d93cfeba-83b1-42f2-a5f9-b6e913fd4a9b
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 6.18.0.23 (d16-6 / 088c73638)

	Package version: 610000104

=== Mono Framework MDK ===

Runtime:
	Mo

[2021-08-19 14:14] mattleibow commented on #6161
This issue I think has maybe mixed 2 issues.

1. After updating things, I see android gets this error: `The path is not of a legal form.`
   This happens with plain android apps AND maui apps

2. https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1366070/

[2021-08-19 14:44] dellis1972 commented on #6198
We might need to check both `@(AndroidResource)` and `@(AndroidAarLibrary)` or '@(AndroidLibrary)' where `Bind = true`.

[2021-08-19 14:48] arivoir commented on #6161
@thaystg all these issues are in native Android projects (former Xamarin.Android)

[2021-08-19 14:51] arivoir commented on #6161
@mattleibow I can confirm I've updated vs previews one after the other and also have Visual Studio 2022 installed.

[2021-08-19 14:58] mattleibow commented on #6161
OK. The bad debug values are a known issue, but the path dialog is brand new for me. I just got it this week as we are trying to figure it out.

For the bad values, I found that I could help "reset" them by declaring 2 variables. It happens after a jump in the code, like a condition or loop:

[code]

For the popup, we don't know yet and it is very strange because the maui repo with 50 project does

[2021-08-19 15:29] arivoir commented on #6161
I have net6 preview 7 now, but all these issues were in reported in preview6. I haven't played much with it these days

[2021-08-19 15:55] AndreyFromGomel commented on #5647
@jonpryor Hi, tried to use Xamarin.Legacy.OpenTK package instead of obsolete OpenTK assembly, but it fails at runtime:
[code]
OpenTK-1.0.dll references several assemblies but OpenTK-1.0.dll is only assembly in NuGet package

<img width="435" alt="image" src="https://user-images.githubusercontent.com/46677631/130097866-3f4bf0a4-f6c1-43da-9af9-67a774195b43.png">
<img width="868" alt="image" src="htt

[2021-08-19 16:49] gui2960 commented on #6163
Could you explain a little more about:
"If you want to be able to use an Application that does not implement GeneratedComponentManagerHolder you will need to change your library to not require that."?

[2021-08-19 20:49] dellis1972 commented on #4810
While we are working on support for this in the main app. I published rather hacky sample which shows how to implement "Dynamic Asset Delivery" over at https://github.com/infinitespace-studios/XamarinLegacyDynamicAssetsExample.

NOTE: This will only work for "Dynamic Asset Delivery" it will NOT be able to handle activities or resources.
It also contains a little wrapper binding which fixes the iss

[2021-08-19 21:41] pasha-o commented on #4336
hi @Nickjgniklu do you have any suggestions for when one has no control over creating the handler? for example, I use MongoDB to connect to the server and the connection  won't work on this particular Samsung S10

            MongoClientSettings settings = MongoClientSettings.FromUrl(new MongoUrl(ConnectionString));
            settings.SslSettings = new SslSettings() { EnabledSslProtocols = SslPr

[2021-08-19 21:54] Nickjgniklu commented on #4336
I know there are some build settings that affect this. [Http Stack Info](https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/http-stack?tabs=macos) . Might be worth trying that. If that does not work your best bet might be building the library yourself with a constructor that allow you to pass an httpclient in. [This looks like the library you are using]( https://github.com/mongodb/m

[2021-08-20 06:33] azyobuzin opened #6211 "Can't handle exception by `AppDomain.UnhandledException` when thrown in `Executor` thread"
### Steps to Reproduce

1. Set a handler on `Application.OnCreate`.

[code]
2. Throw an exception on a thread made by `Java.Util.Concurrent.Executors`. In this example, the program is written on `MainActivity.OnStart`.

[code]

Project file: [AndroidCrashTest.zip](https://github.com/xamarin/xamarin-android/files/7019438/AndroidCrashTest.zip)

### Expected Behavior

The message `!!! UnhandledExcept

[2021-08-20 10:45] Engincode commented on #6163
@jpobst  Please help to me.
I try this

     [Application(Debuggable = true**, Name = "com.greenmile.engine.GMEngineApplication"**)]
      #else
     [Application(Debuggable = false**, Name = "com.greenmile.engine.GMEngineApplication"**))]
     #endif
     public class SuperTroykaApplication :  Application
     {
     }

**There was a compile error.**
**error MSB6006: "java.exe" exited with code 1

[2021-08-20 12:41] #6161 closed

[2021-08-20 15:46] jonathanpeppers commented on #5652
The latest list as of 1aac4a033afce799158bd17f34e553d374703b7d, is a lot shorter now:
[code]

[2021-08-20 19:00] jpobst opened #6215 "Bump android.jar documentation source to API-31"
Currently we still generate API documentation from the API-30 sources because the API-31 ones are not published yet.

When published, we should update this to API-31:

https://github.com/xamarin/xamarin-android/blob/main/build-tools/xaprepare/xaprepare/ConfigAndData/Dependencies/AndroidToolchain.cs#L67

To see if the new file has been released, search for `sources-31` in https://dl-ssl.google.com/

[2021-08-21 00:48] rdavisau commented on #4602
I think one problem (possibly 'the problem') is the one I found [here](https://github.com/mono/mono/pull/21191), where some string lengths are not correctly written to the profile, causing it to be unreadable. Unfortunately, it is beyond my knowledge to get the change I made to be used during the standard profiling flow (`msbuild /t: BuildAndStartAotProfiling`). Instead, I painstakingly went throu

[2021-08-21 01:11] #6196 closed

[2021-08-22 10:13] akalghatgi opened #6219 "Caused by: java.lang.ClassNotFoundException: Didn't find class "kotlin.reflect.KProperty""
Using the Binding in App fails with "Caused by: java.lang.ClassNotFoundException: Didn't find class "kotlin.reflect.KProperty"" even when reference for "Xamarin.Kotlin.Stdlib(1.4.21)" is referenced in Binding and App.

Steps:
 1.  Created the Binding with reference
 2. Add to App as Nuget
 3. Run the App... Crashes on Launch with above Error

### Error Message or Issue
Error Stack:
2021-08-22 15:2

[2021-08-22 11:29] Engincode commented on #6163
@jpobst We are waiting for a response from you?
I can share the screen with you.
We can look at the company project online together.
Can we set an online meeting?

[2021-08-22 22:15] thealpiste opened #6220 "Android app not deploying SOs libraries into the device"
### Steps to Reproduce

1. Create an empty xamarin android project
2. Change android package format to **bundle**
3. Deploy the resulting abb package into the device (run the app)
4. The app wont be debuggable, this is ok
5. Check the directory where the native libraries should be deployed for example: **/data/app/com.companyname.abbtest-4Q3KEmzOigkuxaCrtobiQw==/lib/x86**

### Expected Behavior
SO

[2021-08-23 06:00] AceCoderLaura commented on #5490
Just let me know if you need anything else to help diagnose the issue.

[2021-08-23 09:16] lateralusX commented on #6178
Sorry for late response, been on vacation. First, the interpreter issue should have been fixed in preview7 so that should work. Secondly, looks like this is a 32-bit process and that method have been loaded above 2GB addresses, that means you will hit this issue, https://github.com/microsoft/perfview/issues/1445, when parsing the nettrace file using perfview or converting the nettrace file to a sp

[2021-08-23 10:11] dellis1972 commented on #5490
@AceCoderLaura The only thing that seems to be touching the problematic file is Jetifyer. Which is a tool to convert from standard android support libraries to androidx. I suspect it is occasionally writing out an empty file...

Do you need to use Jetifyer? (i.e the AndroidX.Migration package)

[2021-08-23 10:18] AceCoderLaura commented on #5490
@dellis1972 nope. I thought I had removed all references to it when I finished upgrading to Android X. Can you see a reference to the migration package in the provided build log?

[2021-08-23 10:29] dellis1972 commented on #5490
@AceCoderLaura Yup, its there in the log and Jetifyer is running.

[2021-08-23 10:33] AceCoderLaura commented on #5490
@dellis1972 I'll take a look when I'm back at my computer and I'll let you know how it goes. Cheers.

[2021-08-23 13:10] jeromelaban commented on #6178
@lateralusX Thanks for the help! Yes, I can definitely try with a 64 bits emulator. *And* it looks like the trace you've fixed has already shown some really weird performance details, exactly what I was looking for!

[2021-08-23 13:58] lateralusX commented on #6178
@jeromelaban, great! Keep in mind when analyzing traces generated by sample profiler that it will give you amount of samples within specific callstacks in relation to total number of samples in nettrace file, creating a good overview of activity within specific callstacks as well as what code gets executed in particular call trees, but it won't give accurate info around execution time of specific

[2021-08-23 14:42] jeromelaban commented on #6178
@lateralusX Thanks for the insights! I'll definitely look into adding EventTrace support, and remove my own library that added support for something similar. Looking forward to be able to use WPA to analyze traces!

[2021-08-23 15:14] jonathanpeppers commented on #6220
@thealpiste if you use a `.zip` tool, are the `.so` files you're looking for inside the `.aab` file?

Native libraries are treated differently for app bundles, so they might just be in a different folder other than:

    /data/app/com.companyname.abbtest-4Q3KEmzOigkuxaCrtobiQw==/lib/x86

If your device is new enough, it might be using `extractNativeLibs="false"`. What this does is leave the files

[2021-08-23 15:22] jpobst commented on #6163
My understanding of Hilt is that when you build your Java application (via Gradle), it takes your Application class:

[code]

and it dynamically creates and injects itself into a different Application class in the background that gets used:

[code]

The issue is that Xamarin does not use Gradle to build your application, thus Hilt's custom injection code never runs, and it never creates the "hidde

[2021-08-23 15:29] jpobst commented on #6219
You might want to look at the workarounds listed in these issues to see if it fixes it for you:

- https://github.com/xamarin/xamarin-android/issues/6201
- https://github.com/xamarin/xamarin-android/issues/6172

[2021-08-23 15:37] Engincode commented on #6163
Thanks for replies.
Com.Greenmile.Engine.GMEngineApplication  doesn't exists Xamarin side.
![test_result_23_08_2021_1](https://user-images.githubusercontent.com/12773298/130475746-959a7d1c-201e-4359-bfc0-d506bdaa7877.png)

[2021-08-23 15:49] jpobst commented on #6163
We have some pretty good documentation for helping you fix missing binding types:

- https://github.com/xamarin/java.interop/wiki/Troubleshooting-Android-Bindings-Issues
- https://github.com/xamarin/java.interop/wiki/Missing-Types-or-Members

[2021-08-23 16:31] Engincode commented on #6163
@jpobst  Can you help?
Class is not created.

[2021-08-23 16:49] jonathanpeppers commented on #6198
So in the `NET6.zip` above, the `Resource.designer.cs` has values inside. It has an `.aar` file with resources.

I found I could delete this line:

https://github.com/xamarin/xamarin-android/blob/10335e600d7153c85b4e3ec7a7c1e10b12dba732/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.DefaultProperties.targets#L10

Then also pass `-p:AndroidUseIntermediateDesigne

[2021-08-23 18:08] jpobst commented on #6163
Where did you get stuck in your investigation?

[2021-08-23 18:21] jpobst commented on #6203
What does your code that is calling this API look like?  Did you apply the workaround listed in your link?

[2021-08-24 04:11] AceCoderLaura commented on #5490
Turns out Xamarin.AndroidX.Migration is implicitly referenced by other 3rd party packages in the project. I am unable to remove these packages as they are required for the software to function. Is there a way I can work around the Jetifyer bug?

[2021-08-24 05:01] IainCoSource commented on #4810
Will take a look. :)

[2021-08-24 07:10] tranb3r opened #6226 "Missing release notes for xamarin android 11.4.0.5 in visual studio 16.11.1"
Visual studio 16.11.1 was published recently.
Could you please publish release notes for xamarin android 11.4.0.5 ?

Similar issues:
- https://github.com/xamarin/xamarin-android/issues/5961
- https://github.com/xamarin/xamarin-android/issues/5498

[2021-08-24 07:40] Engincode commented on #6163
The Kotlin library is of type .aar.
Embedded Resource: Works with LibraryPorjectZip.
Here, the GMEngineApplication class is not generated.
Your said it can't be generated on the Xamarin side because it uses Hilt.

In this case, those who prepared the Kotlin library should find a solution with java.

[2021-08-24 09:35] darshanclevertap commented on #6203
The Xamarin App uses the `PushChargedEvent` method like this -

[code]
Since the workaround is supposed to be made in the CleverTap Bindings DLL file, I don't know how I can implement it?

[2021-08-24 14:05] jpobst commented on #6203
I'm not sure what you mean that "the workaround is supposed to be made in the CleverTap Bindings DLL file".  You should be able to make the changes to your calling code for it to work.

If you are wanting to make the change in the binding DLL, you can use the `Additions` feature to add any arbitrary C# code to it that you want.  (See the `AboutAdditions.txt` file in the `Additions` folder of your

[2021-08-24 14:31] alpistesec commented on #6220
Yes, the librearies are there.
If i set **extractNativeLibs="true"** then the libraries are deployed, so that was the issue, what confused me was that in the apk format the libraries were deployed without specifing this property to true.

anyways, thanks!

[2021-08-24 14:34] jonathanpeppers commented on #6220
@alpistesec just FYI when you use App Bundles, then Google Play / `bundletool` will decide on the `extractNativeLibs` setting. You might not actually have control over the value when you submit to the store.

Google is using this as a way to optimize install & download size of apps.

Let us know if you find an issue with this, thanks.

[2021-08-24 14:40] jpobst commented on #6219
We think this is because the Kotlin package needs the `.targets` file in the `build` folder when building with `packages.config`.  So another way to fix this would be to migrate to `<PackageReference>` instead of `packages.config`.

https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference

We'll look into updating the package(s) to work with `packages.co

[2021-08-24 14:40] jpobst commented on #6201
We think this is because the Kotlin package needs the `.targets` file in the `build` folder when building with `packages.config`.  So another way to fix this would be to migrate to `<PackageReference>` instead of `packages.config`.

https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference

We'll look into updating the package(s) to work with `packages.co

[2021-08-24 14:40] jpobst commented on #6172
We think this is because the Kotlin package needs the `.targets` file in the `build` folder when building with `packages.config`.  So another way to fix this would be to migrate to `<PackageReference>` instead of `packages.config`.

https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference

We'll look into updating the package(s) to work with `packages.co

[2021-08-24 16:56] EmilAlipiev commented on #6004
Long path enabled doesnt help me on windows and now after updating the latest XF and Android nuget packages. this error comes every single build. I am not able to build at all my apps.

[2021-08-24 17:59] jonathanpeppers commented on #6004
We found on a related issue that the AndroidX.Migration package can emit empty `.xml` files in some cases:

https://github.com/xamarin/xamarin-android/issues/5490#issuecomment-903630798

Can you verify that you are not using the `Android.Support.*` packages? These could also be brought in by a NuGet package you're using, and it might be hard to tell.

[2021-08-24 18:18] claudioredi commented on #6004
@jonathanpeppers I'm do using AndroidX.Migration so if that bug can generate this issue, we might have the winner for my specific case.

[2021-08-25 00:42] #2595 closed

[2021-08-25 08:46] datvm opened #6230 "Android app crashes only with Debugger attached and XAML Hot Reload enabled when certain page is opened"
### Steps to Reproduce

1. Run my project from Visual Studio with Debugging mode (the app doesn't crash if I run without Debugging - Ctrl + F5)
2. Interact with the app so it switch to a certain page (`FolderPage` in my case)

### Expected Behavior

The Content page should be shown.

### Actual Behavior

App crash **after** the page's `InitializeComponent()` method:

![image](https://user-images.g

[2021-08-25 09:05] datvm commented on #6230
I realized the problem is gone if I disable XAML Hot Reload. Good thing I don't need it anyway but for those who need it, this should be fixed

![image](https://user-images.githubusercontent.com/6388546/130762110-c7c4218a-07d1-40a4-942b-5f1020b40cbd.png)

[2021-08-25 09:39] grendello commented on #6230
The app doesn't appear to crash (no error messages in the logcat, no segfault etc), the issue seems to be entirely on the client (VS or Hot Reload) side. @joj would you mind routing it to whomever is responsible for this area? Thanks!

[2021-08-25 09:40] grendello commented on #6230
nvm, just found out @lambdageek is The Man :)

[2021-08-25 13:31] varyamereon commented on #6230
Same issue using VS 2022 Preview 3.1. Trying to run the app in the emulator but it crashes with this. If I launch the app in the emulator without debugging it runs fine.

[2021-08-25 14:56] lambdageek commented on #6230
@grendello I'm the person for C# Hot Reload (aka EnC).  For XAML Hot Reload you want @drasticactions

[2021-08-25 15:06] grendello commented on #6230
@lambdageek thanks, I'm not versed in different Hot Reload species, reassigning :)

[2021-08-25 15:12] drasticactions commented on #6230
- With the issue with XAML Hot Reload, please file it on [VS Feedback](https://developercommunity.visualstudio.com/spaces/8/index.html). We're not going to track it on GitHub.
- There are two issues here. The first is a XAML Hot Reload bug that was introduced in the last preview: In order to make sure XAML Hot Reload works on all devices, we load additional dependencies from our extension. In this

[2021-08-25 15:12] #6230 closed

[2021-08-25 16:14] #6198 closed

[2021-08-25 16:33] #6075 closed

[2021-08-25 16:33] #6076 closed

[2021-08-25 17:40] AmSmart opened #6233 "`ByteBuffer` 's `ToArray` method crashes the application."
### Steps to Reproduce

I am in the middle of deploying a TFLite model. I allocate the number required number of bytes to a ByteBuffer, store inference in it and attempting to cast it to an array crashes the app. It is shown below:
[code]

Am I doing something wrong? Is this a bug or this kind of operation is not supported?

[2021-08-25 21:43] #6233 closed, assigned to grendello

[2021-08-27 19:39] jeromelaban opened #6243 "[Profiling][net6] Sleeping thread produce repeated stack frames"
### Steps to Reproduce

1. Create an application to profile (with `DOTNET_DiagnosticPorts` and others)
2. Create a ~100ms running operation on a button event
3. profile the application and press the button every second

### Expected Behavior

Periods between button presses show empty frames in speedscope when the application does nothing (presumably while the thread is sleeping)

### Actual Behavi

[2021-08-27 19:42] jeromelaban opened #6244 "[Profiling][Net6] Profiler max_frames depths is too low"
### Steps to Reproduce

1. Create an application which uses deep stack traces with > 100 frames
2. Profile the application using `DOTNET_DiagnosticPorts` and others

### Expected Behavior

Stack frames are not capped at the last 100 captured frames

### Actual Behavior

Stack frames are unrealistically represented as follows, with patterns that show the actual stack frames depth:

![image](https:/

[2021-08-28 01:42] #6059 closed

[2021-08-30 05:31] MagicAndre1981 commented on #6179
ok, I see d16-11 got some fixes, this is nice to see.

Will it also get the `AndroidPackageFormats` support fix to build apk and aab?

[2021-08-30 06:26] lateralusX commented on #6244
The 100 frame max depth is unfortunately a hard limit in EventPipe library shared with CoreCLR, so both runtimes have the same limitation. It is currently not configurable (unless you build from source) and increase the limit will consume more buffer memory, so in order to increase it we probably need to optimize some internals in the library.
Since it has been like that since netcore 3, I guess t

[2021-08-30 06:55] darshanclevertap commented on #6203
So there is a `pushChargedEvent` method in the AAR file, which gets converted to the `PushChargedEvent` method in the bindings DLL file.

Now `pushChargedEvent` in the AAR expects an `ArrayList` of `HashMaps`, but when the DLL file is generated from the AAR, the `PushChargedEvent` in C# expects an `IList` of `IDictionary<string, Java.Lang.Object>`.

When I pass an `IList<IDictionary<string, Java.L

[2021-08-30 07:34] lateralusX commented on #6243
@jeromelaban can you supply the nettrace file as well?

[2021-08-30 08:41] lateralusX commented on #6243
I need to investigate if we can do any good to handle this scenario. We could of course emit sample event with 0 callstack depth, but that is then not inline with how CoreCLR does it and not sure how tools will react to this, so it needs to be investigated.

[2021-08-30 15:05] jpobst commented on #6203
`JavaList` implements `IList` ([docs](https://docs.microsoft.com/en-us/dotnet/api/android.runtime.javalist?view=xamarin-android-sdk-9)), and `JavaDictionary<K, V>` implements `IDictionary` ([docs](https://docs.microsoft.com/en-us/dotnet/api/android.runtime.javadictionary-2?view=xamarin-android-sdk-9)), so you can pass them into a method that requires `IList`/`IDictionary`.

[2021-08-30 15:46] jonathanpeppers commented on #5749
This appears to be fixed when using Visual Studio 2022 and .NET 6 RC1 builds. I can at least build .NET 6 and "legacy" Xamarin.Android project templates in the same solution, and see different assemblies being used now.

"legacy":
[code]

.NET 6:
[code]

.NET 6 RC 2 should get us to an even better place, as we also added assembly versioning for all MSBuild assemblies.

[2021-08-30 15:46] #5749 closed

[2021-08-31 14:14] FANMixco opened #6249 "The call is ambiguous between the following methods or properties but there is only one property not two with the same name"
I'm trying to bind this library:

https://github.com/FANMixco/chip-navigation-bar

That is technically this one (I just upgraded the libs in my repo because I was not able to compile it in the latest version of Android Studio and couldn't download the AAR normally):

https://github.com/ismaeldivita/chip-navigation-bar

I'm getting an error about **ambiguous methods** but I cannot find any duplicat

[2021-08-31 14:27] lateralusX commented on #6243
@jeromelaban Experimented a little with scenario above, and started to emit sample events, event if they have no callstack (happens when you have attached native thread currently not having any managed frames on callstack). It seems to do trick and speedscope will understand the previous callstack should not be prolonged, and I mark sample to be in unmanaged code and you will see that thread spend

[2021-08-31 14:40] jpobst commented on #6249
Looks like the infrastructure generated is trying to set it the listener to `null` in the event removal, so it can't choose between the 2 overloads:
[code]

The best solution is probably to remove the `IFunction1` overload and just keep the `ChipNavigationBar.lOnItemSelectedListener` overload using metadata:

[code]

[2021-08-31 16:43] josalem commented on #6243
@lateralusX is on the right track I think.

It's worth noting that the speedscope output goes through the [SampleProfilerThreadTimeComputer](https://github.com/microsoft/perfview/blob/main/src/TraceEvent/Computers/SampleProfilerThreadTimeComputer.cs) which does a fair amount of guesswork. We could potentially solve some of this out-of-band by adjusting the logic there to try and identify these sit

[2021-08-31 17:21] jeromelaban commented on #6243
@lateralusX let me know if there's any way I can help you test this out :)

[2021-09-01 06:53] eli-darkly commented on #3544
@grendello Hi - do you know if there were any further developments on this in the last 2 years?

[2021-09-01 08:40] lateralusX commented on #6243
I will do a PR where we can continue the discussion. The bottom line is that this scenario currently is undefined and generating the speedscope output based on guesswork in cases like this, visualized the behaviour. Question is, should the managed sample profiler only emit a sample per thread based on frequency (best effort depending on platform) if a thread has at least one managed frames on call

[2021-09-01 10:48] danister-dev opened #6254 "Xamarin Android throws Error - SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED"
When the server only has the wildcard certificate key chain, Xamarin android fails to perform a successful SSL handshake. This works with xamarin.iOS and UWP. The same code fails for xamarin.Android

To fix this problem, we had to link the root and the intermediate certificate to the wildcard certificate in the server. Once we did this, Xamarin.Android performed a successful handshake.

A wild car

[2021-09-01 12:16] Muniappan612 opened #6255 "Facing RequestLayout() and Performance issue while using virtualization concept in Xamarin.Android"
### Steps to Reproduce

Issue 1: Performance issue
1. Run the sample
2. scroll the view to down and up
3. You can see that the green bar in the Graph is high the On layout and OnMeasure is graph line will be a hike
Issue 2: RequestLayout issue in the output window
![Screen Shot 2021-09-01 at 5 40 13 PM](https://user-images.githubusercontent.com/46158936/131669145-d5a1dcc8-450b-45a0-ae77-fce23a26cd

[2021-09-01 14:10] jpobst commented on #6255
Android has libraries to help fix this performance issue.  The concept is called "View Recycling":  https://developer.android.com/guide/topics/ui/layout/recyclerview

We bind this library on NuGet as [Xamarin.AndroidX.RecyclerView](https://www.nuget.org/packages/Xamarin.AndroidX.RecyclerView/).

[2021-09-02 08:03] vallial opened #6258 "Shared Library Binary Analysis"
Hi All,

Recently our application has gone through a Cyber Security Analysis Certification(CSAC) and we got issues in Xamarin.Android part in shared library binary analysis.

![image](https://user-images.githubusercontent.com/89967681/131806204-6d5081ee-66f4-405c-80ec-c20efd8cac25.png)
![image](https://user-images.githubusercontent.com/89967681/131806234-050fe720-8f51-414b-a386-02f02c205b31.png)

[2021-09-02 19:15] #6053 closed

[2021-09-03 04:22] gmck opened #6261 "VS 16.11.0 Preview 3 Project will not deploy"
I suddenly can't deploy and get the following message

[code]
I've not had a problem building or deploying in months and none of the code changes I made today could possibly cause deployment problems. I then copied the project to another computer that is running 16.11.2 Prev 1 and it builds and deploys just fine.

 I've noticed a problem on this computer (Dell XPS) when I deploy to a Samsung Galax

[2021-09-03 09:29] trampster opened #6262 "Xamarin GitHub actions don't work with source generators"
### Steps to Reproduce

1. Use JsonSrcGen (or any other source generator) in a .net standard project in a Xamarin.Android solution (see Client.csproj in the linked github project)
2. See that it compiles fine with Visual Studio
3. See that the .net standard lib compiles fine on dotnet core on linux
3. Try to build with the Xamarin project github actions:

[code]

It fails to build (see https://git

[2021-09-03 10:10] grendello commented on #6258
Hi @vallial, this analysis is nothing you need to be worried about. The `libxamarin-app.so` shared library is a **data only** library, there's no executable code in it whatsoever. Therefore, the warnings in the `STACK CANARY`, `RELRO` and `FORTIFY` are irrelevant. The scanner analyzing the shared library should do a better job, by looking at the presence of ELF sections in the binary to note that

[2021-09-03 10:10] #6258 closed

[2021-09-03 13:36] jonathanpeppers commented on #6262
Can you add `-bl` and save the `msbuild.binlog` file it produces as an artifact? Attach it here? Thanks!

I think the issue is likely the version of Mono (and its MSBuild or Roslyn), and not really Xamarin.Android.

[2021-09-03 13:37] jpobst commented on #6262
Source generators are a .NET 5+ feature.

By using `msbuild`, you are using the Mono installed on the agent instead of `dotnet`.

[code]

[code]

However there isn't a released version of `dotnet` that supports Xamarin projects yet.  You can try to use one of the .NET 6 previews.  However you will have to port your Android app to .NET 6 to do that.

The better option is probably to build your `.dl

[2021-09-03 13:45] jonathanpeppers commented on #6262
You could also try building on Windows, where VS's .NET Framework MSBuild should be able to support source generators.

[2021-09-05 03:55] gmck opened #6268 "VS2019 16.11.2 P1.0 Compiling and Deployment problems"
In addition to issue #6261.

I'm still not having any luck with deploying with 16.11.2 Prev1.0. Tt is actually getting worse, I now can't even build with it.

I went back to an older machine from my backup and it builds and deploys fine with 16.11.2 Prev1.0. I then copied the project less the obj and bin folder contents to my development machine and made two copies in different folders one for 16.

[2021-09-07 12:47] JeyasriVijay commented on #6255
As our requirement , we need to add Scroll Viewer as base have to add children's in it , as reported issue replicated in simple sample as shared before , please validate the sample shared , let us know the possible to fix in using ScrollViewer used.

Please check same related issue -  https://github.com/roughike/BottomBar/issues/371

[2021-09-07 14:08] jpobst commented on #6255
For help with usage of Android APIs, you will probably get better responses on [StackOverflow](https://stackoverflow.com/questions/tagged/android) or the [.NET Android section of Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/dotnet-android.html).

This repository caters more to issues with the Xamarin.Android tooling itself and does not have extensive expertise in how to properly

[2021-09-07 21:11] jonathanpeppers commented on #6261
Can you attach a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) with this setting added to your project?

[code]

Does it work fine if you use an emulator?

[2021-09-07 21:18] jonathanpeppers commented on #6268
Visual Studio 2019 16.11.2 is the current stable release containing Xamarin.Android 11.4.0.5.

You're having some issues with `16.11.2 Prev1.0`? What version is this? Is this an old preview of Visual Studio?

[2021-09-07 22:56] gmck commented on #6268
@jonathanpeppers
According to the help about 16.11.2 Prev 1.0 is meant to be the latest PREVIEW version. You seem to be indicating that this is an old version. As I said previously I've never had the stable release (16.11.2) on this machine until a couple of days ago.

When I compare all the Xamarin components of each version they are identical. Could you please indicate what is the latest preview

[2021-09-08 04:52] gmck commented on #6268
@jonathanpeppers, @dellis1972

Looks like 16.11.2 is the last release of VS Studio 2019 as per these release notes https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes.

Therefore I downloaded VS 2022 Version 17.0.0 Preview 3.1 which has Xamarin.Android 11.4.99.70. That meant VS 2019 Preview had to go because I assume they can't be installed side by side.

I can now build and

[2021-09-08 06:18] devvaluelabs opened #6359 "Found some native Libraries in Android Application are not secured in Xamarin."
Hi Team,

During Testing, we found that some native libraries in Xamarin Android are not secured by applying some additional security mechanisms. We have found the issues as attached in the screenshot. Could you please let me know how can we proceed inorder to resolve this issue.

PFA screenshot for your understanding. Thanks in advance.

<img width="342" alt="Native libraries issue" src="https://

[2021-09-08 07:39] kristijan-boskovic opened #6271 "VS2019 16.11.2 Failing to build Android binding libraries"
After switching from Debug to Release in Visual Studio and trying to build the solution, machine in our office was not able to build Android binding libraries anymore (BoradRadio.FaceSdk and BroadRadio.RfidSdk). We tried switching back to Debug, cleaning&rebuilding, re-installing VS/Android Studio/All Android SDKs/Java JDKs, and nothing helped. During the build, /lang/something is always added to

[2021-09-08 09:19] dellis1972 commented on #6271
Are you able to provide a test project?

Or show the code generated for `obj\Debug\generated\src\Android_serialport_api.SerialPort.cs` ?
It might help us figure out why we are generating invalid C# code.

[2021-09-08 10:12] kristijan-boskovic commented on #6271
Here is the test project that contains test Anroid binding library with files generated after failed build:
[Testapp.zip](https://github.com/xamarin/xamarin-android/files/7127985/Testapp.zip)

[2021-09-08 10:42] dellis1972 commented on #6271
The test app Binding project produces this error for me

[code]

Is that what you are seeing?

[2021-09-08 11:44] kristijan-boskovic commented on #6271
Sorry, we forgot to add one <remove-node ... /> in the Metadata.xaml of the BindingLibrary. Here is a version that builds on all the company machines besides the affected one. Screenshot related, that's some of the generated output with errors I get. You should be able to find the generated files inside TestBindingLibrary\obj\Debug\generated\src.

[Testapp.zip](https://github.com/xamarin/xamarin-a

[2021-09-08 12:01] dellis1972 commented on #6271
@jpobst  any ideas on this one? If you look at the screen shot ^ we are generating delegates with method names which include `/` characters.

I can't repo this issue on my Mac, and the NamespaceMapping.cs file does not contain any entries with a `/` in them.

[2021-09-08 14:08] jpobst commented on #6271
We've had one report of this before, but I could not reproduce it.  It built fine locally and on our CI: https://developercommunity.visualstudio.com/t/XamarinAndroid-binding-compiling-proble/1477963.

I'll see if this test case shows anything different.

[2021-09-08 14:38] jpobst commented on #6271
Same as the other one, it works fine here.  And the code that generates this referenced in the other ticket still looks like there is no possible way this could get output.

![image](https://user-images.githubusercontent.com/179295/132529187-abdb56d4-c646-4637-9a09-5c248d0f5f1c.png)

- What version of VS are you using?
- Do you have access to a second machine? If so, can you try a Rebuild there an

[2021-09-08 18:38] jpobst commented on #6271
This does indeed seem to be a string-culture issue.  That is:
[code]
returns `False` for Bosnian, Croatian, and Serbian because `"lj"` is [considered a single letter](https://www.learncroatian.eu/blog/the-croatian-letters).

I've opened a PR which fixes this issue and enables the string localization code analyzers to help ensure we catch other issues like this and do not create any new ones in the

[2021-09-08 19:03] jonathanpeppers commented on #5652
After #6270 with `-p:SuppressTrimAnalysisWarnings=false -p:TrimmerSingleWarn=false` we will be down to:
[code]

[2021-09-09 05:33] AmirImam commented on #3456
I have this issue now on VS 2019 Version 16.11.2

[2021-09-09 07:08] lateralusX commented on #6243
@jeromelaban just merged fix into release/6.0 that will write out sample profile events when a attached thread is running native code without any managed frames, it should adjust the thread time for above use case. Possible for you to take it for a test drive? It mainly needs to be build from source at the moment (will be included in RC2).

[2021-09-09 07:48] kristijan-boskovic commented on #6271
@jpobst yes, you are right! The issue was in Regional format being set to Croatian in Windows 10 settings. Now that we switched it to English, everything builds correctly. Just to inform you, in case you are not familiar, along with `"lj"`, there are two more two-character letters in Croatian/Bosnian/Serbian: `"dž"` and `"nj"`, which could cause the same issue. We tested it, and they also return `

[2021-09-09 11:22] agnauck opened #6274 "Mono Btls exception WRONG_VERSION_NUMBER with SslStream during AuthenticateAsClient"
I am using TCP sockets for implementing the XMPP protocol. The XMPP protocol upgrades plain sockets to TLS after some initial handshakes on unencrypted TCP sockets.
Calling **AuthenticateAsClientAsync** on the network stream raises the following exception on real devices and the Android emulator:

[code]

I am on the latest Visual Studio Preview with the latest Xamarin tools installed.
The XMPP li

[2021-09-09 12:23] jeromelaban commented on #6243
@lateralusX I'll definitely try this out! Thanks for the update.

[2021-09-09 20:55] jpobst commented on #6271
Glad you got it working!

Fix committed in https://github.com/xamarin/java.interop/pull/879.

[2021-09-09 20:56] #6271 closed

[2021-09-10 15:11] jpobst opened #6280 "[One .NET] Old generated binding code not removed when jar is modified"
If you modify a binding `.jar` in a project (remove it, update it to a new version, etc.), the old `/generated` code remains, so it gets compiled into the project even if it has been removed.

This was handled in Legacy via https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.Bindings.Core.targets#L45-L46.

[code]

[2021-09-10 18:02] jonathanpeppers opened #6283 "[xaprepare] fails on Linux CI, run `cert-sync`?"
Quite regularly our Linux CI fails, `make prepare` fails building `remap-assembly-ref.csproj`:

[code]

Searching the web, I found a recommendation to run `cert-sync`:

https://github.com/mono/mono/issues/12406#issuecomment-453998125

Should `xaprepare` do this immediately after installing Mono? (just on Linux)

[code]

I don't actually know what `cert-sync` does, or if this path to `ca-bundle.crt

[2021-09-10 21:01] jeromelaban opened #6284 "[net6][rc1] `InvalidOperationException: Duplicate attribute` when Activity is explicitly exported"
### Steps to Reproduce

Create an activity with the following attributes:
[code]

### Expected Behavior

Compilation succeeds.

### Actual Behavior

[code]

May have been caused by https://github.com/xamarin/xamarin-android/commit/d3040605d837e339488bce117555422a2a2d2d39 according to @jonathanpeppers (thanks for the hints!).

## Workaround

Remove the `Exported` attribute parameter.

### Version I

[2021-09-12 02:40] yunusefendi52 commented on #6262
I haven't tried JsonSrcGen yet, but I've tried other source generators on github actions macos and it works by running msbuild directly from Visual Studio for Mac
`mono '/Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/bin/MSBuild/Current/bin/MSBuild.dll' --yourargs`
example:
`mono '/Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/bin/MSBuild/Current/bin/MSBuild

[2021-09-12 05:24] DevronB opened #6285 "No Arm32 added to apk for wear os"
I hope this is the right place?

### Steps to Reproduce
I'm having issues with the APK when built for Wear OS 3.0 as it's missing Arm32 resources. The absence of these is causing the install on wear OS physical hardware to fail with invalid architecture. x86 Emulators and mobile devices (Arm64) are fine.

See screenshot, left if built using net6.0-android and right a Xamarin.Andriod wear project.

[2021-09-12 13:50] dellis1972 commented on #6285
You probably need to add
[code]

to your project.  I think it defaults to only `android-arm64;android-x86`

[2021-09-12 19:45] BioTurboNick opened #6286 "Attempt to invoke virtual method 'int android.graphics.Paint.getAlpha()' on a null object ref"
I have no reproduction, this was just observed in the wild.

The issue is deep inside the Android/Xamarin code, specifically ShellFlyoutRenderer.

This occurred on Android 5.1 with Xamarin.Forms 5.0.0.2083 and targeting API 30, MonoAndroid11.0

Maybe there's just a null check that can be added somewhere. Sorry I can't be more helpful.

[code]

[2021-09-13 00:27] DevronB commented on #6285
Ok, yes I have tried this and it seems to work ok. I imagine when the Wear project template is ported to net6.0-android this would be set in the template then?

[2021-09-13 10:59] agnauck commented on #6274
After some more testing I found out the following behaviour.
When I initiate TLS immediately after the socket was connected it works fine.
The problem appears only when sockets gets updated from plain to TLS at a later point. This is common practise in protocols like SMTP, XMPP and others.

[2021-09-13 12:06] lkhore opened #6287 "Is any way to run dll in android studio java"
How we can use dll in android studio or any way to create aar and jar for dll?

[2021-09-13 13:59] #6285 closed

[2021-09-13 15:20] jpobst commented on #6287
If you are asking if you can use a managed (C#) .dll in a native Java/Kotlin app, the answer is probably not.

It's not possible to simply consume a .dll in Java.  You must also embed the Mono runtime to run the .dll, and set up a bridge between the Java runtime and the Mono runtime.

There was a project that did this: https://github.com/mono/Embeddinator-4000, however it hasn't been maintained in

[2021-09-13 16:04] lkhore commented on #6287
I had found https://github.com/mono/Embeddinator-4000 but didn't work.
So how about **set up a bridge between the Java runtime and the Mono runtime.**.
So can you please give some information?

Do you have any future plans for this?

[2021-09-13 16:09] jonpryor commented on #6286
My first thought was that `ViewGroup.DrawChild()` was being executed on an instance which `ViewGroup.Handle` is `IntPtr.Zero`.  However, that can't be the case here, as [`JniPeerMembers.JniInstanceMethods.InvokeVirtualBooleanMethod()`](https://github.com/xamarin/java.interop/blob/7068f4b2df94f5171e3f44e817a84e99d494cc2d/src/Java.Interop/Java.Interop/JniPeerMembers.JniInstanceMethods_Invoke.cs#L64)

[2021-09-13 18:16] jpobst commented on #6287
I doubt there are any future plans for this, as it's not really the focus of Xamarin.  Perhaps @chamons knows more.

[2021-09-13 18:20] lkhore commented on #6287
**set up a bridge between the Java runtime and the Mono runtime** Please provide the details of.

[2021-09-13 18:27] jpobst commented on #6287
That is what Embeddinator-4000 does.  It looks like the docs were deleted out of the repo to be placed on docs.microsoft.com, and now no longer exist there either.

You can view the old docs in the PR that removed them: https://github.com/mono/Embeddinator-4000/pull/649/files.

There are no additional details besides what is provided by that project.

[2021-09-13 18:33] lkhore commented on #6287
Ok, thanks so I am assuming we can't convert DLL to AAR.

[2021-09-13 18:53] #6287 closed

[2021-09-13 21:25] jonathanpeppers commented on #6283
I tried adding a retry on this one project: https://github.com/xamarin/xamarin-android/pull/6292/files

This gets us past this project, but it appears that `/t:Restore` can fail on literally *any* project and you have to retry:
[code]

Should we make the Linux lane only run on `main` & release branches? Just so PRs aren't always red?

[2021-09-13 21:32] DevronB commented on #6285
All good, thank you for the links.

[2021-09-14 12:27] #6280 closed

[2021-09-14 13:34] bellissimo opened #6294 "Is reverting to ProGuard possible?"
The Amazon IAP plugin for Xamarin is quite out of date now, and no longer works with R8. It seems unlikely this will be fixed anytime soon, which is obviously an issue when trying to update an app which utilises IAPs. I have to use D8 due to using the AndroidX libs, however it is no longer possible to use D8 with ProGuard ,since this now generates a compile time error.

`Using ProGuard with the D8

[2021-09-14 13:45] jonathanpeppers commented on #6294
What is the error? Should we just address that? Sometimes, it is simply a `<uses-library/>` missing in your `AndroidManifest.xml`.

Was this a warning or an error? Can you attach a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output)?

[2021-09-14 14:04] grendello commented on #6283
@jonathanpeppers I think it would be a shame not to run the Linux builds on PRs. I build our code several times a day without running `cert-sync` or doing anything special and I've never seen this error locally. However I do see it quite often on the bots, I think they started after we migrated to new Linux hosts and the errors do feel like network errors. If you visit the URL in the above error m

[2021-09-14 14:22] bellissimo commented on #6294
It is a build error which stops the build pretty early on. The Amazon problem is essentially the same thing as reported here:

[https://github.com/xamarin/xamarin-android/issues/5466]

I was hoping to see if turning on ProGuard would be an easy workaround.

[2021-09-14 14:30] pjcollins commented on #6283
I've been wanting to upgrade the preview version of .NET 6 that we're using as I thought it may be related and it's quite old now, but I'm hitting worse issues in the workload resolver on these new Linux systems after upgrading:

Fixing up issues with these new 1ES Linux pools has been on my list but I haven't been able to invest much time yet, I think I will have time to try to dig into some of t

[2021-09-14 14:40] jonathanpeppers commented on #6294
I think you can set both of these at once to try ProGuard:
[code]

My memory is coming back to me about:

https://github.com/xamarin/xamarin-android/issues/5466#issuecomment-756449789

The issue is that the Amazon IAP library is swallowing the exception and not logging what Java type is missing. If we could somehow figure that out, I think you just need a proguard rule to prevent r8 from stripping

[2021-09-14 20:17] Redth commented on #5352
I did a spike on  a lot of this some time ago: https://github.com/Redth/Xamarin.Binding.Helpers

The idea was to use a .gradle file to specify the dependencies for the binding and let gradle/maven resolve the dependency graph for you, since that's what it's good at.  With a small plugin added to the .gradle file, I was able to serialize all of the dependency graph from gradle in a way that msbuild

[2021-09-14 21:06] #6284 closed

[2021-09-15 03:08] bddckr commented on #6158
For anyone following along: This is still an issue with .NET 6 RC 1.

To manually work around the issue you have to edit `C:\Program Files\dotnet\packs\Microsoft.Android.Sdk.Windows\31.0.100-rc.1.12\targets\Microsoft.Android.Sdk.AssemblyResolution.targets` after you installed the workload (e.g. `dotnet workload install android`, but you could also install it via the MAUI workloads): Remove `Append

[2021-09-15 08:05] FANMixco opened #6298 "App stops without any warning while switching activities Studio after opening a specific dialog in Visual (memory leak?)"
I guess I have a memory leak because after I open a specific `Dialog` and change to a new `Activity`, the app crashes without any warning and Visual Studio/App stops without any warning or specific line where it happens as you can see in the animated gif:

[![preview1][1]][1]

This second animated gif is where I'm debugging the app in Visual Studio and then suddenly stops. The app finished in line

[2021-09-15 08:37] bellissimo commented on #6294
Ok, so setting both those options seems to revert to ProGuard, though I now get a load of ProGuard warnings regarding the AndroidX libs, which I was kind of expecting. It also exits the build with a Java Code 1 (which may be related).

I think it may be easier, and better in the long run, to try to re-generate the Amazon IAP binding library using the latest jar instead, rather than spending a lot

[2021-09-15 08:37] #6294 closed

[2021-09-15 10:24] dellis1972 commented on #6298
The crash is a result of a JNI error by the looks of things.
[code]

It looks like something is trying to access an object which has been destroyed. @jonpryor any thoughts on this one?

[2021-09-15 13:29] jonathanpeppers commented on #6158
@bddckr if you have a fix in mind, a pull request is welcome. I would add a test [here](https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/XASdkTests.cs) using a custom `$(IntermediateOutputPath)` and other settings.

Other issues are just higher priority right now, and we have until [Q2 2022](https://devblogs.microsoft.com/dotnet

[2021-09-15 15:33] bddckr commented on #6158
I'll look into that as soon as I can. Thanks for the pointer as to where to start!

---

TIL that MAUI is not just the UI framework, but also means the whole effort of getting Xamarin "moved over" into the new world order in .NET. I've never understood it that way and was instead under the impression that the "Xamarin Native" stuff is independent from MAUI. Especially since it spells out as "Multi

[2021-09-16 04:25] mattleibow opened #6302 "Failure to build/deploy/run with android:packageName and <ApplicationId>"
### Steps to Reproduce

1. Create an Android app with a package name in the manifest and the .csproj
2. Observe the build create an .apk and deploy it using the name in the csproj
3. Observe the deploy fail or runtime exception when the app actually has the package name in the android manifest

ID in Manifest: com.microsoft.maui
ID in Project: com.microsoft.maui.sample

![image](https://user-image

[2021-09-16 07:04] jeyakasipandi commented on #5821
Can you please consider this with high priority?

[2021-09-16 07:26] shahanur commented on #4647
I am having the same issue. Is there any solution for this yet? In my case it was all fine. All in a sudden it just started. I tried all the above that others have tried.
It's really shame for visual studio and Android.

[2021-09-16 08:37] dellis1972 commented on #6302
So I guess the first question is which packageId should take precedence ? csproj or AndroidManifest.xml?

[2021-09-16 19:56] jonathanpeppers commented on #6302
This seems broken on our end:

![image](https://user-images.githubusercontent.com/840039/133677489-feb7bef7-304a-4731-88a9-623df1274663.png)

I have `package="com.companyname.bar"` in the `AndroidManifest.xml`

[2021-09-17 08:32] agnauck commented on #6274
This can be closed. It looks it was a race condition in my codes because async reads on network streams ignore cancellation tokens.

[2021-09-17 08:32] #6274 closed

[2021-09-17 15:18] jonathanpeppers opened #6307 "[One .NET] don't redistribute apksigner.jar"
Context: https://github.com/xamarin/xamarin-android/commit/c50df1c5284c6f6b1160fdc3bfd3006c8c92e26a

In the past, we had to redistribute `apksigner.jar`, because it required JDK 11. This happened for build-tools 30.0.0 and was fixed in built-tools 30.0.3. At the time we were nowhere close able to use JDK 11, and so we built it ourselves for JDK 1.8 and redistributed it.

However, .NET 6 now *requi

[2021-09-17 15:35] jonathanpeppers opened #6308 "[One .NET] fix gaps in incremental build performance"
Two factors add a performance cost to .NET 6 builds that are currently not in "legacy" Xamarin.Android.

1. An additional `<MSBuild/>` call per RID evaluates the project again:

https://github.com/xamarin/xamarin-android/blob/d61aae7f120f9c39c2186908fb3cd791b3bde871/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.AssemblyResolution.targets#L83-L88

2. The `<Proc

[2021-09-18 08:30] FANMixco commented on #6298
I even created an additional `OnCancelListener` event where I'm even disposing of the `DialogView` without any result:

    Dialog.SetOnCancelListener(new OnCancelListener(dialogView));

    private class OnCancelListener : Java.Lang.Object, IDialogInterfaceOnCancelListener
    {
        private View dialogView;

        public OnCancelListener(View dialogView)
        {
            this.dialogVie

[2021-09-20 10:41] dellis1972 opened #6310 "Replace existing `Resource.designer.cs` System by using Reference assemblies."
# Android Resource Assemblies

This idea is a replacement for the current `Resource.designer.cs` system
that exists in Xamarin.Android.

## Problems with the current system.

The current implementation relies on us generating code which is then
updated via reflection on application startup. Reflection is generally
slow so it is best avoided, especially on mobile platforms.

We have another issue,

[2021-09-20 10:48] dellis1972 commented on #6310
One other issue is how do we support people using Nuget packages built with the new system on older Xamarin.Android versions... do we even bother?

[2021-09-20 11:51] grendello commented on #6310
I think it's a great idea. The only question that pops in my mind is about the size of the final assembly, but it probably doesn't matter much since it would be the same size as it is now. For runtime performance it would be beneficial if all the classes in the assembly were both static and sealed, the JIT can generate a bit more efficient code for accessing them then.

[2021-09-20 13:04] dellis1972 commented on #6310
The [RemoveResourceDesignerStep](https://github.com/xamarin/xamarin-android/blob/main/src/Xamarin.Android.Build.Tasks/Linker/MonoDroid.Tuner/RemoveResourceDesignerStep.cs#L13) should still be able to function (with some tweaks). So we can still optimise the release builds to remove this new assembly completely.

[2021-09-20 13:54] jonathanpeppers commented on #6310
This idea does seem like it would be better, because:
1. `ResourceIdManager` and it's use of `System.Reflection` could go away.
2. We don't copy lots of fields at startup.

The issues are around: "how do we create these extra assemblies?"

1. These assemblies have to be available during design-time builds for Intellisense. So it has to be *fast* & work the same as before.
2. It doesn't seem like w

[2021-09-20 14:04] dellis1972 commented on #6310
We could call `<Csc/>` for this. I don't think it would be that much slower.
The design-time build will still need to work and be quick, so that is something we need to be mindful of.

[2021-09-20 14:36] dellis1972 commented on #6310
I can prototype a Cecil generator and test that against a Cs call, see which is quicker.

[2021-09-20 14:48] grendello commented on #6310
Could the design time assembly be in memory only? Generated using System.Reflection.Emit for instance?

[2021-09-20 14:59] jonathanpeppers commented on #6310
It might also be worth checking if type forwarding would work better for this idea than reference assemblies.

[2021-09-21 18:22] jonpryor commented on #6310
Had a chat w/ @grendello recently, and I had a modification for this idea: *instead of* `Xamarin.Android.Resource.Designer.Resources` containing `static` *fields*, instead have `static` *properties*:

[code]

The reason for this is JIT-time overheads: with static fields, every field is set in the static constructor.  If you have 30k fields, the static constructor sets 30k fields, and needs to JIT

[2021-09-21 18:35] grendello commented on #6310
And static methods will be JIT-ed only when called

[2021-09-22 06:04] nextcodelab commented on #3403
try this
[code]

[2021-09-22 07:34] AmrAlSayed0 commented on #6310
Would it be possible to make these static properties just return the original properties?
[code]
This will also work whether `Xamarin.Google.Android.Material.Resources.Id.actions` is a property or a field.

[2021-09-22 08:18] dellis1972 commented on #6310
@AmrAlSayed0 I'm afraid that won't work in this context. Since the value for `Xamarin.Google.Android.Material.Resources.Id.actions` which would be in the `Android.Google.Android.Material.dll` is just a place holder. The actual final ID is not known until we build and link the final application.
If we used the items directly we would have to go though every assembly and update the values with the f

[2021-09-22 10:32] bddckr commented on #6310
As an F# user I wonder what this change means for my projects? As a note: The [F# type provider](https://github.com/xamarin/Xamarin.Android.FSharp.ResourceProvider) that provides access to the IDs at compile time hasn't been working for several years now.

Would this allow F# projects to consume the IDs in a way that they are available at compile time, preventing the need for a C# helper project j

[2021-09-22 10:41] dellis1972 commented on #6310
@bddckr I'm not entirely sure ,it should make things better for F# users in theory. We won't know until we try.

[2021-09-22 13:42] ssorey commented on #3822
I am having the same issue failed linking references (Xamarin -  Visual Studio Community 2019)

[2021-09-22 15:57] #6302 closed

[2021-09-23 15:43] themronion opened #6330 "App can't launch without internet in debug mode"
### Steps to Reproduce

1. Create an empty project with XF (i am quite sure this issue will be for android native as well). Turn off all internet connections completely on emulator (wifi and celullar data). Launch app and observe debugger and app shutting down.

### Version Information

Latest Visual Studio and Visual Studio for Mac, also happened on previous versions, forgot to report

[log.txt](

[2021-09-23 16:36] grendello commented on #6330
Hi,

Debugging of managed code on devices requires networking support (IDE talks to the app over sockets forwarded by ADB to the device/emulator), this is by design.

[2021-09-23 16:36] #6330 closed

[2021-09-23 21:23] #6286 closed

[2021-09-23 21:23] #6255 closed

[2021-09-23 22:06] jonathanpeppers commented on #6308
No.2 (`<ProcessAssemblies/>`) is implemented in https://github.com/xamarin/xamarin-android/pull/6323

No.1 (trying to eliminate `<MSBuild/>`) actually does not work:

https://github.com/xamarin/xamarin-android/compare/main...jonathanpeppers:use-calltarget-singlerid

I found that `RuntimeIdentifier` "singular" needs to be passed into the full build pipeline. Targets like `ProcessFrameworkReferences

[2021-09-23 22:06] #6308 closed

[2021-09-24 13:57] jingliancui opened #6333 "Xamarin.Kotlin.StdLib 1.5.31 will lead app crash"
### Steps to Reproduce

1. Check out this sample and run it https://github.com/jingliancui/XamarinFormsEasyFloatSample
2. Run it and it will be fine.
3. Then install kt 1.5.31 https://www.nuget.org/packages/Xamarin.Kotlin.StdLib/1.5.31 because EasyFloat depend on kt.
4. Run it and it will crash.

### Expected Behavior
Run it and it will be fine.
### Actual Behavior
Run it and it will crash.
### Ve

[2021-09-26 03:35] fernandovm commented on #6143
@grendello, I made tests with some motorola devices but unfortunately the issue does not happen in it. I requested some users to send me the app logs collecting a partial logcat (programmatically by app). I don't know if a full logcat could give us more clues, but the partial logcat show only this points bellow:

[code]

[code]

I'm not sure but I suspect that the ANR reported in the Google Play C

[2021-09-27 04:07] shravanvvk opened #6335 "when i was archiving my app it was telling that pakaging process has been failed what to do now"
### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Version Information

### Log File

[2021-09-27 09:02] grendello commented on #6143
Hi @fernandovm,

The service start lines suggest an abnormally long startup of the application, they look like cold starts but even for a cold start that's way, way too long. I don't know what your application does during normal and via-intent startup, but even if it was doing something very heavy, the times are very, very long. About the only advice that comes to mind is to try to keep the servic

[2021-09-27 10:46] de7b opened #6336 "AndroidVersionCodePattern, how to redefine {abi} during building APKs for different architectures?"
We are building Xamarin Android app, csproj contains following settings:

[code]
Our app using own pattern for version code based on values:
07 - armeabi-v7a
08 - arm64-v8a
86 - x86
87 - x86_64

Can we define AndroidVersionCodeProperties to fit our pattern and build 4 APKs during one build with correct Android Version:
107101, 108101, 186101, 187101?

[2021-09-27 11:01] dellis1972 commented on #6336
Hmm. not easily. The `{abi}` pattern is one of those which is kinda hard coded. Since it relies on a value in the build process which is the current abi which the `BuildApk` task is building for. It does this  within the `BuildApk` task itself.

Let me have a think about how we can support this. It will probably need to be an additional `Key=Value` pair which gets passed in, and will default to so

[2021-09-27 11:52] dellis1972 commented on #6310
So I hacked together a basic version of this, and in principal it seems to work at runtime at least.

Problems I have found so far are mostly related to release mode. We get a linker error

[code]

This is despite the `Xamarin.Android.Resource.Designer` assembly being loaded already. I'll need to dig into this to see what is causing it.

[2021-09-27 13:59] pldeschamps commented on #3822
be careful to write in styles.xml:
`<?xml version="1.0" encoding="utf-8" ?>
<resources>
  <style name="AlmicantaratTheme" parent="Theme.AppCompat.NoActionBar">
      <item name="android:windowNoTitle">true</item>
      <item name="android:windowActionBar">false</item>
      <item name="android:colorPrimary">#15014E</item>
  </style>
</resources>`

Do not write:
`  <style name="AlmicantaratTheme" p

[2021-09-27 14:58] grendello commented on #6143
@fernandovm Would it be possible for you to distill what your background service does into a small sample that we could run locally?

[2021-09-27 15:11] jonathanpeppers commented on #6310
What is the `TargetFramework` of the assembly you generate? Seems like `System.Int32` might be type-forwarded, like it is `netstandard`?

[2021-09-27 15:45] de7b commented on #6336
`<VersionCodeAbiDefinition>armeabi-v7a=2;x86=3;arm64-v8a=4;x86_64=5</VersionCodeAbiDefinition>`

It looks like solution.

[2021-09-27 16:55] jpobst commented on #6333
What is the crash in the log?

[2021-09-27 23:04] fernandovm commented on #6143
Hi @grendello, let's go!

Yes, just because of this suggestion I looked in the android source code to try understand under wich circunstances this message is printed, but I didn't find it (I looked by all references to `ActivityThread.TAG`, like as [here](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/core/java/android/app/ActivityThread.java;l=237), [here](https://c

[2021-09-28 04:22] fernandovm commented on #6143
It's not so easy, but I will try.... but it is very hard think the issue is related to the app business rules. On the other hand, have to exist something in the structure of my code that motivate the issue, I don't see what can be, maybe you suspect of something, below follows the general code structure and some observations:

[code]

[code]

1. The class `ThreadHelper.EnqueueSafeExecute` just run

[2021-09-28 05:07] yunusefendi52 opened #6341 "error defined multiple times building project with net6.0-android, but success with xamarin.android"
### Steps to Reproduce
I can't create the steps to reproduce, but I am trying to port project to net6.0-android from xamarin.android, all of the dependency is using `Directory.Build.props` and `Directory.Build.targets` and I also have net6.0-android library (also ported).
Building project using xamarin.android is succeded but when trying to port to net6.0-android building with `dotnet` is failing

[2021-09-28 05:43] gmck opened #6342 "VS2022 17.0.0 Prev 4.0"
I'm getting the following at the end of log when I deploy a release build. The deploy succeeds and the app runs fine.

Even if I uninstall the app prior to the deploy, either via the standard uninstall or by adb shell cmd com.glmsoftware.OBDNowPro uninstall -k it still contains the following in the log. Same result on Pixel 3a, 4a and Samsung S20.

I'll try on 4.1 next and update this.

[code]

[2021-09-28 06:05] gmck commented on #6342
Update: Same with 4.1

[2021-09-28 07:15] ibocon opened #6343 "Call ZipArchive.ExtractToDirectory throws System.UnauthorizedAccessException."
### Steps to Reproduce

1. Prepare SAMSUNG Galaxy Note 4 or 5 (Android 7.0 or lower)
2. Download and Run reproducing project. [Github](https://github.com/ibocon/StackOverflow/tree/XamarinAndroidUnauthorizedAccessException)
3. Allow 'WriteExternalStorage' permission
4. Tap 'DECOMPRESS' button

### Expected Behavior

1. 'Test.zip' decompress to **ExternalFilesDir**
2. Read 'Test.txt'
3. See 'Hello,

[2021-09-28 09:17] dellis1972 commented on #6342
This is likely caused by https://github.com/xamarin/xamarin-android/commit/f9f879c737fedd160573e1b6c52f16ac737e9c34. Specifically https://github.com/xamarin/xamarin-android/commit/f9f879c737fedd160573e1b6c52f16ac737e9c34#diff-e2c60a31385c6fbadf9b9f439d3681ee357077bf3e66f181a0ddb02b9d98adf1R2530

That line was added because when switching from a Debug build to installing a Release build there was n

[2021-09-28 09:22] grendello commented on #6343
I don't have a relevant device, and I couldn't reproduce the issue neither on Pixel 3 XL running Android 11 nor in an emulator running Android 7. Can you please record a logcat output using these commands:

[code]

Please attach the `logcat.txt` file to this report, hopefully it will contain some clues we can follow, thanks!

[2021-09-28 10:00] grendello commented on #6143
I have a theory about this, but it is just a blind guess so please treat it as such. The slow starts may be happening in a situation when your app was frozen by Android (because it wasn't active in the foreground long enough) or that it wasn't actually running and the intent that starts the service actually starts the application as a whole. In normal startup conditions (user clicking the app icon

[2021-09-28 10:14] grendello commented on #6143
The startup code you pasted above might be more expensive than it seems. By starting threads, you trigger the threadpool creation, there's a lot of background activity that needs to happen there. The logger creation might also involve I/O. Also, the lock taken at startup basically introduces uncertainty as far as time is concerned. By sleeping on a lock, the process essentially yields control and

[2021-09-28 10:37] yunusefendi52 commented on #6341
I think I can reproduce this, in my project `Directory.Build.props` and `Directory.Build.targets` is not in the same folder, I move those to the root project folder and now I can build the project successfully
[BuildSuccess.zip](https://github.com/xamarin/xamarin-android/files/7242501/BuildSuccess.zip)
[BuildFailed.zip](https://github.com/xamarin/xamarin-android/files/7242500/BuildFailed.zip)
I bu

[2021-09-28 13:43] jonathanpeppers commented on #6341
@yunusefendi52 Xamarin.Forms is not supported on .NET 6. (Sorry can't find a link on this) If it works for your app, that is great, though.

I noticed this comment in the sample:
[code]

If this comment is accurate, it sounds like Xamarin.Forms has a dependency on this package and it's not listed as a dependency of Xamarin.Forms. Moving `Directory.Build.targets` around seems unrelated to the Andro

[2021-09-28 13:43] #6341 closed

[2021-09-28 13:50] jonathanpeppers commented on #6342
@dellis1972 so does this reproduce the issue:
1. Setup an app with a custom `.keystore` for `Release` builds. Just like you'd setup for Google Play, etc.
1. Deploy a `Debug` build
2. Deploy a `Release` build

Is the `uninstall` command actually needed? It seems like the app worked, even though that one command failed?

[2021-09-28 13:55] jonathanpeppers commented on #6341
The issue might be one of the `<PackageReference/>` items aligns the dependencies in `MyAndroidLibService.csproj`.

When you moved it, it made sure the same packages are used in both projects.

[2021-09-28 23:57] ibocon commented on #6343
[code]

[logcat.txt](https://github.com/xamarin/xamarin-android/files/7247925/logcat.txt)

[2021-09-29 00:42] #5200 closed

[2021-09-29 05:16] gmck opened #6345 "VS2022 17.0.0 Preview 4.0 and 4.1"
Are you guys aware that the Android Designer doesn't load?
Open any layout file and all you get is the XML. It was reported via VS's Help, Send Feedback for 4.0, but obviously, nothing got fixed for 4.1.

The following is from the Xamarin/logs/17.0 from the .ide file.
Ironically after not being able to open any layout file without an error in VS since Feb last year I now can!!

[code]

[2021-09-29 07:26] bddckr commented on #6345
I believe this is expected, see [here](https://github.com/xamarin/xamarin-android/wiki/JDK-11-Warning#jdk-11-caused-regressions). I get the same issue, so perhaps that Wiki page just needs an update to mention the same issue applies to VS _2022_?

[2021-09-29 09:46] dellis1972 commented on #6345
@gmck the team who maintain the designer are aware it does not work at the moment. There are issues with the designer needing JDK 1.8 to work , but our build system needs JDK 11 . Those issues are being worked on.

It isn't our team which deals with this.

[2021-09-29 09:48] dellis1972 commented on #6342
@jonathanpeppers I'm now not convinced we need the `uninstall`. At the time it seemed we did, but perhaps not.

[2021-09-29 11:09] BilKaz opened #6346 "Localization not working in Xamarin Android"
I had recently added localization to my Android app which is working properly when the package format is apk. However, after changing the package format to aab and releasing to Google Play store, the localization stops working. Directly deploying to a phone with release configuration and aab package format also results in localization not working after trying to change language.

The app behaves a

[2021-09-29 14:08] dellis1972 commented on #6346
I think this is related to how `aab` files are installed. See https://developer.android.com/guide/app-bundle/configure-base#handling_language_changes.

By default it will only install the current language what the user has selected. If that changes after installation, google is going to download the additional resources. This will not work when testing locally because there are no packages to down

[2021-09-29 14:26] jonathanpeppers commented on #6345
We have some information about the designer here:

https://github.com/xamarin/xamarin-android/wiki/JDK-11-Warning#jdk-11-caused-regressions

You are generally better off reporting designer issues using the `Send Feedback` button in Visual Studio. This particular issue they know about, and hopefully should be fixed in the next preview.

[2021-09-29 14:32] jonathanpeppers commented on #6346
If you don't want this behavior, you can disable the language dimension in your app bundles:

https://developer.android.com/studio/build/building-cmdline#bundleconfig

You can pass in a custom `BundleConfig.json` file by editing your `.csproj`:

[code]

[2021-09-30 08:42] bddckr opened #6349 ".NET 6 Bindings: "Deprecated since" with `Obsolete`; `UnsupportedOSPlatform`"
### Issue

I have a native API I'd like to generate bindings for. This API is available in API level `A`, was deprecated in `B` and _removed_ in `C`. (With `A < B < C`.) What I'm thus looking for is a way to mark the API to be
1. introduced in API level `A` and to not be available on earlier API levels.
2. deprecated in API level `B`.
3. not available starting with API level `C`.

It looks like [x

[2021-09-30 09:51] BilKaz commented on #6346
Got it. Thanks for your assistance. You can consider this closed

[2021-09-30 11:05] #6346 closed

[2021-09-30 11:33] FANMixco commented on #6298
Hi @dellis1972, I got this answer from:

_Source:
https://docs.microsoft.com/en-us/answers/questions/548380/how-to-fully-dismiss-a-dialog-in-xamarinandroid.html?childToView=569996#comment-569996_

But now, it loads the first tab but crashes in the same way when I move between tabs. Any idea?

[2021-09-30 13:14] dellis1972 commented on #6298
@FANMixco I have no idea why using `ToArray` would cause that problem. That is very odd.

[2021-09-30 15:47] jpobst commented on #6349
The way this is handled in pre-NET6 is that we ship 10+ versions on `Mono.Android.dll`, one for each supported API level.

For example, it would not be marked as `[Obsolete]` in
`C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\MonoAndroid\v5.0\Mono.Android.dll`,
but it would be obsolete in
`C:\Program Files (x86)\Microsoft Visual S

[2021-09-30 16:07] bddckr commented on #6349
Thank you for the detailed insight!

Obsoletion per dll, targeting a specific API level... interesting! This could work for me as well, but alas this is more of a runtime decision than a compile time decision. So as you say we just don't have anything in .NET 6 for now. Neither Xamarin itself, nor third parties.

I agree with the point that devs will want to be nudged towards getting rid of the ob

[2021-09-30 18:28] paul-kiar opened #6351 "LetsEncrypt SSL Cert produces: Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED"
### Steps to Reproduce

1. Have a certificate with 2 verification paths as [explained here](https://letsencrypt.org/2020/12/21/extending-android-compatibility.html)
2. Register that certificate on a webserver
3. Create an HttpWebRequest to with the webserver URL from step 2

            HttpWebRequest request = (HttpWebRequest)HttpWebRequest.Create(address);
            request.Accept = "applicati

[2021-09-30 18:38] gerricom commented on #4688
Hello everybody. I came across this problem today when the [DST Root CA X3](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/) expired earlier this day. Our Xamarin App on Android stopped working with the exact inner exception mentioned above. This CA was longtime used with let's encrypt certificates which we are using for our service.

Chrome and other browsers on Android had

[2021-09-30 19:25] cvb941 commented on #4688
Can confirm we have the same problem. We switched from a Sectigo certificate that ceased to work last week to Caddy which uses Let's Encrypt certificates, and today that one stopped working too 😐.

I will try the switch to the AndroidClientHandler to see if it changes something.

[2021-09-30 20:00] gerricom commented on #4688
This is also reported in #6351.

[2021-09-30 20:08] cvb941 commented on #4688
We fixed it by using ZeroSSL instead of Let's Encrypt.

Here's how to set it up with Caddy https://caddy.community/t/using-zerossls-acme-endpoint/9406

[2021-09-30 20:21] angelru commented on #6351
The same issue, some solution

[2021-09-30 20:35] HansOlavS opened #6352 "Binding to AAR library 'com.sunmi printerlibrary' gives lots of 'Class has invalid base type' errors"
### Error Message or Issue
warning BG8103: Class 'Com.Sunmi.Peripheral.Printer.InnerLcdCallback' has invalid base type 'com.sunmi.peripheral.printer.ILcdCallback.Stub'.

(There's also lots of other classes with invalid base types...)

### Version Information

<details>

Microsoft Visual Studio Community 2019
Version 16.11.3
VisualStudio.16.Release/16.11.3+31702.278
Microsoft .NET Framework
Version

[2021-09-30 20:35] jonathanpeppers opened #6353 "[.NET 6] Deploy fails on x86_64 API 31 emulator"
### Steps to Reproduce

1. Setup x86_64 API 31 emulator
2. `dotnet new android`
3. `dotnet build -t:Install`

Fails with:

[code]

Same thing works with:

[code]

It also works fine in legacy Xamarin.Android

### Version Information

Latest .NET 6 rc 2 bits.

[2021-09-30 20:38] HansOlavS commented on #6352
I'm not sure why all my version info disappeared, but here it is:

Microsoft Visual Studio Community 2019
Version 16.11.3
VisualStudio.16.Release/16.11.3+31702.278
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Community

ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools

ASA Service Provider   1.0

ASP.NET and Web Tools 2019   16.11.75.64347
A

[2021-09-30 20:38] jonathanpeppers opened #6354 "[.NET 6] bundletool fails on x86_64 API 31 emulator"
### Steps to Reproduce

1. Setup x86_64 API 31 emulator
2. `dotnet new android`
3. `dotnet build -c Release -t:Install`

Fails with:

[code]

I suspect we need a `bundletool` update.

### Version Information

Latest .NET 6 rc2 bits

[2021-09-30 21:05] jpobst commented on #6352
This means there is something wrong trying to bind the `com.sunmi.peripheral.printer.ILcdCallback.Stub` type, which `Com.Sunmi.Peripheral.Printer.InnerLcdCallback` depends on.

There is a lot of information about debugging this issue here: https://github.com/xamarin/java.interop/wiki/Troubleshooting-Android-Bindings-Issues.

You will need to examine the diagnostic build log and find the message te

[2021-09-30 21:06] HansOlavS commented on #6352
Thanks, I'll try that and update this issue if I'm able to resolve it or not.

[2021-09-30 21:22] angelru commented on #4688
any solution??

[2021-09-30 21:26] HansOlavS commented on #6352
Thanks a lot @jpobst!, I got that fixed 😊
I can see that the classes I need are marked with visibility="" in the api.xml file. I've fixed those with <attr> tags in the Metadata.xml file, but now I'm stuck with these warnings:
* Com.Sunmi.Peripheral.Printer.ICallback.cs(120,30,120,40): warning CS0114: 'CallbackStub.OnTransact(int, Parcel, Parcel, int)' hides inherited member 'Binder.OnTransact(int,

[2021-09-30 21:41] jpobst commented on #6352
They are warnings, so you can ignore them if you want.

We added this metadata to allow you to fix them, but I don't think it ever got properly documented: https://github.com/xamarin/java.interop/pull/701

[2021-09-30 21:52] HansOlavS commented on #6352
Thanks again, @jpobst! I tried to use that but I got this error:
* 'SunmiPrinterServiceStub.OnTransact(int, Parcel, Parcel, int)': cannot change access modifiers when overriding 'protected' inherited member 'Binder.OnTransact(int, Parcel, Parcel?, int)'

Hopefully this will work just fine with the warnings. I'll give it the good old college try! Thanks for the excellent help!

[2021-09-30 21:52] #6352 closed

[2021-09-30 22:22] jpobst commented on #6352
You would probably need to change the `visibility` to `protected` to match the base method.

Glad you got it working!

[2021-09-30 22:32] derekcroprecords commented on #6351
Same issue, but renewing the certificate with LetsEncrypt Acme did not fix the problem

[2021-09-30 23:10] derekcroprecords commented on #6351
Workaround that worked for us was to edit the certs fullchain.pem from winacme and manually remove the last certification.

The one that says
2 s:C = US, O = Internet Security Research Group, CN = ISRG Root X1
   i:0 = Digital Signature Trust Co., CN = DST Root CA X3

[2021-10-01 00:53] SeanMollet commented on #6351
@derekcroprecords  YOU ARE MY HERO. This is definitely the easiest/best answer for this. If you're ever near KC in the US, let me know, I'll buy you several rounds of beers.

[2021-10-01 00:55] jonpryor opened #6356 "XA0105 should be a warning, not an error"
Context: https://github.com/xamarin/xamarin-android/pull/6328#issuecomment-930339362
Context: https://github.com/xamarin/xamarin-android/pull/6328#issuecomment-931304788

### Steps to Reproduce

Build and run the following app: [Scratch.xa0105.zip](https://github.com/xamarin/xamarin-android/files/7263282/Scratch.xa0105.zip)

### Expected Behavior

"It runs" and/or it *doesn't* build.  (The latter

[2021-10-01 00:56] jonpryor opened #6357 "Localize Microsoft.Android.Sdk.ILLink.csproj, emit AppDomain warnings for Release builds"
Context: https://github.com/xamarin/xamarin-android/pull/6328#issuecomment-931628274

Setup localization for `Microsoft.Android.Sdk.ILLink.csproj`, so we can emit `AppDomain` warnings for Release builds.

[2021-10-01 00:58] stereoa commented on #4688
Also seeing this issue today.

[2021-10-01 01:03] derekcroprecords commented on #6351
Glad to help.  That was rough day.  That cert caused us a lot of problems.  AWS lambda functions failed.  Xamarin Android.  Python on Raspberry Pi.

If anyone is still having problems there is a lot of information over on LetsEncrypts community forums.
https://community.letsencrypt.org/t/help-thread-for-dst-root-ca-x3-expiration-september-2021/149190/449

[2021-10-01 01:29] daltonks commented on #6351
I'm running into the same issue with LetsEncrypt. I refreshed my certificate and updated cert-manager, but I can't connect using SignalR. ☹️

[2021-10-01 01:59] vincentcastagna commented on #6351
Just met the same issue while our certificates on our API was renewed. Forcing again a renewal of the certificate does not fix the issue. This impacts ALL builds.

[2021-10-01 02:14] darrenctlo commented on #4688
I have seen this with an app talking to an Akamai fronted service (uses LetsEncrypt for SSL certs).

You'll need to do two things:

1] Update your code to use AndroidClientHandler (long term belt & braces solution)
2] Update the trust chain for the SSL certificates on the server you're attempting to talk to (immediate fix)

Thanks to @skacofonix for the solution posted above.

[2021-10-01 03:33] jingliancui commented on #6333
`Java.Lang.NoClassDefFoundError: 'Failed resolution of: Lkotlin/jvm/internal/Intrinsics;'`

log file:
[fulllog.txt](https://github.com/xamarin/xamarin-android/files/7263939/fulllog.txt)

![crash1](https://user-images.githubusercontent.com/16309962/135561126-24997e48-7b1d-4910-82c6-6a356c9dca8a.png)

[2021-10-01 05:52] angelru commented on #4688
I use refit to access the api and the implementation is in Android

[2021-10-01 05:53] angelru commented on #6351
I do not understand much, do you have to put this?

[2021-10-01 06:04] Martinn2 commented on #4688
The same issue with new lets encrypt root cert !

[2021-10-01 06:12] daltonks commented on #6351
The only workaround I have found to work in my case (SignalR on Android) to stop using LetsEncrypt.
I bought SSL certs (unfortunately), [plugged them into kubernetes nginx](https://kubernetes.github.io/ingress-nginx/user-guide/tls/), and removed the LetsEncrypt config from my Ingress.

[2021-10-01 07:42] uzairali001 commented on #4688
I'm was also having the same issue but after some research trials and errors I found out the solution well it's more like a workaround.
The root certificate of Let's encrypt is expired so just remove it from the `yourcert-chain.prem`.
- Open the file in any text editor
- Locate the last `-----BEGIN CERTIFICATE-----` at the end of the file
- Delete it from `-----BEGIN CERTIFICATE-----` to `-----END

[2021-10-01 07:42] uzairali001 commented on #6351
I'm was also having the same issue but after some research trials and errors I found out the solution well it's more like a workaround.
The root certificate of Let's encrypt is expired so just remove it from the `yourcert-chain.prem`.
- Open the file in any text editor
- Locate the last `-----BEGIN CERTIFICATE-----` at the end of the file
- Delete it from `-----BEGIN CERTIFICATE-----` to `-----END

[2021-10-01 07:46] SpongeManiac commented on #6351
I will give this a try. I instead manually disabled the expired CA on my android device and the API works again, however it is an annoying thing for every costumer to manually change their device when I could just remove the expired cert from the chain. Although I am just the C# monkey, cutting the root cert from a key chain doesn't sound optimal

[2021-10-01 07:48] daltonks commented on #6351
I've seen talk on the forums to use `--preferred-chain "ISRG Root X1"` if it makes sense for your devices.
I'm not going to test it (partly because I'm not sure where I should put this when using cert-manager), but maybe it helps someone else 😛

https://github.com/acmesh-official/acme.sh/wiki/Preferred-Chain

[2021-10-01 08:00] uzairali001 commented on #6351
For me I can't disturb customers as my App is an enterprise app for thousands of customers which they use daily to complete their tasks, because of this certificate issue my app was not even login and so many customers log their complain so I was in need of a quick solution but soon I will replace LE cert with comodo.

[2021-10-01 08:03] delphikit commented on #6351
This works great. Question: Will this be inserted again by Certbot when it renews the cert?

[2021-10-01 08:05] daltonks commented on #6351
I'm pretty sure that's the case unless you change the config. `--preferred-chain "ISRG Root X1"` might be what you're looking for, but I haven't personally tested it.

[2021-10-01 08:18] Roshek commented on #6351
That method solved it for me. It's an option for the [certbot cli](https://certbot.eff.org/docs/using.html#certbot-command-line-options) which is used to get/renew let's encrypt certificates. We use a dockerized version of it to automatically renew our certs. The full command for renewal looks like this `certbot renew --force-renewal --preferred-chain "ISRG Root X1"`. This will essentially result

[2021-10-01 08:38] daltonks commented on #4688
How to fix this when you generate new certs can be found at https://github.com/xamarin/xamarin-android/issues/6351#issuecomment-932022947

[2021-10-01 08:39] kapsiR commented on #4688
I can confirm this issue with the [expiration of the DST Root CA X3](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/), which is still used for cross-signing ISRG Root X1.

An immediate fix on the server side is to force the ISRG Root X1.
e.g. with Certbot `certbot renew --force-renewal --preferred-chain "ISRG Root X1"`

[2021-10-01 08:52] lafin716 commented on #4688
@uzairali001 This is perfect answer for our services. even if generate new certs with `ISRG ROOT X1` somehow there is legacy keychain data in .pem files so we removed it and reload the servere and it worked in xamarin-android

[2021-10-01 09:01] Naxilos commented on #6351
There is a client-side workaround.

On the Android you can manualy disable the certificate "Digital Signature Trust Co. - DST Root CA X3".

- Go to "Settings > Security > Encryption & credentials" > Trusted credentials"
- Scroll down and disable "Digital Signature Trust Co. - DST Root CA X3"

In my case it works, but as I mentioned it's a workaround, not the solution.

[2021-10-01 10:41] dimonovdd commented on #6351
@jonathanpeppers @grendello Do you have any ideas? Does this apply to Xamarin.Android or Mono?

[2021-10-01 10:43] awatertrevi commented on #6351
This seems to work for me: https://github.com/xamarin/xamarin-android/issues/4688#issuecomment-658833938

[2021-10-01 10:49] dimonovdd commented on #6351
How is it different from this property?
[code]

[2021-10-01 10:53] jvreeker commented on #6351
I have the same issues, I renewed the certificates with this option --preferred-chain "ISRG Root X1". Now everything seems to work again. Only I see devices with android version <=7 having issues.

Anyone an idea how to fix this?

[2021-10-01 11:03] awatertrevi commented on #6351
In my case I am using RestSharp. This with the default HttpClient seems to work for me.

[2021-10-01 11:25] jbavay commented on #6351
Since we do not have any possibility to change the server certificate, that's the only working one to us for the moment.
Thanks!

[2021-10-01 11:36] wedun commented on #6351
If you use certbot on server, you need update it to latest version
https://certbot.eff.org/lets-encrypt/ubuntubionic-nginx.html
[code]
On older versions renew doesn't work (you will get new cert, but it doesn't work).

[2021-10-01 11:47] igoras1993 commented on #4688
@kapsiR I can confirm that this sovled the issue, TY very much!

For anyone that is experiencing the issue with running `certbot renew --force-renewal --preferred-chain "ISRG Root X1"` that sounds more or less like:
[code]
It is probably corelated with old version of certbot. Certbot is shipped outdated with many systems.
You can check the certbot version with `certbot --version`. You should have

[2021-10-01 11:58] cpraehaus commented on #6351
A client-side work-around for Android <= 7 is to import the Letsencrypt root cert manually:
1. Download Letsencrypt root certificate on your Smartphone: https://letsencrypt.org/certs/isrgrootx1.pem
2. In Android system settings go to "Security - Credential storage" and choose "Install from SD card" (this might vary depending on your phone)
3. Open from download folder and select the file downloade

[2021-10-01 12:03] cpraehaus commented on #6351
BTW, if someone's interested:

From https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/:
*DST Root CA X3 will expire on September 30, 2021. That means those older devices that don’t **trust ISRG Root X1 will start getting certificate warnings when visiting sites that use Let’s Encrypt certificates. There’s one important exception: older Android devices that don’t trust ISRG Root

[2021-10-01 12:29] kmiterror commented on #6351
Since one of external services that we use in production caused our app to crash, we introduced this temporary workaround:

This code means that all certificates will be treated as valid, **it creates a security risk**
This will be removed once our external service provider fixes certificate on their servers
[code]

[2021-10-01 12:59] estebanorellana commented on #6351
This solution was the one indicated for us, our applications worked correctly again.
Thank you

[2021-10-01 13:02] estebanorellana commented on #6351
This solution was the one indicated for us minus the last line, instead of executing
`sudo certbot --nginx`

we use
`certbot renew --force-renewal --preferred-chain "ISRG Root X1"`

Our apps worked properly again.
Thank you

[2021-10-01 15:21] peerem commented on #6351
It looks like it's not just a LetsEncrypt problem. Today, we changed our certificate to DigiCert, how you can see on this URL in the browser (https://www.peerem.com/robots.txt), and still have this problem.

[2021-10-01 15:48] jpobst commented on #6333
Thanks for the log!  Looks like this package is broken.  We are working on getting a fixed version out.

Details and tracking here: https://github.com/xamarin/AndroidX/pull/404.

In the meantime, `1.5.30` should be the newest available package that works correctly.

[2021-10-01 15:48] #6333 closed

[2021-10-01 15:54] derekcroprecords commented on #6351
@peerem

Its still a LetsEncrypt Cert on that site.  run the following at the command line to view the cert chain
openssl s_client -showcerts -connect peerem.com:443

[2021-10-01 15:57] gboudreau commented on #6351
www.peerem.com and perem.com use different certificates. The one on www.peerem.com is not using LetsEncrypt.

@peerem: Are you sure that your Xamarin app really uses www.peerem.com, and not perem.com

[2021-10-01 16:13] peerem commented on #6351
Thanks for the answers.

I have selected extra the "robots.txt" because it is the only static file with the "favicon.ico". Otherwise, everything except our SignalR-URL is redirected to https://peerem.com. So please do not confuse.

But Firefox ESR 78.14 also shows me the DigiCert certificate as faulty. That's all very strange!

https://www.peerem.com/robots.txt

Peer’s Certificate issuer is not re

[2021-10-01 16:18] jsuarezruiz commented on #6359
I moved this issue to the Android repository. Please, let me know if can help with anything.

[2021-10-01 17:49] lukeschlather commented on #6351
I can confirm on Android ~7 BoringSSL doesn't seem to be properly trusting the ISRG Root X1. Weirdly the web browser is fine but curl seems to fail via ADB, and our Xamarin app is also failing. We've got a number of different Android versions and I'm trying to figure out what is and isn't working.

Is there an easy way to just ship the ISRG Root X1 cert with our app and do something like this?

[c

[2021-10-01 17:50] peerem commented on #6351
Everything is now running with DigiCert for us. We forgot to merge the "Intermediate Certificate" with the certificate. This is important for the Nginx.

[2021-10-01 19:27] jpobst commented on #6333
If you can, please try out `https://www.nuget.org/packages/Xamarin.Kotlin.StdLib/1.5.31.2` and see if it works for you.  Thanks!

[2021-10-01 20:11] Martinn2 commented on #4688
I solved it by setting HttpClient implementation to Android and SSL/TLS implementation to Native TLS 1.2+ . It can by set by right clicking Android project, Properties -> Android Options -> Advanced. Link: https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/http-stack?tabs=windows

[2021-10-01 21:33] SeanMollet commented on #6351
@lukeschlather I'm seeing the same thing. Android 6 & 7 are failing in boringssl.

I've spent all day today trying to find a way to ship the certificate. I did manage to install it on the phone, which does fix API calls, but SignalR still doesn't see it.

[2021-10-01 23:31] lukeschlather commented on #6351
Yeah, we are now using ZeroSSL which was easier and cheaper to swap in without any changes to our ACME setup (digicert's acme setup sounds annoying) and put us on a root that exists for those clients.

So SignalR doesn't use any HttpClient? That's too bad. I also found this which sounded too simple to be true: https://github.com/dotnet/runtime/issues/23666

[2021-10-02 01:40] #6354 closed

[2021-10-02 02:20] SeanMollet commented on #6351
I managed to patch in the AndroidClientHandler to SignalR, but it doesn't appear to offer streams in and out the way that SignalR needs to use them. It connects, but then times out performing the handshake.

I gave up and bought a certificate.

[2021-10-02 07:56] angelru commented on #6351
I'm using and the android version is 11, it still doesn't work
`<AndroidHttpClientHandlerType> Xamarin.Android.Net.AndroidClientHandler </AndroidHttpClientHandlerType>`

[2021-10-02 07:59] angelru commented on #4688
This does not work for me and I use refit

[2021-10-02 09:18] jvreeker commented on #2573
I now use the zerossl certificate, for now everything is working again. Maybe in the future I will go back to letsencrypt.

[2021-10-02 16:26] jingliancui commented on #6333
OK Thanks so much!

[2021-10-02 16:35] agusibrahim commented on #4688
its totaly break my apps with 1k active customer.
i was change httpclient impl to android and ssl to native. its doesnt work
anyone pls help

[2021-10-02 16:37] uzairali001 commented on #4688
You can try workaround I've posted https://github.com/xamarin/xamarin-android/issues/4688#issuecomment-931987246

[2021-10-02 17:39] granicus422 commented on #6351
Same.  Android 11, AndroidClientHandler, and all I get is this error.

[2021-10-02 17:55] vincentcastagna commented on #6351
@angelru Note that if you still give a custom handler to your `HttpClient` constructor, this won't use the native one despite the changes in your project properties.
You need to use either `HttpClient()` to use your new config or you specify the native handler by hand `HttpClient(new AndroidClientHandler());`

[2021-10-02 18:16] angelru commented on #6351
I don't understand why I have to do this, how do I do it with the refit?

[2021-10-02 18:34] jordimasmi commented on #6351
@angelru , I've done it like this, and it seems to work !

var httpClientHandler = new HttpClientHandler();

 httpClientHandler.ServerCertificateCustomValidationCallback =
        (message, certificate, chain, sslPolicyErrors) => true;
}

var refitApiClient = RestService.For<IMyApiClient>(
    new HttpClient(httpClientHandler)
    {
        BaseAddress = new Uri(myConfig.ApiUri)
    }
);

[2021-10-02 18:38] angelru commented on #6351
but is this not a bad practice to accept all certificates?

[2021-10-02 18:45] jordimasmi commented on #6351
True, but while the backend certificate is solved,  you do not leave the app out of service.
Obviously, it is best to have the backend certificate without issues.
"Weekend fix" ... I don't want to mess up the issue thread.

[2021-10-03 03:30] agusibrahim commented on #4688
thnx, i was handle in client app.
Issue is solved 🎉 thnx to all
i using custom httpclienthandler for logging purpose, without me knowing, it ignore the androidclienthandler that I have selected in the android project options.

[2021-10-03 07:12] angelru commented on #4688
How is it possible that a call from flutter works and xamarin doesn't? this makes me rethink many things ...

[2021-10-03 07:12] angelru commented on #6351
How is it possible that a call from flutter works and xamarin doesn't? this makes me rethink many things ...

[2021-10-03 07:20] uzairali001 commented on #4688
Probably because Xamarin doesn't have any update in last 6 months they are focusing on Maui

[2021-10-03 10:39] GTCLive opened #6362 "[Resolved] Please delete."
Resolved, not a bug. Custom installation related rather. Please delete.

[2021-10-03 10:53] GTCLive commented on #6362
Side note;
Compiling with Xamarin.Forms 5.0.0.2012 is compiling perfectly fine, runs fine too.

MSB6006: "java.exe" exited with code 1 only shows up if latest Xamarin.Forms 5.0.0.2125 is used.
(something to do with Include="$(MSBuildThisFileDirectory)..\..\)

[2021-10-03 11:31] #6362 closed

[2021-10-03 12:48] agusibrahim commented on #6351
i'm using Refit too. i make dependency handler for `Xamarin.Android.Net.AndroidClientHandler`

IMyOwnNetService.cs
[code]
MyOwnNetService.cs (android)
[code]
MyOwnNetService.cs (ios)
[code]

[code]
its working for me

[2021-10-03 13:01] angelru commented on #6351
for me too! thanks!!

[2021-10-03 23:01] HansOlavS commented on #6352
@jpobst Just for the record: You were right, setting the visibility to protected made everything work as a charm! Peace out!

Thanks so much for the extremely helpful tips and lightning speed! 🙏

[2021-10-04 01:18] fernandovm commented on #6143
Hi @grendello, excuse-me by long delay, but let's go...

Yes, I agree that makes sense, I also think that this background startup scenario is surely related to the issue, but it is very hard to understand how this can make something take ~3s in some cases and ~70s in other cases. The time difference is very high to suspect just about cpu allocation, I still think it can have some obscure bad behav

[2021-10-04 06:38] grendello commented on #6351
It's Mono, Xamarin.Android doesn't have any code to deal with SSL, we use whatever mono/dotnet (and Android, if you use our HTTP client handler) provide.

[2021-10-04 07:21] grendello commented on #6143
It's probably caused by several things happening at the same time, but I do think the startup sequence plays an important factor here. I saw similar behavior with our perf test apps - they weren't modified or recompiled, what differed was the way the app was started. If I used `am start` then the app starts quickly, if I used an intent to start some specific activity, the startup performance was o

[2021-10-04 17:36] steveisok commented on #6351
As @cpraehaus pointed out, the managed HttpClient has its own validation that is separate from what Android does natively.  Unfortunately, that is not something we're going to be able to change.

[2021-10-04 19:26] censored commented on #6351
I just wanted to mention, doing the `certbot renew --force-renewal --preferred-chain "ISRG Root X1"` did indeed solve the issue for us.

It was an impactful hit to our GKE but it was worth it to break it for everyone for a few minutes while the cert was pulled and reissued with the chain reference to the DST cert removed.

Before
[code]

After

[code]

Other tidtibs folks might find useful:

Some

[2021-10-04 21:06] #6215 closed

[2021-10-05 09:50] MagnusEklof commented on #6351
To summarize (and repeating some of the earlier comments):

You can get this to work in 2 ways (which I think are really the same).1. In the Android project - Android options - Advanced change HttpClient Impl. to Android (not default or managed). SSL should be 1.2+ and NOT 1.0. Also you need to make sure to not specify the managed HttpClientHandler in the constructor of HttpClient, if you have it

[2021-10-05 13:41] Redth opened #6365 "Improve Trimming Native References in Android"
# Problem

When .NET Android (including MAUI) projects reference external libraries/packages which contain Bindings to Native .aar/.jar libraries, it is currently difficult to trim the native libraries and in some cases impossible to achieve an optimal trimming result.

## Native Linking with R8
It’s possible to use the R8 (formerly proguard) to perform trimming however this is an advanced concept

[2021-10-05 13:42] Redth commented on #6365
CC @steveisok @marek-safar

[2021-10-05 15:44] drasticactions opened #6366 "System.Reflection being removed when using "Link SDK only" setting"
In past versions of Xamarin.Android, whenever we set "Link SDK Only" as the Linker setting for a project, we would have access to System.Reflection. This seems to be stripped in newer versions, and it's causing issues for Xamarin.Forms XAML Hot Reload.

https://developercommunity.visualstudio.com/t/XAML-Hot-Reload-Not-Working-on-Android-P/1400467

This user set their Xamarin.Forms Android project

[2021-10-05 15:53] lganderson commented on #6351
Even you do what is described here there still is an issue with Native TLS 1.2+ using BoringSSL still on OpenSSL 1.0.X as described in Let's Encrypt article: https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

[2021-10-05 15:57] jonpryor commented on #6366
The "real" question is this: why is a *Debug configuration build* enabling *any* linking at all?

The intent for the Debug config is "fast turnaround time" for the "inner dev loop".  Linking *is not* and *cannot* be "fast", and is *not* intended for use in the inner dev loop.  Why is linking enabled for the Debug configuration *at all*?

Additionally, that "yellow bar" shouldn't mention "Link SDK

[2021-10-05 16:09] jpobst commented on #6366
The XAML Hot Reload documentation says "Don't Link" should be selected:
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/hot-reload

I think this probably just needs the yellow bar updated to remove that suggestion.

[2021-10-05 16:38] BenBtg opened #6367 "Cannot use IOT Hub SDK in MAUI app on Android"
### Steps to Reproduce
A new MAUI app I am working on which is a direct port of a working IoT Xamrin.Forms app does not work due to a exception that gets thrown when provisioning the devices.

1. Clone this repo here
https://github.com/BenBtg/MauiIoT/tree/Dev
2. Build an run app on an Android device
3. Attempt to provision device by scanning this QR Code
![image](https://user-images.githubusercont

[2021-10-05 17:25] angelru commented on #6351
How to add the token to each request ??? AuthorizationHeaderValueGetter does not work

[2021-10-05 17:31] lambdageek commented on #6367
@BenBtg are you using the "Apply Code Changes" functionality in VS 2022?  It looks like there are two separate issues here: something about a TargetInvocationException near networking, and separately a crash in the hot reload support in the runtime.  Unclear if they're related, and you don't mention hot reload in your issue...

[2021-10-05 17:46] lambdageek commented on #6367
From a discusson on another channel.  The hot reload abort is unrelated.

The relevant bit to focus on is:
[code]

@steveisok

[2021-10-05 18:08] alexeygritsenko commented on #6351
hi, my solution https://gist.github.com/alexeygritsenko/5efd1e1e2877c703b73888039d282210 without using Xamarin.Forms lib

[2021-10-05 20:21] brzezinol commented on #6351
What about Android 7 and below devices, such installations have no ISRG Root X1 certificate in their trust stores so Let's encrypt ssl will not work if you not install such certificate, isn't it ? Or I understand it in wrokg way.
I have refreshed certs on server side and only Android 8 and newer devicer works fine.

[2021-10-06 07:34] agusibrahim commented on #6351
set default header (for all req)
[code]
for each request please reffer here https://github.com/reactiveui/refit#dynamic-headers

[2021-10-06 12:26] fernandovm commented on #6143
Hi @grendello...

Yes, I agree, I will continue investigating and if I find some relevant point I report here.

I hope the team do important progress in this point, it is really very relevant to put the xamarin in another level. :-))

I think that they would be the points, but I cant find the exact message in the code, thus I suspect that maybe motorola devices are running some custom version of t

[2021-10-06 16:33] angelru commented on #6351
Wow ... I don't like this at all but there is no other choice

[2021-10-07 17:34] Redth opened #6373 "[Bug] VS project templates indistinguishable from Legacy templates (android)"
The .NET 6 Xamarin project templates (and perhaps item templates) cannot be easily distinguished from Legacy ones:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/179295/132874430-ab213f07-3730-481c-a122-6015c36c1efd.png)

Additionally, the .NET 6 project templates are missing the `Mobile` tag, so they do not show up if you filter by `Project Type` = `Mobile` in the dropdown UI.

[2021-10-08 06:20] MagicAndre1981 opened #6375 "Found conflicts between different versions of "System.Numerics.Vectors" that could not be resolved"
### Steps to Reproduce

1. create a new Xamarin.Forms application
2. install a nuget that depends on System.Numerics.Vectors 4.5.0 like System.Text.Json or Signalr
3. build the app

### Expected Behavior

no warnings in output

### Actual Behavior

warnings about version conflict:

[code]

### Version Information

Now there is the question if we can ignore this, may this cause runtime errors?

[2021-10-08 10:00] bbhxwl opened #6376 "Android failed to install the application."
I download the software to this directory. How can I install it automatically?

/data/user/0/com.companyname.innoadlmedical/files/.local/share/update.apk

[code]

[code]

[code]

file_paths.xml
[code]

![image](https://user-images.githubusercontent.com/26525599/136537434-fa9cc768-ff12-4494-9534-de12b2e89a39.png)

[2021-10-09 12:50] cosminstirbu opened #6379 "Jetpack Compose Support"
Hello,

Our team is invested in building cross platform applications using Xamarin.iOS and Xamarin.Android (not Xamarin.Forms / .NET MAUI).

These are a few reasons why we prefer using Xamarin.iOS and Xamarin.Android over Xamarin.Forms:

- Our previous experience is with building native iOS and Android apps, so we were already familiar with the API surface for both iOS and Android
- It gives us fi

[2021-10-11 14:48] jpobst opened #6380 "Better report `java.exe exited with code 1` error messages"
One of the most common support issues we get is this error:
[code]

This requires directing the user to create a diagnostic MSBuild log to get the real Java error before we can do anything.

It would be nice if we could better parse Java error messages so we could show them directly to the user instead of the `MSB6006`.  Then they could search for that message instead of searching for the generic

[2021-10-11 15:33] BenBtg commented on #6367
Here is a link to the equivalent app in Xamarin.Forms
https://github.com/BenBtg/FormsIoT

[2021-10-11 16:46] sfoslund opened #6384 "Xamarin Android versionCode gets set to 1 regardless of value in manifest"
---
**Issue moved from dotnet/sdk#21614**
- Please respond to @mungojam.

---

_From @mungojam on Thursday, September 30, 2021 9:28:42 PM_

### Describe the bug

In .net 6 RC1 SDK, the versionCode in Android that is output to `obj` and to the eventual package gets reset to 1, regardless of what I have set in the `AndroidManifest.xml`.

I've tried various alternatives to the MSBuild properties, e.g

[2021-10-11 16:46] sfoslund commented on #6384
---
**Issue moved from dotnet/sdk#21614**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Thursday, September 30, 2021 9:28:45 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-10-11 16:46] sfoslund commented on #6384
---
**Issue moved from dotnet/sdk#21614**
- Please respond to @sfoslund.

---

_From @sfoslund on Wednesday, October 6, 2021 5:26:49 PM_

@jonathanpeppers where should I transfer android specific issues?

[2021-10-11 19:15] jonathanpeppers commented on #6353
So the issue seems to be the API 31 emulator dropped x86?
[code]
But the API 30 emulator shows:
[code]

So even classic Xamarin.Android projects fail on my API 31 emulator if I use `<AndroidSupportedAbis>x86</AndroidSupportedAbis>`.

[2021-10-11 20:29] #6373 closed, assigned to dellis1972, jonathanpeppers

[2021-10-11 23:09] akoeplinger commented on #6353
Yeah this is mentioned in https://developer.android.com/about/versions/12/get?hl=en-US#on_emulator

[2021-10-12 00:25] #6384 closed

[2021-10-12 09:16] yetibyte opened #6385 "AndroidManifest.xml Build errors using VS Mac, Xamarin Forms Android"
Strange problem with Manifest Merger, Visual Studio Mac, Xamarin Forms (5.0.0.2125), Android project, SDK 29 to 30.  Problem initiated during an aborted simulator build which generated the error below, indicating the xml structure wasn't closed; line 35, column 11 being was the last line and character of the Properties/AndroidManifest.xml.

/Library/Frameworks/Mono.framework/External/xbuild/Xamari

[2021-10-12 14:44] jingliancui commented on #6333
I have tested it and it's work.

[2021-10-12 15:51] jonpryor commented on #6385
That said, if I change e.g. `samples/HelloWorld/Properties/AndroidManifest.xml` to contain leading whitespace, I get a *different* error:

[code]
[code]

[2021-10-12 16:59] yetibyte commented on #6385
Hello jonpryor, thanks for comments, the leading space is not present in the files, is just my copy paste error into this issue description, apologies.

[2021-10-12 19:10] tranb3r opened #6386 "Missing release notes for xamarin android 12.1.0.4 in visual studio 17.0.0-pre5"
Visual studio 17.0.0-pre5 was published recently.
Could you please publish release notes for xamarin android 12.1.0.4 ?

Similar issues:
- #6226
- #5961
- #5498

[2021-10-13 06:50] holecekp commented on #5584
I was wandering why I archiving works for some of my projects and why it does not for the others. The reason was the length of the project name. Projects that had a slightly longer name exceeded the total length limit for the whole path and archiving failed. A better error message would be really helpful in these cases.

[2021-10-15 10:17] SSpormann opened #6392 "Wifi disconnect breaks HttpMessageHandler"
### Steps to Reproduce

1.
 Connect to a WIFI without InternetAccess from within the App using this Code:

[code]

2. Disconnect the Wifi like this:
[code]
3. Try to use a **HttpMessageHandler** to connect to any URL it does not Work the Exception thrown is

### Expected Behavior

I would imagine after the Restoration of a connection to a Wifi with an internetconnection that the Exception goes awa

[2021-10-15 13:43] Redth opened #6393 "Make dotnet publish more consistent"
Goal: Make `dotnet publish` relatively consistent and relatively free of platform specific arguments required...

Consider the following scenario for building in CI:

`dotnet publish -f net6.0-android -c Release -o ./artifacts`

This produces the following output:
 - ./artifacts/com.app.id.aab
 - ./artifacts/com.app.id-Signed.aab

If you just do a `dotnet build -f net6.0-android -c Release` you ge

[2021-10-15 13:55] Redth commented on #6393
I think the default should be to emit both package formats in publish like you do already for a Release configuration build, but yeah the apk is missing from the output.

Also i really do think we don't want both signed and unsigned - I am not sure why you would ever want the _unsigned_ binaries in a publish command....  Again for something like a CI system, this is just more confusing to have bot

[2021-10-15 21:03] UdayKumar-BH opened #6396 "Biometrics - Identifying multiple users(token based) with fingerprint API"
Fingerprint Multiple User Authentication  - How to get Unique key/id from Finger-Print Authentication API in the app(to map and store server tokens per user in the app ex.. one for user A and one for user B.)

Our business need is to register/authenticate multiple users to use separate token for each user

Does the API provide support to detect which user, A or B or just logged in(like thumbs up o

[2021-10-16 02:53] EmilAlipiev commented on #5378
@dellis1972 @jonathanpeppers `<AndroidProguardMappingFile>$(OutputPath)mapping.txt</AndroidProguardMappingFile>`

this works fine in my local build. I can see the mapping.txt but in Azure Devops Pipelines, I am not seeing it it is generated. Is there any difference?

[2021-10-17 06:03] taublast commented on #6351
You might have some other libraries like `ffimageloading `etc that you might use inside your app, so if you just use your own `httpclienthandler `that would solve only part of your connections problem. To resolve all in-app connectivity with a letsencrypt ssl certificate you'd need unfortunately make changes on server.
If you have a nginx server follow this hint: https://github.com/electron/electr

[2021-10-17 08:31] canton7 commented on #6351
Looks like Electron came up with the proper fix to BoringSSL here: https://github.com/electron/electron/pull/31213, and BoringSSL had been patched here: https://bugs.chromium.org/p/boringssl/issues/detail?id=439. Although, to quote:

I'm very concerned that we've heard nothing from the Xamarin maintainers on this. Other ecosystems at least put official guidance in place here.

[2021-10-17 09:43] angelru commented on #6351
I still can't find a server-side solution without implementing HttpClientHandler. I find it somewhat disastrous on the part of Xamarin, no wonder a lot of people are switching to Flutter.

[2021-10-17 13:06] dellis1972 commented on #6393
We do, we have a `PackageForAndroid` target which just does the package build. It does not do the sign or aligning bits.

[2021-10-18 06:20] taublast commented on #6351
@canton7 unfortunately no, that `--preferred-chain "ISRG Root X1` is still not working in some cases, verified.

[2021-10-18 06:44] SSpormann commented on #6392
I have build a Sample-Project to show the error, you can download it here:

https://support.reiner-sct.de/test/WifiConnectBreaksTheInternet.zip

[2021-10-18 17:53] angelru commented on #6351
My ZeroSSL does not work on 7.1.1+ devices either. The only solution is `AndroidClientHandler`

[2021-10-18 19:30] jpobst commented on #6396
Ultimately, all Xamarin.Android does is provide generated wrappers that allow you to call Google’s Android API. We do not have much expertise in how to use those API’s properly.

You will likely need to use the Android API documentation and relevant forums to determine how to write code for your desired outcome.

[2021-10-19 11:16] nbevans opened #6404 "Resource.designer.fs is not being built"
### Steps to Reproduce

1. Create a Android app in VS using the F# template
2. Try to build it.
3. Observe that the Resource.designer.fs file is not generated. No resources can be resolved at runtime.

### Expected Behavior

The Resource.designer.fs file should be generated on each build.

### Actual Behavior

The Resource.designer.fs file is not being generated, ever.

### Version Information

Mi

[2021-10-19 11:16] nbevans commented on #6404
https://github.com/xamarin/Xamarin.Android.FSharp.ResourceProvider/issues/9

[2021-10-19 16:51] nbevans commented on #6404
Hmm.

What happened to the `Resource_String`, `Resource_Id`, `Resource_<resource type>` approach?

When did it start relying on a type provider like this?

This has caught me out because I don't actually know when the regression occurred. All I know is, my Resource.designer.fs is last modified mid-2020 (!) and no matter what I try now (rebuilds the lot) it won't update it. It seems to no longer be

[2021-10-19 16:53] #6385 closed, assigned to dellis1972, jonathanpeppers

[2021-10-19 19:53] jpobst commented on #6366
Updated the internal issue to our resolution that the yellow bar should be updated to only suggest "Don't Link".

Nothing more for SDK.

[2021-10-19 19:53] #6366 closed

[2021-10-19 20:31] radixdev commented on #6172
@jpobst is that migration not available for Visual Studio for Mac? Everything for it seems to be Windows based only.

[2021-10-19 20:45] jpobst commented on #6172
The latest Kotlin packages should work with `packages.config` now.

[2021-10-20 20:26] robertgoodwin00 commented on #6351
@canton7
That was very helpful, thanks!
Do you think there is any chance of an update to BoringSSL or whatever software is needed for xamarin that could obviate the need to address this? Since my team hasn't released on Android yet, "wait for someone else to resolve this" would be a more attractive option to us than any other, given that everything is working normally on the iOS side (which we are

[2021-10-21 02:48] steveisok commented on #6351
@canton7 This is something we are actively working on and trying to validate.  Even if we didn't fork BoringSSL, we would still need to bump to the right version and make sure we didn't regress / negatively impact anyone.

[2021-10-21 11:40] RaspeR87 commented on #6393
This command `dotnet build -f net6.0-android -c Release` works for me in .NET 6 but only for **.NET MAUI App template** and not for **.NET MAUI Blazor APP template**.

More about that in this github post: https://github.com/dotnet/maui/issues/3060

[2021-10-21 18:28] nicolast91 opened #6409 "Systematic crashes in release mode"
I have a native Xamarin.Android app I've built a few years back and I've been maintaining it since then. Lately, I tried to build a new release but the app keeps crashing. I did tens of releases in the past using the same project and compilation settings. Here's an exemple of a stack trace I get in release:

[code]

From the stack trace, I have a feeling it might be a problem with the linker, but

[2021-10-22 02:23] DevronB opened #6412 "The Android App Bundle was not signed."
I'm trying to upload an net6-android app to a test channel for early alpha testing.
Play Store won't sign aab file and returns error: 'The Android App Bundle was not signed' when attempting to upload.

### Steps to Reproduce
- In VS2022 P5 if I create new 'Android Application (Preview)'
- Set configuration to 'Release'
- Build aab Archive
- Attempt to upload to play store testing release using Goo

[2021-10-22 06:34] mcguu opened #6413 "Error in finding the path in binding.android."
sorry to bother you again.

Binding the .aar to JavaBinding there is some errors. not in the wiki.

there is a interface file:

[code]

and there is a class :

[code]

the interface is a param in the class.

so there will be EventHandler duplicated in the class file.
the error is MyNavi already contains definition of OnInitNavi;
because it will geneerate two for add or remove right?

how to do it?

[2021-10-22 14:19] gravityFlower opened #6416 "Jaca.IO.IOException on newer devices (Android 10, 11) while scanning IsoDep NFC"
### Steps to Reproduce

1. invoking nfcAdapter.EnableReaderMode
2. convert/cast read tag with Android.Nfc.Tech.IsoDep.Get(tag) to IsoDep
3. call Connect(Async) to establish communication to nfc smart card

### Expected Behavior
Continue to work like is does on a Samsung Galaxy XCover 3, where i am able to send APDU commands to the smart card and receive data.

### Actual Behavior
Code throws Java.

[2021-10-24 00:45] mikernet opened #6421 "VS2022 Preview 6 - No deployment targets"
No deployment targets show up:

![image](https://user-images.githubusercontent.com/1700111/138575593-b1d9f34e-6ad3-47cb-9d60-10142ca7c3ec.png)

They were showing up in Preview 4.

VS2019:

![image](https://user-images.githubusercontent.com/1700111/138575603-f7218ce7-c933-4df6-85a0-5b56a147b08f.png)

### Version Information

Microsoft Visual Studio Community 2022 Preview
Version 17.0.0 Preview 6.0

[2021-10-25 05:36] FANMixco opened #6422 "GetRealMetrics is deprecated in every case, Android 30+"
I'm trying to upgrade a section of my code and I'm targeting Android 30. This is my original code:

[code]

Then, I'm trying to upgrade the code to this one:

[code]

Regardless of my actions, my code is still considered as _Obsolete_:

<img width="425" alt="Screen Shot 2021-10-25 at 07 26 25" src="https://user-images.githubusercontent.com/1666156/138639102-5ed87541-0761-4e54-93d6-b7cb6f73f37d.png

[2021-10-25 09:14] #6422 closed, assigned to dellis1972, jonathanpeppers

[2021-10-25 11:49] #6416 closed, assigned to jpobst

[2021-10-25 13:48] #5042 closed, assigned to garuma

[2021-10-25 15:19] #6396 closed, assigned to jpobst

[2021-10-26 01:51] gmck opened #6425 "More Xamarin.Android designer issues - VS2022 17.0.0 Preview 6.0"
This morning I received 10 emails from Xamarin.Android GitHub concerning all the issues I’ve raised or commented on re the Xamarin.Android designer since Feb 2020. @jonathanpeppers closed each issue with a note saying that there is a new button in the issue template to redirect all designer issues to the team that is responsible for the Xamarin.Android designer. I understand that the team here are

[2021-10-26 01:56] #6425 closed, assigned to dellis1972, jonathanpeppers

[2021-10-26 11:10] RubaShanmugamm opened #6429 "Can't access PopupWindow items with AutomationId when setting PopupWindow.Focusable as true"
### Issue: Can't access PopupWindow items with AutomationId using Testinium in Android tests.

### Description:

We need to access the PopupWindow items via AutomationId, so we've used the popupWindow.Focusable as true. As shown in the preceding example. When I start typing text, the TextChanged event is triggered, and I open a PopupWindow. As a result, I couldn't type once the popup appeared.

**

[2021-10-26 14:44] #6376 closed, assigned to dellis1972

[2021-10-26 16:46] pjcollins opened #6433 "Enable `<ClangTidyCheck/>` task during nightly build"
Context: https://github.com/xamarin/xamarin-android/pull/6420

Enabling the `<ClangTidyCheck/>` analysis target on nightly builds (by adding it to [this target dependency list][0]) causes a build failure:

    "/Users/builder/azdo/_work/3/s/xamarin-android/Xamarin.Android.sln" (default target) (1:2) ->
    "/Users/builder/azdo/_work/3/s/xamarin-android/src/monodroid/monodroid.csproj" (default targ

[2021-10-26 16:56] pjcollins opened #6434 "Run nightly tests with `/p:UseASAN=true` and `/p:UseUBSAN=true`"
Context: https://github.com/xamarin/xamarin-android/pull/6420

Test projects that use "sanitized" runtime libraries are crashing, see the attachments below for more info:
[Test Results - Emulator 28-x86_64 - macOS_.zip](https://github.com/xamarin/xamarin-android/files/7419986/Test.Results.-.Emulator.28-x86_64.-.macOS_.zip)
[UseASAN-Mono.Android_Tests-Signed.apk.zip](https://github.com/xamarin/xama

[2021-10-27 08:10] tranb3r opened #6438 "Visual studio 2022 RC3 - There was a conflict between Java.Interop, Version=0.1.0.0 and Version=0.1.2.0"
New warning when building a xamarin forms app for android, using visual studio 2022 RC3 (not happening with RC2)

[code]

What is going on ?
Could this be related to https://github.com/xamarin/java.interop/commit/2d5431f765928e5377288d3284ace3c5d871755a ?
cc @jonpryor

[code]

[2021-11-01 15:06] Fuzzillogic opened #6446 "Incorrect handling of Daylight Saving Time (DST) (Central Europe) of DateTimeOffset.Now and ToLocalTime"
### Steps to Reproduce

In the Central European Timezone the summertime / DST ended on 2021-10-31 03:00.

1. On Android device, disable network time and time zone.
2. Select timezone "Amsterdam/Netherlands".
3. Set time to 2021-10-31 01:59. Verify you're in summertime, i.e. the offset should be GMT +02:00
4. Wait one minute. It will be 02:00 +02:00. Thus, still one hour of summertime to go!
5. In

[2021-11-01 16:49] Eilon commented on #5388
@ConnorJBrown I think as a workaround you can explicitly add all the ABIs into the CSPROJ and then you don't have to deal with it individually later:

[code]

(check that these are actually all the ABIs you have; maybe it's changed since this was posted)

So it is a manual step, but it's a one-time operation that you don't need to keep doing.

[2021-11-01 19:01] amarthere opened #6448 "X509Certificate creation issue in Xamarin.IOS for elliptical curve algorithm. (ECDSA)"
### Steps to Reproduce

In Xamarin.IOS we are facing issue in creation of X509Certificate Object.
We are using PFX file/PFX bytes, created using elliptical curve algorithm. (ECDSA)
We are getting “Unknown private key format” exception. The complete stack trace is below.

**Observations:**
1.	The same code works on Xamarin.Android.
2.	If I use RSA algorithm to generate public/private keys, then it

[2021-11-02 16:10] Fuzzillogic commented on #6446
Both desktop and Xamarin.Android seem to agree on TimeZoneInfo,Local:

[code]

But regardless the actual TimeZoneInfo used, `Math.Round((DateTimeOffset.UtcNow - DateTimeOffset.Now).TotalMinutes)` should always be 0, correct? On Xamarin.Android, in the above scenario, this results in -60.

[2021-11-02 20:36] ryanholden8 commented on #6438
@jonathanpeppers  This is currently an error on our project, so unfortunately we can't ignore. Am I understanding correctly that the only way to fix this is to update to .NET 6? Our entire team uses VS for Mac so I'm not sure if Xamarin.Android in VS2022 apply to us or not?

[2021-11-02 20:45] glennawatson commented on #6438
I think the problem needs to be fixed on the ReactiveUI end @ryanholden8 not you as a consumer on the VS for Mac standard version.

[2021-11-03 00:06] vsfeedback opened #6453 "Xamarin (Visual Studio) - "Preserve application data" does not preserve application data"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-Visual-Studio---Preserve-appl/1371823)._

---
[severity:I'm unable to use this version]
Repro steps.
1. In VS, under Tools --> Options --> Xamarin --> Android Settings, enable "Preserve Application Data Cache on Device Between Deploys"
2. Install the production version (from Goog

[2021-11-03 00:13] vsfeedback opened #6454 "Linking OpenMP to NativeEmbeddedLibrary causes System.DllNotFoundException in Xamarin Forms Project since Android NDK 21e LTS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Linking-OpenMP-to-NativeEmbeddedLibrary-/1507519)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.9.3]
Hi,

I use a C++ library in my Xamarin-Forms-Android-Project similar to the one described here:

[https://docs.microsoft.com/en-us/xamarin/cross-platform/cpp

[2021-11-03 00:14] vsfeedback opened #6455 ".Net MAUI app crashing phone"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Net-MAUI-app-crashing-phone/1521554)._

---
[severity:I'm unable to use this version]
I wanted to try .Net MAUI with VS 2022 preview 3, and tried to run the initial application on my actual phone (Samsung Galaxy S7), the app started without any problem and the hot reload kinda worked.
Bu

[2021-11-03 00:19] vsfeedback opened #6456 "Xamarin Android JNI ERROR accessed deleted Global 0x606a"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Xamarin-Android-JNI-ERROR-accessed-delet/1422796)._

---
I am having a uncatchable error like below.
Where should I start to debug this kind of error?

I guess this is a memory leak issue or referencing deleted object by GC.
However, error message does not give me any clue why this is ha

[2021-11-03 00:34] vsfeedback opened #6457 "Problem with wildcard in Android csproj"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Problem-with-wildcard-in-Android-csproj/1464993)._

---
I described and created a sample of this problem in [this repository](https://github.com/dimonovdd/AndroidWildcardsSample ).

This works correctly in vs4mac (iOS, .Net standard) and Jetbrains Rider(Android, etc.), but this does not

[2021-11-03 00:41] vsfeedback opened #6458 "Can't debug Xamarin Forms Application in Visual Studio 2022 Preview 6"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Cant-debug-Xamarin-Forms-Application-in/1560574)._

---
[severity:It's more difficult to complete my work]
Well the good news is that the Xamarin project builds and deploys in Visual Studio 2022 preview 6

However I get the following

error: Failed to load AOT module 'System.Collections.

[2021-11-03 00:42] vsfeedback opened #6459 "Xamarin.Android.FSharp.ResourceProvider v1.0.1"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/XamarinAndroidFSharpResourceProvider-/1554530)._

---
Xamarin F# (Android) project does not compile when the project references Xamarin.Android.FSharp.ResourceProvider v1.0.1

Downgrading to v1.0.0.28 version works

Steps to reproduce:
1. Create F# Xamarin project.
2. Update packages
3.

[2021-11-03 06:57] mikernet opened #6461 "MSB4006: There is a circular dependency in the target dependency graph involving target "SignAndroidPackage""
### Steps to Reproduce

1. Build application (this works fine)
2. Attempt to run on simulator or physical device via CTRL+F5 or using the play button here:
![image](https://user-images.githubusercontent.com/1700111/140019602-cc736a08-241b-4e13-a743-f5264afdd04b.png)

The following error occurs in the build output:

[code]

### Version Information

Microsoft Visual Studio Community 2022 Preview
Ver

[2021-11-03 08:10] mikernet commented on #6461
Attempting to archive also fails, for what I'm guessing is the same reason:
[code]

[2021-11-03 09:43] mikernet commented on #6461
Hmmm...I don't think it is. I'm not the most well-versed in MSBuild - how do I locate it?

[2021-11-03 09:47] mikernet commented on #6461
After the last `ItemGroup` in the csproj this appears:
[code]

[2021-11-03 10:13] mikernet commented on #6461
Commenting out the `<Target Name="GenerateBuild".....` line doesn't seem to fix the issue either.

[2021-11-03 11:41] dellis1972 commented on #6461
My guess would be (if you get the exact same error message) that `GenerateBuild` is defined in another project or in a `Directory.Build.targets` somewhere.

I do wonder if `BuildingInsideVisualStudio` is being defined in VS2022... because if this is happening in the IDE that code should not be run at all.

@jonathanpeppers do you know if they remove the `BuildingInsideVisualStudio` property in VS2

[2021-11-03 14:00] jonathanpeppers commented on #6461
@mikernet I think you should get a `.binlog` and will be able to see exactly what custom target is breaking for you:

    msbuild YourAndroidProject.csproj -t:Clean,SignAndroidPackage -bl

This will put a `msbuild.binlog` file in the current directory you can send us. Keep the `GenerateBuild` target commented out.

You can use an MSBuild like `C:\Program Files (x86)\Microsoft Visual Studio\2019\En

[2021-11-03 14:35] realZhangChi commented on #5784
@bbhxwl I encountered the same problem, did you solve it?

[2021-11-03 15:42] matteomonizza opened #6463 "After update cannot build Android with error: Xamarin.Android.Common.targets (1392, 3): [XAGJS7009] System.InvalidOperationException: Duplicate attribute."
Build stack:

  Xamarin.Android.Common.targets(1392, 3): [XAGJS7009] System.InvalidOperationException: Duplicate attribute.
  at System.Xml.Linq.XElement.AddAttributeSkipNotify (System.Xml.Linq.XAttribute a) [0x0000e] in <7a9b77c9c73b43f99a32b1ba98596ce4>:0
  at System.Xml.Linq.XContainer.AddContentSkipNotify (System.Object content) [0x00032] in <7a9b77c9c73b43f99a32b1ba98596ce4>:0
  at System.Xml

[2021-11-03 16:29] lanarchyste commented on #6463
I have the same issue since the update of Visual Studio for Mac, Xamarin Android and Xamarin iOS dated 11-03-2020

[code]

[2021-11-03 16:39] matteomonizza commented on #6463
I've found that the problem is the attribute Exported on the main activity. If I remove it then it builds. I've tried to leave the attribute on the other activities cause is mandatory for Android 12, and it seems it woks. Found mandatory info on [https://developer.android.com/about/versions/12/behavior-changes-12](url)

[2021-11-03 16:51] matteomonizza commented on #6463
Did you mean 11-03-2021 ?

[2021-11-03 17:10] lanarchyste commented on #6463
Yes

[2021-11-03 17:17] matteomonizza commented on #6463
Do you use the Export attribute?

[2021-11-03 19:14] RonnyBansemer commented on #6463
I can confirm the issue setting `exported` to `true`.
[code]

[2021-11-03 20:37] jonathanpeppers commented on #6463
This is fixed in https://github.com/xamarin/xamarin-android/commit/9f2d3bfa4fe65eeb254ebc2382e862ba0e8c43b4. It should be going out in the next Xamarin.Android release.

The workaround is to remove `Exported = true` on any `[Activity]` attributes. Hope that helps, thanks!

[2021-11-03 20:37] #6463 closed

[2021-11-04 04:05] DevronB commented on #6412
ok all sorted. Thanks for the pointers.

Not wanting to hijack this issue, but would you be able to tell what MSBuildProp I would need to set the aab filename?

so, something like this but for the aab,/apk not the assemblies.
<AssemblyName>$(ApplicationId)-$(ApplicationDisplayVersion)</AssemblyName>

I can't find it for looking...

Cheers

[2021-11-04 13:24] jonathanpeppers commented on #6412
There is not a public property to change the file name:
https://github.com/xamarin/xamarin-android/blob/617500c92d989c87641db7010595f296eeffcfde/src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets#L542-L543

It will just be your `package` name + `-Signed.aab`. Hope that helps, I think we solved the issue here, thanks!

[2021-11-04 13:24] #6412 closed

[2021-11-04 14:37] Falco20019 commented on #5584
Has anyone tried if setting `LongPathsEnabled` in `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem`
to `1` solves this? That helps with similar issues on windows (also in other VS cases). Just stumbled over it since a colleague ran into this issue and I was wondering, why it didn't appear for me.

[2021-11-04 14:55] jpobst commented on #6453
This has not received a response from the reporter, so I think we can close it.

[2021-11-04 14:55] #6453 closed

[2021-11-04 15:00] jpobst commented on #6457
@jonathanpeppers I suspect this is in the VS extension, but you probably would know for certain.

[2021-11-04 16:11] jonathanpeppers commented on #6455
This is really a dotnet/maui issue -- as there wasn't an issue with `dotnet new android`.

We can put it on the .NET 6 milestone for now.

[2021-11-04 16:16] jonathanpeppers commented on #6458
If Ian Martin, the original poster can comment: "Why are you debugging AOT?"

That is going to be the main question here. It would be pretty poor build times for your development loop.

I'm unsure if debugging an AOT-build is supported.

[2021-11-04 16:17] jonathanpeppers commented on #6459
If the original poster, could share a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) we can take a look, thanks!

[2021-11-04 17:21] domedellolio opened #6466 "API Level 31 - Wiki page "JDK 11 Warning""
Hi everyone,

I was looking into this article https://github.com/xamarin/xamarin-android/wiki/JDK-11-Warning#set-tfv
since I'm upgrading to API level 31.

What I see is that the article contains a possible mistake in the step 3 "Set $(TargetFrameworkVersion) to v12.0.".

Basically, this is true for Visual studio for Mac while for Windows I can only use version 11.0.99 which make me a bit lost, sin

[2021-11-04 18:49] jpobst commented on #6466
The latest VS2019 doesn't appear to have the `11.0.99` -> `12.0` change yet.  I think it's coming in the next service release.

I think your current options are:
- Stay with API-30 until VS2019 service release comes out
- Use a VS2022 preview build (https://visualstudio.microsoft.com/vs/preview)

[2021-11-04 19:01] domedellolio commented on #6466
I see the second option is not yet viable as well.
Installing side by side VS 2022 I see it only have up to API 27. That is really strange as well

[2021-11-04 19:03] jpobst commented on #6466
That does not seem correct, I definitely have 12.0 in VS2022.

![image](https://user-images.githubusercontent.com/179295/140403397-6335896c-82f6-4eb8-aaef-a96d2b002d85.png)

[2021-11-04 19:28] domedellolio commented on #6466
This is not what I see, wow.
It can be specific of my local configuration since I’m running side by side. Will check tomorrow and update the thread accordingly

thanks!

[2021-11-04 22:14] jeremy-bridges opened #6467 "XABBA7000 build error: "Renaming temporary file failed: Permission denied""
### Steps to Reproduce

1. Build in release mode, with the following settings in the Xamarin.Android project.
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugSymbols>false</DebugSymbols>
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release</OutputPath>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</War

[2021-11-05 04:59] nickrandolph commented on #6461
@jonathanpeppers I don't see how running msbuild is going to be helpful since the issue occurs when running the build/deploy within Visual Studio.
@dellis1972 from the docs the BuildingInsideVisualStudio property should still be set (see https://docs.microsoft.com/en-us/visualstudio/msbuild/visual-studio-integration-msbuild?view=vs-2022). Not sure why this targets is being invoked - I'm seeing thi

[2021-11-05 10:52] domedellolio commented on #6466
This is how Android SDK utility looks like in VS 2022
![image](https://user-images.githubusercontent.com/11771925/140499186-21a70ebb-8ddd-4aad-aa1e-9334cd08e0b6.png)

This is how Androdi SDK utility looks like in VS 2019
![image](https://user-images.githubusercontent.com/11771925/140499331-af87d357-c445-4245-a465-4119f41040f3.png)

...and finally yes I see Android 12 into property panel
![image](h

[2021-11-05 12:28] jeromelaban commented on #6461
This particular issue is caused by multiple sources, but one is being that VS's msbuild nodes (or something else) caches the first loaded version of the android csproj. Removing the `GenerateBuild` target does work, but VS needs to be restarted.

For some reason, the loop started to happen in VS 2022 Preview 5 or 6.

[2021-11-05 13:17] jonathanpeppers commented on #6461
So if anyone is still hitting this, an `msbuild.binlog` file would be very helpful because it contains all MSBuild `.xml` files that were evaluated during the build. I can probably find the issue pretty much instantly with that file.

If you're afraid to share that publicly, you can also email me at the address on my Github profile.

You can also record `.binlog` files inside the IDE with this ext

[2021-11-05 13:18] jonathanpeppers commented on #6467
Can you share a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) of the error? Thanks!

[2021-11-05 16:16] mikernet commented on #6461
Thanks @jeromelaban, that fixed the issue.
@jonathanpeppers Let me uncomment the line and I will submit the `msbuild.binlog` shortly.

[2021-11-05 16:21] mikernet commented on #6461
[msbuild.zip](https://github.com/xamarin/xamarin-android/files/7487445/msbuild.zip)

[2021-11-05 19:36] jonathanpeppers commented on #6461
@mikernet you have a similar target in `C:\Users\mikem\Documents\Projects\iRatio\Source\iRatio.Client\iRatio.Client.Droid\iRatio.Client.Droid.csproj`:
[code]
This must have been to workaround some older bug? Do you know?

[2021-11-05 19:37] mikernet commented on #6461
That's the `csproj` file I quoted above.

[2021-11-05 19:39] mikernet commented on #6461
That came from the Uno templates so @jeromelaban is probably better qualified to answer where that's from.

[2021-11-05 19:42] jonathanpeppers commented on #6461
Ok, I don't think there is actually a Xamarin.Android issue here?

If you create a target with `DependsOnTargets="SignAndroidPackage" AfterTargets="Build"` it is a circular dependency.

I think something changed recently in MSBuild or Xamarin.Android that triggers this -- but there is a better way to accomplish what `GenerateBuild` is trying to do. Let me know, and I can give a suggestion, thanks!

[2021-11-05 19:42] #6461 closed

[2021-11-05 19:46] jeromelaban commented on #6461
@jonathanpeppers The origin of this change was to ensure that a simple build target was generating the package, not having to invoke the  `SignAndroidPackage` target explicitly (lots of devs were asking for it indirectly as they did not find their APKs).

Now that it seems done automatically by Xamarin.Android we'll be able to remove this from the Uno templates.

[2021-11-05 19:49] mikernet commented on #6461
I assumed it was a Xamarin issue since it was a target to sign the android package which seemed critical to doing Xamarin things, sorry for the mixup :)

[2021-11-05 21:31] AmrAlSayed0 commented on #6365
I going to go ahead offer some ideas here but know that I could be way off mark since I'm not very familiar with the details of the build system.

Would it be possible to have the ILLinker to produce a (probably huge) tree of sorts of all the _used/not-trimmed_ methods and classes and then another build task could use that tree/file to read and scan the assemblies for `[Register]` attributes and e

[2021-11-07 06:19] gmck opened #6468 "Crash in Release mode but not in Debug."
Using either VS 2019 16.11.5 or VS 2022 17.0.0 Preview 7.0 my app is crashing when trying to verify a subscription purchase token on our server with the stack trace at the bottom of this post. A debug build is fine, I can step through the code and confirm that the string serverResponseAsJson correctly contains the 3 field fields of the CancelSurveyResult but the crash occurs when the following lin

[2021-11-07 15:42] jpobst commented on #6468
The linker doesn't just remove unused classes, it also removes unused methods and constructors in classes that are used.  As Json.NET is trying to dynamically use a constructor, the linker would not know about it and would likely remove it.

The quick and easy way to check would be to turn off linking or set "Link SDK only".  Or you could just throw in a quick line that uses the needed constructor

[2021-11-07 18:18] aminsepahan commented on #6463
for me only removing `Exported = true` from the splash screen works too

[2021-11-08 01:58] gmck commented on #6468
@jpobst Thanks for your help.

Yes, "Link SDK only" does make the release build run without error.

I said that I couldn't see any evidence that the linker was removing anything because both the seeds and the usage .txt files generated via proguard.cfg don't have any references to SubscriptionCancelSurveyResult.

I tried -keep class Google.Apis.AndroidPublisher.v3.Data.SubscriptionCancelSurveyResu

[2021-11-08 04:39] jpobst commented on #6468
It needs to be preserved from the C# linker, not the Java linker (Proguard):
https://docs.microsoft.com/en-us/xamarin/android/deploy-test/linker#preserving-code

[2021-11-08 08:39] rajeshrayudu commented on #6463
I am facing the same issue, I have updated my Xamarin.Android version also, but still facing this issue.
![image](https://user-images.githubusercontent.com/15105715/140709946-272a6335-92d4-4961-9516-0a5ed587da50.png)

![image](https://user-images.githubusercontent.com/15105715/140709301-c72bd422-d98c-4415-a370-900d7b128f67.png)

In Visual Studio Updates, it is showing Eclipse Temurin JDK downloade

[2021-11-08 12:01] dellis1972 commented on #6454
Can you provide a Diagnostic build log for the application and detailed `adb logcat` output so we can investigate further.
We tested the sample app and it works as expected.

Do get the diagnostic output follow these instructions https://docs.microsoft.com/en-us/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output

[2021-11-08 12:13] jonathanpeppers commented on #6463
@rajeshrayudu the fix is in the coming .NET 6 release, but not yet in Xamarin.Android in VS Mac.

If you need the build now, you can use one of these builds:
* https://dl.internalx.com/vsts-devdiv/Xamarin.Android/public/5414512/main/94c2a3d86a2e0e74863b57e3c5c61dbd29daa9ea/signed/Xamarin.Android.Sdk-12.1.99.75.vsix
* https://dl.internalx.com/vsts-devdiv/Xamarin.Android/public/5414512/main/94c2a3d8

[2021-11-08 12:24] lanarchyste commented on #6463
Thanks for the links !

[2021-11-08 16:52] tranb3r commented on #6438
Still not fixed in VS 2022 17.0.0 (xamarin.android 12.1.0.5).
And also not fixed in VS 2022 17.1.0-pre1 (xamarin.android 12.1.99.56).

@jonathanpeppers Could you please explain when this is going to be fixed ?

[2021-11-08 17:28] jonathanpeppers commented on #6438
@tranb3r the correct version of `Java.Interop.dll` is in Xamarin.Android 12.1.0.5.

Can you share a [diagnostic MSBuild log](https://docs.microsoft.com/xamarin/android/troubleshooting/troubleshooting#diagnostic-msbuild-output) of your latest issue?

The problem is probably that you have some dependency that was built against a "bad" version of `Java.Interop.dll` and it now needs to be rebuilt.

[2021-11-08 18:06] rajeshrayudu commented on #6463
Thanks @jonathanpeppers  for the links, when will it be available for Xamarin.Android in VS Mac?

[2021-11-08 19:16] grendello commented on #6454
I managed to reproduce the issue with VS2022 which installs NDK r21e, and the problem is that the `libomp.so` library (which comes from the NDK clang toolchain) is not packaged and it is required as a dynamic dependency of your C++ library:

[code]

In previous NDK versions, OpenMP was provided as a static archive (`libomp.a`) so passing `-lomp` to the linker caused it to be linked statically into

[2021-11-08 20:36] tranb3r commented on #6438
@jonathanpeppers You're absolutely right.
I've identified the faulty dependency. I've rebuilt it and now the warnings are gone.
Thanks a lot for your help!

[2021-11-08 20:36] #6438 closed

[2021-11-09 01:17] stuartsoft commented on #6283
Any progress on this? It would really be great to get a working DOCKERFILE so we can build xamarin.android on my own.

[2021-11-09 07:53] rokups opened #6472 "xamarin-android linux artifacts"
Now that .NET6 is released, maybe it would be a good time to release nightly artifacts of xamarin-android workload for linux, as discussed in https://github.com/dotnet/maui-samples/issues/61?

Thanks

[2021-11-09 08:14] fogzot commented on #6472
Yes, please. I understand why MS does not want to support *running* MAUI on Linux but making it impossible to *develop* on it is clearly sending the message that Linux is a second class citizen in the dotnet exosystem.

[2021-11-09 15:33] pjcollins commented on #6128
I believe these type of msbuild issues:

have been resolved as part of  https://github.com/xamarin/xamarin-android/pull/6388

[2021-11-09 15:33] #6128 closed

[2021-11-09 18:03] jonpryor commented on #6456
I really need to write up a proper HOWTO on this, but in the meantime…

 1. Enable [GREF logging](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/environment):

        adb shell setprop debug.mono.log gref

 2. Optional: start capturing `adb logcat`:

        adb logcat > log.txt

 3. Start your app

        msbuild /t:StartAndroidActivity App.csproj
        # -or-
        adb shell

[2021-11-09 18:57] SvetBonev commented on #6466
The workaround is to go to "Tools/Options/Xamarin/Android Settings" and click OK.
Let me know if it helps.

Thanks!

[2021-11-09 20:41] jpobst commented on #6466
The VS2019 16.11.6 service release was released today, containing Android 12.  🎉

[2021-11-09 22:57] gmck commented on #6468
@jpobst _It needs to be preserved from the C# linker_. Ok, that now makes sense. I think my brain was stuck in first gear.

I read up on that link and tried [Android.Runtime.Preserve(AllMembers = true)] on SubscriptionCancelSurveyResult and then the same on the whole class, but neither prevented the error.  I'm obviously still doing it wrong, can you please explain further. Is that link the only d

[2021-11-09 23:32] mattleibow commented on #6310
What is the assembly file name of these resource assemblies? For example, I may have a nuget package that groups 2 projects into the libs folder:

 - FancyLib.csproj
 - BaseLib.csproj

These are both android libs. Where are the resources going to go? If it is the same name, then they will conflict.

[2021-11-10 00:24] jpobst commented on #6468
Is `SubscriptionCancelSurveyResult` a type you are building from source?  If not you can't put a `[Preserve]` on it.

If that's still not working, there's other ways in that doc to preserve methods, like `falseflag` or `LinkDescription` or `LinkSkip`.

Also, I'm assuming this is not a .NET 6 app.  That uses a different linker with different methods of preserving types/members.

[2021-11-10 00:29] mattleibow commented on #6310
@dellis1972

How expensive is this? If we just remove the Resources class from each assembly and then type forward to some resources assembly. It is not perfect or free by any means, but what issues may arise if we add a separate dll? Project references, nugets, IDEs.

I think this idea of a resources dll is actually much better than what we have right now. And switching to methods like @jonpryor

[2021-11-10 00:48] mattleibow commented on #6310
Maybe we can do something that is also a bit crazy. When we compile an android library, we generate the resources assembly with a special name (eg Xamarin.Android.GenRes) and we references that. But it never exists. But, for the lib code, we still have the Resources type as we do, except that it consists of a bunch of methods that all just call into that fake assembly. This will make the compiler

[2021-11-10 03:55] gmck commented on #6468
My SubscriptionPurchaseResultV3 class is the same (mimics) as the SubscriptionPurchase class of Google.Apis.AndroidPublisher.v3.Data SubscriptionPurchase except that it has additional properties just to handle any errors that may occur on the server as previously stated. It has the same JsonProperties as Google's SubscriptionPurchase. The contents of SubscriptionPurchase are transferred to Subscri

[2021-11-10 08:41] KijongHan opened #6476 "Content Provider fails to return queries if the underlying app is closed"
### Description
In a situation where one app has a content provider (with the underlying content in this case specifically being a sqlite database) and another app tries to access that content while the first app with the content provider is closed, the second app content provider query (or cursor) is null. This doesn't appear to be the case if the first app is running, in this case the content pr

[2021-11-10 10:02] inforithmics commented on #6466
Android 12 cannot be used in Visual Studio 2019. Opening the Xamarin Android Settings page changes back the used JDK
From:
C:\Program Files\Microsoft\jdk-11.0.12.7-hotspot
To:
C:\Program Files\Eclipse Foundation\jdk-8.0.302.8-hotspot
And therefore an Android Build with 12 Fails (Because Android 12 needs JDK 11).

[2021-11-10 10:13] domedellolio commented on #6466
Guys, thank you very much. Your suggestions solved my pain.
May I ask also an advise on how to build Android API Level 31 on App Center? Or do you have a contact I may reach?

Thanks again

[2021-11-10 10:20] grendello commented on #6476
Hi @KijongHan, does any of the app crash in any way? Do you see any managed exceptions or native crashes in the logs? At this point it doesn't look to me like an issue with the Xamarin.Android **native** runtime.

[2021-11-10 16:47] KijongHan commented on #6476
Hi there, no there are no crashes that occur

[2021-11-10 16:50] KijongHan commented on #6476
But as far as I am aware this issue doesn't occur with for example native java/kotlin

[2021-11-10 23:07] gmck opened #6479 "Skipping target "_Sign" because all output files are up-to-date with respect to the input files."
VS 2022 17.1.0 P1.0
I got the impression that the above had been fixed a while back, however, it still occurs with a release build. Maybe it was just discussed on Discord and the fix hasn't made it into a release yet!

This was on a deploy where the app had already been manually uninstalled.

[code]

[2021-11-11 00:07] gmck opened #6480 "Can't debug with VS 2022 17.1.0 Prev 1.0"
I can't debug at all. Hangs on the splash screen. A breakpoint in OnCreate of the MainActivity is never hit as I get the following in the debugger.

[code]
A release build runs fine, except for what was reported in #6479.

Tried on another machine, and get the same result. Both machines Windows 11

Reverted back to VS 2022 17.0.0 and can debug normally again.

[2021-11-11 03:12] aeonblaire commented on #6004
Any update on this?
This still happens to me on VS2019 v16.11.5. But when I target Android 10, there is no error.

[2021-11-11 14:14] dubstepadii opened #6481 "Android 12 and KeyStore"
### Steps to Reproduce

Running existing app on Android 12 emulator/device fails on saving key entry in KeyStore

### Expected Behavior
Key entry is saved within KeyStore

### Actual Behavior

  at Java.Interop.JniPeerMembers+JniInstanceMethods.InvokeNonvirtualVoidMethod (System.String encodedMember, Java.Interop.IJavaPeerable self, Java.Interop.JniArgumentValue* parameters) [0x0001f] in <ab8d28d5

[2021-11-11 14:19] jonathanpeppers commented on #6004
@aeonblaire I would recommend migrating everything in your app to AndroidX -- and make sure nothing is using Android.Support.* anymore.